.container {
	padding: 24px;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
	gap: 36px;
	justify-content: flex-start;
	margin: 24px 0;

	@media (max-width: 768px) {
		gap: 24px;
	}
}

.element_container {
	flex: 0 1 31%;

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}
