.wrapper {
	height: calc(100% - 50px);
	overflow-y: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	margin: 10px 0;
	background-color: #fff;
}
