.plans_container {
	padding: 12px 24px;
	margin: 12px 0;
	background: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 0 10px rgb(0 0 0 / 8%);
}

.header {
	display: flex;
	justify-content: space-between;
}

.plans_header {
	font-size: 16px;
	font-weight: 800;
	color: #221f20;

	span {
		margin-left: 3px;
	}
}

.plans_sub_header {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #ee3425;

	span {
		margin: 0 4px;
	}
}

.plans_points {
	display: flex;
	align-items: center;
	margin: 8px 0;
	font-size: 12px;
	color: #828282;
}

.plan_points_prefix {
	margin-right: 4px;
	font-weight: 600;
	color: #221f20;
}

.plan_tag {
	width: fit-content;
	height: fit-content;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: 500;
	background: #fcdc00;
	border-radius: 40px;
}

.change_color_on_hover {
	color: #fff;
}

.custom_plan_img {
	margin: 8px 0;
}
