.container{
    background: #FFFFFF; 
    box-shadow: 0px 0px 8px rgba(98, 127, 172, 0.2);
    border-radius: 8px;
    padding: 16px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon_wrapper {
	padding-right: 8px;
}
.header_text{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.search{
    width:300px;
    display: flex;
    align-items: center;
}
.hr{
    height: 1px;
    width: 100%;
    background: #EE3425;
    margin-top: 16px;
}
.pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
.no_data{
    display: flex;
    justify-content: center;
}