.container {
	display: flex;
	flex-direction: column;
	margin: 0 8px 0 20px;
	cursor: pointer;
}

.heading {
	font-size: 12px;
	font-weight: 500;
	color: #000;
	opacity: 0.6;
}

.amount_value {
	font-size: 14px;
	font-weight: 600;
}
