.container {
	display: flex;
	width: 100%;
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.serial {
	margin-top: 2px;
	margin-right: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #828282;
}

.containerRowKeyValue {
	width: 15%;
}

.text {
	font-size: 10px;
	color: #333;
}

.wrapper {
	width: fit-content;
	max-width: 15%;
	height: fit-content;
	padding: 4px 12px;
	font-size: 10px;
	color: #333;
	white-space: nowrap;
	background: #e0e0e0;
	border-radius: 4px;
}

.heading {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 500;
	color: #333;
}

.flexCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.flexRow {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.isLast {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.reverted {
	color: #5936f0;
}
