.filter {
	padding-left: 16px;
}

.tradetype {
	display: flex;
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
}

.heading {
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: 500;
	color: #4f4f4f;
}

.subheading {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;

	/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
	:global {
		.ui_select_input_placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}
	}
}

.select {
	width: 300px;
	padding: 2px 46px 2px 2px;
}
