.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col {
	padding: 0 8px;
}

.title {
	font-size: 12px;
	font-weight: 300;
	color: #828282;
}

.col_value {
	font-weight: 600;
}

.first_sec {
	width: 72%;
}

.second_sec {
	justify-content: space-evenly;
	width: 25%;
	border-left: 1px solid #cdcdcd;

	:global {
		.ui_toggle_container {
			padding-top: 0;
		}
	}
}

.plan_label {
	font-size: 12px;
}
