.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col {
	padding: 0 8px;
}

.title {
	font-size: 12px;
	font-weight: 300;
	color: #828282;
}

.col_value {
	font-weight: 600;
}
