.container {
    display: flex;
}
.badge_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.badge_icon {
    align-self: center;
    padding: 10px;
}
