.list_container {
	display: block;
	height: 80vh;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	overflow-y: auto;
	list-style-type: none;

	/* border-bottom: 1px solid #eaeaea; */
}

.sticky_pins {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0 16px;
	background: #f9f9f9;

	svg {
		width: 20px !important;
		height: 20px !important;
	}

	span {
		font-weight: 700 !important;
	}
}

.empty_pin_header {
	margin-bottom: 0 !important;
}

.list_container::-webkit-scrollbar {
	display: none;
}

.list_item {
	margin-bottom: 8px;
}

.list_sub_item {
	margin-bottom: 6px;
}

.input_search {
	:global(.ui_input_prefix) {
		padding-left: 14px;
		margin-right: 4px;
		background-color: unset;
	}
}

.input_search_hover {
	:global(.ui_input_prefix) {
		padding-left: 14px;
		margin-right: 4px;
		background-color: unset;
		border: none;
	}
}

.input_search_hover:global(.ui_input_container) {
	border: none;
	border-radius: 6px;
}

.list_item_inner {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-weight: 500 !important;
	cursor: pointer;
	border-radius: 4px;
	will-change: background-color;
	transition: background-color 0.1s linear, color 0.1s linear;

	span {
		flex: 1;
		padding-top: 1px;
		margin-left: 10px;
		overflow: hidden;
		font-weight: 500;
		text-overflow: ellipsis;
		white-space: nowrap;
		user-select: none;
	}

	svg {
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		margin-right: 4px;
	}

	&:hover {
		background-color: #fef199;
	}

	&:active {
		background-color: #fef199;
	}
}

.toggle_button {
	display: flex;
	align-items: center;
	padding: 2px 16px;
	font-weight: 500 !important;
	cursor: pointer;
	border-radius: 4px;
	will-change: background-color;
	transition: background-color 0.1s linear, color 0.1s linear;

	span {
		flex: 1;
		padding-top: 1px;
		overflow: hidden;
		font-weight: 600;
		text-overflow: ellipsis;
		white-space: nowrap;
		user-select: none;
	}
}

.theme_icon {
	margin-right: 20px;
	font-size: 1rem;
	color: black;
}

.list_item_subitem {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-weight: 500 !important;
	cursor: pointer;
	background-color: #fffce6;
	border-radius: 6px;
	transition: background-color 0.1s linear, color 0.1s linear;
	will-change: background-color;

	span {
		flex: 1;
		padding-top: 1px;
		margin-left: 30px;
		overflow: hidden;
		font-weight: 500;
		text-overflow: ellipsis;
		white-space: nowrap;
		user-select: none;
	}

	svg {
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		margin-right: 16px;
	}

	&:hover {
		background-color: #fef199;
	}

	&:active {
		background-color: #fef199;
	}
}

.active_option {
	background-color: #fef199;
}

.input_search:global(.ui_input_container) {
	background: #f8f8f8;
	border: none;
	border-radius: 6px;
}

.input_search:global(.ui_input_control) {
	background: #f8f8f8;
}

.outer_container {
	background: #fffce6;
}

.active_item {
	background-color: #fde74d;
}

.has_options {
	padding-left: 2px;
}

.pin {
	overflow: hidden;
	color: #4f4f4f;

	svg {
		width: 20px;
		height: 20px;
		margin: 0;
	}

	transition: transform 0.3s ease;

	&:hover {
		transform: rotate(30deg);
	}
}

.loader {
	width: 18px;
	height: 18px;
	margin: 0;
}

.inner_container {
	position: sticky;
	overflow: hidden;
}

.brand_logo {
	display: flex;
	justify-content: center;
	margin: 10px 0 20px;
}

.logo {
	width: 200px;
	height: 30px;
}

.bg_nav {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--layout-navbar);
	height: 100vh;
	background-color: #fff;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	transition: transform 0.5s ease;
	transform: translateX(-200px);
	will-change: transform;
}

.icon {
	width: 10px !important;
	height: 10px !important;
	transform: rotate(-90deg);
}

.active {
	transform: rotate(360deg);
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--layout-navbar-collapsed);
	height: calc(100vh - var(--layout-topbar));
	padding: 16px;
	will-change: width;
	transition: width 0.5s ease;
	z-index: 10;

	@media (max-width: 576px) {
		left: calc(var(--layout-navbar) * -1);

		&.mobile_show {
			left: 0;
		}
	}

	&:hover {
		width: var(--layout-navbar);

		.bg_nav {
			transform: translate3d(0, 0, 0);
		}
	}
}

.mobile_container {
	position: fixed;
	top: 0;
	left: 0;
	width: var(--layout-navbar);
	height: calc(100vh - var(--layout-topbar));
	padding: 16px;
	will-change: width;
	transition: width 0.5s ease;
}

.mobile_bg_nav {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--layout-navbar);
	height: 100vh;
	padding: 0 16px;
	background-color: white;
	filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
	transition: transform 0.5s ease;
	will-change: transform;
	transform: translate3d(0, 0, 0) !important;
}

.line {
	margin-bottom: 8px;
}
