.btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 6px 12px;
	margin: 6px 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.options > div:hover {
	background-color: #fffce6;
}

.tooltip_pad {
	padding: 0;
}

.time {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	color: #828282;
}

.questionsettime {
	font-weight: 400;
	color: #828282;
}

.name {
	max-width: 100px;
	overflow: hidden;
	font-size: 14px;
	color: #221f20;
	text-overflow: ellipsis;
}

.duration {
	color: #4f4f4f;
}

.status {
	display: flex;
}

.topics{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}
