/* stylelint-disable selector-class-pattern */
.uploader {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 0;
			padding: 0 12px;
			margin-bottom: 0;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		.ui_upload_droparea_heading {
			font-size: 12px;
			font-weight: 600;
		}

		.ui_upload_droparea_subheading {
			display: none;
			font-size: 10px;
		}

		.ui_upload_droparea_icon {
			margin-right: 12px;
		}

		.ui_upload_filesuccess_container {
			margin-top: 4px;
			font-size: 12px;
		}

		.ui_lqy5Q {
			padding: 4px 8px;
		}
	}
}
