.container {}

.attach_button {
		border: none;
	outline: none;
	padding: 0px;
	color: #333333;
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.text {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	margin-left: 4px;
	text-decoration-line: underline;

	color: #363e6e;
}
