.container {
	padding: 16px 0;
	margin: 16px 0;
	background-color: #fff;
	border-radius: 6px;

	:global {
		.ui_card_title_container {
			margin-top: 16px;
		}

		.ui_card_container:hover {
			box-shadow: 0 0 8px rgb(98 127 172 / 20%);
		}
	}
}
