.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	:global(.ui_legend_container) {
		margin: 0;
	}
}

.right_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.right_container > button:last-child {
	margin-left: 8px;
}

.legends {
	flex-wrap: wrap;
}
