.container {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	margin-top: 20px;
	border: 1px solid #fef199;
	border-radius: 8px;
}

.contact_details {
	display: flex;
	align-items: center;

	:global {
		.ui_checkbox_group_container {
			padding: 10px 0;
		}

		.ui_checkbox_container {
			margin-left: unset;
		}
	}
}

.yellow_bg {
	width: 30px;
	height: 30px;
	background: #fcdc00;
	border-radius: 50%;
}

.main_container {
	margin-left: 44px;
}

.flex {
	display: flex;
	align-items: center;
}

.button_container {
	display: flex;
	align-items: center;

	:global {
		.ui_button_container {
			height: fit-content;
			min-height: 40px;
			padding: 8px 8px 8px 18px;
		}
	}
}
