.container {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	margin-top: 24px;
	border: 1px solid #fef199;
	border-radius: 8px;
}

.flex {
	display: flex;
	align-items: center;
}

.button_container {
	display: flex;
	align-items: center;

	:global {
		.ui_button_container {
			height: fit-content;
			min-height: 40px;
		}

		.ui_popover_container {
			background-color: #f3fafa;
			border: 1px solid #6fa5ab;
		}

		.tippy-arrow::before {
			border-top-color: #f3fafa !important;
		}

		.tippy-content {
			padding: 4px;
		}
	}
}

.poc_details {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-left: 12px;
}
