.container {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 400px;
	overflow: auto;
}

.form_header {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.form_label {
	position: relative;
	top: 100px;
	left: 2px;
	font-size: 15px;
	font-weight: 500;
}

.form_div {
	display: flex;
	flex-direction: column;
}

.form_btn {
	margin-right: 5px;
}
