.container {
	width: 100%;
	max-width: 376px;
	padding: 24px 20px;
	margin: 0 auto;
	text-align: center;
}

.title {
	margin: 12px 0 24px;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	color: #333;
}

.description {
	margin-bottom: 32px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #24a0dc;
}

.submit {
	height: inherit;
	padding: 12px 48px;
	margin: auto;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #fff;
}
