.table {
	background-color: white;
}

.th {
	padding: 12px 0;
}

.td {
	padding: 26px 0;
}

.submit_btn,
.pagination {
	display: flex;
	justify-content: right;
}

.pagination {
	margin-bottom: 10px;
}
