.container{
	margin-top: 1.3rem;
}

.btn_na{
	cursor: not-allowed;
	color: #e0e0e0;
}

.btn_pointer{
	cursor: pointer;
}

.flex_arrow{
    display: flex;
    align-items: center;
    position: relative;
}

.flex_months{
    display: flex;
    justify-content: space-evenly;
	font-size: 14px;
	font-weight: bold;
    margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.stepper_line{
    height: 2px;
	width: 100%;
	background: #bdbdbd;
	margin: 0 10px;
}

.stepper_dots{
    height: 10px;
	width: 10px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	border: 2px solid #8cc1f9;
}

.stepper_dots_top{
    height: 10px;
	width: 10px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	border: 2px solid #8cc1f9;
	top: -1.25rem;
}

.text_month{
    font-weight: 400;
    padding-top: 3px;
}

.month_container{
    width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}