.tittle {
	font-weight: 500;
}

.amount {
	display: flex;
	justify-content: flex-start;
	width: 162px;
	padding-left: 16px;
	margin-left: 6px;
	font-weight: 700;
}

.container {
	width: 100%;

	:global {
		.styled-row {
			padding: 5px;
			background: #f9f9f9;
		}
	}
}

.wrapper {
	height: 210px;
	padding: 0 24px;
	overflow-y: auto;
	background: #fff;
}

.styled_col {
	align-items: flex-start;
	padding: 4px;
}

.styled_row {
	display: flex;
	justify-content: space-between;
	padding: 5px;

	:global {
		:nth-child(even) {
			background: #f9f9f9;
		}
	}
}

.flex {
	padding: 9px 12px 0;

	:global {
		.show-cursor {
			width: fit-content;
			cursor: pointer;
		}
	}
}

.heading {
	display: flex;
	align-items: center;
	font-weight: 700;
}

.arrow_icon_up {
	margin-right: 4px;
	transform: rotate(180deg);
}

.arrow_icon_down {
	margin-right: 4px;
	transform: rotate(0);
}
