.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0;
}

.filter_container {
	display: flex;
	align-items: center;
}

.greeting_text {
	font-size: 18px;
	font-weight: 700;
	color: #221f20;
}

.filter_text {
	font-size: 14px;
	font-weight: 500;
}
