.subject {
	font-weight: bold;
	font-size: 14px;
	padding: 6px;
	border: none;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;

	& > div {
		padding: 4px;
	}
}