.subject {
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;

	& > div {
		padding: 4px;
	}
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 12px;

	& > button:first-child {
		margin-right: 12px;
	}
}

.errors {
	font-size: 12px;
	color: red;
}