.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: #fff;

	@media (max-width: 767px) {
		padding: 12px;
		margin-top: 54px;
	}

	&:nth-child(3) {
		bottom: 55px;
	}

	:global {
		@media (max-width: 767px) {
			.ui_carousel_container {
				margin-top: 12px;
			}
		}

		.ui_carousel_dots {
			background-color: #adb7bc;
			border: 1px solid #adb7bc;
		}

		.ui_carousel_dots_active {
			background-color: #ee3425 !important;
			border: 1px solid #ee3425 !important;
		}

		div:nth-child(3) {
			bottom: 45px;
		}
	}
}
