.container {
	padding: 2px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin: 0.5% 0 0.5% 0;


	@media (min-width: 768px) {
		font-size: 1rem;
	}
}

.subtitle {
	font-size: 14px;
	font-weight: 400;
}

.heading_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;

		:global(.ui_chips_container) {
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;
		}
	}
}
.questions_tag{ 
background: white;
   border: 1px solid #FFE4AF;
    border-radius: 16px; 
    font-weight: 600;
}
