.label {
	padding: 4px;
	margin-top: 10px;
	font-weight: 600;
}

.form {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}

.form_container {
	padding-right: 15px;

	:global {
		.ui_text_area_container {
			width: 400px;
		}

		.ui_text_area_control {
			width: 390px;
		}
	}
}

.controller_wrapper {
	:global {
		.ui_text_area_container {
			width: 400px;
		}

		.ui_text_area_control {
			width: 390px;
		}
	}
}

.error_message {
	padding-top: 3px;
	color: #ee3426;
}
