.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 950px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.left_section {
	width: 50%;

	@media (max-width: 950px) {
		width: 100%;
	}
}

.right_section {
	width: 50%;

	@media (max-width: 950px) {
		width: 100%;
	}
}
