.pagination_container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		position: absolute;
		right: 0;
	}
}



.btn_container{
	padding: 16px;
	display: flex;
	justify-content:  flex-end;
}