.revenue_filter_btn{
    height: 32px;
	background: #fff;
	color: #000;
	border-radius: 0;
	font-weight: 400;
	font-size: 12px;
	padding-top: 3.5px;
	border-color: #e0e0e0;
}

.active {
	background: #000;
	font-weight: 500;
	color: #fff;
}