.calendar {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.calendar_entity {
	width: calc(100% - 33px);
	overflow: scroll;
}

.calendar_entity::-webkit-scrollbar {
	display: none;
}

.nav_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33px;
	height: 40px;
	margin: 10px;
	font-size: 18px;
	background: none;
	border: none;
	outline: none;
}

.inactive {
	cursor: not-allowed;
}
