.calendar {
	display: flex;
	align-items: center;
}

.calendarEntity {
	width: calc(100% - 33px);
	overflow: scroll;
}

.calendarEntity::-webkit-scrollbar {
	display: none;
}

.navBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33px;
	height: 40px;
	padding: none;
	margin: 10px;
	font-size: 18px;
	cursor: default;
	border: none;
	outline: none;
	background:none;
}

.inactive {
	cursor: not-allowed;
}
