.container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

	&.create {
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
}

.form_item {
	display: flex;
	flex-direction: column;
	width: 48%;

	&.create {
		@media (max-width: 768px) {
			width: 100%;
		}

		&.user {
			@media (max-width: 768px) {
				margin-top: 12px;
			}
		}
	}
}

.label {
	display: flex;
	margin-bottom: 8px;
	font-weight: 400;
	color: #000;

	@media (max-width: 768px) {
		font-size: 11px;
	}
}

.required_mark {
	margin-left: 4px;
	color: #e74c3c;
}

.error_message {
	margin-top: 8px;
	font-size: 12px;
	color: #cb6464;

	@media (max-width: 768px) {
		font-size: 11px;
	}
}
