.container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form_item{
    display:flex;
    flex-direction:column;
    width: 48%;
    gap: 8px;
}
.label{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    display: flex;
}
.required_mark{
    color: #e74c3c;
    margin-left: 4px;
}
.error_message{
    font-size: 12px;
	color: #cb6464;
}