.action_container {
	display: flex;
	flex-direction: column;
}

.workflow_cta {
	width: 150px;
	padding: 8px;
	border-bottom: 1px solid #f8aea8;

	&:hover {
		font-weight: 600;
		background: #fffce6;
	}
}

.workflow_cta_last {
	width: 150px;
	padding: 8px;

	&:hover {
		font-weight: 600;
		background: #fffce6;
	}
}

.cta_text {
	position: relative;
	display: flex;
	width: fit-content;
	margin-left: 8px;
	font-size: 12px;
	cursor: pointer;
}
