.modal_styled {
	:global {
		.ui_modal_body_container {
			max-height: 600px;
		}

		.ui_tab_container {
			width: 80px;
		}

		.ui_input_container,
		.ui_input_control {
			font-size: var(--font-size-lg) !important;
		}

		.ui_select_input_control {
			font-size: 15px !important;
		}

		.ui_modal_footer_container {
			justify-content: space-between;
		}
	}
}

.modal_footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.footer_note {
	padding: 5px 10px;
}
