.container {
	height: 100%;
}

.title {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.8px;
}

.hr_separation {
	display: flex;
	padding: 16px 12px;
	margin-top: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.employee_details {
	flex: 2;
}

.hr_meeting {
	flex: 7;
	width: 60vw;
	margin-left: 16px;
}
