.container {
    height: 100%;

    .header {
        font-size: 28px;
        font-weight: 600;
        margin: 0px;
    }
}
.redirect_container {
    display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	color: #393f70;
	cursor: pointer;
}

.stats_container {
    height: 100%;
}

.header {
    display: flex;
}

.performance_chart {
    flex: 6;
	margin-top: 16px;
}

.user_profile {
    flex: 6;
    padding-left: 16px 0;
}

.header_filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	.list_header {
		color: "#393f70";
		font-size: 18px;
		font-weight: 500;
		margin: 0;
	}
}

.filter_container {
	display: flex;
	align-items: center;
	
	.month_container:not(:last-child) {
		margin-right: 8px;
	}
}

.month_container {
	:global(.ui_select_display_container) {
		width: 160px;
		height: 38px;
	}
}