.container {
	margin-bottom: 44px;

	:global {
		.ui_multiselectt_options_container {
			z-index: 3;
		}

		.react-datepicker__aria-live {
			display: none;
		}
	}
}

.header {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: 600;
}

.text {
	color: #4f4f4f;
}

.form_container {
	margin-top: 20px;
}

.error_message {
	margin-top: 4px;
	font-size: 12px;
	font-weight: 400;
	color: #cb6464;
}

.select {
	width: 350px;
	margin-top: 12px;
}

.partial_load {
	display: flex;
	align-items: center;
	margin-top: 28px;
	font-weight: 500;
	animation: fade-in 0.8s ease-in-out forwards;

	:global {
		.ui_chips_container {
			flex-wrap: wrap;
		}

		.ui_chip_container svg {
			display: none;
		}

		.ui_chip_container.ui_ps_themeType_primary {
			padding: 14px 6px;
			background-color: #fff;
			border: 1px solid #ececec;
			border-radius: 28px;

			&:hover {
				background-color: #fff;
				border: 1px solid #ececec;
			}
		}

		.ui_chip_container.ui_ps_themeType_secondary {
			padding: 14px 6px;
			font-weight: 600;
			background-color: #fcdc00;
			border: 1px solid #fcdc00;
			border-radius: 28px;

			&:hover {
				background-color: #fcdc00;
				border: 1px solid #fcdc00;
			}
		}

		.ui_pill_container {
			margin: unset;
			margin-left: 8px;
			cursor: pointer;
			border-radius: 24px;
		}

		.ui_input_number_container {
			max-width: 80px;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
