.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid #d3d3d3;

	.title {
		margin: 0;
	}
}

.body {
	padding: 16px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	width: 50%;
	padding: 10px;

	:global {
		.ui_select_toggle_button {
			padding-right: 0;
		}
	}
}

.errors {
	color: #f33;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 16px;
	border-top: 1px solid #d3d3d3;

	.submit_btn {
		margin-left: 10px;
	}
}
