.container{
    display: block;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 6px #a9bcdaa6;
	padding-bottom: 12px;
	margin-bottom: 16px;
	cursor: pointer;
}
.container &:hover {
    box-shadow: 0 0 4px #00000040;
}