.form_container {
	:global(.form-item-label) {
		margin: 16px 0;
	}

	:global(.core-ui-input-suffix) {
		margin-top: 24px;
		font-size: 14px;
	}
}

.select_container {
	display: flex;
	justify-content: flex-start;
	padding-top: 16px;
}

.list_actions {
	display: flex;
	justify-content: space-between;
}
