.container {
	width: 24%;
	padding: 10px;
	margin-right: 10px;
	background: #fff;
	border-radius: 8px;
}

.title {
	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
}

.logo {
	display: flex;
	align-items: center;
}

.filters_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.tabs {
	margin: 0 -10px 15px;
}

.styled_toggle {
	:global {
		.ui_toggle_container.ui_ps_size_md .ui_switch {
			right: 51px;
		}

		.ui_toggle_container.ui_toggle_inside .ui_inner::before {
			display: flex;
			align-items: center;
			padding-left: 8px;
			font-size: 12px;
			content: "Online";
			background-color: #ee3425;
		}

		.ui_toggle_container.ui_toggle_inside .ui_inner::after {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			float: right;
			padding-right: 10px;
			font-size: 12px;
			color: #fff;
			content: "Offline";
			background-color: #f8aea8;
		}

		.ui_toggle_container.ui_ps_size_md .ui_toggle_switch {
			width: 75px;
		}

		input[type="checkbox"]:checked + .ui_label_radius .ui_switch {
			right: 0;
		}
	}
}

.bot_messages {
	display: flex;
	align-items: center;
	font-size: 10px;
	color: #000;
}

.plus_circle {
	position: absolute;
    left: 240px;
	bottom: 1px;
	cursor: pointer;
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	border-radius: 100%;
	box-shadow: 3px 7px 16px rgba(138, 121, 93, 0.6);
}


.wrapper{
	cursor: pointer;
	z-index: 99;

	&.wrapper {
		position: absolute;

	}

	& .checkbox {
		display: none;

		&:checked ~ .widget:before {
			width: 90%;
			height: 90%;
			left: 5%;
			top: 5%;
			background-color: rgba(255, 255, 255, 0.2);
		}

		&:checked ~ .widget .dots {
			height: 6px;
		}

		&:checked ~ .wheel {
			transform: scale(1);
		}

		&:checked ~ .wheel .action {
			opacity: 1;
		}
	}
}

.wheel{
	position: absolute;
	left: 270px;
    bottom: 26px;
    height: 128px;
	transition: all 0.3s ease;
	transform-origin: bottom right;
	transform: scale(0);
}
.action{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 1s ease;
	opacity: 1;
}
.action img{
	width: 50px;
	height: 50px;
}
.callicon{
	right: 15px;
    top: 27px;
}
.whatsappicon{
	right: 78px;
    top: 98px;
}
