.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
}

.title {
	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
}

.logo {
	display: flex;
	align-items: center;
}

.filters_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.tabs {
	:global {
		.ui_tab_active {
			border-bottom: 0 !important;
			box-shadow: inset 0 1px 1px  var(--color-primary-error-red-2);
		}

		.ui_tab_container {
			height: 30px;
			padding: 5px;
			border-bottom: 1px solid var(--color-primary-error-red-2);
		}

		.ui_tab_list_container {
			border-bottom: 0;
		}
	}
}

.styled_toggle {
	:global {
		.ui_toggle_container.ui_ps_size_md .ui_switch {
			right: 51px;
		}

		.ui_toggle_container.ui_toggle_inside .ui_inner::before {
			display: flex;
			align-items: center;
			padding-left: 8px;
			font-size: 12px;
			content: "Online";
			background-color: #ee3425;
		}

		.ui_toggle_container.ui_toggle_inside .ui_inner::after {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			float: right;
			padding-right: 10px;
			font-size: 12px;
			color: #fff;
			content: "Offline";
			background-color: #f8aea8;
		}

		.ui_toggle_container.ui_ps_size_md .ui_toggle_switch {
			width: 75px;
		}

		input[type="checkbox"]:checked + .ui_label_radius .ui_switch {
			right: 0;
		}
	}
}

.bot_messages {
	display: flex;
	align-items: center;
	font-size: 10px;
	color: #000;
}
