.warning_icon {
	padding-bottom: 10px;
	text-align: center;
}

.cancel_button {
	margin-right: 10px;
	border: 1px solid #333;
}

.sure_delete {
	padding-bottom: 20px;
	font-size: var(--font-size-xl);
	text-align: center;
}

.modal_footer {
	display: flex;
	flex-direction: column;
}

.footer_buttons {
	display: flex;
	justify-content: flex-end;
}
