.container {
	display: flex;
	align-items: center;
}

.load_item {
	display: flex;
	align-items: center;
	min-width: max-content;
	padding: 4px 14px;
	background: #fef199;
	border: 1px solid #fcdc00;
	border-radius: 24px;
}

.text {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.edit {
	margin-left: 8px;
	cursor: pointer;
	transition: 0.4s all;

	&:hover {
		transform: scale(1.1);
	}
}

.tooltip_content {
	font-size: 12px;
	word-break: keep-all;
}
