.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 60px 30px 36px;
	margin-top: 10px;
	background: #fff;
	border-radius: 10px;
}

.heading {
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
}

.content {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	color: #000;
}

.wrapper {
	max-width: 45%;

	&.side {
		max-width: 100%;
	}

	@media (max-width: 768px) {
		max-width: 100%;
	}
}
