.card {
	display: grid;
	grid-column: span 6;

	/* width: 20%; */

	/* max-width: 100%; */
	height: fit-content;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.card_upper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
}

.upper {
	display: flex;
	justify-content: space-between;
	min-height: 62;
	padding: "16px";
}

.enroute {
	display: flex;
	justify-content: space-between;

	h1 {
		padding: 1.5em;
		margin-bottom: -50px;
		font-size: 14px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: -30px;

	h1 {
		margin: 22px;
		font-size: 10px;
		color: #7894b0;
	}
}

.text {
	width: "40%";
	padding-left: "1rem";
	font-size: "14px";
	font-weight: 500;
	color: "#282B2E";
	text-align: "right";
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	background-color: #c2defc;
}

.heading {
	text-align: center;

	span {
		font-size: 36px;
		font-style: normal;
		font-weight: bold;
		line-height: 49px;
		color: #35495d;
		letter-spacing: -0.3px;
	}

	p {
		margin: 0;
	}
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 26px 30px 36px;
	background: #fff;
	border-radius: 10px;
}

.section {
	padding: 2em;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
