.container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px;
}

.buttonContainer{
    margin:20px;
	display: flex;
	justify-content: flex-end;
}


.subContainer{
	margin: 20px;
	.core-ui-select__control {
		width: 65%;
	}

	.core-ui-select__menu {
		width: 65%;
	}

	.ui-textarea-root {
		margin-top: 24px;
		padding: 12px;
	}
}

.heading{
	font-size: 24px;
	font-weight: 500;
	color: #333333;
	margin-bottom: 8px;
}

.cancelbtn{
	margin-right: 8px;
}