.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}

.subContainer {
	margin: 20px;

	.core-ui-select__control {
		width: 65%;
	}

	.core-ui-select__menu {
		width: 65%;
	}

	.ui-textarea-root {
		padding: 12px;
		margin-top: 24px;
	}
}

.heading {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 500;
	color: #333;
}

.cancelbtn {
	margin-right: 8px;
}
