.accordian {
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid var(--color-tertiary-beige-4);
	border-radius: 10px;
}

.container {
	max-height: 400px;
	overflow-y: scroll;
	border: 1px solid var(--color-tertiary-beige-4);
	border-radius: 10px;
}
