.form {
	width: 300px;
	height: 400px;
	overflow: auto;
}

.heading {
	font-weight: bold;
}

.flex_space {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.flex {
	display: flex;
}
