.label {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.value {
	margin-bottom: 10px;
	font-size: var(--font-size-md);
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 10px  0;
}

.no_data {
	padding: 8px 0;
	font-size: 12px;
	font-weight: 600;
}
