.breadcrumb_item {
	font-size: 16px;
	font-weight: 600;
	color: #6fa5ab;
}


.container {
	position: relative;
	padding: 24px;
	padding-top: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.delete_icon {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.button_container {
	display: flex;
	margin-top: 24px;
}

.sample_div {
	display: flex;
	white-space: nowrap ;
	align-items: center;
}

.sample_text {
	text-decoration: underline;
	margin-left: 4px;
	font-size: 12px;
}

.upload_icon {
	display: flex;
	gap: 6px;
	align-items: center;
}

.breadcrumb_outer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px 4px 0px;
}