.breadcrumb_item {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.breadcrumb_inner_item {
	color: #221F20; 
	font-weight: 400; 
	font-size: 16px;
}

.container {
	position: relative;
	padding: 24px;
	padding-top: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.delete_icon {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.button_container {
	display: flex;
	margin-top: 24px;
}

.sample_div {
	display: flex;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
}

.sample_text {
	margin-left: 4px;
	font-size: 12px;
	text-decoration: underline;
}

.upload_icon {
	display: flex;
	gap: 6px;
	align-items: center;
}

.breadcrumb_outer_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 32px 0 4px;

	:global {
		.ui_breadcrumbs_separator {
			margin-top: 8px;
		}
	}
}
