.header {
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 12px;
	font-weight: 500;
	background: #333333;
	color: #ffffff;
	margin-bottom: 8px;
    border-radius: 8px;
    margin-top: 20px;
	padding: 8px 20px;
}

.paginations {
	display: flex;
	justify-content: end;
	padding: 16px;
}

.row {
	display: flex;
	align-items: center;
	min-height: 40px;
	background-color: #fff;
}

@media screen and (max-width: 768px) {
	.row.isMobile {
		flex-flow: row wrap;
	}

	.col.isMobile {
		flex: 0 0 50%;
		flex-direction: column;
	}
}

.clickable:hover {
	cursor: pointer;
	opacity: 0.8;
}

.col {
	display: flex;
	flex: var(--span);
	padding: 4px;
	font-size: 12px;
}

.asc {
	color: #f68b21;
	cursor: pointer;
}

.desc {
	color: #f68b21;
	cursor: pointer;
}

.center {
	align-items: center;
	width: 0;
	margin-left: 8px;
}

.centers {
	align-items: center;
	margin-top: 10px;
	margin-bottom: -10px;
}

.tablelabel {
	display: flex;
	font-size: 12px;
	font-weight: 600;
	color: #303b67;
}

.flex {
	display: flex;
	width: var(--span)px;
}

.pagination_container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 10px;
}

.accordian_style {
	text-align: center;
	position: relative;
	border: 1px solid #eceff8;
	width: 60px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	background: #ffffff;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: none;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}

.accordian_style:hover {
	background: #ffffff;
}

.checkbox_ui {

}

.info_content {
	padding: 4px;
	display: flex;
	justify-content: flex-end;
	margin-left: 4%;
	margin-right: 4%;
}

.density {
	display: inline-flex;
    border-radius: 4px;
    padding: 2px 6px;
    height: fit-content;
	font-weight: 500;
	padding: 2px 10px;
	border-radius: 10px;
	margin: 4px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #cdf7d4;
	color: #4f4f4f;
}

.expiring_tag {
	display: inline-flex;
    border-radius: 4px;
    padding: 2px 6px;
    height: fit-content;
	font-weight: 500;
	padding: 2px 8px;
	border-radius: 10px;
	border: 1px solid #ffa500;
	margin: 4px;
	font-size: 10px;
	color: #ffa500;
}

.origin_tag {
	display: inline-flex;
    border-radius: 4px;
    padding: 2px 6px;
    height: fit-content;
	background-color: #ffffff;
	border: 1px solid #ffa500;
	padding: 2px 8px;
	border-radius: 10px;
	margin: 4px;
	color: #ffa500;
	font-size: 10px;
	font-weight: 400;
}

.destination_tag {
	display: inline-flex;
    border-radius: 4px;
    padding: 2px 6px;
    height: fit-content;
	background-color: #ffffff;
	border: 1px solid #ffa500;
	padding: 2px 8px;
	border-radius: 10px;
	margin: 4px;
	color: #ffa500;
	font-size: 10px;
	font-weight: 400;
}

.surcharge_tag {
	display: inline-flex;
    border-radius: 4px;
    padding: 2px 6px;
    height: fit-content;
	background-color: #ffffff;
	border: 1px solid #ff0000;
	font-weight: 500;
	padding: 2px 8px;
	border-radius: 10px;
	margin: 4px;
	color: #ff0000;
	font-size: 10px;
}

.list_container {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	padding: 8px 20px;
	margin: 16px 0px;
	transition: 0.3s;
	filter: drop-shadow(0px 0px 5.90286px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	word-wrap: wrap;
}

.loading_style{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.end_message {
	font-size: 16px;
	text-align: center;
	color: #4f4f4f;
	text-transform: uppercase;
	margin-top: 20px;
}

.scroll {
	max-height: 600px;
	overflow: auto;
}