.checkbox{
    display: flex;
    align-items: center;

    :global{
        .ui_checkbox_container{
            padding-left: 0;
        }
    }
}
.errors{
    color: red;
    font-size: 12px;
}

.form_label{
    font-weight: 600;
    font-size: 12px;
}