.container {
	margin: 12px 40px;
}

.module_container {
	padding: 16px 20px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.button {
	margin-top: 20px;
}
