.main_container {
	:global {
		.ui_table_head_row {
			background-color: #333;
		}

		.ui_table_body_row {
			background-color: #fff;
		}

		.ui_table_head_cell {
			padding: 6px 50px;
		}

		.ui_table_body_cell {
			padding: 20px 55px;
		}

		table {
			border-collapse: collapse;
		}

		tbody tr {
			border: solid 1.5px #d1d1d1;
		}

		th:first-child {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}

		th:last-child {
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}

		tbody::before {
			display: block;
			line-height: 20px;
			text-indent: -99999px;
			content: "_";
		}

		.ui_ps_themeType_secondary {
			border: solid 1px #000;
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
}

.header {
	color: #fff;
}

.location {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip_content {
	word-break: normal;
	overflow-wrap: normal;
}

.awb_number {
	font-weight: 600;
}

.submit_ams_status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
}
