.form{
	min-height: calc(60vh);
	padding: 12px;
}

.modal_footer {
	button:not(:last-of-type) {
		margin-right: 10px;
	}
}

.full_width_btn {
	width: 100%;
	margin-bottom: 20px;
	border: 1px dashed #88CAD1;
	color: #88CAD1;
	text-align: center;
	padding: 8px 0;
	border-radius: 4px;
	&:hover {
		box-shadow: rgba(57, 63, 112, 0.25) 0px 8px 16px;
	}
	cursor: pointer;
	font-weight: 600;
}