.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;

	.list_header {
		color: "#393f70";
		font-size: 18px;
		font-weight: 500;
		margin: 0;
	}
}

.filter_container {
	display: flex;
	align-items: center;
	
	.month_container:not(:last-child) {
		margin-right: 16px;
	}
}

.month_container {
	:global(.ui_select_display_container) {
		width: 160px;
		height: 38px;
	}
}

