.container{
    display: flex;
    flex-direction: column;
}
.details_header{
    display: flex;
    align-items: center;
}
.location_details{
    display: flex;
    align-items: center;
    max-width: 50%;
}

.back_button{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.edit_details{
    margin-left: 32px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FFFCE6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover{
        transform: scale(1.1)
    }
}
