.container {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-bottom: 1px solid #ebebf0;
	box-shadow: 0 8px 8px 0 #ebebf0;
}

.details_header {
	display: flex;
}

.location_details {
	display: flex;
	align-items: center;
	max-width: 50%;
	padding: 16px 24px;
}

.additional_header {
	height: 200px;
	transition: height 0.5s ease-in-out;
}

.show {
	height: 100%;
	transition: height 0.5s ease-in-out;
}

.back_button {
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 16px 24px;
}
