.container {
	padding-right: 8px;
}

.card_content {
	display: flex;
	align-items: center;
}

.card_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 92%;
	padding: 12px 20px;
	background: #fff;
	border-radius: 8px;
}

.border {
	border-radius: 0 0 4px 4px;
}

.title {
	font-size: 16px;
}

.amount {
	display: flex;
}

.profitability_content {
	display: flex;
}
