.container {
	padding: 10px;
}

.label {
	padding-bottom: 4px;
	color: #828282;
}

.top_bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cancelled_cheque {
	padding-top: 14px;
}

.value {
	font-size: 13;
	font-weight: 600;
}
