.label_container {
	display: flex;
	flex-direction: column;
}

.spacebetween {
	display: flex;
	justify-content: space-between;
}

.verification_status {
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 4px 12px;
	margin-left: 12px;
	font-size: var(--font-size-md);
	font-weight: 600;
	background-color: #f3fafa;
	border-radius: 8px;
}

.tds {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.modal_container {
	:global {
		.react-datepicker__input-container {
			height: 33px;
		}

		.react-datepicker__input-container input {
			height: 33px;
		}

		.ui_upload_filesuccess_container {
			margin-bottom: 30px;
		}

		.react-datepicker-wrapper {
			width: 100%;
		}

		.react-datepicker__aria-live {
			display: none;
		}
	}
}
