.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 10px;
	width: 100%;
}

.serial_id {
	margin-bottom: 6px;
	font-weight: 600;
}

.so1_container {
	font-size: var(--font-size-sm);
	font-weight: 600;
	color: var(--color-secondary-greyscale-3);
}

.ellipsis_text {
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	font-size: var(--font-size-md);
}
