.html_drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px;
    font-weight: 600;
    color: #FCDC00;
    background-color: #fffdee;
    cursor: pointer;
    border: none;
    outline: #FCDC00 1px solid;
    width: 100%;
    &:hover{
        background-color: #fffbe0;
    }
}


.backdrop_divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCDC00;
    width: fit-content;
    padding: 8px;
    border-radius: 20%;
    margin-bottom: 4px;
}