.container {
    width: 180px;
    height: 600px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 16px;
}

.styled_icon {
    cursor: pointer;
}

.filter_container {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
