.container {
	padding: 0 20px 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.bookingOptionsContainer {
	padding: 20px;
	background: #fff;
	border: 1px solid #bdaff9;
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.buttonsContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}

.buttonsContainer button {
	color: white;

	/* text-transform: capitalize; */
	background-color: #393f70;
}

.existingRatesContainer {
	padding: 16px;
	background: #fff;
	border: 1px solid #bdaff9;
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.flashRatesContainer {
	padding: 20px;
	margin-top: 16px;
	background: #fff;
	border: 1px solid #bdaff9;
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.headerContainer {
	padding: 10px;
}

.flashContainer {
	display: flex;
	justify-content: flex-end;
	width: 98%;
}

.flashContainer button {
	padding: 4px 12px;
	font-size: 12px;
	color: white;
	text-transform: capitalize;
	background-color: #393f70;
}

.flashText {
	margin: 8px 10px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}

.backContainer {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 20px;
	padding: 2px;
	margin-top: 8px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
