.container {
	padding: 16px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px;
}

.header_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name_avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	font-weight: 600;
	background: #ffdfdf;
	border-radius: 50%;
}

.user_data {
	display: flex;
	align-items: center;
}

.user_name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 12px;
	font-size: 16px;
	font-weight: 600;
	color: #0a0a0a;
}

.designation {
	margin-top: 2px;
	font-size: 12px;
	font-weight: 600;
	color: #757575;
}

.post_time_flex {
	display: flex;
	align-items: center;
}

.post_time {
	display: flex;
	align-items: center;
	margin-right: 12px;
	font-size: 12px;
	color: #0a0a0a;
}

.main_post_data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 16px 0;
}

.feed_type {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 76px;
	height: 76px;
	border-radius: 100px;
}

.circle1_bg {
	font-size: 32px;
	background-color: #f2f3fa;
}

.circle2_bg {
	margin-left: -20px;
	font-size: 32px;
	color: #fff;
	background-color: #f68b21;
}

.main_post_text {
	font-size: 16px;
	color: #221f20;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comments_data {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	color: #0a0a0a;
}

.user_comments {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.comments_circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	font-size: 10px;
	font-weight: 600;
	background-color: #e0e5f2;
	border: 3px solid #fff;
	border-radius: 100px;

	&:not(:first-child) {
		margin-left: -10px;
	}
}

.like_and_comment {
	display: flex;
	align-items: center;
}

.like_circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background: #f5f5f5;
	border-radius: 50px;
}

.comment_input {
	display: inline-block;
	padding: 8px 16px;
	margin-left: 12px;
	vertical-align: bottom;
	cursor: pointer;
	background: #f5f5f5;
	border-radius: 50px;
}

.label_flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
