.additional_remark {
	margin: 52px 16px 40px;

	:global {
		.ui_input_control {
			font-size: 14px !important;
		}
	}
}

.sub_heading {
	margin-bottom: 6px;
	font-weight: 600;
}


.error {
	font-size: 12px;
	margin-left: 16px;
	color: #ff0000;
}