.label {
	padding: 0 24px;
	margin-bottom: 6px;
	font-weight: 500;
}

.textarea {
	width: 90%;
	min-height: 80px;
	padding: 4px;
	margin: 0 24px;
}

.container {
	width: 49%;
	background: white;
	border-radius: 10px;
}

.display_box {
	display: flex;
	width: 100%;
	padding: 60px 24px 24px;
}

.company_div {
	width: 45%;
}

.line {
	margin: 0 24px;
	border-bottom: 1px solid #e0e0e0;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin: 22.5% 0 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.heading {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 500;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.section {
	width: 24%;
	margin: 0 0 16px 24px;
}

.section:first-child {
	width: 38%;
}

.value {
	font-size: var(--font-size-md);
	font-weight: 500;
}

.title {
	font-size: var(--font-size-md);
}

.summary {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
}

.hex_cont {
	margin-top: 24px;
}
