.container {
	display: flex;
	width: 100%;
}

.question_container {
	flex: 1.75;
	width: 66%;
	padding-right: 50px;
}

.back_div {
	display: flex;
	cursor: pointer;
}

.back {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
}

.heading_text {
	font-size: 24px;
	font-weight: 600;
}

.input_label {
	padding: 16px 0;
	font-weight: 600;
}

.label_container {
	display: flex;
	align-items: center;
}

.create_tag_label {
	margin-left: 8px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.form_container {
	width: 100%;
}

.input_container {
	display: flex;
	flex-direction: column;
}

.button_container {
	display: flex;
	margin-top: 16px;
}

.errors {
	padding-top: 6px;
	color: #ee3425;
}

.select_container,
.select_tag_container {
	width: 100%;
	margin-right: 16px;
}

.select_topic_container {
	width: 100%;
}

.flex_items {
	display: flex;
	align-items: center;
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
}

.text_wrapper {
	padding: 8px 0;
}

.feedback_container {
	flex: 1;
}

/*
.faq_answer_container{
	.img{
		width:100px;
	}
} */
