.marks_container {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.wrapper {
	display: flex;
	align-items: center;
}

.text {
	margin-right: 12px;
}

.input_container {
	display: flex;
	align-items: center;
	background: #fff;
	border-radius: 6px;

	:global {
		.ui_input_container {
			max-width: 60px;
			border: none;
		}

		.ui_input_control {
			padding-right: 2px;
			text-align: end;
		}

		.ui_button_container {
			margin-right: 4px;
		}
	}
}

.required_mark {
	margin-left: 4px;
	color: #ee3425;
}

.save_button {
	margin-left: 8px;
}

.error {
	margin-top: 4px;
	font-size: 12px;
	color: #cb6464;
}
