.container {
	padding: 16px 0;
}

.header {
	font-size: 18px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-1);
}

.account_table {
	margin-top: 16px;
}

.statistics {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.statistics__item {
	width: 100%;
}

.statistics > div {
	flex: calc(33% - 8px);
}

.user_button {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.button_name {
	margin-right: 4px;
}
