.total_chats_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.left_total_chats_container {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.heading {
	color: #828282;
}

.totalCustomers {
	position: relative;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	color: #4f4f4f;
}

.totalCustomers::after {
	position: absolute;
	bottom: 0;
	left: 1px;
	width: 10%;
	height: 2px;
	background-color: #000;
	transition: transform 0.25s ease-out;
	transform: scaleX(0);
	transform-origin: bottom right;
}

.totalCustomers:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.right_time_spent_container {
	margin: 20px;
}

.time_placeholder {
	border-radius: 4px;
}

.name {
	font-weight: 600;
}
