.container {
	display: flex;
	flex-flow: column wrap;

	:global {
		.ui_modal_header_container {
			align-items: start;
		}
	}
}

.header {
	font-size: 16px;
}

.supheader {
	display: flex;
	align-items: flex-end;
}

.subheader {
	font-size: 12px;
}

.paragraph {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	font-weight: 500;
	color: #f68b21;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 12px 26px;
}

.btn_container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-weight: 500;

	:global {
		.ui_button_container {
			height: 36px;
			font-weight: 500;
		}
	}
}

.btn {
	margin-right: 10px;
}

.tableStyle {
	:global {
		.ui_table_head_cell {
			background-color: var(--color-tertiary-blue-4);
		}
	}
}

.Datepicker {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
	font-weight: 500;

	:global {
		.react-datepicker__aria-live {
			display: none;
		}
	}
}

.uploadStyle {
	:global {
		.ui_button_container {
			color: var(--color-secondary-greyscale-2);
			background: var(--color-secondary-5);
			box-shadow: 0 0 1px;
		}
	}
}

.dryrun {
	display: flex;
	flex-flow: column wrap;
}

.error {
	font-size: 10px;
	color: var(--color-primary-error-red-2);
	text-align: center;
}

.optional {
	font-size: 10px;
	text-align: center;
}

.refreshStyle {
	display: flex;
	align-items: center;
	height: 36px;
	color: var(--color-accent-orange-2);
	cursor: pointer;
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 4px;

	:global {
		.ui_ps_themeType_primary svg {
			fill: var(--color-accent-orange-2);
		}
	}
}

.dry_button {
	display: flex;
	flex-direction: column;
	width: 90px;
	margin-right: 6px;
}

.balanceStyle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.overflow_style {
	display: flex;
	align-items: center;
}

.match_bal_style {
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.overflow_dot {
	display: flex;
	align-items: center;
	margin-left: 5px;
	cursor: pointer;
}
