.main_container {
    margin: 10px;

    :global {
        .ui_select_display_container {
            height: 35px !important;
        }

        .ui_select_options_container {
            border: solid 1px #f9f9f9;
        }
    }
}

.title {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    margin: 5px 13px;
    justify-content: space-between;
    align-items: center;
}

.cross {
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.error_text {
    color: #ee3000;
    font-size: 12px;
}

.styled_element {
    margin-bottom: 10px;
    margin-left: 13px;
}

.label {
    font-size: 14px;
}

.button_styles {
    display: flex;
    justify-content: flex-end;
}
