.form {
	height: 59vh;
	overflow: auto;
}

.btn_div {
	> button:not(:last-of-type) {
		margin-right: var(--font-size-xl);
	}
}

.heading {
	margin: 14px 0 32px 8px;
	font-size: var(--font-size-xl);
	font-weight: 500;
	color: var(--color-secondary-3);

	&.sub_heading {
		width: fit-content;
		margin: 14px 0 28px 12px;
		font-size: var(--font-size-lg);
		font-weight: 500;
		color: var(--color-secondary);
		border-bottom: 1px solid var(--color-secondary);
	}
}

.confirm_label {
	width: 80%;
	margin-left: 8px;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-secondary);
}

.title {
	width: 5%;
	margin-bottom: 12px;
	font-size: var(--font-size-lg);
	font-weight: 400;
	color: var(--color-secondary);
	text-transform: capitalize;
	white-space: nowrap;

	&.value {
		font-weight: 500;
		color: var(--color-secondary);
	}
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 26px;
	margin-left: 24px;

	&.row {
		flex-direction: row;
		margin-bottom: 0;
	}
}

.line {
	position: relative;
	width: 32px;
	margin: 0 24px 0 10px;
	margin-bottom: 12px;
	border-top: 2px solid var(--color-secondary-3);

	&.arrow::after {
		position: absolute;
		top: -8.5px;
		right: 0;
		width: 10px;
		height: 10px;
		content: "";
		border: 2px solid var(--color-primary-error-red-2);
		border-color: transparent var(--color-secondary-3) var(--color-secondary-3) transparent;
		transform: rotateZ(-40deg) skew(15deg, 15deg);
	}
}

.message {
	display: flex;
	margin-bottom: 24px;
}
