.cardlist {
	width: 100%;
	padding-left: 1px;
	margin: 10px;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
}

.empty_state {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px;
	font-size: 23px;
	font-weight: 500;
}
