.container {
	/* margin-bottom: 12px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
	padding: 4px 0px;

	.core-ui-input-root {
		width: 600px;
		border: none;
		&:hover {
			border: none;
		}
		&:focus-within {
			box-shadow: none;
		}
	}
	.core-ui-input-control {
		font-size: 14px;
		font-weight: 500;
	}
}

.prefix{
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;

	color: #333333;
}

.row {
	display: flex;
	align-items: center;
}

.value_container {
	display: flex;
	align-items: center;
	max-width: 300px;
	/* overflow: auto; */
}
