.container {
	/* margin-bottom: 12px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
	padding: 4px 0px;

	.core-ui-input-root {
		width: 600px;
		border: none;
		&:hover {
			border: none;
		}
		&:focus-within {
			box-shadow: none;
		}
	}
	.core-ui-input-control {
		font-size: 14px;
		font-weight: 500;
	}
}

.prefix{
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;

	color: #333333;
}

.row {
	display: flex;
	align-items: center;
}

.value {
	margin-left: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFCE6;
	font-size: 10px;
	font-weight: 500;
	color: #221F20;
	border-radius: 8px 0px 0px 8px;
	padding: 2px 8px;
}

.cancel {
	background: #FEF199;
	border-radius: 0px 4px 4px 0px;
	padding: 2px 8px;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
}

.value_container {
	display: flex;
	align-items: center;
	max-width: 300px;
	/* overflow: auto; */
}
