.main_header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 40px;

	:global {
		.ui_tabs_container {
			.ui_tab_list_container {
				background-color: transparent;
				border: none;
				box-shadow: none;

				.ui_tab_container {
					padding: 12px 20px;
					margin: 4px 20px 4px 4px;
					background-color: var(--color-secondary-5);
					border-radius: 6px;
					box-shadow: 0 0 8px rgb(44 62 80 / 20%);

					.ui_tabs_list_title {
						font-size: var(--font-size-md);
						font-weight: 600;
					}
				}

				.ui_tab_container::after {
					border: none;
				}

				.ui_tab_container.ui_tab_active {
					background-color: var(--color-primary-error-red-5);
				}
			}
		}

		.ui_toggle_container {
			padding: 0 15px 0 0;
		}

		.ui_toggle_container.ui_toggle_labeled .ui_inner::after {
			background-color: var(--color-accent-orange-2);
		}

		.ui_toggle_container.ui_toggle_labeled .ui_inner::before {
			background-color: var(--color-accent-orange-2);
		}
	}
}

.search_toggle_container {
	display: flex;
	flex-basis: 40%;
	align-items: flex-end;
	justify-content: space-between;
}

.input_search {
	width: 65%;
}
