.checkbox{
    max-width: 50px;
}

.feedback{
    display: flex;
    align-items: center;
    min-width: 156px;
}

.tooltip_text{
    display: block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table_cell{
    min-width: 120px;
}

.view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
}