.container {
	padding: 10px;
	margin-top: 48px;
	background-color: #fff;
}

.carousel_container {
	:global {
		.ui_carousel_container {
			overflow: auto;
		}

		.ui_carousel_arrow {
			fill: #221f20;
		}

		.ui_carousel_next {
			margin-right: -36px;
			background: none;
		}

		.ui_carousel_prev {
			margin-left: -36px;
			background: none;
		}

		.ui_o0St8 {
			width: unset;
		}
	}
}
