.input {
	width: 40%;
	margin-top: 8px;
	margin-left: 12px;
}

.list {
	padding: 0 10px;
	margin-top: 12px;
	background-color: #fff;
}

.modal_container {
	width: 1200px !important;
}

.button {
	margin-right: 12px;
}

.listdata {
	padding: 10px 32px;
}
