.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-height: 92vh;
	padding: 25px 15px 15px;
	margin-right: 15px;
	overflow-y: auto;
	background-color: #fafcff;
	border-radius: 6px;
}

.single_item {
	position: relative;
	display: flex;
	align-items: center;
	height: fit-content;

	:global {
		.tippy-box {
			min-width: initial;
			min-height: initial;
			padding: 10px;
		}

		.tippy-content {
			padding: 0;
		}
	}
}

.space {
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 30px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 0 20px 30px;
	font-size: 14px;
	font-weight: 500;
	color: #393f70;
	letter-spacing: 0.04em;

	.tippy-box {
		max-width: fit-content !important;
	}

	.core-ui-tooltip-root {
		text-align: start;
	}
}

.heading {
	width: fit-content;
	max-width: 500px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	color: #393f70;
	text-align: start;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	width: fit-content;
	max-width: 500px;
	overflow: hidden;
	font-size: 10px;
	font-weight: 500;
	color: #828282;
	text-align: start;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.gap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.info {
	display: flex;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	color: #7278ad;
	letter-spacing: 0.02em;

	&.date {
		font-size: 10px;
		font-weight: 400;
		color: #828282;
	}
}

.styled_text {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #333;
}
