.container {
	margin-bottom: 24px;

	:global {
		.ui_input_container {
			padding: 0;
			border: none;
		}

		.ui_input_control {
			padding: 4px 8px;
			font-size: 12px !important;
			border: 1px solid #dedede;
			border-radius: 4px;
		}

		.ui_multiselect_display_container {
			height: fit-content !important;
		}

		.ui_multiselect_input_control {
			font-size: 12px !important;
			white-space: normal;
		}

		.ui_text_area_container {
			padding: 0;
			background-color: #fff;
			border: none;
		}

		.ui_text_area_control {
			min-height: 100px;
			padding: 4px 8px;
			font-size: 12px;
			border: 1px solid #dedede;
		}

		.ui_select_input_control,
		.ui_checkbox_container {
			padding: 0;
			font-size: 12px !important;
		}

		.ui_upload_droparea_container {
			background-color: #fff;
		}
	}
}

.label {
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #4f4f4f;
}

.error_message {
	min-height: 16px;
	margin-top: 4px;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
}

.sup {
	color: #cb6464;
}

.checkbox {
	margin-top: 32px;
}
