.mode_item{
    background: #fff;
    border: 1px solid #E8F3F3;
    box-shadow: 0px 0px 2px rgba(111, 165, 171, 0.12);
    border-radius: 8px;
    min-width: 160px;
    padding: 20px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    transition: 0.5s;

	&:hover {

        .icon_hover{
            transition: 0.5s;
            transform-origin: top left;
            transform: scale(1.12);
        }

        .yellow_circle{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            background: #FCDC00;
            top: 2px;
            left: 2px;
            transition: 0.4s;
        }
	}
}
.pill{
    position: absolute;
    top: -14px;
    right: -8px;
}
.img_container{
    position: relative;
}
.icon{
    margin-right: 16px;
}
.label{
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}