.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading {
	margin: 12px;
	font-weight: 600;
}

.values {
	margin-left: 12px;

	span {
		color: var(--color-secondary-greyscale-3);
	}
}
