/* .upload_heading {
    margin: '0 0 12px 0';
}

.upload_container {
    display: 'block';
    align-items: 'center';
    margin-bottom: '16px';
} */

.error_message {
	font-size: 10px;
	color: #cb6464;
}

.modal_container {
    height: 200px;
}