.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding-right: 68px;
	padding-left: 24px;
	margin: 16px 0;
	border-right: dotted 1px #bdbdbd;
}

.origin {
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	color: #4f4f4f;
}

.origin_heading {
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	color: var(--black-60, #828282);
}

.arrow {
	position: absolute;
	bottom: 0%;
	left: 50%;
}

.destination {
	position: absolute;
	left: 54%;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	color: #4f4f4f;
}

.destination_heading {
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	color: var(--black-60, #828282);
}
