.container {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.block_container {
	display: flex;
	align-items: flex-start;
	align-items: center;
	width: 30%;
	height: fit-content;
}

.block_text {
	margin: 0;
	font-size: 1.15em;

	@media (min-width: 1024px) {
		font-size: 1.25em;
	}
	@media (min-width: 1440px) {
		font-size: 1.35em;
	}
	@media (min-width: 2560px) {
		font-size: 1.55em;
	}
}

.activity_container {
	display: flex;
	flex-wrap: wrap;
	width: 70%;

	@media (max-width: 768px) {
		width: 100%;
		margin-top: 20px;
	}
}

.param_container {
	display: flex;
	flex-basis: 50%;
	justify-content: center;

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}

.value_text_container {
	display: flex;
	justify-content: flex-end;
	width: 20%;
}

.value_text {
	margin-right: 8px;
	font-size: 1.15em;
	font-weight: 600;

	@media (min-width: 1024px) {
		font-size: 1.25em;
	}
	@media (min-width: 1440px) {
		font-size: 1.35em;
	}
	@media (min-width: 2560px) {
		font-size: 1.55em;
	}
}

.label_text {
	width: 80%;
	font-size: 1.15em;
	color: #828282;

	@media (min-width: 1024px) {
		font-size: 1.25em;
	}
	@media (min-width: 1440px) {
		font-size: 1.35em;
	}
	@media (min-width: 2560px) {
		font-size: 1.55em;
	}
}
