.container{
  display: block;
  border-radius: 8;
  padding: 16;
  border: 1px #E0E0E0 solid;
  margin-bottom: 16;
  background-color:#FFF;
}

.sub_container{
  justify-content: space-between;
  align-items:center;
  margin-bottom:16;
  padding-bottom:16;
  border-bottom:1px #EDEDED solid
}

.task_container{
  display: block;
  border-radius: 8;
	padding: 16;
	border: 1px #E0E0E0 solid;
	margin-bottom: 16;
	background-color: "#FFF";
}

.task_sub_container{
  justify-content: space-between;
  align-items: center;
  margin-bottom:16;
  padding-bottom:16;
  border-bottom:1px #EDEDED solid;
}

.flex{
  display: flex;
}