.container {
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 18px 16px;
	display: flex;
	align-items: center;
	margin: 4px 4px 16px 4px;
	margin-right: 0px;
	border-right: 1px solid #ded7fc;
}

.row {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.subject {
	width: 50%;
	display: flex;
	align-items: center;
	border-right: 1px solid #ded7fc;
	padding: 12px 0;
}

.details {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid #ded7fc;
	padding: 8px;
}

.label {
	margin: 0px;
	letter-spacing: 0.02em;
	color: #585858;
}

.value {
	margin: 0px;
	margin-left: 10px;
	font-weight: 600;
	letter-spacing: 0.02em;
	display: block;

	color: #333333;

	&.small {
		font-size: 12px;
		line-height: 16px;
	}
}

.view_button {
	font-size: 12px;
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
	padding-right: 16px;
	cursor: pointer;
}

.styled_radio {
	border-left: 1px solid #ded7fc;
	padding-left: 16px;
}