.container {
    display: flex;
    height: 32%;
    margin: 12px 24px 0 24px;
    justify-content: space-between;
    align-items: center;
}

.company_logo_name {
    display: flex;
    align-items: center;
    color: var(--black-80, #4f4f4f);
    text-align: center;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.date_type {
    display: flex;
}

.shipping_line {
    color: var(--black-80, #4f4f4f);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
}
