.port_name_code {
	display: flex;
}

.port_name {
	max-width: 80px;
	overflow: hidden;
	font-weight: 600;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.port_code {
	padding-left: 3px;
	color: #f68b21;
	white-space: nowrap;
}

.port_country {
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.max_width_modal {
	max-width: 60px;
}
