.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;
}

.width {
	width: 30%;
}

.submit_button {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 24px;
}
