.container {
    margin-top: 20px;
}

.button_container {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .add_button {
        margin-right: 12px;
    }
}

.question_container {
    margin: 20px 0px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 32px 20px;
    position: relative;

    .delete_button {
        position: absolute;
        top: 4px;
        right: 4px;
    }
}