.card_container{
	display: flex;
	margin: auto;
	margin: 8px 0;

	flex-wrap: wrap;

}

.card_details{
	border: 4px solid #cbcff5;

	padding: 8px;
	margin: 6px;
	border-radius: 12px;
	background-color: #ffffff;
	flex: 1;

	@media (max-width: 768px) {
		width: 100%;
	}

}
