.title_black {
	display: inline-block;
	max-width: 100%;
	font-size: var(--font-size-md);
	font-weight: normal;
	line-height: 20px;
	color: #000;
	text-align: center;
	text-align: left;
	word-break: break-word;
	word-wrap: break-word;
}

.expired {
	background-color: #fbe6e6;
}

.label {
	width: max-content;
	font-size: 8px;
	line-height: 12px;
	color: var(--color-secondary-greyscale-1);
	text-transform: capitalize;

	@media (min-width: 768px) {
		display: none;
	}
}

.button_div {
	display: flex;
	align-items: center;
}

.pill {
	padding: 2px 6px;
	margin: 0;
	overflow: hidden;
	font-size: var(--font-size-md);
	font-weight: normal;
	line-height: 16px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #fcedbf;
	border-radius: 4px;

	&.expired {
		background-color: #f7cdcd;
	}

	&.draft {
		background-color: #eee;
	}

	&.booking_placed {
		background-color: rgb(230 251 233);
	}
}

.value {
	width: 100%;
	margin: 0;
	font-size: var(--font-size-md);
	font-weight: bold;
	line-height: 14px;
	color: #000;
}

.content {
	width: 300px;
	padding: 12px 16px;
	margin-bottom: 24px;
	background-color: fff;
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 10px;
}

.total {
	font-weight: 500;
	color: black;
}
