.header {
	width: fit-content;
	font-size: 16px;
	font-weight: 600;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.header_container {
	padding-bottom: 4px;
}

.sources_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 4px;

	:global {
		.ui_popover_container {
			width: 266px !important;
			max-width: unset !important;

			>div,
			>div > div {
				width: 100%;
			}
		}
	}
}

.source_select_container {
	width: 25%;

	:global {
		.ui_multiselect_input_control {
			span {
				display: none;
			}
		}
	}
}

.tid_search_input {
	width: 20%;
}

.selected_sources {
	display: flex;
	align-items: center;
	width: calc(54% - 30px);
	height: fit-content;
	overflow-x: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	:global {
		.ui_tag_container {
			padding-left: 0;
		}
	}
}

.filter_icon {
	display: flex;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
