.header {
	font-size: 16px;
	font-weight: 600;
}

.sources_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 4px;
}

.source_select_container {
	width: 25%;
}

.selected_sources {
	display: flex;
	align-items: center;
	width: calc(72% - 30px);
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.filter_icon {
	display: flex;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.filter_box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 38px;
	height: 38px;
	border: 1px solid #bdbdbd;
	border-radius: 6px;
}

.dot {
	position: absolute;
	top: 24%;
	right: 0.8%;
	width: 8px;
	height: 8px;
	background: #f33;
	border-radius: 50%;
}
