.main {
	display: flex;
	color: #393f70;
	gap: 12px;
	font-weight: 500;
	font-size: 14px;
}

 .gap {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

 .heading {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #393f70;
}

 .single_item {
	display: flex;
	gap: 16px;
	padding: 4x 16px 6px;
	align-items: center;
	position: relative;
	margin-bottom: 8px;
}
