.asc {
	color: #f68b21;
	cursor: pointer;
}

.desc {
	color: #f68b21;
	cursor: pointer;
}

.center {
	align-items: center;
	width: 0;
	margin-left: 8px;
	cursor: pointer;
}

.centers {
	align-items: center;
	margin-top: 10px;
	margin-bottom: -10px;
	cursor: pointer;
}

.container {
	display: flex;
	align-items: center;
}
