.container {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding-right: 42px;

	@media (max-width: 768px) {
		width: 100%;
		padding-right: 2px;
		margin-top: 52px;
	}
}

.user_name {
	margin-bottom: 12px;
	font-size: 18px;
	color: #221f20;
}
