.body_styles {
	max-height: unset !important;
	overflow-y: hidden;
}

.styled_modal {
	width: 300px !important;
	height: 400px !important;
}

.header_styles {
	padding: 16px;
	border-bottom: solid #dedede;
}
