.row {
	display: flex;
	width: 100%;
}

.fieldarray {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.child {
	width: 100%;
}

.font_style {
	padding-left: 4px;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	color: #cb6464;
	letter-spacing: 0.02em;
}

.element {
	padding: 4px;

	/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
	:global {
		.ui_select_input_placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_input_control::placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}
	}
}
