/* .tab_panel {
	min-height: 83vh;
	padding: 22px 34px;
	margin-top: 14px;
	background-color: #fff;
	border-radius: 50px 50px 0 0;

	@media (max-width: 768px) {
		padding: 0;
		background-color: transparent;
		border-radius: 12px 12px 0 0;
	}
}

.header {
	display: flex;
	gap: 8px;
	align-items: center;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.ui_modal_dialog {
	height: 100vh;
}

.requestBtn {
	gap: 4px;
	align-self: center;
	width: 154px;
	height: 40px;
	padding: 8px 16px;
	border-radius: 6px;
}

.leaveReqHeading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 20px;
	font-weight: 600;
	border-top: 1px solid var(--black-20, #e0e0e0);
}

.headingSp1 {
	color: #221f20;
}

.headingSp2 {
	color: #4f4f4f;
}

.details {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	justify-content: flex-end;
}

.design {
	display: flex;
	flex: 1 0 0;
	gap: 12px;
	align-items: flex-start;
}

.img {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: #ee3425;
	background: #fdebe9;
	border-radius: 8px;
}

.pending {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 4px 8px;
	color: #c26d1a;
	background-color: #fef3e9;
	border-radius: 100px;
}

.text1 {
	height: 24px;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a25;
}

.text2 {
	height: 24px;
	color: #1a1a25;
}

.text3 {
	display: flex;
	height: 18px;
}

.name {
	font-size: 12px;
	color: #828282;
}

.leaveDetails {
	display: flex;
	gap: 8px;
	align-items: center;
}

.sec2 {
	display: flex;
	flex-direction: column;
}

.dot {
	width: 6px;
	height: 6px;
	background: #c26d1a;
	border-radius: 50%;
}

.main2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	align-self: stretch;
	padding: 0 16px;
	padding-bottom: 16px;
}

.requestType {
	display: flex;
	align-items: flex-start;
	padding: 4px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.requestType1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
	background: var(--20, #fdebe9);
	border-radius: 6px;
}

.type1Contentdiv {
	display: flex;
	gap: 4px;
	align-items: center;
}

.type1Content {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: var(--80, #ee3425);
	text-align: center;
}

.numRequest {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 1px 4px;
	background: var(--80, #ee3425);
	border-radius: 4px;
}

.num {
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: var(--20, #fef3e9);
}

.requestType2 {
	display: flex;
	gap: 4px;
	align-items: center;
	align-self: stretch;
	padding: 2px 8px;
}

.content2 {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: var(--black, #221f20);
	text-align: center;
}

.parentDiv {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	justify-content: center;
	padding: 16px;
	background: var(--greyscale-secondary-white, #fff);
	border-bottom: 1px solid var(--black-20, #e0e0e0);
}

.yesNo {
	display: flex;
	gap: 12px;
	align-items: center;
	align-self: stretch;
	justify-content: flex-end;
}

.reject {
	display: flex;
	gap: 2px;
	align-items: center;
	padding: 7px 12px;
}

.accept {
	display: flex;
	gap: 2px;
	align-items: center;
	padding: 7px 12px;
}

.rejContent {
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: var(--black, #221f20);
	text-align: center;
	text-transform: capitalize;
}

.accContent {
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: var(--greyscale-secondary-white, #fff);
	text-align: center;
	text-transform: capitalize;
}

.editBtn {
	background: var(--greyscale-secondary-white, #fff);
	border: 1px solid var(--black-20, #e0e0e0);
	border-radius: 6px;
}

.editDel {
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: flex-end;
	width: 100%;
}

.editIcon {
	display: flex;
	gap: 10px;
	align-items: flex-start;
	padding: 1px;
}

.editText {
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: var(--black, #221f20);
	text-align: center;
	text-transform: capitalize;
}

.del {
	display: flex;
	gap: 2px;
	align-items: center;
	padding: 7px 12px;
	background: var(--greyscale-secondary-white, #fff);
	border: 1px solid var(--black-20, #e0e0e0);
	border-radius: 6px;
}

.modal_container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: 40%;
	height: 100vh;
	min-height: 50vh;
	max-height: 100vh;
	padding: 0 1.6rem 1.6rem;
	overflow: auto;
	background: #fff;
	border-radius: 8px;
	box-shadow: -2px 2px 25px rgb(0 0 0 / 15%);
	transition: all 0.3s;
}

.show {
	transform: translateX(0%);
}

.hide {
	transform: translateX(150%);
}

@media screen and (max-width: 480px) {
	.modal_container {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 10;
		width: 100%;
		height: 100vh;
		min-height: 50vh;
		max-height: 100vh;
		padding: 0 1.6rem 1.6rem;
		overflow: auto;
		background: #fff;
		border-radius: 8px;
		box-shadow: -2px 2px 25px rgb(0 0 0 / 15%);
		transition: all 0.3s;
	}
} */
