.tab_panel {
	min-height: 83vh;
	padding: 22px 34px;
	margin-top: 14px;
	background-color: #fff;
	border-radius: 50px 50px 0 0;

	@media (max-width: 768px) {
		padding: 0;
		background-color: transparent;
		border-radius: 12px 12px 0 0;
	}
}

.request_btn {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.show {
	transform: translateX(0%);
}

.hide {
	transform: translateX(150%);
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.title {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 500;
	color: #221f20;
}

@media screen and (max-width: 768px) {
	.parent_div {
		padding: 16px 0;
	}

	.leave_req_reading {
		padding: 8px 0;
	}

	.heading {
		flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 16px;
	}

	.title {
		font-size: 16px;
	}

	.tab_container {
		:global {
			.ui_tab_list_container {
				width: auto;
				padding-bottom: 4px;
				overflow: auto;
			}
		}
	}
}

.bread {
	margin-bottom: 20px;
}
