.container {
	display: flex;
	flex-direction: column;

	:global {
		.ui_input_number_container {
			width: 140px;
		}

		.ui_input_number_control {
			width: 60%;
		}
	}
}

.form_subgroup {
	margin-bottom: 24px;
}

.heading {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 600;
}

.sub_heading {
	margin-bottom: 12px;
	font-size: 12px;
	font-weight: 600;
}

.form_item_wrapper {
	display: flex;
	width: 100%;
}

.form_item {
	width: 45%;
	margin-right: 32px;
}

.label {
	min-width: max-content;
	margin-bottom: 8px;
	font-size: 14px;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 12px;
}

.button {
	margin-right: 20px;
}
