.leave_req_reading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 20px;
	font-weight: 500;
	cursor: pointer;
	border-top: 1px solid #e0e0e0;

	@media screen and (max-width: 768px) {
		padding: 8px;
	}
}

.heading_sp1 {
	font-size: 14px;
	font-weight: 500;
	color: #221f20;
	text-transform: uppercase;
}

.heading_sp2 {
	color: #4f4f4f;
}

.details {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	justify-content: flex-end;
	padding: 16px;
	margin-bottom: 16px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.text1 {
	font-size: 16px;
	font-weight: 500;
	color: #221f20;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.text_name {
	font-size: 16px;
	font-weight: 400;
	color: #4f4f4f;
	text-decoration-line: underline;
}

.text2 {
	margin: 4px 0;
	color: #1a1a25;
}

.text3 {
	display: flex;
	height: 18px;
}

.name {
	font-size: 12px;
	color: #4f4f4f;
}

.sec2 {
	display: flex;
	flex-direction: column;
}

.dot {
	width: 6px;
	height: 6px;
	background: #bdbdbd;
	border-radius: 50%;
}

.request_type {
	display: flex;
	align-items: flex-start;
	padding: 4px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.request_type1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
	background: #fdebe9;
	border-radius: 6px;
}

.type1_content {
	font-size: 14px;
	font-weight: 500;
	color: #ee3425;
	text-align: center;
}

.num {
	font-size: 10px;
	font-weight: 500;
	color: #fef3e9;
}

.parent_div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	justify-content: center;
	padding: 4px;
	background: #fff;
}

.yes_no {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: flex-end;
	margin-top: 12px;
}

.yes_no > :not(:last-child) {
	margin-right: 12px;
}

.rej_content {
	font-size: 12px;
	font-weight: 500;
	color: #bf291e;
	text-align: center;
	text-transform: capitalize;
}

.acc_content {
	font-size: 12px;
	font-weight: 500;
	color: #849e4c;
	text-align: center;
	text-transform: capitalize;
}

.edit_btn {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.edit_del {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: flex-end;
	padding: 4px;
}

.edit_text {
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
	text-transform: capitalize;
}

.card_container {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	margin-bottom: 12px;
	cursor: pointer;
	background: #fff;
	border-radius: 16px;
}

.approve {
	border: 1px solid #849e4c;
	border-radius: 6px;
}

.deny {
	border: 1px solid #bf291e;
	border-radius: 6px;
}

.accepted {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 6px 4px;
	color: #849e4c;
	background-color: #f7faef;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
}

.leavecard {
	width: 100%;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 16px;
}

.pagination_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: 12px;
}

.padding_top {
	height: 12px;
	background-color: white;
}
