.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action_wrapper {
	display: flex;
	align-items: center;
	padding: 5px 1rem;
	background: white;
	box-shadow: 0 1px 6px #a9bcdaa6;
}
