.container {
	padding: 16px 0 8px 24px;

	:global {
		.ui_tab_container {
			padding: 0 4px 8px;
			font-size: 12px;
		}

		.ui_tab_active.ui_ps_themeType_main_tabs {
			margin: 0;
			background-color: #fdebe9;
			border-bottom: 3px solid #ee3425;
			transition: all 0.1s;
		}
	}
}

.tabs_style {
	padding-bottom: 8px;
	animation: open-animation 0.6s forwards;
}

@keyframes open-animation {
	0% {
		height: auto;
		padding: 0 20px;
	}

	100% {
		height: auto;
		padding: 12px 20px;
	}
}
