.section {
	font-size: 12px;
}

.personal_detail {
	margin-bottom: 16px;
}

.container {
	position: relative;
	padding: 12px 20px 8px;
	background: #f9f9f9;
	border: 1px solid #e9f1f1;
	border-radius: 6px;
}

.flex_box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.edit_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.col {
	width: 45%;
	margin-bottom: 10px;

	.label {
		margin-bottom: 3px;
		color: #828282;
	}

	.value {
		font-weight: 600;
		color: #4f4f4f;
	}

	>p {
		margin: 0;
	}
}
