.container {
	padding: 4px;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
}

.table_container {
	width: 100%;
	padding: 12px 4px;
	background-color: #fff;

	:global {
		.ui_table_body_cell {
			max-width: calc(95vw/6);
			font-weight: 500;
			white-space: normal;
		}

		.ui_table_head_cell {
			min-width: 100px;
			padding-top: 16px;
			padding-bottom: 16px;
			font-weight: 900;
		}

		.ui_table_head_cell:last-of-type {
			min-width: 40px;
		}
	}
}

.filter {
	position: absolute;
	top: 10px;
	right: 0;
	width: fit-content;
	font-weight: 700;
}

.filter_header {
	display: flex;
	justify-content: space-between;
}

.filter_btn_container {
	display: flex;
}

.popover_container {
	position: absolute;
	top: 10px;
	right: 0;

	:global {
		.ui_popover_container {
			width: 300px !important;
		}

		.ui_select_input_control {
			max-width: 196px !important;
		}
	}
}
