.form_container {
	margin-top: 1rem;
}

.form_group {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		padding: 4px;
	}
}

.form_group:not(:first-child) { margin: 10px 0; }

.input_group {
	display: flex;
	flex-direction: column;
}

.button_container{
	display: flex;
	justify-content: flex-end;
	padding-top: 16px;
}

.error_message {
	font-size: 0.75rem;
	font-weight: 400;
	color: #cb6464;
	letter-spacing: 0.02em;
}
