.search div {
	align-items: center;
	margin-right: 4px;
	font-weight: bold;
	color: "#303B67";
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
}

.filter {
	margin-left: 10px;
}
