.search {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 60%;
}

.type_of_search {
	width: 20%;
	min-width: 180px;
}

.filter {
	font-weight: bold;
	color: rgb(40 40 40);
}

.search_by {
	font-weight: bold;
}
