/* .main_heading{
	font-weight: bold;
	display: flex;
	font-size: 20px;
	color: #4F4F4F;
	margin-top: 16px;
	margin-left: 8px;
	
	@media (max-width: 768px) {
		margin-bottom: 16px;
	}
} */

/* .span{
	font-weight: bold;
	font-size: 20px;
    color: #221F20;
	margin-right:6px;
} */
