.discountcontainer{
    margin-top: var(--marginTop);
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: var(--padding);
    display: flex;
    width: var(--width);
}

.label{
    font-weight: 500;
    font-size: 14px;
    border-right: 2px solid #F68B21;
    min-width: var(--headingwidth);
    padding-left: 10px;
}

.stat{
    font-weight: 500;
    font-size: 14px;
    margin: 0px 25px;
}