.date {
	width: 100% !important;
	height: 44px;
}

.item {
	height: 100%;
}

.element {
	/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
	:global {
		/* stylelint-disable-next-line selector-class-pattern */
		.react-datepicker__input-container {
			width: 100%;

			input {
				height: 42px;
				border: 1px solid #ebebeb;
				border-radius: 4px;
			}

			input::placeholder {
				font-size: 14px;
				font-weight: 400;
				color: #bdbdbd;
			}
		}

		.ui_select_input_control {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_input_control::placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}
	}
}
