/* CHART */

.tool_tip {
	display: flex;
	align-items: center;
	padding: 6px 8px;
	background: #fff;
	border-radius: 4px;
	box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;

	span {
		width: 15px;
		height: 15px;
		margin-right: 12px;
		background: #ffebad;
	}
}

.empty_state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	padding: 6px 20px 25px;
}

.horizontal_line {
	width: 100%;
	height: 1px;
	background: #e8e8e8;
}
