.container {
	display: flex;
	background: #fff;

	@media (max-width: 768px) {
		overflow: scroll;
	}
}

.component {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 5px;
	background: #fff;
	border-bottom: 1px solid #f9f9f9;
}
