.container{
    padding: 4px;
}

.header{
    font-weight: 600;
    padding-bottom: 6px;
}

.button_Container{
    display: flex;
    padding-top: 13px;
    justify-content: flex-end;
}

.text_wrapper{
    font-size: 13px;
}



