.container {
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 8px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ededed;
}

.text {
	font-size: var(--font-size-xl);
	font-weight: 700;
}

.loader {
	display: flex;
	justify-content: center;
}

.action_container {
	display: flex;
}
