.actions_wrap {
	display: flex;
	align-items: center;
}

.not_uploaded {
	height: fit-content;
	padding: 2px 8px;
	margin-right: 16px;
	font-size: 10px;
	font-weight: 400;
	line-height: 150%;
	color: var(--black, #221f20);
	background-color: #fef199;
	border-radius: 4px;
}

.uploaded {
	height: fit-content;
	padding: 2px 8px;
	margin-right: 16px;
	font-size: 10px;
	font-weight: 400;
	line-height: 150%;
	color: var(--black, #221f20);
	background-color: #c4dc91;
	border-radius: 4px;
}

.uploaded_doc {
	margin-right: 16px;
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	color: var(--black, #221f20);
	text-decoration-line: underline;
	cursor: pointer;
}
