.container {
	padding: 16px;
	margin: 16px 0;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.header_text {
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.form_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.form_group {
	flex-basis: 22%;

	@media (max-width: 576px) {
		padding-top: 20px;
	}
}

.label {
	display: flex;
	flex: 1;
	align-self: flex-start;
	margin-bottom: 4px;
	color: #4f4f4f;
}

.input_group {
	width: 100%;
}

.error_message {
	font-size: 10px;
	color: #cb6464;
}

.table {
	background-color: #fff;

	tr {
		height: 60px;
	}

	:global(.ui_table_head_cell) {
		font-size: 14px;
	}
}
