.container {
	display: flex;
	margin-top: 10px;
	margin-left: 30px;
}

.line {
	width: 210px;
	margin: 10px;
	border-top: 2px solid #ee3425;
}

.faded_text {
	margin-left: -40px;
}

.circle {
	width: 24px;
	color: #fff;
	text-align: center;
	background: #ee3425;
	border-radius: 50%;
}

.section {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.inner_div {
	display: flex;
	width: 100%;
}
