.greeting_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.main_container_wrapper {
    @media (max-width: 768px) {
        margin-top: 50px;
    }
}

.badge_list_container {
    width: 100%;
    min-height: 460px;
    padding: 24px;
    background-color: white;
    border-radius: 6px;
}

.heading {
    font-size: 16px;
    font-weight: 500;
    color: #6fa5ab;
}

.badges_container {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    width: 64px;
}

.container {
    padding: 16px;
}

.stars_container {
    display: flex;
    width: 50px;
    margin: 0 8px;
    align-items: center;
}

.span {
    margin-right: 6px;
    font-size: 20px;
    color: #221f20;
}

.main_heading {
    display: flex;
    margin-bottom: 12px;
    margin-left: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #4f4f4f;
    cursor: pointer;

    @media (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.icon_container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
