.form {
	:global {
		.ui_modal_body_container {
			height: 160px;
		}

		.ui_select_input_placeholder {
			font-size: var(--font-size-md);
		}

		.ui_select_input_control {
			font-size: 12px !important;
		}

		.ui_select_option_item {
			font-size: 12px !important;
		}
	}
}
