.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form_item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 48%;
}
.label{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    display: flex;
}
.required_mark{
    color: #e74c3c;
    margin-left: 4px;
}
.arrow_container{
}