.container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.title {
	font-weight: 500;
}

.sub_title {
	font-size: 12px;
	font-weight: 300;
}

.details {
	padding: 12px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px;
}

.profile {
	display: flex;
	align-items: center;
}

.name {
	margin-left: 6px;
}

.cogo_id {
	font-size: 12px;
	font-weight: 200;
}

.single_detail {
	display: flex;
	align-items: center;
	margin: 8px 0 0 8px;
	font-weight: 300;
}
