.card {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: 14px;
	background: var(--color-secondary-5);
	border-radius: 4px;
	box-shadow: 0 0 6px 2px rgb(68 68 68 / 20%);

	&:hover {
		box-shadow: 0 0 6px 2px rgb(133 110 249 / 20%);
	}
}

.loader {
	height: 50px;
}

.separator {
	align-self: stretch;
	width: 1px;
	background: var(--color-secondary-greyscale-5);
}

.shipment_info {
	display: flex;
	flex-direction: column;
	width: 18%;
}

.port_details {
	display: flex;
	justify-content: space-between;
	width: 48%;

	.loader {
		width: 40%;
	}
}

.cargo_details {
	width: 28%;
}
