.container {
	padding: 0 30px;

	@media (max-width: 768px) {
		margin-top: 80px;
	}
}

.btn_row {
	display: flex;
	justify-content: center;
}

.uploader {
	margin-top: 10px;
}

.error_msg {
	color: red;
}

.footer {
	display: flex;
	justify-content: center !important;
}
