.card {
	width: 100%;
	height: fit-content;
	padding: 20px;
	margin-top: 16px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 8px;
}

.card_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.left_header {
	display: flex;
	align-items: center;
}

.card_heading_label {
	margin-left: 12px;
}

.card_body {
	display: flex;
	flex-wrap: wrap;
}

.card_item {
	flex-basis: 33%;
	margin: 0 0 20px;

	@media (max-width: 768px) {
		display: flex;
		flex-basis: 100%;
		margin: 0 0 8px;
	}
}

.item_label {
	@media (max-width: 768px) {
		flex: 1;
	}
}

.item_value {
	margin-top: 4px;
	font-weight: 600;

	@media (max-width: 768px) {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		margin-top: 0;
		line-height: none;
	}
}

.overflow_flex > strong {
	margin: 4px 0 0 4px;

	@media (max-width: 768px) {
		margin: 0;
	}
}

.workscopes_container {
	display: flex;
	margin-right: 12px;
}

.overflow_flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
