.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;

	@media (max-width: 768px) {
		width: 80%;
	}

	:global {
		.ui_select_display_container {
			width: 160px;
		}
	}
}

.field_controller {
	width: 200px;
	margin-right: 4px;

	@media (max-width: 768px) {
		width: 120px;
		margin-right: 0;
	}
}

.field_controller_scope {
	width: 200px;

	@media (max-width: 768px) {
		width: 180px;
		margin: 0 4px 0 16px;
	}
}
