.container{
    padding: 14px 20px;
	width: 100%;
}

.input_container{
	margin-top: 4px;

}

.empty_state_wrapper{
    font-size: 14px;
	text-align: center;
	padding-top: 10px;
}
.tab_panel{
	.ui_qiX4D {
		align-items: inherit;
		border-bottom: 1px solid var(--color-secondary-greyscale-5);
		display: flex;
		overflow: clip;
		width: -moz-fit-content;
		width: fit-content;
	}
}