.actions_wrap {
	display: flex;
	align-items: center;

	&.icons {
		align-items: center;
		margin-right: 16px;
	}

	&.actions_wrap_icons {
		display: flex;
		align-items: center;
	}
}

.popover_content {
	padding: 0;
}

.text {
	width: 130px;
	font-size: var(--font-size-sm);
	line-height: 16px;
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: var(--color-tertiary-lavendar-1);
	}
}

.icon_more_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	cursor: pointer;

	&:hover {
		background-color: transparent !important;
	}
}

.empty_div {
	width: 34px;
}
