.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px;
	margin: 8px;
	background-color: #fff;
	border-radius: 4px;
}

.alloted_budget {
	display: flex;
	justify-content: flex-end;
	width: 95%;
	font-size: 20px;
	font-weight: 600;
}

.progress_bar {
	position: relative;
	width: 95%;
	height: 8px;
	margin: 20px;
	background-color: #f8aea8;
	border-radius: 8px;
}

.promo_code_used_progress,
.promo_code_created_progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.promo_code_used_progress {
	background-color: #bf291e;
}

.promo_code_created_progress {
	background-color: #f37166;
}

.promo_code_used_dot,
.promo_code_created_dot {
	width: 10px;
	height: 10px;
	margin: 0 6px 0 0;
	border-radius: 50%;
}

.promo_code_used_dot {
	background-color: #bf291e;
}

.promo_code_created_dot {
	background-color: #f37166;
}

.alloted_budget_text {
	margin-right: 12px;
	font-weight: 500;
}

.bottom {
	display: flex;
	justify-content: space-evenly;
	width: 80%;
	font-size: 16px;
	font-weight: 600;
}

.bottom_container {
	display: flex;
	align-items: center;
}

.amount {
	color: var(--color-accent-orange-2);
}
