.label {
	margin-bottom: 8px;
	font-weight: 600;
}

.controller_container {
	margin: 14px 0;
}

.error {
	margin-top: 4px;
	font-size: 12px;
	color: #fc0101;
}

.btn_container {
	display: flex;
	justify-content: flex-end;
}

.cancel_btn {
	margin-right: 12px;
}
