.modal_body_container {
	max-height: 600px;
}

.modal_head_container {
	min-height: 300px;
	max-height: 500px;
	scrollbar-gutter: stable both-edges;
}

.role_container {
	width: 30%;
}

.actions {
	display: flex;
}

.cancel {
	margin-right: 8px;
}

.radio_container {
	padding-left: 0;

	:global {
		.ui_radiogroup_container {
			padding-left: 0;
		}

		.ui_radio_container:first-of-type {
			padding-left: 0;
		}

		.ui_radio_label {
			font-size: 12px;
			font-weight: 600;
		}
	}
}

.input_container {
	max-width: 200px;
	margin-right: 40px;
	margin-left: auto;

	:global {
		.ui_input_container {
			min-width: 240px;
			padding-right: 6px;
		}
	}
}

.form_container {
	margin-top: 38px;
}
