.container {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
}

.btn_container {
	display: flex;
	justify-content: flex-end;
}

.close {
	padding: 2px;
}

.close:hover {
	background-color: rgb(252 252 152 / 80.8%);
	border: 1px solid yellow;
}
