.container {
	padding: 8px 16px;
	margin-top: 20px;
	border: 1px solid #f8f2e7;
	border-radius: 9px;
}

.title {
	border-bottom: 0.5px solid #ffc04e;
}

.flex_box {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	border-bottom: 1px solid #f8f2e7;

	.no_border {
		border: none;
	}
}

.card_header {
	div {
		font-size: 13px;
		font-weight: 600;
	}
}

.scroll_container {
	max-height: 150px;
	overflow-y: scroll;
}

.row {
	font-size: 12px;
}

.file_url {
	color: #034afd;
	text-decoration: underline;
	cursor: pointer;
}

.cta_container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}
