.flex {
	display: flex;
}

.block {
	display: flex;
	border: 1px #333 solid;
	flex: 1;
	min-height: 20px;
	border: 0px;
	font-weight: bold;
	padding-left: 240px;
	letter-spacing: 0px;
}

.block_row {
	display: flex;
	border: 1px #333 solid;
}

.block_col {
	display: flex;
	flex-direction: column;
	border: 1px #333 solid;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;

	&.charge_container {
		flex: 1;
		min-height: 288px;
	}
}
