.header {
	display: flex;
	align-items: center;
	height: 30px;
	margin-bottom: 5px !important;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	color: #fff;
	background-color: #393f70;
}

.col {
	display: flex;
	flex: var(--span);
	align-items: center;
	padding: 10px;
}
