.filter{
    margin-top: 12px;
    display: flex;
    flex-direction: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.select{
    width: 200px;
    margin-right: 4px;

    :global(.ui_tNl3D){
        font-size: 14px;
    }
}

.time{
    width: 400px;
    margin-right: 4px;

    :global(input){
       margin-right: 4px;
       height: 40px !important;

        &::placeholder{
            font-size: 14px;
            color: #221f20;
        }
    }    
}

@media (max-width: 576px) {
	.select, .time{
		margin-bottom: 8px;
	}
}