.modal_container {
	background-color: var(--color-tertiary-beige-4);

	@media (max-width: 768px) {
		width: 300px !important;
	}

	:global {
		.ui_modal_body_container {
			max-height: 85%;
		}

		.ui_modal_footer_container {
			height: 86px;
			padding: 10px;
		}
	}
}

.body {
	min-height: 170px;
}

.footerstyles {
	display: flex;
	align-items: center;
}

.back {
	padding-top: 4px;
	padding-right: 16px;
	cursor: pointer;
}

.flex {
	display: flex;
}

.align {
	align-items: center;
}

.purchaselineitems {
	flex: 1;
	height: calc(100vh - 178px);
	padding: 12px;
	overflow: scroll;
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 6px;
}

.maplineitems {
	flex: 1;
	height: calc(100vh - 178px);
	padding: 12px;
	margin-left: 12px;
	overflow: scroll;
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 6px;
}

.buttoncontainer {
	display: flex;
	justify-content: flex-end;
}

.button {
	margin-left: 16px;
}

.headingmodal {
	font-size: var(--font-size-xxl);
	font-weight: 600;
	color: #ed3726;
}
