.container {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}

.label {
	font-size: 16px;
	font-weight: 600;
}

.form_container {
	position: relative;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.button_container {
	display: flex;
	margin-top: 12px;
}

.input_container {
	width: 50%;
	margin-top: 12px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.add_container {
	margin: auto;
	margin-top: 24px;
	text-align: center;
}

.upload_icon {
	display: flex;
	gap: 6px;
	align-items: center;
}
