.flex {
	display: flex;
}

.servicemappings {
	max-width: 290px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value {
	font-size: var(--font-size-sm);
	font-weight: 600;
}

.servicetooltip {
	padding-bottom: 8px;
}

.underline {
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.selectcontainer {
	:global {
		.ui_select_input_control {
			font-size: var(--font-size-md) !important;
			font-weight: 600;
		}

		.ui_select_input_placeholder {
			font-size: var(--font-size-md) !important;
			opacity: 0.6;
		}

		.ui_select_container {
			width: 100%;
			max-height: 34px;
		}

		.ui_select_display_container {
			width: 100%;
			max-height: 34px;
		}
	}
}

.inputcontainer {
	:global {
		.ui_input_control {
			font-size: var(--font-size-md) !important;
		}

		.ui_input_container {
			width: 100%;
			max-height: 34px;
		}
	}
}

.paddingleft {
	padding-left: 12px;
}

.delete {
	display: flex;
	margin-top: 4px;
	margin-left: 8px;
}

.head {
	font-size: var(--font-size-sm);
}

.checkbox {
	display: flex;
}

.text {
	margin-top: 6px;
}

.errors {
	padding-left: 4px;
	font-size: var(--font-size-sm);
	color: var(--color-primary-error-red-2);
}

.pointer {
	cursor: pointer;
}

.itemname {
	font-size: var(--font-size-sm);
	font-weight: 600;
}

.paddingname {
	padding-right: 8px;
}

.product {
	font-size: var(--font-size-sm);
}

.menuwidth {
	:global(.ui_select_options_container) {
		min-width: 250px;
	}
}

.menuwidthmd {
	:global(.ui_select_options_container) {
		min-width: 150px;
	}
}

.icon {
	margin-left: 8px;
}

.marginright {
	margin-right: 10px;
}

.duplicate {
	display: flex;
	justify-content: center;
	padding-top: 6px;
	cursor: pointer;
}

.link {
	padding: 8px;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
}

.flexcol {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.container {
	:global {
		.ui_popover_container {
			width: 130px;
		}
	}
}

.credit {
	:global {
		.ui_input_container {
			border: 1px solid var(--color-tertiary-success-green-1);
		}
	}
}

.debit {
	:global {
		.ui_input_container {
			border: 1px solid var(--color-primary-error-red-2);
		}
	}
}

.sageid {
	padding-left: 8px;
	font-size: var(--font-size-sm);
	color: var(--color-accent-orange-2);
}

.tradeparty {
	display: flex;
	flex-direction: column;
	padding: 4px;
	font-weight: 600;
}

.label {
	font-size: var(--font-size-lg);
	font-weight: 500;
}
