.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 112px;
	padding: 20px;
	margin-top: 6px;
	background-color: #fff8f1;
	border-radius: 8px;
}

.text {
	margin-top: 6px;
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.contact_details {
	margin: 0 20px;
}

.flex {
	display: flex;
	align-items: center;
}
