.tech_container{
    margin:12px;    
}

.title {
	font-weight: 600;
    text-transform: uppercase;
}

.sub_heading {
	font-weight: 300;
    font-size: 12px;
}

.date_heading{
    font-weight: 500;
}

.access_removal_container{
    background-color: #f9f9f9;
    padding: 16px 12px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.terms_conditions_container{
    background-color: #fff;
    border-radius: 16px;
    margin-left: 10px;
}

.provide_clearance_btn {
    color: #fff ;
    font-size: 16px;
    font-weight: 500;
}

.provide_clearance_btn_container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 12px;
}

.modal_icon_container {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.modal_message_text{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal_msg_highlight {
    color: #221F20;
    text-align: center;
    font-weight: 600;
}

.cancel_modal_btn {
    display: flex;
    padding: 7px 12px;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.proceed_modal_btn {
    display: flex;
    padding: 7px 12px;
    align-items: center;
    border-radius: 6px;
    background: #221F20;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin-left: 12px;
    color: #FFF;
}
