.container {
	display: flex;
	flex-direction: column;
	margin: 24px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.label {
	width: 100%;
	padding: 24px 16px 0 32px;
	font-weight: 700;
}

.label_approved {
	display: flex;
	gap: 8px;
	align-items: center;
	width: 100%;
	padding: 24px 16px 0 32px;
	font-weight: 700;
	color: #6cc077;
}

.label_rejected {
	display: flex;
	gap: 8px;
	align-items: center;
	width: 100%;
	padding: 24px 16px 0 32px;
	font-weight: 700;
	color: red;
}

.small_hr {
	width: 20%;
	margin: 8px 24px;
	border: 1px solid #ed3726;
	border-radius: 30px;
}

.hr {
	width: 100%;
	margin: 16px 0;
	border: 1px solid #ed3726;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button_container {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 24px 16px 0 32px;
}

.billing_party_container {
	padding: 24px 16px 16px 32px;
}

.main_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24px 24px 0;
}

.footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 24px;
}

.instructions {
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
}

.tooltip {
	margin-top: 4px;
}

.form_style {
	font-size: 10px;
}

.completed {
	font-weight: 600;
	color: red;
}

.margin_bottom {
	margin-bottom: 8px;
}

.flex_center {
	display: flex;
	align-items: center;
}
.document{
	display: flex;
	margin-bottom: 8px;
}
.button {
margin-left: 10px;
}

.bold_data {
	font-weight: 600;
}
