.main {
  display: flex;
  justify-content: space-between;
}
.segment {
  display: flex;
}
.filterData {
  margin-top: 20px;
  margin-right: 10px;
}
.filterDataUrgent {
  margin-top: 20px;
}

.search {
  :global {
    width: 336px;
    margin-right: 20px;
    .ui_input_container {
      height: 36px;
    }
  }
  ::placeholder {
    font-size: 11px;
    color: #cacaca;
  }
}
.searchFilter {
  display: flex;
  margin-top: 20px;
}
