.globe_container{
    border-radius: 600px;
    cursor: -webkit-grab; 
    cursor:    -moz-grab; 
    cursor:         grab; 
}

.globe_container:active{
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}