.table .ui-table .ui-table-body-cell {
	color: #333;
	background: #fff !important;
	background-color: #fff !important;
	border-bottom: 1px solid #eceff8;
}

.table .ui-table .ui-table-head-cell {
	min-width: 100px;
	border-bottom: 1px solid #eceff8;
}
