.container {
	display: flex;
	align-items: center;
	width: 90%;
	padding: 10px 24px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);
}

.po_number {
	font-size: 12px;
	font-weight: 400;
	color: #979797;
	white-space: nowrap;
}

.customer {
	width: 18%;
	padding-right: 20px 4px;
	border-right: 1px solid #e0e0e0;
}

.port_details {
	display: flex;
	justify-content: center;
	width: 55%;
	margin-right: 30px;
	border-right: 1px solid #e0e0e0;
}

.business_name {
	width: fit-content;
	max-width: 100px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dots {
	margin-left: 5px;
}

.tooltip {
	width: fit-content;
	max-width: 500px;
	overflow: hidden;
	font-size: 10px;
	font-weight: 500;
	color: #828282;
	text-align: start;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
	text-decoration: underline;
	cursor: pointer;

	:hover {
		box-shadow: 0 0 8px rgb(0 0 0 / 20%);
	}
}

.three_dot_icon {
	width: 16px;
	height: 16px;
	cursor: pointer;
	fill: var(--color-primary-error-red-2);
}

.cancel_button {
	font-size: var(--font-size-md);
	cursor: pointer;
}
