.container {
	padding-bottom: 10px;
	font-size: var(--font-size-sm);
}

.tooltop_customise {
	height: auto;
	padding: 0;
	font-size: var(--font-size-md);
	color: var(--color-tertiary-lavendar-2);
	background: none;
	border: none;
}
