.tag_decoration {
    background: white;
   border: 1px solid #FFE4AF;
    border-radius: 16px; 
    font-weight: 600;
 cursor: pointer;   
    &:hover {
        box-shadow: 2px 2px 4px #848282;
        cursor: pointer;
      }
}
.font_decoration {
    font-weight: 600;
}