.details_form {
	display: flex;
	justify-content: space-between;
	padding: 8px 12px;
	background-color: var(--color-secondary-4);
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.form_item_container {
	flex: 1;
	margin: 0 8px 8px 0;
}

.errors {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-1);
}

.form_label {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.update_button {
	margin-top: 20px;
}
