.form_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;

	& > div {
		flex: 0 0 45%;
		margin: 4px 0;
	}

	::placeholder {
		font-size: 12px;
	}
}

.label {
	margin: 8px 0;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0.02em;
}

.button_wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;

	& > button:first-child {
		margin-right: 8px;
	}
}

.errors {
	font-size: 12px;
	color: red;
}
