.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 32%;
	padding: 12px 0;
	margin: 12px 24px 0;
	border-bottom: 1px dotted #bdbdbd;
}

.company_logo_name {
	position: absolute;
	left: 50%;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: var(--black-80, #4f4f4f);
	text-align: center;
	letter-spacing: 0.28px;
}

.date_type {
	display: flex;
}

.shipping_line {
	font-size: 16px;
	font-weight: 600;
	color: var(--black-80, #4f4f4f);
	letter-spacing: 0.32px;
}

.updated_on {
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: var(--black-60, #828282);
	text-align: center;
	letter-spacing: 0.28px;
}
