.container {
	padding: 16px;
	background: var(--color-secondary-5);
	border-radius: 8px;
}

.chart_title {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	color: var(--color-secondary-greyscale-1);
}

.single_chart_container {
	display: flex;
	height: 180px;
}

.single_chart_container g rect {
	stroke: #f8f2e7;
	stroke: transparent;
}

.chartCount {
	margin-left: 8px;
	font-weight: 600;
	color: #393f70;
}

.contacts {
	width: 50%;
}

.contacts_header {
	display: flex;
	width: 60%;
}
