.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 12px;
}

.heading {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

.content_container {
	position: relative;
	width: 100%;
}

.arrow_container {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	height: 98%;
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;

	@media (max-width: 800px) {
		display: flex;
	}
}

.right {
	right: 0;
	background: linear-gradient(to right, transparent, rgb(200 200 200 / 60%));
}

.left {
	left: 0;
	background: linear-gradient(to left, transparent, rgb(200 200 200 / 60%));
}

.right:hover {
	background: linear-gradient(to right, transparent, rgb(190 190 190 /70%));
}

.left:hover {
	background: linear-gradient(to left, transparent, rgb(190 190 190 /70%));
}

.arrow {
	padding: 0 12px;
	font-size: 30px;

	@media (max-width: 768px) {
		padding: 0 8px;
		font-size: 22px;
	}
}

.content_inner_container {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.content_inner_container::-webkit-scrollbar {
	display: none;
}

.content_item {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
