.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 10px;
	font-weight: 600;
	color: #4f4f4f;
	border-bottom: 1px solid #f0f0f0;
}

.refresh_icon {
	width: 18px;
	height: 18px;
	margin-right: 4px;
	cursor: pointer;
}

.filter_icon {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	cursor: pointer;
}

.filter_container {
	display: flex;
	align-items: center;

	:global {
		.tippy-content {
			width: 180px;
			padding: 0;
		}

		.ui_popover_container {
			padding: 0;
		}
	}
}
