.container{
	height: fit-content;
	margin: 22px 22px 0px 0px;
	border: 1px solid #f9da7f;
	border-radius: 4px;

	&.cancelled {
		border-color: #333333;
	}

	&.completed {
		border-color: #ded7fc;
	}

	&.confirmed_by_service_provider {
		border-color: #ded7fc;
	}

	&.confirmed_by_importer_exporter {
		border-color: #ded7fc;
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.heading{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #363e6e;

	&.cancelled {
		color: #bdbdbd;
	}
}

.sub_heading{
	font-weight: 400;
	font-size: 10px;
	line-height: 20px;
	color: #363e6e;

	&.cancelled {
		color: #bdbdbd;
	}
}

.container_heading{
	background: #fef6df;
	border-radius: 4px;
	padding: 12px 16px 10px 20px;

	&.cancelled {
		background: #f2f2f2;
	}

	&.completed {
		background: #f6f5fe;
	}
	&.confirmed_by_service_provider {
		background: #f6f5fe;
	}
	&.confirmed_by_importer_exporter {
		background: #f6f5fe;
	}
}

.expander{
	width: 100%;
	background: #cbcff5;
	border-radius: 0px 0px 4px 4px;
	color: #5936f0;
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 0px;
	cursor: pointer;
}