.container {
	padding: 16px 12px;
	margin-top: 24px;
	background: #f9f9f9;
	border-radius: 16px;
}

.title {
	font-weight: 500;
}

.sub_title {
	font-size: 12px;
	font-weight: 200;
}

.details {
	padding: 16px 12px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px;
}

.avatar {
	color: #ee3425 !important;
	border-radius: 50%;
	size: 40px;
}

.skip_all {
	display: flex;
	justify-content: space-between;
}

.error {
	font-size: 12px;
	color: red;
}
