.container{
    background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
    margin: 16px 0px;
	padding: 16px;

	display: flex;
	flex-direction: column;

    @media (min-width: 768px){
        flex-direction: row;
		align-items: flex-start;
    }
}

.content_container{
	display: flex;
	margin-bottom: 4px; 

	@media (min-width: 768px) {
		flex-direction: column;
		margin-bottom: 0;
		word-break: break-word;
	}
}

.email_id{
	font-size: 10px;
	color: #888fd1;
}

.label{
	color:#4F4F4F;
    opacity: 0.7;
    flex: 1;
    font-size: 12px;
    margin-bottom: 2px;
}

.value{
	color:#221F20;
	flex: 1;
	width: fit-content;
}

.reason{
	display: block;
	white-space: nowrap;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.svg_container {
    height: 100%;
    display: flex;
    align-items: center;
	cursor: pointer;
}

.content_container{
    display: flex;

    margin-bottom: 4px;
    
    @media (min-width: 768px) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
}


