
import { Checkbox } from '@cogoport/front/components';

.Page{
	width: 1400px;
	min-height: 606px;
	background-color: #ffffff;
	padding: 20px 32px;
	position: relative;
	flex-shrink: 0;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;

	.core-ui-radiogroup-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.core-ui-radio-radio-container {
		border-radius: 0px;
	}
	.ui-core-checkbox-icon-container {
		border: none;
	}
	.ui-core-checkbox-root {
		&:hover {
			border: 3px solid #000;
		}
		border: 2px solid #000;
		margin: 0px 10px;
	}
	.core-ui-radio-label {
		margin-left: 10px;
	}
	.core-ui-radio-radio-container {
		border: 2px solid #000;
	}
	.trade-doc-inner-page {
		outline: 1px #333 solid;
		position: relative;
		min-height: 550px;

		display: flex;
		flex-direction: column;
	}

	.trade-doc-bordered {
		outline: 1px #333 solid;
	}

	.background-color {
		background-color: #e4e4e4;
	}
	.bold-font {
		font-weight: bold;
	}
};

.FlexC{
	display: flex;
	flex-direction: column;
	&.contact_info {
		width: 50%;
		justify-content: space-between;
		border: 1px #333 solid;
	}
};

.Flex{
	display: flex;
	&.contact_info_space {
		margin-bottom: 20px;
		justify-content: space-between;
	}
};

.Block{
	border: 1px #333 solid;
	padding: 6px;
	&.freight_mode {
		display: flex;
		align-items: center;
		flex: 1;
	}
	&.amount_info {
		width: 50%;
		background-color: #e4e4e4;
		padding: 15px 6px;
		font-weight: bold;
	}
	&.sp_info {
		font-weight: bold;
		display: flex;
		justify-content: space-between;
	}
	&.cogosign {
		display: flex;
		flex-direction: column;
		flex: 1;
		font-weight: bold;
		justify-content: space-between;
		padding-top: 10px;
	}
	&.footer {
		flex: 1;
		background-color: #e4e4e4;
		text-align: center;
		font-weight: bold;
	}
	&.footer_instruction {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
	}
};
.PhoneInput = styled.input}
	width: 204px;
	border: 1px #333 solid;
	letter-spacing: 13.5px;
	:focus-visible {
		outline: none;
	}
};
.PINInput = styled.input}
	margin-left: 0px;
	border: 1px #333 solid;
	width: 123px;
	letter-spacing: 13.5px;
	:focus-visible {
		outline: none;
	}
};
.GSTInput = styled.input}
	margin-left: 0px;
	border: 1px #333 solid;
	width: 297px;
	letter-spacing: 12px;
	:focus-visible {
		outline: none;
	}
};

.Icon{
	padding-left: 12px;
	margin-right: 10px;
	position: relative;
};
.Text{
	padding-left: 12px;
	margin-right: 10px;
	position: relative;
};
.InnerDiv{
	display: flex;
	padding-left: 0px;
	position: relative;
};
.PinDiv{
	display: flex;
	/* margin-left: 49px; */
	padding-left: 0px;
	position: relative;
};
.StyledCheckbox = styled(Checkbox)}
	border: 0.5px solid black;
	/* outline: red; */
	&:hover {
		border: 2px solid black;
	}

	&:focus-within {
		border: 2px black;
		box-shadow: 0 0 0 1px #333333;
	}

	&.checked {
		border: 1px black;
		background-color: black;
	}
};
.LoadingStyle{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	backdrop-filter: blur(2px);
	z-index: 2;
};
.Head{
	display: flex;
	border: 1px #333 solid;
};
.HeadFirst{
	width: 35%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-left: 10px;
};
.HeadSecond{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
};
.HeadThird{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	width: 35%;
	padding-top: 6px;
	position: relative;
	bottom: 5px;
};
.Foot{
	display: flex;
	justify-content: space-between;
	border: 1px #333 solid;
	padding: 4px;
};
