.statisfaction_box {
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 13px;
	background-color: #fff;
	border-radius: 6px;
}

.heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #4f4f4f;
}

.sub_section {
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-top: 15px;
}

.icon_plus_number {
	display: flex;
	flex-direction: row;
}

.customers_numbers {
	padding: 4px;
	padding-left: 7px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #221f20;
}

.label {
	color: #828282;
}
