.title {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 500;
	color: #303b67;
}

.text {
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.flex_div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.service_name {
	margin-left: 12px;
}

.image {
	height: 35px;
	object-fit: cover;
}
