.container {
    border: 1px solid #fef199;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.contact_details {
    display: flex;
    align-items: center;

    :global {
        .ui_radiogroup_container {
            padding: unset;
            margin-top: 10px;
        }

        .ui_radio_container {
            padding-left: 0px;
            padding-right: 20px;
        }
    }
}

.yellow_bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FCDC00;
}

.main_container {
    margin-left: 44px;
}

.button_container {
    display: flex;
}