.table_container{
    font-size: 20px;
    width:40vw;

    :global{
        .ui_table_head_cell{
            font-weight: 600;
            font-size: 14px;
            color: #4F4F4F;
            padding: 10px 14px;
        }
        .ui_table_body_cell{
            font-size: 14px !important;
            font-weight: 500;
            padding: 16px 14px;
        }
        .ui_table_container{
            padding: 0 !important;
        }
    }
}

.text1{
    font-weight: 600;
    font-size: 16px;
    color: #849E4C;
    margin: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
}

.postive_container{
    font-weight: 600;
    font-size: 16px;
    color: #849E4C;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.negative_container{
    font-weight: 600;
    font-size: 16px;
    color: #EE3425;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
