.name_input {
    display: flex;
    justify-content: space-between;
    div{
        font-size: 12px;
        color: #BDBDBD;
    }
    :global {
        .ui_input_container {
            width: 200px;
        }
    }
}

.pagination {
    display: flex;
    margin-top: 8px;
}
.pip_select{
	display: flex;
	justify-content: center;
}

.pip_select_btn{
	border: solid 1px #88CAD1;
	margin: 8px;
}
