.container {
	margin: 20px 0;
}

.border_bottom {
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 1px solid #cbcff5;
}

.col {
	width: 50%;
	padding: 10px;
}

.border_right {
	border: 0.1px solid #cbcff5;
}

.flex_div {
	display: flex;
}
