.task_container {
	margin-left: 8px;

	.core-ui-select__menu {
		width: 100% !important;
		min-width: 100% !important;
	}
}

.button_wrap {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.form {
	max-height: calc(100vh - 39.5vh);
	overflow-y: auto;
}
