.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 24px;
	margin: 8px;
	background-color: #fff;
	border-radius: 4px;
}

.content {
	display: flex;
	align-items: center;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.main_text {
	margin: 0 12px;
	font-size: 20px;
	font-weight: 600;
	color: var(--color-accent-orange-2);
}

.currency_text {
	font-size: 16px;
	font-weight: 700;
}

.currency_select {
	min-width: 300px;
	padding: 16px;
}
