.heading {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 600;
}

.container_view {
	display: flex;
	justify-content: space-between;
	height: fit-content;
	min-height: 660px;
	margin-top: 12px;
}

.request_heading {
	align-items: center;
	margin-bottom: 10px;

	h3 {
		margin: 24px 0 0;
	}
}

.red_line {
	width: 110px;
	height: 2px;
	background-color: #f00;
}

.emptyContainer {
	padding: 30px;
}

.noData {
	display: flex;
	justify-content: center;
	padding: 50px;
	font-size: var(--font-size-xl);
}

.saas {
	padding: 12px 24px;
	background-color: #fff;
}
