.quantity {
	font-weight: 600;
	color: #f68b21;
}

.vertical_rule {
	width: 1px;
	height: 50px;
	background-color: #e0e0e0;
}

.financial {
	margin-right: 30px;
}

.operational {
	margin-left: 8px;
}

.operationally {
	margin-right: 16px;
}

.main_heading {
	margin-right: 14px;
}

.fix_layout {
	width: 84px;
}

.profit_icon {
	width: 14px;
	color: #34c759;
	transform: rotate(-45deg);
}

.loss_icon {
	color: #ed3726;
	transform: rotate(45deg);
}
