.feedback_section {
	height: 90vh;
	overflow: auto;
	background-color: transparent;
}

.feedback_action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	border-radius: 4px;
}

.back_action {
	display: flex;
	align-items: center;
}

.feedback {
	display: flex;
	align-items: center;
	width: max-content !important;
	min-width: unset !important;
	padding: 0 !important;
	margin-right: 4px;

	svg {
		width: 28px;
		height: 28px;
	}
}

.title {
	position: relative;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 16px;
	font-weight: 600;

	&::after {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 70%;
		content: "";
		background-color: #000;
		border-radius: 4px;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 6px;
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 8px;
	margin-top: 8px;
}
