.tab_container {
	position: relative;
}

.select_wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	min-width: 250px;
	transform: translate(-50%, -10%);
}

.allocate_button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.select_wrapper .core-ui-select__placeholder {
	color: #cbcff5 !important;
}

.select_wrapper .core-ui-select__control {
	border: 1px solid #cbcff5;
}

.select_wrapper .core-ui-select__control::placeholder {
	color: #cbcff5;
}

.select_wrapper .core-ui-select__control:hover {
	border: 1px solid #5936f0 !important;
}

.select_wrapper .core-ui-select__control:focus-within {
	border: 1px solid #5936f0 !important;
}

.select_wrapper .core-ui-select__indicator.core-ui-select__clear-indicator {
	padding: 0 !important;
}
