.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	font-weight: 400;
	color: #000;
	text-align: right;
}

.type_label {
	@media (max-width: 768px) {
		font-size: 12px;
		font-weight: 600;
	}
}

.cost_label {
	@media (max-width: 768px) {
		font-size: 12px;
	}
}
