.container {
	margin: -24px -20px;
	background: #fff;
}

.breadcrumb {
	position: sticky;
	top: 86px;
	z-index: 2;
	padding: 12px 28px;
	background-color: #fff;
}

.Breadcrumb_item {
	font-weight: 500;

	&.active {
		font-weight: 700;
		color: #ff7f00;
	}
}
