# Catchall
* @Cogoport/platform-engineering @prashantp01 

# Github Actions
.github/ @Cogoport/platform-engineering @prashantp01

# Packages
cogo-control/ @Cogoport/platform-engineering @prashantp01
common/ @Cogoport/platform-engineering @prashantp01
common/globalization @Cogoport/platform-engineering @riyazKhanCogoport @Rkoshta79 @akashcogoport @sushilr29
scripts/ @Cogoport/platform-engineering @prashantp01
packages/ @Cogoport/platform-engineering @prashantp01
packages/shipment-fcl-freight @Cogoport/platform-engineering @ajeets585
packages/booking-desk @Cogoport/platform-engineering @ajeets585
packages/bn-salvage @Cogoport/platform-engineering @ajeets585
packages/access-management @Cogoport/platform-engineering @prashantp01
packages/authentication @Cogoport/platform-engineering @prashantp01
packages/locations @Cogoport/platform-engineering @prashantp01
packages/business-finance @Cogoport/platform-engineering @bhanunadar
packages/allocation @Cogoport/platform-engineering @cogoparth @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @Cogoport/platform-engineering @ssngurjar
packages/my-profile @Cogoport/platform-engineering @prachidewangan26
packages/vendor-rm @Cogoport/platform-engineering @MrutyunjayaB @harshcogo1304 @shivanshi-cogoport
packages/my-incident @Cogoport/platform-engineering @bhanunadar
packages/cogo-one @Cogoport/platform-engineering @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @Cogoport/platform-engineering @SDineshKumarCogoport
packages/enrichment @Cogoport/platform-engineering @cogoparth @mohit-cogo @Harshitcogo
packages/performance-management @Cogoport/platform-engineering @cogoparth @Harshitcogo @shridharDB @gurramgadda-sai-nithin
packages/ground-ops @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/air-repository @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/cogo-academy @Cogoport/platform-engineering @shivanshi-cogoport
packages/cogo-academy/page-components/ControlCenter @Cogoport/platform-engineering @shivam-cogo @prachidewangan26
packages/cogo-academy/page-components/FAQs @Cogoport/platform-engineering @shivam-cogo @prachidewangan26
packages/unified-dashboard @Cogoport/platform-engineering @akshaysawant23 @vineet-cogo
