# Catchall
* @prashantp01 @brayn003

# Github Actions
.github/ @prashantp01

# Packages
cogo-control/ @prashantp01
common/ @prashantp01
scripts/ @prashantp01
packages/ @prashantp01
packages/shipment-fcl-freight @ajeets585
packages/access-management @prashantp01
packages/authentication @prashantp01
packages/locations @prashantp01
packages/business-finance @aniljaiswal
packages/allocation @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @ssngurjar
packages/my-profile @prachidewangan26
packages/vendor-rm @MrutyunjayaB @harshcogo1304 @shivanshi-cogoport
packages/my-incident @aniljaiswal
packages/cogo-one @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @SDineshKumarCogoport
packages/enrichment @cogoparth @mohit-cogo @Harshitcogo
packages/ground-ops @vinodtalapa @ankitcogoport
packages/cogo-academy @shivam-cogo @prachidewangan26