.container {
	:global {
		.ui_datepicker_container {
			width: 180px;
		}

		.react-datepicker__input-container input {
			height: 25px;
			font-size: 12px;
		}

		.react-datepicker__input-container .react-datepicker-ignore-onclickoutside {
			height: 25px;
		}

		.react-datepicker__close-icon {
			display: none;
		}

		.react-datepicker-popper {
			z-index: 6;
		}
	}
}

.add_events {
	margin: 24px 20px 20px 10px;
}

.cancel_events {
	margin: 10px 20px 20px 10px;
}

.header {
	display: flex;
	align-items: center;
	margin: 4px 0 0 2px;
}

.title {
	font-weight: 600;
}

.count {
	padding: 2px 6px;
	margin-left: 6px;
	font-size: 10px;
	color: #fff;
	background: #f68b21;
	border-radius: 6px;
}

.selectable_date {
	padding-bottom: 12px;
	font-size: 12px;
	color: #828282;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}

.sedual_event {
	padding-bottom: 12px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.create_event {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 6px;
	color: #828282;
	border-bottom: 1px solid #e0e0e0;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	cursor: pointer;
}

.text {
	margin-left: 4px;
	font-size: 12px;
	color: var(--link-blue, #034afd);
	text-decoration-line: underline;
}

.create_label {
	font-size: 12px;
	font-weight: 600;
	color: #221f20;
}
