.container {
	display: flex;
	width: calc(100% - 30px);
	margin-left: 10px;

	:global {
		.ui_multiselect_input_control {
			display: flex;
		}
	}

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.org_select {
	width: 47% !important;

	@media (max-width: 576px) {
		width: 100% !important;
	}
}

.users_select {
	width: 53% !important;
	margin: 0 0 0 10px;

	@media (max-width: 576px) {
		width: 100% !important;
		margin: 4px 0 0;
	}
}

.users_cc_select {
	width: 100%;
}

.agent_label {
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}

.lower_label {
	font-size: 10px;
	color: #838080;
}

.option_container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	>div[aria-label="tooltip"] {
		display: flex;
		align-items: center;
	}
}

.poc_data {
	font-size: 10px;
	border-bottom: 1px solid #e0e0e0;

	>div {
		padding: 2px 0;
	}

	span {
		padding-right: 4px;
		font-size: 12px;
		font-weight: 600;
	}

	&:last-child {
		border-bottom: unset;
	}
}

.tooltip_container {
	max-width: 300px !important;
	overflow-y: auto;
}

.poc_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-height: 300px !important;
}
