.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 60px 30px 36px;
	background: #fff;
	border-radius: 10px;
}

.heading {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 22px;
	font-weight: 600;
	color: #000;
}

.content {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 16px;
	color: #000;
	letter-spacing: 0.02em;
}

.icn_container {
	min-width: 10%;
	max-width: 17%;

	@media (max-width: _md) {
		display: none;
	}
}

.wrapper {
	max-width: 45%;

	&.side {
		max-width: 100%;
	}

	@media (max-width: _md) {
		max-width: 100%;
	}
}
