.detailsCon {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	height: fit-content;
	padding: 15px 10px;
	background: #f9f9f9;
}

.detailLeft {
	margin-right: 47px;
}

.lead {
	margin-top: -10px;
	font-size: 12px;
	font-weight: 400;
	line-height: 127.19%;
	color: #828282;
}

.detailRight {
	margin-left: 47px;
}

.pricetext {
	width: fit-content;
	height: 18px;
	padding: 2px 10px;
	background: #f2f2f2;
	border-radius: 5px;
}

.detailKey {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: #4f4f4f;
}

.detailsText {
	margin-left: 4px;
	font-size: 14px;
	font-weight: 400;
	color: #393f70;
}

.balanceKey {
	display: flex;
	align-items: start;
	padding: 0 10px 15px;
	font-size: 14px;
	font-weight: 500;
	color: #5936f0;
	background: #f9f9f9;
}

.detailsBal {
	font-size: 14px;
	color: #5936f0;
}

.priceText {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: #5936f0;
}

.serviceQuotation {;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: #dcdcdc !important;
}

.text {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #313131;
}

.quotationDetails {
	display: flex;
}
