.container {
	width: 280px;
	height: 300px;
	margin: 4px 10px;
	background: #fff;
	border: 1px solid #f3f3f3;
	border-radius: 8px;
}

.main_block {
	width: 100%;
	padding: 10px 16px;
}

.footer_block {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	background: #f3fafa;
}

.footer_right_block {
	width: 100px;
	overflow: hidden;
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.footer_left_block {
	width: 145px;

	:global {
		.ui_pill_text {
			color: #fff;
		}
	}
}

.service_provider_details {
	display: flex;
	align-items: center;

	:global {
		.ui_avatar_container {
			border-radius: 50% !important;
		}

		.ui_avatar_text {
			color: #000;
			background: #cfeaed;
		}
	}
}

.service_provider_name {
	width: calc(100% - 100px);
	margin-left: 4px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.logo_styles {
	margin-right: 10px;
}

.price_details {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.amount {
	margin-right: 4px;
	font-size: 15px;
	font-weight: 600;
}
