
.button_wrap{
	margin: 20px 0px;
	display: flex;
	justify-content: flex-end;

	.core-ui-button-root {
		margin-left: 10px;
		text-transform: capitalize;
		width: 100px;
	}
};

.heading{
	color: #393f70;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 18px;
};
