.frequency {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}

.date {
	width: 160px;
	margin-top: 12px;
}

.timezone {
	width: 92px;
	margin: 0 8px;
}

.empty_space {
	height: 98px;
}

.chips_container {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 80%;
	height: 54px;
	margin-top: 12px;
}

.timezone_container {
	display: flex;
	align-items: center;
}

.filter_container {
	margin: 4px 20px;
}

.cycleName {
	width: 500px;
	margin-bottom: 12px;
}

.cycleType div {
	padding: 8px 44px;
}

.cogoEntityId div {
	padding: 8px 44px;
}

.dueOutstandingCurrency > div {
	margin-right: 32px;
}

.triggerType div {
	padding: 8px 44px;
}
