.frequency {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.date {
	width: 160px;
	margin-top: 12px;
}

.timezone {
	width: 132px;
	margin-right: 8px;
}

.empty_space{
	height: 98px;
}
