.frequency {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}

.date {
	width: 160px;
	margin-top: 12px;
}

.timezone {
	width: 92px;
	margin: 0 8px;
}

.empty_space {
	height: 98px;
}

.chips_container{
	margin-top    : 12px;
    display      : flex;
	flex-wrap     : wrap;
	height       : 54px;
	align-content : space-between;
	width: 80%;
}
