.container {
	width: 100%;
}

.chapter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 0px;

    &:hover{
        cursor: pointer;
    }
}

.active{
    background: #FFFCE6;
}

.number {
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	background: #4f4f4f;
	border-radius: 50%;
}

.wrapper {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.icon{
	margin-right: 6px;
}

/* .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.name {
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.duration {
	margin-left: 8px;
	font-size: 10px;
	color: #4F4F4F;
}

.databox_image {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background-color: black;
	border-radius: 50%;
	margin-right: 10px;
}
