.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
}

.go_back_container {
    display: flex;
    justify-content: flex-start;
}

.redirect_container {
    display: flex;
    align-items: center;
    cursor: pointer;

    .text {
        font-size: 14px;
		font-weight: bold;
		margin: 0px;
    }
}

.header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
}

.form_container {
    flex:1;
    display: flex;
    margin-top: 16px;
    max-height: 90%;
    /* padding: 16px 0px; */

    background-color: #ffffff;
    border-radius: 8px;

    box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.department_status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
    overflow-y: scroll;

    border-radius: 8px;

    border-right: 1px solid #6fa5ab;

    background-color: #f3fafa;

    :global {
        .ui_accordion_title {
            width: 100%;
        }

        .ui_accordion_header {
            background: #ffffff;
        }
    }
}

.accordion {
    padding: 8px;
    margin: 8px 8px 0;
    border-radius: 8px;
    background-color: #ffffff;
}

.department {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
        font-weight: bold;
        margin: 0px;
    }
}

.roles {
    margin: 0px 4px;

    .role:not(:last-child){
        border-bottom: 1px solid #efefef;
    }

    :hover {
        background-color: #f8f2e7;
    }
}

.role {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0px;

    :global {
        .ui_pill_container {
            background-color: #efefef;
        }

        .ui_pill_text {
            background-color: #efefef;
        }
    }
} 

.selected_designation {
    background-color: antiquewhite;
}

.form_section {
    max-height: 100%;
    overflow: scroll;
}

