
.change {
	display: none;
}	

.element_Container {
	padding: 16px;
	&:hover {
		border: 1px solid #88cad1;
		.change {
			display: flex;
			flex-direction: column;
			color: #222;
			position: absolute;
			right: 0;
			z-index: 2;	
			top: 0;
			/* transform: translateY(50%); */
		}
	}
}

