.header_left {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btnwrap .core-ui-button-root {
	width: 100px;
}

.entity_names {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.entity_name {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2px 4px;
	font-size: 12px;
	background-color: #f1efff;
	border-radius: 4px;
}

.btnwrap {
	/* position: absolute;
    right: 24px;
    bottom: 24px; */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #fff;
}

.select_container .core-ui-select__control {
	min-width: 200px;
	margin-left: 12px;
}
