.radio {
	width: 300px;
}

.input_container {
	width: 80%;
	margin: 16px 0 0 20px;

	:global {
		.ui_input_container {
			.ui_input_prefix {
				width: 50px;
			}

			.ui_input_suffix {
				width: 50px;
			}
		}
	}
}

.select_container {
	margin-top: 16px;
}

.button_container {
	display: flex;
	gap: 6px;
	justify-content: flex-end;
	margin-top: 8px;
}

.hr {
	width: 25%;
	border: 1px solid #ee3425;
}

.profit {
	font-size: 14px;
	font-weight: 600;
}

.profit_hr {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 24px 0 0;
}

.container {
	width: 350px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading_text {
	font-size: var(--font-size-xl);
	font-weight: 600;
}

.tabs_container_element {
	display: flex;
	min-width: 332px;
	overflow: hidden;

	:global {
		.ui_tab_list_container {
			flex-direction: column;
			width: 52% !important;
			max-height: 250px;
			margin-top: 16px;
		}

		.ui_tab_container {
			width: 100%;
			max-height: 40px;
		}

		.ui_tabs_tabpanel {
			height: 268px;
			overflow-y: scroll;
		}
	}
}

.radio_group_section {
	display: flex;
	flex-direction: column;

	/* margin-left: 16px; */
	font-size: var(--font-size-md);
}

.btn_group_section {
	display: flex;
	min-width: 140%;
	margin: 16px 8px;

	:global {
		.ui_pill_container {
			padding: 4px;
			border: 1px solid;
		}
	}
}

.main_content {
	display: flex;
	width: 100%;
}

.profitability_text_style {
	max-width: 80%;
	margin-left: 20px;
	word-break: break-word;
	word-wrap: break-word;
}
