.filters_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	:global {
		.ui_select_display_container {
			width: 160px;
		}

		.ui_input_container {
			max-width: 180px;
		}
	}
}

.left_container{
	display: flex;
}

.right_container{
	display: flex;
}

.department_select {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.sub_container{
	display: flex;
}