.filters_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	:global {
		.ui_select_display_container {
			width: 140px;
		}

		.ui_input_container {
			width: 160px;
		}
	}
}

.left_container {
	display: flex;
	flex-wrap: wrap;
}

.right_container {
	display: flex;
	flex-wrap: wrap;
}
