.username {
	margin: 0;
	font-size: 16px;
	font-weight: 900;
}

.points_till_now {
	margin: 0;
	font-size: 14px;
}

.progress_header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.date {
	font-size: 12px;
	color: #828282;
}

.heading {
	font-size: 14px;
}

.progress_bar {
	position: relative;
	width: 300px;
	height: 8px;
	background-color: #f2f3fa;
	border-radius: 4px;
}

.progress {
	height: 6px;
	border-radius: 4px;
}

.target_line {
	position: absolute;
	top: 0;
	left: 75%;
	width: 1px;
	height: 8px;
	background-color: #7278ad;
}

.target {
	position: absolute;
	left: calc(75% - 12px);
	font-size: 12px;
}
