.container {
	max-height: 600px;
	padding: 4px;
	overflow: scroll;
}

.heading {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #333;
}

.button_container {
	display: flex;
	justify-content: right;
	padding-top: 12px;
}

.sub_heading {
	font-size: 12px;
	line-height: 16px;
	color: #828282;
}

.layout_container {
	padding: 10px;
	margin-top: 4px;
	border: 1px solid #333;
}
