.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.container::-webkit-scrollbar {
	display: none;
}

.title {
	font-size: 14px;
	font-weight: 500;
	color: #4f4f4f;
}

.note_editor {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 158px;
	margin-top: 16px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);

	:global {
		.ui_input_container {
			height: 120px !important;
		}

		.ui_input_container.ui_ps_size_md .ui_input_control {
			font-family: Poppins, sans-serif;
			font-size: 12px !important;
		}
	}
}

.editor_header {
	width: 100%;
	height: 10px;
	background: #cfbc93;
	border-radius: 4px 4px 0 0;
}

.toggle_div {
	display: flex;
	width: 100%;
	margin-top: 24px;
}

.notes_container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100px;
	padding: 8px 12px;
	margin-top: 12px;
	background: #fff;
	border-radius: 6px;

	:global {
		.ui_buttonicon_container {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 10px;
}

.note_time {
	font-size: 10px;
	color: #4f4f4f;
}

.created_by {
	margin-left: 4px;
	font-size: 10px;
	color: #4f4f4f;
}

.note_footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 5px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.submit_button {
	display: flex;
	align-items: center;
	padding: 0 6px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	&:hover {
		background: #fffce6;
		border: 1px solid #fde74d;
	}
}

.content {
	display: flex;
	width: 95%;
	min-height: 40px;
	overflow-y: scroll;
	font-size: 12px;
	text-overflow: ellipsis;
	word-break: break-word;
	white-space: normal;
	cursor: pointer;
}

.wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 250px;
	max-height: 400px;
	overflow-y: scroll;
}
