.container {
	margin-bottom: 44px;

	:global {
		.ui_multiselectt_options_container {
			z-index: 3;
		}

		.react-datepicker__aria-live {
			display: none;
		}
	}
}

.header {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: 600;
}

.flex {
	display: flex;
	gap: 20px;
}

.text {
	color: #4f4f4f;
}

.form_container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.label {
	justify-content: space-between;
	margin-bottom: 4px;
	font-weight: 500;
}

.partial_load {
	display: flex;
	align-items: center;
	margin-top: 28px;
	font-weight: 600;

	:global {
		.ui_chips_container {
			flex-wrap: wrap;
		}

		.ui_chip_container svg {
			display: none;
		}

		.ui_chip_container.ui_ps_themeType_primary {
			padding: 14px 6px;
			background-color: #fff;
			border: 1px solid #ececec;
			border-radius: 28px;

			&:hover {
				background-color: #fff;
				border: 1px solid #ececec;
			}
		}

		.ui_chip_container.ui_ps_themeType_secondary {
			padding: 14px 6px;
			font-weight: 600;
			background-color: #fcdc00;
			border: 1px solid #fcdc00;
			border-radius: 28px;

			&:hover {
				background-color: #fcdc00;
				border: 1px solid #fcdc00;
			}
		}

		.ui_pill_container {
			margin: unset;
			margin-left: 8px;
			cursor: pointer;
			border-radius: 24px;
		}
	}
}

.flex_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
