.container {
	width: 100%;
	border-radius: 6px 6px 6px 0;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.header_employee_name {
	width: 23%;
	padding: 12px;
}

.employee_name {
	width: 23%;
	padding: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.attendance_date {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: center;
	width: 11%;
	padding: 12px;
}

.header_attendance_date {
	width: 11%;
	padding: 12px;
}

.header_container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
}

.attendace_time_container {
	display: flex;
	align-items: center;
}

.fw_500 {
	font-weight: 500;
}

.present_color {
	background: #f7faef;
}

.absent_color,
.hda {
	background: #fdebe9;
}

.weekly_off_color {
	background: #f8c7a9;
}

.invalid_color {
	background: #e0e0e0;
}
