.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 30%;
}

.header_flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	margin: 15px 0 5px;
	cursor: pointer;
	fill: #4f4f4f;
}

.conference_header {
	font-size: 11px;
	color: #4f4f4f;
	user-select: none;

	>span {
		margin-left: 3px;
		font-size: 9px;
		font-weight: 600;
	}
}

.icon_styles {
	width: 12px;
	height: 12px;
	margin-left: 3px;
	transition: transform 0.3s ease;
	transform: var(--deg);
}

.attendees_div {
	height: var(--height);
	margin-bottom: 10px;
	overflow-y: auto;
	transition: height 0.3s ease;
}

.attendees_div::-webkit-scrollbar {
	display: none;
}

.icon_styles_attendee {
	width: 13px;
	height: 13px;
	margin-left: 10px;
}

.attendee_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.name {
	margin-left: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
	user-select: none;
}

.connecting_text {
	margin-left: 10px;
	font-size: 10px;
	color: #f68b21;
	user-select: none;
}

.common_flex {
	display: flex;
	align-items: center;
}
