.bold_text {
	font-weight: 500;
	color: #393f70;
}

.div {
	margin: 5px 0;
	font-size: var(--font-size-lg);
	color: #393f70;
}

.underLined_text {
	text-decoration: underline;
}

.button_wrap {
	display: flex;
	justify-content: flex-end;
	margin: 10px 0;

	& > button:first-child {
		margin-right: 16px;
	}
}
