.container {
	display: flex;
	align-items: center;
}

.container > div {
	margin-left: 10px;
}

.toggle_container {
	:global {
		.ui_toggle_container {
			align-items: center;
			padding: 0 10px;
		}

		.ui_toggle_offlabel {
			color: var(--color-secondary-greyscale-2);
		}
	}
}

.input_container {
	:global {
		.ui_input_container {
			min-width: 250px;
			padding-right: 6px;
		}
	}
}

.popover_container {
	:global {
		.ui_popover_container {
			width: 350px;
		}

		.tippy-content {
			width: 100%;
		}
	}
}

.popover_button_text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button_text {
	margin-left: 8px;
	font-size: var(--font-size-lg);
}

.circle {
	position: absolute;
	right: 16px;
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 50%;
}

.filter_text {
	margin-right: 8px;
}

.filter_container {
	display: flex;
	justify-content: space-between;
}

.btn_div {
	position: relative;
	display: flex;
}

.button_div {
	margin-right: 16px;
}

.filter_container {
	display: flex;
	margin: 4px 0;

	&.custom_filter{
		flex-direction: column;
	}
}

.action_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 6px 16px 0; 
}

.action_text {
	font-size: var(--font-size-md);
	font-weight: 600;
}