.container {
	padding: 16px;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 6px;
}

.head {
	display: flex;
	justify-content: space-between;
	color: #4f4f4f;
}

.top_left_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service_icon {
	display: flex;
	align-items: center;
}

.service_name {
	margin-right: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.vertical_line {
	height: 20px;
	margin: 0 20px;
	border-right: 1px dashed #bdbdbd;
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 14px;
}

.port_details {
	display: flex;
	align-items: center;
}

.row {
	display: flex;
	align-items: center;
}

.port_name {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	letter-spacing: 0.02em;
}

.column {
	display: flex;
	flex-direction: column;
}

.port_code_color {
	color: #f2761b;
}
