.container {
	padding: 16px;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 6px;
}

.head {
	display: flex;
	justify-content: space-between;
	color: #4f4f4f;
}

.price_color {
	color: #ee3425;
}

.margin_line {
	width: 100%;
	margin: 14px 0 10px;
	color: #bdbdbd;
	border-top: 1px dashed;
}

.top_left_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service_icon {
	display: flex;
	align-items: center;
}

.service_name {
	margin-right: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.vertical_line {
	height: 20px;
	margin: 0 20px;
	border-right: 1px dashed #bdbdbd;
}

.pill_container {
	display: flex;
	align-items: center;
}

.pill {
	margin-right: 20px;
}

.body {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.port_details {
	display: flex;
	align-items: center;
	width: 45%;
}

.row {
	display: flex;
	align-items: center;
}

.port_name {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	letter-spacing: 0.02em;
}

.column {
	display: flex;
	flex-direction: column;
}

.port_code_color {
	color: #f2761b;
}

.shipment_details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 65%;
}

.content {
	display: flex;
	padding: 8px;
	font-size: 12px;
	color: #828282;
}

.content_value {
	margin-left: 6px;
	font-weight: 600;
	color: #221f20;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer_content {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #828282;
}
