.modal_container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9000;
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0006;
}

.modal_content {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 8px;
	box-shadow: 0 0 60px #627fac33;
	transform: translate(-50%, -50%);

	@media (max-width: 768px) {
		max-height: 500px;
		overflow: scroll;
	}
}

.modal_body {
	height: 90vh;
	padding: 16px;
	overflow-x: auto;
}
