.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.filter_container {
    display: flex;
}

.button_container {
    display: flex;
    :global(.ui_button_container.ui_ps_themeType_secondary:disabled) {
        border: none;
    }
}

.dropdown {
    margin-right: 16px;
    width: 200px;
    :global(.ui_4WsFV) {
        height: 32px;
    }
}

.button {
    margin-right: 18px;
}
