.$(NAMESPACE)_carousel_container {
	border-radius: 50%;

	&.$(PRESET)_size_sm {
		width: 8px;
		height: 8px;
		border: 1px solid var(--color-secondary-3);
	}

	&.$(PRESET)_size_md {
		width: 9px;
		height: 9px;
		border: 1px solid var(--color-secondary-3);
	}

	&.$(PRESET)_size_lg {
		width: 10px;
		height: 10px;
		border: 1px solid var(--color-secondary-3);
	}
	&.$(PRESET)_theme_primary {
		background-color: var(--color-purple);
	}
}
