.$(NAMESPACE)_modal_dialog {
	&.$(PRESET)_size_sm {
		width: 400px;
	}

	&.$(PRESET)_size_md {
		width: 600px;
	}

	&.$(PRESET)_size_lg {
		width: 800px;
	}

	&.$(PRESET)_size_fullscreen {
		width: 90%;
	}
}

.$(NAMESPACE)_modal_dialog_container {
	border-radius: 8px;
	box-shadow: 0 0 60px rgb(44 62 80 / 20%);

	&.$(PRESET)_theme_primary {
		background-color: white;
	}
}

.$(NAMESPACE)_modal_backdrop {
	background-color: rgb(57 63 112 / 30%);
}

.$(NAMESPACE)_modal_close {
	position: absolute;
}

.$(NAMESPACE)_modal_header {
	padding: 16px 48px 8px 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #333;
	border-bottom: 1px solid #ded7fc;
}

.$(NAMESPACE)_modal_footer {
	padding: 16px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.$(NAMESPACE)_modal_body {
	padding: 16px;
}
