.$(NAMESPACE)_status_container {
	justify-content: center;
	font-weight: 400;
	line-height: 150%;
	color: #2c3e50;

	/* transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	will-change: color, background-color, border-color; */

	&.$(NAMESPACE)_dot_lg {
		min-height: 24px;
		font-size: 16px;
	}

	&.$(PRESET)_size_md {
		min-height: 20px;
		font-size: 13px;
	}
	&.$(PRESET)_size_sm {
		min-height: 15px;
		font-size: 10px;
	}

	&.$(PRESET)_themeType_blue {
		background: var(--color-accent);
	}
	&.$(PRESET)_themeType_grey {
		background: var(--color-gray-3);
	}
	&.$(PRESET)_themeType_green {
		background-color: var(--color-green);
	}
	&.$(PRESET)_themeType_red {
		background-color: var(--color-red);
	}

	&:disabled,
	&[disabled],
	&.$(NAMESPACE)_disabled {
		color: #fff;
		background-color: #bdbdbd;
		border: none;
	}
}
