.header_container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px dashed #bdbdbd;
}

.left_section {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.createdon_text {
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}

.service_type {
	display: flex;
	align-items: center;
	width: 21%;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.pills_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
}
