.column {
	padding: 16px;
	margin: 12px 4px;
	box-shadow: 0 0 4px rgb(44 62 80 / 20%);
}

.flex {
	display: flex;
}

.jvnumb {
	flex: 1.6;
	width: calc(1.6*(100 / 12));
}

.jvtype {
	flex: 1;
	width: calc(1*(100 / 12));
}

.accdate {
	display: flex;
	flex: 1.3;
	width: calc(1.3*(100 / 12));
}

.entity {
	flex: 0.6;
	width: calc(0.6*(100 / 12));
}

.journal {
	flex: 1;
	width: calc(1*(100 / 12));
}

.exrate {
	flex: 1;
	width: calc(1*(100 / 12));
}

.legcurr {
	flex: 1;
	width: calc(1*(100 / 12));
}

.accord {
	flex: 0.2;
	width: calc(0.2*(100 / 12));
}

.curr {
	flex: 1;
	width: calc(1*(100 / 12));
}

.sorticons {
	display: flex;
	flex-direction: column;
	margin-left: 4px;
}

.dots {
	flex: 0.3;
	width: calc(0.3*(100 / 12));
}

.status {
	flex: 1;
	width: calc(1*(100 / 12));
}

.icon {
	cursor: pointer;
}

.flexend {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.posttosage {
	display: flex;
	padding: 8px 12px;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}
