.error {
	font-weight: 500;
	color: #cb6464;
}

.form {
	padding: 10px;
	overflow: scroll;
}

.form::-webkit-scrollbar {
	display: none;
}

.content {
	display: flex;
	align-items: center;
	margin: 10px 20px;
}

.list {
	flex: 1;
	margin: 10px 0;
}
