.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
	height: 52px;

	background: #f7f5fc;
	border: 2px solid #f1efff;
	border-radius: 8px;
}

.checkbox_container {
	width: 5%;
}

.question_container {
	width: 95%;
}

.icon_container {
	display: flex;
	width: 5%;
	align-items: center;
	justify-content: flex-end;
	margin: 4px;
	padding: 8px;
}