.container{
    width: 18%;
    position: relative;

    &::after {
    content: '';
    display: inline-block;
    background-color: #F2E3C3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 120%;
    }
} 


.serial_id {
    color: #F68B21; 
    font-weight: 600; 
    font-size: 12px;
} 

.created_at{
font-size: 12px;
}