.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-right: 10px;
}

.error_text {
	height: 10px;
	margin-top: 2px;
	color: #ee3425;
	text-align: center;
}

.outer_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 !important;
	border-color: #fbd1a6 !important;
	border-style: solid !important;
	border-radius: 4px;
}

.delete_icon_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: fit-content;
	padding: 8px;
}

.wrapper {
	width: 100%;
}

.legend_styles {
	font-size: var(--font-size-md);
	color: var(--color-accent-orange-1);

	>span {
		margin-left: 4px;
	}
}
