.choose_container {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.choose_heading {
    margin-bottom: 8px;
}