.choose_container {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.choose_heading {
    padding: 12px 16px;

}

.close_button {
   
    display: flex;
    justify-content: flex-end;
    padding: 16px 16px;

}