.table_container {
	overflow-x: scroll;
	box-shadow: 0 0 16px rgb(44 62 80 / 5%);
}

.table {
	padding: 0;
	margin-bottom: 0;
	background-color: var(--color-secondary-5);

	tr {
		height: 60px;
	}

	:global(.ui_table_head_cell) {
		min-width: 40px;
		font-size: 14px;
	}
}
