.container {
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
}

.filter_applied {
	width: 6px;
	height: 6px;
	margin-right: 2px;
	background: #393f70;
	border-radius: 50%;
}

.filter_create {
	display: flex;
	align-items: center;
}

.btn {
	margin-left: 10px;
}

.filter {
	margin-right: 8px;
}

.add_btn {
	width: 150px;
	white-space: nowrap;
}
