.container {
	padding: 16px;
	background: #fff;
	border-radius: 16px;
}

.header_title {
	padding-bottom: 8px;
	font-weight: 600;
	color: #23262f;
}

.line {
	width: 100%;
	height: 100px;
	border-top: 1px solid #f3f4f6;
	border-bottom: 1px solid #f3f4f6;
}

.lengendsData {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 4px;
	font-size: 12px;
	color: #787486;
}

.legends {
	display: flex;
	align-items: center;
}

.legends_dot {
	width: 10px;
	height: 10px;
	margin-right: 4px;
	border-radius: 100%;
}

.bg_orange {
	background-color: #fb896b;
}

.bg_purple {
	background-color: #6956e5;
}
