.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.container {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 95%;
	padding: 24px;
	margin-top: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 55px 10px rgb(60 67 83 / 5%);
}

.button_container {
	z-index: 3;
	display: flex;
	width: fit-content;
	padding: 5px;
	margin-top: -8px;
	margin-left: 50px;
	background-color: #fff;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.pill {
	height: fit-content;
	padding: 2px 6px;
	margin-right: 6px;
	font-size: 10px;
	font-weight: 400;
	background: rgb(241 239 255);
	border-radius: 4px;

	&.grey {
		background: #e0e0e0;
	}
}
