.container {
	display: flex;
	flex: 0 0 24%;
	flex-direction: column;
	justify-content: space-between;
	min-width: 215px;
	height: 80px;
	padding: 8px 10px;
	margin: 0 12px 12px 0;
	background-color: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 5px #00000026;
	mix-blend-mode: normal;
}

.heading {
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	line-height: 16px;
	color: #4f4f4f;
}

.price {
	margin: 0;
	overflow: hidden;
	font-size: 10px;
	font-weight: 400;
	line-height: 16px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tag {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	color: #393f70;
	text-align: center;
	background-color: #fbd69f;
	border-radius: 4px;
}

.approved {
	color: #393f70;
	background-color: #e6fbe9;
}

.price_recieved,
.customer_confirmation_pending {
	background-color: #fcedbf;
}

.charges_incurred {
	background-color: #fbe6e6;
}

.cancelled_by_supplier,
.cancelled_by_customer {
	color: #fff;
	background-color: #4f4f4f;
}

.disputed {
	color: #fff;
	background-color: #bdbdbd;
}

.name_type {
	display: flex;
	align-items: flex-start;
}

.status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 0 0;
}

.circle {
	width: 10px;
	height: 10px;
	margin-top: 3px;
	margin-right: 6px;
	background-color: #f7cdcd;
	border-radius: 50%;
}

.button_text {
	padding: 4px;
	font-size: 12px;
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	cursor: pointer;
}

.button_text:hover {
	color: #356efd;
}

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 16px;
}

.additional_service_item_row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
