.container {
	margin: 50px 0;
}

.input {
	width: 30%;
	margin-bottom: 10px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.filter:hover {
	cursor: pointer;
}

.content {
	margin-top: 16px;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.breadcrumb_item_two {
	font-weight: 700;
}

.span_text {
	margin-left: 2px;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
}

.btn_cont_float {
	float: right;
}

.table_container {
	padding: unset !important;

	:global {
		.ui_table_head_row {
			.ui_table_head_cell {
				padding-top: 18px;
				padding-bottom: 10px;
				font-size: 14px;
				color: #000;
				background-color: #fff;
				border-bottom: 1px solid #f8f2e7;
			}
		}

		.ui_table_body_container {
			background-color: #fff;

			.ui_table_body_row {
				border-radius: 8px;

				.ui_table_body_cell {
					font-size: 12px;
					color: #221f20;
				}
			}
		}
	}
}

.checkbox {
	padding: 0;
	margin-right: -15px;
	margin-left: 12px;
}

.breadcrumb_item {
	font-size: 16px;
	font-weight: 600;
	color: #6fa5ab;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}

.questionsettime {
	font-weight: 400;
	color: #828282;
}

.topic_pill {
	max-width: 120px;
}

.topic_pill div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
