.container{
	width: 23%;
	background:#ffffff;
	margin-right: 10px;
	border-radius: 8px;
	padding:10px;
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.filter_icon{
	cursor: pointer;
}

.source_types{
	display: flex;
	align-items: center;
}

.more_counts{
	font-size: 10px;
}

.card_Container{
	margin: 0px -10px 0px -10px;
	padding:15px 12px;
	border-bottom: 1px solid #E0E0E0;

	
}

.card_Container:last-child{
	border-bottom: none;
}

.active_card{
background: #FDFBF6;
}

.card{
cursor: pointer;
padding:8px;
}

.user_information{
	display: flex;
	justify-content: space-between;
}

.activity_duration{
	color: #4F4F4F;
	font-weight: 500;
	font-size: 10px;
}

.user_details{
	margin-left: 15px;
display: flex;
flex-direction: column;
}

.user_name{
	color: #4F4F4F;
	font-size: 14px;
}

.organisation{
	color: #828282;
	font-size: 10px;
}

.avatar_Container{
display: flex;
}

.content{
	margin-top: 10px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}