.container {
	width: 100%;
	padding: 12px 16px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.draft {
	border: 1px solid #e17b4b;
}

.active_container {
	border: 1px solid #f9ae64;
}

.from_mail {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	color: #4f4f4f;

	span {
		font-weight: 600;
	}
}

.mail_ids_flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.each_mail {
	margin: 4px;
	font-size: 14px;
	color: #4f4f4f;
}

.body {
	width: 100%;
	margin: 10px 0;
	font-size: 12px;
	color: #221f20;
}

.collapsed_body {
	max-height: 40px;
	overflow: hidden;
}

.expanded_body {
	overflow: auto;
}

.buttons_flex {
	display: flex;
	padding-top: 8px;
}

.styled_button {
	display: flex;
	align-items: center;
	margin-right: 4px;
}

.icon {
	margin-right: 4px;
}

.button_text {
	margin-left: 4px;
	font-size: 13px;
	color: #221f20;
}

.send_by_name {
	margin: 0 0 4px 4px;
	font-size: 10px;
	font-weight: 500;
	color: #000;
	text-align: left;
}

.time_stamp {
	padding-left: 4px;
	font-size: 10px;
	font-weight: 500;
	text-align: left;
}

.extra_controls {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.email_container {
	position: relative;
}

.dots_body {
	position: absolute;
	bottom: 10px;
	width: auto;
	padding: 2px 6px;
	font-size: 12px;
	color: var(--color-primary-error-red-2);
	user-select: none;
	background-color: var(--color-primary-error-red-5);
	border-radius: 2px;

	&:hover {
		font-weight: 500;
	}
}

.body_preview {
	margin: 10px 0;
	font-size: 12px;
	color: #221f20;
}

.collapsed_body_preview {
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expanded_body_preview {
	width: 95%;
	text-overflow: wrap;
	white-space: wrap;
}
