

.Header{
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	color: #393f70;
	margin-top: 16px;
};

.Content{
	color: #393f70;
	text-align: center;
	font-size: 14px;
	margin-top: 16px;
};

.ButtonContainer{
	margin-top: 32px;
	display: flex;
	justify-content: center;
	.cancel_button {
		margin-right: 16px;
	}
};
