.header {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.top_container {
	max-height: 20vh;
	margin-bottom: 12px;
}

.title {
	font-size: 20px;
	font-weight: 600;
}

.back_icon {
	margin-right: 8px;
	cursor: pointer;
}

.container {
	height: 84vh;
	overflow: hidden;
	background: #fff;
}

.stepper_container {
	padding: 12px;
	background: #f9f9f9;

	:global {
		.ui_stepper_container {
			margin: auto;
			background: #f9f9f9;
		}
	}
}

.component_container {
	position: relative;
	display: flex;
	align-items: center;
	height: 76vh;
}
