.header {
	display: flex;
	align-items: center;
}

.title {
	font-size: 20px;
	font-weight: 600;
}

.back_icon {
	margin-right: 8px;
	cursor: pointer;
}

.breadcrumb_item {
	font-size: 16px;
	font-weight: 600;
	color: #6fa5ab;
}

.breadcrumb_item_two {
	font-weight: 700;
}

