.title {
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

.message {
	font-size: 11px;
}

.banner {
	padding: 12px;
	margin-top: 5px;
	background: #fff;
	border: 1px dashed #e0e0e0;
	border-radius: 8px;
}

.user_name {
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
}

.sender_email {
	font-size: 12px;
}

.subject_name {
	margin-top: 5%;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

.subject_content {
	margin: 2% 0% 8%;
	font-size: 12px;
}

.eye_icon {
	margin-right: 5px;
}
