.tr{
    background: #ffffff;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 4px;
    display: flex;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.td{
    text-align: left;
	padding: 14px;
	font-weight: 400;
	font-size: 11.6397px;
    width:200px;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.th{
    text-align: left;
	padding: 14px;
    width:200px;
    justify-content: center;
}

.table{
    width: 100%;
	border-radius: 4px;
	border-collapse: separate;
	border-spacing: 0 15px;
    border:1px solid #E0E0E0;
}

.addmore{
    cursor: pointer;
	display: flex;
	justify-content: flex-end;
	font-weight: 500;
	font-size: 12px;
	text-decoration-line: underline;
	color: #356efd;
}

.labelrow{
    padding: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #333333;
	display: flex;
	justify-content: space-between;
}

.radiopointer{
    cursor: pointer;
}

.row{
    padding: 12px;
	display: flex;
	justify-content: space-between;
}

.line{
    border: 1px solid #e0e0e0;
}

.description{
    font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #828282;
	margin-bottom: 16px;
}

.ratescontainer{
	border-radius: 4px;
    margin: 10px;
}

.big_container{
    background: white;
	margin-bottom: 16px;
}

.header{
    display: flex;
	justify-content: space-between;
	align-items: center;
} 


.container{
    background-color: #fff;
}

.sub_heading{
    font-size: 16px;
    font-weight: 500;
}
.heading{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
}

.table_container{
    /* background-color: aqua; */
}

.select_container{
    width:50px;
}

.select_heading{
    width:50px;
}