.tr {
	display: flex;
	align-items: center;
	padding-left: 10px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 4px;

    display: flex;
    align-items: center;
    padding-left: 10px;

}

.td {
	width: 200px;
	padding: 14px;
	overflow: hidden;
	font-size: 12px;
    width:15%;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td_priority{
    text-align: left;
	padding: 14px;
	font-weight: 400;
	font-size: 11.6397px;
    min-width:5%;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.th {
	justify-content: center;
	width: 200px;
	padding: 14px;
    width:15%;
    justify-content: center;
}

.table {
	width: 100%;
	border-spacing: 0 15px;
	border-collapse: separate;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.addmore {
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
	font-weight: 500;
	color: #221F20;
	text-decoration-line: underline;
	cursor: pointer;
}

.labelrow {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #333;
	text-align: center;
}

.radiopointer {
	cursor: pointer;
}

.row {
	display: flex;
	justify-content: space-between;
	padding: 12px;
}

.line {
	border: 1px solid #e0e0e0;
}

.description {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	color: #828282;
}

.ratescontainer {
	margin: 10px;
	border-radius: 4px;
}

.big_container {
	margin-bottom: 16px;
	background: #fff;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	background-color: #fff;
}

.sub_heading {
	font-size: 16px;
	font-weight: 500;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.content {
	display: flex;
}

.select_heading{
    width:5%;
}

.select_container {
	width: 50px;
}
