.flex {
	display: flex;
}

.title {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #303b67;
}

.text {
	margin-top: 23px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #4f4f4f;
	letter-spacing: 0.02em;
}
