.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.upper_heading {
	font-weight: 600;
	color: #221f20;
}

.lower_heading {
	width: 70%;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.salary_heading {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	align-self: stretch;
	padding: 16px;
	color: #fff;
	background: #4f4f4f;
	border-bottom: 1px solid #f8f2e7;
}

.heading_one {
	width: 50%;
	text-transform: uppercase;
}

.heading_two {
	flex-grow: 1;
	text-transform: uppercase;
}

.heading_three {
	flex-grow: 1;
	text-transform: uppercase;
}

.salary_content {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	align-self: stretch;
	padding: 16px;
	color: #4f4f4f;
	background: #fff;
	border-bottom: 1px solid #f8f2e7;
}

.grp_salary_content {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	align-self: stretch;
	padding: 16px;
	color: #fff;
	background: #849e4c;
	border-bottom: 1px solid #f8f2e7;
}

.content_one {
	width: 50%;
}

.content_two {
	flex-grow: 1;
}

.content_three {
	flex-grow: 1;
}
