.table_container {
	padding: 0;
	margin-top: 16px;
	overflow-x: scroll;
	background: #fff;
	border-radius: 8px;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}

.empty_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 16px;
    border-radius: 10px;
    background: #FFFFFF;
    height: 70vh;
}