.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 350px;

	:global {
		.ui_tab_list_container.ui_ps_themeType_primary-vertical {
			width: auto;
		}

		.ui_tabs_container {
			width: 20%;
		}
	}
}

.component_sec {
	width: 75%;
}
