.scope_select_wrapper {
	:global {
		/* stylelint-disable-next-line selector-class-pattern */
		.ui-button-root {
			padding: 7px;
			margin-right: 8px;
			margin-left: 8px;
		}
	}
}

.scopeselect_main {
	display: flex;
	align-items: center;
	margin: -2px 0;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	color: #000;
	letter-spacing: 0.02em;
}

.scopeselect_iconcontainer {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 16px;
}
