.list_card {
	min-height: 100px;
	margin: 16px 0;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.dropdown {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #f2f2f2;
}

.dropdown_inner {
	display: flex;
	align-items: center;
	padding-block: 2px;
	font-size: 12px;

	& > div {
		margin-right: 10px;
	}
}
