.container {
    display: flex;
	justify-content: space-between;
	padding: 12px;
    margin-top: 20px;

	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;
	}
}

.text_div {
    display: flex;
}

.tick_icon {
    width: 20px;
	height: 20px;
	margin-right: 4px;
}

.text {
    font-weight: 600;
	font-size: 12px;
	color: #2c3e50;

	&.detention_demurrage {
		display: flex;
		align-items: center;
	}
}

.inner_text {
    display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	color: #2c3e50;
	opacity: 0.8;
}

.progress_div {
    display: flex;
	align-items: center;
}

.progress_percent {
    display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #67c676;
	margin-right: 4px;
}

.info_icon {
    margin-left: 4px;
}

.progress_bar {
    border-radius: 10px;
	background-color: #e4e1e8;
	width: 100px;
	position: relative;
	height: 8px;

	span {
		position: absolute;
		border-radius: 10px;
		top: 0;
		left: 0;
		background-color: #67c676;
		height: 8px;
	}
}

.info {
    font-size: 12px;
	margin: 8px 40px;
}

.bold_text {
    font-weight: 700;
    font-size: 14px;
}