.container {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	margin-top: 20px;

	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;
	}
}

.text_div {
	display: flex;
}

.tick_icon {
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

.text {
	font-size: 12px;
	font-weight: 600;
	color: #2c3e50;

	&.detention_demurrage {
		display: flex;
		align-items: center;
	}
}

.inner_text {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	color: #2c3e50;
	opacity: 0.8;
}

.progress_div {
	display: flex;
	align-items: center;
}

.progress_percent {
	display: flex;
	align-items: center;
	margin-right: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: #67c676;
}

.info_icon {
	margin-left: 4px;
}

.progress_bar {
	position: relative;
	width: 100px;
	height: 8px;
	background-color: #e4e1e8;
	border-radius: 10px;

	span {
		position: absolute;
		top: 0;
		left: 0;
		height: 8px;
		background-color: #67c676;
		border-radius: 10px;
	}
}

.info {
	margin: 8px 40px;
	font-size: 12px;
}

.bold_text {
	font-size: 14px;
	font-weight: 700;
}
