.container {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 40px;
	height: 16px;
	padding: 6px 0 8px;

	& .highlight {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 3px;
		border-radius: 2px;

		&.highlighted_circle {
			bottom: -4px;
			width: 12px;
			height: 12px;
			background: #fff;
			border: 1px solid #849e4c;
			border-radius: 50%;
		}

		&.additional-services-logo {
			background: #849e4c;
		}
	}

	&.disable {
		opacity: 0.5;
	}
}

.label {
	width: 100%;
	overflow: hidden;
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
