.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.wrapper {
	display: flex;
	align-items: center;
}

.back_icon {
	width: 30px;
	height: 20px;
	margin-top: 5px;
	cursor: pointer;
}

.label {
	font-size: 16px;
}

.timeout_label {
	margin-top: 10px;
	margin-left: 12%;
	font-size: 16px;

	span {
		margin-left: 6px;
		font-size: 12px;
	}
}

.roles_timeout_section {
	display: flex;
	flex-wrap: wrap;

	/* justify-content: spa; */
	margin-top: 15px;
}

.roles_timeout_section_parts {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding: 12px 16px 12px 32px;
	white-space: nowrap;

	&:nth-of-type(odd) {
		padding: 12px 32px 12px 16px;
		border-right: 1px solid #d3d3d3;
	}
}

.styled_select {
	width: 40%;

	:global {
		.ui_input_number_control {
			font-size: 12px !important;
		}
	}
}

.button_section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 95%;
	margin: 10px 0 0;
}

.padding_inner {
	padding: 0 12px;
}
