.label_section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 70%;
	margin: 2% 35% 0 0;
	font-size: 16px;
}

.timeout_label {
	padding: 14px 20px 0;
	font-size: 16px;
	font-weight: 500;
}

.roles_timeout_section {
	display: flex;
	flex-wrap: wrap;
	padding: 0 12px;
}

.roles_timeout_section_parts {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding: 8px 10px 8px 20px;
	white-space: nowrap;

	&:nth-of-type(odd) {
		padding: 8px 20px 8px 10px;
		border-right: 1px solid #d3d3d3;
	}

	@media (max-width: 576px) {
		width: 100%;
		padding: 8px 20px 8px 10px;
		border-right: unset !important;
	}
}

.select_section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.styled_select {
	width: 75px;

	:global {
		.ui_input_number_control {
			font-size: 12px !important;
		}
	}
}

.minute_label {
	margin-left: 8px;
	font-size: 12px;
}

.button_section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	min-height: 44px;
	padding: 8px;
	margin-top: 5%;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}
