.svg {
	margin-right: 16px;
	font-size: 24px;
}

.general {
	display: flex;
	margin-bottom: 38px;
}

.row {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-top: 24px;
}

.text_top {
	font-size: 14px;
	font-weight: 400;
	color: #828282;
}

.topic {
	width: 80%;
}

.text_top_label {
	padding: 4px 20px;
	font-size: 14px;
	font-weight: 400;
	color: #828282;
}

.text_bottom_left_data {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
}

.text_bottom {
	display: flex;
	justify-content: left;
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.text_bottom_left {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
}

.questions_render {
	margin-top: 39px;
}

.general_bottom {
	display: flex;
}

.minutes {
	margin-left: 4px;
}

.right_flex {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	padding-top: 30px;
	padding-left: 24px;
}

.left_flex {
	width: 50%;
	padding-top: 30px;
	padding-left: 24px;
	background-color: #fafafa;
}

.middle_flex {
	width: 20%;
	padding-top: 30px;
	background-color: #fafafa;
}
