.flex {
	display: flex;
	margin: 20px 0;
}

.sub_container_click {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding: 12px 16px;
	margin-right: 16px;
	font-size: 14px;
	font-weight: 600;
	color: #ed3726;
	cursor: pointer;
	background: #fdebe9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.sub_container_click:hover {
	width: 94%;
	height: 46px;
	box-shadow: 0 0 8px rgb(44 62 80 / 30%);
	transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.sub_container {
	display: flex;
	gap: 10px;
	justify-content: center;
	height: 42px;
	padding: 12px 16px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.sub_container:hover {
	width: 94%;
	height: 46px;
	box-shadow: 0 0 8px rgb(44 62 80 / 30%);
	transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.sorting {
	display: flex;

	:global {
		.ui_button_container {
			min-width: 0;
			height: 8px;
			padding: 0;
			margin-top: 6px;
			font-size: 12px;
		}
	}
}

.sort_active {
	height: 12px;
	color: #f68b21;
	cursor: pointer;
}

.sort_active:hover {
	color: #f68b21;
}

.sort_inactive {
	height: 12px;
	color: #c0c0c0;
	cursor: pointer;
}

.sort_inactive:hover {
	color: #c0c0c0;
}
