.card {
	width: 31%;
	height: 280px;
	margin: 10px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 #627fac33;
}

.body_info {
	display: flex;
	flex-direction: column;
	height: calc(100% - 124px);
	padding: 10px 16px;
}

.each_row {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.status_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.status_content {
	display: flex;
	align-items: center;
}

.title {
	margin-right: 10px;
	font-size: 12px;
}

.lang_title {
	align-self: flex-start;
	margin-right: 10px;
	font-size: 12px;
}

.name {
	display: flex;
	flex-wrap: wrap;
	width: 74%;

	@media (max-width: 1280px) {
		width: 66%;
	}
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	max-height: 62px;

	@media (max-width: 1280px) {
		width: 42%;
	}
}

.lang {
	display: flex;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}
}

.line_break {
	width: 88%;
	margin: 0 16px 2px;
	border-bottom: 1px solid #e0e0e0;
}

.footer_container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 10px 16px;
}

.schedule_demo_icon {
	margin-right: 4px;
}

.call_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 32px;
	padding: 8px;
	cursor: pointer;
	background: #c4dc91;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}
