.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
}

.sub_heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.line {
	width: 50%;
	border: 1px solid var(--color-secondary-3);
	border-radius: 10px;
}

.input_heading {
	width: 250px;
	padding: 6px;
	margin-right: 6px;
}

.custom_toggle {
	:global {
		.ui_toggle_onlabel {
			font-weight: 700;
		}

		.ui_toggle_offlabel {
			font-weight: 700;
		}
	}

	& > div:nth-child(2) > label > span::after {
		content: "";
		background-color: var(--color-accent-orange-2) !important;
	}

	& > div:nth-child(2) > label > span::before {
		content: "";
		background-color: var(--color-accent-orange-2) !important;
	}
}

.select {
	width: 200px;
	padding: 6px;
	margin-right: 6px;
	font-size: var(--font-size-md);
}

.upload {
	margin-left: 12px;
	font-size: var(--font-size-md);
	font-weight: 600;
	color: var(--color-primary-error-red-2);
}

.generic_upload {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	cursor: pointer;
	background-color: var(--color-secondary-4);
	border: 1px solid var(--color-primary-error-red-4);
	border-radius: 4px;
	box-shadow: rgb(249 179 179 / 15%) 0 0 10px;
}
