.container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.form_header {
    /* display: flex; */
    position: sticky;
    top: 8px;
    right: 0px;
    align-self: flex-end;
    margin-right: 16px;
}

.no_role {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.forms {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 16px;

    .form:not(:last-child) {
        margin-bottom: 16px;
    }
}

.form {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0px 16px;

    background-color: #ffffff;
    border-radius: 8px;

    box-shadow: 0 0 8px rgb(98 127 172 / 20%);

    .form_name {
        flex: 0.4;
    }

    .published {
        flex: 0.2;
    }

    .last_used {
        flex: 0.2;
    }

    .status {
        flex: 0.1;

        :global(.ui_pill_container){
            margin: 0px;
        }
    }

    .action {
        flex: 0.1;
        display: flex;
        justify-content: flex-end;
    }
}

.label {
    margin: 0px;       
}

.pagination_container {
    position: sticky;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 16px 0px ;
}