.flex {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.release_button {
	margin-left: 4px;
}

.remark_popover {
	overflow-y: auto;

	:global(.tippy-content) {
		max-height: 550px;
	}
}
