.serial_card {
	display: flex;
	justify-content: space-between;
}

.serial_id_card {
	display: flex;
}

.card {
	padding-bottom: 12px;
	margin-bottom: 12px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.download_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 32px;
	padding: 0 12px;
	margin-left: 12px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.custom_tag {
	display: flex;
	padding: 4px 8px;
	margin-right: 8px;
	font-size: 10px;
	font-weight: 500;
	background-color: #f2f2f2;
	border-radius: 4px;
}

.org_name_conatiner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 2px 8px 0;
}

.sub_org_name_conatiner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.styled_name {
	font-size: 18px;
	font-weight: 600;
	color: rgb(51 51 51);
}

.orgdetails {
	display: flex;
	align-items: center;
}

.styled_tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 500;
	background-color: rgb(222 215 252);
	border-radius: 4px;
}

.heading {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
}

.hr {
	height: 1px;
	margin-bottom: 8px;
	background: #2c3e50;
}

.value {
	margin-left: 4px;
	font-size: 10px;
	font-weight: 500;
}

.org_list {
	margin-bottom: 16px;
}

.style_margin_top {
	margin-top: 4px;
}

.padding_container {
	padding: 4px;
}

.updated_at {
	background-color: #cdf7d4;
}

.credit_days {
	background-color: #fdebe9;
}

.ledger_style {
	display: flex;
}

.country {
	margin-right: 4px;
}

.custom_tag_end {
	background-color: #f2f2f2;
}

.tabsstats {
	:global {
		.ui_tab_list_container {
			display: flex !important;
		}
	}
}
