.header_pills {
	display: flex;
}

.trade_type {
	background: #fcedbf;
	border-radius: 4px 0 !important;
}

.job_closed {
	background: #fbd1a6;
}

.financially_closed {
	background: #f8aea8;
}

.importer_exporter_tags {
	background: #e0e4ff;
}

.source {
	background: #cfeaed;
}

.cogoverse {
	background: #ffd3d3;
}

.cogoport_assured {
	background: #d8fade;
}

.post_facto {
	background: #eecfcf;
}

.trade_type,
.importer_exporter_tags,
.source,
.cogoverse,
.cogoport_assured,
.job_closed,
.financially_closed,
.post_facto {
	width: max-content;
	padding: 2px 20px;
	margin-right: 8px;
	font-size: 10px;
	border-radius: 0 0 4px 4px;
}
