.icon_wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.tag_text {
	font-size: 10px;
	color: #393f70;
}

.pill_style {
	margin-right: 4px;
}

.details {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: end;
}
