.container {
	margin-top: 40px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(51 51 51 / 15%);
}

.header_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 20px;
}

.header_right_section {
	display: flex;
	align-items: center;
}

.loading_right_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loading_section {
	display: flex;
	align-items: center;
}

.header_left_section {
	display: flex;
	align-items: center;
}

.sid_section {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.body_section {
	display: flex;
	align-items: center;
	border-top: 1px dashed #bdbdbd;
	border-bottom: 1px dashed #e0e0e0;
}

.body_left_section {
	flex: 1;
	padding: 18px 20px;
	border-right: 1px dashed #e0e0e0;
}

.body_right_section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40vw;
	padding: 18px 20px;
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.text {
	margin-right: 8px;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.date_text {
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}

.service_provider_text {
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}
