.styled_flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 24px 10px 5px;
}

.button_flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.button_flex button:last-child {
	margin-left: 8px;
}

.styled_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.styled_div #core-ui-radio-root {
	padding-bottom: 10px;
}

.error_text {
	padding: 5px 0;
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: 400;
	color: #cb6464;
	text-align: center;
}

.align_left {
	width: 100%;
	padding-left: 101px;
	text-align: left;
}
