.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form_item{
    width: 100%;
    margin-bottom: 8px;
}
.label{
    display: flex;
	margin: 12px 0 8px 0;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #4f4f4f;
}
.required_mark{
	color: #e74c3c;
	margin-left: 4px;
}
.error_message {
	font-size: 12px;
	margin-top: 4px;
	color: #e42525;
}

.bold_label{
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}