.container {
	padding: 16px;
	margin: 16px 0;
	background: var(--color-secondary-5);
	border-radius: 8px;
}

.eye_icon {
	padding-top: 4px;
	margin-right: 8px;
}

.select {
	display: flex;
	flex: 3;
	gap: 8px;
}

.triggerButtons {
	display: flex;
	flex: 3;
	gap: 8px;
	justify-content: flex-end;
	margin-bottom: 16px;
}

.inputNum {
	display: flex;
	gap: 8px;
	width: 15%;
	min-height: px;
}

.inputName {
	margin-top: 4px;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.table_cell {
	min-width: 120px;
}

.objectives {
	display: flex;
	align-items: center;
	min-width: 156px;
}

.tooltip_text {
	display: block;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	word-break: break-word;
}

.enrich {
	display: flex;
	flex-direction: column;
	min-width: 180px;
}

.contact_pill {
	display: flex;
}

.more {
	border-bottom: 1px solid #000;
}

.modal_body {
	max-height: 600px !important;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 8px 0;
}

.popover_buttons {
	width: 100%;
	margin-top: 4px;
}
