.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

.flex_column {
	display: flex;
	flex-direction: column;
	width: 33%;
	padding: 16px;
}

.title {
	margin-right: 5px;
	margin-left: 10px;
	font-weight: bold;
}
