.card {
	position: relative;
	display: block;
	border-radius: 4px;
	box-shadow: 0 0 6px 2px rgb(68 68 68 / 20%);
	padding: 8px;
	margin: 8px;

	&:hover {
		text-decoration: none;
		box-shadow: 0 0 6px 2px rgb(133 110 249 / 20%);
	}

	:global {
		.tippy-box {
			min-height: initial;
			padding: 0;
			font-size: 10px;
		}
	}
}

.card_body {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;

	.separator {
		align-self: stretch;
		width: 1px;
		background: var(--color-secondary-greyscale-5);
	}
}

.card_footer {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	padding: 0 2px 2px 0;
	font-size: var(--font-size-sm);
	font-weight: 600;
}

.cfs_details {
	margin-left: 5px;
    font-size: var(--font-size-md);
    font-weight: 600;
    color: var(--color-secondary-greyscale-1);
    white-space: break-spaces;
}

.heading {
	display: flex;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color-secondary-greyscale-3);
    margin: 16px;
    width: 25%;
    align-items: flex-start;

	& > span{
		white-space: nowrap;
	}
}