.parent {
	display: flex;
	width: 100%;
	height: 350px;
	padding: 25px 20px;
	margin-top: 16px;
	background-color: #fff;
	border-radius: 6px;
}

.left {
	width: 379px;
	height: 144px;
	padding: 10px;
	margin-bottom: 3.5%;
	background-color: #f3fafa;
	border-radius: 6px;
}

.heading {
	font-size: 14px;
	font-weight: 600;
}

.blue_color_stat_number,
.gold_color_stat_number {
	padding: 15px 0 0;
	font-size: 28px;
	font-weight: bolder;
	line-height: 42px;
}

.percentage_heading {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #ee3425;
}

.percentage_success_heading {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #75a410;
}

.sub_text {
	margin-top: 4px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #828282;
}

.right {
	width: calc(100% - 380px);
	padding: 12px;
	margin: 0 15px;
	border: 1px solid #acdadf;
	border-radius: 6px;
	box-shadow: 1px #627fac0a;
}

.blue_color_stat_number {
	display: flex;
	justify-content: space-between;
	color: #6fa5ab;
}

.gold_color_stat_number {
	color: #d6b300;
}

.hr_line {
	margin-top: 28px;
	border: 1px solid #e0e0e0;
}

.critical_rates {
	display: flex;
	justify-content: space-between;
}

.critical_rates_text {
	margin-left: 4px;
	font-weight: 700;
}

.pill_dark {
	width: 20px;
	height: 14px;
	margin: 0 10px;
	background-color: #88cad1;
	border-radius: 4px;
}

.pill_light {
	width: 20px;
	height: 14px;
	margin: 0 10px;
	background-color: #cfeaed;
	border-radius: 4px;
}

.legend {
	display: flex;
	align-items: center;
	margin: 0 10px;
	font-size: 12px;
	color: #4f4f4f;
}

.legend_group {
	display: flex;
	margin-right: 20px;
}
