.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	margin-top: 12px;
	background: #fff;
}

.row {
	display: flex;
	flex-direction: row;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.column {
	flex-direction: column;
}

.text {
	color: #bdbdbd;
	text-align: center;
}

.img_container {
	margin: 10px;
}
