.main_body {
	min-height: 25vh;
	padding: 16px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
}

.col {
	width: 35%;
	padding: 0 8px;
}

.submit_btn {
	width: 25%;
	margin-top: 27px;
}

.label {
	font-weight: 600;
	color: #636363;
}

.error {
	font-size: 12px;
	color: #f33;
}
