.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 10px;
}

.filter_icon {
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.source_types {
	display: flex;
	align-items: center;
	width: calc(100% - 44px);
}

.styled_popover {
	padding: 0;
	margin-top: 10px;

	:global {
		.tippy-content {
			width: 260px;
			height: 190px;
			padding: 0;

			>div {
				height: 100%;
			}
		}
	}
}

.filters_applied {
	position: absolute;
	bottom: 70%;
	left: 60%;
	width: 10px;
	height: 10px;
	background: #f68b21;
	border-radius: 8px;
}

.icon_styles {
	width: 20px;
	height: 20px;
}
