.container {
	width: 100%;

	&.main {
		position: relative;
		z-index: 2;
		margin: 4px;
		overflow: auto;
		border-radius: 4px;
	}

	&.header {
		display: flex;
		justify-content: space-around;
		padding: 4px;
		background: #fef6df;
		border-radius: 4px;
	}

	&.card {
		display: flex;
		padding: 8px;
		border-bottom: 1px solid #e0e0e0;
	}

	&.card:last-of-type {
		border-bottom: none;
	}
}

.text {
	&.bl_number {
		margin-right: 12px;
		font-weight: 500;
		color: #da9a3b;
	}

	&.title {
		min-width: 136px;
		margin-right: 12px;
	}
}

.item_content {
	min-width: 150px;
}
