.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 10px;
	background-color: #f9f9f9;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: none;
}

.card_title {
	display: flex;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.column_labels {
	display: flex;
}

.service_card_title {
	width: 40%;
}

.base_price_card_title {
	width: 15%;
}

.margin_type_card_title {
	width: 15%;
}

.margin_value_card_title {
	width: 15%;
}

.sell_price_card_title {
	width: 15%;
}

.green_text {
	font-weight: 400;
	color: #849e4c;
}

.tags {
	width: fit-content;
	padding: 0 4px;
	margin-left: 10px;
	font-weight: 400;
	background-color: #fff;
}
