.stakeHolderCon {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: fit-content;
	padding: 18px 14px 0;
	margin-top: 16px;
	margin-bottom: 20px;
	background: #f7f7fc;
}

.StakeHolderDiv {
	display: flex;
	align-items: center;
	width: 22%;
	margin: 0 16px 14px;
}

.stakeHolderKey {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #828282;
	white-space: nowrap;
}

.stakeHolderValue {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #333;
}
