.main_container {
	display: flex;
	flex-direction: column;
}

.tabs_container {
	display: flex;

	:global {
		.ui_tabs_container {
			width: 100%;
		}

		.ui_tab_list_container {
			border-radius: 0 !important;

			@media (max-width: 1110px) {
				overflow: auto;
				scrollbar-width: thin;
			}
		}

		.ui_tab_list_container > :not(:last-child) {
			border-right: 1px solid #e0e0e0;
		}
	}
}
