.container{
    padding: 10px;
    
    label{
        font-weight: 700;
        margin-bottom: 8px;
    }

    :global{
        .ui_checkbox_container{
            padding: 0 !important;
        }
    }
}
.text{
    color: rgb(203, 100, 100);
    text-align: left;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 12px;
}