.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px;
	margin-top: 30px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
