.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 60px 30px 36px;
	background: #fff;
	border-radius: 10px;
}

.wrapper h4,
.wrapper p {
	margin: 0;
	font-size: 22px;
	line-height: 26px;
}

.wrapper h4 {
	font-weight: bold;
}

.wrapper p {
	font-weight: normal;
}

.iccontainer {
	min-width: 10%;
	max-width: 17%;
}

@media (max-width: 768px) {
	.iccontainer {
		display: none;
	}
}

.wrapper {
	max-width: 45%;
	font-style: normal;
	color: #000;
	letter-spacing: 0.02em;
}

@media (max-width: 768px) {
	.wrapper {
		max-width: 100%;
	}
}
