.container {
  background-color: #fff;
  height: 100vh;
  margin-top: 20px;
  padding: 8px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid_item {
  margin: 8px;
  display: flex;
  border: 1px solid #edd7a9;
  justify-content: center;

  &:hover {
    border: 1px solid red;
  }
}

.item {
  background-color: #fffce6;
  height: 60px;
  margin: 4px;
  border: 1px solid gray;
  border-style: dotted;
}
.add_contents {
  :hover {
    cursor: pointer;
  }
}
