.statistics {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15px;

	/* margin-top: 12px; */
	margin-right: 12px;
	background-color: #fff;
	border-radius: 6px;
}

.heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #4f4f4f;
}

.time_durations_section {
	display: flex;
	padding-top: 10px;
}

.time_durations {
	/* width: fit-content; */
	width: 100%;
	padding: 7px 8px;
	background: rgb(224 224 224 / 40%);
	border-radius: 6px;

	&:nth-child(2) {
		margin-inline: 12px;
	}
}

.time_durations_header {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #221f20;
}

.time_durations_text {
	font-size: 10px;
	line-height: 20px;
	color: #828282;
}

.socoal_icons_and_data_list {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.socoal_icons_and_data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 22px;
}

.social_icons_and_its_name {
	display: flex;
	align-items: center;
}

.social_name {
	padding-left: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #475569;
}

.customer_nos {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #828282;
	text-align: right;
}

.duration_placeholder {
	border-radius: 5px;
}

.customer_nos_placeholder {
	border-radius: 5px;
}
