.button {
	margin-left: 16px;
}

.sub_container {
	padding: 16px;
}

.loader {
	width: 98%;
	height: 30px;
	margin-right: 20px;
	margin-left: 12px;
}
.body{
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-top: 136px;
	padding-bottom: 140px; */
	padding-top: 24px;
	padding-bottom: 24px;
}
.header{
	font-weight: 600;
    font-size: 16px;
    color: #333333;
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 8px;
}
.sub_header{
	font-weight: 500;
	font-size: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}