
.container{
	border-bottom: 1px solid #bdbdbd;
	padding: 12px 18px;
}

.pill{
	width: fit-content;
	text-align: center;
	align-items: center;
	background: #fef6df;
	border-radius: 4px;
	padding: 4px 6px;
	margin-right: 8px;

	&.payment_state {
		background: #fbd69f;
		border-radius: 4px;
	}

	&.cancelled {
		background: #4f4f4f;
	}

	&.completed {
		background: #e6fbe9;
	}
	&.confirmed_by_service_provider {
		background: #e6fbe9;
	}
	&.confirmed_by_importer_exporter {
		background: #e6fbe9;
	}
}

.text{
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	color: #393f70;
	align-items: center;
	justify-content: center;

	&.cancelled {
		color: #ffffff;
	}
}

.payment_text{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
}

.collect{
	margin-left: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;

	&.cancelled {
		color: #828282;
	}
}
.payment_status{
	display: flex;
	margin-top: 8px;
}

.pill_main{
	display: flex;
	flex-direction: row;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}
