.container {
	padding: 12px 18px;
	border-bottom: 1px solid #bdbdbd;
}

.pill {
	align-items: center;
	width: fit-content;
	padding: 4px 6px;
	margin-right: 8px;
	text-align: center;
	background: #fef6df;
	border-radius: 4px;

	&.payment_state {
		background: #fbd69f;
		border-radius: 4px;
	}

	&.cancelled {
		background: #4f4f4f;
	}

	&.completed {
		background: #e6fbe9;
	}

	&.confirmed_by_service_provider {
		background: #e6fbe9;
	}

	&.confirmed_by_importer_exporter {
		background: #e6fbe9;
	}
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #393f70;

	&.cancelled {
		color: #fff;
	}
}

.payment_text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #828282;
}

.collect {
	margin-left: 4px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #333;

	&.cancelled {
		color: #828282;
	}
}

.payment_status {
	display: flex;
	margin-top: 8px;
}

.pill_main {
	display: flex;
	flex-direction: row;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}
