.container{
    border: 2px solid #f2f3f4;
    height: fit-content;
    margin: 10px ;
    padding: 10px;
    border-radius: 10px;
}

.map_container{
    display: flex;
    flex-direction: column;
}

.data_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #f2f3f4;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

    @media (max-width: 885px) 
    {        
       flex-direction: column; 
    } 
}

.buttoncontainer{
    display: flex;
    float: right;
    justify-content: space-between;
    @media (max-width: 885px) 
    {        
       margin: 5px 0 5px 0;
    }
}
.data_display{
    display: flex;
    width: 40%;
    @media (max-width: 1120px) 
    {        
       width: 50%;
    }
    @media (max-width: 400px) 
    {        
       flex-direction: column;
    }
}
.name{
    font-size: 15px;
    font-weight: 400;
}

.name_data{
    color: #4f4f4f;
    opacity: 0.9;
    font-weight: 500;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1120px) 
    {        
       width: 70%;
    }
    @media (max-width: 885px) 
    {        
       width: 300px;
    }
    @media (max-width: 650px) 
    {        
       width: 120px;
    }
}

.delete_buttons{
    display: flex;
}

.errors {
	font-size: 12px;
	color: var(--color-primary-error-red-1);
    padding-left: 10px;
}
.nodisplay{
    color: #4f4f4f;
    opacity: 0.9;
    font-weight: 500;
    display: block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
}