.main_container {
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.grey_container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.grey_container > :not(:last-child) {
	margin-bottom: 24px;
}

.flex {
	display: flex;
	align-items: center;
}

.flex > :not(:last-child) {
	margin-right: 12px;
}

.top_text_container {
	display: flex;
	flex-direction: column;
}

.top_bold_text {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.top_grey_text {
	font-size: 12px;
	color: #828282;
}

.bottom_bar_container {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 16px 24px;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 0 16px 0 rgb(98 127 172 / 20%);
}

.underline_text {
	margin: 0 12px;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
	text-decoration-line: underline;
	text-transform: capitalize;
}

.btn {
	margin: 0 12px;
}

.container {
	display: flex;
	justify-content: space-between;
}

.back_btn {
	cursor: pointer;
}
