.title {
	min-width: 200px;
	font-weight: 600;
}

.flex {
	display: flex;
	justify-content: space-between;
	margin: 0 36px;
}

.header {
	margin-right: 24px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

.span {
	font-size: 14px;
	font-weight: 600;
}

.marigntop {
	margin-top: 36px;
}

.radio {
	:global {
		.ui_radio_normal:checked {
			padding: 3px;
		}
	}
}

.link {
	color: #f68b21;
	text-decoration: underline;
}

.input {
	:global {
		.ui_input_container {
			max-width: 140px;
			height: 30px;
		}
	}
}

.remarks {
	display: flex;
	margin-left: 14px;
}

.list_container {
	padding: 12px 26px;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
}

.text_area {
	margin: 8px 18px;
}
