.upload_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.upload_info {
	width: 100%;
	padding: 8px;
	margin-top: 8px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.upload_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 0;
}

.info_tool {
	display: flex;
	align-items: center;

	:hover {
		color: #849e4c;
	}
}

.tooltip_text {
	text-align: justify;
	word-break: break-word;
}

.button_container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.select_btn {
	margin: 8px;
	border: solid 1px #88cad1;
}

.submit {
	display: flex;
	align-self: flex-end;
	margin-top: 16px;
}

.filters {
	display: flex;

	:global {
		.ui_select_display_container {
			width: 140px;
		}
	}
}
