.container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.users {
	width: 40%;
	height: 200px;
	padding: 8px 0;
	margin-right: 20px;
	background: #fff;
	border-radius: 4px;
}

.cogopoints {
	width: 40%;
	height: 200px;
	padding: 8px 13px;
	margin-right: 20px;
	background: #fff;
	border-radius: 4px;
}

.networks {
	width: 28%;
	height: 200px;
	padding: 8px 13px;
	background: #fff;
	border-radius: 4px;
}
