.container {
    margin: 12px 10px;
}

.image {
    max-height: 40px;
	max-width: 100px;
}

.event {
    text-transform: capitalize;
	padding: 2px 4px;
	background: #f9f9f9;
	border-radius: 4px;
}

.edit {
	background: none !important;
	border: none;
	color: #000000 !important;
	font-size: 12px;
}