.container {
	display: flex;
	flex-direction: column;
	padding-left: 12px;
	margin-bottom: 32px;
}

.top_panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	overflow-x: auto;
}

.left_content {
	color: #4f4f4f;
	font-size: 16px;
	font-weight: 600;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.right_content {
	display: flex;
	justify-content: space-between;
}

.toggle_container {
	display: flex;
	margin-left: 22px;
	font-size: 10px;
	color: #000;
	text-align: center;
}

.booking_req_heading {
	display: flex;
	align-items: center;
	background-color: #fef3e9;
	color: #f97d01;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 12px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;

	:global {
		.ui_button_container {
			margin-left: 10px;
		}

		.ui_button_container.ui_ps_themeType_linkUi {
			text-decoration: none;
		}
	}
}

.booking_req_button_text {
	font-size: 12px;
	color: red;
	text-decoration: underline
}
