.container {
	padding: 18px 24px;
	background: #fff;
	border-radius: 6px;
}

.btn {
	margin: 10px 0 0 auto;
	font-weight: 500;
}

.header {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.form_container {
	display: flex;
}

.control_item {
	flex-grow: 1;
}

.control_item:not(:last-child) {
	margin-right: 20px;
}

.sup {
	color: #f00;
}

.error_msg {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	color: #cb6464;
}

.label {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.title {
	font-size: 18px;
}

.back_icon {
	margin-right: 8px;
	cursor: pointer;
}
