.container {
	padding: 10px;
	background-color: #fff;
	border: 1px solid#88cad1;
	border-top: none;
	.ui-tabs-list {
		width: 20%;
		padding: 12px;
		margin: 12px;
		border-bottom: none;
	}

	.ui-tabs-list.horizontal {
		border-bottom: none !important;
	}
}

.list_container {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-top: none;

	.card-list-header-root {
		padding: 0 20px;
		background: #393f70;
		border-bottom: none;

		.card-list-header-root-row {
			align-items: center !important;
			padding: 8px 0 !important;
		}

		.card-list-header-title {
			font-size: 12px;
			font-weight: normal;
			color: #fff;
		}
	}

	.card-body-row {
		margin: 0 !important;
		cursor: initial !important;

		.card-body-col {
			font-size: 12px;
		}
	}
}
