.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 370px;
	margin: auto;
}

.loading_text {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
}
