.container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 67px;
	margin: 0 0 16px;

	:global .ui_select_container.ui_ps_size_sm .ui_select_display_container {
		height: 40px;
	}

	:global #dash-main-filters {
		height: 40px;
	}
}

.single_filter {
	display: flex;
	flex-direction: column;

	.title_label {
		margin: 0 0 4px;
		font-size: 14px;
		color: #4f4f4f;
	}

	.dropdown {
		width: 130px;
		margin-right: 16px;

		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 4px;
		}

		.dropdown_label {
			margin: 0;
			font-size: 16px;
			font-weight: 600;
			color: #221f20;
		}
	}

	.time_range_drop_down {
		width: 200px;
	}
}

.location_filter_container {
	display: flex;
	align-items: flex-end;
	width: fit-content;
	margin: 0 16px 0 6px;

	.location_select {
		width: 240px;
		transition: all 300ms ease;
	}

	.port_arrow_icon {
		width: 42px;
		height: 22px;
		margin-bottom: 9px;
	}

	.search_icon {
		width: 24px;
		height: 16px;
	}

	.icon_container {
		order: 2;
	}

	.origin_location {
		display: flex;
		order: 1;
	}

	.destination_location {
		display: flex;
		order: 3;
	}

	.shrink_select {
		margin-right: 8px;

		& > div {
			width: 140px;
			transition: all 300ms ease;
		}

		&:hover {
			& > div {
				width: 240px;
				transition: all 300ms ease;
			}

			& + div > div {
				width: 140px;
				transition: all 300ms ease;
			}
		}
	}
}

.filters_container {
	margin: 0 0 0 auto;

	.btn_label {
		margin: 0 4px 0 6px;
		font-size: 16px;
		font-weight: 600;
		color: #221f20;
	}

	.filter_icon {
		width: 16px;
		height: 16px;
	}
}
