.custom_modal {
	:global {
		.ui_modal_body_container {
			min-height: 200px;
		}

		.pills_overflow {
			flex-wrap: wrap;
		}
	}
}

.header {
	display: flex;
	align-items: center;
}

.error {
	color: var(--color-primary-error-red-2);
}
