.container {
	padding: 36px 48px;
	background: #f7faef;
}

.header {
	display: flex;
	flex-direction: column;
}

.text_container {
	display: flex;
	flex-direction: column;
	margin: 16px 0;
}

.heading {
	font-size: 22px;
	font-weight: 400;
	color: #000;
}

.sub_heading {
	margin: 12px 0;
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.button {
	width: max-content;
}

.preview_container {
	margin: 60px 0;
}

.preview_label {
	font-size: 14px;
	font-weight: 600;
}

.preview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 12px;
	margin-top: 12px;
	background: #fbffff;
	border: 1px solid #d7eaea;
	border-radius: 8px;
}

.left_section {
	display: flex;
	align-items: center;
}

.right_section {
	display: flex;
	align-items: center;

	:global {
		.ui_pill_text {
			font-weight: 600;
		}
	}
}

.containers_count {
	min-width: max-content;
	font-size: 10px;
	font-weight: 500;
}

.location_details {
	display: flex;
	align-items: center;
}

.location {
	display: flex;
	flex-direction: column;
	margin-left: 14px;
}

.location_country_text {
	font-size: 10px;
	font-weight: 600;
	color: #000;
}

.icon {
	margin: 0 6px 0 12px;
}

.location_port_text {
	width: 80px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.load_details {
	margin: 0 8px;
}

.load_item {
	padding: 3px 6px;
	margin-left: 6px;
	font-size: 10px;
	font-weight: 400;
	color: #4f4f4f;
	background: #fef199;
	border: 1px solid #fcdc00;
	border-radius: 24px;
}

.tooltip_content {
	word-break: keep-all;
}
