

.serial_number{
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	margin-right: 8px;
}

.container_number{
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
	text-transform: uppercase;
	margin-right: 8px;
}

.container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 8px;

	&.no-border {
		border: none;

		.random:nth-child(2n + 1) {
			border-right: 1px solid #ded7fc;
		}
	}
}

.container_description{
	display: flex;
	width: 60%;
	padding: 0px 10px;
	align-items: center;
}

.container_item{
	display: flex;
	justify-content: space-between;
	padding: 16px 16px 0px 16px;
}

.tag_wrapper{
	margin-right: 8px;

	.core-ui-tag-root.sm {
		padding: 1px 4px;
	}

	.core-ui-tag-text {
		text-transform: capitalize;
	}
}
