@value --d-bg: #242424;
@value --d-card: #373737;
@value --d-hover-font-color: #ffffff;
@value --d-header-font-color: #828282;
@value --d-user-active-on-color: #E0E0E0;
@value --d-user-status-num-color: #E0E0E0;
@value --d-static-response-time-color: #BDBDBD;

@value --l-card: #ffffff;
@value --l-bg: #F8F2E7;
@value --l-hover-font-color: #221F20;
@value --l-header-font-color: #221F20;
@value --l-user-active-on-color: #828282;
@value --l-user-status-num-color: #221F20;
@value --l-static-response-time-color: #221F20;

.main_container {

    background: --l-bg;
    height: 100%;
    border: solid 1px #fff000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cogoverse_header{
    font-size: 20px;
    span{
        font-weight: 600;
    }
    margin-bottom: 15px;
}

/* ----------------------------------------------------- */

.primary_stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    height: 225px;
}

/* Primary Left ----------------------------------------------------- */

.primary_left{
    flex-basis: 58%;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;


    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);

}

.primary_left_stat{   
    flex-basis: 75%;
    height: 100%;
}
.left_stat_content{
   margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary_stat_title{
    font-size: 18px;
    font-weight: 600;
}
.primary_stat_description{
    margin-top: 5px;
    color: #828282;
    font-size: 14px;

}
.primary_left_icon{
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 200px;

}

/* Primary Right ----------------------------------------------------- */

.primary_right{

    flex-basis: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.active_users{
    background: #ffffff;
    padding: 12px 18px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);


}

.right_stat_title{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.right_stat_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
}

.right_stat_label{
    font-size: 14px;
    color: #828282;
}
.right_stat_value{
    font-weight: 600;
    font-size: 16px;
    color: #828282;
}

.ticket_container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);

}


.ticket_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5px;

}
.ticket_value{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.ticket_label{
    font-size: 14px;
    color: #828282;
}

/* Intent Leaderboard Stats------------------------------------------- */

.leaderboard_stats {
    border: solid 1px rgb(114, 78, 78);
	/* flex-basis: 55%; */
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
	max-height: 200px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
	overflow-y: scroll;
}

.leaderboard_header {
	color: #221F20;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
}
.leaderboard_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	gap: 13px;
}
.leaderboard_values {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px;
	padding: 10px 0px;
}
.leaderboard_description {

}


/* ----------------------------------------------------- */



/* .bookings_from_container {
    display: flex;
    justify-content: space-between;
    color: --l-header-font-color;
    background: --l-bg;
    padding: 3%;
    width: 100%;
    height: 26%;
}
.bookings_from {
    display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 6% 3% 6% 4%;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;

}
.bookings_content {
    font: Poppins;
}
.bookings_content_value {
    font-weight: 600;
    font-size: 16px;
}
.bookings_content_content {
    font-weight: 500px;
    font-size: 14px;
}
.bookings_content_static {
    font-weight: 400px;
    font-size: 12px;
    color: --l-header-font-color;
}
.users_active_on_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background: --l-bg;
} 
.users_active_on {
    margin: 0;
    padding: 2% 5% 5% 5%;
    background: --l-card;
    border-radius: 6px;
    width: 100%;
	height: 47%;
	color: black;
}
.users_active_on_content_container {
    display:flex;
    justify-content: space-between;
	color: --l-user-active-on-color;
}
.active_on {
    color: --l-header-font-color;
    font-size: 12px;
    margin-bottom: 6%;
}
.users_active_on_content {
    font-weight: 500;
    font-size: 14px;

}
.users_active_on_value {
    font-weight: 600;
    font-size: 16px;
}
.tickets_container {
    display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 3%;
	height: 44%;
}
.tickets_raised {
    background: --l-card;
    padding: 0% 10%;
    width: 50%;
    border-style: solid;
    border-color: --l-card;
}
.tickets_resolved {
    width: 50%;
    background: --l-card;
    padding: 0% 10%;
    border-style: solid;
    border-color: --l-card;
    border-left-color: #E0E0E0;
    border-width: 0.1px;
} 
.tickets_content_value {
    font-weight: 600;
    font-size: 16px;
	color: --l-hover-font-color;
}
.tickets_content_content {
    font-size: 14px;
    color: #828282;
    font-weight: 500;
}



.leaderboard_container {
    display: flex;
    justify-content: space-between;
    color: white;
    background: --l-bg;
    padding: 3%;
    width: 100%;
    height: 26%;
}
.intent_leaderboard_container {
    display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 1% 2%;
    width: 65%;
    flex-direction: column;
    gap:15%;
}
.intent_leaderboard {
    color: --l-header-font-color;
    font-size: 16px;
}
.intent_leaderboard_content_container {
}
.leaderboard_content_container {
    display:flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    padding: 2% 0%;
    color: #BDBDBD;
    border-style: solid;
    border-color: --l-card;
    border-bottom-color: #4F4F4F;
    border-width: 0.1px;
}
.leaderboard_content_container_1 {
    display:flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    padding: 2% 0%;
    color: #BDBDBD;
}
.leaderboard_content_container:hover {
	color: --l-hover-font-color;
}
.leaderboard_content_container_1:hover {
	color: --l-hover-font-color;
}
.leaderboard_content {
}
.leaderboard_content_value {

}
.leaderboard_value {
    font-weight: 600;
}
.leaderboard_static_data {
    
} */



.user_status_container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.user_status {
    display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 3% 8%;
    width: 100%;
    gap: 5%;
    /* color: #E0E0E0; */
}
.svg {
    /* display: flex;
    height: 100%; */
    margin-top:2%;
}
.svg_content {
    
    font-size: 14px;
    font-weight: 400;
}
.user_status_number {
    font-size: 16px;
    font-weight: 600;
	color: --l-user-status-num-color;
}
.user_status_name {
	color: --l-user-active-on-color;
}


.response_time_and_communications {
	display: flex;
    justify-content: space-between;
    color: white;
    background: --l-bg;
    padding: 3%;
    width: 100%;
    height: 18%;
}
.avg_response_time {
	display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 2% 4%;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
}
.static_avg_response_time {
	font-weight: 400;
	font-size: 13px;
	color: --l-static-response-time-color;
}
.variable_response_time {
	color: --l-hover-font-color;
}
.response_time_value {
	font-size: 30px;
	font-weight: 600;
}
.response_time_unit {
	font-size: 20px;
}
.arrow_img {
	margin-left: 15%;
}

.communications_container {
	display: flex;
    background: --l-card;
    border-radius: 6px;
    padding: 2% 4%;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
}