.container {
	max-width: 100%;
	padding: 14px;
	margin: 16px 0;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.border_right:not(:last-child) {
	border-right: 1px solid #e0e0e0;
}

.flex_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 12px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

.heading {
	display: flex;
	align-items: center;
	margin-right: 20px;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}

.flex_div {
	display: flex;
	align-items: center;
}

.flex_row {
	display: flex;
	flex-direction: column;
}

.flex_col {
	flex: 1;
}

.bar_container {
	display: flex;
}

.pie_container {
	display: flex;
}

.divider {
	padding-bottom: 16px;
	margin-top: 16px;
	margin-right: 10px;
	border-top: 1px solid #e0e0e0;
}

.divider_line {
	margin: 0;
	border-right: 1px solid #e0e0e0;
}

.flex_row_2 {
	display: flex;
}

.flex_col_1 {
	position: relative;
	right: auto;
	left: auto;
	box-sizing: border-box;
	flex: 0 0 58%;
	width: 58%;
	max-width: 58%;
	min-height: 1px;
	padding: 10px;
	margin-left: 0%;
}

.flex_col_2 {
	position: relative;
	right: auto;
	left: auto;
	box-sizing: border-box;
	flex: 0 0 42%;
	width: 42%;
	max-width: 42%;
	min-height: 1px;
	padding: 10px;
	margin-left: 0%;
}

.dropdown {
	width: 200px;
}

@media (max-width: 767px) {
	.border_right:not(:last-child) {
		padding: 10px 0;
		border-right: none;
		border-bottom: 1px solid #a59595;
	}

	.reset_btn {
		margin-top: 10px;
	}

	.heading {
		margin-bottom: 10px;
	}

	.flex_div {
		display: block;
		align-items: center;
	}

	.flex_col_1 {
		position: relative;
		right: auto;
		left: auto;
		box-sizing: border-box;
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		min-height: 1px;
		padding-right: 8px;
		padding-left: 8px;
		margin-left: 0%;
	}

	.flex_col_2 {
		position: relative;
		right: auto;
		left: auto;
		box-sizing: border-box;
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
		min-height: 1px;
		padding-right: 8px;
		padding-left: 8px;
		margin-left: 0%;
	}

	.flex_header {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding-bottom: 12px;
		margin-bottom: 16px;
		border-bottom: 1px solid #e0e0e0;
	}

	.flex_row_2 {
		display: flex;
		flex-direction: column;
	}

	.bar_container {
		display: block;
	}

	.pie_container {
		display: block;
	}
}
