.filter_div {
	display: flex;
	justify-content: space-between;
}

.search {
	display: flex;
	gap: 16px;
	justify-content: space-between;
	margin-top: 4px;

	:global {
		width: 35%;
		margin-right: 20px;

		.ui_input_container {
			height: 38px;
		}
	}

	::placeholder {
		font-size: var(--font-size-md);
		font-weight: 400;
		color: #8f8f8f;
	}
}

.filter_style {
	:global {
		.filter {
			flex-flow: nowrap;
		}
	}
}
