.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	:global {
		.ui_input_container {
			width: 150px;
		}

		.ui_input_control::placeholder {
			font-size: 12px;
		}
	}

	@media (max-width: 1100px) {
		margin-top: 16px;
	}
}
