.container {
	display: block;
}

.row {
	display: flex;
}

.filters {
	padding: 12px 6px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 6px;
}

.filtersheading {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: #4f4f4f;
}

.select {
	width: 200px;
	margin-right: 16px;

	/* padding: 2px 46px 2px 2px; */
}

.label {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 150%;
	color: #4f4f4f;
}
