.container {
    height: 100%;

    .header {
        font-size: 28px;
        font-weight: 600;
        margin: 0px;
    }
}

.stats_container {
    display: flex;
    padding-top: 16px;
}

.performance_chart {
    flex: 6;
}
