.container {
	margin-top: 8px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 4px;
}

.leave_data {
	display: flex;
	align-items: center;
}

.leave_count {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	padding: 16px;
	font-size: 10px;
	color: #c26d1a;
	background: #fef3e9;
	border-radius: 50%;
}

.leave_count > :not(:last-child) {
	margin-bottom: 2px;
}

.leave_status {
	display: flex;
	align-items: center;
}

.leave_status > :not(:last-child) {
	margin-right: 6px;
}

.leave_dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.leave_status_text {
	font-size: 12px;
}

.flex {
	display: flex;
	align-items: center;
}

.flex > :not(:last-child) {
	margin-right: 12px;
}

.leave_type {
	margin-bottom: 4px;
	font-size: 10px;
	color: #828282;
}

.dates {
	font-size: 10px;
	font-weight: 500;
	color: #221f20;
}

.pagination_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;
}

.pending_color {
	color: #c26d1a;
}

.approved_color {
	color: #849e4c;
}

.pending_color_bg {
	background-color: #f68b21;
}

.approved_color_bg {
	background-color: #abcd62;
}

.action {
	display: flex;
	align-items: center;
}

.action > :not(:last-child) {
	margin-right: 16px;
}
