.container {
	width: 100%;
	padding: 10px;
}

.select_container {
	width: 40%;
	padding: 4px 0 16px;
}

.header {
	font-size: 20px;
	font-weight: 700;
}

.header_container {
	display: flex;
	padding-bottom: 10px;
}

.back_arrow {
	display: flex;
	align-items: center;
	padding-right: 6px;
	cursor: pointer;
}

.employee_name:hover {
	cursor: pointer;
	text-decoration: underline;
	width: fit-content;
}
