.container {
	width: 100%;
	padding: 10px;
}

.select_container {
	width: 40%;
}
.ratings_cycles{
	padding-left: 0px;
	margin-left: 10px;
	width:200px;

:global{
	.ui_select_container{
		width:200px
	}
}
}

.toggle_container{
:global{
	.ui_toggle_switch{
        padding-top: 3px;
    }
	.ui_switch{
		top: 3px;
	}
}
}

.header {
	font-size: 20px;
	font-weight: 700;
}

.header_container {
	display: flex;
	padding-bottom: 10px;
}

.back_arrow {
	display: flex;
	align-items: center;
	padding-right: 6px;
	cursor: pointer;
}

.employee_name:hover {
	width: fit-content;
	text-decoration: underline;
	cursor: pointer;
}

.select_row {
	display: flex;
	align-items: center;
	padding: 4px 0 16px;
}


.level {
	display: flex;
	padding: 8px;
	flex-direction: row;
}

.publish_button{
	padding:3px;
	margin-left: 180%;
}
