
/* import { Modal } from '@cogoport/front/components/admin'; */

.container{};

/* .StyledModal = styled(Modal)}}; */

.heading{
	font-weight: 500;
	font-size: 18px;
	color: #393f70;
	margin-bottom: 24px;
};
