.container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.accordion {
	margin-bottom: 20px !important;
	overflow-y: scroll;
	background-color: #fff;
	border: 0.5px solid gold;
	transition: height 1s ease-out;

	:global {
		.ui_accordion_header {
			position: sticky;
			top: 0;
		}
	}
}

.status {
	display: flex;
	flex-basis: 80%;
	align-items: center;
}

.styled_radio_group_container {
	margin-left: 10px;
}
