.container{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.heading_text{
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #333333;
}
.info_icon{
    margin-left: 8px;
    margin-top: 6px;
}
.text{
    display: flex;
    flex-direction: column;
}
.hr{
    background: #ED3726;
    border-radius: 40px;
    width: 50%;
    height: 2px;
    margin-left: 2px;
}
.amount_container{
    padding: 16px 8px 12px 16px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    margin-bottom: 8px;
}
.amount_div{
    display: flex;
    margin-left: 24px;
}
.amount{
    display: flex;
    padding-right: 8px;
}
.point{
    height: 8px;
    width: 8px;
    background-color: #F68B21;
    border-radius: 8px;
    margin-top: 6px;
}
.point_label{
    display: flex;
}
.value{
    font-weight: 600;
    font-size: 15px;
    color: #333333;
    margin-left: 6px;
    margin-right: 8px;
    display: flex;
}
.label{
    margin-left: 8px;
    font-size: 14px;
    color: #333333;
}
.vr{
    width: 2px;
    height: 60px;
    background: #ED3726;
    border-radius: 40px;
    margin-right: 32px;
}
.green_point{
    background-color: #ED3726;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    margin-top: 6px;
}
.green{
    background: #67C676;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    margin-top: 6px;
}
.down{
    margin-left: 8px;
    margin-top: 2px;
    cursor: pointer;
}
.popover{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.row{
    display: flex;
    padding-bottom: 12px;
}
.progress_bar{
    margin-right: 24px;
    margin-top: 16px;
}