.container {
	margin-bottom: 8px;
	background-color: #fff;

	&:first-of-type {
		margin-top: 8px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.divider {
	width: 1px;
	height: 40px;
	margin: 6px 0;
	background-color: black;
}

.row_flex {
	display: flex;
	justify-content: space-between;
}

.width_50 {
	display: flex;
	align-items: center;
	width: 50%;
}

.custom {
	margin-left: 20px;
}

.row {
	display: flex;
	align-items: center;
}

.action_container {
	align-content: center;
	width: 5%;
}
