.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: -12px;
}

.ticket_generated {
	font-size: 24px;
	font-weight: 500;
	color: #000;
}

.sub_text {
	width: 80%;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #828282;
	text-align: center;
}

.request_id {
	color: #ee3425;
	text-decoration: underline;
}
