.container {
	display: flex;
	flex-direction: column;
	height: 150px;
	height: 160px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 16px;
	margin-bottom: 12px;
	background-color: #fff;
	border-radius: 6px;
}

.improvement {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #4f4f4f;
}

.box {
	overflow-y: auto;
}
.box ::-webkit-scrollbar { display: none; }

.improvement_text_box {
	display: flex;
	justify-content: row;
	padding: 3px;
}

.improvement_text {
	margin: 5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	color: #828282;
}

.dot {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 5px;
	margin-top: 12px;
	color: #828282;
	background-color: #4f4f4f;
	border-radius: 100%;
}
