.filter {
	border-radius: 10px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
}

.button {
	margin-right: 5px;
	margin-left: 5px;
}
