.container {
    table {
        width: 100%;
    }
    th {
        font-weight: 700;
    }

    tbody{

        tr {
            td {
                padding: 4px;
                 
                &:first-child{
                    /* background-color: red; */
                }
                &:nth-child(2){
                    /* background-color: yellow; */
                }
                &:nth-child(3){
                    /* background-color: green; */
                }
                &:nth-child(4){
                    /* background-color: pink; */
                }
                &:nth-child(5){
                    /* background-color: blue; */
                }
                &:nth-child(6){
                    /* background-color: orangered; */
                }

            }
        }
    }
}