.container {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
}

.list_row {
	display: flex;
	padding: 8px 10px;
	border-radius: 6px;
}

.list_column {
	display: flex;
	align-items: center;
}

.list_column:not(:last-child) {
	margin-right: 6px;
}

.box_shadow {
	box-shadow: 0 1px 1px 0 rgb(252 220 0 / 50%);
}

.rank_container {
	display: flex;
	align-items: center;
}

.hover {
	&:hover {
		cursor: pointer;
		box-shadow:
			0 2px 4px 0 rgb(252 220 0 / 40%),
			0 -2px 4px 0 rgb(252 220 0 / 40%),
			2px 0 4px 0 rgb(252 220 0 / 40%),
			-2px 0 4px 0 rgb(252 220 0 / 40%);
	}
}

.selected_item {
	background: #fef199;
}

.blurred {
	filter: blur(4px);
}
