.form_item_container{
    margin: 6px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row>div{
    width: 49%;
}

.checkbox{
    margin: 6px 0px;
    display: flex;
    align-items: center;

    :global{
        .ui_checkbox_container{
            padding-left: 0;
        }
    }
}
.errors{
    color: red;
    font-size: 12px;
}

.form_label{
    font-weight: 600;
    font-size: 12px;
}

.upload_container{
     :global {
        .ui_upload_filesuccess_container {
            margin-top: 4px;
            font-size: 12px;
        }
        .ui_upload_droparea_heading{       
            font-size: 12px;
        }

        .ui_upload_droparea_subheading {
            font-size: 10px;
        }
        .ui_upload_droparea_icon {
            margin-right: 12px;
        }

        .ui_upload_droparea_container {
            flex-direction: row;
            margin-bottom: 0;
            min-height: 0;
            padding: 0 12px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    } 
}
