.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);

	.title {
		font-size: 16px;
		font-weight: 600;
	}
}

.footer {
	padding: 10px 16px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.body {
	padding: 6px 20px;

	:global {
		.ui_stepper_container {
			justify-content: center;
			width: 100%;
			margin: 10px;
		}
	}
}

.stepper_container {
	border-bottom: 1px solid #f8f2e7;
}
