.flex {
  display: flex;
  align-items: center;

  margin-top: 16px;
  justify-content: space-between;
}
.card_small {
  background-color: #ffffff;
  padding: 8px 20px;
  border-radius: 8px;
}
.sub_flex {
  display: flex;
  align-items: center;
  gap: 16px;
}
.input_container {
  width: 400px;
}
.table_data {
  margin-top: 16px;
}
.flex_sort {
  display: flex;
  align-items: center;
}

.status {
  background: #fef1df;
  border-radius: 4px;
  padding: 4px 8px;
}
.status_fin {
  background: #ddebc0;
  border-radius: 4px;
  padding: 4px 8px;
}
.status_op {
  background: #ddebc0;
  border-radius: 4px;
  padding: 4px 8px;
}
.profit_data {
  color: #67c676;
}
.profit_color {
  color: #ee3425;
}
