.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card_small {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 8px;
}

.sub_flex {
  display: flex;
  gap: 16px;
  align-items: center;
}

.input_container {
  display: flex;
  align-items: center;
  width: 550px;
}

.table_data {
  margin-top: 16px;
  :global {
    .ui_table_body_row {
      cursor: pointer;
    }
  }
}

.flex_sort {
  display: flex;
  align-items: center;
}

.status {
  padding: 4px 8px;
  background: #fef1df;
  border-radius: 4px;
}

.status_fin {
  padding: 4px 8px;
  background: #ddebc0;
  border-radius: 4px;
}

.status_op {
  padding: 4px 8px;
  background: #ddebc0;
  border-radius: 4px;
}

.profit_data {
  color: #67c676;
}

.profit_color {
  color: #ee3425;
}

.wrapper {
  width: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quotation_styles {
  display: flex;
  flex-direction: column;
}
.sell_without {
  background: #fbc8c2;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 16px;
}
.ribbon {
  --f: 6px; /* control the folded part */
  --r: 12px; /* control the ribbon shape */
  --t: -7px; /* the top offset */

  position: absolute;
  top: 1px;
  right: -30px;
  padding: 0 10px var(--f) calc(8px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  font-size: 10px;
  background: #fbc8c2;
}
.sub_comp {
  background: #f8f2e7;
  border: 1px solid #f2e3c3;
  padding: 14px 36px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
  align-items: center;
}
.span_val {
  background: #ddebc0;
  border-radius: 4px;
  padding: 2px 16px;
}
.hide_data {
  color: #f68b21;
  text-decoration: underline;
  cursor: pointer;
  width: 200px;
}
.quo_border {
  height: 30px;
  border: 1px solid #f2e3c3;
  margin-left: 50px;
}
.quo {
  display: flex;
  align-items: center;
}
.color {
  color: #f68b21;
  font-weight: 600;
}
.purchase {
  font-weight: 600;
  margin: 4px 0px;
  text-decoration: underline;
}
