.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 22px;
	border: 1px solid #fef199;
	border-radius: 6px;
}

.left_section {
	display: flex;
	flex-direction: column;
	max-width: 75%;
}

.label {
	font-size: 14px;
	font-weight: 600;
}

.text {
	font-size: 12px;
	font-weight: 400;
}

.button_text {
	margin-right: 4px;
	font-size: 12px;
	font-weight: 500;
}
