.item_container {
	display: flex;
	align-items: center;
	width: 100%;
}

.delete_button_container {
	width: 5%;
}

.container {
	width: 100%;
	padding: 16px 0;
}

.child_container {
	margin-top: 10px;
}

.detail {
	flex-basis: 24%;
	padding: 8px 8px 0 0;

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}

.label {
	margin-bottom: 4px;
	font-weight: 400;
	color: #4f4f4f;
}

.field_row {
	display: flex;
	align-items: flex-end;
	margin: 16px 0 0;
}

.button_div {
	margin: 8px 0 0;
}
