.header {
	display: flex;
	justify-content: space-between;
}

.heading {
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
	background: #111 -webkit-linear-gradient(left, #111, #ff2431) no-repeat 0 0 / 40px;
	background-clip: text;
	-webkit-text-fill-color: rgb(0 0 0 / 20%);
	animation: sweep 2.5s ease-in infinite;

	@keyframes sweep {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: 100% 100%;
		}
	}
}
