.table {
	padding: 16px 26px;
	margin-top: 16px;
	background-color: #fff;
}

.create {
	display: flex;
	justify-content: flex-end;
}

.filter {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.search {
	margin-top: 8px;
}
