.container {
	border: 1px solid #fbd1a6;
	border-radius: 4px;

	:global {
		.ui_legend_container,
		.ui_legend_item {
			margin: 0;
		}

		.ui_legend_container {
			justify-content: flex-end;
			width: 100%;
		}
	}
}

.flex_box {
	display: flex;
	align-items: center;
	padding: 12px;
	border-bottom: 1px solid #fbd1a6;
}

.header {
	font-weight: 600;
}

.col {
	width: 25%;
	padding: 0 8px;

	>div {
		margin-right: 0 !important;
	}
}

.service_name {
	width: 30%;
}

.value,
.usages_left {
	width: 23%;
	text-align: center;
}

.is_active {
	width: 24%;
	text-align: right;
}

.scroll_container {
	max-height: 300px;
	overflow-y: scroll;
}
