.no_data_found {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	background-color: rgba(255 255 255 66.4%);
}

.pagination {
	display: flex;
	justify-content: right;
	margin-top: 30px;
}
