.parent {
	width: 100%;
	height: 150px;
}

.parent > * {
	margin-top: 20px;
}

.label {
	font-weight: 500;
	color: #4f4f4f;

	.value {
		color: #F37166;
	    margin-left: 7px;
	}
}

.date_title {
	font-size: 12px;
}

.date_label {
	font-size: 12px;
}

.date_input {
	font-weight: 500;
}
