.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* FilterContainer */
.filter_container {
	margin-left: 8px;
	background-color: #fff;
	border-radius: 6px;
}
