.header_container {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

.tickets_header {
	display: flex;
	align-items: center;
}

.back_icon {
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.tickets_header_text {
	margin-left: 5px;
	font-size: 16px;
	font-weight: 500;
}

.refresh_icon {
	margin-left: 10px;
	cursor: pointer;
}
