.added_services{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.rate_container{
	margin-bottom: 20px;
}

.heading{
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #393f70;
	margin: 0;
	margin-bottom: 28px;
}