.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: black;
	text-transform: uppercase;
}

.right {
	display: flex;
	align-items: center;
}
