.container {
	display: flex;
	flex-direction: column;
	width: 47%;
	min-height: 485px;
	padding: 8px 12px;
	background: #fff;
	border-radius: 8px;

	:global {
		.ui_table_container {
			border: none !important;
		}
	}
}

.empty_div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 49%;
	min-height: 512px;
	padding: 8px 12px;
	background: #fff;
	border-radius: 8px;
}

.title {
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #828282;
}
