.flex {
	display: flex;
	justify-content: center;
	width: 100%;
}

.col {
	display: flex;
	flex: var(--span);
	font-size: 12px;

	:global {
		& .ui_select_input_control,
		& .ui_input_control {
			font-size: 12px !important;
		}
	}
}

.edit {
	margin-left: 50px;
	color: #f68b21;
	cursor: pointer;
}

.background {
	background-color: #f3fafa;
}

.columnCardComponent {
	padding-top: 12px;
	margin-bottom: 6px;
}

.cancel {
	margin-right: 8px;
}

.button {
	margin-left: 10px;
}

.delete {
	margin-left: 25px;
	color: var(--color-primary-error-red-2);
	cursor: pointer;
}

.bottomLine {
	border-bottom: 1px solid #f3a95e;
}

.formButton {
	margin-left: 20px;
}

.deleteBody {
	height: 100%;
}

.deleteText {
	margin-top: 60px;
	font-size: 22px;
	text-align: center;
}

.selectController {
	width: 95%;

	:global {
		.ui_select_options_container {
			width: 200px;
		}
	}
}

.inputBox,
.selectionCriteriaController {
	width: 90%;
}

.columnData {
	font-size: 12px;
}
