.container{
	padding: 16px;
}

.text{
	margin-top: -8px;
}

.header{
	display: flex;
	align-items: center;
}

.icon_container{
	margin-right: 10px;

	svg {
		vertical-align: middle;
	}
}

.title{
	margin: 0;
	font-weight: 500;
}

.section{
	padding: 20px;
	padding-bottom: 0px;
	font-size: 13px;
}

.section_title{
	display: flex;
	align-items: center;

	.title {
		font-weight: 400;
		padding-right: 20px;
		font-size: 14px;
	}
}

.row{
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 45% 45%;
}

.col{
	width: 100% !important;

	.taxNumber {
		width: 50% !important;
	}
}

.check_box_wrapper{
	display: flex;
	margin: 10px 0px;
	font-size: 14px;
	align-items: center;

	.gst {
		margin: 0px 3px;
	}

	.addressSave {
		font-size: 14px;
		font-weight: 500;
	}
}

.inactive {
	:global {
		.ui_button_container {
			background-color: var(--color-tertiary-blue-5);
		}
	}
}

.active {
	:global {
		.ui_button_container {
			background-color: var(--color-tertiary-blue-4);
		}
	}
}

.filter_by_buttons {
	:global {
		.ui_button_container {
			margin: 4px;
			margin-left: 0;
			color: black;

			&:hover {
				background-color: var(--color-tertiary-blue-4);
			}
		}
	}
}

.addresses{
	display: flex;
}

.addressType {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}