.amount {
	display: flex;
	align-items: center;
	width: 79px;
	min-height: 32px;
	font-size: 12px;
	font-weight: 500;
	color: #303b67;
}

.amount_div {
	display: flex;
	align-items: center;
}

.link {
	display: flex;
	align-items: center;
	margin-left: 16px;
	cursor: pointer;
}

.styled_div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.input_styled {
	width: 78px;
	border-radius: 4px;
}

.edit_button {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.edit_button .addicon {
	font-size: 16px;
}

.edit_button .addicon:hover {
	z-index: 1;
	transition: all 0.5s ease;
	transform: scale(1.1);
}

.save_close {
	display: flex;
	align-items: center;
}

.save_close .saveicon,
.save_close .closeicon {
	font-size: 17px;
	font-weight: normal;
}

.save_close .saveicon:hover,
.save_close .closeicon:hover {
	z-index: 1;
	transition: all 0.5s ease;
	transform: scale(1.1);
}
