.overflow_wrapper {
	width: 45%;
	max-height: 260px;
	overflow-y: auto;
}

.title {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 450;
	cursor: pointer;
}

.amount {
	margin-left: 6px;
	font-size: 14px;
	font-weight: 700;
}

.color_dot {
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border-radius: 50%;
}
