.container {
	padding-right: 20px;
}

.primary_button {
	width: 94%;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 6px;

	&.green {
		background: #40ad3e !important;
	}
}

.secondary_button {
	width: 94%;
	margin: 8px 0 10px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 6px;
}
