.header {
	margin-bottom: 20px;
}

.notif {
	display: flex;
	align-items: center;
	padding: 10px 14px;
	background-color: #fef3e9;
	border: 1px solid #f9ae64;
	border-radius: 6px;
	box-shadow: 0 0 16px 0 #627fac33;

	.notif_text {
		margin-left: 6px;
		font-size: 13px;
	}
}

.form_container {
	margin: 20px 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.errors {
	color: #f33;
}

.col {
	width: 44%;
	padding: 0 10px;
	margin: 10px 0;

	:global {
		.ui_input_container {
			justify-content: space-between;
		}

		.ui_input_control {
			width: 62%;
		}

		.ui_input_suffix {
			margin-right: 9px;
			font-size: 12px;
			color: #878484;
			text-align: right;
		}
	}

	&.first_col {
		width: 88%;

		:global {
			.ui_input_container {
				width: 48%;
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 14px 16px 0;
	border-top: 1px solid #d3d3d3;

	.submit_btn {
		margin-left: 10px;
	}
}
