.container {
	margin: 0;
}

.heading {
	font-size: 1.2em;

	@media (min-width: 1024px) {
		font-size: 1.3em;
	}
	@media (min-width: 1440px) {
		font-size: 1.4em;
	}
	@media (min-width: 2560px) {
		font-size: 1.6em;
	}
}

.snapshot_container {
	display: flex;
	justify-content: space-between;
}
