.container {
	margin: 0;
}

.snapshot_container {
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;

	h3 {
		margin-bottom: 0;
	}

	:global {
		.ui_select_container {
			width: 135px;
		}
	}
}
