.modal_container {
	:global {
		.ui_modal_body_container {
			font-size: var(--font-size-xl);
			font-weight: 500;
		}

		.ui_modal_footer_container {
			button:first-child {
				margin-right: 12px;
			}
		}
	}
}
