.updated_on {
	display: flex;
	align-items: center;
	padding-right: 48px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: var(--black-60, #828282);
	text-align: right;
	letter-spacing: 0.28px;
}
