.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px 12px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 12px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;
	margin-right: 12px;
}

.pending_flex {
	display: flex;
	align-items: center;
	font-size: 12px;
}

.pending_color {
	color: #bf291e;
	border-radius: 10px;
}

.approved_color {
	color: #849e4c;
}

.pending_color_bg {
	background-color: #bf291e;
}

.approved_color_bg {
	background-color: #abcd62;
}

.pending_dot {
	width: 8px;
	height: 8px;
	margin-right: 6px;
	border-radius: 50%;
}

.document_section {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-top: 12px;
}

.doc_heading {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #4f4f4f;
}

.popover_green {
	padding: 6px 16px;
	color: #849e4c;
	cursor: pointer;
	background-color: #f7faef;
	border-top: 1px solid #e0e0e0;
	border-radius: 10px;
}

.popover_red {
	padding: 6px 16px;
	margin-bottom: 4px;
	color: #bf291e;
	cursor: pointer;
	background-color: #fdebe9;
	border-top: 1px solid #e0e0e0;
	border-radius: 10px;
}
