.container {
	:global {
		.rbc-date-cell {
			padding-left: 5px;
			text-align: start;
		}

		.rbc-month-view {
			border: none;
		}

		/* .rbc-btn-group {
			display: none;
		} */

		.rbc-month-row {
			cursor: pointer;
			border-right: 1px  solid #ddd;
			border-left: 1px  solid #ddd;

			&:last-child {
				border-bottom: 1px  solid #ddd;
			}
		}

		.rbc-row-segment {
			padding: 0;
		}

		.rbc-event {
			background: none;
		}

		.rbc-selected {
			border-color: #fff !important;
			outline: none;

			&:focus {
				outline: none;
			}
		}

		.rbc-day-bg {
			cursor: pointer;
		}

		.rbc-header {
			padding-bottom: 20px;
			font-weight: 600;
			border: none;
			border-bottom: 1px  solid #ddd;
		}

		.rbc-button-link {
			font-size: 14px !important;
			font-weight: 600 !important;
			pointer-events: none;
		}

		.ui_button_container {
			padding: 0;
		}
	}
}

.label {
	width: 180px;
	font-size: 18px;
	font-size: 600;
	text-align: center;
}

.header_container {
	display: flex;
	align-items: center;
}

.icon_styles {
	width: 25px;
	height: 25px;
	cursor: pointer;
	transform: 0.3s ease-in-out;

	&:hover {
		transition: 0.3s  ease-in-out;
		transform: scale(1.2);
	}
}
