.styled_steps {
	.rc-steps-item-title {
		padding-right: 10px;
	}

	.rc-steps-item .rc-steps-item-content {
		font-size: 10px;
		text-align: center;

		.rc-steps-item-description {
			text-align: inherit;
		}
	}

	.rc-steps-item-finish .rc-steps-item-tail::after {
		height: 6px;
		background-color: #8cc1f9;
	}

	.rc-steps-item-process .rc-steps-item-tail::after,
	.rc-steps-item-wait .rc-steps-item-tail::after {
		background-color: #7894b0;
	}

	.rc-steps-item-process .rc-steps-item-icon {
		background-color: transparent;
	}
}

.above_line_container {
	position: absolute;
	top: -16px;
	left: 50%;
	font-size: 10px;
	color: #8cc1f9;
	transform: translateX(-50%);
}

.below_line_container {
	position: absolute;
	top: 16px;
	left: 50%;
	font-size: 10px;
	transform: translateX(-50%);
}

.icon_container {
	position: absolute;
	top: -32px;
}

.logo_container {
	border: 1px solid #efefef;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}
