.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	padding-top: 10%;
	margin: auto;
}

.small_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	padding-top: 50px;
	margin: auto;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 500;
}
