.file_name {
	margin-left: 3px;
	font-size: 10px;
	color: #4f4f4f;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
}

.img_styles {
	margin-right: 2px;
}
