.header{
    display:  flex;
    justify-content: space-between;   
}

.party_name{
    width: 70%;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 16px;
}

.service_container{
    display: flex;
}
.service{
    color: #333333;
    font-size: 14px;
    width: fit-content;
}
.service_names{
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    padding-left: 4px;
}