.container {
	padding: 16px 12px;
	background: #fff;
	border-radius: 16px;
}

.title {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.sub_title {
	font-size: 12px;
	color: #4f4f4f;
}

.content_sub_container {
	margin-top: 12px;
}

.content_text_container {
	display: flex;
	align-items: flex-start;
	margin-bottom: 24px;

	:global {
		.ui_checkbox_container {
			padding: 0;
		}
	}
}

.checkbox {
	display: flex;
	align-items: center;
	padding: 2px 0;
}

.content {
	width: 90%;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #221f20;
}

.name_main_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	justify-content: center;
}

.full_name_text {
	margin-bottom: 6px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: #221f20;
}

.name_input_container {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	width: 100%;
}

.name_input {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #bdbdbd;
}

.error {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: #cb6464;
}
