.body_container{

}

.border {
	border: 1px solid grey;
}

.field_wrapper {
	margin-top: 0;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}

.styled_package_count {
	position: relative;
	right: auto;
	left: auto;
	box-sizing: border-box;
	flex: 0 0 50%;
	width: 30%;
	max-width: 50%;
	min-height: 1px;
	padding-right: 8px;
	padding-left: 8px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #393f70;
}
