.body_container{

}
.border{
    border: 1px solid grey;
}
.field_wrapper{
    margin-top: 0px;
}
.wrapper{
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}
.styled_package_count{
    box-sizing: border-box;
	min-height: 1px;
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
	width: 30%;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 10px;
	right: auto;
	left: auto;
	color: #393f70;
	font-weight: bold;
}