.container {
	margin-top: 20px;

	:global {
		.ui_table_body_cell {
			max-width: 200px;
		}
	}
}

.table_container {
	padding: unset !important;
	margin-top: 16px;
	overflow: auto;

	:global {
		.ui_table_head_row {
			background-color: #fff;

			.ui_table_head_cell {
				padding-top: 18px;
				padding-bottom: 10px;
				padding-left: 25px;
				margin-bottom: 10px;
				font-size: 14px;
				color: #000;
				text-align: center !important;
				border-bottom: 1px solid #f8f2e7;
			}
		}

		.ui_table_body_container {
			background-color: #fff;

			.ui_table_body_row {
				border-radius: 8px;

				.ui_table_body_cell {
					padding-block: 12px;
					padding-left: 25px;
					font-size: 14px;
					color: #221f20;
					text-align: center !important;
				}
			}
		}
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	font-size: 13px;
	cursor: pointer;
}

.origin_container {
	position: relative;
}

.relative_container {
	position: absolute;
	top: -21px;
	left: -24px;
	display: flex;
	align-items: center;
	height: 20px;
	padding: 0  2px;
	font-size: 10px;
	color: #bf291e;
	text-align: center;
	background: #fdebe9;
	border-radius: 0 0 6px;
}

.origin {
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
