.card {
	width: 31%;
	height: 280px;
	margin: 10px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 #627fac33;
}

.header_info {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	border-radius: 4px 4px 0 0;
}

.cycle_section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.serail_id {
	display: flex;
	justify-content: center;
	width: max-content;
	padding: 0 4px;
	font-size: 12px;
	background: #cfeaed;
	border-radius: 4px 0;
}

.cycle {
	display: flex;
	justify-content: center;
	width: max-content;
	padding: 0 4px;
	font-size: 10px;
	border-radius: 0 4px;
}

.warning {
	background: #fef199;
}

.escalate {
	background: #f8aea8;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px 8px;
}

.user_info {
	display: flex;
	align-items: center;
	width: 87%;

	svg {
		width: 25px;
		height: 25px;
		fill: #ee3425;
	}
}

.org_details {
	width: 85%;
	margin-left: 8px;
}

.business_name {
	max-width: 97%;
	overflow: hidden;
	font-weight: 600;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lower_section {
	display: flex;
	align-items: center;
	width: 100%;
}

.trade_name {
	max-width: 60%;
	overflow: hidden;
	font-size: 12px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* .action {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
}

.info_icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
} */

.body_info {
	display: flex;
	flex-direction: column;
	height: calc(100% - 124px);
	padding: 10px 16px;
}

.each_row {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.title {
	align-self: flex-start;
	margin-right: 10px;
	font-size: 12px;
}

.agent_name {
	align-self: center;
	width: 57%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.comment {
	display: flex;
	flex-wrap: wrap;
	width: 68%;
	font-size: 12px;
	color: #828282;
}

.line_break {
	width: 88%;
	margin: 0 16px 2px;
	border-bottom: 1px solid #e0e0e0;
}

.footer_container {
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	padding: 10px 16px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 32px;
	padding: 8px;
	margin-left: 10px;
	cursor: pointer;
	background: #c4dc91;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	svg {
		path {
			fill: #fff;
		}
	}
}
