.main_container {
	display: flex;
	flex-direction: column;
	width: 74%;
	height: 300px;
	padding: 10px;
	background: #fbf7f1;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 6%);
}

.activity_name {
	margin-bottom: 8px;
	font-weight: 600;
	color: #4f4f4f;
}

.main_container_upperpart {
	display: flex;
	padding-bottom: 8px;
	background: #fbf7f1;
}

.agent_nos_box {
	display: flex;
	flex-direction: column;
	width: 12%;
	padding: 0 6px 0 8px;
	margin-right: 10px;
	cursor: pointer;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.agent_nos_box_uppersection {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.agent_active_box {
	background-color: #fdebe9;
}

.agent_status {
	position: relative;
	top: 0%;
	left: 5%;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.agents_nos {
	position: relative;
	display: inline-block;
	padding: 11px 0 0 5px;
	font-size: 18px;
	font-weight: 500;
	color: #221f20;
}

.agents_nos::after {
	position: absolute;
	bottom: -2px;
	left: 3px;
	width: 90%;
	height: 1px;
	content: "";
	background-color: #000;
	transition: transform 0.25s ease-out;
	transform: scaleX(0);
	transform-origin: bottom right;
}

.agents_nos:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.agents_status_text {
	padding: 6px;
	font-size: 12px;
	color: #828282;
}

.main_container_lowerpart {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	background: #fbf7f1;
}

.profile_box {
	position: relative;
	display: flex;
	width: 29%;
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.profile_box_left {
	display: flex;
	padding: 4px 0 0 6px;
}

.profile_icon {
	top: 5px;
	height: 80%;
	padding: 6px;
	background: rgb(224 224 224 / 40%);
	border-radius: 4px;
}

.circle_icon {
	position: absolute;
	top: 2px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.online {
	background: #abcd62;
}

.offline {
	background: #828282;
}

.profile_box_right {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2px 0 0 10px;
}

.profile_box_right_up {
	display: flex;
	justify-content: space-between;
}

.name {
	width: 70%;
	overflow: hidden;
	font-weight: 600;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.call_status {
	width: 20%;
	font-size: 12px;
	color: #828282;
}

.profile_box_right_down {
	display: flex;
	justify-content: flex-start;
	padding-top: 2px;
}

.icon_plus_nos {
	display: flex;
	justify-content: flex-start;
}

.active_assigned_chats {
	padding-left: 4px;
	font-size: 10px;
	color: #828282;
}
