.container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;
}

.filter_container {
	display: flex;
	align-items: center;
	width: 100%;

	:global {
		.ui_select_container {
			width: 90%;
			margin-right: 10px;
		}

		.ui_multiselect_container {
			width: 90%;
			margin-right: 10px;
		}
	}
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.title {
	padding-bottom: 6px;
}

.filter {
	padding: 10px 0;
	font-weight: 600;
}
