.position {
	display: flex;
}

.position_trend {
	display: flex;
	align-items: center;
	margin-left: 12px;
}

.score_trend {
	display: flex;
	align-items: center;
	max-width: 120px;
	height: 20px;
	cursor: pointer;
}
