.container {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	background: #fff;
	transform: translate(-50%, -50%);

	&.column {
		display: flex;
		flex-direction: column;
	}
}

.text {
	font-size: 16px;
	font-weight: 500;
	color: #000;

	&.lg {
		font-size: 18px;
	}

	&.md {
		font-size: 16px;
	}

	&.sm {
		font-size: 12px;
	}

	&.xl {
		font-size: 20px;
	}
}
