.header_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.heading {
	font-weight: bold;
	color: var(--color-primary-error-red-2);
}

.file_upload_box {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.cancel_button {
	margin-right: 10px;
	border: 1px solid #333;
}

.sure_delete {
	font-size: var(--font-size-xl);
	line-height: 24px;
	text-align: center;
}

.modal_span {
	text-align: center;
}

.upload_container {
	margin-left: 60px !important;
}
