.remark {
	margin: 12px 0;

	.ui-textarea {
		padding: 6px;
	}
}

.sub_heading {
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: var(--color-secondary-greyscale-1);
}

.action_buttons {
	display: flex;
	justify-content: flex-end;

	& > button:first-child {
		margin-right: 12px;
	}
}
