.single_container{
    display: flex;
    flex-direction: column;

}

.heading{
    margin: 12px;
}

.detail_label{
    margin: 12px 0px;
}

.details_card{
    display: flex;
    flex-direction: column;
}

.single_card{
    display: flex;
    background-color: #F9F9F9;
    padding: 16px;
    margin-bottom: 16px;
}

.label{
    color: #828282;
    flex: 1;
    margin-bottom: 4px;
}

.value{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}