.error {
	font-weight: 500;
	color: #cb6464;
}

.form {
	padding: 10px;
	overflow: scroll;
}

.container {
	display: flex;
	flex-direction: column;
}

.childs_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.child {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 12px;
}

.child:last-child {
	margin-bottom: 8px;
}

.heading {
	display: flex;
	height: 24px;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #4f4f4f;
}

.add_button {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.remove_button {
	align-self: center;

	:global {
		.ui_button_container {
			padding: 0;

			&:hover {
				background-color: #fdebe9;
			}
		}
	}
}

.remove_icon {
	width: 18px;
	height: 18px;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
}

.flex_item {
	flex-basis: 33%;
	padding: 10px;
}

.form_item {
	display: flex;
	flex-direction: column;

	&.sub_control {
		margin-bottom: 0;
	}

	:global {
		.ui_input_container {
			padding: 0;
			border: none;
		}

		.ui_select_input_control {
			font-size: 12px !important;
		}

		.ui_input_control {
			padding: 4px 8px;
			font-size: 12px !important;
			border: 1px solid #dedede;
			border-radius: 4px;
		}

		.ui_chips_container {
			flex-wrap: wrap;
		}

		.react-datepicker-wrapper {
			width: 100%;
		}
	}
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.sub_label {
	margin-top: 12px;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #4f4f4f;
}

.error_message {
	margin-top: 8px;
	font-size: 12px;
	color: #e42525;
}

.add_icon {
	margin-right: 12px;
	background: #fff;
	border: 1px solid #221f20;
	border-radius: 50%;
}

.required_mark {
	margin-left: 4px;
	color: #e74c3c;
}

.child_label {
	margin-bottom: 12px;
}
