.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.question_count {
  font-weight: 500;
  font-size: 12px;
  color: #4f4f4f;
}

.question_type {
  font-size: 12px;
  color: #828282;
}

.question {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

.question_01 {
  padding-top: 42px;
}

.text {
  font-weight: 600;
  color: #221f20;
}
