.container {
	display: flex;
	flex-direction: column;
}

.question_count {
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.question_type {
	font-size: 12px;
	color: #828282;
}

.question {
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.question_01 {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text {
	font-weight: 600;
	color: #221f20;
	word-break: keep-all;
}

.subjective_part {
	height: 74vh;
	overflow-y: scroll;
}

.subjective_editor {
	border-radius: 6px;
}

.uploader {
	margin-top: 24px;

	:global {
		.ui_upload_droparea_container {
			height: 80px;
			background: #fff;
		}
	}
}
