.container {
	/* display: flex;
	flex-direction: column;
	justify-content: start; */
	padding: 16px 0;

	/* :global() {
		[data-tippy-root] {
			transform: translate3d(0, 100px, 0) !important;
		}
	} */
}

.logContainer {
	margin-top: 16px;
	background-color: #fff;

	:global(.ui_table_head_row) {
		background: #fdfbf6;
	}

	:global(.ui_button_container) {
		height: unset;
		padding: 0 0 0 12px;
	}
}

.filters {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.table_cell {
	display: flex;
	width: 200px;
}

.button_eye {
	height: unset;
}

.eye_open {
	margin: 0 4px;
}

.eye_icon {
	padding-top: 4px;
	margin-right: 8px;
}

.icmFilter {
	height: auto;
	margin: 0 8px 0 0;
	cursor: pointer;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 16px;
	border-top: 1px solid var(--color-tertiary-beige-4);
}

.input_filters {
	display: flex;
	flex: 3;
	gap: 8px;
	justify-content: flex-end;
}

.filter_container {
	display: flex;
	justify-content: space-between;
}
