.parent {
	padding: 24px;
	font-weight: 600;
	background-color: white;
	border-radius: 8px;
}

.heading {
	margin-bottom: 12px;
}

.container > :first-child {
	border-top: 1px solid #bdbdbd;
	border-radius: 8px 8px 0 0;
}

.container > :last-child {
	border-radius: 0 0 8px 8px;
}

.flex_right {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	width: 100%;
	margin-top: 24px;
}

.right_submit_btn {
	display: flex;
	gap: 10px;
	align-items: center;
}

.alert {
	background-color: red;
}
