.container {
	width: 70%;
}

.chat_sections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 82px);
	background: #f9f9f9;
	border-radius: 0 0 8px;
}

.typing_container {
	display: flex;
	align-items: center;
	padding: 8px 0 4px;
	background: #fff;
	border-radius: 0 0 8px;
	box-shadow: 0 -1px 2px rgb(0 0 0 / 15%);
}

.icon_wrap {
	display: flex;
	align-items: center;
	margin: 0 8px;
	cursor: pointer;

	svg {
		fill: #f68b21;
	}
}

.attached_doc {
	display: flex;
	align-items: center;
	padding: 4px;
	margin: 0 4px 4px 0;
	font-size: 10px;
	white-space: nowrap;
	background: #e0e0e0;
	border-radius: 4px;
}

.attached_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-height: 30px;
	padding: 4px;
	overflow: auto;
}

.send {
	path {
		fill: #f68b21;
	}

	&.loading {
		cursor: default;
		opacity: 0.4;
	}
}

.text_docs_container {
	display: flex;
	flex-direction: column;
}

.text_area {
	padding: 0;
	margin-top: 4px;
	border: none;
}

.uploader {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: 0;
			padding: 0 12px;
			margin-bottom: 0;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		.ui_upload_droparea_heading {
			font-size: 12px;
		}

		.ui_upload_droparea_subheading {
			font-size: 10px;
		}

		.ui_upload_droparea_icon {
			margin-right: 12px;
		}

		.ui_upload_filesuccess_container {
			margin-top: 4px;
			font-size: 12px;
		}

		.ui_lqy5Q {
			padding: 4px 8px;
		}
	}
}
