.container {
	width: 68%;
}

.chat_sections{
	background: #f9f9f9;
	border-radius: 0px 8px 8px 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 70px);
}

.typing_container {
	display: flex;
	align-items: center;
	background: #F8F2E7;
	border-top: 1px solid #F2F2F2;
	border-radius: 4px;
	padding: 8px 0px 4px 0px;
}

.icon_wrap {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 0px 8px;
}

.attached_doc {
	display: flex;
	align-items: center;
	background: #e0e0e0;
	padding: 4px 8px;
	border-radius: 4px;
	margin-right: 4px;
	font-size: 10px;
	width: fit-content;
	white-space: nowrap;
}

.attached_container {
	display: flex;
	max-width: 250px;
	overflow: auto;
}

.send {
	cursor: pointer;
	padding-right: 10px;

	path {
		fill: #000000;
	}

	&.loading {
		opacity: 0.4;
		cursor: default;
	}
}

.text_area {
	padding: 0px;
	border: none;
	:global{
		.ui_text_area_control {
			background-color: #F8F2E7;
			align-items: center;
			color: black;
		}
	}
}

.uploader {
	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			margin-bottom: 0;
			min-height: 0;
			padding: 0 12px;

			svg {
				width: 30px;
				height: 30px;
			}
		}

		.ui_upload_droparea_heading{
			font-size: 12px;
		}

		.ui_upload_droparea_subheading {
			font-size: 10px;
		}

		.ui_upload_droparea_icon {
			margin-right: 12px;
		}

		.ui_upload_filesuccess_container {
			margin-top: 4px;
			font-size: 12px;
		}

		.ui_lqy5Q {
			padding: 4px 8px;
		}
	}
}