.display_assesment {
	width: 100%;
}

.question {
	display: flex;
	flex-direction: row;
	font-weight: 600;
}

.answer {
	display: flex;
	flex-direction: row;
}

.flex {
	width: 90%;
}

.errors {
	margin-top: 8px;
	color: #ee3425;
}
