.display_assesment{
	width: 100%;
}

.question{
	font-weight: 600;
	display: flex;
	flex-direction: row;
}

.answer{
	display: flex;
	flex-direction: row;
}

.flex{
	width: 90%
}

.errors {
	margin-top: 8px;
	color: #ee3425;
}
