.settings_container{
    padding: 8px;
}
.label{
    font-size: 18px;
    margin: 12px 0px 4px 0;
}
.section{
   display: grid;
   grid-template-columns: auto auto;
   padding: 12px;
}
.section_label{
    margin: 8px 0px;
}
.ui_input_control * {
    width: 40px;
    border-radius: 50%;
    height: 40px,
}
.background_image{
    display: flex;
    align-items: center;
}
.icons{
    cursor: pointer;
}