.label{
    font-size: 18px;
    margin: 12px 0px 4px 0;
}
.section{
   display: flex;
   flex-wrap: wrap;
}
.section_label{
    margin: 8px 0px;
}
.ui_input_control * {
    width: 40px;
    border-radius: 50%;
    height: 40px,
}