.redflags_container {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 370px;
	padding: 10px;
	margin-bottom: 12px;
	cursor: default;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.empty_escalations_picture {
	align-self: center;
	justify-self: center;
	margin: auto;
}

.heading {
	font-weight: 600;
	color: #4f4f4f;
}

.redflags_lists {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.redflags_lists::-webkit-scrollbar {
	display: none;
}

.escalations_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #f8f2e7;
}

.escalations_lists::-webkit-scrollbar {
	display: none;
}

.picture_name_kam_box {
	display: flex;
}

.agent_picture {
	width: 25px;
	height: 25px;
	padding: 3px;

	img {
		width: 18px;
		height: 18px;
	}

	background: rgb(224 224 224 / 40%);
	border-radius: 3.9px;
}

.agent_name {
	padding-left: 14px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.job_role {
	width: 80px;
	padding-left: 14px;
	overflow: hidden;
	font-size: 10px;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notification_nos {
	width: fit-content;
	padding: 3px 9px;
	margin-right: 10px;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	background: #ee3425;
	border-radius: 7px;
	block-size: fit-content;
}
