.container {
}

.stats_container {
	display: flex;

	@media(max-width: 768px){
		flex-direction: column;
	}
}

.question_button_container {
	display: flex;
	justify-content: flex-start;
}

.redirect_container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #393f70;
	cursor: pointer;

	p {
		font-size: 18px;
		font-weight: bold;
		margin: 0px;
	}
}

.table_section {
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	margin-top: 16px;

	:global(.core-ui-input-root) {
		height: 34px;
	}

	p {
		font-size: 18px; 
		font-weight: bold;
		color: #393f70;
	}
}

.info_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 0;
}

.filter_container {
	margin-right: 14px;

	& .tippy-box .tippy-content {
		max-height: 100%;
	}
}

.filter-control-label {
	margin-top: 16px;
	font-weight: 500;
}

.bussiness_module_filter_header {
	margin-bottom: 8px;
}

.filters {
	display: flex;
	align-items: center;
}

.department_select {
	display: flex;
	justify-content: flex-start;
}
