.top_header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header {
	display: flex;
	margin-top: 16px;
}

.container {
	padding-top: 10px;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);
}

.toggle_chat {
	display: flex;

	:global {
		.ui_toggle_container {
			margin-right: 62px;
		}
	}
}
