.container {
  display: flex;
  align-items: center;
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 24px;
}

.po_number {
  white-space: nowrap;
  color: #979797;
  font-weight: 400;
  font-size: 12px;
}

.customer {
  border-right: 1px solid #e0e0e0;
  width: 25%;
}

.port_details {
  display: flex;
  justify-content: center;
  width: 60%;
  border-right: 1px solid #e0e0e0;
  margin-right: 30px;
}

.business_name{
  width: fit-content;
  max-width: 150px;
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dots{
  margin-left: 30px;
}