.container {
  display: flex;
  align-items: center;
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 24px;
}

.po_number {
  white-space: nowrap;
  color: #979797;
  font-weight: 400;
  font-size: 12px;
}

.customer {
  border-right: 1px solid #e0e0e0;
  width: 18%;
  padding-right: 20px 4px;

  .tippy-box {
    max-width: fit-content !important;
  }
  .core-ui-tooltip-root {
    text-align: start;
  }
}

.port_details {
  display: flex;
  justify-content: center;
  width: 55%;
  border-right: 1px solid #e0e0e0;
  margin-right: 30px;
}

.business_name{
    font-size: 12px;
  width: fit-content;
  max-width: 100px;
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dots{
  margin-left: 5px;
}

.tooltip {
  font-weight: 500;
  max-width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: start;
  font-size: 10px;
  color: #828282;
  width: fit-content;
}

.button {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: red;

    :hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }
}