.container {
	display: flex;
	margin-right: 1rem;

	@media (max-width: 768px) {
		justify-content: space-between;
		width: 100%;
		margin-right: 0;
	}
}

.price_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 2rem;

	&.total {
		@media (max-width: 768px) {
			margin-right: 0;
		}
	}
}

.label {
	width: max-content;
	font-size: 10px;
	line-height: 150%;
	color: #000;
}
