.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 18px;
	background-color: #fdfaf8;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
}

.icon_container {
	display: flex;
	align-items: center;
}

.info_container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}

.title {
	width: 230px;
	margin: 0;
	overflow: hidden;
	font-size: 11px;
	font-weight: 500;
	line-height: 18.75px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subtitle {
	margin: 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 14.06px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}

.details {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.completed {
	background: #c1e1c1;
}

.processing {
	background: #add8e6;
}

.lead {
	background: #a8acce;
}

.uploaded {
	background: #f7ca9a;
}

.shipment {
	background: #f6c692;
}

.raw {
	background: #ade2ad;
}

.failure {
	background: linear-gradient(to right, rgb(243 180 180), rgb(243 180 180));
}

.status_pill {
	display: flex;
	align-items: center;
}
