.layout {
	align-items: center;
	justify-content: center;
	min-width: 270px;
	padding: 5px 15px;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	background-color: #fff;
	border-radius: 8px;

	@media (max-width: 768px) {
		padding: 20px 30px;
		margin-top: 20px;
	}
}

.heading {
	padding-left: 10px;
	margin: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color: #333;

	@media (max-width: 768px) {
		font-size: 18px;
		font-weight: 700;
	}
}

.spacebetween {
	display: flex;
	justify-content: space-between;
	padding: 5px 25px 0;
	margin: 10px 0;
}

.flex {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
	padding: 4px 5px;
	margin: var(--margin);

	@media (max-width: 768px) {
		padding: 10px 80px 5px 60px;
	}
}

.number {
	font-size: 24px;
	font-weight: 510;
	line-height: 20px;
}

.label {
	padding-top: 5px;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}
