.question_div {
	max-width: 360px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.updated_at {
	display: flex;
	align-items: center;
}

.updated_at_text {
	margin-right: 6px;
}