.title {
	height: 20px;
	text-align: center;
}

.container {
	:global {
		.ui_tab_container {
			padding: 12px 27px 4px;
		}
	}

	@media (max-width: 1260px) {
		:global {
			.ui_tab_container {
				width: 142px;
				padding: 12px 27px;
			}
		}
	}
}
