.container {
	height: fit-content;
	margin: 22px 22px 0 0;
	border: 1px solid #f9da7f;
	border-radius: 4px;

	&.cancelled {
		border: 1px solid #333;
	}

	&.completed {
		border: 1px solid #ded7fc;
	}

	&.confirmed_by_service_provider {
		border: 1px solid #ded7fc;
	}

	&.confirmed_by_importer_exporter {
		border: 1px solid #ded7fc;
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.last {
	margin-bottom: 0;
}

.other {
	margin-bottom: 4px;
}
