.container {
	position: fixed;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 280px;
	height: 50px;
	padding: 12px;
	cursor: move;
	background: #fff;
	border-radius: 6px;
	box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	background: #fdebe9;
	border-radius: 12px;
}

.status_container {
	display: flex;
	justify-content: space-evenly;
}

.min_duration {
	margin-bottom: 5px;
	font-size: 10px;
	font-weight: 500;
	color: #393f70;
}

.min_number {
	width: 120px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	color: #393f70;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.end_call_icon {
	width: 15px;
	height: 15px;
	fill: #fff;
	transform: rotate(135deg);
}

.end_call {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	cursor: pointer;
	background-color: #bf291e;
	border-radius: 10px;
}

.maximize_icon {
	display: flex;
	margin: 0 8px;
	cursor: pointer;

	svg {
		width: 20px;
		height: 20px;
	}
}
