.kra_description {
	width: 380px;
	padding: 10px;
	margin-left: 6px;
	border: 1px solid #f00;
	border-radius: 5px;
}

.table_style {
	padding-top: 20px;

	:global {
		.ui_table_head_cell {
			background: #f6cbcb;
		}
	}
}
