.container {
	position: relative;
	display: flex;
	justify-content: space-between;

	:global {
		.ui_popover_container {
			max-width: 300px !important;
			word-break: keep-all;
			pointer-events: auto;
			background-color: #fef199;
			box-shadow: 0 0 9px 0 #f2f3fab2;
			opacity: 1;
		}

		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}
}

.source_tag {
	position: absolute;
	top: -20px;
	left: -16px;
	width: fit-content;
	padding: 4px 12px;
	font-size: 12px;
	color: #333;
	background: #cfeaed;
	border-radius: 8px 0 4px;

	&.spot_negotiation_rate {
		background: #e6fbe9;
	}
}

.left_section {
	display: flex;
	align-items: center;
	margin-top: 12px;

	:global {
		.ui_checkbox_container {
			padding-left: 0;
		}
	}
}

.trip_type_icon {
	font-size: 20px;

	&.one_way {
		transform: rotate(90deg);
	}
}

.trip_type_label {
	margin-left: 8px;
	font-size: 16px;
	font-weight: 600;
}
