.redflags_container {
	display: flex;
	flex-basis: 26%;
	flex-direction: column;

	/* height: 30%; */
	height: 350px;
	padding: 10px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 6px;
}

.heading {
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.redflags_lists {
	display: flex;
	flex-direction: column;

	/* height: 43%; */
	overflow-y: scroll;
}

.escalations_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #f8f2e7;
}

.picture_name_kam_box {
	display: flex;
}

.picture {
	width: 25px;
	height: 25px;
	padding: 3px;

	img {
		width: 18px;
		height: 18px;
	}

	background: rgb(224 224 224 / 40%);
	border-radius: 3.9px;
}

.name {
	padding-left: 14px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.kam {
	padding-left: 14px;
	font-size: 10px;
	color: #828282;
}

.notification_nos {
	width: fit-content;
	padding: 3px 9px;
	margin-right: 10px;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	background: #ee3425;
	border-radius: 7px;
	block-size: fit-content;
}
