.email_title {
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: 600;
}

.email_info {
	margin-bottom: 8px;
}

.email_fields {
	display: flex;
	margin-bottom: 8px;
}

.field {
	font-weight: 600;
}

.multi_select {
	width: 400px;
}

.email {
	margin-left: 16px;
}

.divider {
	height: 1px;
	margin-bottom: 12px;
	background-color: #e0e0e0;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.footer_title {
	color: #ee3425;
}

.footer_buttons {
	display: flex;
}

.container {
	padding: 20px;
}

.img {
	width: 100%;
	height: auto;
	padding: 12px;
}

.cancel {
	margin-right: 8px;
}

.email_name,
.subject_info {
	margin-left: 8px;
}

.error {
	color: #ee3425;
}

.tags {
	margin-top: 12px;
}

.header {
	display: flex;
	align-items: center;
}
