.container {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.empty_icon {
	margin-top: 40px;
	text-align: center;
}

.pagination_container {
	float: right;
	margin-top: 20px;
}
