.type_to {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 4px 0;
}

.sub_text {
	width: 40px;
	font-size: 14px;
	color: #828282;
}

.styled_input {
	textarea:focus {
		outline: none;
	}

	border: none !important;
}

.rte_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	:global {
		.ui_rich_text_editor_container,
		.ui_rich_text_editor {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			min-height: 35vh;
			max-height: 80vh !important;
		}

		.ql-editor {
			max-height: 45vh !important;
		}

		.ql-tooltip {
			left: 0 !important;
		}

		.se-toolbar,
		.se-wrapper {
			z-index: unset !important;
		}
	}
}

.styled_editor {
	:global {
		.notranslate {
			min-height: 300px;
		}
	}
}

.attachments_scroll {
	margin-top: 5px;
}

.uploaded_files {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	padding: 5px 10px;
	margin: 10px;
	background-color: #f5f5f5;
}

.uploaded_files_content {
	display: flex;
	align-items: center;
	width: 75%;
	cursor: pointer;
}

.content_div {
	padding-left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cross_svg {
	cursor: pointer;
}

.uploading {
	min-height: 20px;
	margin: 5px;
	font-size: 13px;
	font-weight: 500;
}

.select_container {
	width: 80%;
	padding-right: 3px;
	margin-left: 10px;

	:global {
		.ui_select_container {
			width: 100%;
		}
	}
}

.preview_container {
	margin-top: 4px;
}

.preview_label {
	font-size: 16px;
	font-weight: 600;
}

.preview_body {
	margin-top: 2px;
}

.empty_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80%;
	font-size: 18px;
	font-weight: 500;
}

.no_permission_text {
	margin-top: 20px;
}
