.pop_btn {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: var(--color-accent-orange-5) !important;
	border-radius: 4px;
}

.pop_btn:hover {
	background: var(--color-accent-orange-4) !important;
}
