.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	:global {
		.ui_multiselectt_options_container {
			max-height: 120px;
		}
	}
}

.wrapper {
	display: flex;
	align-items: center;
}

.label {
	margin-top: 16px;
	font-size: 18px;

	span {
		margin-left: 6px;
		font-size: 12px;
	}
}

.styled_select {
	width: 60%;
	margin-top: 8px;
}

.button_section {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	min-height: 44px;
	padding: 8px;
	margin-top: 6%;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}
