.line_item_values {
	display: flex;
	flex-direction: column;
}

.value {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.text {
	width: 70%;
	padding: 2px 6px;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
	white-space: nowrap;
}
