.statisfaction_box {
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 13px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #4f4f4f;
}

.sub_section {
	display: flex;
	flex-direction: column;
	padding: 15px 5px 5px;
}

.icon_plus_number {
	display: flex;
	align-items: center;
}

.customers_numbers {
	position: relative;
	display: inline-block;
	padding: 4px;
	padding-left: 8px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #221f20;
}

.customers_numbers::after {
	position: absolute;
	bottom: 4px;
	left: 6px;
	width: 80%;
	height: 1px;
	content: "";
	background-color: #000;
	transition: transform 0.25s ease-out;
	transform: scaleX(0);
	transform-origin: bottom right;
}

.customers_numbers:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.customer_type {
	color: #828282;
}

.placeholder {
	margin-left: 5px;
	border-radius: 4px;
}
