.intent_served_box {
	display: flex;
	flex-direction: column;
	width: 52%;
	height: 280px;
	padding: 13px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.heading {
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.sub_section {
	display: flex;
	flex-direction: column;
	padding: 12px 5px 5px;
	border-bottom: 1px solid #f8f2e7;
}

.served_intent_numbers {
	position: relative;
	display: inline-block;
}

.served_intent_numbers::after {
	position: absolute;
	bottom: 0;
	left: 1px;
	width: 7%;
	background-color: #000;
	transition: transform 0.25s ease-out;
	transform: scaleX(0);
	transform-origin: bottom right;
}

.served_intent_numbers:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.intents_served_name {
	color: #828282;
}

.placeholder {
	border-radius: 4px;
}
