
.container {
	position: relative;
	box-shadow: 0px 1px 6px rgba(179, 213, 251, 0.45);
	border-radius: 4px;
	cursor: pointer;
	padding-bottom: 14px;
	margin: 0px 2px 20px 2px;
}

.banner_image {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	height: 130px;
	width: 100%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.circle_icon {
	display: flex;
	align-items: center;
	justify-content: end;
	position: absolute;
	top: 0;
	right: 0;
	background: #d9eafd;
	border-bottom-left-radius: 100%;
	border-top-right-radius: 4px;
	height: 45px;
	width: 45px;
}

.badge {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
	width: fit-content;
	background: #d9eafd;
	border-radius: 3px;
}

.discount_amount {
	font-weight: 500;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0.02em;
	color: #356efd;
	display: flex;
	align-items: center;

	&.align_left {
		margin-left: 4px;
	}
}

.discount {
	font-weight: 700;
	font-size: 14px;
	text-align: right;
	color: #356efd;
	padding-right: 7px;
	margin-top: -4px;
}

.promo_code_name {
	background: #356efd;
	color: #ffffff;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	padding: 2px 10px;
}

.promo_code_description {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 0px 2px 0px;
	.offer-desc {
		width: 70%;
		font-weight: 400;
		font-size: 12px;
	}
}

.off_text {
	font-weight: 500;
	&.space-left {
		margin-left: 4px;
	}
}

.holes_lower {
	position: relative;
	margin: 12px 20px;
	border: 1px solid #8cc1f9;
	&:before,
	&:after {
		content: '';
		height: 25px;
		width: 25px;
		background-color: #fff;
		position: absolute;
		border-radius: 50%;
		top: -13px;
	}

	&:before {
		left: -35px;
	}
	&:after {
		right: -35px;
	}
}

.promo_code {
	display: flex;
	justify-content: center;
	align-items: center;
}

.discount_amount_percent {
	height: 130px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	border: 6px solid rgba(171, 182, 245);
	border-radius: 4px 4px 0px 0px;
	display: flex;
	flex-direction: column;
	padding: 8px 16px;
}
.flat_text {
	font-weight: 900;
	font-size: 38px;
	color: #356efd;
}

.amount {
	font-weight: 600;
	font-size: 24px;
	color: #356efd;

	&.space_left {
		margin-left: 4px;
	}
}

.tool_tip_div {
	display: flex;
	justify-content: center;
}

.text {
	text-decoration: underline;
    text-align: center;
	color: #356efd;
	size: 10px;
	margin-top: 8px;
	width: fit-content;
}

.service_title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	color: #2c3e50;

	&.space_top {
		padding: 10px 0px 2px 0px;
	}

	&.space_left {
		margin-left: 4px;
	}
}
