.filter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.left_filters {
	display: flex;
	align-items: center;
}

.filter_popover {
	width: 103%;
}

.filter_section {
	display: flex;
	justify-content: space-between;
	margin: 8px;
}

.close_popover {
	display: flex;
	flex-direction: row-reverse;
}

.search {
	:global {
		width: 26%;

		.ui_input_container {
			height: 36px;
		}
	}

	::placeholder {
		font-size: var(--font-size-md);
	}
}

.icon {
	padding-top: 2px;
	padding-left: 5px;
	color: var(--color-primary-error-red-2);
}
