.secondary_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 28px;
}

.dates {
	display: flex;
}

.forecast_date {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-right: 6px;
	font-weight: 500;
	color: #928c8c;
	cursor: not-allowed;
	background-color: #fff;
}

.calendar_image {
	margin-right: 4px;
}
