.container {
	padding: 12px;
}

.header_text {
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: #393f70;
	text-transform: capitalize;
}

.card_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 24px 16px;
	background-color: #fff;
	border-bottom: 1px solid #ded7fc;
	border-radius: 1px;
}

.container_header {
	margin-right: 12px;
	font-size: var(--font-size-md);
	font-weight: 700;
	line-height: 16px;
	color: #393f70;
}

.custom_tag {
	padding-left: 10px;
	margin-right: 20px;
}

.button_container {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
}

.content {
	padding: 0 16px 24px;
}

.label {
	margin: 8px 0;
	font-weight: 900;
	line-height: 14px;
	letter-spacing: 0.02em;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.heading {
	margin-right: 12px;
	font-size: var(--font-size-md);
	font-weight: 700;
	line-height: 16px;
	color: #393f70;
}
