.activity_date {
	display: flex;
	align-items: center;
}

.dot {
	width: 10px;
	height: 10px;
	background: #bdbdbd;
	border-radius: 50%;
}

.durations {
	margin-left: 5px;
	font-size: 10px;
	color: #828282;
}

.main_card {
	padding: 8px;
	margin: -5px 0 -5px 5px;
	border-left: 1px solid #bdbdbd;
}

.card {
	padding: 8px;
	margin: 5px 10px;
	background: #ffff;
	border-left: 2px solid #c26d1a;
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.description {
	display: flex;
	flex-wrap: wrap;
	margin-top: 4px;
	font-size: 12px;
	color: #4f4f4f;
	word-break: break-all;

	span {
		margin: 0 3px;
	}
}
