.trade_party_name {
  margin: 4px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}
.wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.incident_id {
  padding: 0px 20px;
}

.flex {
  display: flex;
  align-items: center;
}
