.circle_background,
.circle_progress {
	fill: none;
}

.circle_background {
	stroke: #ddd;
}

.circle_progress {
	stroke: var(--color-primary-error-red-2);
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle_text {
	font-size: 12px;
	font-weight: bold;
	fill: var(--color-primary-error-red-2);
}
