.container_body {
	max-height: 50vh;
	overflow: scroll;
}

.field_container {
	padding-bottom: 16px;

	:global {
		.ui_checkbox_container {
			padding: 0 !important;
		}
	}
}

.label {
	line-height: 24px;
	color: #4f4f4f;
}

.buttonDiv {
	display: flex;
	gap: 4px;
	justify-content: flex-end;
}
