.label{
    font-weight: 600;
    font-size: var(--font-size-md);
}

.value {
    margin-bottom: 10px;
    font-size: var(--font-size-md);
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px  0;
}

.no_data{
    font-weight: 600;
    font-size: 12px;
    padding: 8px 0;
}