.service_heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	font-weight: 600;
}

.service_component {
	display: flex;
	width: 100%;
	overflow-x: scroll;
	font-weight: 400;
}

.service_component::-webkit-scrollbar {
	appearance: none;
	width: 8px;
	height: 4px;
}

.service_component::-webkit-scrollbar-thumb {
	background-color: rgb(0 0 0 / 50%);
	border-radius: 4px;
	box-shadow: 0 0 1px #2d2d2d;
}

.modify_heading {
	font-weight: 600;
}

.modify_content {
	font-size: 12px;
}

.modification {
	margin-right: 20px;
	margin-bottom: 10px;
}

.regular {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #828282;
}

.modify {
	margin-bottom: 10px;
	font-size: 12px;
}

.max_words {
	margin-top: 10px;
	font-size: 10px;
	color: #828282;
}

.timeline_heading {
	margin-bottom: 20px;
	font-weight: 600;
}

.horizontal_rule {
	width: 200px;
	height: 2px;
	margin-right: -2px;
	margin-left: -2px;
	background-color: #67c676;
}

.table {
	:global {
		.ui_table_head_cell {
			color: white;
			background: #2d2d2d;
		}
	}
}

.quotation {
	margin-bottom: 14px;
}

.flex_content {
	display: flex;
	justify-content: flex-end;
}
