

.deadline{
	color: #393f70;
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;
};

.completed{
	color: #67c676;
	font-size: 14px;
	margin-right: 10px;

	&.after_due_date {
		color: #cb6464;
	}
};

.task_name{
	font-weight: 600;
	font-size: 16px;
	color: #393f70;
	margin-right: 10px;
};

.task_item{
	display: flex;
	align-items: center;
	white-space: nowrap;

	@media (max-width: 768px) {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
};

.flex_row{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 65%;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
};

.task_icon{
	margin-right: 16px;
	margin-top: 2px;
};

.detail_row{
	display: flex;
	justify-content: flex-start;

	.cargo-detail-pill {
		margin-bottom: 0px;
	}
};

.icon_and_task{
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
};
