.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 20px 0;
}

.trigger_time {
	margin: 0;
	margin-right: 16px;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: #cb6464;
	text-align: center;
	white-space: nowrap;
}

.total_shipment_title {
	margin: 0;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-secondary-greyscale-2);
	text-transform: capitalize;
}

.shipment_value {
	margin-left: 4px;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: var(--color-accent-orange-2);
	text-transform: capitalize;
}

.reviwed_stats {
	margin: 0;
	font-size: var(--font-size-lg);
	font-weight: 500;
	color: #393f70;
	white-space: nowrap;
}

.edit_invoice {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

.flex_row {
	display: flex;
	align-items: center;
	width: 25%;

	&.total {
		flex: 1;
		margin: 0 12px;
	}

	&.triggered {
		display: none;
	}

	&.inactive {
		display: none;
	}
}

.button_div {
	display: flex;
}
