.card_header {
    display: flex;
    margin-bottom: 4px;

    :global {
        .ui_pill_container {
            margin: 0;
            line-height: initial;
            padding: 2px 8px;
            font-size: var(--font-size-sm);
        }
    }

    .header_pills:not(:last-of-type) {
        border-radius: 0 0 4px 4px;
        margin-right: 10px;
    }
    
    .header_pills:first-of-type {
        border-radius: 4px 0;
    }

    .header_pills:last-of-type {
        border-radius: 0 4px;
        margin-left: auto;
    }
}
   
svg.assured_icon {
    width: 1.2em;
    height: 1.2em;
}