.container{
    border: 2px solid #eceff8;
	border-radius: 4px;
	margin-bottom: 20px;
}

.header { 
    background: #FBD1A6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 12px;
	margin-bottom: 16px;
	font-weight: 600;
	min-height: 40px;
}

.body{
    margin: 12px 16px;
}