.table_container {
	width: 40vw;
	font-size: 20px;

	:global {
		.ui_table_head_cell {
			padding: 10px 14px;
			font-size: 14px;
			font-weight: 600;
			color: #4f4f4f;
		}

		.ui_table_body_cell {
			padding: 16px 14px;
			font-size: 14px !important;
			font-weight: 500;
		}

		.ui_table_container {
			padding: 0 !important;
		}
	}
}

.text2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #ee3425;
}

.container {
	display: flex;
	justify-content: space-between;
}

.postive_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #849e4c;
}

.negative_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #ee3425;
}
