.main_container {
	margin: 16px 0;

	& h4 {
		padding-left: 4px;
	}

	:global {
		.ui_table_container {
			padding: 0;
		}
	}
}

.table {
	:global {
		.ui_table_body_cell {
			padding: 12px 8px;
			overflow: visible;
		}

		.country_code {
			margin-right: 12px;
		}
	}
}

.action_container {
	display: flex;
	align-self: center;
	justify-content: flex-end;
}

.button_container {
	display: flex;
	align-self: center;
	justify-content: space-between;

	>div {
		display: flex;

		>button {
			margin-left: 8px;
		}
	}
}
