.main_container {
	margin: 16px 0;

	& h4 {
		padding-left: 4px;
	}
}

.table {
	:global {
		.ui_table_body_row {
			height: 75px;
		}

		.ui_table_body_cell {
			overflow-y: scroll;
		}
	}
}

.button_container {
	display: flex;
	justify-content: flex-end;
}
