.main_container {
	margin: 16px 0;

	& h4 {
		padding-left: 4px;
	}

	:global {
		.ui_table_container {
			padding: 0;
		}
	}
}

.table {
	:global {
		.ui_table_body_cell {
			width: 20%;
			padding: 12px 8px;
			overflow: visible;
		}

		:first-child.ui_table_body_cell,
		:first-child.ui_table_head_cell {
			padding-left: 20px;
		}

		.country_code {
			margin-right: 12px;
		}
	}
}

.action_container {
	display: flex;
	align-self: center;

	:global {
		:first-child.ui_button_container {
			margin-right: 12px;
		}
	}
}

.button_container {
	display: flex;
	align-self: center;
	justify-content: space-between;
}

.icon {
	margin-right: 4px;
}
