.overflow_flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 4px;
}

.item_value {
	font-weight: 600;

	@media (max-width: 768px) {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		margin-top: 0;
	}
}
