.container {
  margin: 20px 0;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0 16px 0;
}

.title {
  margin: 12px 0 4px;
  font-weight: 600;
}

.input_container {
  width: 70%;
  margin-bottom: 12px;
}

.error {
  font-size: 12px;
  color: red;
}
