.stats{
  display:flex;
  justify-content: space-between	;
}
.pending{
    width: 33%;
    height: 138px;
    border:1px solid #EE3425;
    border-radius: 8px;
    background-color: #FDEBE9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pending_left
  {
    margin-right: 36px;
  }
  .circle{
    border-radius:50%;
    height:90px;
    width:90px;
    border: 2px solid #88CAD1;
    background-color:#F3FAFA;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .right_bolder
  {
   font-weight:500;
   font-size: 26px;
  }
.right_lighter
{
  font-weight:500;
   font-size: 16px;
}
.onboarded_rejected{
  width:66%;
  height:138px;
  border: 1px solid #849E4C;
  background-color: #F7FAEF;
  border-radius:8px;
  display:flex;
  padding-top:10px;
  padding-bottom:10px;
}
.onboarded{
width:50%;
display:flex;
align-items: center;
justify-content: center;
border-right:1px solid #849E4C

}
.onboarded_left{
 margin-right: 36px;
}
.onboarded_right{
  font-weight:Bold;
   font-size: 26px;
}
.rejected{
display:flex;
width:50%;
align-items: center;
justify-content:center;
}
.rejected_left{
  margin-right: 36px;
}
.rejected_right{
  font-weight:Bold;
   font-size: 26px;
}