.smallHr {
  border: 1px solid #ed3726;
  border-radius: 30px;
  width: 5%;
}
.card {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px 28px;
  margin: 12px 0px;
}
.container {
  display: flex;
  flex-direction: column;
}
.orgNameAndVerified {
  display: flex;
  flex-direction: column;
  width: 29%;
  align-items: flex-start;
  gap: 16px;
}

.tagsContainer {
  display: flex;
  gap: 24px;
}
.kycVerified {
  display: flex;
  align-items: center;
  color: #67c676;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  gap: 8px;
}
.verticalSmallHr {
  border: 1px solid #ed3726;
  border-radius: 30px;
  width: 2px;
  margin: 0px 16px;
}
.accountDetails {
  display: flex;
  width: 42%;
  align-items: center;
  justify-content: space-around;
}
.accounts {
  display: flex;
  margin: 0px 32px;
}
.supplierDetails {
  display: flex;
  width: 29%;
  align-items: center;
  justify-content: space-around;
}
