.container {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width:100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.line_chart {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	padding: 10px 20px;
	width: 60%;
	margin-right: 10px;
	background: #fff;
	border-radius: 6px;
    transition: 0.5s ease-in-out;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.no_pie_chart{
	width: 100%;
	margin-right: 0px;
}

.pie_chart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 300px;
	padding: 10px 20px;
	background: #fff;
	border-radius: 6px;

	@media (max-width: 768px) {
		width: 100%;
	}
	
}
