.back{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heading{
    font-size: 16px;
}

.header{
    margin-top: 16px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border-radius: 8px; 
    height: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.info{
    display: flex;
}

.value{
    font-weight: 600;
}
