.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	@media (min-width: 480px) {
		flex-direction: row;
		gap: 1rem;
	}
	@media (min-width: 768px) {
		flex: 1;
		align-items: center;
		justify-content: flex-end;
	}
}
