.container {
	padding: 8px;
	margin-bottom: 10px;
	color: #bdbdbd;
	border: 1px dashed #bdbdbd;
	border-radius: 4px;
}

.add_button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
	background: none;
	border: none;
}

.add_button:hover {
	color: #7e86c2;
	cursor: pointer;
	border-color: #393f70;
}

.displayText {
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}

.add {
	font-size: 28px;
	font-weight: 600;
}
