.header_container{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px;
	padding-left: 6px;

}

.popular_topics{
    font-weight: 700;
	font-size: 15px;
	line-height: 21px;
	color: #221f20;
}

.history_text_container{
    display: flex;
}

.text_wrapper{
    text-decoration: underline;
	cursor: pointer;
	padding-right: 22px;
	font-weight: 600;
}