.main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 16px 0;
}

.config_basic_detail {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.lower_details {
	display: flex;
	margin-top: 8px;
	font-size: 14px;
}

.draft_name {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.lower_info {
	display: flex;

	@media (max-width: 576px) {
		flex-direction: column;
	}
}
