.loading_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
}

.container {
	display: flex;
	align-items: center;
	padding: 10px 0;
	margin-bottom: 20px;
	background: #fff;

	@media (max-width: 768px) {
		overflow: scroll;
	}
}

.back_icon {
	flex-shrink: 0;
	padding: 0 20px;
	cursor: pointer;
}

.location_name {
	max-width: 250px;
	padding: 0 20px;
	overflow: hidden;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.border {
	width: 1px;
	height: 50px;
	border-color: #bdbdbd;
	border-style: dashed;
	border-width: 0 1px 0 0;
}

.port_icon {
	padding: 0 20px;
}

.destination_location_name {
	max-width: 250px;
	padding: 0 20px;
	overflow: hidden;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.location_name_tooltip {
	word-break: normal;
}

.bold {
	font-weight: 600;
}

.volume {
	font-weight: 600;
	color: #849e4c;
}

.sub_heading {
	color: #4f4f4f;
}

.flex {
	display: flex;
}

.cancel_button {
	display: flex;
	margin-right: 20px;
}

.sub_container {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
}
