.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.title {
    font-weight: 500;
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    padding: 8px 9px 10px 12px;
    margin-bottom: 12px;
}

.top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.purpose {
    font-weight: 600;
    color: #221f20;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

.task {
    color: #221f20;
    font-size: 12px;
    text-align: center;
}

.time {
    color: #4f4f4f;
    font-size: 10px;
    text-align: center;
}

.loader_div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
