.container {
	width: 600px;
}

.pill {
	display: flex;
	flex-wrap: wrap;
}

.label {
	margin-top: 4px;
	color: #828282;
}

.value {
	margin-top: 4px;
	color: #221f20;
}

.content {
	display: flex;
	flex-wrap: wrap;
	padding: 6px;
}
