.container {
	padding: 6px;
	background: #f9f9f9;
}

.pill {
	display: flex;
	flex-wrap: wrap;
}

.label {
	margin-top: 4px;
	color: #828282;
}

.name {
	margin-top: 4px;
}

.content {
	display: flex;
	flex-wrap: wrap;
	padding: 6px;
}

.pointer {
	cursor: pointer;
}
