.loader_box {
	display: flex;
}

.service {
	display: flex;
	flex-direction: column;
	margin: 0 10px 0 5px;
}

.ports_tags_container {
	display: flex;
	flex-direction: column;
	margin: 0 10px 0 5px;
}

.service_stats {
	display: flex;
	margin: 0 10px 0 5px;
}

.price_fright_ctr_section {
	display: flex;
	flex-direction: column;
	margin: 0 10px 0 5px;
}

.placeholder {
	border-radius: 4px;
}
