.header {
	display: flex;
	padding: 16px 4px;
	font-weight: 600;
	border-bottom: 2px solid var(--color-accent-orange-2);
}

.jvnumb {
	flex: 1.6;
	width: calc(1.6*(100 / 12));
}

.jvtype {
	flex: 1;
	width: calc(1*(100 / 12));
}

.accdate {
	flex: 1;
	width: calc(1*(100 / 12));
}

.entity {
	flex: 1;
	width: calc(1*(100 / 12));
}

.journal {
	flex: 1;
	width: calc(1*(100 / 12));
}

.exrate {
	flex: 1;
	width: calc(1*(100 / 12));
}

.legcurr {
	flex: 1;
	width: calc(1*(100 / 12));
}

.accord {
	flex: 0.2;
	width: calc(0.2*(100 / 12));
}

.curr {
	flex: 1;
	width: calc(1*(100 / 12));
}
