
.grid_item {
	margin: 12px;
	padding: 12px;
	text-align: center;
	background-color: rgb(255 255 255 / 80%);
	/* box-shadow: 0 4px 16px rgba(0,0,0,.35); */
	border: 1px solid #FCDC00;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
		border: 1.5px solid #FCDC00;
		/* transform: scale(1.02); */
	}
}