.filled {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.dull {
	width: 15px;
	height: 15px;
	margin: 4px;
	background-color: #fff;
	border: 2px solid #ed3726;
	border-radius: 50%;
}

.timeline {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 10px;
}

.line {
	display: flex;
	width: 80%;
	height: 2px;
	background-color: #ed3726;
	border-radius: 2px;
}

.sub_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text_container {
	width: 43%;
}
