.container {
	display: flex;
	flex-direction: column;

	/* gap: 10px; */
	width: 100%;
	padding-top: 10px;

	/* height: 100px; */
	background-color: #f9f9f9;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.title_container {
	box-shadow: none;
}

.card_title {
	display: flex;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;

	/* border-bottom: 1px solid #f2e3c3; */
}

.column_labels {
	display: flex;
}

.service_card_title {
	width: 40%;
}

.base_price_card_title {
	width: 15%;
}

.margin_type_card_title {
	width: 15%;
}

.margin_value_card_title {
	width: 15%;
}

.sell_price_card_title {
	width: 15%;
}

.tags {
	width: fit-content;
	padding: 0 4px;
	margin-left: 10px;
	font-weight: 400;
	background-color: #fff;
}

.data_labels {
	font-weight: 400;
	color: #4f4f4f;
}

.green_text {
	font-weight: 400;
	color: #849e4c;
}

.border_bottom {
	margin: 0 10px;
	border-bottom: 1px solid #f2e3c3;
}
