.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 16px;
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
}

.key_container {
	display: flex;
	align-items: center;
	padding: 12px;
	padding-right: 50px;
	margin: 20px;
	color: #ed3726;
	border-right: 1px solid #bdbdbd;
}

.sub_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 12px;
	overflow-x: auto;
}

.item_container {
	height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.air_container {
	padding-right: 140px;
	border-right: 1px solid #bdbdbd;
}

.air_container:last-child {
	border-right: none;
}

.item_container:last-child {
	border-right: none;
}

.name {
	font-size: 14px;
	font-weight: 600;
}

.right_line {
	border-right: 1px solid #bdbdbd;
	height: 72px;
}

.lable_container {
	display: flex;
	align-items: center;
}