.container {
	display: flex;
	flex-direction: column;
	min-width: max-content;
	padding: 8px 16px;
	margin-right: 20px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #faf4c6;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
	transition: 0.5s;

	&:hover {
		transform: scale(1.06);
	}

	&.active {
		background: #faf4c6;
		border: 1px solid #ffef81;
		border-radius: 8px;
	}
}

.week {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #000;

	&.selected_week {
		font-weight: 600;
	}
}

.rate {
	font-size: 12px;
	font-weight: 400;
	color: #000;
	opacity: 0.6;
}
