.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8px;
}

.upper_heading {
	font-weight: 600;
	color: #221f20;
}

.lower_heading {
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.main_container {
	margin: 0 10px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px 16px 0 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;

	:global {
		table {
			padding: 0;
			margin-top: 16px;
			background-color: #f8f2e7;
		}

		.ui_table_body_cell {
			width: 350px;
			height: 54px;
			background-color: #fff;
		}

		.ui_table_head_cell {
			height: 36px;
			font-weight: 700;
			color: #4f4f4f;
			background-color: #f8f2e7;
		}
	}
}

.search_bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 16px;

	:global {
		.ui_select_container {
			margin-left: 6px;
		}

		.ui_select_display_container {
			height: 36px !important;
		}
	}
}

.sb_left {
	display: flex;
	justify-content: space-between;
}

.black_text {
	font-size: 12px;
	color: #221f20;
}

.download {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.statuses {
	display: flex;
	align-items: center;
	padding: 2px;
	cursor: pointer;
	border-radius: 6px;

	&.pending {
		width: fit-content;
		padding: 4px;
		background: #f9f9f9;
	}

	&.processed {
		width: fit-content;
		padding: 4px;
		color: #849e4c;
		background: #f7faef;
	}

	&.failed {
		width: fit-content;
		padding: 4px;
		color: #bf291e;
		background: #fdebe9;
	}

	&.approved {
		width: fit-content;
		padding: 4px;
		color: #c26d1a;
		background: #fef3e9;
	}
}

.popover_content {
	display: flex;
	flex-direction: column;
}

.popover_item {
	padding: 6px;
	border-bottom: 1px solid #e0e0e0;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

@media (max-width: 767px) {
	.table_container {
		width: 100%;
		overflow: scroll;
	}

	.header {
		flex-direction: column;
		margin-bottom: 24px;
	}
}
