.container {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.select_container {
	display: flex;
	justify-content: flex-end;
	margin: 0 10px;

	:global {
		.ui_select_options_container {
			max-height: 120px;
		}
	}
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

.select_teams {
	width: 250px;
	margin-top: 6px;
}

.button_section {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	min-height: 44px;
	padding: 8px;
	background-color: #fff;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}
