.container {
	position: fixed;
	bottom: 2px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 100px);
	padding: 20px;
	margin-top: 32px;
	margin-left: -30px;
	background-color: #fbffff;
	border: 1px solid #e0efef;
	border-radius: 8px;
}

.validity_time {
	display: flex;
	align-items: center;
	text-align: center;
	white-space: nowrap;

	.hidden {
		display: none;
	}

	.visible {
		margin-left: 6px;
		font-weight: 600;
	}
}

.flex {
	display: flex;
	align-items: center;
}

.button_container {
	display: flex;

	:global {
		.ui_button_container {
			height: fit-content;
			min-height: 40px;
		}
	}
}

.button {
	display: flex;
	align-items: center;
}

.flex_column {
	display: flex;
	flex-direction: column;
}
