.heading {
	font-size: 28px;
	font-weight: 600;
}

.heading::after {
	display: block;
	width: 100px;
	height: 4px;
	content: "";
	background: var(--color-primary-error-red-2);
	border-radius: 8px;
}

.file_container {
	display: flex;
	width: 830px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
}

.document {
	flex: 1;
	width: 100%;
	height: 100%;
	padding: 40px 10px;
	background: var(--color-secondary-5);
	opacity: 1;
}

.button_container {
	padding-top: 8px;
	padding-left: 36px;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.modal_container {
	width: 900px !important;
	height: 92vh;
	overflow-x: auto;
}

.button_div {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 8px;
	background: #fff;
	box-shadow:
		rgb(0 0 0 / 25%) 0 0.0625em 0.0625em,
		rgb(0 0 0 / 25%) 0 0.125em 0.5em,
		rgb(255 255 255 / 10%) 0 0 0 1px inset;
}
