.table_item {
	display: flex;
}

.table_item > :first-child {
	margin-right: 4px;
}

.tab_content {
	display: flex;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.tab_content > :first-child {
	margin-right: 4px;
}

.main_container {
	flex-shrink: 0;
	width: 72%;
	padding: 16px 12px;
	margin-top: 16px;
	background: #f9f9f9;
	border-radius: 16px;

	@media (max-width: 768px) {
		order: 2;
		width: 100%;
	}
}

.main_container > :not(:last-child) {
	margin-bottom: 16px;
}

.heading {
	display: flex;
	flex-direction: column;
}

.personal {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.detail {
	font-size: 12px;
	color: #828282;
}

.info_subcontainer {
	padding: 16px;
	background: #fff;
	border-radius: 16px;
}

.info_subcontainer > :not(:last-child) {
	margin-bottom: 16px;
}

.info_heading {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
	text-align: center;
}

.view_text {
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
}

.view_button {
	display: flex;
	align-items: center;
	margin: 0 2px;
}

.download_button {
	min-width: 32px;
	height: fit-content;
	padding: 8px;
	border: none;
}
