.nested_field_array {
	width: 100%;
}

.field_container {
	margin-bottom: 6px;
	border: 1px solid #dedede;
	border-radius: 4px;
}

.field_header {
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

.element {
	display: inline-block;
	padding: 4px;
}

.label {
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.nested_container {
	margin: 4px;
}

.error {
	color: red;
}
