.container {
	display: flex;
	align-items: center;
	width: 50%;

	:global {
		.ui_select_container {
			min-width: 130px;
			max-width: 130px;
		}

		.ui_input_number_container {
			width: 20%;
		}
	}
}
