.form_container {
	margin-top: 16px;
}

.form_group {
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: center;
	justify-content: space-between;
}

.form_group:not(:first-child) { margin: 10px 0; }

.input_group {
	display: flex;
	flex-direction: column;
	width: 50%;

	:global(.ui_radiogroup_container){
		flex-wrap: wrap;
	}
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}