.remark {
	display: flex;
	margin-bottom: 8px;
}

.label {
	padding: 0 24px;
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.textarea {
	width: 90%;
	min-height: 80px;
	padding: 4px;
	margin: 0 24px;
}

.container {
	width: 49%;
	background: #fff;
	border-radius: 10px;
}

.display_box {
	display: flex;
	width: 100%;
	padding: 60px 0 24px 24px;
}

.company_div {
	width: 50%;
}

.organization_div {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.requested_div {
	width: 100%;
}

.line {
	margin: 0 24px;
	border-bottom: 1px solid #e0e0e0;
}

.profit_container {
	display: flex;
	margin-left: 12px;
}

.shipment_container {
	padding: 16px 26px 6px;
}

.shipment_id {
	font-weight: 500;
	color: #f68b21;
	text-decoration: underline;
}

.buy_sell_div {
	display: flex;
	justify-content: space-between;
	padding: 12px 36px 24px 24px;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin-top: 12%;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.heading {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.post_tax_container {
	margin-left: 1%;
}

.rates_data {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 12px 24px;
	margin: 20px 24px 20px 0;
	border: 1px solid #c2c2c2;
	border-radius: 4px;
}

.label_text {
	font-weight: 600;
}

.rates {
	font-weight: 600;
}

.invoice {
	padding: 24px;
}

.invoice_text {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.button {
	display: flex;
	justify-content: flex-end;
}

.remarks {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 600;
}

.name_data {
	display: flex;
	align-items: center;
	margin: 8px 0;
}

.view {
	color: #f68b21;
	text-decoration: underline;
	background-color: transparent;
}

.view_flex {
	display: flex;
	gap: 8px;
	align-items: center;
	color: #f68b21;
}

.name {
	padding-left: 60px;
	font-weight: 600;
}

.name:hover {
	color: rgb(76 71 167);
	text-decoration: underline;
	cursor: pointer;
	background-color: transparent;
}

.flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 18px;

	:global {
		.ui_radiogroup_container {
			padding: 0 10px 18px;
		}

		.ui_radio_container {
			padding: 0 10px;
		}
	}
}

.party_name {
	padding-left: 78px;
	font-weight: 600;
}

.category {
	padding-left: 128px;
	font-weight: 600;
}

.border {
	display: flex;
	width: 100%;
	margin: 20px 0;
	border: 1px solid #d9d9d9;
}

.font_name {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.branch_name {
	margin: 0 4px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.font_name_data {
	display: flex;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.flex_remark {
	display: flex;
	gap: 4px;
}

.document {
	margin: 4px 0;
	font-weight: 600;
}

.document_flex {
	display: flex;
	gap: 8px;
	align-items: center;
	text-align: center;
}

.radio_box {
	padding: 24px;
}

.simple_name {
	font-size: var(--font-size-md);
	font-weight: 400;
}

.method_flex {
	display: flex;
	justify-content: space-between;
	width: 100%;

	:global {
		.ui_radiogroup_container {
			padding: 0 10px 18px;
		}

		.ui_radio_container {
			padding: 0 10px;
		}
	}
}

.radio_text {
	font-size: var(--font-size-md);

	:global {
		.ui_radio_style {
			border: 1.5px solid #f68b21;
		}

		.ui_radio_normal:checked {
			background-color: #f68b21;
		}
	}
}

.tooltip_title {
	width: fit-content;
}
