.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8px;

	:global {
		.ui_popover_container {
			max-width: 300px !important;
			pointer-events: auto;
			background-color: #fef199;
			box-shadow: 0 0 9px 0 #f2f3fab2;
			opacity: 1;
		}

		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}
}

.image {
	max-height: 40px;
}

.share_icon {
	cursor: pointer;
}

.logoContainer {
	display: flex;
	align-items: center;
}
