.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8px;

	:global {
		.ui_popover_container {
			max-width: 300px !important;
			pointer-events: auto;
			background-color: #fef199;
			box-shadow: 0 0 9px 0 #f2f3fab2;
			opacity: 1;
		}

		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}

	@media (max-width: 768px) {
		padding-left: 0;
	}
}

.source_tag {
	position: absolute;
	top: -12px;
	left: 0;
	width: fit-content;
	padding: 4px 12px;
	font-size: 12px;
	color: #333;
	background: #cfeaed;
	border-radius: 8px 0 4px;

	&.spot_negotiation_rate {
		background: #e6fbe9;
	}

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.image {
	max-height: 40px;
}

.share_icon {
	cursor: pointer;
}

.logo_container {
	display: flex;
	align-items: center;
	margin-top: 16px;

	:global {
		.ui_checkbox_style {
			accent-color: #000 !important;
		}
	}

	&.cogo_assured_rate {
		margin-top: 0;
	}

	@media (max-width: 768px) {
		margin-top: 24px;
	}
}

.shipping_line_info {
	display: flex;
	align-items: center;
}

.shipping_line_logo {
	object-fit: cover;
	margin-right: 4px;
}

.default_icon {
	margin-right: 12px;
	object-fit: cover;
}

.shipping_line_name {
	font-size: 16px;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.is_nvocc {
	padding: 2px 6px;
	margin-left: 8px;
	font-size: 12px;
	background: #fef199;
	border: 1px solid #fcdc00;
	border-radius: 8px;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.right_section {
	position: absolute;
	top: -4px;
	right: 0;
}
