.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8px;

	:global {
		.ui_popover_container {
			max-width: 300px !important;
			pointer-events: auto;
			background-color: #fef199;
			box-shadow: 0 0 9px 0 #f2f3fab2;
			opacity: 1;
		}

		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}
}

.source_tag {
	position: absolute;
	top: -12px;
	left: 0;
	width: fit-content;
	padding: 4px 12px;
	font-size: 12px;
	color: #333;
	background: #cfeaed;
	border-radius: 8px 0 4px;

	&.spot_negotiation_rate {
		background: #e6fbe9;
	}
}

.image {
	max-height: 40px;
}

.share_icon {
	cursor: pointer;
}

.logo_container {
	display: flex;
	align-items: center;
	margin-top: 18px;

	&.cogo_assured_rate {
		margin-top: 0;
	}
}
