.container {
	display: flex;
	justify-content: space-between;
    border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
    padding: 2px;
	width: fit-content;
margin-top: 20px;
margin-left: 12px;
position: relative;
top: 12px;
}

.flex {
	display: flex;
	align-items: center;
}

.container_click {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 8px;
	font-size: 9px;
	font-weight: 600;
	cursor: pointer;
    height: 10px;
}

.sub_container_click {
	color: #ed3726;
	background: #fdebe9;
}

.sub_container {
	background: #fff;
	border-radius: 4px;
}