.icon_container {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.back_container {
	display: flex;
	align-items: center;
}

.back_text {
	margin: 4px 0;
	font-size: 16px;
	cursor: pointer;
}
