.container{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 16px 10px;
}

.text{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
