.filter_container {

}

.pop_container {
    width: 36vw;
	padding: 20px 8px;
	padding-left: 20px;
	right: 12px;
	border-radius: 8px;
}

.header {
    display: flex;
	justify-content: space-between;
}

.heading {
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin: 7px 0;
    color: #ee3425;
}

.styled_button {
    display: flex;
	justify-content: flex-end;
	margin-top: 28px;
}

.filter_dot {
	/* position: absolute; */
	/* top: 154px;
	right: 42px; */
}