.pop_container {
	right: 12px;
	width: 36vw;
	padding: 20px 8px;
	border-radius: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.heading {
	margin: 7px 0;
	font-size: 18px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
}

.styled_button {
	display: flex;
	justify-content: flex-end;
	margin-top: 28px;
}

.filter_dot {
	position: absolute;
	top: 81px;
	right: 34px;
}
