.card {
	width: 31%;
	height: 280px;
	margin: 10px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 #627fac33;
}

.body_info {
	display: flex;
	flex-direction: column;
	height: calc(100% - 124px);
	padding: 10px 12px;
}

.each_row {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.title {
	align-self: flex-start;
	margin-right: 8px;
	font-size: 12px;
}

.docs_container {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.each_doc {
	display: flex;
	align-items: center;
	max-width: 52%;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}
}

.doc_name {
	max-width: 72%;
	margin-left: 2px;
	overflow: hidden;
	font-size: 12px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.remaining_content {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 8px;
}

.remian_count {
	font-size: 12px;
	color: #4f4f4f;
}

.view_all {
	display: flex;
	align-items: center;
	font-size: 12px;
	cursor: pointer;

	span {
		margin-left: 2px;
		text-decoration: underline;
	}
}

.request_name {
	display: flex;
	flex-direction: column;
	width: 68%;

	@media (max-width: 1280px) {
		width: 63%;
	}
}

.name {
	max-width: 74%;
	margin-left: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.role {
	font-size: 12px;
	color: #828282;
}

.line_break {
	width: 88%;
	margin: 0 16px;
	border-bottom: 1px solid #e0e0e0;
}

.footer_info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 16px;
}

.button_section {
	display: flex;
	align-items: center;
}

.verify_button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 84px;
	height: 30px;
	padding: 8px 12px;
	margin-left: 8px;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}

.ftick_icon {
	width: 22px;
	height: 22px;
	margin-right: 2px;
	fill: #abcd62;
}

.call_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 30px;
	padding: 8px;
	margin-left: 10px;
	cursor: pointer;
	background: #c4dc91;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}
