.flex_box {
	display: flex;
	justify-content: space-between;
	padding: 12px 16px;
	border-bottom: 1px solid #fbd1a6;

	&.no_border {
		border: none;
	}
}

.table {
	font-size: 12px;
	border: 1px solid #fbd1a6;
	border-radius: 9px;
}

.scroll_container {
	max-height: 300px;
	overflow-y: scroll;
}

.card_header {
	font-weight: 600;
}

.plan_name {
	width: 37%;
}

.event {
	width: 28%;
}

.created_at,
.updated_at {
	width: 15%;
}
