.details_container {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.details {
		display: flex;
		flex-direction: column;
		margin-right: 40px;
	}

	.details_value {
		font-weight: 600;
	}
}

.document_container {
	display: flex;
	margin-bottom: 12px;

	& a {
		display: flex;
		align-items: center;
		margin-right: 12px;
		color: var(--color-accent-orange-2);
	}
}

.remark {
	display: flex;
	margin-bottom: 8px;
	font-weight: 600;
}

.label {
	padding-right: 4px;
	font-weight: 400;
}

.bold_label {
	padding-right: 4px;
	font-weight: 600;
}

.textarea {
	min-height: 80px;
	padding: 4px;
	margin-top: 4px;
}

.icon {
	margin-left: 4px;
}

.container_view {
	display: flex;
	justify-content: space-between;
}
