.heading {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 600;
}

.label {
	padding-right: 4px;
	font-weight: 400;
}

.bold_label {
	padding-right: 4px;
	font-weight: 600;
}

.textarea {
	min-height: 80px;
	padding: 4px;
	margin-top: 4px;
}

.icon {
	margin-left: 4px;
}

.container_view {
	display: flex;
	justify-content: space-between;
	height: fit-content;
	min-height: 660px;
	margin-top: 12px;
}

.request_heading {
	align-items: center;
	margin-bottom: 10px;

	h3 {
		margin-bottom: 0;
	}
}

.red_line {
	width: 110px;
	height: 2px;
	background-color: #f00;
}

.job_number {
	margin-top: 8px;
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: #4f4f4f;
}
