.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	text-align: left;
}

.org_details {
	display: flex;
	align-items: center;
	margin: 0 16px;
}

.option_label {
	margin: 0;
	margin-bottom: 4px;
	overflow: hidden;
	font-size: 12px;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.bold {
		font-weight: bold;
	}

	&.clickable {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}

.upper_name {
	/* background: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    border-radius: 6px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 12px;
    color: #4F4F4F; */
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
	max-width: 350px;
	padding: 10px 6px;
	background: #fff;
	border-radius: 4px;

	@media (max-width: _md) {
		width: 310px;
		max-width: 310px;
	}

	&.selected {
		background: #cddbff;
	}

	@media (max-width: _md) {
		padding: 4px;
	}
}
