.container {
    display: flex;
	align-items: center;
	margin: 12px 0px;
	padding: 24px 40px;
	border-radius: 4px;

	&.edit_margin {
		border: 1px solid #d0cddb;
		background: #FFFBF8;
	}

	&.fcl {
		width: 70%;
		background: #f6f5fe;
	}
}

.horizontal_line {
	border: 0.5px solid #d0cddb;
	margin: 12px 20px 12px 0px;
}

.header {
    display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-right: 12px;
    min-width: 16%;
}

.timeline {
    display: flex;
	align-items: center;
	position: relative;
	margin-left: 4px;
	width: 100%;
}

.text {
    font-size: 10px;
	position: absolute;
	white-space: nowrap;
	margin-top: 36px;

	&.middle_ware {
		margin-top: 0px;
	}
	&.first_index {
		margin-top: 44px;
		margin-left: -12px;
	}
	&.last_index {
		margin-top: 32px;
		margin-left: -68px;
	}
}

.vertical_line {
    opacity: 0.4;
	border-right: 1px solid #000000;
	height: 32px;
}

.line {
    background: linear-gradient(
		90deg,
		#78c276 0%,
		#88dc86 26.04%,
		#e8eb48 51.04%,
		#f8992a 75%,
		#ff0000 100%
	);
	margin-top: 8px;
	border-radius: 4px;
	width: 100%;
	height: 4px;
}

.vertical_line_array {
    display: flex;
	position: absolute;
	left: 0;
	width: 100%;

	.content {
		flex: 1;
		text-align: center;
		height: 32px;
		border-right: 1px solid rgb(0, 0, 0, 0.4);

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	.milestone {
		font-size: 10px;
		text-align: none;
		text-align: end;
		margin-right: -24px;
		margin-top: 8px;
	}
}

.condition {
    font-size: 10px;
}