.container{
    padding: 8px 0;
	min-width: 850px;
	max-width: 860px;
	min-height: 432px;
}

.heading {
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
}

.feedback_click {
    color: red;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.cancel_button {
    display: flex;
	justify-content: flex-end;
	margin-top: 8px 12px 0 0;
}

.styled_checkbox {
    display: flex;
	justify-content: start;
}

.text_feedback {
    font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-left: 12px;
	letter-spacing: 0.04em;
	color: #393f70;
}

.back_button {
    cursor: pointer;
	margin-right: 12px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
	justify-content: start;
}

.remarks_textarea {
    font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #393f70;
	margin-bottom: 12px;
}

.text {
    font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.04em;
	color: #000;
	margin: 16px;
}

.box {
    background: #ffffff;
	border: 1px solid #f68b21;
	border-radius: 8px;
	padding: 16px 20px;
	margin: 0px 12px 16px 0px;
	color: #000;
    background-color: #fef3e9;
}

.boxes {
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
}

.arrow {
    display: flex;
    align-items: center;
    margin-top: -14px;
    margin-right: 12px;
}