.container {
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    align-items: center;
    margin-top: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    :global {
        .tippy-box {
            padding: 0;
            min-height: initial;
            min-width: initial;
        }
        .tippy-content {
            padding: 0;
        }
    }
}

.edit_icon {
    cursor: pointer;
    fill: var(--color-accent-orange-2);
    margin-right: 10px;
    margin-bottom: 24px;
}

.list_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    padding: 0 44px 24px;
    flex: 1;
}