.inner_pie {
	position: absolute;
	top: 48px;
	bottom: 50px;
	left: 72px;
	width: 90%;
	height: 90%;
}

.outer_pie {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 31px;
    left: 64px;
}
