.container {
	padding: 16px 12px 14px;

	& > div {
		margin-bottom: 22px;
	}
}

.see_all_tasks {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 130px;
	height: 50px;
	margin-top: -10px;
	font-size: 16px;
	font-weight: 400;
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

.loading_container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.loader_icon {
	width: 50px;
}
