.container {
	display: flex;
	flex-direction: column;
	margin: 8px;

	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: fit-content;
			padding: 0;
			margin: 0;
			border: none;
		}
	}
}

.button_div {
	display: flex;
	margin: 16px;
}
