.loader {
	position: fixed;
	top: 50%;
	right: 50%;
	bottom: 50%;
	left: 48%;
	z-index: 9999;
	animation: center-animation 0.4s ease-in-out;

	@media (max-width: 576px) {
		left: 40%;
	}
}

@keyframes center-animation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
