.body {
	height: 460px;
	padding: 0;
	overflow: hidden;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

.title {
	padding: 8px 4px;
}

.header_styles {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 97%;
	margin: 0 8px;
}

.form_header {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 8px;
}

.header_text {
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;

	>span {
		font-size: 14px;
		font-weight: 600;
	}
}

.icon_styles {
	width: 18px;
	height: 18px;
	margin-right: 8px;
	cursor: pointer;
}
