.accordion {
    margin: 20px 0px;
    background-color: #fdf3e9;

    :global {
        .ui_accordion_title {
            font-size: 18px;
            font-weight: 600;
        }

        .ui_accordion_header {
            padding: 20px 24px;
            background-color: #fdf3e9;
        }

        .ui_accordion_content {
            background-color: #fdf3e9;
            padding: 32px;
            padding-top: 8px;
        }

        .ui_accordion_icon {
            svg {
                height: 18px;
                width: 18px;
            }
        }
    }
}