.refresh {
	margin-top: 4px;
	margin-bottom: 20px;
	margin-left: auto;
}

.animate {
	cursor: not-allowed;
	animation: spin-anim 0.4s linear infinite;

	@keyframes spin-anim {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
