.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 8px;
}

.journey_line {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 2px 0;
}

.circle {
	flex-shrink: 0;
	width: 6px;
	height: 6px;
	background: #fff;
	border: 1px solid #7278ad;
	border-radius: 50%;
}

.dotted_line {
	width: 99%;
	height: 1px;
	margin-right: 1px;
	margin-left: 1px;
	border-top: 1.5px dotted #7278ad;
}

.active_circle {
	flex-shrink: 0;
	width: 6px;
	height: 6px;
	background: #b3d5fb;
	border: 1px solid #7278ad;
	border-radius: 50%;
}

.tag {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	width: max-content;
	padding: 3px 6px;
	margin-bottom: 2px;
	font-size: 10px;
	color: #333;
	text-align: center;
	background: rgb(247 250 239);
	border-radius: 4px;

	@media (max-width: 768px) {
		font-size: 8px;
	}
}
