.container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.business_name {
	font-size: 700;
	font-size: 13px;
}

.organisation_container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.organisation_container::-webkit-scrollbar {
	display: none;
}

.organisation_div {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #e0e0e0;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	:global {
		.ui_select_display_container {
			width: 120px !important;
			height: 30px !important;
		}
	}
}

.stats_div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-bottom: 20px;
}

.header {
	font-size: 12px;
	font-weight: 600;
	color: #828282;
}

.booking_div {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.comm_tex {
	display: flex;
	margin-top: 15px;
	font-size: 12px;
	color: #828282;
}

.port_div {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 200px;
	padding: 15px 10px 10px 18px;
	margin-top: 10px;
	overflow-y: auto;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.port_div::-webkit-scrollbar {
	display: none;
}

.origin_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.origin {
	max-width: 180px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.name {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.div_top {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
}

.div_top:last-child {
	border-bottom: none;
}

.div_footer {
	display: flex;
	flex-direction: column;
	padding: 10px 6px;
}

.sid_number {
	margin-left: 5px;
	font-weight: 600;
}

.last_booking {
	display: flex;
	align-items: center;
}

.bookings_count {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 11px;
	font-weight: 500;
}

.shipment_count {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;
	padding: 1px 8px;
	font-size: 10px;
	color: #bdbdbd;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 28vh;
}

.tooltip_content {
	display: flex;
}

.text {
	font-size: 12px;
}
