.card {
	padding: 16px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
}

.border {
	width: 60px;
	height: 2px;
	margin: 4px 0 0 2px;
	background: #ed3726;
	border-radius: 4px;
}

.responsive {
	min-width: 35%;
	height: 420px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
}
