.gridcontainer {
    display: grid;
    grid-template-columns: 20rem 100rem;
    grid-template-row: auto;
    
    gap: 3rem;
 
    padding: 10px;
  }
  .subtitle {
    font-size: 14px;
    font-weight: 1000;
  }
  