.grid_container {
  :global {
    .ui_tabs_container {
      width: 100%;
    }

    .ui_tab_list_container {
      width: 100% !important;
    }

    .ui_tab_container {
      min-height: 65px;
      padding: 12px 6px;
      

    }
  }
}

.title {
  font-size: 14px;
  font-weight: 900;
  text-align: left;
}

.subtitle {
  font-size: 11px;
  text-align: left;
  white-space: initial;
}

.tabstyle {
  box-sizing: border-box;
  gap: 3rem;
  padding: 10px;
  margin-bottom: 1rem;
}

.scrollable {
  overflow: auto;
}
