.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 32px;
}

.stats_container {
    display: flex;
    width: 45%;
    margin-bottom: 12px;
    align-items: center;
}

.stats_count {
    box-shadow: 0px 0px 4px rgba(98, 127, 172, 0.2);
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.label {
    display: flex;
    word-wrap: break-word;
    width: 65%;
}