.container {
	width: 40%;

	@media (max-width: 768px) {
		width: 100%;
		margin-bottom: 12px;
	}
}

.postal_code_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;
}

.postal_code {
	max-width: 20%;
	margin-bottom: -8px;
	overflow: hidden;
	font-size: 11px;
	font-weight: 600;
	line-height: 150%;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.schedule_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.schedule_item {
	min-width: max-content;
	padding: 4px 0 0;
	font-size: 20px;
	color: #000;

	@media (max-width: 768px) {
		width: 50%;
		min-width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&.overflow_hidden {
		width: 60%;
		min-width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@media (max-width: 768px) {
		font-size: 15px;
	}
}
