.div_container{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
   
}
.shipment_id_text{
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center; 
    text-decoration-line: underline;
    color: #333333;
    width: 30%;
}
.vr{
    background:var(--color-secondary-greyscale-4);
    width: 1px;
    height: 50px;
    @media(max-width:1068px){
        height: 1px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
        background:var(--color-accent-orange-2);
    }
}
.container{
    display: flex;
    align-items: center;
    @media (max-width: 1068px) {
		display: flex;
        flex-direction: column;
	}
}
.origin_text{
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center; 
    text-decoration-line: underline;
    color: #333333;
}
.origin_bottom{
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center; 
    text-decoration-line: underline;
    color: #333333;
}
.sub_container{
    display: flex;
    flex-direction: column;
    @media(max-width:1068px){
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}
.sub_booking{
    display: flex;
    flex-direction: column;
}
.first_right_border{
    width: 2%;
    margin-right: 12px;
    margin-left: 12px;
    @media(max-width:1068px){
        width: 0%;
    }
}
.hr{
    background:var(--color-accent-orange-2);
    height: 1px;
    width: 100%;
    margin-top: 8px;
}
.not_picked{
    background:var(--color-primary-error-red-4);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px 0px 4px;
    font-size: 12px;
    font-weight: 300;
}
.potential_text{
    font-weight: 400;
    font-size: 10px;
    display: flex;
    padding: 4px;
    color: var(--color-primary-error-red-2);
}
.commodity_text{
    background:var(--color-tertiary-success-green-3);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px 0px 4px;
    font-size: 12px;
    width: fit-content;
    font-weight: 300;
    margin: 4px;
}

.footer {
	width: 100%;
	height: 25px;
    margin-top: -20px;
	cursor: pointer;
	background: #fffaeb;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.footer_text {
	padding: 4px;
	font-size: 12px;
	font-weight: 600;
    color: #333333;
	text-align: center;
	text-decoration-line: underline;
}
.tooltip{
    white-space: nowrap;
}
.column1{
    display: flex;
    width: 44%;
    @media (max-width: 1068px) {
		display: flex;
        width: 100%;
        justify-content: space-around;
	}
}
.column2{
    width: 24%;
    align-items: center;
    justify-content: space-between;

    @media(max-width:1068px){
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}
.column3{
    display: flex;
    width: 30%;
    @media(max-width:1068px){
        width: 100%;
        justify-content: space-around;
    }
}
.container_pickup{
   margin-top: 8px;
   width: fit-content;
}
.right_border{
    width: 2%;
    margin-left: 12px;
    @media(max-width:1068px){
        width: 100%;
    }
}
.booking{
    width:50% ;
}
.port_icon{
    display: flex;
    align-items: center;
    width: 12%;
    margin-right: 12px;
}
.text{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 16px;
}
.trade{
    background:var(--color-tertiary-beige-4);
    border-radius: 4px;
    padding: 0px 4px 0px 4px;
    width: fit-content;
    margin-top: -16px;
    margin-left: -16px;
    border-top-left-radius: 6px;
    font-size: 11px;
}
.cargo_container{
    display: flex;
    margin-top: 8px;
    width: 100%;
    align-items: center;
    @media(max-width:1068px){
        display: flex;
        flex-direction: column;
    }
}
.cargo_item{
   background:#FDEBE9; 
   margin-right: 4px;
   border-radius: 4px;
   padding:0px 4px;
}
.bottom_header{
    width: 44%;
    font-weight: 600;
    font-size: 12px;
}
.bottom_vr{
    
        background:var(--color-secondary-greyscale-4);
        width: 1px;
        height: 30px;
        margin-left: -8px;
        @media(max-width:1068px){
            height: 1px;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
            background:var(--color-accent-orange-2);
        }
}
.main_div{
    margin-top: 16px;
}