.main_container {
	flex-grow: 1;
	height: fit-content;
	padding: 16px 12px;
	margin-top: 16px;
	background: #f9f9f9;
	border-radius: 16px;

	@media (max-width: 768px) {
		order: 1;
	}
}

.main_container > :not(:last-child) {
	margin-bottom: 16px;
}

.heading {
	display: flex;
	flex-direction: column;
}

.personal {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.detail {
	font-size: 12px;
	color: #828282;
}

.info_subcontainer {
	padding: 16px;
	background: #fff;
	border-radius: 16px;
}

.info_subcontainer > :not(:last-child) {
	margin-bottom: 16px;
}

.side_label_value {
	display: flex;
	flex-direction: column;
}

.side_label_value > :first-child {
	margin-bottom: 4px;
}

.side_label {
	font-size: 12px;
	color: #828282;
}

.side_value {
	font-size: 14px;
	font-weight: 500;
	color: #221f20;
}
