.title {
	cursor: pointer;
}

.content {
	padding: 0;
	margin: 0;
	background-color: var(--color-tertiary-beige-5);
	animation: open-animation 0.6s forwards;

	@media (max-width: 768px) {
		animation: open-animation-mobile 0.6s forwards;
	}
}

@keyframes open-animation {
	0% {
		height: auto;
		padding: 0 20px;
		opacity: 0.5;
	}

	100% {
		height: auto;
		padding: 12px 20px;
		opacity: 1;
	}
}
@keyframes open-animation-mobile {
	0% {
		height: auto;
		padding: 0 16px;
		opacity: 0.5;
	}

	100% {
		height: auto;
		padding: 14px 16px;
		opacity: 1;
	}
}
