.container {
	padding: 24px;
	background-color: #fff;
	border-radius: 8px;
}

.stepper_container {
	display: flex;
	justify-content: center;
	padding-bottom: 12px;
	margin-bottom: 24px;
	border-bottom: 1px solid #f8f2e7;
}

.stepper {
	margin: 0;
}
