.tickets_container {
	padding: 16px;
	margin-top: 6px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	border: 1px solid #d3d3d3;
	border-radius: 6px;
}

.sub_container {
	padding: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.description {
	padding: 6px 0;
}

.ticket_date_time {
	display: flex;
	padding: 0 10px 0 0;
}

.ticket_date {
	padding: 0 8px 0 0;
}

.ticket_reason_box {
	display: flex;
	justify-content: space-between;
	padding: 6px 0 0;
}

.messages_nos {
	padding: 3px 9px;
}

.skeleton {
	border-radius: 4px;
}
