.delete {
	cursor: pointer;
}

.yes {
	display: flex;
	justify-content: flex-end;
	margin: 12px 8px;
}

.icon {
	display: flex;
	justify-content: center;
	padding-top: 8px;
}

.container {
	margin-bottom: 16px;
}

.button {
	margin-right: 12px;
}
