.card_container {
	position: relative;
	margin: 8px;
	overflow: hidden;
	cursor: pointer;
	background: #fff;
	border: 1px solid #88cad1;
	border-radius: 4px;
	transition: all 300ms ease-in-out;

	&.loading_card {
		filter: blur(2px);
	}
}

.card_container:hover {
	transition: all 300ms ease-in-out;
	transform: scale(105%);
}

.name_card {
	display: flex;
	align-items: center;
	padding: 8px;
}

.clicked_user {
	background: #fffce6;
}

.user_info {
	display: flex;
	flex-direction: column;
	margin: 0 8px;
}

.id_designation {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.designation {
	width: fit-content;
	width: 200px;
	padding-right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px solid #bdbdbd;
}

.id {
	margin-left: 8px;
	font-weight: 600;
}

.team_count {
	background: #6fa5ab;	
	color: #ffffff;
	width: 20px;
	height: 20px;
	font-size: 12px;

	text-align: center;

	position: absolute;
	right: 0px;
	bottom: 0px;
	border-top-left-radius: 8px;
}