.container {
	width: 100%;
	animation: top-animation 0.5s ease-in-out;

	@media (max-width: 768px) {
		padding: 0 12px;
	}
}

@keyframes top-animation {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
	}
}
