.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;

	@media (max-width: 1068px) {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		:global {
			.ui_button_container {
				padding-left: unset;
			}
		}
	}
}

.applicable_stage {
	display: flex;
	align-items: center;
	margin-left: 20px;

	@media (max-width: 1068px) {
		margin-left: 0;
	}
}

.fx_conversion {
	margin-right: 8px;
	font-weight: 600;
}
