.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.applicable_stage {
	display: flex;
	margin-left: 20px;
	align-items: center;
}

.fx_conversion {
	margin-right: 8px;
	font-weight: 600;
}
