.main_container {
	width: 600px;
	padding: 24px 8px 24px 12px;

	:global .form_layout_row {
		.ui_chip_container.ui_ps_size_md {
			height: fit-content;
			padding: 4px 8px;
			margin: 0 8px 0 0;
			font-size: 14px;
			color: #221f20;
		}

		h4 {
			font-size: 14px;
			font-weight: 400;
			color: #4f4f4f;
		}

		.react-datepicker__aria-live {
			display: none;
		}

		.ui_multiselect_container.ui_ps_size_sm .ui_multiselect_display_container {
			height: 40px;
		}

		.shipping-line-select {
			margin-right: 8px;
		}

		.filter-row-flex {
			flex-wrap: wrap;
		}
	}
}

.header_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 24px;
	margin: 0 16px 0 12px;
	border-bottom: 1px solid #bdbdbd;

	.title {
		font-size: 16px;
		font-weight: 600;
		color: #000;
	}

	.filter_action_buttons {
		display: flex;
		justify-content: space-between;
		width: 150px;
	}
}
