.rolling_shipments {
	font-size: 12px;
	font-weight: 600;
	color: #cfbc93;
}

.profitability {
	font-size: 12px;
	color: #828282;
}

.text {
	color: #4f4f4f;
}

.last_four_weeks {
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}
