.options_container {
	width: 100%;
	cursor: pointer;

	:hover {
		background-color: #f6f5fe;
	}
}

.container {
	display: flex;
	flex-direction: column;
	width: 200px;
	border-radius: 4px;
}

.label_text {
	padding: 12px;
	font-size: 12px;
}
