.container {
	height: 100%;
	width: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 8px;
}

.circle {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;  
	background: #dfe1ef;

	> svg {
		color: #ffffff;
		font-size: 16px;
	}
} 

.checked_circle { 
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%; 
	background: #5936f0; 
	background: var(--color-accent-orange-2);

} 


.line {
	height: 50px;
	transform: translateY(22px); 
	border: 1px dashed #dfe1ef;
} 

.checked_line { 
	height: 45px;
	transform: translateY(22px);
	border: 1px solid var(--color-accent-orange-2); 

} 


