.container {
    display: flex;
    align-items: center;
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 600;
    padding-top: 12px;

    :global {
        .ui_breadcrumb_container > div {
            cursor: initial;
}
