
/* import { Skeleton } from '@cogoport/front/components'; */

.container{
	display: flex;
	width: 100%;
};

.skeleton_div{
	display: flex;
	flex-direction: column;
};

.custom_skeleton {
	margin-bottom: 10px;
};

.remarks{
	margin-bottom: 10px;
};

.custom_div{
	display: flex;
	flex-direction: column;
	width: 100%;
};
