.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.text {
	font-size: var(--font-size-md);
	color: var(--color-secondary-greyscale-4);
}

.margintop {
	margin: 10px;
}
