.container {
	padding: 12px 0 16px;
	border-top: 1px solid #e0e0e0;
}

.title {
	font-size: 12px;
	font-weight: 700;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
}

.ind_container {
	display: flex;
	flex-direction: column;
	padding: 12px 24px 0 0;
}

.label {
	margin-bottom: 4px;
	font-size: 12px;
}

.superscipt {
	color: #ee3425;
}

.element {
	&.upload {
		:global {
			.ui_input_container {
				height: 57px;
				background: #fff;
				border: 1px dashed #6fa5ab;
				border-radius: 4px;
			}

			.ui_input_control {
				font-size: 14px;
				text-align: center;
			}

			.ui_buttonicon_container {
				width: unset;
			}
		}

		svg {
			width: 48px !important;
			height: 48px !important;
			margin-top: -6px;
			fill: #cfeaed;
		}
	}

	&.textarea {
		:global {
			.ui_text_area_container {
				height: 58px;
			}
		}
	}
}

.second_text {
	margin-left: 4px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.button_container {
	display: flex;
	gap: 12px;
	float: right;
	padding-top: 20px;
}

.error_message {
	font-size: 11px;
	color: #ee3425;
}

.main_container {
	display: flex;
	flex-direction: column;
}

.buttons {
	width: 100%;
	border-top: 1.6px dashed #e0e0e0;
}
