.flex_box {
	display: flex;
	align-items: center;
}

.filter_section {
	justify-content: flex-end;
	width: 42%;

	.search_field {
		width: 35%;
	}

	.select_field {
		width: 200px;
		margin: 0 15px;
	}

	:global {
		.ui_input_suffix {
			margin-right: 8px;
		}
	}

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}
