.container {
    display: flex;
    flex-direction: row;
    height:100%
}

.arrow_container {
    cursor: pointer;
    z-index: 1;
}

.Carousel_data_container {
    height:100%;

    :global{
        .ui_carousel_container{
            height:100%
        }    
    }
}