.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.arrow_container {
	z-index: 1;
	cursor: pointer;
}

.carousel_data_container {
	height: 100%;

	:global {
		.ui_carousel_container {
			height: 100%;
		}

		.ui_carousel_arrow {
			fill: #ee3425;
		}

		.ui_carousel_dots {
			border: 1px solid #ee3425;
		}

		/* .ui_TSL-E {
			background-color: red;
		} */
	}
}
