.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.arrow_container {
	z-index: 1;
	cursor: pointer;
}

.carousel_data_container {
	height: 100%;


    :global{
        .ui_carousel_container{
            height:100%;
            
        } 
        .ui_carousel_arrow{
            fill:red;
        }   
        .ui_carousel_dots{
            border: 1px solid red;
        }
        .ui_TSL-E{
            background-color:red

        }
    }
}
