.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 16px;
}

.row {
	display: flex;
	align-items: center;
	min-height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #f8f2e7;
}

@media screen and (max-width: 768px) {
	.row.is_mobile {
		flex-flow: row wrap;
	}

	.col.is_mobile {
		flex: 0 0 50%;
		flex-direction: column;
	}
}

.col {
	display: flex;
	flex: var(--span);
	padding: 4px;
	margin-left: 16px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
}

.center {
	align-items: center;
	width: 0;
	margin-left: 8px;
}

.tablelabel {
	display: flex;
	font-size: 12px;
	font-weight: 600;
	color: #303b67;
}

.flex {
	width: var(--span) px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list_container {
	display: flex;
	flex-direction: column;
	padding: 8px 20px;
	word-wrap: wrap;
	background: #fff;
}

.scroll {
	max-height: 600px;
	overflow: auto;
}
