.greeting_text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  position: relative;
}

.image_upload_container {
  width: 250px;
  margin: auto;
  position: relative;
}

.image_container {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;

  .img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #8089cc;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    }
  }
}

.button_container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .core-ui-button-root {
    margin-left: 12px;
  }
}

.file_upload_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.upload_picture_text {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 8px;
}

.delete_icon {
  cursor: pointer;
  margin-top: 4px;
}

.change_picture_text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.camera_icon {
  position: absolute;
  top: 15%;
  left: 70%;

  .icon {
    position: absolute;
    background: transparent;
    cursor: pointer;
    bottom: 4px;
    right: 36px;
  }
}

.avatar_container {
  margin-top: 8px;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  border-radius: 30%;

  &:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
  }

  :global {
    .ui_avatar_container {
      padding: 0px !important;
    }
  }

  :global {
    .ui_w3vLx {
      background: #cfeaee !important;
      color: #6fa5ab;
      border: 4px solid #addadf;
    }
  }
}

.picture_container {
  display: flex;
  justify-content: space-between;
  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #8089cc;
    margin-right: 20px;
  }
}

.main_container {
  background: #ffffff;
  margin-right: 12px;
  border-radius: 12px;
  position: relative;
}

.empty_background {
  position: absolute;
  top: 0px;
  height: 35%;
  width: 100%;
  background: #f3fafa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.location_name {
  color: #221f20;
  font-size: 12px;
  margin-left: 4px;
}

.modal_container {
  padding: 0px 32px 16px 32px;
  margin-bottom: 16px;
}

.upload_picture_container {
  width: 300px;
  height: 70%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  margin-left: 80%;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remove_picture_text {
  width: 120px;
  cursor: pointer;
}
