.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	padding: 0 26px;

	* {
		font-size: 12px;
	}
}

.col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 6px 0;
}

.grey {
	color: var(--color-secondary-greyscale-3);
}

.left {
	width: 50%;
	padding: 8px 16px 8px 8px;
}

.right {
	width: 50%;
	padding: 16px;
}

.details {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip_container {
	color: var(--color-accent-orange-2);
	text-decoration: underline;
}
