.container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 26px;
	width: 50%;
	* {
		font-size: 12px;
	}
}

.col{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 6px 0px;
}

.grey{
	color: var(--color-secondary-greyscale-3);
}

.left{
	width: 50%;
	padding: 8px 16px 8px 8px;
}

.right{
	width: 50%;
	padding: 16px;
}

.details{
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}

.tooltip_container{
	text-decoration: underline;
	color: var(--color-accent-orange-2);
}