.button {
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
}

.modal_body {
	min-height: 240px;
	padding: 48px 24px;
}

.modal_select {
	width: inherit;
	margin-top: 20px;

	:global(.ui_select_options_container) {
		overflow: visible;
	}
}

.submit_button {
	margin-left: 8px;
}
