.container{
    display: flex;
	align-items: center;
	width: 100%;
	padding: 12px 0px;
}

.line{
    border-right: 1px solid #e0e0e0;
	height: 50px;
	margin: 0px 20px;
}
.cargoContainer{
	width: 25%;
}