.permission {
	width: 200px;
	min-width: 150px;
	margin-right: 16px;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-left: 12px;
}

.container_options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: calc(100% - 33.3%);
}

.space_between {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.option_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 33%;
}

.options {
	flex-direction: column;
	align-items: flex-start;
	padding: 18px 2px;
}

.row {
	display: flex;
	align-items: center;
}
