.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	transition: height 0.6s ease;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.left_section {
	@media (max-width: 768px) {
		width: 100%;
	}
}

.right_section {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@media (max-width: 768px) {
		justify-content: space-between;
		width: 100%;
		padding: 0 12px;
	}
}
