.link {
	padding: 4px;
	font-size: 12px;
	font-weight: 500;
	color: #f68b21;
	text-decoration: underline;
	word-break: break-all;
	cursor: pointer;
}

.document_number {
	padding: 4px;
	font-size: 12px;
	font-weight: 500;
	text-decoration: underline;
	word-break: break-all;
	cursor: pointer;
}

.date {
	display: flex;
	align-items: center;
}

.incident {
	font-size: 12px;
	color: #f68b21;
	text-decoration: underline;
}
