.container {
	padding: 16px;
	margin-top: 16px;
	background-color: #fff;
	border-radius: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.generate_button {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
	margin-bottom: 16px;
}

.generated_string {
	display: flex;
	gap: 16px;
	padding: 0 0 16px;
	margin: 0 0 16px;
	border-bottom: 1px solid #eee;
}

.generated_string_content {
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
}

.generated_string_heading {
	font-weight: 1000;
}
