.container {
	margin: 8px 0;
	margin-top: 20px;
	border-bottom: 1px solid #e0e0e0;
}

.text {
	margin: 12px 0%;
	font-size: 12px;
	color: #f00;
}

.card_header {
	display: flex;
	margin-bottom: 8px;
}

.heading {
	width: 50%;
	font-size: 16px;
	font-weight: 500;
}

.card_items {
	margin-bottom: 8px;
}

.items {
	display: flex;
}

.cancellation {
	width: 48%;
	padding: 4px 0;
	border-right: 1px solid #e0e0e0;
}

.charge {
	padding-left: 16px;
}
