.chat_card_main_container {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	cursor: pointer;

	:global {
		.ui_checkbox_container {
			padding: 1px;
		}

		.ui_checkbox_normal {
			margin: 0 !important;
		}
	}
}

.chat_card_main_container:hover {
	background: #fdfbf6;
}

.active_card {
	background: #fbf7ec;
}

.user_details {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.user_name {
	max-width: 130px;
	margin-right: 5px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 1280px) {
		max-width: 100px;
	}
}
