.calendar{
    display: flex;
}

.calendarEntity{
    width: calc(100% - 30px);
}

.navBtn{
    outline: none;
    border: none;
    padding: none;
    cursor: pointer;
    font-size: 18px;
    width: 30px;
	margin: 10px;
}

.inactive{
    cursor:not-allowed;
}