.calendar{
    display: flex;
    align-items: center;
}

.calendarEntity{
    width: calc(100% - 33px);
    overflow: hidden;
}

.navBtn{
    outline: none;
    padding: none;
    border:none;
    cursor: pointer;
    font-size: 18px;
    height:100%;
    width: 33px;
	margin: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.inactive{
    cursor:not-allowed;
}