.container {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: #f6f5fe;

	:global {
		.ui_accordion_content {
			background-color: #fff !important;
			border-top: 1px solid #e0e0e0 !important;
			border-radius: initial;
		}
	}
}

.bl_overview_card {
	height: auto;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10 rgb(0 0 0 / 20%);
}

.button_container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	& > button {
		margin-right: 8px;
	}
}

.bl_count_container {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: #4f4f4f;
	white-space: nowrap;

	.bl-count {
		margin: 0 8px;
		font-weight: 400;
		color: #828282;

		@media (max-width: 768px) {
			font-size: 10;
		}
	}

	@media (max-width: 768px) {
		font-size: 11px;
	}
}

.manage_services_div {
	padding: 20px 5px 10px;

	:global {
		.ui_accordion_container {
			background: #f3fafa !important;
		}

		.ui_accordion_header {
			background: #f3fafa !important;
		}
	}
}

.service_card {
	margin-bottom: 16px;
	border-radius: 4px;

	:global {
		.ui_accordion_title {
			width: 96% !important;
		}
	}
}

.button_div {
	position: absolute;
	top: 5px;
	left: 410px;
}
