.container {
	height: 75vh;
	margin-top: 10px;
	overflow-y: auto;
}

.container::-webkit-scrollbar {
	display: none;
}

.main_card {
	padding: 8px;
	margin: -5px 0 -5px 5px;
	border-left: 1px solid #bdbdbd;
}

.main_card:last-child {
	border-left: none;
}

.activity_date {
	display: flex;
	align-items: center;
}

.dot {
	width: 10px;
	height: 10px;
	background: #bdbdbd;
	border-radius: 50%;
}

.durations {
	margin-left: 5px;
	font-size: 10px;
	color: #828282;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 8px 6px;
	margin: 5px 10px;
	background: #fff;
	border-left: 2px solid #6fa5ab;
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.activity_div {
	display: flex;
	width: 100%;
}

.message_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	width: 80%;
	min-height: 20px;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
}

.user_details {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 84%;
	min-height: 40px;
}

.user_message {
	font-size: 12px;
	color: #4f4f4f;

	span {
		margin-left: 4px;
	}
}

.icon_type {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.user_avatar {
	display: flex;
	justify-content: flex-end;
	margin-top: -10px;
}

.styled_ui_modal_dialog {
	border: none !important;

	:global {
		.ui_modal_body_container {
			border-bottom: none !important;
		}
	}
}
