.heading {
	font-size: 16px;
	font-weight: 700;
}

.margintop {
	margin-top: 16px;
}

.label {
	font-size: 12px;
	font-weight: 600;
}

.value {
	font-size: 10px;
	font-weight: 600;
}

.margin {
	margin-top: 6px;
}

.flex {
	display: flex;
}

.marginright {
	margin-right: 16px;
}

.marginbottom {
	margin-bottom: 10px;
}

.borderbottom {
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.wrap {
	flex-wrap: wrap;
}
