.container {
	.business-checkbox-item {
		margin: 12px;
	}

	.ui-text-area {
		padding: 12px !important;
	}

	.form-layout-root-row {
		width: 100%;
	}

	.business-checkbox-label {
		width: 98%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.heading {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #393f70;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
	margin: 16px;

	.core-ui-button-root {
		text-transform: capitalize;
		letter-spacing: 0;
	}
}
