.service_line {
	display: flex;
	justify-content: space-between;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 16px;
}

.locals_rate {
	margin: 12px 36px;
	color: #ee3425;
}
