.container {
	padding: 16px 12px 14px;

	:global {
		.ui_accordion_content {
			background-color: var(--color-secondary-5) !important;
			border-top: 1px solid var(--color-secondary-greyscale-5) !important;
			border-radius: initial;
		}
	}
}

.loader {
	padding-bottom: 4px;
	margin: 20px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}
