.text {
	margin: 0 8px;
	font-weight: 600;
	color: #777;
}

.header {
	padding-bottom: 14px;
	border-bottom: 1px solid #eee;

	:global {
		.ui_button_container {
			padding: 0;
		}
	}
}

.create_group {
	margin: 6px 0 0 4px;
}

.list_container {
	height: 74%;
	overflow-x: hidden;
	overflow-y: auto;
	transition: height 0.5s ease;

	&::-webkit-scrollbar {
		display: none;
	}
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30vh;
	font-size: 16px;
	color: #828282;
}
