.container {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	background: var(--color-primary-error-red-5);
}

.details {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 8px;
}

.text {
	font-size: 12px;
}

.deadline {
	display: flex;
	justify-content: flex-end;
	margin: 12px;
}
