.container {
	display: flex;
	align-items: flex-start;
	padding: 15px;

	.main_section {
		width: 68%;
	}

	.info_section {
		width: 32%;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;

		.main_section,
		.info_section {
			width: 100%;
		}
	}
}
