.container {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.text {
	font-size: 12px;
	font-weight: 500;
}

.total_price {
	font-size: 24px;
	font-weight: 500;
}

.flex {
	display: flex;

	:global {
		.ui_select_container {
			width: 88px;
		}

		.ui_select_options_container {
			z-index: 9;
		}
	}
}

.value {
	margin-left: 8px;
	font-size: 24px;
	font-weight: 500;
}
