.main_container {
	margin-bottom: 16px;
	background: #fff;
	border-radius: 8px;
}

.container {
	display: flex;
	align-items: center;
	padding: 12px;
	padding-right: 20px;
	color: #333;
}

.flex_row {
	display: flex;
	flex: 1;

	/* justify-content: center; */
	font-size: 12px;
}

.details {
	flex: 0.4;
	margin-left: 10px;
}

.percent {
	display: flex;
	flex: 0.8;
	flex-direction: column;
	gap: 3px;
	justify-content: center;
	width: 100%;
	height: 56px;
	padding-left: 24px;
	font-size: 12px;
	font-weight: 500;
	color: #67c676;
	white-space: nowrap;
}

.button {
	flex: 0.4;
	justify-content: flex-end;
	margin-left: 10px;
}
