.container {
	display: flex;
	padding: 8px;
	margin: 4px;
	justify-content: space-between;
}

.question_section {
	flex: 4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;

	p {
		font-size: 12px;
		font-weight: 500;
	}
}

.remark {
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;

	p {
		font-size: 12px;
		font-weight: 500;
	}
}

.weightage {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;

	p {
		font-size: 12px;
		font-weight: 500;
	}
}

.question {
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
	text-overflow: ellipsis;
	white-space: nowrap;
}
