.container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px;
	margin: 4px;
}

.question_texts {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
}

.question {
	display: flex;
}

.remark {
	display: flex;
}

.question_tags {
	flex: 0.3;
	display: flex;
	flex-wrap: wrap;

	max-height: 100%;
	max-width: 100%;
	overflow-y: hidden;

}

.question {
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
	text-overflow: ellipsis;
	white-space: nowrap;
}
