.container {
	:global {
		.ui_popover_container {
			justify-content: center;
			min-height: initial;
			padding: 0;

			> div {
				padding: 0;
			}
		}
	}
}

.action_button {
	width: 100%;
	font-size: var(--font-size-md);
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	cursor: pointer;
}

.three_dots {
	cursor: pointer;
}

.popover {
	width: 100%;
}
