.label {
	padding: 0 24px;
	margin-bottom: 6px;
	font-weight: 500;
}

.textarea {
	width: 90%;
	min-height: 80px;
	padding: 4px;
	margin: 0 24px;
}

.container {
	width: 49%;
	background: #fff;
	border-radius: 10px;
}

.display_box {
	display: flex;
	width: 100%;
	padding: 36px 0 24px;
}

.company_div {
	width: 50%;
}

.line {
	border-bottom: 1px solid #e0e0e0;
}

.shipment_id {
	font-weight: 500;
	color: #f68b21;
	text-decoration: underline;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin-top: 12%;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.heading {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 500;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.amount_details {
	display: flex;
	gap: 40px;
	padding: 16px 0;
}

.details_box {
	padding: 24px;
}

.supplier_div {
	padding: 24px 0 16px;
}

.shipment_container {
	padding: 16px 0;
}

.payment_div {
	padding: 16px 0 8px;
}

.per_container_div {
	width: 60%;
}

.count_div {
	width: 30%;
}

.amount_div {
	width: 30%;
}
