.sub_container {
  display: flex;
}
.debit_container {
  border: 1px solid #cacaca;
  border-radius: 4px;
  width: fit-content;
  padding: 12px 30px;
  margin: 0px 16px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.debit {
  font-weight: 600;
  display: flex;
  color: #f68b21;
}
.color {
  color: #828282;
}
