.container {
	display: flex;
	padding: 16px;
	margin-top: 16px;
	color: var(--color-primary-error-red-2);
	background-color: var(--color-primary-error-red-5);
	border-radius: 4px;

	.heading {
		margin: 0;
	}

	svg {
		width: 26px;
		height: 26px;
		margin: 6px 10px 0 0;
	}

	&.yellow {
		color: #9c8440;
		background-color: var(--color-primary-yellow-5);

		svg {
			path {
				fill: #9c8440;
			}

			circle {
				stroke: #9c8440;
			}
		}
	}

	&.green {
		color: #4f9e3f;
		background-color: #cafcdc96;

		svg {
			path {
				fill: #4f9e3f;
			}

			circle {
				stroke: #4f9e3f;
			}
		}
	}
}
