.container{
	width: fit-content;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		height: fit-content;
		margin: 0px 0px 8px 0px;
		width: 100%;
	}
}

.local_services {
	width: 100%;
}

.loca_services {
	width: 27%;
}

.truck_card {
	margin-left: 8px;
}

.service_info_container{
	padding: 12px;
	border: 1px solid #F68B21;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	background: rgba(251, 209, 166, 0.2);

	@media (max-width: 768px) {
		height: 50%;
	}
}

.icon_container{
	display: flex;
	justify-content: space-between;
}

.service_name_container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.service_name{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.local_services {
	width: 33%;
}

.service{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.name{
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #000000;
}

.service_icon{
	font-size: 20px;
	margin: 0px 8px;
}

.more_info_container{
	padding: 8px;
	border: 1px solid #F68B21;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		height: 50%;
	}
}

.cargo_detail_pill {
	color: #393f70;
}

.shipment_cargo_details_root {
	justify-content: center;
}