.container {
	position: relative;
	width: calc(100% - 16px);
	margin-left: 16px;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(98 127 172 / 10%);
}

.title {
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
}

.pagination_container {
	display: flex;
	justify-content: center;
	margin-top: 6px;
}

.button {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 20px;
	cursor: pointer;
}
