.headCon{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.headerLeft {
	
		display: flex;
		justify-content: flex-start;
		padding-bottom: 15px;
		padding-top: 15px;
}

.headerText{
    display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #393f70;
}

.timerText{
    font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-left: 13px;
	color: #cb6464;
}
.bookingOptionsText{
    font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	margin: 16px 0px 10px 0px;
	color: #393f70;
}

.headerRight{
    display: flex;
	justify-content: flex-end;
	align-items: center;
}

.timerContainer{
	
    margin-bottom: 10px;
	display: flex;
	align-items: center;
	width: 100%;
}
.timerInfo{
    font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #cb6464;
	margin: 0;
}
.flashedInformation{
    padding: 12px;
	display: flex;
	justify-content: space-between;
	background: #f7f7fc;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-bottom: 10px;
}

.text{
    color: #393f70;
	font-weight: 500;
	font-size: 18px;
}
.smallFont{
    font-size: 12px;
}

.loadingState{
    width: 2px;
	height: 2px;
	border-radius: 100%;
	padding: 10px;
	background: conic-gradient(
		from 180deg at 50% 50%,
		#5936f0 0deg,
		rgba(196, 196, 196, 0) 360deg
	);
}