.body {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 45px;
	padding: 8px;
}

.name_flex {
	display: flex;
	align-items: center;
	width: calc(100% - 60px);
}

.name {
	width: fit-content;
	max-width: 100px;
	margin: 0 4px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tool_tip_styles {
	width: 60%;
}

.tick_icon {
	width: 16px;
	height: 16px;
	margin: 0 4px;
}

.call_icon_border {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background: #abcd62;
	border-radius: 8px;
}

.call_icon {
	width: 15px;
	height: 15px;
	fill: #fff;
}

.container {
	width: 100%;
	height: 55%;
}

.avatar_styles {
	min-width: 40px;
	min-height: 40px;
}
