.container {
	margin-top: 10px;
}

.row {
	display: flex;
}

.details {
	margin-left: 25px;
}

.details_title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.details_description {
	font-size: 14px;
	color: #4f4f4f;
}

.terms {
	margin-top: 30px;
}

.terms_title {
	font-size: 12px;
	font-weight: 600;
	color: #828282;
}

.terms_content {
	margin-top: 15px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}
