.head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.head_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container {
	text-decoration: underline;
	cursor: pointer;
}

.improvement_needed {
	color: #f00;
}

.average {
	color: #f3aa18;
}

.good_performance {
	color: #67c676;
}