.body_container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 12px;
	border-bottom: 1px dashed #bdbdbd;
}

.heading_container {
	display: flex;
	align-items: center;
}

.text1 {
	padding: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #4f4f4f;
}

.text2 {
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.left_section {
	display: flex;
	align-items: center;
	width: 35%;
	padding: 0 14px;
}

.middle_section {
	flex: 1;
	border-right: 1px dashed #bdbdbd;
	border-left: 1px dashed #bdbdbd;
}
