.container {
    z-index: 100;
	transition: 150ms ease-in-out;
}

.topiclist_container{
	display: flex;
	height: 98vh;
	width: 460px;
	overflow-y: auto;

	@media (max-width: 768px) {
		width: 360px;
	}
}

.faq_icon {
	width: 60px;
	height: 60px;
	z-index: 100;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	bottom: 2rem;
	right: 2rem;

	@media (max-width: 768px) {
		margin: 8px;
	}
}
