.card_wrapper {
	padding: 14px;
	margin: 16px 0;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.row {
	display: flex;
	padding-right: 0;
}

.col {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.card {
	width: 48%;
}

@media (max-width: 768px) {
	.horizontal_bar_graph {
		width: 260px;
	}

	.row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: 0;
	}

	.col {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.card {
		width: 100%;
	}
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media (max-width: 768px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
