.container {
	margin: 20px;
}

.table {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.table_header {
	display: flex;
}

.header_column {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 16px;
	font-size: 14px;
	font-weight: 700;
}

.header_column:first-child {
	flex: 0 0 30%;
	justify-content: flex-start;
	padding-left: 30px;
}

.column {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 16px;
	font-size: 12px;
	border: 0.5px solid #e8f6f6;

	&.bold {
		font-weight: 600;
		background: #cff1f4;
	}
}

.column:first-child {
	flex: 0 0 30%;
	justify-content: flex-start;
	padding-left: 30px;
}

.table_body {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	border: 0.5px solid #e8f6f6;

	&.even {
		background-color: #fbffff;
	}
}

.row:last-child {
	background-color: #fff;
	border: none;
}
