.container {
}

.header_text {
	font-size: 28px;
	font-weight: 700;
}

.page_actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	:global(.ui_select_container) {
		width: 160px;
		height: 38px;
	}
}

.filters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}

.redirect_container {
	display: flex;
	align-items: center;
	cursor: pointer;

	.redirect_text {
		font-size: 18px;
		font-weight: bold;
		margin: 0px;
	}
}

.stats_section {
	display: flex;
	padding-top: 16px;

	@media(max-width: 768px){
		flex-direction: column;
	}
}

.list_section {	
}

.list_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
	margin-top: 16px;

	.list_header_text {
		font-size: 18px;
		font-weight: bold;
		color: "#393f70";
		margin: 0px;
	}
}
