.container {
}

.header_text {
	font-size: 28px;
	font-weight: 700;
}

.stats_section {
	margin-top: 16px;
}

.page_actions {
	display: flex;
	justify-content: space-between;
	
	:global(.ui_select_container) {
		width: 160px;
		height: 38px;
	}
}

.filters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.filters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.question_button_container {
	display: flex;
	justify-content: flex-start;
}

.redirect_container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #393f70;
	cursor: pointer;

	p {
		font-size: 18px;
		font-weight: bold;
		margin: 0px;
	}
}

.table_section {
	margin-top: 16px;
	background: #FAF5EC;
	border-radius: 8px;
}

.list_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0 0px;
	margin-top: 16px;

	.list_title {
		font-size: 18px; 
		font-weight: bold;
		color: #393f70;
		margin: 0px;
	}

	.list_actions {
		display: flex;
		align-items: center;
	}
}
