.container {
	display: flex;
	flex-direction: column;
	min-width: 22%;
	max-width: 22%;
	padding: 32px 16px;
	background: #fffdee;
	border: 1px solid #fff6b8;
	border-radius: 16px;
}

.upperpart {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.lowerpart {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.heading {
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.description {
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
}
