.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0 0;


	p {
		font-size: 16px;
		font-weight: bold;
		margin: 0px;
	}
}

.select_container {
	display: flex;
	justify-content: flex-start;
	padding-top: 16px;
}

.layout_container {
	display: flex;
	justify-content: flex-end;
}

.question_section {
	margin: 16px 0;
}

.search_question_filter {
	display: flex;
	margin-left: 16px;
}
