.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rate_item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pill {
	width: max-content;
	padding: 4px 12px;
	font-size: 12px;
	font-weight: 400;
	color: #1295a3;
	border: 1px solid #24c7d9;
	border-radius: 36px;
}

.total_price {
	display: flex;
	align-items: center;
}

.no_rates_found {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.request_rate_button {
	margin-top: 2px;
}
