.container {
	display: flex;
	flex-basis: 24%;
	height: 132px;
	padding: 16px 24px 4px;
	margin: 4px;
	cursor: default;
	background: #fff;
	border: 1px solid #c2c0c054;
	border-radius: 8px;

	@media (max-width: 768px) {
		flex-basis: 48%;
	}
	@media (max-width: 576px) {
		flex-basis: 100%;
	}
}

.title {
	display: flex;
}

.title_text {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 600;
}

.content {
	display: flex;
	justify-content: space-between;
}

.display_flex {
	display: flex;
	flex-direction: column;
}

.display_flex_loading {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.tooltip {
	width: 40px;
	height: 40px;
	padding-top: 4px;
}

.values {
	width: 120px;
	overflow: hidden;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip_text {
	word-break: break-word;
}
