.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.search_input {
	width: 30%;
}

.select_input {
	width: 30%;
}
