.suggested {
	display: flex;
	justify-content: center;
	padding: 2px;
	font-size: 14px;
	font-weight: 400;
	color: black;
}

.item {
	padding: 6px;
	margin: 2px 0 4px 4px;
	overflow: hidden;
	font-size: 10px;
	font-weight: 500;
	color: #373f6f;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border: 0.5px solid black;
	border-radius: 4px;
	box-shadow: 0 0 2px #2c3e50;
}

.no_service {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 600;
	color: #373f6f;
}

.apply_service {
	display: flex;
	margin-left: 4px;
	font-size: 10px;
}

.icon {
	display: flex;
	justify-content: flex-end;
}

.page {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.loader {
	display: flex;
	justify-content: center;
	padding: 2px;
	font-size: 14px;
	font-weight: 400;
	color: black;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.placeholder {
	padding: 6px;
	margin: 2px 0 4px 4px;
	border: 0.5px solid black;
	border-radius: 4px;
}
