.top_bar {
    display: flex;
}

.port_pair {
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-weight: 600;
}

.table {
    background-color:#ffffff;
}

.th {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: right;
}
