.button_wrapper {
	display: flex;
	justify-content: center;

	& > button {
		margin-right: 12px;
	}
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.custom_modal {
	:global {
		.ui_modal_body_container {
			height: 200px;
		}
	}
}
