.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	padding: 12px;
	margin-right: 12px;
	background-color: #fff;
	border-radius: 4px;
}

.graph {
	position: relative;
	width: 280px;
	height: 180px;
}

.graph_total {
	position: absolute;
	top: 90px;
	left: 66px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.graph_label {
	font-size: 14px;
	font-weight: 400;
	color: #828282;
}

.graph_count {
	font-size: 22px;
	font-weight: 600;
	color: #221f20;
}

.legends {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.legend {
	display: flex;
	flex-direction: column;
}

.margin_bottom {
	margin-bottom: 8px;
}

.dot {
	width: 8px;
	height: 8px;
	margin-right: 4px;
	border-radius: 50%;
}

.stats_count {
	min-width: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #221f20;
}

.stats_label {
	margin-left: 12px;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.legend_count {
	display: flex;
	align-items: center;
}

.happy_customers {
	background-color: #fef199;
}

.neutral_customers {
	background-color: #cfeaed;
}

.angry_customers {
	background-color: #fdebe9;
}

.pie_tooltip {
	padding: 4px;
	background-color: #fff;
	border-radius: 4px;
}
