.body {
	display: flex;
	flex-direction: column;
	max-width: 250px;

	:global {
		.ui_input_control {
			width: 250px;
		}
	}
}

.btn_section {
	display: flex;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.cancel_btn {
	margin-left: 4px;
}

.apply_btn {
	margin-left: 6px;
}

.refersh_icon {
	margin-right: 4px;
}
