.container{
    height: 364px;
    flex-shrink: 0;
    border-top: 1px solid #EBEBF4;
    background: #F7FAEF;
}

.congrats_text{
    display: flex;
    align-items: center;
    color: #000;
    font-size: 29px;
    line-height: 150%;
  
}

.button_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.primary_button{
    margin-left: 16px;
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
}

.secondary_button{
    display: inline-flex;
    height: 48px;
    padding: 12px 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--black-20, #E0E0E0);
    background: var(--white, #FFF);
}