.serial_number {
	flex: 0 0 5%;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: #000;
}

.container_number {
	flex: 0 0 38%;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	color: #333;
	text-transform: uppercase;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	& > div {
		flex: 0 0 40%;
	}
}

.container_description {
	display: flex;
	align-items: center;
	width: 60%;
}

.container_item {
	display: flex;
	justify-content: space-between;
	padding: 12px 12px 0;
}

.tag_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	& > div {
		width: max-content;
		padding: 0 8px;
		margin-right: 8px;
		font-size: 10px;
		background-color: #e7d8af;
		border-radius: 4px;
	}
}
