.container {
  padding: 20px 0px;
  :global(.ui_input_container) {
    width: 50px;
    height: 20px;
    border: none;
    background-color: transparent;
  }
}

.rectangle {
  width: 290px;
  height: 180px;
  border: 1px solid #BDBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  background: linear-gradient(to bottom right, #E0E0E0, #F9F9F9);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2),
    inset 0px 0px 2px rgba(255, 255, 255, 0.5);
  position: relative;
}

.inner-rectangle {
  width: 180px;
  height: 108px;
  display: flex;
  border: 1px solid #BDBDBD;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  background: linear-gradient(to bottom right, #BDBDBD, #F9F9F9);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2),
    inset 0px 0px 2px rgba(255, 255, 255, 0.5);
  position: relative;
}


.title {
  position: absolute;
  top: 2px;
  font-size: 12px;
  left: 4px;
}

.box {
  width: 82px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin: 20px;
  position: relative;
}

.margin-left {
  position: absolute;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.margin-right {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.margin-top {
  position: absolute;
  top: -70px;
  left: 60%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}

.margin-bottom {
  position: absolute;
  bottom: -70px;
  left: 60%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}

.padding-left {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.padding-right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.padding-top {
  position: absolute;
  top: 10px;
  left: 55%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}

.padding-bottom {
  position: absolute;
  bottom: 10px;
  left: 55%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}
