.container {
	padding: 0 40px;
	background-color: #fff;

	:global {
		.ui_toggle_container {
			padding: unset;
			font-size: 12px;
		}

		.ui_radiogroup_container {
			padding: unset;
		}
	}
}

.input_group {
	margin-top: 6px;
}

.form_group {
	margin-top: 32px;

	&.upload_presentation {
		margin-top: 0;
	}

	&.upload_document {
		margin-top: 0;
	}

	&.upload_file {
		margin-top: 0;
	}

	&.completion_duration_value {
		width: 200px;
		margin-left: 20px;
		margin-top: unset;
	}

	&.completion_duration_unit {
		width: 200px;
		margin-top: unset;
	}
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 20px;
}

.superscipt {
	color: #ee3425;
}

.select_group {
	display: flex;
}

.group_select {
	margin-top: 32px;
}