.container {
	padding: 0 40px;
	background-color: #fff;

	:global {
		.ui_toggle_container {
			padding: unset;
			font-size: 12px;
		}
	}
}

.input_group {
	margin-top: 6px;
}

.form_group {
	margin-top: 32px;

	&.upload_presentation {
		margin-top: 0;
	}

	&.upload_file {
		margin-top: 0;
	}
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 20px;
}
