.header_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-secondary-2);
    margin-bottom: 10px;
}

.label {
    font-weight: 600;
    margin-right: 4px;
}

.last_update_details {
    font-size: 12px;
}
