.item {
	padding: 10px 8px;
	margin-bottom: 2px;
	background: #fff;
	border-bottom: 1px solid #f2e3c3;
	border-radius: 6px;

	&:hover {
		cursor: pointer;
		background: #f8f2e7;
	}
}

.selected {
	background: #f8f2e7;
}
