.container {
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	font-size: 20px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 8px;
}

.primary_stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 225px;
	background: #f9f5ec;
}

.primary_stat_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-size: 18px;
	font-weight: 600;
}

.primary_stat_description {
	display: flex;
	align-items: center;
	margin-top: 5px;
	font-size: 14px;
	color: #828282;

	span {
		margin: 0 5px;
	}
}

.primary_right {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 12px 18px;
	margin: 12px 12px 12px 0;
	text-align: center;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgb(16 24 40 / 10%), 0 1px 2px rgb(16 24 40 / 6%);
}

.question_line {
	display: flex;
}

.right_stat_title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
}

.right_stat_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
}

.right_stat_label {
	padding-bottom: 6px;
	font-size: 14px;
	color: #828282;
}

.right_stat_value {
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #828282;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		content: "";
		background-color: #000;
		transition: transform 0.25s ease-out;
		transform: scaleX(0);
		transform-origin: bottom right;
	}

	&:hover {
		color: #242424;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.sub_heading {
	align-items: left;
	justify-content: space-between;
	margin-top: 4px;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
}

.quest {
	display: flex;
	justify-content: space-between;
}

.icon_container {
	margin-top: 0.15rem;
	margin-left: 0.2rem;
}
