.container{
    margin-top: 12px;
    
    :global{
        .ui_tab_container{
            padding-bottom: 10px;
        }
        .ui_tab_active{
            border-bottom: 3px solid #FCDC00 !important;

            .ui_tabs_list_title{
                font-weight: 600;
                color: #000 ;
            }
        }
        
    }
}