.container {
	margin-top: 12px;

	:global {
		.ui_tab_list_container {
			padding-top: 14px;
			background-color: #fcfcfc;

			.ui_tabs_list_title {
				color: #828282;
			}
		}

		.ui_tab_container {
			padding-bottom: 14px;
		}

		.ui_tab_active {
			border-bottom: 3px solid #fcdc00 !important;

			.ui_tabs_list_title {
				font-weight: 600;
				color: #000;
			}
		}
	}
}
