.container {
	max-height: 356px;
	padding: 4px 24px;
	margin-top: 16px;
	overflow-y: auto;
}

.card {
	padding-bottom: 10px;
	margin-bottom: 12px;
	background-color: #f5fafe;
	border-radius: 4px;
}

.custom_tag {
	font-weight: 600;
	color: #0c244f;
	border-radius: 4px;
}
