.time_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	background-color: #f9f9f9;
}

.title_text {
	margin-bottom: 2px;
	font-size: 12px;
	color: #828282;
}

.time_value {
	font-size: 16px;
	font-weight: 500;
	color: #221f20;
}

.flex {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #f8f2e7;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	padding: 0 4px;
}

.timesheet_title {
	width: 20%;
	padding: 0 4px;
}

.capture {
	width: 20%;
	padding: 0 4px;
}

.lat_long {
	width: 25%;
	padding: 0 4px;
}

.timesheet_container {
	margin-top: 20px;
}

@media (max-width: 768px) {
	.flex {
		flex-wrap: wrap;
	}

	.icon_container {
		width: 20%;
	}

	.timesheet_title {
		width: 40%;
	}

	.capture {
		width: 40%;
	}

	.lat_long {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin-top: 8px;
	}

	.modal_container {
		width: 100% !important;
	}

	.time_value {
		font-size: 14px;
	}
}
