.main_container {
	display: flex;
	gap: 16px;
}

.graph_container {
	flex-grow: 1;
}

.side_container {
	width: 475px;
}

.section_header {
	padding: 2px 8px;
	font-size: 16px;
	font-weight: 600;
}

.section_container {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(51 26 2 / 5%);
	transition: all 0.3s ease;

	&:hover {
		box-shadow: 0 0 8px rgb(81 47 16 / 9%);
		transform: scale(1.01) translateY(-4px);
	}
}
