/* stylelint-disable indentation */
.StyledTable {
    overflow-x: scroll;
    background-color: #fff;
    border-radius: 5px;
}

.StyledTable .ui-table .ui-table-head-cell {
    width: 25%;
    color: #35495d;
    border-bottom: 2px solid #356efd;
}

.StyledTable .ui-table .ui-table-body-cell {
    background: #fff;
    border-bottom: 1px solid rgb(53 110 253 / 30%);
}

.StyledTable .ui-table .ui-table-body-cell .core-ui-tooltip-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StyledTable .ui-table .ui-table-body-row:hover .ui-table-body-cell {
    background-color: #f5fafe !important;
}
