.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.heading_container {
	position: relative;
	display: inline-block;
	width: fit-content;
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: 600;
	color: #221f20;

	@media (min-width: 768px) {
		font-size: 24px;
	}
}
