.container{
	position: relative;

	.form-item-label {
		margin-bottom: 8px;
	}
}

.modal_container{
	padding: 15px;
}

.title{
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	color: #393f70;
	margin-bottom: 16px;
}

.button{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 100px;

	.core-ui-button-root {
		text-transform: capitalize;
		width: 140px;
	}
}