.errors {
	margin: 4px 10px;
	font-size: 12px;
	color: #ee3425;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	:global {
		.ui_radiogroup_container {
			padding: 4;
		}

		.ui_radio_container {
			padding: 4px 14px;
		}
	}
}

.label {
	margin: 10px 0 7px;
}
