.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
}

.heading {
	display: flex;
	flex-direction: row;
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.data {
	margin-left: 8px;
}
