.table_container {
	padding: 10px;
	background-color: #fff;

	:global {
		.ui_table_body_cell,
		.ui_table_head_cell {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.action_container {
	display: flex;

	button:first-child {
		margin-right: 8px;
	}
}

.commodity_container {
	display: flex;
	justify-content: space-between;
}

.commodity_label {
	display: inline-block;
	width: 20%;
	font-weight: 600;
}

.commodity_value {
	width: 40vw;
	white-space: normal;
}

.header,
.filters_add {
	display: flex;
	justify-content: space-between;
}

.filters_add {
	align-items: center;
	width: 38%;
}

.width_49 {
	width: 49%;
}
