.button {
  display: flex;
  justify-content: flex-end;
}
.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}
.drag {
  font-size: 12px;
  font-weight: 400;
}
.remarks {
  margin: 24px 0px 10px 10px;
  font-size: 12px;
  font-weight: 600;
}
.textarea {
  margin-left: 10px;
}
