.container {
	display: flex;
	height: calc(100% - 136px);
	padding-top: 12px;
	margin-top: 12px;

	@media (min-width: 2560px) {
		height: calc(100% - 332px);
	}
}

.container_height {
	height: calc(100% - 88px);

	@media (min-width: 2560px) {
		height: calc(100% - 280px);
	}
}
