.button {
	display: flex;
	justify-content: flex-end;
}

.value {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px;
}

.heading {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	color: #333;
}

.line {
	border: 1px solid #ffe5ce;
}

.val {
	display: flex;
	flex-direction: row;
}

.lastval {
	display: flex;
	flex-direction: row;
	padding-left: 50px;
}
