.button{
    display: flex;
    justify-content: flex-end;
}

.value{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    padding : 10px;
}

.line{
    border: 1px solid #FFE5CE;
}

.val{
    display: flex;
    flex-direction: row;
}
.lastval{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}