.heading {
	margin: 24px 0 12px;
	font-size: 16px;
	font-weight: 700;
}

.org_card {
	align-items: center;
	width: 100%;
	padding: 8px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);

	svg {
		align-self: center;
		margin: 0 16px;
		cursor: pointer;
	}
}

.org_details {
	display: flex;
	width: 100%;
	padding: 12px 24px;
	border-right: 1px solid #f68b21;

	> div:first-of-type {
		flex: 0.6;
	}
}

.main_details {
	display: flex;
	width: 100%;
	padding-bottom: 6px;
}
