.heading {
    font-weight: 700; 
    font-size: 16px;  
    margin: 24px 0 12px;
} 

.org_card{
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
margin-bottom: 12px; 
padding: 8px; 
width: 100%; 
align-items: center;

    svg{ 
        margin: 0 16px;
        cursor: pointer;
        align-self: center;
    }

} 

.org_details{
    padding: 12px 24px;
    border-right: 1px solid #F68B21;
    font-family: 'Poppins';
    display: flex;
    width: 100%;

    > div:first-of-type { 
        flex: 0.6;
    } 
} 

.main_details { 
    width: 100%; 
    display: flex; 
    padding-bottom: 6px;
}