.info_container {
	min-height: 35vh;
	margin-top: 10px;
}

.flex_box {
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid #e7e7e7;
}

.title_row {
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #d3d3d3;
}

.value_container {
	max-height: 50vh;
	overflow-y: scroll;
}

.configure_title {
	position: sticky;
	top: 0;
	padding: 13px;
	font-weight: 600;
	background-color: #fff;
	border-top: 0.5px solid #333;
	border-bottom: 0.5px solid #333;
}

.col {
	width: 13%;
	padding: 8px;
	margin: 8px;
	text-align: center;

	:global {
		.ui_checkbox_container {
			justify-content: center;
			padding: 0;
		}
	}
}

.title_col {
	width: 20%;
	text-align: left;

	div[aria-label="tooltip"] {
		display: inline;
	}

	.info_icon {
		margin: 0 5px;
		vertical-align: middle;
	}
}

.tooltip_container {
	display: inline-block;
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 14px 16px 0;
	border-top: 1px solid #d3d3d3;

	.submit_btn {
		margin-left: 10px;
	}
}
