.toggle_header {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.toggle_right {
	display: flex;
	align-items: center;
}

.send_report {
	margin-right: 20px;
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.tool_tip {
	font-size: var(--font-size-md);
}

.link {
	font-size: 12px;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.styled_pills {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 16px;
	padding: 8px 12px;
	background-color: var(--color);
	border-radius: 4px;
}

.style_text {
	font-size: 10px;
}

.show_actions {
	display: flex;
	align-items: center;
}
