.heading_container {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #221f20;
  
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  
  .body {
    display: flex;
  }
  
  .left_panel {
    width: 30%;
    padding: 12px;
  }
  
  .right_panel {
    background-color: #fff;
    min-height: 100vh;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      padding: 12px;
      border-bottom: 1px solid #ee3425;
      
  }
  
  .button_container {
      display: flex;
  }
  