.heading_container {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #221f20;
  
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  
  .body {
    display: flex;
  }
  
  .left_panel {
    width: 30%;
    padding: 12px;
  }
  
  .right_panel {
    width: 70%;
    background-color: #fff;
    padding: 12px;
    border: 20px solid #f2e3c3;
    min-height: 100vh;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      padding: 12px;
  }
  
  .button_container {
      display: flex;
  }
  
  
  .reactGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    transition-property: left, top;
    background: #FFFCE6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .deleteButton {
    position: absolute;
    top: 0%;
    right: 2px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #EE3425;
  }
  