.accordian_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: 16px 0 0;
	text-align: center;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.accordian {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	text-align: center;
	cursor: pointer;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);

	:global {
		.ui_button_container {
			color: var(--color-secondary-greyscale-2);
			background-color: transparent;

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.header {
	display: flex;
	align-items: center;
	padding: 18px 24px;
}

.invoice_number {
	margin: 0 4px;
	font-weight: 600;
}

.sid_number {
	margin: 0 4px;
	font-weight: 600;
	color: #5936f0;
}

.status {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 0 20px;
	font-weight: 500;
}

.verified {
	display: flex;
	align-items: center;
	margin: 0 20px;
	color: var(--color-tertiary-success-green-1);
}

.rejected {
	display: flex;
	align-items: center;
	margin: 0 20px;
	color: var(--color-primary-error-red-2);
}

.btn {
	&:hover {
		background-color: var(--color-secondary-5);
	}
}
