.container {
	margin-top: 12px;
}

.topic {
	font-size: 16px;
	font-weight: 600;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs_container {
	margin-right: 16px;
}

.search {
	width: 100%;
	margin: 16px 0;

	:global {
		.ui_input_control {
			width: 500px;
		}
	}
}

.flex_items {
	display: flex;
	align-items: center;
}
