.container_head {
	margin-top: 16px;
}

.heading {
	display: flex;
	gap: 4px;
	align-items: center;
	margin: 20px 0;
	font-size: 16px;
}

.field_container {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
}

.generated_string {
	display: flex;
	gap: 16px;
	padding: 0 0 16px;
	margin: 0 0 16px;
	border-bottom: 1px solid #eee;
}

.generated_string_content {
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
}

.generated_string_heading {
	width: 12%;
	font-weight: 1000;
}

.quest_string_label {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.input_string_div {
	display: flex;
	gap: 8px;
}

.container {
	padding: 18px 24px;
	background: #fff;
	border-radius: 6px;
}

.blocks_container {
	padding: 16px 12px;
	background: #fff;
	border-radius: 8px;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 12px;
}
