.heading {
	display: flex;
	gap: 4px;
	align-items: center;
	margin: 20px 0;
	font-size: 16px;
}

.field_container {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
}

.container {
	padding: 18px 24px;
	background: #fff;
	border-radius: 6px;
}

.blocks_container {
	padding: 16px 12px;
	background: #fff;
	border-radius: 8px;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 12px;
}
