.years_styles {
	margin-top: 150px;
	margin-left: 20px;
}

.data_styles {
	padding: 6px;
	font-size: 12px;
	cursor: pointer;
}

.borders {
	width: 100px;
	height: 2px;
	margin: 4px 0 0 2px;
	cursor: pointer;
	background: #edd7a9;
	border-radius: 4px;
}
