.label {
  margin: 10px 0px 10px 0px;
  font-weight: 500;
  color: #393f70;
}

.col {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 var(--width);
  max-width: 100%;
  margin: 5px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.groupHead{
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  padding-left:5px;
  margin: 12px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  text-decoration-color: #ED3726;
}