.header_text{
	font-weight: 500;
	font-size: 18px;
	line-height: 19px;
	color: #000000;
}

.container{
	display: flex;
	flex-direction: column;
	padding: 32px 32px 0px 32px;
	border-top: 1.5px solid #eeeeee;

	& .form-item-container {
		margin-bottom: 16px;

		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	& .form-item-label {
		margin-top: 0;
		margin-bottom: 0;

		color: #858484;
		font-size: 12px;
		font-weight: 400;
	}

	& .core-ui-input-root {
		padding: 12px;
	}

	& .core-ui-input-suffix {
		cursor: pointer;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		& svg {
			width: 16px;
			height: 16px;
		}
	}

	& .form-lower-label {
		line-height: unset;
		margin-bottom: unset;
	}

	& .err-msz {
		padding-left: 0;
	}
}

.password_validator {
	margin-top: 32px;

	:global{
		.icon{
			display: flex;
			align-items: center;
			padding-right: 8px;
		}
	}

}

.label{
	margin-bottom: 6px;
	font-size: 16px;
}
