.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 24px;
	margin: 16px 0 24px;
	background: var(--color-secondary-5);
	border-radius: 8px;
}

.invoice_data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
	padding: 24px 16px;
	background: var(--color-secondary-5);
	border: 1px solid var(--color-secondary-greyscale-5);
	border-radius: 8px;
}

.number {
	font-size: 24px;
	font-weight: 600;
}

.label_value {
	display: flex;
	align-items: center;
	font-weight: 600;
}

.icon {
	margin: 4px 24px 0 0;
}

.select_container {
	display: flex;
	margin-top: 24px;
}
