.radio_grp {
	display: flex;
	flex-wrap: wrap;
}

.errors {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
}

.label {
	margin: 4px 0 0 4px;
	font-size: var(--font-size-lg);
	font-weight: 500;
}

.submit_btn {
	margin-left: 8px;
}
