.container {
	width: 32%;
	padding: 12px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;

	h3 {
		margin-top: 20px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.heading {
	margin: 0;
	font-size: var(--font-size-xl);
	color: #828282;
}

.icon_background {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: #fde74d;
	border-radius: 50%;
}

.icon {
	position: absolute;
	right: 4px;
}

.cmg_soon {
	padding: 10px 20px;
	margin: 20px 0 12px;
	font-size: 10px;
	font-weight: 600;
	background: #ffefba;
	background: linear-gradient(to right, #fff, #ffefba);
	border: 1px solid #f2f2f2;
	border-radius: 6px;
}

.amount_div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blurred {
	user-select: none;
	filter: blur(4px);
	opacity: 0.6;
}

.counter_div {
	margin-top: 12px;
	cursor: pointer;
}
