.heading {
	max-width: 300px;
	overflow: hidden;
	text-decoration: underline;
	text-overflow: ellipsis;
}

.serial_id {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 63px;
	height: 16px;
	font-size: 10px;
	font-weight: 400;
	background: #e6fbe9;
	border-radius: 4px;
}
