.main_heading {
	margin: 8px 0;
	font-size: 24px;
	font-weight: 600;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
}

.header_style {
	flex-direction: column;
	font-size: 24px;
	font-weight: 600;
}

.input {
	width: 284px;
}