.custom_service_provider_container{
    border: 1px solid #f9da7f;
	border-radius: 4px;
	margin-bottom: 20px;
}

.sub_container{
    padding: 12px 22px;
}

.layout_container{
    padding: 0 14px;
}

.label{
    font-weight: 600;
	font-size: 14px;
}

.value{
    font-weight: 400;
	font-size: 12px;
}

.button_container{
    display: flex;
    justify-content: flex-end;

    :global{
        .ui_button_container:first-child{
            margin-right: 8px;
        }
    }
}