.custom_service_provider_container {
	margin-bottom: 20px;
	border: 1px solid #f9da7f;
	border-radius: 4px;
}

.sub_container {
	padding: 12px 22px;
}

.layout_container {
	padding: 0 14px;
}

.label {
	font-size: 14px;
	font-weight: 600;
}

.value {
	font-size: 12px;
	font-weight: 400;
}

.button_container {
	display: flex;
	justify-content: flex-end;

	:global {
		.ui_button_container:first-child {
			margin-right: 8px;
		}
	}
}
