.content {
	display: flex;
	align-items: center;
	width: 50%;
	height: 50px;
	padding-left: 8px;
	margin-bottom: -1px;
	border-bottom: 1px solid #cbcff5;
}

.port,
.trade_type {
	display: flex;
	align-items: center;
	width: 50%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.trade_type {
	width: 15%;
	margin: 0 4px;
	font-weight: 500;
	text-transform: capitalize;
}

.teus {
	font-size: 12px;
	font-weight: 400;
}

.empty_state {
	flex: 1;
	padding: 20px;
	text-align: center;
}
