.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding-top: 4px;
}

.attachments_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 80px);
}

.attachment_styles {
	display: flex;
	align-items: center;
	width: 46%;
	padding: 4px 2px;
	margin-right: 6px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;

	svg {
		width: 18px;
		height: 18px;
		fill: var(--color-primary-error-red-3);
	}

	&:hover {
		background: #fffce6;
		border-color: #fde74d;
	}
}

.file_name_styles {
	width: calc(100% - 30px);
	padding-left: 2px;
	overflow: hidden;
	font-size: 11px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extra_files {
	font-size: 11px;
	color: #606060;
}
