.content {
	border: 1px solid rgb(128 123 123);
	border-radius: 6px;
}

.contentparent {
	height: 0;
	overflow: hidden;
	transition: height ease 0.9s;
}

.questionheading {
	padding-bottom: 0.2%;
	margin-top: 12px;
	font-weight: 1000;
	color: #090808;
}

.questionabstract {
	padding-bottom: 2%;
	font-size: 20px;
	font-weight: 1000;
	color: #221f20;
}

.answer {
	font-weight: 1000;
}

.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 16px;

	@media (min-width: 768px) {
		font-size: 1.25rem;
	}
}

.back {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.subtitle {
	margin-top: 1.5%;
	margin-right: 1%;
	margin-bottom: 1.5%;
	font-size: 13px;
	font-weight: 1000;
}

.subtitle_related_question {
	margin-right: 1%;
	font-size: 13px;
	font-weight: 700;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28.33px;
	height: 24.67px;
}

.sidetext {
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	color: #221f20;
	opacity: 0.6;
}

.heading_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 59rem;
	margin-top: 1.5%;
	margin-bottom: 1%;
	overflow: auto;
	color: #0009;

	img {
		max-width: 100%;
		height: 100%;
	}

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;
		opacity: 0.7;

		:global(.ui_chips_container) {
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;
		}
	}
}

.flex_items {
	display: flex;
	align-items: center;
}

.like_container {
	margin-top: 4px;
	margin-left: 8px;
	cursor: pointer;
}

.dislike_container {
	margin-top: 4px;
	margin-left: 8px;
	cursor: pointer;
}

.aftercheckbox {
	margin-top: 12px;
	font-weight: 600;
}

.remark {
	display: flex;
	flex-flow: column wrap;
	align-content: space-around;
	margin-bottom: 16px;
}

.spinner {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px;
	margin-top: 12px;
}

.pills {
	:global {
		.ui_pill_container.ui_ps_size_sm {
			padding: 4px 8px;
			font-size: 10px;
			font-weight: 600;
			background: white;
			border: 1px solid #ffe4af;
			border-radius: 16px;
		}
	}
}
