.container {
	padding: 12px;
	margin-top: 16px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 16px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.hold_employee_container {
	:global {
		.ui_TE06c {
			padding: 10px 0;
		}
	}
}

.hold_fnf_container {
	:global {
		.ui_TE06c {
			padding: 10px 0;
		}
	}
}
