.check {
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 100%;

	&::before {
		margin: auto;
		border-radius: 100%;
	}
}

.radio_disabled {
	cursor: not-allowed;
}

.container {
	display: flex;
	padding: 10px;
}

.radiolabel {
	cursor: pointer;
}
