.parent{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header{
    font-weight: 600;
    font-size:18px;
    margin-bottom:16px;
}
.maximum_score
{
 font-weight: 500;
font-size:12px;
   margin-bottom:12px;
   color:#828282;
}
.input_score{
display:flex;
font-weight: 500;
font-size: 12px;
color:#221F20;
gap:12px;
align-items: center;
}
.reason{
    height:79px;
    margin-top:2px;
}
.reason_main{
    margin-top:20px;
    font-size:12px;
    font-weight:500;
}