.main_container {
	flex-basis: 50%;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.heading {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.overview_details {
	display: flex;
	align-items: center;
}

.legend_data {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 12px;
	margin-bottom: 12px;
	background-color: #fff;
}

.legend_item {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	color: #828282;
}

.legend_item_value {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 20px;
	font-weight: 500;
	color: #221f20;
}

.legend_item_salary {
	margin-right: 8px;
	color: #acdadf;
}

.legend_item_others {
	margin-right: 8px;
	color: #221f20;
}

.profit_value {
	margin-right: 8px;
}

.profit_value_icon {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #849e4c;
}

.loss_value_icon {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #bf291e;
}
