.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.container {
	padding: 16px;
	background-color: #fff;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 14px 16px;

	&.item_row {
		cursor: pointer;
		border-bottom: 1px solid #fbd1a6;
	}
}

.card_header {
	font-weight: 600;
	color: #f68b21;
	background-color: #fffaee;
	border: 1px solid #ffead4;
	border-radius: 9px;
}

.col {
	padding: 0 8px;
}
