.awbnumber_container {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}

.airline {
	display: flex;
	align-items: center;
}

.airline_name {
	padding: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip_container {
	:global {
		.tippy-box {
			min-width: initial;
			min-height: initial;
			padding: 4px;
			font-size: 12px;
		}
	}
}

.overflow_text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
