.filter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 12px;
}

.search {
	width: 24%;

	@media (max-width: 768px) {
		width: 40%;
	}
}

.filter {
	display: flex;
	width: 70%;
}

.form_group {
	display: flex;
	align-items: center;
	margin-right: 4px;

	@media (max-width: 768px) {
		width: 32%;

		:global {
			.ui_select_display_container {
				min-width: 134px
			}
		}
	}
	:global {
		.ui_select_input_placeholder {
			color: #cacaca;
		}
	}

	
}

.form_group:not(:first-child) { margin: 12px 0; }

.field_controller {
	width: 200px;
}
