.container {
	position: relative;
	padding: 12px 20px 8px;
	background: #f9f9f9;
	border: 1px solid #e9f1f1;
	border-radius: 6px;
}

.flex_box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.section {
	font-size: 12px;
}

.personal_detail {
	margin-bottom: 16px;
}

.col {
	width: 45%;
	margin-bottom: 10px;

	.label {
		margin-bottom: 3px;
		color: #828282;
	}

	.value {
		font-weight: 600;
		color: #4f4f4f;
	}

	>p {
		margin: 0;
	}
}

.edit_btn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.line_item_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.pkg_img {
	mix-blend-mode: multiply;
}

.total_price {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}

.header {
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

.title_container {
	margin-left: 20px;
}
