.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 0 16px;
}

.heading {
	margin-bottom: 4px;
	font-size: 18px;
}

.sub_container {
	display: flex;
}

.left_text {
	margin-right: 36px;
}

.modal_body {
	height: 900px;
}

.button {
	margin-left: 12px;
	background-color: white;
}

.modal_footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.footer_button {
	display: flex;
	margin-left: auto;
}

.button_container {
	display: flex;
}

.config_button {
	margin-right: 20px;
}
