.container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.business_name {
    font-size: 700;
    font-size: 13px;
}

.organisation_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.organisation_container::-webkit-scrollbar {
    display: none;
}

.organisation_div {
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global {
        .ui_select_display_container {
            height: 30px !important;
            width: 120px !important;
        }
    }
}

.stats_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.header {
    font-weight: 600;
    font-size: 12px;
    color: #828282;
}

.booking_div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.comm_tex {
    margin-top: 15px;
    display: flex;
    font-size: 12px;
    color: #828282;
}

.port_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(98, 127, 172, 0.2);
    border-radius: 12px;
    padding: 15px 10px 10px 18px;
    height: 200px;
    overflow-y: auto;
}

.port_div::-webkit-scrollbar {
    display: none;
}

.origin_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.origin {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: #221f20;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
}

.destination {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: #221f20;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}

.name {
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 4px;
}

.div_top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
    width: 100%;
}

.div_top:last-child {
    border-bottom: none;
}

.div_footer {
    display: flex;
    flex-direction: column;
    padding: 10px 6px;
}

.sid_number {
    font-weight: 600;
    margin-left: 5px;
}

.last_booking {
    display: flex;
    align-items: center;
}

.port_name {
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.origin_port_name {
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 4px;
}
.bookings_count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 11px;
    font-weight: 500;
}

.shipment_count {
    font-size: 10px;
    border: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    color: #bdbdbd;
    padding: 3px;
    justify-content: center;
    border-radius: 80px;
}

.origin_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty_state {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28vh;
}

.shipment_count {
    padding: 1px 8px;
    border-radius: 10px;
    border-radius: 1px solid #bdbdbd;
}

.tooltip_content {
    display: flex;
}
