.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px auto;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.search_input{
	width: 30%;
}

.select_input{
	width: 30%;
}