.header {
	display: flex;
	align-items: center;
	background-color: #393f70;
	height: 40px;
	color: #ffffff;
	font-weight: 500;
	font-size: 12px;
}

.row {
	display: flex;
	border-top: 1px solid #e0e0e0;
	padding-left: 10px;
	min-height: 40px;
	align-items: center;
	background-color: #ffffff;
}

@media screen and (max-width: 768px) {
	.row.isMobile{
		flex-flow: row wrap;
	}

	.col.isMobile{
		flex: 0 0 50%;
		flex-direction: column;
	}
}

.clickable:hover{
	opacity: 0.8;
	cursor: pointer;
}

.col {
	display: flex;
	flex: var(--span);
	padding: 10px;
}

.asc{
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.desc{
	transform:rotate(0deg);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.center{
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.tablelabel{
	display: flex;
	font-size: 12px;
    font-weight: 600;
	color: #303B67;
}

.flex{
	display: flex;
}
