.container {
	padding: 16px;
}

.redirect_container {
    display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 16px 0;
	font-weight: 500;
	font-size: 16px;
	color: #393f70;
	cursor: pointer;
}

.stats_container {
	padding: 16px;
    height: 100%;
}

.header {
    display: flex;
}

.performance_chart {
    flex: 6;
    padding: 8px;
}

.user_profile {
    flex: 6;
    padding: 8px;
}