.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
	background-color: #f9fbfe;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 10%) 0.1px 0.1px 0.1px 0.1px;

	:global {
		.ui_table_container {
			border: none;
		}

		.ui_table_head_cell {
			border: none;
		}
	}
}

.pill {
	:global {
		.ui_pill_container {
			margin: 0;
			font-size: none;
			list-style: none;
		}
	}
}

.table {
	margin-top: 8px;
}
