.details {
	margin-top: 16px;
	border-top: 2px solid var(--color-tertiary-beige-2);
}

.posttosage {
	display: flex;
	justify-content: flex-end;
	padding: 8px 12px;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.table {
	padding: 16px;
	background-color: var(--color-tertiary-beige-5);
	border: 1px solid var(--color-tertiary-beige-2);
}

.col {
	display: flex;
	padding: 16px 4px;
	font-size: 12px;
	border-bottom: 1px solid var(--color-tertiary-beige-2);
}

.businesss {
	flex: 1.6;
}

.entity {
	flex: 1;
}

.jvmode {
	flex: 1;
}

.type {
	flex: 1;
}

.glcode {
	flex: 1;
}

.legamount {
	flex: 1;
}

.amount {
	flex: 1;
}

.islast {
	border: none;
}
