.serial_id{
    font-weight: 600;
    
}
.service_provider{
    margin-top: 4px;
    font-weight: 600;
    font-size: 12px;
}
.line_heading{
    font-weight: 600;
}

.shipping_line{
    margin-top: 2px;
    font-size: 12px;
}

.tooltip_container{
    :global{
        .tippy-box {
            padding: 4px 6px;
            min-height: 30px;
            font-size: 12px;
            word-break: normal;
        }

        .tippy-content{
            padding: 2px 0;
        }

    }
}

.tooltip_text{
    max-width: 220px;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.last_mile{
    font-size: 12px;
    color: var(--color-secondary-greyscale-3);
    font-weight: 600;
    margin-top: 2px;
}