.serial_id{
    font-weight: 600;
    margin-bottom: 6px;
}
.service_provider{
    font-weight: 600;
    font-weight: 12px;
}
.line_heading{
    font-weight: 600;
}

.shipping_line{
    font-size: 12px;
}

.last_mile{
    font-size: 12px;
    color: var(--color-secondary-greyscale-3);
    font-weight: 600;
}