.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background: #f6f5fe;
	border-radius: 4px;
}

.document_type {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
	margin-right: 8px;
}

.ontrack {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #7a5ef3;
}

.roll_over {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #cb6464;
	margin-left: 4px;
}

.bl_number {
	font-size: 14px;
	line-height: 16px;
	color: #4f4f4f;
	font-weight: 700;
}


.title_container {
	display: flex;
	align-items: center;
}

.display_card {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 28px;
	border-radius: 4px 4px 0px 0px;
}

.details {
	display: flex;
	flex-direction: column;
}
