.ExchangeRateType{
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 6px;
	margin-bottom: 40px;
	color: #393f70;
}

.ExchangeRateForm{
	border-radius: 10px;
}

.Heading{
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #4f4f4f;
	margin-bottom: 18px;
}

.Buttons{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}

.LinkToRate{
	display: flex;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #4f4f4f;
	margin-bottom: 15px;
}

.Form{
	overflow: auto;
	height: 67.5vh;
}

.body{
	display: flex;
	padding: 30px;
}

.label{
	display: flex;
	flex-direction: column;
	margin-right: 16px;
}