.ExchangeRateType {
	margin-top: 6px;
	margin-bottom: 40px;
	margin-left: 5px;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	color: #393f70;
}

.ExchangeRateForm {
	border-radius: 10px;
}

.Heading {
	margin-bottom: 18px;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #4f4f4f;
}

.Buttons {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 30px;
}

.LinkToRate {
	display: flex;
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #4f4f4f;
}

.Form {
	height: 67.5vh;
	overflow: auto;
}
