.list {
	background-color: var(--color-secondary-5);
}

.position {
	position: relative;
}

.ribbon {
	--f: 6px; /* control the folded part */
	--r: 16px; /* control the ribbon shape */
	--t: -7px; /* the top offset */

	top: 0;
	right: 0;
	padding: 0 10px var(--f) calc(10px + var(--r));
	clip-path:
		polygon(
			0 0,
			100% 0,
			100% calc(100% - var(--f)),
			calc(100% - var(--f)) 100%,
			calc(100% - var(--f)) calc(100% - var(--f)),
			0 calc(100% - var(--f)),
			var(--r) calc(50% - var(--f) / 2)
		);
	font-size: 10px;
	color: black;
	background: var(--color-primary-error-red-2);
}

.ribbon_orange {
	background: var(--color-accent-orange-2);
}

.ribbon_render {
	flex: 0.2;

	/* width: calc(0.2*(100 / 12)); */
	width: 50px;
}
