.name {
	padding-left: 20px;
	font-size: 12;
	font-weight: 800;
}

.field_pair {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.link {
	color: #f68b21;
	text-decoration: underline;
	cursor: pointer;
}

.sid {
	color: #f68b21;
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
}

.width {
	width: 14px;
}

.flex {
	display: flex;
	align-items: center;
}

.icon_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15px;
	margin-left: 8px;
	cursor: pointer;
}

.wrapper {
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
}

.styled_name {
	font-size: 12px;
	font-weight: 500;
}

.cursor {
	cursor: pointer;
}

.tool_tip {
	font-size: 12px;
}

.styled_pills {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 16px;
	padding: 8px 12px;
	background-color: var(--color);
	border-radius: 4px;
}

.style_text {
	font-size: 10px;
}

.modal_container {
	:global {
		.ui_modal_body_container {
			max-height: 600px;
		}
	}
}

.action_div {
	display: flex;
	align-items: center;
}

.icon_style {
	width: 16px;
	height: 16px;
	margin: 8px 0 0 4px;
}

.div_flex {
	display: flex;
	align-items: center;
	margin: 8px;
}

.margin_span {
	margin-left: 8px;
}
