.success {
	margin-left: 8px;
	font-size: 10px;
	font-weight: 500;
	color: var(--color-tertiary-success-green-2);
	text-decoration: underline;
}

.merge_doc_msg {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.document_card {
	width: 90%;
	padding: 10px;
	margin: 10px 0 15px 32px;
	border: 1px solid #cbd1f8;
	border-radius: 8px;
}

.document_sub_card {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px 0;
}

.pdf_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40%;
}

.doc_name_text {
	font-weight: 500;
	color: #393f70;
}

.uploaded_by {
	font-size: 12px;
	font-weight: 500;
	color: #bdbdbd;
}

.download_doc {
	display: flex;
	align-items: center;
}

.document_sub_card_final {
	display: flex;
	justify-content: space-between;
	width: 49.5%;
	padding: 12px 24px;
	margin: 10px 0;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);

	@media (max-width: 1000px) {
		width: 100%;
	}
}

.pdf_container_final {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40%;
}

.doc_name_text_final {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	color: #393f70;
}

.uploaded_by_final {
	font-size: 12px;
	font-weight: 500;
	color: #bdbdbd;
}

.download_doc_final {
	display: flex;
	align-items: center;
	width: 30%;
}

.document_card_final {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

.display_name_final {
	display: flex;
	flex-direction: column;
	max-width: 140px;
}

.file_name_final {
	display: inline;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
