.container {
	width: 59%;
	padding: 15px;
	margin: 10px 0;
	background: #f9f9f9;
}

.loading_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 280px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 10px;
}

.label {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #212121;
}

.graph_container {
	width: 100%;
	height: 280px;
	background: #fff;
	border-radius: 6px;
}

.filter_container {
	display: flex;
}

.disable_content {
	cursor: not-allowed;
}

.filter_element {
	padding: 0 16px;
	border-right: 1px solid #83838380;

	&:hover {
		color: #6425fe;
		text-decoration: underline;
		cursor: pointer;
	}

	&:last-child {
		border-right: unset;
	}
}

.selected_filter_element {
	color: #6425fe;
	text-decoration: underline;
}

.legend_item {
	display: flex;
	align-items: center;
	padding: 0 4px;
	font-size: 10px;
}

.legend_item_color {
	width: 7px;
	height: 7px;
	margin-right: 4px;
	border-radius: 100%;
}
