.head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-weight: 700;
	color: #221f20;
}

.head_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	:global {
		.ui_pill_container {
			display: flex;
			justify-content: center;
			width: fit-content;
		}
	}
}

.through_criteria_container {
	max-width: 200px;
	overflow-x: scroll;
}
