.container {
	display: flex;
	padding: 24px 12px;
	margin-top: -30px;
	background-color: #fff;
	border-radius: 25px 25px 0 0;
}

.left_section {
	flex: 1 0 65%;
	padding-right: 6px;
}

.right_section {
	flex: 1 0 35%;
	padding-left: 6px;
}

@media (max-width: 767px) {
	.container {
		flex-direction: column-reverse;
		gap: 12px;
	}

	.left_section {
		padding-right: 0;
	}

	.right_section {
		padding-left: 0;
	}
}
