.container {
    margin-top: 60px;
}

.additional_remark {
    margin: 52px 0px 40px 0px;

    :global {
        .ui_input_control {
            font-size: 14px !important;
        }
    }
}

.sub_heading {
    margin-bottom: 6px;
    font-weight: 600;
}

.cancellation_container {
    border: 1px dashed #F8AEA8;
    border-radius: 8px;
    padding: 12px;
}

.confirmation_texts {
    padding: 0px 18px;
    border-top: 1px solid #e0e0e0;
}