.modal_container {
	:global {
		.ui_modal_footer_container {
			padding: 0 20px 20px;
		}

		.ui_modal_body_container {
			padding: 0 20px;
		}
	}
}

.refresh_container {
	display: flex;
	align-items: center;
	margin-left: 20px;
	font-size: 12px;
	cursor: pointer;
}
