.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 18px;

	@media (min-width: 768px) {
		font-size: 1.05rem;
	}
}

.subtitle {
	font-size: 14px;
	font-weight: 400;
}

.heading_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;

		:global(.ui_chips_container) {
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;
		}
	}
}
