.flex {
	display: flex;
}

.button_container {
	padding-top: 8px;
	padding-left: 36px;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.watermark_flex {
	height: 100px;
	width: 200px;
	position: relative;
	top: 500px;
	left:calc(50% - 100px);
	margin-top: -92px;
	align-items: center;
	justify-content: center;
}

.watermark_text {
	text-transform: uppercase;
	color: rgba(0,0,0,0.1);
	align-items: center;
	font-size: 80px;
	font-weight: bold;
	letter-spacing: 4px;
}

.button_div {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	justify-content: flex-end;
	padding: 8px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.download_button_div {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff !important;
	justify-content: flex-end;
	padding: 8px;
	width: 100%;
	z-index: 1;
}