.container {
  padding: 12px 8px 12px 8px;
}

.buttons_container {
	display: flex;
	width: 100%;
	justify-content: space-between;

	.core-ui-button-root {
		text-transform: capitalize;
		height: fit-content;
	}
}

.filter_container {
	display: flex;
	justify-content: space-between;

	.tippy-content {
		padding: 0px;
	}
}

.filter_button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #cbcff5;
	border-radius: 4px;
	padding: 4px;
	cursor: pointer;
	height: fit-content;
}

.line {
	border-bottom: 1px solid #ded7fc;
	margin: 16px 0px 12px 0px;
}
