.profile_div {
	display: flex;
	width: 24%;
}

.container {
	display: flex;
	width: 90% !important;
	background: #F9F9F9;
	border-radius: 8px 0 0 8px;
	display: flex;
	width: 100%;
	padding: 12px;
	flex-direction: column;
}