.cell {
	padding: 16px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 6px;
}

.flex_box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.feature {
		width: 46%;
	}
}

.header{
	display: flex;

	.back_icon{
		border: 0.5px solid #333;
		padding: 3px;
		border-radius: 50%;
		margin: 4px 10px 0 0;
		cursor: pointer;
	}
}