.urlContainer {
  color: #3471ae;
  cursor: pointer;
  text-decoration: underline;
}
.textDiv {
  color: #3471ae;
  cursor: pointer;
  text-decoration: underline;
}

.flex{
  display: flex;
  :global{
    .ui_tag_container{
      background-color: transparent;
      padding: 4px 18px;
    }
  }
}

.active{
  background-color: #FFFAEB !important;
  color: #ED3726 !important;
  padding: 5px;
}