.add_question_container {
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 16px;

    .form_header {
        font-size: 20px;
        font-weight: 600;
    }
}

.body {
    padding: 0px 16px;
}

.footer {
    display: flex;
    align-items: center; 
}

.button_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.info_text {
    margin-top: 16px;
}

.filters_pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.filters {
    display: flex;

    :global {
        .ui_creatable_multiselect_display_container {
            width: 160px;
        }

        .ui_input_container {
            width: 400px;
        }
    }
}

.modal_body {
    :global {
        .ui_modal_body_container {
            max-height: fit-content;
        }
    }
}

.questions {
    margin-top: 16px;
}


.footer {
    position: sticky;
    bottom: 0px;

    display: flex;
    justify-content: flex-end;
    padding: 16px 16px 0 0;

    border-top: 1px solid #6fa5ab;
    background-color: #ffffff;
}
