.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

.form_header {
	font-size: 20px;
	font-weight: 600;

	span {
		font-size: 18px;
	}

	span1 {
		font-size: 16px;
	}
}

.body {
	padding: 16px 16px 0;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.filters_pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.filters {
	display: flex;

	:global {
		.ui_creatable_multiselect_display_container {
			width: 160px;
		}

		.ui_input_container {
			width: 400px;
		}
	}
}

.modal_body {
	:global {
		.ui_modal_body_container {
			max-height: fit-content;
		}
	}
}

.questions {
	margin-top: 16px;
}

.footer {
	position: sticky;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 16px 16px 0 0;
	background-color: #fff;
	border-top: 1px solid #6fa5ab;
}
