.container {
   margin-bottom: 12px;
   padding-right: 20px;
}

.pill {
    background-color: #fff9cf;
    margin-left: 0;
    margin-right: 8px;
    font-weight: 500;
}

.pill_count {
    -webkit-text-stroke: 1px black;
    padding-left:4px
}

.header{
    font-weight: 600;
    font-size: 20px;
    padding-bottom:12px;
}

.scrollable_container{
    overflow-y: scroll;
    height:80vh; 
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
    padding-right: 12px;
	padding-top: 16px;
	font-size: 13px;
	cursor: pointer;
}

.pills_container{
    padding-bottom: 14px;
}