.flex {
	display: flex;
}

.servicemappings {
	max-width: 290px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value {
	font-size: 12;
	font-weight: 600;
}

.servicetooltip {
	padding-bottom: 8px;
}

.flexcol {
	min-width: 140px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.underline {
	color: #f68b21;
	text-decoration: underline;
	cursor: pointer;
}

.selectcontainer {
	:global {
		.ui_select_input_placeholder,
		::placeholder {
			font-size: 12px;
		}

		.ui_select_input_control {
			font-size: 12px !important;
		}
	}

	:global(.ui_select_container) {
		width: 100%;
		max-height: 32px;
	}

	:global(.ui_select_display_container) {
		width: 100%;
		max-height: 32px;
	}
}

.inputcontainer {
	:global(.ui_input_container) {
		width: 100%;
		max-height: 32px;
	}

	:global {
		.ui_input_control {
			font-size: 12px !important;
		}
	}
}

.paddingleft {
	padding-left: 12px;
}

.delete {
	display: flex;
	margin-top: 4px;
	margin-left: 8px;
}

.head {
	font-size: 10px;
}

.checkbox {
	display: flex;
}

.text {
	margin-top: 6px;
}

.errors {
	padding-left: 4px;
	font-size: 10px;
	color: red;
}

.pointer {
	cursor: pointer;
}

.itemname {
	font-size: 10px;
	font-weight: 600;
}

.paddingname {
	padding-right: 8px;
}

.product {
	font-size: 10px;
}

.menuwidth {
	:global(.ui_select_options_container) {
		min-width: 250px;
	}
}

.menuwidthmd {
	:global(.ui_select_options_container) {
		min-width: 150px;
	}
}
