.modal_container {
	:global {
		.ui_upload_filesuccess_container {
			margin-bottom: 30px;
		}

		.react-datepicker-wrapper {
			width: 100%;
		}

		.react-datepicker__aria-live {
			display: none;
		}

		.react-datepicker__input-container {
			height: 33px;
		}

		.react-datepicker__input-container input {
			height: 33px;
		}
	}
}
