.customer_review_section {
	display: flex;
	justify-content: space-between;
}

.left_header_text {
	font-weight: 600;
	color: #221f20;
}

.stars {
	display: flex;
	margin: 8px 0 8px -7px;

	:global {
		.ui_buttonicon_container {
			width: 15px !important;
			height: 4px !important;
		}
	}
}

.stars_text {
	margin-left: 10px;
	color: #4f4f4f;
}

.global_rating_review {
	margin-bottom: 8px;
	font-size: 12px;
	color: #91929d;
}

.star_wise_count {
	display: flex;
	flex-direction: column;
}

.rating_mapping {
	display: flex;
	align-items: center;
}

.rating_meter {
	display: flex;

	:global {
		.ui_progressbar_filename {
			display: none;
		}
	}
}
