.upper_body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.body {
	padding: 8px;
}

.code {
	font-size: 13px;
	font-weight: 400;
	color: #f68b21;
}

.name {
	display: flex;
	align-self: center;
	font-size: 13px;
	font-weight: 600;
	color: #221f20;
}

.country {
	padding: 1px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.subname {
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.subnameFull {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actuals_wrapper {
	display: flex;
	flex-direction: column;
	color: #221f20;
}

.actuals_label {
	line-height: 1;
}

.actuals_value {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 700;
}

.actuals_pill {
	width: 0;
	height: 0;
	margin-right: 3px;
	font-size: 13px;
	border: solid 4px #88cad1;
	border-radius: 50%;
}
