.head {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-weight: normal;
	color: #4f4f4f;
}

.data {
	display: inline-block;
	width: 120px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

.button {
	display: flex;
	justify-content: space-evenly;
}
