.empty_state_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;

	margin: 16px 0;
	background: #fff;
	border: 2px solid #f6f5fe;

	h4 {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
		color: #000;
		text-align: center;
		margin: 0px;
	}
}
