.modal_body {
	display: flex;
	flex-direction: column;
}

.input_container {
	margin-top: 8px;

	label {
		font-weight: 500;
	}

	.required {
		color: var(--color-primary-error-red-2);
	}

	textarea {
		padding: 4px;
	}

	.errors {
		height: 12px;
		font-size: var(--font-size-md);
		color: var(--color-primary-error-red-2);
	}

	:global {
		.ui_upload_droparea_container {
			margin-bottom: 0;
		}
	}
}

.details {
	display: flex;

	& div {
		display: flex;
		flex-direction: column;
		margin-right: 16px;
	}

	& span {
		font-weight: 500;
	}

	.label {
		font-size: var(--font-size-md);
	}
}

.modal_success_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 320px;
	padding-bottom: 56px;
	font-size: var(--font-size-xl);
	font-weight: 600;

	svg {
		margin-bottom: 16px;
	}
}

.modal_footer {
	& button:first-child {
		margin-right: 12px;
	}
}
