
.container {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #f8f2e7;
}

.container2 {
  padding: 12px 24px;
  display: flex;
  width: 100%;
}
.small_section {
  font-weight: 600;
  font-size: 14px;
  width: 25%;
  margin-right: 16px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small_section_sort {
  font-weight: 600;
  font-size: 14px;
  width: 25%;
  margin-right: 16px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.small_section_sort .arrowUp {
  position: relative;
  bottom: 50%;
  left: 90%;
}

.section {
  width: inherit;
  font-weight: 600;
  font-size: 14px;
}

.icon {
  width: 2%;
}

.outer_container {
  :global {
    .ui_accordion_title {
      width: 100% !important;
    }

    .ui_accordion_container {
      border-radius: 0;
      box-shadow: none;
    }

    .ui_accordion_header {
      border-radius: 0;
    }
  }
}
