.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
}

.input {
	width: 40%;
}

.filter_btn {
	position: relative;
	font-size: 16px;
}

.filter_dot {
	position: absolute;
	top: 6px;
	right: 8px;
	width: 6px;
	height: 6px;
	background-color: #ee3425;
	border-radius: 50%;
}

.right_container {
	display: flex;
}

.button_container {
	margin-right: 20px;
}