.card {
	margin-bottom: 12px;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 #627fac70;
	transition: 0.6s;

	&:hover {
		transition: 0.2s;
		transform: scale(1.02);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 12px;
	background-color: #eaf7f6;
	border-radius: 4px;
}

.category {
	width: 50%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 600;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}

.feedback_number {
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}

.basic_info {
	display: flex;
	align-items: center;
}

.status {
	padding: 0 4px;
	margin-left: 8px;
	font-size: 12px;
	color: #221f20;
	border-radius: 4px;
}

.open {
	background-color: #fff2b2;
}

.closed {
	background-color: #b7e4c7;
}

.overdue {
	background-color: #ced4da;
}

.pending {
	background-color: #ffd131;
}

.escalated {
	background-color: #f28266;
}

.document_icon {
	width: 16px;
	height: 16px;
}

.desc_info {
	padding: 12px;
	cursor: pointer;
}

.issue_type {
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.description {
	margin-top: 8px;
	overflow: hidden;
	font-size: 12px;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 8px;
}

.date {
	width: max-content;
	font-size: 10px;
	font-weight: 500;
	color: #4f4f4f;
}

#attachment {
	height: unset;
	padding: 6px;
	font-size: 12px;
	color: #4f4f4f;
	text-decoration: unset;
	border: 1px solid #cfcfcf;
	border-radius: 20px;
}

.critical {
	font-size: 14px;
	font-weight: 600;
	color: #f37166;
}
