.completed {
	background: #c1e1c1;
}

.processing {
	background: #add8e6;
}

.lead {
	background: #a8acce;
}

.uploaded {
	background: #f7ca9a;
}

.shipment {
	background: #f6c692;
}

.raw {
	background: #ade2ad;
}

.failure {
	background: linear-gradient(to right, rgb(243 180 180), rgb(243 180 180));
}

.status_pill {
	display: flex;
	align-items: center;
}
