.container {
	margin-bottom: 24px;
}

.heading {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #393f70;
	margin: 0;
	margin-bottom: 16px;
}

.radio_wrapper {
	.core-ui-radio-root {
		margin-bottom: 14px;
		width: 100%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
	.core-ui-radiogroup-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: 16px;
		justify-content: flex-start;
	}
	.core-ui-radio-label {
		font-weight: 400;
		font-size: 14px;
		color: #393f70;
		opacity: 1;
		margin-left: 10px;
	}
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
