.header_container {
	display: flex;
	gap: 30px;
	align-items: flex-end;
	padding: 24px 32px;
	margin: 18px 0;
	background: #fff;
	border-radius: 8px;
}

.filter_heading {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}
