.chat_container {
	z-index: 100;
	transition: 150ms ease-in-out;
}

.chat_icon {
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	@media (max-width: 768px) {
		width: 35%;
		margin: 8px;
		height: 20px;
	}
}

.circle {
	background-color: #f68b21;
	color: #ffffff;
	position: absolute;
	width: fit-content;
	height: 20px;
	font-size: 11px;
	padding: 2px 4px;
	top: -5px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.modal_styles {
	:global {
		.ui_modal_body_container {
			min-height: 480px;
			border-top: none !important;
			border-bottom: none !important;
			padding: 0px;
		}
	}
}