.container {
	width: 100%;
	margin-top: 12px;
}

.question {
	width: 300px;
	white-space: initial;
}

.topics {
	display: flex;
	flex-wrap: wrap;
	margin-right: 4;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-right: 4;
}

.button_container {
	display: flex;
	margin: 8px 0;
}

.sort_arrow {
	margin-left: 4px;
	transition: 0.3s;
	transform: rotate(90deg);
}

.sort_title {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.modal_container {
	background-color: none;

	:global {
		.ui_modal_backdrop {
			background-color: rgb(251 251 252 / 0%);
		}
	}

	@media (max-width: 768px) {
		width: 300px !important;

		:global {
			.ui_modal_backdrop {
				background-color: rgb(241 241 244 / 0%);
			}
		}
	}
}

.chips_container {
	margin-right: 8px;
}

.feedback_count_space {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 34px;
}

.feedback_count {
	margin-left: 4px;
}

.pills {
	:global {
		.ui_pill_container.ui_ps_size_sm {
			padding: 4px 8px;
			font-size: 10px;
			font-weight: 600;
			background: #fff;
			border: 1px solid #ffe4af;
			border-radius: 16px;
		}
	}
}

.inner_pills {
	display: "flex";
	flex-direction: "column";
	font-weight: 600;
	background: #fff;
	border: "1px";
	border: 1px solid #ffe4af;
	border-radius: 16px;
}

.question_type {
	width: 66px;
	color: #fff;
	text-align: center;
	border: 1px solid #ffe4af;
	border-radius: 16px;
}
