.notify_card {
	display: flex;
	padding: 8px;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 8px;
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
}

.checkbox_label {
	span {
		font-weight: 700;
	}
}
