.container {
	display: flex;
	flex-direction: column;
	width: calc(100% - 43px);
	height: 100%;
}

.header_container {
	width: 100%;
	padding: 8px 13px;
	border-bottom: 1px solid #e0e0e0;
}

.search_container {
	width: 100%;
	padding-top: 10px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.left_div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.arrow_left {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	fill: #221f20;
}

.title {
	font-size: 16px;
	font-weight: 600;
	color: #6f6f6f;
}

.refresh_icon {
	width: 17px;
	height: 17px;
	cursor: pointer;
	fill: #6f6f6f;
}

.empty_div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 8px);
}

.filter_icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	fill: #6f6f6f;
}
