.form {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.button_container {
	display: flex;
	gap: 20px;
}

.audience_modal {
	min-height: 70vh;
}

.add_audience_button {
	position: absolute;
	right: 0;
	margin-top: -6px;
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}
