.container {
	display: flex;
	flex-direction: column;
	gap: 24px;

	:global {
		.ui_checkbox_group_container {
			flex-direction: column;
			padding: 0;
		}

		.ui_checkbox_container {
			padding-left: 0;
		}
	}
}
