.infoCard {
	min-width: 180px;

	p {
		word-break: keep-all;
	}
}

.close_icon {
	position: fixed;
	top: 6px;
	right: 6px;
	cursor: pointer;
	transition: all 300ms ease-in-out;

	&:hover {
		scale: 1.1;
	}
}
