.container {
	/* width: 100%; */
}

.form_container {
	padding: 20px;

	/* :global {
		.ui_input_container .ui_input_control {
			background-color: red;
		}
	} */
}

.heading {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 600;
}

/* .preview_container {
	width: 50%;
} */
