.label {
	margin-top: 8px;
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.textarea {
	min-height: 80px;
	padding: 4px;
}

.container {
	width: 49%;
	padding-top: 40px;
	line-height: normal;
	background: white;
	border-radius: 10px;
}

.remarks_div {
	margin: 0 24px;
}

.line {
	margin: 0 24px 24px 0;
	border-bottom: 1px solid #e0e0e0;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin: 36% 0 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.title {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.flex {
	display: flex;
	margin: 24px;
}

.large {
	width: 48%;
}

.small {
	width: 25%;
}

.tooltip_title {
	width: 200px;
}
