.count_container {
	display: flex,;
	flex-direction: column,;
	align-items: center,;
	margin-top: -190px,;
	margin-left: -3px,;
}

.predicted {
	font-size: 10px;
}

.count {
	font-size: 16px;
}

.pie_tooltip_container {
	padding: 8px;
	font-weight: 500;
	color: #000;
	background: #f5f2f2;
	border-radius: 4px;
}

.text_pie {
	margin-bottom: 4px;
	font-size: 12px;
}
