.container {
	padding: 25px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.inner_container {
	padding: 16px;
	background: #f9f9f9;
	border-radius: 16px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	color: #221f20;
}

.sub_title {
	font-size: 12px;
	color: #828282;
}

.rating_container {
	display: flex;
	align-items: center;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	padding: 0 8px;
	margin: 0 8px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 100px;
}

.remarks {
	display: flex;
	align-items: center;
	padding: 12px 16px;
	margin-top: 16px;
	background: #f0f2f4;
	border-radius: 8px;
}
