.container {
	display: flex;
	flex-direction: column;
	width: 240px;

	:global {
		.react-datepicker__input-container input {
			width: 210px !important;
			height: 32px;
			margin-left: 12px;
		}

		.react-datepicker__aria-live {
			display: none;
		}
	}
}

.main_container {
	:global {
		.tippy-content {
			padding: 0;
		}

		.ui_popover_container {
			padding: 0;
		}
	}
}

.child_container {
	margin: 10px;
}

.button_wrap {
	display: flex;
	justify-content: space-between;
	padding: 4px 6px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.filter_bottomborder {
	border-right: 1px solid #e0e0e0;
}

.cancel_btn {
	margin: 0 5px;
}

.apply_btn {
	margin: 0 4px;
	color: #fff;
	background: #000;
}

.radio_container {
	:global {
		.ui_radiogroup_container {
			display: block;
			padding: 8px 0;
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	padding: 10px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.title {
	font-size: 16px;
	font-weight: 600;
}
