.container {
	--layout-topbar: 64px;
	--layout-navbar-collapsed: 80px;
	--layout-navbar: 280px;

	min-height: 100vh;
	background: #f9f5ec;

	@media (max-height: 600px) {
		min-height: 600px;
	}

	&.has_navbar {
		padding-left: var(--layout-navbar-collapsed);

		@media (max-width: 576px) {
			padding-left: 0;
		}
	}

	&.white_bg {
		background-color: #fff;
	}
}

.children_container {
	width: 100%;
}
