.loader {
	height: 100px;
}

.loader_main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	width: 1270px;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}
