.container {
    display: flex;
    flex-direction: column;
}

.flex {
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

.textarea_label {
    font-weight: 600;
}