.container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 8px;
}

.heading {
	font-size: 14px;
	font-weight: 600;
	color: #000;
}

.schedule_items_container {
	display: flex;
	align-items: center;
	padding: 12px 4px 20px;
	overflow-x: scroll;
}

.loading {
	display: flex;
	padding: 24px 0;
	margin-bottom: 28px;
}

.footer {
	margin-top: 6px;
}
