.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 16px 30px;
	margin: 24px 0;
	background: #fdfbf6;
	border: 1px solid #d6b300;
	border-radius: 6px;

	@media (max-width: 768px) {
		flex-direction: column;
		padding: 8px 12px;
	}
}

.left_section {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.text {
	margin-left: 20px;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;

	@media (max-width: 768px) {
		margin: 0 0 12px 8px;
		font-size: 12px;
	}
}

.right_section {
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
	}
}
