.overflow_flex {
	display: flex;
	font-weight: 600;
}

.item_value {
	margin-top: 4px;
	margin-right: 4px;
	font-weight: 600;

	@media (max-width: 768px) {
		display: flex;
		flex: 1;
		justify-content: flex-start;
		margin-top: 0;
		line-height: none;
	}
}
