.lower {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #bdbdbd;
}

.left {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 24px 16px;
  border-right: 1px dashed #bdbdbd;
}

.right {
  width: 40%;
}

.port_heading {
  font-style: normal;
  font-weight: 400;
  color: #828282;
}

.port_name {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: #221f20;
}

.time,
.date {
  font-size: 14px;
  font-weight: 500;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 25px 52px;
  font-size: 14px;
  font-weight: 500;
  color: #221f20;
}

.details > * {
  margin-right: 24px;
}

.key {
  color: #828282;
}

