.container {
	margin-bottom: 16px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 12px;

	&.doc {
		padding: 6px 4px;
		border-radius: 4px 0 0 4px;

		&:hover {
			background: #e0e0e0;
		}
	}

	&.icon {
		padding: 6px 4px;
		border-radius: 0 4px 4px 0;

		&:hover {
			background: #e0e0e0;
		}
	}
}

.item {
	display: flex;
	align-items: center;
	margin: 0 12px 8px 0;
	border: 1px solid #828282;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
	}
}

.item_name {
	max-width: 130px;
	margin: 0 4px;
	overflow: hidden;
	font-size: 12px;
	color: #f68b21;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.action {
	padding: 6px 4px;
	margin: 0;
	border-radius: 4px;

	&:hover {
		cursor: pointer;
		background: #e0e0e0;
	}
}
