.searchBar {
	width: 50%;
	overflow: hidden;
	cursor: pointer;
}

.filterContainer {
	display: flex;
	justify-content: space-between;
	margin: 16px 0;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.leftFilters {
	display: flex;
	flex: 4;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.leftFiltersElement {
	@media (max-width: 768px) {
		flex: 6;
		width: 100% !important;
		margin-top: 8px;
	}
}

.rightFilters {
	display: flex;
	flex: 3;
	justify-content: flex-end;

	@media (max-width: 768px) {
		flex: 6;
		justify-content: flex-start;
		width: 100% !important;
		margin-top: 8px;
	}
}

.icmFilter {
	width: 20px;
	height: auto;
	cursor: pointer;
}

.icmUndo {
	min-height: 32px;
	padding: 3px 8px;
	margin-left: 8px;
}
