.list {
	margin-top: 6px;
}

.scroll_view {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 300px);
	padding: 16px 16px 4px;
	overflow: auto;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
