.error {
	color: #cb6464;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
}

.element {
	padding: 4px;
}

.label {
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.row_flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.child,
.field_array {
	width: 100%;
}

.delete_icon {
	display: flex;
	align-items: flex-end;
}

.heading {
	font-weight: 500;
}
