.container {
	padding: 12px 8px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 6px;
}

.filter_heading {
	font-weight: 600;
	color: #4f4f4f;
}

.flex {
	display: flex;
}

.filter {
	width: 180px;
	margin-right: 8px;

	:last-child {
		margin-right: 0;
	}
}

.link_text {
	margin-top: 36px;
	text-decoration: underline;
	cursor: pointer;
}
