.container{
    border-radius: 6px;
    padding: 12px 8px;
    background: #fff;
    margin-bottom: 16px;
}

.filter_heading{
    font-size: 14px;
    color: #4f4f4f;
    font-weight: 600;
}

.flex{
    display: flex;
}

.label{

}
.filter{
    width: 180px;
    margin-right: 24px;
}

.link_text{
    margin-top: 36px;
    text-decoration: underline;
    cursor: pointer;
}