.styled_component {
	padding: 16px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 16px;
}

.label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
	letter-spacing: 0.5px;
}

.error {
	font-size: 12px;
	color: red;
}

.notes {
	margin-bottom: 12px;
}

.answer {
	font-weight: 600;
}
