.main_container {
	@media (max-width: 768px) {
		margin-top: 50px;
	}
}

.title_container {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}

.body_container {
	padding-bottom: 20px;
	background-color: #fff;
}

.reimbursement_container {
	padding: 10px 20px;
	margin: 10px;
	border-bottom: 1px solid #dce2e8 ;
}

.device_info {
	padding-left: 20px;
	padding-right: 20px;
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
	font-size: large;
}

.header_container {
	display: flex;
	align-items: normal;
	justify-content: space-between;
}
.header_container_accessories {
	display: flex;
	align-items: normal;
	justify-content: space-between;
	margin-top: 36px;
}

.text_container_reimbursement {
	margin: 10px 0px;
}
.text_container {
	margin: 10px;
}

.footer_container {
	padding: 20px 20px;
	margin-top: 30px;
	background-color: #fff;
}

.set_combined_reimbusement {
	display: flex;
}

.modal_body {
	height:182px;
}

.select_categories {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	margin-bottom: 26px;
	margin-left: 10px;
}

.actions {
	display: flex;
}

