.container {
  margin-top: 30px;
}

.pagination_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.empty {
  margin-top: 16px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
