.container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.accordion {
	max-height: 100vh;
	margin-bottom: 12px !important;
	overflow: hidden;
	background-color: #fff;
	border: 0.5px solid gold;
	transition: height 1s ease-out;
}
