.container {
	display: flex;
	align-items: center;
}

.location {
	display: flex;
	flex-direction: column;
}

.icon {
	margin: 0 50px 0 40px;
}

.location_country_text {
	font-size: 14px;
	font-weight: 500;
	color: #d6b300;

	&.light {
		color: #d6b300;
	}

	&.dark {
		color: #d6b300;
	}
}

.location_port_text {
	max-width: 180px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.light {
		color: #000;
	}

	&.dark {
		color: #fff;
	}
}

.tooltip {
	width: max-content;
}

.tooltip_content {
	text-align: left;
	word-break: keep-all;
}
