.container {
	display: flex;
	align-items: center;
}

.location {
	display: flex;
	flex-direction: column;
}

.icon {
	width: 1.8em;

	@media (max-width: 768px) {
		width: 1em;
	}
}

.location_country_text {
	max-width: 120px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	color: #d6b300;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 1080px) {
		max-width: 60px;
	}
	@media (max-width: 768px) {
		font-size: 10px;
	}
}

.location_port_text {
	max-width: 120px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 1080px) {
		max-width: 100px;
	}
	@media (max-width: 768px) {
		max-width: 60px;
		font-size: 11px;
	}
}

.tooltip {
	width: max-content;
}

.tooltip_content {
	text-align: left;
	word-break: keep-all;
}

.touchpoint_container {
	position: relative;
	padding: 8px 8px 8px 16px;
}

.circle {
	position: absolute;
	top: 12px;
	left: 4px;
	z-index: 1;
	width: 8px;
	height: 8px;
	background: #fcdc00;
	border-radius: 50%;
}

.line {
	position: absolute;
	top: 12px;
	left: 7.5px;
	z-index: 0;
	height: 100%;
	border: 0.5px dashed #fcdc00;
}

.label {
	font-size: 10px;
	font-weight: 600;
	color: #000;
}

.name {
	font-size: 12px;
}

.touch_points {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		display: none;
	}
}

.first_touch_point {
	width: fit-content;
	max-width: 100px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 1080px) {
		max-width: 75px;
	}
	@media (max-width: 768px) {
		max-width: 50px;
		font-size: 8px;
	}
}

.more_text {
	min-width: max-content;
	font-size: 10px;
	font-weight: 600;

	@media (max-width: 768px) {
		font-size: 7px;
	}
}

.arrow_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 34px 0 26px;

	@media (max-width: 768px) {
		margin: 0 14px;
	}
}
