.box {
	width: 70%;
	margin-right: 8px;
	background: var(--greyscale-secondary-white, #fff);
	border-radius: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #bdbdbd;
}

.total_transit {
	display: flex;
	gap: 16px;
	padding-top: 20px;
	padding-left: 24px;
	font-size: 14px;
	line-height: 150%;
	color: var(--black-80, #4f4f4f);
}

.total_transit_data {
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
	color: var(--black, #221f20);
}

.frequency {
	display: flex;
	padding-top: 20px;
	padding-left: 24px;
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 500;
	color: var(--black-60, #828282);
}

.frequency_data {
	display: flex;
	align-items: center;
	margin-left: 16px;
}

.button {
	padding-top: 12px;
	padding-right: 20px;
}

.save {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px;
}

.button_style {
	margin: 2px;
}

.route_points {
	max-height: 550px;
	overflow: scroll;
}

.frequency_select {
	width: 170px;
	padding: 2px;
	margin-top: -10px;
	margin-left: 5px;
}
