.container {
	display: flex;
	justify-content: space-between;
	height: 59px;
	margin-top: 15px;
}

.flex {
	display: flex;
	align-items: center;
}

.container_click {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 16px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);

	&:hover {
		width: 94%;
		height: 46px;
		box-shadow: 0 0 8px rgb(44 62 80 / 30%);
		transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
	}
}

.sub_container_click {
	color: #ed3726;
	background: #fdebe9;
}

.sub_container {
	height: 42px;
	background: #fff;
	border-radius: 4px;
}

.container .search_icon {
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.container .cross_icon {
	margin-top: 5px;
	cursor: pointer;
}

.filters_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0;
}

.input_search {
	height: 32px !important;

	:global(.ui_input_control) {
		font-size: 12px !important;
	}

	:global(.ui_input_suffix) {
		width: 20px;
		height: 80%;
	}
}
