.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 18px;
	background-color: var(--color-secondary-5);
	box-shadow: linear-gradient(0deg, var(--color-secondary-5), var(--color-secondary-5));

	:hover {
		cursor: pointer;
		background-color: var(--color-secondary-4);
	}
}

.view_invoices {
	color: var(--color-primary-error-red-2);
	text-decoration: underline;
	cursor: pointer;
}
