.container {
	max-height: 68vh;
	padding: 28px;
	overflow: scroll;
	background-color: #fbfbff;

	:global {
		.ui_checkbox_group_container {
			flex-wrap: wrap;
			padding: unset;
		}

		.ui_checkbox_container {
			width: 25%;
			padding: unset;
			margin: 12px 0;
		}
	}
}

.form_container {
	margin-bottom: 24px;
}

.flex {
	display: flex;
	flex-direction: column;
	margin-left: 2px;
	font-size: 12px;

	&.cc_user_ids {
		margin-top: 8px;
	}
}

.name {
	font-weight: 600;
}

.label_container {
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	font-size: 12px;
}

.label {
	margin: 0;
	font-size: 12px;
	font-weight: 800;
	color: #4f4f4f;

	&.email_preview {
		margin-bottom: 20px;
	}
}

.text {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 800;
	color: #333;
}

.content {
	padding: 14px 10px;
	background-color: #fff;
}
