.card_wrapper {
	padding-top: 14px;
	padding-bottom: 14px;
	background: #fafafa;
	border-bottom: 1px solid #e5e3e3;
	box-shadow: none;
}

.revenue_col {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	padding-top: 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.revenue {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: none;
}
