.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px;
	margin-bottom: 16px;
	border-radius: 6px;
}

.content {
	display: flex;
	align-items: center;
}

.margin_right {
	margin-right: 4px;
}

.icon {
	width: 24px;
	height: 24px;
	margin-right: 12px;
}
