.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px;
	margin: 16px 0;
	border-radius: 6px;
}

.content {
	display: flex;
	align-items: center;
}

.margin_right {
	margin-right: 4px;
}
