.form_element {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}

.label,
.value {
	width: 48%;
}

.value {
	font-weight: 600;
}

.error {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
}
