.container {
	display: flex;
	margin-top: 20px;
}

.search {
	width: 80%;
	margin-right: 12px;
}

.filter_popover {
	width: 20%;

	:global {
		.ui_popover_container {
			margin-top: -8px;
		}
	}
}

.tab_group {
	width: fit-content;
	margin-top: 12px;
	:global {
		.ui_tab_list_container {
			align-items: inherit;
		}
	}

}
