.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 12px;
}

.field_container {
	display: flex;
	align-items: center;
}

.button_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 16px;

	.add_button {
		width: 72px;
		margin-right: 12px;
	}
}
