.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
}

.select_section {
	width: 160px;
	margin-right: 4px;
}

.shift_name {
	font-size: 10px;
}
