.block_wrapper {
	position: relative;

	&:hover{
		.show_wrapper {
			display: flex;
			flex-direction: column;
			color: #222;
			position: absolute;
			left: 2px;
			z-index: 2;	
			top: 2px;
			width: fit-content;
			background: red;
			border-radius: 50%;
			padding: 4px;
		}
	 }
}


.show_wrapper {
	display: none;
}	