.header {
	display: flex;
	justify-content: space-between;
}

.row {
	display: flex;
	align-items: center;
}

.service_provider_name {
	width: 70%;
	font-weight: 600;
	font-weight: 16px;
	text-transform: uppercase;
}
