.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form_item {
    display: flex;
	flex-direction: column;
	margin-bottom: 24px;

	:global {
		.ui_input_container {
			padding: 0;
			border: none;
		}

		.ui_select_input_control{
			font-size: 14px !important;
		}

		.ui_multiselect_input_control{
			font-size: 14px !important;
		}

		.ui_text_area_container{
			padding: 8px 12px;
		}

		.ui_input_control {
			padding: 8px 12px;
			font-size: 12px !important;
			border: 1px solid #dedede;
			border-radius: 4px;
		}

		.ui_chips_container{
			flex-wrap: wrap;
		}
	}
}

.label{
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 4px;
    display: flex;
}

.required_mark{
	color: #e74c3c;
	margin-left: 4px;
}

.error_message {
	font-size: 12px;
	margin-top: 8px;
	color: #e42525;
}