.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	padding: 32px 84px;
	background: var(--color-secondary-5);

	img {
		width: 30%;
		height: auto;
	}
}
