.container {
  margin-top: 20px;
}

.name_and_email {
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;
}

.name {
  font-weight: 900;
  letter-spacing: 1px;
}

.animate {
  width: 120px;
  background-color: #d3d3d3;
}

.progress_bar {
  height: 4px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  animation: progress-animation 2s linear;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.profile_completion {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
