.container {
  margin-top: 20px;
}

.name_and_email {
  text-decoration: underline;
  cursor: pointer;
}

.name {
  font-weight: 900;
  letter-spacing: 1px;
}

.animate {
  width: 100%;
  background-color: #d3d3d3;
}

.progress_bar {
  width: 100%;
  height: 4px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  animation: progress-animation 2s linear;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
