.title {
	font-size: 28px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-2);

	@media (max-width: 576px) {
		margin-top: 48px;
	}
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs_container {
	margin-top: 30px;
	overflow-x: scroll;
}
