.container {
	height: 400px;
	margin: 0 15px 15px;
}

.styled_ui_modal_dialog {
	border: none !important;

	:global {
		.ui_modal_body_container {
			border-bottom: none !important;
		}
	}
}

.title {
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

.message {
	font-size: 11px;
}

.subject_name {
	margin: 2%;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}
