.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 600;
}

.redirect {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section {
	display: flex;
	justify-content: space-between;
}

.section_left {
	padding: 10px 16px;
	margin-top: 14px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(44 62 80 / 30%);
}

.section_right {
	position: fixed;
	right: 15px;
	width: 27%;
	height: fit-content;
	padding: 8px;
	margin-top: 14px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(44 62 80 / 30%);
}

.table_display {
	margin: 20px 0;
}

.botton_add_edit {
	display: flex;
}

.butonn_edit_kra {
	margin-left: 15px;
}

.filter {
	padding: 10px;
	font-weight: 600;
}
