.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.heading {
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
	color: #221f20;
}

.header_container_flex {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;

	@media (max-width: 768px) {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.select_container {
	width: 180px;
	margin-right: 12px;
}

.download {
	@media (max-width: 640px) {
		width: calc(100% - 192px);
	}
}

.download_text {
	margin-right: 2px;

	@media (max-width: 480px) {
		font-size: 13px;
	}
}

.input_search {
	width: 300px;
	margin-left: 12px;

	@media (max-width: 640px) {
		width: 100%;
		margin: 0;
	}
}

.attendance_data {
	@media (max-width: 768px) {
		display: none;
	}
}

.attendance_mobile {
	@media (min-width: 768px) {
		display: none;
	}
}

.arrow_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 6px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
}

.mr_12 {
	margin-right: 16px;
}

.pagination_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;
}

.disabled_div {
	pointer-events: none;
	opacity: 0.4;
}

.loader_container {
	margin: 16px 0;
}
