.popover_container {
	width: 100%;
	padding: 8px;
	background-color: #fff;
	border-radius: 4px;
}

.title {
	font-size: var(--font-size-sm);
	font-weight: 600;
	color: #333;
}

.value {
	margin: 0;
	font-size: var(--font-size-sm);
	color: var(--color-secondary-greyscale-3);
}

.reasons {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 8px;
}

.flex_row {
	display: flex;
	width: 100%;
}

.container {
	margin-right: 20px;
}
