.billCurrency {
	margin-right: 4px;
}

.invoiceAmount {
	display: flex;
}

.IcMinIcon {
	margin-left: 8px;
	color: #f68b21;
}

.preTax {
	color: #ed3726;
}

.preTaxAmount {
	margin-bottom: 5px;
	margin-left: 10px;
	color: rgb(51 51 51);
	background: #fffaeb;
}

.postTax {
	color: #00a300;
}

.postTaxAmount {
	margin-left: 10px;
	color: rgb(51 51 51);
	background: #fffaeb;
}
