.FINANCE_ACCEPTED {
  background: #cdf7d4;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.INITIATED {
  background: #fcedbf;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.ACCEPTED {
  background: #cdf7d4;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.FINANCE_REJECTED {
  background: #f68b21;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.VOID {
  background: #fcedbf;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.POSTED {
  background: #cdf7d4;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.COE_REJECTED {
  background: #f68b21;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
