.container {
	padding: 30px 26px 24px;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.cross_icon {
	cursor: pointer;
}

.body {
	display: flex;
	flex-direction: column;
	margin: 16px 0;
}

.heading {
	font-size: 28px;
	font-weight: 400;
	color: #000;
}

.text {
	font-size: 14px;
	font-weight: 400;
	color: #000;
}

.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
