.heading {
	font-size: 20px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-2);
}

.navbar_container {
	width: fit-content;
	padding: 5px;
	margin-top: 15px;
	background-color: var(--color-secondary-5);
}

.search {
	width: 25%;
	max-width: 340;
	height: 32px;
}

.search_icon {
	margin-right: 10px;
}

.data_container {
	display: flex;
	margin: 20px 0 15px;
}

.card {
	width: fit-content;
	padding: 6px 15px;
	margin-right: 20px;
	background-color: var(--color-secondary-5);
}

.payrun_container {
	display: flex;
	justify-content: space-between;
}

.payrun_div {
	display: flex;
}

.payrun_name {
	font-weight: 500;
}

.name_container {
	padding-left: 5px;
}
