.container{
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topics_rating_container{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.header{
    background-color: #FFFCE6;
    padding: 20px 10px;
}

.topics{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rating, .save{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.category_name{
    color: #F68B21;
}