.container {
	width: 300px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.topics_rating_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.header {
	padding: 20px 10px;
	background-color: #fffce6;
}

.topics {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rating,
.save {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.category_name {
	color: #f68b21;
}
