.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 20px;
}

.row_container {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.text {
	display: flex;
	align-items: center;
	margin-left: 40px;
	font-size: var(--font-size-xl);

	&.heading {
		font-size: var(--font-size-md);
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin: 10px;
}

.button_div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: 15px;
}

.modal_styles {
	width: 600px !important;
}

.label {
	margin-bottom: 5px;
	font-size: var(--font-size-lg);
	color: #221f20;
}

.text_area_container {
	width: 250px;
	margin-top: 15px;
}

.select {
	width: 250px !important;
}

.error_text {
	font-size: var(--font-size-sm);
	font-weight: 600;
	color: #d22b2b;
}

.airway_bill_no_head {
	display: flex;
	align-items: center;
	font-size: var(--font-size-md);
}

.airway_bill_no {
	display: flex;
	align-items: center;
	margin-left: 5px;
	font-size: var(--font-size-lg);
	font-weight: 500;
}
