.remark {
	display: flex;
	margin-bottom: 8px;
}

.label {
	padding: 0 24px;
	margin-bottom: 6px;
	font-weight: 500;
}

.textarea {
	width: 90%;
	min-height: 80px;
	padding: 4px;
	margin: 0 24px;
}

.container {
	width: 49%;
	background: white;
	border-radius: 10px;
}

.display_box {
	display: flex;
	width: 100%;
	padding: 60px 24px 24px;
}

.company_div {
	width: 50%;
}

.line {
	margin: 0 24px;
	border-bottom: 1px solid #e0e0e0;
}

.profit_container {
	display: flex;
	margin-left: 12px;
}

.shipment_container {
	padding: 16px 26px 6px;
}

.shipment_id {
	font-weight: 500;
	color: #f68b21;
}

.buy_sell_div {
	display: flex;
	justify-content: space-between;
	padding: 12px 36px 24px 24px;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	margin: 80px 18px 18px;
}

.heading {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 500;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}
