.styled_ui_modal_dialog {
	display: flex;
	flex-direction: column;
	max-height: 650px;
	border-top: none !important;

	:global {
		.ui_modal_header_title {
			display: flex !important;
			align-items: center !important;
			justify-content: space-between !important;
			width: 100%;
		}

		.ui_modal_close_button {
			display: none !important;
		}

		.ui_modal_body_container {
			max-height: unset !important;
			border-top: none !important;
			border-bottom: none !important;
		}
	}
}

.send_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);

	svg {
		width: 22px;
		height: 22px;
		fill: #ee3425;
		transform: rotate(-30deg);
	}
}

.right_header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	svg {
		width: 18px;
		height: 18px;
		fill: #828282;
	}
}

.title {
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
}

.type_to {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 6px;
	border-bottom: 1px solid #e0e0e0;
}

.sub_text {
	font-size: 14px;
	color: #828282;
}

.tags_div {
	display: flex;
	margin-left: 8px;
}

.styled_ui_tags_container {
	:global {
		.ui_tag_container {
			padding-left: 0 !important;
		}
	}
}

.add_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	color: #ffff;
	cursor: pointer;
	background: #ee3425;
	border-radius: 50%;
}

.input_container {
	display: flex;
	height: 28px;
	padding: 3px 25px 3px 8px;
	margin-left: 8px;
	border: 1px solid #828282;
	border-radius: 6px;

	&:hover {
		border: 1px solid #88cad1;
	}

	&:focus {
		border: 1px solid #88cad1 !important;
	}

	&:focus-within {
		border: 1px solid #88cad1 !important;
	}

	&:focus-visible {
		outline: #88cad1 solid 0.2px !important;
	}
}

.error_input_container {
	display: flex;
	height: 28px;
	padding: 3px 25px 3px 8px;
	margin-left: 8px;
	border: 1px solid #828282;
	border-radius: 6px;

	&:hover {
		border: 1px solid #f00;
	}

	&:focus {
		border: 1px solid #f00 !important;
	}

	&:focus-within {
		border: 1px solid #f00 !important;
	}

	&:focus-visible {
		outline: #f00 solid 0.2px !important;
	}
}

.cross_icon {
	position: absolute;
	top: 6px;
	right: 5px;
	cursor: pointer;

	svg {
		width: 14px;
		height: 14px;
	}
}

.tag_container {
	position: relative;
	display: flex;
}

.tag_and_errorcontainer {
	display: flex;
	flex-direction: column-reverse;
}

.error_content_container {
	margin:0px 0px 28px 8px;
	font-size: 11px;
	color: #fc0101;
	position : absolute;
}

.styled_input {
	textarea:focus {
		outline: none;
	}

	border: 0 !important;
}

.rte_container {
	position: relative;
	max-height: 400px;
	overflow-y: auto;
}

.styled_editor {
	:global {
		.notranslate {
			min-height: 300px;
		}
	}
}

.attachments_scroll {
	margin-top: 5px;
}

.file_uploader_div {
	:global {
		.file_uploader {
			height: fit-content !important;
		}

		.ui_upload_droparea_container {
			min-height: 0 !important;
			padding: unset !important;
			margin-bottom: unset;
			border: unset;
		}

		.ui_upload_droparea_heading {
			display: none;
		}

		.ui_upload_droparea_subheading {
			display: none;
		}

		.ui_upload_filesuccess_container {
			display: none;
		}
	}
}

.upload_icon {
	width: 18px;
	height: 18px;
	margin-top: 4px;
}

.uploaded_files {
	top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	padding: 5px 10px;
	margin: 10px;
	background-color: #f5f5f5;
}

.uploaded_files_content {
	display: flex;
	align-items: center;
	width: 75%;
}

.content_div {
	padding-left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cross_svg {
	cursor: pointer;
}

.attachments_scroll {
	margin-top: 10px;
}

.uploading {
	min-height: 20px;
	margin: 5px;
	font-size: 13px;
	font-weight: 500;
}