.value {
	font-weight: 600;
	height: 32px;
	padding-top: 4px;
}

.label {
	font-size: 12px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	:global {
		.ui_select_options_container {
			z-index: 2;
		}
	}
}
