.container {
	padding-top: 10px;
}

.approval_required {
	width: fit-content;
	padding: 16px 12px;
	margin: 16px 0;
	color: #828282;
	background: #fff;
	border-radius: 4px;
}

.approval_done {
	margin-top: 4px;
	font-weight: 900;
	color: #221f20;
}

.view_container {
	display: flex;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 4px;
}

.button {
	display: flex;
	align-items: space-between;
	justify-content: flex-start;
	margin: 6px;
}

.upload_icon {
	display: flex;
	align-items: center;
}
