.list_middle_part {
	display: flex;
	justify-content: space-between;
	width: 45%;
	padding: 4px;
	font-size: 12px;
}

.service_icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	svg {
		width: 24px;
		height: 24px;
	}
}

.single_service_origin {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.port_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;

	svg {
		width: 24px;
		height: 16px;
	}
}

.port_details_description {
	align-items: center;
	width: 45%;
}

.line {
	border-right: 1px solid #e0e0e0;
}

.single_service_port {
	display: flex;
}

.port_container {
	padding: 12px;
}

.service_name {
	text-align: center;
}

.arrow {
	margin: 24px;
}
