.profile_div {
	display: flex;
	width: 36%;
	height: 100%;
}

.container {
	width: 92% !important;
	min-width: 335px;
	height: 100%;
	padding: 12px;
	overflow-y: auto;
	background: #f9f9f9;
	filter: drop-shadow(0 0 16px rgb(98 127 172 / 20%));
	border-radius: 8px 0 0 8px;

	@media (max-width: 1280px) {
		min-width: 292px;
	}
}
