.header {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.main_heading:hover {
	color: var(--color-primary-error-red-2);
	text-decoration: underline;
}

.top_card {
	display: flex;
	justify-content: space-between;
	margin: 24px 0;
}

.left_shipments_section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 104%;
	margin-right: 24px;
}

.rightCard {
	width: 100%;
}

.totalStats {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.card {
	width: 50%;
}

.ongoing {
	width: 50%;
	margin-right: 26px;
}

.remaining_shipment_cards {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.single_additional {
	width: 49%;
	background: #fff;
}

.table {
	padding: 12px;
	margin-top: 12px;
	background-color: #fff;
}
