.header {
	display: flex;
	justify-content: space-between;
}

.top_card {
	display: flex;
	justify-content: space-between;
}

.left_shipments_section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 104%;
	margin-right: 24px;
}

.rightCard {
	width: 100%;
}

.totalStats {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.card {
	width: 50%;
}

.ongoing {
	width: 50%;
	margin-right: 26px;
}
