.name_container{
    display: flex;
}
.label{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}
.value{
    font-size: 12px;
    color: #333333;
    margin-left: 0px;
    display: flex;
}
.rate_conatiner{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}
.approved_container{
    background: #FFFFFF;
    border: 1px solid #6CC077;
    border-radius: 8px;
    margin-bottom: 15px;
}
.aprroved{
    display: flex;
    color: #6CC077;
    justify-content: space-between;
    padding: 20px;
}
.icon{
    margin-right: 10px;
    margin-bottom: -4px;
}
.remarks{
    display: flex;
    color: #6CC077;
    padding: 20px;
}
.hr{
    background: #6CC077;
    height: 1px;
    width: 96%;
    margin-left: 15px;
}
.current{
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    padding: 15px;
    margin-right: 30px;
    min-width: 170px;
}
.requested{
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 4px; 
    padding: 15px;
    min-width: 170px;
}

.rate_label{
    font-size: 15px;
    color: #333333;
    font-weight: 550;
}

.rate_value{
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}
.subcontainer{
    padding-right: 50px;
}
.link{
    padding-right: 10px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.text_area{
    height: 10px;
    border: 1px solid #333333;
    border-radius: 4px;
    min-height: 80px;
}
.remarks_style{
    font-weight: 500;
    font-size: 12px;
}
.rejected_container{
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #ED3726;
    border-radius: 8px;
}
.rejected{
    display: flex;
    color: #ED3726;
    justify-content: space-between;
    padding: 20px;
}
.rejected_hr{
    background: #ED3726;
    height: 1px;
    width: 96%;
    margin-left: 15px;
}
.rejected_remarks{
    display: flex;
    color: #ED3726;
    padding: 20px;
}