.container{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    margin-top: 16px;
}
.header{
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}
.hr{
    height: 2px;
    width: 48px;
    background: #ED3726;
   border-radius: 12px;
}
.header_container{
    display: flex;
    flex-direction: column;
}
.tab{
    margin-top: 16px;
}