.container {
	width: 25%;
	margin-bottom: 20px;

	@media (max-width: 1000px) {
		width: 100%;
	}
}

.heading {
	margin-bottom: 32px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.bundles_container {
	@media (max-width: 1000px) {
		display: flex;
		flex-wrap: wrap;
	}
}
