.top_header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header {
	display: flex;
	margin-top: 16px;
}

.container {
	padding-top: 10px;
	margin-top: 20px;
	background-color: var(--color-secondary-5);
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);
}

.page {
	font-size: 20px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-1);
}

.refresh {
	margin-top: 16px;
}

.toggle_chat {
	display: flex;

	:global {
		.ui_toggle_container {
			margin-right: 60px;
		}
	}
}

.shipment_not_found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.error_heading {
	font-size: 60px;
	font-weight: 900;
	color: var(--color-primary-error-red-2);
}

.error_subheading {
	font-size: 20px;
	font-weight: 600;
	color: var(--color-secondary-greyscale-1);
}

.raise_alarm_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.job_closed {
	padding: 8px 14px;
	margin-left: 8px;
	font-size: var(--font-size-xl);
	font-weight: 500;
	color: var(--color-primary-error-red-3);
	background: var(--color-primary-yellow-5);
	border-radius: 4px;
}
