.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

.line {
	width: 90%;
	height: 0;
	margin-top: 12px;
	margin-left: 8px;
	border: 1px solid #e0e0e0;
	transform: rotate(-180deg);
}

.nav_heading {
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	color: #333;
	letter-spacing: 0.02em;
}

.column {
	display: flex;
	flex-shrink: 0;
	color: #4f4f4f;
	letter-spacing: 0.04em;
}

.drop_down_icon {
	margin-right: 24px;
	cursor: pointer;
	transition: transform 0.3s linear;
}

.date_container {
	margin: 0 12px 0 8px;
}

.flex {
	display: flex;
}

.open {
	transform: rotate(90deg);
}
