.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 100px;
	padding: 12px 8px;
	margin-left: 46px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(8 23 39 / 7.4%);
}

.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 3px;

	&.checkout {
		color: green;
	}
}

.rate_amount {
	font-size: 16px;
	font-weight: 600;
}
