.visualization_container {
	background-color: #fff;
	border-radius: 4px;
}

.visualization_header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chart_container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 500px;
	padding: 16px 0 16px 8px;
	border-radius: 10px;
}

.divider {
	padding-bottom: 16px;
	margin-top: 16px;
	border-top: 1px solid #e0e0e0;
}

.title_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0;

	:global {
		& .fw-500 {
			font-weight: 500;
		}

		& .active {
			transition: transform 0.3s linear;
			transform: rotate(0deg);
		}

		& .inactive {
			transition: transform 0.3s linear;
			transform: rotate(180deg);
		}
	}
}

.tab_container {
	display: flex;
	justify-content: center;
	padding-left: 10px;
	margin-top: 12px;

	:global {
		& .ui-tabs-list-container.active {
			padding: 8px 16px 6px;
			color: #7a5ef3;
			background: #cbcff5;
			border-bottom: 3px solid #7a5ef3;
			border-radius: 4px;
		}

		& .ui-tabs-list-container {
			padding-bottom: 2px;
		}
	}
}

.arrow_container_disabled {
	display: none;
}

.arrow_container {
	cursor: pointer;

	:global {
		.cursor-event {
			pointer-events: auto;
		}
	}
}

.custom_tabs {
	:global {
		.ui_tab_container {
			width: 160px;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	margin: auto;
}
