.card_container {
	flex-basis: 24%;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);

	@media (max-width: 576px) {
		flex-basis: 100%;
		margin-bottom: 12px;
	}
}

.header {
	margin-bottom: 24px;
}

.heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.label {
	font-size: 12px;
	line-height: 14px;
	color: #828282;
}

.value {
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
}

.bottom_container {
	display: flex;
	justify-content: space-between;
}

.items {
	font-weight: 500;
}
