.route_port {
	display: flex;
	gap: 20px;
	align-items: cent;
	justify-content: flex-start;
}

.left,
.right {
	position: relative;
	display: flex;
	align-items: center;
	width: 45%;
	height: 134px;
	padding: 8px;
}

.left {
	justify-content: right;
}

.right {
	justify-content: left;
}

.middle {
	position: relative;
}

.circle {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	width: 16px;
	height: 16px;
	background-color: #acdadf;
	border-radius: 50%;
}

.hr_line_up {
	position: absolute;
	left: calc(50% - 1px);
	height: 130px;
	margin-top: -60px;
	border-right: 2px solid #acdadf;
}

.eta_etd {
	display: flex;
	flex-direction: column;
	gap: 20px;

	/* margin-top: 3px;
  margin-bottom: 3px; */
}

.eta,
.etd {
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}

.port_name {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
}

.port_terminal {
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.diff_in_days {
	position: absolute;
	top: calc(100% - 12px);
	font-size: 14px;
	font-weight: 400;
	color: #828282;
}

.add_icon {
	cursor: "pointer";
}

.vertical_dots {
	margin: 6px;
	cursor: "pointer";
}

.popover_content {
	:global {
		.tippy-content {
			padding: 0 !important;
		}
	}
}

.eta_etd_form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 40px;
}

.port_name_form {
	width: 160px;
	margin-left: -16px;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
}
