.trade_document {
	display: flex;
	justify-content: center;
	padding: 16px;
	overflow: auto;
	background-color: #e0e0e0;
}

.custom_modal {
	:global {
		.ui_modal_body_container {
			max-height: 780px;
		}
	}
}

.btn_wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.heading {
	font-weight: 700;
}

.head_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}