.message_content {
	height: fit-content;
	margin: 10px 3px;
	overflow: hidden;
	background: #f9f9f9;
	border-radius: 6px;
	box-shadow: 0 0 4px 0 #627fac33;
}

.ticket_details {
	width: 100%;
	padding: 10px 15px;
	background: #fff;
}

.ticket_status {
	display: flex;
	justify-content: space-between;
	color: #828282;
	text-transform: uppercase;
}

.overflow_div {
	max-height: 100px;
	overflow-y: hidden;
}
