.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 16px 0;
}

.loader {
	width: 24px;
	height: 24px;
	transform-origin: center;
	animation: rotation 2s infinite linear;
}

.load_heading {
	margin-top: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	color: #000;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
