.container {
	:global {
		.ui_popover_container {
			justify-content: center;
			min-height: initial;
			padding: 0;

			> div {
				padding: 0;
			}
		}
	}
}

.action_button {
	width: 100%;
	padding: 0 12px;
	font-size: 10px;
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: var(--color-primary-error-red-2);
	}

	&:not(:first-of-type) {
		position: relative;

		&::before {
			position: absolute;
			top: -6px;
			left: 0;
			width: 100%;
			content: "";
		}
	}
}

.three_dots {
	cursor: pointer;
}
