.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left_section {
    display: flex;
    align-items: center;
    max-width: 85%;
}

.icon {
    margin-right: 32px;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.big_text {
    font-size: 30px;
    font-weight: 500;
}

.small_text {
    font-size: 18px;
    font-weight: 400;
}