
.single_item{
	display: flex;
	align-items: center;
	position: relative; 
}

.message_text {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #cb6464;
}

.main{ 
	display: flex; 
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	width: 80%;

	& > div{
		margin: 0px 8px 0px 12px;
	}
}

.upload_info {
	font-size: 10px; 
	height : fit-content;
	background: #F2F4F7; 
	padding : 4px 12px;  
	border-radius: 12px; 
	margin-right : 10px;
	white-space: nowrap;
} 

.document_status {
	font-size: 10px; 
	height : fit-content;
	background: #F2F4F7; 
	padding : 4px 12px;  
	border-radius: 12px; 
	margin-right : 10px;  

	&.accepted {
		background: #ECFDF3; 
		color	: #027A48;
	} 

	&.pending {
		background: #FFF6ED; 
		color : #C4320A;
	}

}

.gap{
	display: flex; 

	.ui_pill_container{
		background-color:#F2F4F7; 
		background: #F2F4F7;
		border-radius: 16px;
	}
}

.heading{
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	color:  #221F20;
	width: 20%;
}

.dots{
	top: 14px;
	right: 12px;
	&:hover {
		cursor: pointer;
	}
	width: 10px;
}

.action_container{
	display: flex;
	gap: 6px;
	align-items: center;
}

.hold_document {
	width: 140px;
	color: #cb6464;
}

.single_item_child{
	display: flex;  
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px; 
	border: 1px solid #ececec; 
	border-radius: 4px;  
	width: 100%; 
	margin-bottom: 16px;
}

.upload_item{
	display: flex;  
	justify-content: space-between;
	align-items: center; 
	border: 1px solid #ececec; 
	border-radius: 4px;  
	padding: 10px 16px; 
	width: 100%; 
	margin-bottom: 16px;
}