.main_container {
	display: flex;
	margin-top: 16px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
	padding: 16px 24px;
	background: #fff;
	border-radius: 8px 0 0 8px;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.container_2 {
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	padding: 24px;
	background: #fdfbf6;
	border-radius: 8px;
}

.heading {
	font-size: 20px;
	font-weight: 600;
	color: #4f4f4f;
}

.table_row {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	margin: 12px 0;
}

.table_head {
	font-size: 16px;
	color: #4f4f4f;
}

.table_amount {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.divider {
	width: 100%;
	height: 2px;
	margin: 6px 0;
	background-color: #4f4f4f;
}

.table_amount2 {
	font-size: 24px;
}

.text {
	margin: 36px 0 0;
	font-size: 16px;
	font-weight: 500;
	color: #221f20;
}

.underline_text {
	margin: 12px 0 0;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
	text-decoration-line: underline;
	text-transform: capitalize;
	cursor: pointer;
}
