.checkbox {
	display: flex;
	align-items: center;

	:global {
		.ui_checkbox_container {
			padding-left: 0;
		}
	}
}

.errors {
	font-size: 12px;
	color: red;
}

.form_label {
	font-size: 12px;
	font-weight: 600;
}
