.main_container {
	padding: 8px;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
}

.form_item_container {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0 16px 8px 0;

	:global {
		.country_code {
			margin-right: 4px;
		}
	}
}

.form_label {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 600;
}

.errors {
	font-size: 12px;
	color: red;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
