.container {
	display: flex;
	padding: 20px;
	padding-right: 40px;
	font-size: 10px;
	background-color: var(--color-secondary-5);
	border-radius: 10px;
}

.heading {
	align-items: center;
	margin-bottom: 10px;

	h3 {
		margin-bottom: 0;
	}
}

.line {
	width: 100%;
	height: 2px;
	margin: 10px 8px;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 22px;
	overflow: hidden;
	color: var(--color-secondary-5);
	text-align: center;
	border-radius: 50%;
}

.section {
	display: flex;
	flex-direction: column;
	width: 40%;
	max-height: 216px;
}

.inner_div {
	display: flex;
	width: 100%;
	margin-bottom: 8px;
}

.remark_section {
	flex-grow: 1;
	width: 100%;
	margin-top: 20px;
	size: 14px;
}

.faded_text {
	color: var(--color-secondary-greyscale-4);
}

.faded_bg {
	background: var(--color-secondary-greyscale-4);
}

.active_bg {
	background: #000;
}

.approved_bg {
	background: var(--color-accent-orange-2);
}

.flex {
	display: flex;
}

.level_status_pill {
	margin: 0 8px;

	:global {
		.ui_pill_text {
			font-weight: 600;
		}

		.ui_pill_container.ui_ps_size_sm {
			padding: 2px 8px 1px !important;
		}
	}
}

.remarks_text {
	width: 70%;
	min-width: 300px;
	max-height: 110px;
	margin-top: 5px;
	overflow: hidden;
	word-wrap: break-word;
}

.red_line {
	width: 50px;
	height: 2px;
	margin-bottom: 15px;
	background-color: var(--color-primary-error-red-2);
}

.font500 {
	font-weight: 500;
}

.remark_heading {
	font-size: var(--font-size-md);
	font-weight: 500;
}

.name_text {
	font-size: var(--font-size-md);
}

.center_align {
	display: flex;
	align-items: center;
}

.arrow {
	position: absolute;
	left: 94%;
	cursor: pointer;
}
