.header {
	padding: 5px;
	font-size: 14px;
}

.location_header {
	width: 150px;
	padding: 5px;
	font-size: 14px;
}

.location {
	width: 150px;
	padding: 20px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.serial_id {
	padding: 20px 0;
	font-weight: 600;
	color: #ee3425;
}

.service_provider {
	padding: 20px 0;
}

.fcl_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 10px;
	font-weight: 600;
}

.logo_title {
	font-size: 10px;
	color: #ee3425;
}

.shipment_type {
	padding: 20px 0;
}

.status {
	padding: 20px 0;
}

.table_container {
	:global {
		.ui_table_container {
			background-color: #fff;
		}

		.ui_table_head_cell {
			padding: 10px 0;
			border-bottom: 1px solid #ee3425;
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
}
