.container {
	width: 320px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading_text {
	font-size: var(--font-size-xl);
	font-weight: 600;
}

.tabs_container_element {
	display: flex;

	:global {
		.ui_tab_list_container {
			flex-direction: column;
			width: 50%;
			max-height: 166px;
			margin-top: 16px;
		}

		.ui_tab_container {
			max-height: 40px;
		}
	}
}

.radio_group_section {
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-md);
}
