.container {
	width: 100%;
	padding: 20px 48px;
}

.subContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.key {
	margin: 0;
	margin-right: 8px;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	color: #828282;
}

.value {
	margin: 0;
	font-size: 10px;
	font-weight: 500;
	line-height: 12px;
	color: #333;
}

.row {
	display: flex;
	align-items: center;
}
