.flex {
	display: flex;
	padding-left: 12px;
	border-bottom: 1px solid var(--color-secondary-greyscale-5);
}

.arrow_container {
	display: flex;
	padding-left: 12px;
}

.form {
	display: flex;
}

.container {
	padding: 8px 0 0 12px;
}

.col {
	display: flex;
	flex: var(--span);
	padding: 16px 16px 16px 0;
}

.paddingbottom {
	padding-bottom: 12px;
}

.background {
	background-color: var(--color-tertiary-blue-5);
}

.edit {
	cursor: pointer;
}
