.container {
	background-color: var(--color-secondary-5);
}

.servicename {
	display: flex;
	font-size: var(--font-size-sm);
	font-weight: 500;
}

.heading {
	margin-bottom: 6px;
}

.container_title {
	display: flex;
	align-items: center;
}

.customer {
	flex: 2.5;
	margin-right: 26px;
	border-right: 2px solid var(--color-accent-orange-2);
}

.invoices {
	display: flex;
	flex: 3.5;
}

.lineitems {
	display: flex;
	flex: 3;
}

.value {
	display: flex;
	padding: 0 6px;
	color: var(--color-accent-orange-2);
}

.mode {
	flex: 1.5;
	max-width: fit-content;
	padding: 6px;
	background-color: var(--color-tertiary-blue-5);
	border-radius: 8px;
}

.tag {
	max-width: fit-content;
	padding: 6px;
	background-color: var(--color-tertiary-blue-5);
	border-radius: 8px;
}

.headings {
	padding-bottom: 6px;
	font-size: var(--font-size-xl);
	font-weight: 600;
	border-bottom: 2px solid #ed3726;
}

.buttoncontailner {
	display: flex;
	margin: 24px 0 16px;
}

.spankey {
	padding-right: 4px;
}

.loadercontainer {
	width: 95%;
	padding-bottom: 14px;
	margin: 14px 26px;
}

.totalamount {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 30px 10px 0;
	margin-right: 36px;
	font-size: var(--font-size-xl);
	font-weight: 800;
	color: var(--color-secondary-greyscale-1);
	border-radius: 0 0 4px 4px;
}

.amount {
	padding-left: 16px;
}

.paddingleft {
	padding-left: 4px;
}

.marginright {
	margin-right: 16px;
}
