.container {
    margin: 16px 0px;

    :global {
        .ui_table_container {
            border:unset;
            background-color: #f8f2e7;
        }

        .ui_table_body_container {
            :hover {
                background-color: unset;
                cursor: pointer;
            }
        }
    }
}