.call_comming_body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;

	img {
		width: 40px;
		border-radius: 10px;
	}
}

.call_comming_text {
	padding: 5px;
	text-transform: capitalize;
}

.call_comming_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;

	svg {
		width: 40px;
		height: 40px;
		padding: 7px;
		margin: 4px;
		border-radius: 10px;
		fill: white;
	}

	.reject svg {
		background-color: #bf291e;
	}

	.accept svg {
		background-color: #849e4c;
	}
}
