.call_comming {
	position: fixed;
	top: 35px;
	right: 35px;
	z-index: 1000;
	width: 23%;
}

.minimize_btn {
	position: absolute;
	top: 10px;

	svg {
		width: 30px;
		height: 30px;
	}
}

.comming_call_options svg {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.call_comming_body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px 15px;
	color: #fff;
	background: #312d2d;
	border-radius: 10px;

	img {
		width: 50px;
		border-radius: 50%;
	}
}

.call_comming_text {
	padding: 5px;
	font-size: 18px;
	text-transform: capitalize;
}

.call_comming_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;

	svg {
		width: 45px;
		height: 45px;
		padding: 7px;
		margin: 4px;
		border-radius: 50%;
		fill: white;
	}
}

.call_comming_btn .reject svg {
	background-color: #bf291e;
}

.call_comming_btn .accept svg {
	background-color: #849e4c;
}

.big_call_comming {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 550px;
	color: #fff;
	background: #312d2d;
	border-radius: 10px;
}

.avator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	img {
		width: 30%;
		border-radius: 50%;
	}
}

.comming_call_text {
	font-size: 18px;
	text-align: center;

	.agent_name {
		font-size: 40px;
		font-weight: 500;
	}
}

.comming_call_options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40%;

	.reject,
	.accept {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 55px;
		border-radius: 50%;
	}

	.reject {
		background-color: red;
		rotate: 135deg;
	}

	.accept {
		background-color: green;
	}
}
