.container {
	display: flex;
	flex-direction: column;
}

.empty_container {
	height: calc(100vh - 48px);
}

.redirect_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.redirect_header {
	display: flex;
	align-items: center;

	.redirect_text {
		margin: 0;
		font-size: 16px;
		font-weight: 500;
		color: #393f70;
		cursor: pointer;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;

	.header_text {
		margin: 0;
		font-size: 28px;
		font-weight: 600;
	}
}

.header_filters {
	display: flex;
	align-items: center;

	:global(.ui_select_display_container) {
		width: 160px;
		height: 38px;
	}
}

.filter_container {
	display: flex;
	align-items: center;
}
