.container {
	display: flex;
	flex-direction: column;
}

.empty_container {
	height: calc(100vh - 48px);
}

.redirect_container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.redirect_header {
	display: flex;
	align-items: center;

	.redirect_text {
		font-size: 16px;
		font-weight: 500;
		color: #393f70;
		cursor: pointer;
		margin: 0px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;

	.header_text {
		font-size: 28px;
		font-weight: 600;
		margin: 0px;
	}
}

.header_filters {
	display: flex;
	align-items: center;

	:global(.ui_select_display_container) {
		width: 160px;
		height: 38px;
	}
}

.filter_container {
	display: flex;
	align-items: center;

	& .tippy-box .tippy-content {
		max-height: 100%;
	}
	.filter-control-label {
		margin-top: 16px;
		font-weight: 500;
	}
	.bussiness_module_filter_header {
		margin-bottom: 8px;
	}
}

