.button_container {
	display: flex;
	justify-content: flex-end;

	:global {
		.ui_button_container:first-child {
			margin-right: 8px;
		}
	}
}

.form {
	max-height: 60.5vh;
	overflow-y: auto;
}

.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
