.label_value_container {
    font-size: var(--font-size-md);
    width: 49%;

    .label {
        font-weight: 600;
    }
    &.document_value {
        width: 100%;
        margin-top: 6px;
    }
}

.addtional_data{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 4px;
    margin-bottom: 10px;

    &:not(:last-of-type){
        border-bottom: 1px dashed var(--color-secondary-3);
    }

    :global {
        .ui_button_container {
            padding: 0;
            height: min-content;
        }
    }
}