.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin: 40px 0;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;

	:global {
		.ui_radiogroup_container {
			padding: unset;
			padding-top: 8px;
		}

		.ui_radio_container {
			padding-bottom: unset;
			padding-left: unset;
		}
	}
}

.title {
	font-weight: 600;
}
