.ranking_container {
	align-self: stretch;
	width: 32%;
	padding: 12px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
}

.rank_data {
	margin-bottom: 0;
	font-weight: 400;
}

.rank_item {
	margin-top: 14px;
}

.empty_text,
.label {
	color: #828282;
}
