.tab_label {
	width: 15%;
	font-size: 16px;
	font-weight: 700;
}

.heading {
	font-size: 25px;
	font-weight: 500;
	color: #333;
}

.row {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -36px;
}

.input {
	display: flex;
	justify-content: flex-end;
	width: 200px;
	padding-bottom: 14px;
}

.loader_container {
	display: flex;
	justify-content: center;
}

.fcl_filters{
	display: flex;
	justify-content: center;
	background: #f9f5ec;
	border: none;
	width: 50px;
	padding: 5px 0px;
	cursor: pointer;
	margin-right: 15px;
	height: fit-content;
}
.filter_button{
	border: none;
	width: 100%;
}
.filter_popover{
	z-index: 1 !important;
}