.tab_label {
	width: 15%;
	font-size: 16px;
	font-weight: 700;
}

.heading {
	font-size: 25px;
	font-weight: 500;
	color: #333;
}

.row {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -36px;
}

.input {
	display: flex;
	justify-content: flex-end;
	width: 300px;
	padding-bottom: 14px;
}

.loader_container {
	display: flex;
	justify-content: center;
}
