.tab_label {
	width: 15%;
	font-size: 16px;
	font-weight: 700;
}

.heading {
	font-size: 25px;
	font-weight: 500;
	color: #333;
}

.row {
	display: flex;
	justify-content: flex-end;
	margin-bottom: -36px;
}

.input {
	display: flex;
	justify-content: flex-end;
	width: 400px;
	padding-bottom: 14px;
	margin-right: 20px;
}

.loader_container {
	display: flex;
	justify-content: center;
}

.fcl_filters {
	display: flex;
	justify-content: center;
	width: 50px;
	height: fit-content;
	padding: 5px 0;
	margin-right: 15px;
	cursor: pointer;
	background: #f9f5ec;
	border: none;
}

.filter_button {
	width: 100%;
	border: none;
	cursor: pointer;
}

.filter_popover {
	z-index: 1 !important;
	background-color: black !important;
}

