.header_bar {
	display: flex;
	width: 100%;
}

.table_body {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	:global {
		.ui_table_container {
			padding: 0;
		}

		.ui_table_head_container {
			background: #fdfbf6;
		}

		.ui_table_head_cell,
		.ui_table_body_cell {
			padding: 10px 8px;

			&:first-child {
				padding-left: 20px;
			}
		}
	}
}

.table_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20%;
	padding: 4px 0;
	font-size: 11px;
	color: #828282;
	border-radius: 6px 6px 0 0;

	&:hover {
		cursor: pointer;
		background: #fdebe9;
	}
}

.selected_header {
	font-weight: 600;
	color: #000;
	background: #fdebe9;
}

.table_count {
	font-size: 14px;
}

.footer_bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 4px 30px 14px;
}
