.filter {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.select {
  width: 200px;
  margin-right: 4px;

  :global(.ui_select_input_control) {
    font-size: 14px !important;
    color: var(--color-secondary-greyscale-2);
  }
}

.time {
  margin-right: 4px;

  :global(input) {
    margin-right: 4px;
    height: 40px !important;

    &::placeholder {
      font-size: 14px;
      color: var(--color-secondary-greyscale-2);
      font-family: var(--font-family);
    }
  }
}

@media (max-width: 576px) {
  .select,
  .time {
    margin-bottom: 8px;
  }
}
