.pagination_container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		position: absolute;
	}
}

.empty_state {
	margin-top: 12px;
}

.topcard {
	margin-top: 12px;
	background-color: #acdadf;
	border: 1px solid #acdadf;
}
