.pagination_container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		position: absolute;
	}
}

.empty_state {
	margin-top: 12px;
}

.topcard {
	padding: 8px 0;
	margin-top: 24px;
	background-color: #f3fafa;
	border: 1px solid #acdadf;
	border-radius: 6px;
}

.font {
	font-family: Poppins, sans-serif;
}
