.sid {
	margin: 2px 0;
	font-size: 12px;
	color: #1877f2;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		background: #f4f4f4;
	}
}

.number {
	margin-left: 4px;
}

.port_content {
	display: flex;
	margin: 2px 0;
	font-size: 12px;
	color: #828282;
}

.port_details {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-left: 4px;
}

.port_name {
	width: 100%;
	overflow: hidden;
	font-size: 11px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.port_container {
	display: flex;
	align-items: center;
	color: #828282;
}

.trade_type {
	margin: 2px 0;
	font-size: 12px;
}
