.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cards_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header_container {
	margin-bottom: 20px;
}

.details_card {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.card {
	display: flex;
	flex-direction: column;
	width: 32%;
	padding: 12px;
	cursor: pointer;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 8px;
}

.blue_card {
	display: flex;
	flex-direction: column;
	width: 32%;
	padding: 12px;
	cursor: pointer;
	background: #f2f3fa;
	border: 1px solid transparent;
	border-radius: 8px;
}
