.container {
	display: flex;
	width: 100%;
	min-height: 420px;
	max-height: calc(100vh - 78px);
}

.title {
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
}

.filter {
	position: sticky;
}
