.manifest_download_button {
	padding: 2px !important;
	text-align: center;

	svg {
		margin-right: 8px;
	}
}

.tooltip_container {
	:global {
		.tippy-box {
			min-width: initial;
			min-height: initial;
			padding: 4px;
			font-size: 12px;
		}
	}
}

.select_checkbox {
	margin: 8px 8px 0;
	font-weight: 600;
	color: var(--color-accent-orange-2) !important;
	background: var(--color-accent-orange-5);
	border: 1px solid var(--color-accent-orange-4);
}
