.manifest_download_button {
	padding: 2px !important;
	text-align: center;

	svg {
		margin-right: 8px;
	}
}

.tooltip_container {
	:global {
		.tippy-box {
			min-width: initial;
			min-height: initial;
			padding: 4px;
			font-size: 12px;
		}
	}
}
