.radio {
	display: block;
	flex: 1;
	padding: 12px;
}

.button_wrap {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.filter_bottomborder {
	border-right: 1px solid #e0e0e0;
}

.cancel_btn {
	margin: 0 5px;
}

.apply_btn {
	margin: 0 5px;
	color: #fff;
	background: #000;
}

.radio_container {
	:global {
		.ui_radiogroup_container {
			display: block;
		}
	}
}
