.radio {
	display: block;
	flex: 1;
	padding: 12px;
}

.button_wrap {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.filter_bottomborder {
	border-right: 1px solid #e0e0e0;
}

.cancel_btn {
	margin: 0 5px;
}

.apply_btn {
	margin: 0 5px;
	color: #fff;
	background: #000;
}

/* Filter Content */

.filterContainer {
	.custom_select_input_select_value {
		font-size: 12px;
		line-height: 20px;
		color: #000;
	}

	.custom_select_input_subcontainer {
		height: 30px;
		cursor: text;
		border: solid 1px #e0e0e0;
		box-shadow: none;

		:focus {
			border: 1px solid black;
			box-shadow: none;
		}

		:focus-within {
			border: 1px solid black;
			box-shadow: none;
		}

		:hover {
			border: 1px solid black;
			box-shadow: none;
		}

		.size-md {
			height: 26px !important;
		}

		.core_ui_input_root {
			padding: 0;
			border: none;
		}
	}

	.custom_select_input_chip {
		padding: 0 6px;
	}

	.custom_select_input_chip_button {
		width: 20px;
		height: 20px;
	}

	.custom_select_input_chip_icon {
		width: 20px;
		height: 20px;
	}
}

.filter_heading {
	padding: 16px 0 12px 24px;
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #000;
	border-bottom: 1px solid #e0e0e0;
}

.filter_block {
	display: block;
	flex: 1;
	padding: 0 22px 14px 18px;
}

.filter_controls {
	display: flex;
}

.filter_item {
	padding: 0 4px;
}

.filter_label {
	margin: 0;
	margin-top: 16px;
	margin-bottom: 6px;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	letter-spacing: 0.02em;
}

.filter_labelHeading {
	margin-top: 10px;
	margin-bottom: -4px;
	font-size: 18px;
	font-weight: 700;
}

.line {
	margin-top: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.filter_box {
	.tippy-content {
		box-sizing: border-box;
		width: 760px;
		height: fit-content;
		padding: 0;
		background: #fff;
		border: 1px solid #bdbdbd;
		border-radius: 10px;

		@media (max-width: 760px) {
			width: 100%;
		}
	}

	.tippy_box {
		border-radius: 10px;
	}

	&.scroll .tippy_content {
		overflow-y: auto;
	}

	&.date .tippy_content {
		width: 500px;
	}
}

.radio_container {
	:global {
		.ui_radiogroup_container {
			display: block;
		}
	}
}
