.radio {
	display: block;
	flex: 1;
	padding: 12px;
}

.button_wrap {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}

.filter_bottomborder {
	border-right: 1px solid #e0e0e0;
}

.cancel_btn {
	margin: 0 5px;
}

.apply_btn {
	margin: 0 5px;
	color: #fff;
	background: #000;
}

/* Filter Content */

.filter_container {
	.custom_select_input_select_value {
		font-size: 12px;
		line-height: 20px;
		color: #000;
	}

	.custom_select_input_subcontainer {
		height: 30px;
		cursor: text;
		border: solid 1px #e0e0e0;
		box-shadow: none;
	}

	.custom_select_input_chip {
		padding: 0 6px;
	}

	.custom_select_input_chip_button {
		width: 20px;
		height: 20px;
	}

	.custom_select_input_chip_icon {
		width: 20px;
		height: 20px;
	}
}

.filter_heading {
	padding: 16px 0 12px 24px;
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 19px;
	color: #000;
	border-bottom: 1px solid #e0e0e0;
}

.filter_block {
	display: block;
	flex: 1;
	padding: 0 22px 14px 18px;
}

.filter_controls {
	display: flex;
}

.filter_item {
	padding: 0 4px;
}

.filter_label {
	margin: 0;
	margin-top: 16px;
	margin-bottom: 6px;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	color: #000;
	letter-spacing: 0.02em;
}

.filter_label_heading {
	margin-top: 10px;
	margin-bottom: -4px;
	font-size: 18px;
	font-weight: 700;
}

.line {
	margin-top: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.filter_box {
	.tippy_box {
		border-radius: 10px;
	}

	&.scroll .tippy_content {
		overflow-y: auto;
	}

	&.date .tippy_content {
		width: 500px;
	}
}

.radio_container {
	:global {
		.ui_radiogroup_container {
			display: block;
		}
	}
}
