.list_container {
	padding: 20px;
	background-color: var(--color-secondary-5);
	border: 1px solid var(--color-tertiary-blue-2);
	border-top: none;

	.card-list-root {
		border: none;
	}

	.card-list-header-root {
		padding: 0 20px;
		background: var(--color-tertiary-blue-4);
		border-bottom: none;

		.card-list-header-root-row {
			align-items: center !important;
			padding: 8px 0 !important;
		}

		.card-list-header-title {
			font-size: var(--font-size-md);
			font-weight: normal;
			color: var(--color-secondary-5);
		}
	}

	.card-body-row {
		margin: 0 !important;
		cursor: initial !important;

		.card-body-col {
			font-size: var(--font-size-md);
		}
	}
}
