.label {
	margin: 0;
	font-size: 12px;
	font-weight: 800;
	color: #4f4f4f;

	&.email_preview {
		margin-bottom: 20px;
	}
}

.text {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 800;
	color: #333;
}

.content {
	padding: 14px 10px;
	background-color: #fff;
}
