

.Flex{
	display: flex;
	&.flex_font_bold {
		font-weight: bold;
	}
	&.flex_left_padding {
		padding-left: 5px;
	}
	&.flex_left_padding_short {
		padding-left: 3px;
	}
	&.flex_border_right {
		border-right: 1px solid;
	}
	&.flex_border_bottom {
		border-bottom: 1px solid;
	}
	&.not_negotiable_issuedby {
		flex: 0.1;
	}
	&.airway_bill {
		flex: 0.7;
	}
	&.same_validity {
		flex: 0.9;
		padding-top: 5px;
	}
	&.not_negotiable_issued_by {
		flex: 3.3;
	}
	&.airway_bill_copies {
		flex: 0.3;
	}
	&.iata_carrier {
		flex: 0.5;
		letter-spacing: 0em;
	}
	&.iata_carrier_text {
		padding-top: 2px;
		padding-right: 1px;
	}
	&.rbi_permint {
		flex: 0.4;
		letter-spacing: 0em;
	}
	&.hawb_number_space {
		flex: 1;
	}
	&.hawb_number_bill {
		border-top: 1px solid;
		padding-top: 2px;
		justify-content: center;
		flex: 2;
	}
	&.hawb_number_bill_number {
		flex: 1;
		padding-top: 2px;
		justify-content: flex-end;
	}
};

.BlockRow{
	display: flex;
	border: 1px #333 solid;
	&.hawb_number {
		min-height: 25px;
		border: 0px;
		flex: 1;
	}
	&.shipper_details {
		min-height: 100px;
		border: 0px;
		border-bottom: 1px solid;
		flex: 1;
	}
	&.consignee_details {
		min-height: 100px;
		border: 0px;
		flex: 1;
	}
};

.BlockCol{
	display: flex;
	flex-direction: column;
	border: 1px #333 solid;
	&.shipper_consignee_details {
		min-height: 200px;
		border-right: 0px;
		border-bottom: 0px;
		flex: 1;
	}
	&.issuedby_validation_conditions {
		min-height: 200px;
		flex: 1;
		border-bottom: 0px;
	}
};

.FlexCol{
	display: flex;
	flex-direction: column;
	&.shipper_consignee_account_number {
		flex: 1;
		height: 40px;
		border-left: 1px solid;
		border-bottom: 1px solid;
		padding-left: 5px;
	}
};

.FlexRow{
	display: flex;
	&.shipper_consignee_name_address {
		justify-content: flex-start;
		padding-left: 5px;
		flex: 1;
	}
};
