.object_styles {
	max-width: 300px;
	max-height: 250px;

	/* pointer-events: none; */
}

.clickable_object {
	display: block;
	cursor: pointer;
}
.contact_card{
	display: flex;
	background:#F2F3FA;
	box-shadow: 0px 0px 4px 0px #627FAC33;
	align-items: center;
	min-width: 200px;
	width: fit-content;
	padding: 10px;
	border-radius: 4px;
	margin-top: 10px;

}
.contact_name{
	font-size: 12px;
	font-weight: 600;
	text-align: left;
	color:#7278AD;
}
.mobile_no{	
	font-size: 12px;
	text-align: left;
	color:#7278AD;
}