.border {
  border-bottom: 0.1px solid #7e7a7a;
  margin-left: 40px;

  &:hover {
    box-shadow: 2px 2px 4px #848282;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 1.05rem;
  }
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.heading_container {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-flow: column wrap;
    align-items: flex-start;

    :global(.ui_chips_container) {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.scrollable {
  overflow: auto;
}

.nullstate {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nullstate_heading {
  font-size: 40px;
}

.nullstate_btn {
  margin-top: 80px;
}
