.container {
	min-height: 100vh;
	margin: -20px;
	background: #fff;
}

.header {
	min-height: 300px;
	padding: 24px 40px;
	margin: -24px -40px;
	background: #f7f9f9;

	@media (max-width: 950px) {
		min-height: 320px;
	}
	@media (max-width: 768px) {
		min-height: 400px;
		padding: 24px;
		margin: -24px;
	}
}

.wrapper {
	padding: 24px 40px;

	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	@media (max-width: 768px) {
		padding: 24px;
	}
}

.mode_selection {
	display: inline-block;
	margin-top: -60px;

	@media (max-width: 950px) {
		margin-top: -20px;
	}
}

.locations {
	margin: 40px 0 60px;
}

.scope_select {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.label {
	margin-right: 8px;
	font-weight: 600;
}
