.container {
	min-height: 100vh;
	margin: -20px;
	background: #fff;
}

.header {
	min-height: 300px;
	padding: 24px 40px;
	background: #f7f9f9;

	@media (max-width: 950px) {
		min-height: 320px;
	}
}

.mode_selection {
	display: inline-block;
	padding: 24px 40px;
	margin-top: -100px;

	@media (max-width: 950px) {
		margin-top: -120px;
	}
}

.locations {
	padding: 24px 40px;
	margin-left: 20px;
}

.sales_dashboard {
	padding: 24px 40px;
}

.other_services {
	padding: 24px 40px;
}
