.table {
	:global {
		table {
			padding: 0;
			border-spacing: 0 16px;
		}

		background-color: transparent;
		border-radius: 10px;

		.ui_table_head_cell {
			padding: 10px;
			color: white;
			background-color: #333;
			border-right: none;
		}

		.ui_table_body_cell {
			padding: 15px 0;
			background: #fff;
			background-color: #fff;
			border-right: none;
		}

		.ui_table_body_row {
			position: relative;
		}

		.ui_table_body_cell:first-child {
			border-radius: 6px 0 0 6px;
		}

		.ui_table_body_cell:last-child {
			border-radius: 0 6px 6px 0;
		}

		.ui_table_head_cell:first-child {
			border-radius: 6px 0 0 6px;
		}

		.ui_table_head_cell:last-child {
			border-radius: 0 6px 6px 0;
		}
	}

	@media (max-width: 1010px) {
		overflow-x: scroll;
		scroll-behavior: smooth;

		:global {
			.ui_table_body_cell {
				min-width: 150px;
			}

			.ui_table_body_cell:last-child {
				min-width: 50px;
			}
		}
	}
}
