.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 18px;

	@media (min-width: 768px) {
		font-size: 1.05rem;
	}
}

.pagination {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-top: 12px;
}

.border {
	margin-left: 40px;
	border-bottom: 0.1px solid #7e7a7a;

	&:hover {
		background-color: #fff;
		box-shadow: 2px 2px 4px #848282;
	}
}

.subtitle {
	font-size: 14px;
	font-weight: 400;
}

.heading_container {
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;

		:global(.ui_chips_container) {
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;
		}
	}
}

.spinner {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 100px;
}
