.container {
	padding: 36px;
	margin: 24px 0;
	font-size: 12px;
	border-radius: 4px;

	table {
		width: 100%;
		border-collapse: collapse;
		background: #fdfbf6;
		border: 1px solid #f2e3c3;
	}

	tbody {
		text-align: center;
	}

	tr {
		border-bottom: 1px solid #f2e3c3;
	}
}

.row {
	border-bottom: 1px solid #f2e3c3;
}

.loader {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.loader_icon {
	width: 50px;
}

.pagination {
	margin-left: auto;
	
	> div {
		margin-left: auto;
	}
}