.spinner_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 232px;
	padding: 20px;
	margin: 8px 0 20px;
	background-color: #fbfbff;
	border: 1px solid #f7f7fd;
	border-radius: 8px;
}

.loading_text {
	margin-top: 32px;
	font-size: 18px;
	font-weight: 600;
}
