.heading {
	margin-right: 10px;
	font-size: 28px;
	font-weight: 600;
}

.flex_col {
	display: flex;
}

.flex_toggle {
	display: flex;
	align-items: flex-end;
}

.container {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.dropdown {
	width: 350px;

	:global {
		.ui_multiselect_input_control {
			display: flex;
		}
	}
}

@media (max-width: 767px) {
	.container {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}

	.flex_col {
		display: flex;
		flex-direction: column;
	}

	.dropdown {
		width: 100%;
		margin-bottom: 10px;
	}

	.heading {
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 600;
	}
}
