.cards_container{
    padding: 20px;
	background: #f9f5ec;
}
.loader_container{
    background: #f9f5ec;
	display: flex;
	flex-direction: column;
	padding: 20px 8px;
}

.pagination_wrapper{
	padding: 5px 5px 0px 0px;
    background: #f9f5ec;
	display: flex;
	justify-content: flex-end;
}
