.container {  
    background: #FDFBF6;
    border: 1px solid #F2E3C3;
    border-radius: 4px; 
    font-size: 12px; 
    padding: 4px;
    table {
        width: 100%; 
       
    }
    th {
        font-weight: 700;
    } 

}


