.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.redirect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_left{
    width: 70%;
    padding: 6px 10px;
    margin-top: 14px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(44,62,80,.3);
}

.section_right{
    width: 27%;
    background-color: white;
    margin-top: 14px;
    padding: 8px;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(44,62,80,.3);
    position: fixed;
    right: 15px;
}

.table_display{
    margin: 20px 0;
}

.filter{
    font-weight: 600;
    padding:10px
}