.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.redirect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_left{
    width: 70%;
    padding: 6px;
    margin-top: 14px;
    background-color: white;
    border-radius: 6px;
}

.section_right{
    width: 29%;
    background-color: white;
    margin-top: 14px;
    padding: 8px;
    height: fit-content;
    border-radius: 6px;
}

.table_display{
    margin: 20px 0;
}