.pagination_container {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.empty_state {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 40px;
	margin: 0 auto;
	border: 1px solid  #daf9ff;
}

.empty_state_txt {
	margin: 20px 0;
	font-weight: 600;
}
