.container {
	padding: 20px 30px;
	background-image: url("https://cdn.cogoport.io/cms-prod/cogo_app/vault/original/Mask group.svg");
	border-radius: 20px;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.skeleton_loader {
	:global {
		.ui_placeholder_skeleton_loader {
			border-radius: 20px;
		}
	}
}

.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		margin: 0;
	}
}

.info_container {
	margin-top: 16px;

	.info_title {
		margin-bottom: 12px;
		font-weight: 600;
	}
}

.line {
	width: 30%;
	height: 3px;
	margin-top: 3px;
	background-color: #fbd1a6;
}

.row {
	align-items: flex-start;
	margin-bottom: 5px;
}

.col {
	&.label {
		width: 35%;
		font-weight: 300;
	}

	&.value {
		width: 55%;
		text-align: right;
	}
}

.pagination_container {
	display: flex;
	align-items: center;

	.num {
		padding: 5px 10px;
	}

	svg {
		cursor: pointer;
	}
}
