.wrapper {
	width: 100%;
	max-height: 80vh;
	padding: 16px;
	overflow-y: auto;
}

.action {
	padding: 12px 24px;
	font-size: var(--font-size-sm);
	font-weight: 400;
	color: var(--color-secondary-greyscale-3);
	border-bottom: none;

	&:hover {
		cursor: pointer;
		background-color: #f2f2f291;
	}
}

.action_wrapper {
	padding: 4px;
	margin: -6px -8px;
}
