.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	background-color: #f2f3fa;
	border-radius: 0 0 8px 8px;

	&.cogo_assured {
		background: #fef3e9;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.other_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40%;
	font-size: 10px;

	@media (max-width: 1080px) {
		width: fit-content;
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.other_details_tag {
	min-width: max-content;
	margin-right: 12px;
	font-size: 10px;
	font-weight: 500;
	color: #e47200;
	cursor: pointer;

	&.selected {
		font-weight: 700;
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		margin-right: 0;
	}
}

.tab_label_container {
	display: flex;
	align-items: center;
}

.cogo_points {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.cogo_points_logo {
	margin: 0 4px;
}

.info_icon {
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-left: 8px;
	color: #ee3425;
}

.tooltip_content {
	word-break: keep-all;
}
