.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 10px 20px;
	margin-top: 10px;
	background: #fff;
	border-radius: 6px;
}

.dynamic_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	:global {
		.ui_dynamic_loader {
			flex: unset;
			width: 100%;
			margin: 20px 0;
		}
	}
}
