
.container{
	display: flex;
	flex-direction: column;
	.core-ui-input-root {
		border-color: #5936f0;
	}
	.custom-select-input-subcontainer {
		border-color: #5936f0;
	}
	.ui-single-date-picker-input-container {
		border-color: #5936f0;
	}
};

/* .Heading = styled.p} */
.heading{
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #393f70;
};

.row{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
};

.file_item{
	background: #fff;
	border: 1px solid #393f70;
	border-radius: 6px;
	padding: 4px 8px;
	margin-right: 10px;
	cursor: pointer;

	&.active {
		background: #393f70;
	}
};

/* .FileHeading = styled.p} */
.file_heading{
	margin: 0px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #393f70;
	margin-bottom: 6px;
	&.active {
		color: #ffffff;
	}
};

/* .FileSubHeading = styled.p} */
.file_sub_heading{
	margin: 0px;
	font-size: 8px;
	line-height: 12px;
	text-align: center;

	color: #393f70;
	&.active {
		color: #ffffff;
	}
};

.button_div{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
};

.button_wrap{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
};

.body_container{
	width: 100%;
	display: flex;
};

.file_container{
	width: 55%;
	height: 900px;
	margin-right: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 32px 32px;
};

.detail_container{
	width: 35%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 16px 16px;
	max-height: 900px;
	overflow-y: auto;
};

.sub_heading{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	margin-top: 15px;
	color: #393f70;
};

.button_flex{
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
};
