.invoices_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: rgb(0 0 0 / 10%) 0.1px 0.1px 0.1px 0.1px;
}

.invoices_card {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 12px 0 10px;
	margin-top: 8px;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 10%) 0.1px 0.1px 0.1px 0.1px;
}

.left_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 16%;
	padding: 0 8px 2px 12px;
}

.styled_heading {
	display: flex;
	align-items: center;
	font-weight: 600;
}

.info_content {
	padding: 15px;
}

.heading {
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
}

.count {
	font-size: 12px;
	font-weight: 500;
	color: #09f;
}

.icon {
	padding: 4px 0 0 4px;
	color: #cb6464;
}

.cn {
	margin-top: 5px;
}

.flex {
	display: flex;
	width: 100%;
}

.flexdiv {
	display: flex;
	width: 100%;
	height: 20px;
}

.label {
	width: 40%;
	margin-left: 12px;
	font-size: 12px;
	font-weight: 600;
}

.container {
	display: flex;
	width: 100%;
}

.outstanding_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 15%;
	margin: 26px 4px 0 12px;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 10%) 0.1px 0.1px 0.1px 0.1px;
}

.padding_total {
	padding-top: 20px;
}

.empty_container {
	min-width: 16%;
}

.financial {
	margin-left: 12px;
	font-weight: 600;
}

.year {
	margin-left: 4px;
	font-size: 8px;
	font-weight: 600;
}

.month {
	margin-left: 4px;
	font-size: 10px;
	color: #09f;
}

.stats_lable {
	font-weight: 600;
}

.count_open {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 500;
	color: #09f;
}

.statsfull {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.headings {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
}

.outstanding {
	display: flex;
	justify-content: space-between;
	padding: 10px 24px;
	background-color: #fdebe9;
}

.totaloutstanding {
	font-size: 14px;
	font-weight: 600;
	color: #fc5555;
}

.counts {
	font-size: 10px;
	color: #09f;
}

.total {
	margin-left: 12px;
	font-size: 14px;
	font-weight: 600;
}

.marginleft {
	margin-left: 12px;
}

.positive {
	color: #67c676 !important;
}

.amount {
	display: flex;
	margin-top: 2px;
	font-size: 12px;
	font-weight: 600;
	color: #cb6464;
	word-break: break-all;
}
