.filter_body{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filter_section{
    width: 26%;
    display: flex;
    justify-content: space-around;
}