.container {
	background-color: #fff;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row > div {
	width: 49%;
}

.email {
	width: 48%;
	margin-bottom: 10px;
}

.errors {
	padding-left: 4px;
	font-size: 10px;
	color: red;
}

.addbutton {
	margin-top: 10px;
}

.addbuttonborder {
	padding: 0 12px 10px;
	margin-top: 12px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.delete {
	display: flex;
	margin: 16px;
}

.pointer {
	cursor: pointer;
}

.flex {
	display: flex;
}

.marginleft {
	margin-left: 26px;
}
