.main_container {
	margin-top: 16px;
}

.multiselect {
	margin-top: 4px;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

.search_container {
	display: flex;
	margin-top: 20px;
	background-color: white;
}

.selected_hscode_container {
	display: flex;
	min-height: 200px;
	background-color: #f9f9f9;
}

.selected_hscode_container_text {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 90px;
}

.checkbox {
	width: 120px;
	background-color: #e0e0e0;
	border-radius: 10px;
}

.codes {
	display: block;
	margin-top: 24px;
}

.description {
	margin-top: 8px;
	margin-left: 28px;
}

.set_css_output {
	display: flex;
}

.build_report_button {
	margin-top: 20px;
}

.buttons {
	display: flex;
}

.button_group {
	display: flex;
}

.selected_hscodes {
	display: block;
	margin-top: 20px;
	margin-left: 48px;
}

.display_selected_code {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.hscode {
	width: 100px;
	margin: 4px;
	text-align: center;
	background-color: #e0e0e0;
	border-radius: 10px;
}

.hscode_text {
	margin-top: 8px;
	padding: 4px;
}
