.whole_page{
    margin-top: 18px;
}
.multiselect{
    margin-top: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.search_container{
    display: flex;
    background-color: white;
    margin-top: 20px;
}
.rect_div{
    min-height: 208px;
    background-color: #f9f9f9;
    display: flex;
}
.text_rect{
    padding-top: 90px;
    justify-content: center;
    display: flex;
    width: 100%;
}
.checkbox{
    width: 150px;
    height: 40px;
    background-color: #E0E0E0;
    border-radius: 6px;
}
.codes{
    margin-top: 24px;
    display: block;
}
.description{
    margin-top: 10px;
    margin-left: 30px;
}
.set_css_output{
    display:flex;
}
.build_report_button{
    margin-top: 20px;
}
.clearAll{
    margin-top: 25px;
    background-color: transparent;
    border: None;
    cursor: pointer;
}
.selected_text{
    text-align: left;
}
.buttons{
    display: flex;
}

.button_group{
    display: flex;
}
.display_rect{
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}
.display_selected_code{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.individual{
    margin-right: 15px;
    width: 100px;
    height: 40px;
    background-color: #E0E0E0;
    border-radius: 6px;
    text-align: center;
    margin-top: 4px;
}
.individual_text{
    margin-top: 10px;
}