.styled_modal {
	height: 70vh;
}

.tabs_container {
	height: 100%;

	:global {
		.ui_tab_list_container {
			align-items: unset;
			height: 45px;
		}

		.ui_tabs_tabpanel {
			height: calc(100% - 45px);
			overflow: hidden;
		}
	}
}
