.deadline_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px; 
}

.time {
    display: flex;
    align-items: center;
    :global(.ui_datepicker_container){
        width: '200px'; 
    }
}

.current_deadline {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.button_container {
    display: flex;
}