.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	background: #fff;
	margin-top: 12px;
}

.row {
	display: flex;
	flex-direction: row;

	@media(max-width:768px) {
		flex-direction: column;
	}
}

.column {
	flex-direction: column;
}

.text {
	color: #bdbdbd;
	text-align: center;
}
