.option_container {
	display: flex;
	flex-direction: column;
}

.sailing_week {
	margin-bottom: 2px;
	font-size: 12px;
	font-weight: 600;
	color: rgb(44 62 80);
}

.freight_price {
	font-size: 12px;
	line-height: 12px;
	color: rgb(44 62 80);
}
