.container{
	padding: 22px 16px 0px 16px;
	border-top: 1px solid #bdaff9;
	margin: 0px -15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;

	.core-ui-button-root {
		text-transform: capitalize;
		width: 120px;
	}
}

