.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 10px;
	font-weight: 600;
	background: #fff;

	@media (max-width: 576px) {
		height: fit-content;
		margin-top: 50px;
		overflow: scroll;
	}
}

.location_info {
	display: flex;
	flex: 5;
	justify-content: space-between;
	padding: 0 80px;
	margin: 10px;
	font-size: 18px;
	border-right: 1px dashed #bdbdbd;
	border-left: 1px dashed #bdbdbd;
}

.forecasted_demand,
.forecasted_dates {
	flex: 2;
	margin-left: 30px;
}

.back {
	flex: 0.5;
	cursor: pointer;
}

.port_info_container {
	display: flex;
	flex-wrap: wrap;
}

.port_info {
	display: flex;
}

.port_code {
	color: #f68b21;
}

.header_title {
	font-size: 14px;
	font-weight: 400;
}

.value {
	padding-top: 4px;
	font-size: 14px;
}
