.content {
	display: flex;
	align-items: center;
	width: 50%;
	height: 50px;
	padding-left: 8px;
	margin-bottom: -1px;
	border-bottom: 1px solid #cbcff5;
}

.parent {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 400px;
	overflow: scroll;
}

.port {
	display: flex;
	display: box;
	align-items: center;
	width: calc(50% - 10px);
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	color: #333;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.port:last-child {
	padding-left: 4px;
}

.empty_state {
	flex: 1;
	padding: 20px;
	text-align: center;
}

.locations {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65%;
}

.teus {
	padding-left: 8px;
	font-size: 12px;
	font-weight: 400;
}
