.checkbox_container {
	:global {
		.ui_checkbox_container {
			padding: 10px 0;
		}
	}
}

.form {
	:global {
		.layout_form_item {
			.ui_button_container.ui_ps_themeType_accent {
				color: var(--color-secondary-greyscale-2);
				background-color: var(--color-secondary-5);
				border: 1px solid var(--color-secondary-greyscale-5);
				transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
				will-change: color, background-color, border-color;

				&:hover {
					background-color: var(--color-primary-yellow-5);
					border: 1px solid var(--color-primary-yellow-3);
				}
			}
		}
	}
}
