.page {
	position: relative;
	flex-shrink: 0;
	width: 794px;
	max-width: 794px;
	min-height: 1350px;
	max-height: 1850px;
	padding: 48px;
	margin-bottom: 16px;
	background-color: #fff;
}

.block {
	display: flex;
	padding: 4px;
	border: 1px #333 solid;
}

.text {
	
}