.container {
	padding: 20px;
}

.truck_number {
	font-size: 16px;
	font-weight: 500;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
}

.edit_heading {
	display: flex;
	margin-top: 20px;
}

.edit_btn {
	margin-top: 20px;
}

.select {
	display: flex;
}

.dropdown {
	width: 20vw;
	margin-right: 20px;
}

@media (max-width: 767px) {
	.select {
		flex-direction: column;
		width: 50%;
	}

	.dropdown {
		width: 100%;
		margin-bottom: 20px;
	}
}
