.container {
	display: flex;
	flex-direction: column;
	margin: 8px;

	:global {
		.ui_upload_droparea_container {
			flex-direction: row;
			min-height: fit-content;
			padding: 0;
			margin: 0;
			border: none;
		}

		.ui_buttonicon_container {
			width: auto;
		}
	}
}

.button_div {
	display: flex;
	margin: 16px;
}

.button_icon {
	display: flex;
	align-items: center;

	svg {
		margin-right: 8px;
	}
}

.done_status {
	color: var(--color-primary-error-red-2);
}
