.container {
	.tippy-box {
		max-width: fit-content !important;
	}
}

.info_div {
	display: flex;
	align-items: center;
	margin-left: 6px;
}

.content_div {
	width: 170px;
	font-size: 11px;
	background: #fff;
}
