.employee_name {
	display: flex;
	margin-bottom: 8px;
	font-size: 16px;
}

.squad {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.squad_name {
	display: flex;
	margin-right: 15px;
}

.history_item {
	margin-left: 4px;
	font-weight: 600;
}
