.filter_dot {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 8px;
	height: 8px;
	background: red;
	border: 1px solid #fff;
	border-radius: 100%;
}

.filter_container {
	position: relative;
	display: flex;
	align-items: center;
	padding: 6px 12px;
	cursor: pointer;
	background-color: white;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	:global {
		.ui_chips_container {
			margin-left: 40px;
		}

		.ui_chip_container {
			min-width: unset;
		}
	}
}

.filter_icon {
	margin-right: 4px;
}

.right_space {
	margin-right: 8px;
}

.btn_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	:global {
		.ui_button_container {
			font-weight: 500;
		}
	}
}

.apply_btn {
	margin-left: 8px;
}

.active {
	background: #fef199;
	border: 1px solid #fde74d;
}
