.title_black {
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	max-width: 100%;
	color: #000000;
	word-break: break-word;
	word-wrap: break-word;
	text-align: left;
}

.row {
	transition: 0.3s;
	cursor: pointer;
	background: #fff;
	padding: 20px 20px 8px 20px;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0px;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&:hover {
		background-color: #f9f9f9;
	}

	outline: none;

	&:focus-visible {
		outline: auto blue;
	}

	& > div {
		&:first-child {
			width: 30%;
		}
		&:nth-child(2) {
			width: 17.5%;
		}
		&:nth-child(3) {
			width: 17.5%;
		}
		&:nth-child(4) {
			width: 35%;
		}
	}
}

.expired {
	background: #fbe6e6;
}

.label {
	font-size: 8px;
	line-height: 12px;
	width: max-content;
	color: #4f4f4f;
	text-transform: capitalize;
	@media (min-width: 768px) {
		display: none;
	}
}
