.modal {
	max-width: 440px;
	max-height: 100vh;

	:global {
		.ui_modal_body_container {
			min-height: 90vh !important;
		}

		.ui_accordion_title {
			font-size: 14px;
			font-weight: 600;
			color: #000;
		}
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98%;
}
