.card {
    max-width: 650px;
    background-color: white;
    border-radius: 6px;
    padding: 18px 20px;
    margin: 20px;
    /* height: 440px; */
}

.heading {
    font-size: 16px;
    font-weight: bold;
    color: #6fa5ab;
}

.main_container {
    display: flex;
}

.main_badge {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-bottom: 14px;
}

.badge_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.stars_container {
    display: flex;
    justify-content: center;
}

.matter_container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 0;
    justify-content: space-between;
    width: 60%;
}

.lable_value {
    margin-right: 8px;
    padding: 8px;
}

.small_badge {
    width: 48px;
    margin-right: 10px;
}
.lable_value_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.next_badge {
    display: flex;
    align-items: center;
}

.lable {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #4f4f4f;
}

.value {
    font-weight: bold;
    color: #221f20;
}

.description_container {
    margin: 8px;
}

.mastery_unlock {
    margin: 16px 0;
}

.flex_container {
    margin-top: 16px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.mastery_badge_container {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
}

.smallstar {
    width: 16px;
    margin-top: 8px;
}

.button {
    display: flex;
    justify-content: flex-end;
}
