.container {
    .ui_modal_body_container{
        max-height: 444px;
    }
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.heading {
    font-size: 20px;
}