.row {
	display: flex;
	width: 100%;
}

.fieldarray {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.child {
	width: 100%;
}

.font_style {
	padding-left: 4px;
	margin: 0;
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
}

.element {
	padding: 4px;

	:global {
		.ui_select_input_placeholder {
			color: var(--color-secondary-greyscale-4);
		}

		.ui_input_control::placeholder {
			color: var(--color-secondary-greyscale-4);
		}
	}
}

.delete_icon {
	width: 28px;
	max-height: 28px;
	margin-top: 8px;
	cursor: pointer;
}

.child_label {
	max-height: 16px;
	margin-bottom: 6px;
	font-size: var(--font-size-md);
}
