.header {
    display: flex;
    justify-content: space-between;
    padding: 12px; 
}

  
.button_container {
    display: flex;
}


.button_wrapper {
    display: flex;
    align-items: center;
}


.button_group {
    cursor: pointer;
}


.button_flex {
    margin-right: 8px;
}


