.header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 12px;
}

  
.button_container {
    display: flex;
    justify-content: flex-end;
}

.ui_buttonicon_container *{
    fill: #FCDC00;
}

.preview_icons{
   display: flex;
   justify-content: center;
   margin-left: 124px;
  
}

.button_wrapper {
    display: flex;
    align-items: center;
}


.button_group {
    cursor: pointer;
}


.button_flex {
    margin-right: 8px;
}


