.main_container {
	top: 0;
	margin-right: 48px;

	@media (max-width: 768px) {
		margin-right: 0;
	}
}

.container {
	width: 26vw;
	height: 50vh;
	padding: 24px;
	overflow: scroll;
	font-size: 14px;
	color: #4f4f4f;
	background: #fff;
	border-radius: 6px;

	img {
		max-width: 20vw;
		max-height: 200px;
	}

	@media (max-width: 768px) {
		width: 100%;
		height: auto;
	}
}

.header {
	width: 24vw;
	margin-bottom: 16px;
	font-size: 12px;
	color: #4f4f4f;

	@media (max-width: 768px) {
		width: 100%;
	}
}
