.container {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.error_text {
	height: 10px;
	margin: 2px 0;
	font-size: 10px;
	color: #ee3425;
	text-align: left;
}

.delete_icon_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: fit-content;
}

.outer_container {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 4px 0;
}

.label_styles {
	margin-bottom: 5px;
	color: #4f4f4f;
}
