.forms{
	overflow: auto;
	height: calc(100vh - 29vh);
}

.invoice_value{
	font-weight: 500;
	font-size: 18px;
	line-height: 16px;
	color: #333333;
	margin-bottom: 12px;

	.amount {
		color: var(--color-accent-orange-2);
	}
}
