.container {
	display: flex;
	flex-direction: column;
}

.empty_container {
	height: calc(100vh - 48px);
}

.redirect_container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 28px;
	font-weight: 600;
}

.filters {
	display: flex;
	align-items: center;
}

.filter_container {
	display: flex;
	align-items: center;
}
