.container {
	:global {
		.ui_text_area_container {
			min-height: 120px;
		}
	}
}

.title {
	margin-bottom: 12px;
	font-weight: 500;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}

.error {
	margin-top: 4px;
	font-size: 12px;
	color: red;
}
