.pdf_container {
	width: 49%;
	height: fit-content;
	min-height: 660px;
	border-radius: 10px;
}

.empty_state {
	width: 49%;
	height: fit-content;
	min-height: 660px;
	padding: 70px;
	background-color: #fff;
	border-radius: 10px;
}

.zip_text {
	width: 49%;
	height: fit-content;
	min-height: 660px;
	padding: 50px;
	font-size: 18px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 10px;
}
