.tab_content {
	display: flex;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.tab_content > :first-child {
	margin-right: 13px;
}

.main_container {
	display: flex;
	flex-direction: column;
	width: 72%;
	padding: 16px 12px;
	margin-top: 16px;
	background: #f9f9f9;
	border-radius: 16px;

	@media (max-width: 768px) {
		order: 2;
		width: 100%;
	}
}

.main_container > :not(:last-child) {
	margin-bottom: 16px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.personal {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.detail {
	font-size: 12px;
	color: #828282;
}

.info_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 16px;
	background: #fff;
	border-radius: 16px;
}

.info_container > :not(:last-child) {
	margin-bottom: 16px;
}

.head_text {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.side_label {
	color: #828282;
}

.side_value {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: #221f20;
}

.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bank_detail {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	margin-bottom: 16px;
}

.btn {
	display: flex;
	align-items: center;
}

.paid {
	color: greenyellow;
}

.progress {
	color: #c26d1a;
}

.heading_one {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex {
	display: flex;
	flex-direction: column;
}
