.container {
	margin: 12px 0;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgb(169 188 218 / 65%);

	&:hover {
		box-shadow: 0 0 4px rgb(0 0 0 / 25%);
	}
}

.body_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 16px;
}

.divider {
	align-self: stretch;
	width: 1px;
	margin: 0 16px;
	background: var(--color-secondary-greyscale-5);
}

.location_container {
	width: 40%;
}

.details_container {
	width: 17%;
}

.icon_container {
	display: flex;
	justify-content: center;
	width: 10%;
}

.pill_container {
	width: 24%;
}

.header {
	:global {
		.customize_trade_type {
			margin-top: 0;
			margin-left: 0;
			line-height: 1.8;
			border-top-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.customize_source {
			margin-top: 0;
			margin-right: 0;
			line-height: 1.8;
			border-top-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.ui_pill_text {
			font-size: var(--font-size-sm);
		}
	}
}
