.main_container{
    @media (max-width: 768px) {
        margin-top: 50px;
	}
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.controller{
    flex-basis: calc(33.33% - 20px);
    margin: 10px;

    @media (max-width: 768px) {
        flex-basis: 100%;
	}
}

.error{
    color : #fc0101;
    margin-top: 4px;
}

.label{
    margin-bottom: 4px;
}

.heading{
    border-top: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 12px;
}

.surrender_controller {
    width: 25%;
    margin-bottom: 16px;
}

.spinner_container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}