.collapse_container{
    margin-top: 16px;

    :global {
        .ui_collapse_header{
            width: 100%;
            align-items: center;
        }

        .ui_collapse_title{
            width: 100%;
        }
    }
}

.engagement_type{
    font-size: 16px;
    font-weight: 600;
    color: #4f4f4f;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title_buttons{

    display: flex;
}