.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn_align {
	display: flex;
	margin-bottom: 5px;

	button:first-child {
		margin-right: 8px;
	}
}

.title {
	justify-self: flex-start;
}
