.form{
	padding: 22px;
	overflow: auto;
	height: 70vh;

	.core-ui-radio-root {
		margin-bottom: 14px;
		width: 48%;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	.core-ui-radiogroup-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 16px;
		justify-content: flex-start;
	}
	.core-ui-radio-label {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #393f70;
		opacity: 1;
		margin-left: 16px;
	}
	.core-ui-input-root {
		margin-bottom: 16px;
	}
	.core-ui-tag-root {
		padding: 8px 10px;
	}
	.core-ui-Pills-container {
		margin-bottom: 16px;
	}
	.core-ui-select__menu {
		width: 100%;
	}
}

.content{
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.heading{
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 16px;
}

.label{
	font-weight: 500;
	font-size: 14px;
	color: #4f4f4f;
}

.radio_container{
	display: flex;
}

.container{
	margin: -16px;
	padding: 15px;

	.ui-modal-dialog.enter.primary.sm {
		min-width: 1000px !important;
	}

	&.ie {
		.core-ui-radio-radio-container.primary {
			border: 1.5px solid black !important;
		}

		.core-ui-radio-radio-container.primary.checked {
			border: 1.5px solid #034afd !important ;
		}
		.core-ui-radio-icon.primary.checked {
			background: #034afd !important;
		}

		.core-ui-button-root.primary {
			background: #2c3e50;
			border-radius: 4px;
			color: white;
		}

		.ie_title {
			color: #2c3e50;
		}

		.core-ui-radio-label {
			color: #2c3e50;
		}

		.core-ui-input-root.primary {
			border: 1px solid black;
		}

		.core-ui-input-root.primary.lg {
			:hover {
				border: 1px solid black;
			}
		}
	}
}

.radio_container{
	padding-bottom: 10px;
	
    :global{
        .ui_radiogroup_container{
			display: block;
			padding-left: 10px;
        }

        .ui_radio_label{
            font-size: 12px;
            font-weight: 600;
        }
    }
}

.input{
	margin-top: 20px;
}