.main_container {
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.middle_container {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.last_container {
	display: flex;
	justify-content: space-between;
	height: 350px;
	margin-top: 16px;
}
