.display_details {
	padding: 16px 12px;
	background-color: #f9f9f9;
	border-bottom: 1px solid var(--color-secondary-greyscale-5);
}

.sub_heading {
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: var(--color-secondary-greyscale-1);
}

.sub_detail {
	margin-left: 8px;
	font-size: var(--font-size-lg);
	font-weight: 400;
	color: #393f70;
}

.row {
	display: flex;
	width: 50%;
}

.sub_half_detail {
	display: flex;
}

.action_buttons {
	display: flex;
	justify-content: flex-end;

	& > button:first-child {
		margin-right: 12px;
	}
}

.file_view {
	display: flex;
	justify-content: center;
	height: 65vh;
	margin: 12px 0;
}

.remark {
	margin: 12px 0;

	.ui-textarea {
		padding: 6px;
	}
}
