.parent {
	background-color: #fbfbfb;
}

.container {
	/* margin-top: 20px; */
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	margin: 0 20px;
}

.line {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.services {
	display: flex;
	justify-content: space-between;
}

.additional_services {
	width: 80%;
	margin-right: 20px;
	margin-left: 33px;
}

.subsidiary_services {
	padding: 36px 0;
	margin: 36px 0;
	border-top: 1px dashed #dcdde5;
}

.subsidiary_heading {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.service_bundling {
	width: 30%;
	margin-right: 33px;
	margin-left: 20px;
}

.proceed_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.proceed_button {
	width: 200px;
}
