.parent {
	background-color: #fbfbfb;
}

.container {
	/* margin-top: 20px; */
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	margin: 0 20px;
}

.line {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.services {
	display: flex;
	justify-content: space-between;
}

.additionalServices {
	width: 80%;

	/* border: 1px solid #000; */
	margin-right: 20px;
	margin-left: 33px;
}

.service_bundling {
	width: 30%;
	margin-right: 33px;

	/* border: 1px solid #000; */
	margin-left: 20px;
}

.proceedContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.proceedBotton {
	width: 200px;
}
