.btn_grp {
	display: flex;
	justify-content: flex-end;
}

.flex_div {
	display: flex;
	flex-direction: column;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
}

.flex_item {
	flex-basis: 33%;
	padding: 8px;
}

.text {
	font-weight: 500;
	color: #2c3e50;
}

.error_message {
	color: #e42525;
}

.label {
	margin-bottom: 4px;
	text-align: left;
}
