.container {
	padding: 12px;
	margin: 16px 0;
	background: #fff;
	border-radius: 16px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.item_container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.item_container_closed {
	display: flex;
	flex-wrap: wrap;
	height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.caret_arrow {
	transition: 0.3s;
}

.caret_active {
	transition: 0.3s;
	transform: rotate(180deg);
}

.name_input_container {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	width: 100%;
}
