.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 80px;
	background-color: #fff;
	border-radius: 0 8px 0 0;
}

.sub_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 6px 0;
	border-radius: 0 8px 0 0;
}

.serial_id {
	width: 160px;
	padding: 0 12px;
	border-right: 1px solid #f68b21;
}

.port_details_loading {
	display: flex;
	align-items: center;
	width: 60%;
	padding: 0 12px 0 20px;
}

.port_details_placeholder {
	width: 50px;
	height: 12px;
	margin-bottom: 4px;
}

.port_arrow {
	width: 1.2em;
	height: 1.2em;
	margin: 0 28px 0 12px;
}

.filter_box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 36px;
	padding-right: 12px;
	font-size: 12px;
	background: #cfeaed;
}
