.header_footer_part {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}

.header_footer_filter_part {
	display: flex;
	justify-content: space-between;

	.ui_button_container {
		margin-right: 8px;
	}
}

.icon_wrapper {
	margin: 4px;
	font-size: 20px;
}

.scope_select_wrapper {
	margin-right: 8px;
}
