

.header{
    color: #4f4f4f;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	padding: 4px 16px;
	margin-top: 16px;
}

.question_time_container{
    display: flex;
	justify-content: space-between;
	padding: 6px 10px;
	border-radius: 4px;
	margin-bottom: 4px;

	&:hover {
		box-shadow: 0 0 8px #627fac33;
		background-color:  #f8f2e7 !important;
	}
	
}

.pills_question_wrapper{
    display: flex;
}

.question_wrapper{
    color: #4f4f4f;
	font-size: 13px;
	line-height: 150%;
	padding-left: 16px;
	max-width: 250px;
	opacity: 0.8;
}

.time_wrapper{
    color: #828282;
	font-size: 12px;
	line-height: 150%;
}

.pills_wrapper{
    border-radius: 8px;
	padding: 1px 4px;
	font-size: 12px;
	height: 20px;
}