.container {
    display: flex;
    padding: 16px 0px;
    width: 100%;
    overflow: scroll;
    min-height: 132px;
}

.count {
    color: #4f4f4f;
    font-size: 12px;
    margin-top: 8px;
}

.bold_content {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 4px;
}

.item_container {
    background-color: #f4fafa;
    border-radius: 8px;
    border: 1px solid #DDF5F8;
    padding: 12px 80px 12px 12px;
    min-width: 220px;
    margin-right: 20px;
    cursor: pointer;

    &.active {
        border: 1px solid #F9AE64;
        background-color: #FFFFFF;
    }
}