.container{
    display: flex;
    margin-left: 126px;
}

.fadedCircle{
    border: 2px solid #C6C6C6;
    height: 24px;
    width: 24px;
    border-radius: 16px;
}
.borderedCircle{
    border: 2px solid red;
    height: 24px;
    width: 24px;
    border-radius: 16px;
}
.line{
    border-top: 2px solid #C6C6C6;
    width: 354px;
    margin:10px;
}
.coloredLine{
    border-top: 2px solid #ED3726;
    width: 354px;
    margin:10px;
}
.timelineItem{
   margin-left: -40px;
   color: #ED3726;
}
.fadedText{
    margin-left: -40px;
   color: #828282;
}
.section{
     display: flex;
     flex-direction: column;
     padding-left: 10px;
}
.innerDiv{
    display: flex;
    width: 100%;
}