.box {
	display: inline-block;
	height: fit-content;
	padding: 2px 6px;
	margin: 3px;
	margin-right: 4px;
	font-size: var(--font-size-sm);
	background: #f2f2f2;
	border-radius: 4px;
}

.certificate_container {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	a {
		display: flex;
		align-items: center;
		font-size: var(--font-size-md);
		color: #a8acce;

		svg {
			margin-left: 4px;
		}
	}
}

.font {
	font-size: var(--font-size-sm);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.cargo_detail_pill {
	height: fit-content;
	font-weight: 500;
	color: var(--color-secondary-greyscale-1);
	text-transform: capitalize;
}

.multi_service {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
}

.more_details_popover_text {
	color: var(--color-accent-orange-2);
}
