.container {
	width: 30%;
	height: 300px;
	background: #fffdee;
	border: 1px solid #fff6b8;
	border-radius: 16px;
}

.upperhalf {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40%;
	padding: 20px;
	background: #fede00;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.card_heading {
	width: 70%;
	margin-right: 12px;
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.icon_container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 25%;
	margin: 0 24px 0 14px;
}

.lowerhalf {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%;
	padding: 24px;
}

.details_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.description {
	margin-bottom: 24px;
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
}

.tag_and_link_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	@media (max-width: 800px) {
		flex-direction: column;
	}

	:global {
		.ui_button_container {
			padding: 0;
		}
	}
}

.tag_container {
	display: flex;
	gap: 4px;
	align-items: center;
	width: 60%;
	padding: 4px 8px;
	border: 1px solid #c2c2c2;
	border-radius: 18px;
}

.tag_count_container {
	width: 90%;
}

.tag_count_text {
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;
}
