.filter{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 12px;
}

.select{
    width: 160px;
    margin-right: 16px;
}

.search_container {
	display: flex;

	:global(.ui_input_container) {
		width: 300px;
	}
}

.search_container{
    :global(.ui_input_suffix){
        padding-right: 8px;
    }
}

.daterange_container{
    margin-right: 16px;

}