.container {
	padding: 10px;
}

.button_wrap {
	display: flex;
	justify-content: flex-end;
	margin-top: 32px;
}

.heading {
	padding: 0 0 0 10px;
	font-size: 20px;
	font-weight: 500;
	color: var(--color-primary-error-red-1);
}

.line {
	width: 5%;
	border: 2px solid var(--color-primary-error-red-1);
}

.purchase_invoice_heading {
	font-size: var(--font-size-lg);
	color: var(--color-tertiary-lavendar-4);
}

.show_invoice {
	padding: 10px;
	font-size: var(--font-size-md);
	font-weight: bold;
}

.box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	height: 10%;
	padding: 0 5px;
	margin: 5px 0 0 10px;
	background-color: var(--color-secondary-5);
	border: 1px solid var(--color-tertiary-lavendar-4);
	border-radius: 4px;
}

.box:hover {
	cursor: pointer;
	border: 1px solid var(--color-secondary-2);
}

.invoice_container {
	width: 70%;
	box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
}

.form {
	height: 66.5vh;
	margin-bottom: 40px;
	overflow-x: hidden;
	overflow-y: auto;
}
