.header_action {
	display: flex;
	justify-content: space-between;

	p {
		font-weight: 700;
	}

	& > div {
		display: flex;

		button:first-child {
			margin-right: 8px;
		}

		button:last-child {
			margin-left: 8px;
		}

		button:nth-child(3) {
			margin-left: 8px;
		}
	}
}

.custom_modal {
	:global {
		.ui_modal_body_container {
			max-height: calc(100vh - 64px);
			background-color: var(--color-secondary-greyscale-5);
		}
	}
}
