.select_card {
	display: flex;
	padding: 16px 16px 16px 4px;
	margin: 12px 0 8px;
	background: #fff;
	border-radius: 8px;
}

.card {
	padding: 2px 16px;
	margin-left: 20px;
	background: #cfeaed;
	border: 1px solid #88cad1;
	border-radius: 4px;
}

.bread_crumb {
	margin-left: -4px;
}

.container {
	padding: 16px;
	background: #fff;
	border-radius: 8px;
}

.filter {
	margin-bottom: 16px;
}

.link {
	cursor: pointer;
}

.back {
	display: flex;
	align-items: center;
	margin-top: 12px;
	margin-bottom: -8px;
}

.button {
	display: flex;
	margin-top: -8px;
	font-size: 18px;
	font-weight: 600;
}

.checkbox_style {
	margin-right: -24px;
	margin-left: 60px;
}
