.custom_modal{
	:global{
		.ui_modal_body_container{
			height: calc(100vh - 64px);
			max-height: 100%;
		}
	}
}

.heading{
	color: #333333;
	font-weight: 500;
	font-size: 18px;
	margin: 6px 0px 16px;
}

.button_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	
	& > button{
		margin-right: 12px;
	}
}

.download_link{
	color: #5936f0;
}
