
.container {
	width: 100%;
}

.line {
	flex: 1;
	border-top-style: solid;
	border-color: #bdbdbd;
	border-top-width: 1px;
}

.steps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0 8px 0;
}

.step {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 4px;
	user-select: none;
}
