.button_container {
	display: flex;
	justify-content: flex-end;
	padding: 8px;
	background-color: #fff;

	& > button:first-of-type {
		margin-right: 8px;
	}
}

.container {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 16px 0 0;
	font-size: var(--font-size-lg);
	font-weight: 500;
	line-height: 16px;
	color: #393f70;
}
