.card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 0;
}

.selected {
	background: var(--color-tertiary-blue-4);
}

.ship_image_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin-right: 12px;
	border-radius: 50%;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.serial_id {
	display: flex;
	align-items: center;
	font-size: var(--font-size-lg);
	font-weight: 600;
}

.updated_at {
	font-size: var(--font-size-sm);
	line-height: 16px;
	color: var(--color-secondary-greyscale-1);
}

.card_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 18px;
	padding: 0 2px;
	margin-left: 32px;
	font-size: var(--font-size-md);
	font-weight: 700;
	color: var(--color-accent-orange-5);
	background: var(--color-primary-error-red-2);
	border-radius: 5px;
}
