

.heading {
	font-weight: 500;
	font-size: 1rem;
	line-height: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	background: #F2F2F2;
} 




.sub_heading {
	display: flex;  
	align-items: center;
} 

.line {
	width: 50%;
	border: 1px solid #cbcff5;
	border-radius: 10px;
}
