/* .label {
	margin-bottom: 8px;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #4f4f4f;
} */
.buttons_container {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	padding: 1rem;
}

.Choose_from_wallet {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 10px 45px;
	color: #393f70;
	border: 1px dashed #e0e0e0;
	border-radius: 8px;

	&:hover {
		cursor: pointer;
	}
}

.upload_wrapper {
	padding: 0 16px;

	.core-ui-uploaded-file {
		width: max-content;
		padding: 4px 16px;
		border: 1px dashed #e0e0e0;
		border-radius: 4px;
	}
}
