.container {
	position: relative;
	min-height: 100vh;
	margin: -24px -20px;
	background-color: #fff;
}
.header {
	position: fixed;
	top:0;
	left:80px;
	right:0;
	z-index:100;
}

.backdrop {
	background: rgb(0 0 0 / 30%);
}

.children {
	padding-top: 116px;
}

.loading {
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding-left: 40px;
	margin: -20px;
	background: #fff;

	:global {
		.ui_loader {
			background-color: #221f20;
		}
	}
}

.loading_text {
	margin-right: 20px;
	font-size: 48px;
	color: #221f20;
}

.loader {
	width: 40px;
}
