.container{
    margin: -24px -20px;
    background-color: #FFFFFF;
}

.loading{
    display: flex;
    background: #FFFFFF;
    align-items: center;
    padding-left: 40px;
    margin: -20px;
    min-height: 100vh;

    :global{
        .ui_loader{
            background-color: #221F20;
        }
    }
}
.loading_text{
    font-size: 48px;
    color: #221F20;
    margin-right: 20px;
}
.loader{
    width: 40px;
}

