.container{
    margin: 0px -20px;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    padding: 16px 24px 0 24px;
    box-shadow: 0px 8px 8px 0 #EBEBF0;  
}
.loading{
    display: flex;
    flex: 1;
    background: #FFFFFF;
    align-items: center;
    padding-left: 40px;
    margin: -20px;
    min-height: 100vh;
}
.loading_text{
    font-size: 48px;
    color: #221F20;
    margin-right: 20px;
}
.loader{
    width: 40px;
}
.additional_header{
    padding: 16px 24px;
    height: 200px;
    transition: height 0.5s ease-in-out;
}
.show{
    height: 100%;
    transition: height 0.5s ease-in-out;
}
