.date {
	width: 100% !important;
	height: 44px;
}

.item {
	height: 100%;
}

.label{
	margin-bottom:6px;
	font-weight: 600;
	font-size: var(--font-size-md);
}

.heading{
	margin-bottom:6px;
	font-weight: 700;
	font-size: var(--font-size-lg);
}

.errors{
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
}

.element {
	padding: 4px;

	:global {
		.react-datepicker__input-container {
			width: 100%;

			:hover {
				border: 1px solid var(--color-accent-orange-2);
			}

			input {
				height: 42px;
				border: 1px solid #ebebeb;
				border-radius: 4px;
			}

			input::placeholder {
				font-size: 14px;
				font-weight: 400;
				color: #bdbdbd;
			}
		}

		.ui_select_input_placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_input_control::placeholder {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_upload_droparea_container {
			align-items: center;
			min-height: 40px;
			margin-bottom: 0;
			border: 1px solid #ebebeb;
			border-radius: 4px;
		}

		.ui_upload_droparea_icon {
			svg {
				height: 22px;
				margin-top: 8px;
			}
		}

		/* stylelint-disable-next-line selector-id-pattern */
		#booking_rate_procurement_proof {
			height: unset;
		}

		.ui_upload_droparea_heading {
			font-size: 14px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_upload_droparea_subheading {
			font-size: 12px;
			font-weight: 400;
			color: #bdbdbd;
		}
	}
}
