.container {
	display: flex;
	align-items: baseline;
	margin-right: 20px;
	font-size: 22px;
	font-weight: 600;
	line-height: 150%;
	color: #000;
	white-space: nowrap;
}

.tooltip_content {
	word-break: keep-all;
}

.info_icon {
	width: 12px;
	height: 12px;
	margin-left: 6px;
}
