.container{
    background-color: white;
    padding: 10px;
}

.outer_accordian{
    margin: 10px 0;

    :global{
        .ui_accordion_title{
        width: 100%;
       }

       .ui_accordion_content{
        padding: 10px 0px 0px 0px;
        background-color: none;
       }
    }
}

.inner_accordian{
    margin: 0;

    :global{
        .ui_accordion_container{
            box-shadow: none;
            border: 2px solid #F9F9F9;
            border-radius: 0px;
        }
    }
}
.heading{
    color: #4F4F4F;
    font-weight: 600;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner_title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_left{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_right{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.light{
    opacity: 0.7;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.databox{
    padding: 6px 24px 6px 64px;
    background-color: white;
    border: 2px solid #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom_box{
    :global{
        .ui_accordion_header{
            background-color: #F9F9F9;
            ;
        }
    }
}

.databox_image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.databox_content{
    margin: 0px 20px;
}
