.container{
	background: #f9f9f9;
	padding: 8px 16px;
	border-radius: 4px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-around;
}

.card_title{
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.icon {
	width: 100%;
	justify-content: center;
}