.container {
	display: flex;
	gap: 40px;
	align-items: center;
	margin: 76px 0 32px;
}

.item_container {
	flex-basis: 33%;
}

.heading {
	margin-bottom: 6px;
	font-weight: 700;
}

.content {
	display: flex;
	align-items: center;
	height: 120px;
	padding: 20px;
	border-radius: 8px;
}

.label {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 500;
}

.control_item {
	width: 60%;
	margin-left: 24px;

	&.cargo_value_currency {
		width: 72%;
	}
}

.flex {
	display: flex;
}

.superscipt {
	color: #ee3425;
}

.popover_container {
	max-width: 300px !important;
	word-break: keep-all;
	background-color: #fef199 !important;
	box-shadow: 0 0 9px 0 #f2f3fab2;

	:global {
		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}
}
