.wrapper {
	box-sizing: border-box;
	width: 100%;
	background: #fff;

	&.multiple {
		margin-top: 32px;
	}
}

.header_text {
	margin-bottom: 4px;
	font-weight: 500;
	color: #393f70;
}

.container {
	max-width: 500px;
	min-width: 320px;

	&.uploaded {
		padding: 6px;
		border-radius: 4px;
	}
}
