.container {
	margin-top: 20px;
}

.button_group_container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.wrap_text {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
