.container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    margin: 16px;
    gap: 12px;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 60px;
}

.port_pair{
    display: flex;
    gap: 12px;
    align-items: center;
}
.pills{
    display: flex;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.stats{
    display: flex;
    gap: 16px;
}
.buttons{
    display: flex;
    gap: 16px;
    margin-right: 32px;
}

