.container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    margin: 16px;
}

.heading{
    display: flex;
    gap: 16px;
    margin-top: 60px;
}

.port_pair{
    display: flex;
    gap: 12px;
}

.line{
    border: 0.5px solid #D6DBEB;
    background-color: #D6DBEB
}