.container{
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(169, 188, 218, 0.65);
    border-radius: 4px;
	margin: 10px 0
}

.animate_card {
    background: linear-gradient(90deg, #ffffff, #fae7e7, #ffffff);
    background-size: 400% 400%;
    animation: backgroundAnim 5s ease-in-out infinite alternate;

    @keyframes backgroundAnim {
		from {
			background-position: 100% 0;
		}
		to {
			background-position: 0 0;
		}
	}
}