.container {
    display: flex;
    gap: 32px;
}

.control_container {
    align-items: center;

    :global {
        .ui_input_container {
            width: 250px;
        }

        .ui_select_container {
            width: 250px;
        }
    }
}

.error_msg {
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
    color: #cb6464;
}

.question_type {
    margin-left: 80px;

    .control {
        margin-top: 4px;

        :global {
            .ui_chip_container {
                height: 28px;
            }
        }
    }
}