.container {
	margin-top: 30px;
}

.top_container,
.bottom_container {
	display: flex;
	padding: 8px 10px;
	margin-bottom: 8px;
	border-radius: 6px;
}

.top_container {
	margin-bottom: 40px;
}

.bottom_container {
	padding: 16px;
	border: 1px solid #f2f2f2;
}

.sub_item_one > div:not(:last-child),
.sub_item_two > div:not(:last-child) {
	margin-bottom: 10px;
}

.sub_item_one {
	flex: 1;
	margin-right: 20px;
}

.sub_item_two {
	flex: 2;
}

.sub_item_one:last-child {
	margin-right: 0;
}
