.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
}

.sub_heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.line {
	width: 50%;
	border: 1px solid #cbcff5;
	border-radius: 10px;
}

.custom_toggle {
	:global {
		.ui_toggle_onlabel {
			font-weight: 700;
		}

		.ui_toggle_offlabel {
			font-weight: 700;
		}
	}

	& > div:nth-child(2) > label > span::after {
		content: "";
		background-color: var(--color-accent-orange-2) !important;
	}

	& > div:nth-child(2) > label > span::before {
		content: "";
		background-color: var(--color-accent-orange-2) !important;
	}
}

.select {
	font-size: 12px;
}

.upload {
	margin-left: 12px;
	font-size: 12px;
	font-weight: 600;
	color: red;
}

.generic_upload {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	background: #fff1f3;
	border-radius: 4px;
	padding: 4px 8px;
	border: 1px solid rgb(246, 177, 177);
	box-shadow: rgba(249, 179, 179, 0.15) 0 0 10px;
}
