.rate_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	min-height: 160px;
	padding-top: 12px;
	margin-top: 20px;
	background: #fffdfc;
	border: 1px solid #f9f7f7;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.middle {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.freight_details_container {
	flex-basis: 50%;
	margin-right: 24px;
}

.total_freight_container {
	flex-basis: 50%;
}

.freight_text {
	margin-bottom: 4px;
	font-size: 10px;
	color: #000;

	&.total {
		margin-right: 6px;
		font-size: 12px;
	}
}

.freight_details {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.middle {
		flex-direction: column;
		align-items: stretch;
	}

	.freight_details_container,
	.total_freight_container {
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 24px;
	}
}

.pill {
	display: flex;
	align-items: center;
	padding: 2px 8px;
	margin-right: 2px;
	margin-bottom: 6px;
	color: #221f20;
	cursor: pointer;
	background: #f9f9f9;
	border: 1px solid #e0e0e0;
	border-radius: 24px;
}
