.details_container {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	.details {
		display: flex;
		flex-direction: column;
		margin-right: 40px;
	}

	.details_value {
		font-weight: 600;
	}
}

.document_container {
	display: flex;
	margin-bottom: 12px;

	& a {
		display: flex;
		align-items: center;
		margin-right: 12px;
		color: var(--color-accent-orange-2);
	}
}

.remark {
	display: flex;
	margin-bottom: 8px;
}

.label {
	padding-right: 4px;
	font-weight: 500;
}

.text_area {
	min-height: 80px;
	padding: 4px;
	margin-top: 6px;
}

.modal_footer {
	& > button:first-child {
		margin-right: 12px;
	}
}

.icon {
	margin-left: 4px;
}

.remarks_style {
	font-size: 12px;
	font-weight: 500;
}
