.button_section {
	display: flex;
	justify-content: flex-end;
}

.sample_download {
	display: flex;
	align-items: center;
}

.text_button {
	padding: 0 7px !important;
	margin: 0 !important;
	font-size: 12px !important;
	color: #ee3425 !important;
	text-decoration: underline !important;
	background: none !important;
	border: none !important;

	&:hover {
		box-shadow: none !important;
	}
}
