.form_container {
	margin-bottom: 10px;
}

.form_item_container {
	margin: 8px 0;
}

.contact_form_item {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
}

.country_code {
	width: 28%;
}

.contact_number {
	width: 70%;
}

.form_action {
	display: flex;
	justify-content: flex-end;
}

.cancel {
	margin-right: 8px;
}

.errors {
	font-size: 12px;
	color: red;
}

.form_label {
	font-size: 12px;
	font-weight: 600;
}
