.header {
	display: flex;
	align-items: center;
	margin: 6px 0 16px;

	@media (max-width: 800px) {
		margin: 38px 16px 16px;
	}
}

.title {
	margin: 0 0 0 6px;
	font-size: 20px;
	font-weight: 600;
}

.back_icon {
	color: #221f20;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column;
}

.already_signed {
	display: flex;
	justify-content: center;
	padding: 12px 0 0;
	font-weight: 500;
}

.signed_document_container {
	display: flex;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.refresh_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.refresh_icon {
	cursor: pointer;
	transition: 0.2s all;
	transform: scale(0.9);

	&:hover {
		transform: scale(1);
	}
}

.animate {
	transform: scale(0.9);
	animation: spin-anim 1.2s linear infinite;

	&:hover {
		transform: scale(1);
	}

	@keyframes spin-anim {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(-360deg);
		}
	}
}

.signed_documents_display {
	padding: 0 12px;

	@media (max-width: 768px) {
		margin-top: 14px;
	}
}

.signed_document_status {
	@media (max-width: 768px) {
		display: flex;
		margin-left: 10%;
	}
}
