.request_reopen {
	margin-left: 8px;
	font-weight: 600;

	& span {
		color: var(--color-primary-error-red-2);
	}
}

.details {
	display: flex;

	& div {
		display: flex;
		flex-direction: column;
		margin-right: 16px;
	}

	& span {
		font-weight: 500;
	}

	.label {
		font-size: var(--font-size-md);
	}
}

.modal_footer {
	& button:first-child {
		margin-right: 12px;
	}
}
