.request_reopen {
	margin-right: 8px;
	font-weight: 600;

	& span {
		color: var(--color-primary-error-red-2);
	}
}

.details {
	display: flex;
}

.modal_footer {
	& button:first-child {
		margin-right: 12px;
	}
}
