.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name_container {
	display: flex;
	align-items: flex-start;
}

.avatar {
	margin-right: 8px;
	font-size: 40px;
}

.name_details {
	display: flex;
	flex-direction: column;
	padding: 8px;
	font-size: 24px;
	font-weight: 500;
	color: #221f20;
}

.profile_container {
	display: flex;
	align-items: flex-start;
}

.progress_bar {
	margin-top: -8px;
	margin-right: 24px;

	:global {
		.ui_progressbar_progress {
			background-color: #81c0af;
		}
	}
}
