.deactivate_text {
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.deactivate_text.tile_bold {
	margin: 4px 0 0;
	font-weight: 500;
}

.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
}
