.container {
	margin-top: 24px;
}

.heading {
	margin-bottom: 12px;
}

.card {
    padding: 16px 20px;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	border-radius: 8px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: 0 0 4px rgb(0 0 0 / 5%);
}

.label_value_cotainer {
	display: flex;
	align-items: center;
	flex-basis: 25%;

	@media(max-width: 768px) {
		flex-basis: 50%;
	}
}

.label {
	margin-right: 4px;
	color: #828282;
}

.pills {
	display: flex;
	align-items: center;
}
