.container {
	display: flex;
	flex-direction: column;
}

.comments_wrap {
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: space-evenly;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
