.container{
    margin:20px;
    display: flex;
    flex-direction: column;
}

.tab_heading{
    font-weight: 400;
    font-size: 14px;
}
.button_select_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.select_container{
    width:270px;
}

.button_container{
    width:270px;
    display: flex;
    justify-content: space-between;

}
.btn_container{
    width:150px;
    display: flex;
    justify-content: space-between;
}

.modal_text{
    font-weight: 500;
    font-size: 16px;
    color: #F37166;
}