.container {
	margin-bottom: 10px;
}

.accordian_heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 24px;
	margin: 0;
	font-family: var(--font-family);
	text-align: left;
	cursor: pointer;
	border: 1px solid rgb(0 0% 88% / 20%);
	border-radius: 6px;
	box-shadow: 0 0 4px rgb(44 62 80 / 20%);
}

.accordian_container {
	padding: 12px 20px;
	margin:0;
	background-color: var(--color-tertiary-beige-5);
}
