.container {
	display: flex;
	gap: 15px;
	align-items: center;
	padding-top: 10px;
}

.tag {
	padding: 4px;
	font-size: 12px;
	font-size: 10px;
	color: #333;
	background-color: #f2f2f2;
	border-radius: 4px;
}
