.container {
	position: relative;
	width: 30%;
	overflow: hidden;
	border-right: 1px solid #e0e0e0;
	border-radius: 8px 0 0 8px;
	transition: all 0.3s;
}

.initial_state {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
}

.input_styles {
	:global {
		.ui_input_container.ui_ps_size_md {
			height: 28px !important;
		}

		.ui_input_control {
			height: 28px;
			font-size: 14px;
		}
	}
}

.text {
	font-size: 18px;
	font-weight: 600;
}

.close_icon {
	position: fixed;
	top: 1%;
	right: 0;
	min-width: fit-content !important;
	height: fit-content !important;
	padding: 10px !important;
	font-size: 16px !important;
	color: #ee3425 !important;
	border-radius: 50%;

	&:hover {
		background: white;
		box-shadow: 0 0 8px rgb(44 62 80 / 20%);
	}
}
