.container{
    background-color: #fff;
}
.service_container{
	display: flex;
	width: 100%;
	padding: 0px 22px 29px 22px;

	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;
		margin: 0px 10px 0px 30%;
	}

	@media (max-width: 768px) {
		margin: 0px 0 0px 0;
		width: 100%;
	}

}
.card_block {
	display: block;
	width: 33%;
	@media (max-width: 768px) {
		width: 100%;
		margin: 0px 10px 0px 0px;
	}
}
.title{
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #393f70;
}