.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.title {
	font-weight: 500;
	font-size: 14px;
	color: #4F4F4F;
}

.wrapper {
	padding-top: 22px;

	:global {
		.ui_input_container.ui_x-NGo {
			height: 120px !important;
		}

		.ui_input_container.ui_ps_size_md .ui_input_control.ui_HZPDt {
			font-size: 12px !important;
		}
	}
}

.label {
	margin-bottom: 5px;
}

.date_wrapper {
	padding-top: 16px;
}

.time_title {
	
	font-size: 12px;
	color: #4F4F4F;
}

.time_container {
	display: flex;
	justify-content: space-around;
	padding-top: 26px;
	width: 100%;

	:global {
		input {
			border: none !important;
			width: 75% !important;
			border-right: 1px solid #BDBDBD !important;
		}
		.react-datepicker__input-container {
			:focus-visible {
				outline-color: none;
    			outline-width: 0;
			}
		}

		/* .react-datepicker__close-icon {
			::after {
				content: url('https://cdn.cogoport.io/cms-prod/cogo_admin/vault/original/alarm-timer.svg')
			}
			display: none !important;
		} */
	}
}

.start_time {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.input_time {
	:hover {
		border: 0px solid #F68B21;
	}
}
.end_time {
	display: flex;
	flex-direction: column;
	width: 50%;	
}

.wrap_start {
	display: flex;
	padding: 2px;
	background-color: #ffff;
	border-radius: 4px 0 0 4px;
	border: 1px solid #828282;
}

.wrap_end {
	display: flex;
	padding: 2px;
	background-color: #ffff;
	border-radius: 0 4px 4px 0;
	border: 1px solid #828282;
	border-left: none;
}

.button_container {
	display: flex;
	width: 100%;
	align-items: center;
	/* justify-content: space-evenly; */
	padding: 21px 0 16px 65px;
	border-bottom: 1px solid #E0E0E0;;
}

.reset_button {
	font-size: 12px;
	font-weight: 600;
	color: #221F20;
	cursor: pointer;
}

.set_button {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}