.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: white;
}

.content_container {
	display: flex;
	align-items: center;
}

.count_heading {
	font-size: 20px;
	font-weight: 600;
}

.pills_container {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.pill {
	padding: 6px 12px;
	margin-right: 12px;
	background: #f2f3fa;
	border: 1px solid #ececec;
	border-radius: 24px;
}

.unselect_button {
	margin-left: 8px;
}

.buttons_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	margin-right: 20px;
}
