.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.proceed_button {
	@media (max-width: 768px) {
		width: 100%;
		margin-top: 12px;
	}
}
