.container {
	width: 100%;

	:global {
		.react-datepicker-wrapper {
			width: 100%;
		}

		.ui_select_display_container {
			width: 220px !important;
		}
	}
}

.wrap {
	margin-bottom: 8px;
}

.label {
	margin-bottom: 6px;
}

.footer_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 14px;
}
