.service_stats {
	min-width: 49.3%;

	/* height: 221px; */
	background: #fff;
	border-radius: 8px;
}

.text_filters_gap {
	display: flex;
}

.receivables_data {
	display: flex;
}

.label {
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.4px;
}

.recei_label {
	padding-right: 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.4px;
}

.main {
	display: flex;
	justify-content: space-between;
}

.space_between {
	display: flex;
	gap: 16px;
	margin-top: 30px;

	@media (max-width: 1120px) {
		flex-direction: column;
	}
}

.segment_filters {
	margin: 20px 30px 0 0;
}

.text_style {
	margin: 24px 0 0 30px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}

.icon {
	margin: 30px 0 0 5px;
	cursor: pointer;
}

.border {
	width: 70px;
	height: 2px;
	margin: 4px 0 0 2px;
	background: #ed3726;
	border-radius: 4px;
}

.borders {
	height: 20px;
	margin: 0 28px;
	border-bottom: 1.5px solid #cfcfcf;
}

.progress {
	background-color: #e0e0e0;
}

.texts {
	margin-left: 36px;
	font-weight: 400;
	color: #333;
	letter-spacing: 0.02em;
}

.legend {
	:global {
		.ui_legend_item {
			margin: 16px 170px -10px 35px;
		}
	}
}

.progress_bar {
	:global {
		.ui_progressbar_filename {
			display: none;
		}

		.ui_progressbar_bar {
			width: 80%;
			margin: 20px 0 4px 34px;
			background: #88cad1;
		}
	}
}

.text_styles {
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
}

.flex {
	display: flex;
	margin-top: 10px;
}

.sub_container_click {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding: 12px 16px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 600;
	color: #ed3726;
	cursor: pointer;
	background: #fdebe9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.sub_container {
	display: flex;
	gap: 10px;
	justify-content: center;
	height: 42px;
	padding: 12px 16px;
	margin-right: 16px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.filter_style {
	:global {
		.filter {
			flex-flow: nowrap;
			/* stylelint-disable-next-line selector-class-pattern */
			.react-datepicker__input-container {
				input {
					margin-top: 0;
				}
			}
		}
	}
}

.account_payment_box {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	height: 150px;
	margin: 30px;
	background: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 8px;
}

.border_left {
	position: relative;
	right: 60px;
	height: 100px;
	margin: 20px;
	border-left: 2px solid #cfcfcf;
}

.responsive_pie_chart {
	min-width: 44%;
	background: #fff;
	border-radius: 8px;
}

.color_box {
	width: 30px;
	height: 12px;
	margin: 4px 0 0;
	background: #cfeaed;
	border-radius: 8px;
}

.icon_plus_styles {
	margin-right: 12px;
	color: #34c759;
	transform: translate(10px, 2px) rotate(-45deg);
}

.icon_minus_styles {
	margin-right: 12px;
	color: #f8aea8;
	transform: translate(10px, 2px) rotate(+45deg);
}

.account_change_text_style {
	display: flex;
}

.yesterday_text_style {
	margin-left: 10px;
}

.accounts_text_style {
	display: flex;
	font-size: 12px;
	font-weight: 500;
	color: #828282;
}

.on_account {
	margin-left: 10px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.color_box_outstanding {
	width: 30px;
	height: 12px;
	margin: 4px 0 0;
	background: #88cad1;
	border-radius: 8px;
}

.current_overdue_style {
	display: flex;
	justify-content: space-between;
	width: 76%;
}

.current_amount_style {
	margin-left: 60px;
	font-size: 16px;
	font-weight: 500;
}

.icon_style {
	display: flex;
	align-items: center;
	padding-right: 12%;
}

.legend_style {
	display: flex;
	justify-content: flex-start;
}
