.container {
	display: flex;
	flex-direction: column;
}

.question_heading {
	display: flex;
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.answer_item {
	margin-bottom: 20px;
}

.answer_header {
	display: flex;
	align-items: center;
	width: 50%;
}

.question_number {
	margin-right: 12px;
}

.answers_container {
	display: flex;
	flex-direction: column;
}

.percentage_bar {
	height: 8px;
	margin-right: 12px;
	background: #bdbdbd;
	border-radius: 8px;
	transition: width 0.2s ease-in;
}

.peer_percentage {
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}

.answer_text_container {
	position: relative;
	display: flex;
	align-items: center;
}

.avatar {
	position: absolute;
	left: -16px;

	:global {
		.ui_avatar_text {
			color: #221f20;
			background-color: #f9f9f9;
		}
	}
}

.answer_text {
	font-size: 14px;
	color: #221f20;
}

.answer_tick {
	margin-left: 8px;
	font-size: 24px;
	color: #849e4c;
}

.correct_answer {
	font-weight: 600;
	color: #849e4c;
}

.case_study {
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
	text-decoration-line: underline;
}

.display_question {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.placeholder_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 12px 0;
	cursor: pointer;
	border-bottom: 1px solid #f8f2e7;
}

.placeholder_inner_container {
	padding: 16px;
	margin-bottom: 8px;
	background-color: #fff;
	border-radius: 4px;
}

.main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.explanation {
	width: 40%;
	max-height: 200px;
	padding: 12px;
	overflow: auto;
	background: #fff;
	border-radius: 6px;
}
