.container {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	overflow-y: auto;
}

.prev_selected {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.no_container {
	display: none;
}

.border_bottom_required {
	border-bottom: 1px solid #e0e0e0;
}

.hierarchy_data_view {
	width: 1px;
	height: 30px;
	background: #e0e0e0;
}
