.header {
	margin-right: 30px;
	font-size: 24px;
	font-weight: 700;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.employee_name:hover {
	width: fit-content;
	text-decoration: underline;
	cursor: pointer;
}

.flex {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		flex-wrap: wrap;
		margin-top: 50px;
	}
}

.rating_cycle_select {
	width: 300px;

	@media (max-width: 768px) {
		width: 100%;
		margin-top: 20px;
	}
}

.select_container {
	display: flex;
	align-items: center;
	margin: 16px 0;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.async_select {
	width: 250px;
	margin: 0 8px;

	@media (max-width: 768px) {
		width: 100%;
		margin: 8px 0;
	}
}

.rating_flag {
	min-width: 50px;
	text-align: center;
}

.table_text {
	text-align: center;
}

.label {
	margin-bottom: 4px;
}

.table_container {
	display: flex;
	max-width: 100%;
	margin-top: 20px;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.flexitem_1 {
	width: 80%;

	@media (max-width: 768px) {
		order: 2;
		width: 100%;
		margin-top: 20px;
	}

	:global {
		.ui_accordion_title div {
			width: 100%;
		}
	}
}

.flexitem_2 {
	width: 20%;
	padding-left: 20px;

	@media (max-width: 768px) {
		order: 1;
		width: 100%;
		padding-left: 0;
	}
}

.icon_flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
}

.active {
	fill: red;
}

.inactive {
	fill: #fff;
}

.header_text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right_table {
	:global {
		.ui_table_container {
			width: 230px;
		}
	}
}

.mean_value_wrapper {
	padding: 10px 0  0 20px;
	font-weight: 600;
}
