.container {
	padding: 16px;

	:global {
		.ui_upload_droparea_container {
			background-color: #f8f8fa;
		}

		.ui_button_container {
			padding: 7px 45px;
		}
	}
}

.col {
	margin-bottom: 10px;
}

.header {
	display: flex;
	align-self: center;
	justify-content: space-between;
}

.main_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.footer_btn {
	margin-top: 20px;
}

.errors {
	font-size: 11px;
	color: #f33;
}
