.container {
	display: flex;
	justify-content: space-between;
}

.modalcontainer {
	:global {
		.ui_modal_body_container {
			max-height: 95vh !important;
		}
	}
}

.sub_org_name_conatiner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.styled_name {
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.styled_tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 500;
	background-color: #ded7fc;
	border-radius: 4px;
}

.heading {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
}

.hr {
	height: 1px;
	margin-bottom: 8px;
	background: #2c3e50;
}

.legal_business_name {
	font-size: 10px;
	font-weight: 500;
	line-height: 11px;
	color: #616161;
}

.popover_wrapper {
	display: flex;
	justify-content: flex-end;
}

.width_container {
	width: 100px;
}

.style_margin_top {
	margin-top: 4px;
}

.padding_container {
	padding: 4px;
}

.accordion {
	margin-top: 24px;

	:global {
		.ui_accordion_content {
			background-color: #fff;
		}
	}
}

.org_list {
	margin-bottom: 16px;
}

.tabbs {
	margin-top: 24px;
}

.cross {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 12px;
	margin-right: 12px;
	cursor: pointer;
}
