.container {
	display: flex;
	flex: 2;
	align-items: center;
	padding: 12px;
	background-color: #fff;
	border-radius: 4px;
}

.graph {
	position: relative;
	width: 240px;
	height: 200px;
}

.graph_total {
	position: absolute;
	top: 80px;
	left: 72px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.graph_label {
	font-size: 16px;
	color: #828282;
}

.graph_count {
	font-size: 20px;
	font-weight: 500;
	color: #221f20;
}

.dot {
	width: 8px;
	height: 8px;
	margin-right: 4px;
	border-radius: 50%;
}

.open {
	background-color: #f8aea8;
}

.escalated {
	background-color: #fcdc00;
}

.pending {
	background-color: #e0e0e0;
}

.closed {
	background-color: #ced1ed;
}

.legends {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.legend {
	display: flex;
	flex-direction: column;
}

.legend_count {
	display: flex;
	align-items: center;
	margin-left: 36px;
}

.stats_count {
	min-width: 35px;
	font-size: 12px;
	font-weight: bold;
	color: #221f20;
}

.stats_label {
	margin-left: 48px;
	font-size: 10px;
	font-weight: 400;
	color: #4f4f4f;
}
