.step2 {
	&:global(.ui_ps_size_xl) {
		width: 95vw;
	}

	.modal_body_container {
		display: flex;
		gap: 4%;
		max-height: 70vh !important;
	
		.form_container {
			flex: 1;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			gap: 4%;
			
			> div {
				width: 48%;
			}
		}
	
		> div:nth-of-type(2) {
			flex: 1.5;
		}
	}
	
}

.modal_footer {
	> button:not(:first-of-type) {
		margin-left: 10px;
	}
}