.card {
	margin: 8px 0;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.title {
	display: inline-block;
	padding: 12px;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
}

.sub_card {
	padding: 12px;
	background-color: #fdfbf6;
}

.popover_txt {
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}

.popover_header {
	display: flex;
	margin-bottom: 6px;
}

.popover_body {
	display: flex;
	justify-content: space-between;
	padding: 4px;
	margin-bottom: 4px;
}

.name {
	width: 40%;
}

.arrow {
	display: flex;
	align-items: center;
	width: 20%;
}

.popover {
	height: 200px;
	padding: 12px;
	overflow-y: scroll;
}

.head {
	width: 50%;
	font-weight: 600;
}

.port_code {
	color: #f68b21;
}

.destination_header {
	margin-left: 20%;
}

.origin_header {
	margin-left: 2%;
}
