.graph_container {
	position: relative;
	width: 100%;

	:global {
		.svg-funnel-js {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 200px;
			overflow-y: hidden;
		}

		.svg-funnel-js__container {
			svg {
				width: 100%;
				height: 200px;
				overflow-y: hidden;
			}
		}

		.svg-funnel-js__labels,
		.svg-funnel-js__subLabels {
			display: none;
		}
	}
}

.graph_labels {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.graph_labels_item {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 310px;
	padding: 10px 4px 0;
	font-size: 12px;
	text-align: center;
	border-right: 0.5px solid #dbdbdb;
	border-left: 0.5px solid #dbdbdb;

	&:hover {
		font-weight: 600;
		cursor: pointer;
		border-right: 1px solid #909190;
		border-left: 1px solid #909190;
	}
}

.graph_values {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 6px;
	font-size: 16px;
	font-weight: 600;
}
