.table {
	:global {
		table {
			padding: 0;
			border-spacing: 0 16px;
		}

		background-color: transparent;
		border-radius: 10px;
		scroll-behavior: smooth;

		.ui_table_head_cell {
			padding: 10px;
			color: white;
			background-color: #333 !important;
			border-right: none !important;
		}

		.ui_table_body_cell {
			border-spacing: 0 15px;
			border-collapse: separate;
			background: #fff;
			background-color: #fff;
			border-right: none !important;
		}

		.ui_table_body_row {
			position: relative;
		}
	}
}
