.loader {
	height: 100px;
}

.loader_main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty_state {
	display: flex;
	height: 100vh !important;
}

.card {
	width: 100%;
}

.header_container {
	display: flex;
	width: 100%;
	padding: 10px 0 15px;
}

.header_sub_container {
	display: flex;
	align-items: center;
	width: 33%;
	font-size: var(--font-size-lg);
	font-weight: 600;
	color: #4f4f4f;
}

.cost_sheet {
	width: 100%;
}
