.container {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.services_container {
	padding: 0 22px 30px;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
		width: 100%;
		margin: 0 10px 0 30%;
	}
	@media (max-width: 768px) {
		width: 100%;
		margin: 0;
	}
}

.title {
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: #393f70;
}

.upselling {
	display: flex;
	flex-wrap: wrap;

	& > div{
		flex: 0 0 23.5%;
		margin: 0px 8px 4px 0px;
	}
} 


.header{
	width: fit-content; 
	height: fit-content; 
	white-space: nowrap; 
	position: relative; 
	display: flex;  
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 14px; 
	margin: 24px 0px 16px 0px;

	&::after{ 
		content: '';  
		display: inline-block; 
		position: absolute;
		width: 30%;
		background-color: #EE3425; 
		height: 2px;  
		top: 22px;
		

	}
}
