.container {
	display: flex;
	flex-direction: column;
	width: 49.5%;
	padding: 20px;
	margin: 10px 0;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.loading_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 292px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	font-size: 18px;
	color: #212121;
}

.pie_chart_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.pie_chart_body {
	width: 220px;
	height: 220px;
}

.legends_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.legend_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding: 0 20px;
}

.legend_item_name {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.legends_circle {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 100%;
}

.legends_value {
	font-size: 24px;
	font-weight: 600;
	text-align: right;
}

.style_component_text {
	font-size: 26px;
	font-weight: 700;
	color: #0c0507;
}
