.container {
	display: block;
	flex: 1;
	padding: 12px;
	margin: 8px;
	background-color: #fdeec6;
	border: none;
	border-radius: 8px;
}

.container:hover {
	cursor: pointer;
	background-color: #e7dab7;
}

.active {
	background: #ffdfb7;
}

.file_header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 8px;
}

.file_data {
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	color: #4f4f4f;
}

.text {
	display: inline;
}
