.card_wrapper {
	max-width: 100%;
	padding: 14px;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 12px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.card_container {
	padding-bottom: 14px;
	border-top: 1px solid #e0e0e0;
}

.arrow_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	cursor: pointer;
	border-top: 1px solid #e0e0e0;
}

.collapse_icon_active {
	transition: transform 400ms;
	transform: rotate(180deg);
}

.collapse_icon_inactive {
	transition: transform 400ms;
	transform: rotate(0deg);
}
