.contact_details {
	display: flex;
	flex-direction: column;
}

.user_name {
	font-weight: 700;
}

.sub_text {
	font-size: 12px;
	color: #f68b21;
}

.no_whatsapp {
	display: flex;
	align-items: center;
	color: #cb6464;
}

.flex {
	display: flex;
	align-items: center;
	margin-top: 8px;
}
