.Container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px;
}

.FlexRowOrigin {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-bottom: 6px;

	&.customs {
		margin: 0 20px;
	}
}

.FlexRowDest {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-bottom: 6px;
}

.Value {
	width: 100%;
	font-size: 12px;
	font-weight: 700;
	color: #333;
}

.IconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	margin: 0 20px;
}

.PortCode {
	display: flex;
	align-items: center;
	line-height: 16px;
}

.Code {
	margin: 0;
	margin-right: 4px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.Country {
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.IconAndService {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 24px 0 0;
}

.Text {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.Icd {
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.DateContainer {
	font-size: 10px;
}

.LocationContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.PortPairContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
}

.Status {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
}

.State {
	padding: 4px;
	font-weight: 600;
	color: #5936f0;
}

.serviceName {
	display: flex;
	justify-content: center;
	width: 80px;
	font-size: 10px;
}
