.container {
	width: fit-content;
	cursor: pointer;
}

.btn {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin: 6px 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.options > div:hover {
	background-color: #fffce6;
}

.tooltip_pad {
	padding: 0;
}
