.uploader {
	margin-top: 10px;
}

.error_msg {
	color: #ee3425;
}

.btn_row {
	display: flex;
	margin-top: 24px;
}

.container {
	padding: 30px 30px 0;
}

.upload_new_hire {
	margin-top: 20px;
	font-size: 15px;
	font-weight: 100;
	color: #6d6d6d;
}

.guide_title {
	margin-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
}

.instruction {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	font-size: 16px;
}

.render_select {
	display: flex;
	align-items: center;
	margin: 2px 0 2px 8px;

	:global {
		.ui_select_container.ui_ps_size_md .ui_select_display_container {
			width: 240px;
			height: 32px;
		}

		.ui_select_container.ui_ps_size_sm .ui_select_display_container {
			width: 240px;
		}
	}
}

.select_container {
	display: flex;
	align-items: center;
}

.copy_icon {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	cursor: pointer;

	:global {
		:hover {
			transition: transform 0.1s ease;
			transform: scale(1.1);
		}
	}
}

.copy_icon_disabled {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	cursor: not-allowed;
}
