.uploader {
	margin-top: 10px;
}

.error_msg {
	color: #ee3425;
}

.btn_row {
	display: flex;
	margin-top: 24px;
}

.container {
	padding: 30px 30px 0;
}

.upload_new_hire {
	margin-top: 20px;
	font-size: 15px;
	font-weight: 100;
	color: #6d6d6d;
}

.guide_title {
	margin-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
}

.instruction {
	margin-bottom: 4px;
	font-size: 16px;
}
