.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_container {
	width: 45%;
}

.header {
	margin-bottom: 12px;

	.title {
		margin: 0;
	}

	:global {
		.ui_toggle_container {
			padding: 0 20px;
		}
	}
}

.btn_text {
	margin: 0 5px;
}

.empty_state {
	display: flex;
	align-items: center;
	padding: 30px;
	background-color: #f7f7f7;
	border: 1px dashed #b1b1b1;
	border-radius: 10px;

	>h2 {
		margin: 0 0 0 10px;
	}
}
