.toggle {
	margin-top: 12px;
	margin-bottom: -8px;

	:global {
		.ui_tab_container {
			padding: 8px 16px;
		}

		.ui_tab_active {
			padding: 8px 12px !important;
		}
	}
}

.label {
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}
