.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_heading {
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
}

.main_heading:hover {
	color: var(--color-primary-error-red-2);
	text-decoration: underline;
}

.tour_btn {
	margin: 0 16px;
}

.tour_btn:hover {
	svg {
		width: 20px;
		height: 20px;
		transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
	}
}

.segmented_section {
	margin-right: 12px;
}

.entity_select {
	width: 320px;

	:global {
		.ui_select_display_container {
			height: 42px !important;
		}
	}
}

.filter_group {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.exclude_section {
	:global {
		.ui_checkbox_container {
			padding: 12px 0;
		}
	}
}
