.select_copies_container {
	:global(.ui_checkbox_group_container) {
		padding-top: 0;
	}

	:global(.ui_checkbox_container) {
		padding: 4px;
		font-size: 10px;
		line-height: 18px;
		color: #333;
	}

	:global(.ui_checkbox_container:nth-child(even)) {
		background: #fffaee;
		border: 1px solid #ffead4;
	}
}

.select_checkbox {
	margin: 8px;
	margin-bottom: 0;
	font-weight: 600;
	color: #f68b21 !important;
	background: #fffaee;
	border: 1px solid #ffead5;
}
