.text {
	font-size: 14px;
	font-weight: 500;
	text-align: center;

	&.bold {
		font-weight: 600;
	}
}

.body {
	padding: 50px;
	margin-bottom: 20px;
	border: none !important;
}

.button_div{
	margin-right: 20px;
}
