.buttonText{
    font-size: 12px;
	font-weight: 700;
	color: #828282;
	text-align: center;
	cursor: pointer;
	width: 100px;
}

.buttonDiv{
	display: flex;
	align-items: center;
	margin: 22px;
	justify-content: flex-end;

	.core-ui-button-root {
		text-transform: capitalize;
		width: 140px;
	}
}