.container {
	display: flex;
	width: 200px;
	padding: 16px 20px;
	margin: 0 20px 0 -24px;
	background: #fffafa;
	border-radius: 0 6px 0 0;

	@media (max-width: 1080px) {
		width: 160px;
	}
	@media (max-width: 768px) {
		width: 120px;
		padding: 12px 16px;
		margin-right: 6px;
		margin-left: 0;
	}
}

.org_name {
	max-width: 140px;
	margin-bottom: 6px;
	overflow: hidden;
	font-weight: 400;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
	opacity: 0.6;

	@media (max-width: 1080px) {
		max-width: 100px;
	}
	@media (max-width: 768px) {
		max-width: 80px;
		font-size: 10px;
	}
}

.user_name {
	max-width: 140px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;

	@media (max-width: 1080px) {
		max-width: 100px;
	}
	@media (max-width: 768px) {
		max-width: 80px;
		font-size: 10px;
	}
}

.icon {
	cursor: pointer;
}

.tooltip {
	width: max-content;
}

.tooltip_content {
	text-align: left;
	word-break: keep-all;
}
