.popover_content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	:global {
		.ui_select_container {
			width: 260px;
		}
	}
}

.styled_text {
	margin-top: 16px;
	margin-bottom: 8px;
	font-weight: 600;
}

.button_container {
	display: flex;
}

.search_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0 20px;
}

.styled_search_text {
	font-size: 16px;
	font-weight: 700;
}

.reset_button {
	margin-right: 4px;
}

.pop_over_style {
	display: flex;
	align-items: flex-start;
	width: fit-content;
	min-height: 320px;
}

.margin_span {
	margin-top: 12px;
}

.filter_div_style {
	display: flex;
}

.tab_container {
	:global {
		.ui_tabs_container .ui_tab_list_container.ui_ps_themeType_primary-vertical {
			width: 300px;
		}

		.ui_select_container {
			width: 220px;
		}
	}
}

.tabpanel_style {
	display: flex;
	margin-left: 20px;
}

.style_radio {
	flex-direction: column;
}

.style_filter_button {
	color: var(--color-primary-error-red-2);
}
