.container {
	margin-top: 24px;
}

.heading {
	margin-bottom: 12px;
}

.card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 16px 20px;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 5%);
}

.label_value_cotainer {
	display: flex;
	flex-basis: 33%;
	align-items: center;

	@media (max-width: 768px) {
		flex-basis: 50%;
	}
}

.label {
	margin-right: 4px;
	color: #828282;
}

.tooltip_content {
	display: flex;
	flex-direction: column;
}

.tooltip_child {
	display: flex;
	align-items: center;
}

.pill {
	:global {
		.ui_pill_text {
			word-break: break-word;
		}
	}
}
