.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 10px;
	background-color: #f9f9f9;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: none;
}

.card_title {
	display: flex;
	padding: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.column_labels {
	display: flex;

	:global {
		.ui_input_container {
			margin-left: 10px;
		}
	}
}

.data_labels {
	font-weight: 400;
	color: #4f4f4f;
}

.service_card_title {
	width: 35%;
}

.base_price_card_title {
	width: 12%;
}

.margin_type_card_title {
	width: 16%;
}

.margin_value_card_title {
	width: 24%;
}

.sell_price_card_title {
	width: 11%;
}
