.container {
	display: block;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
}

.col {
	width: 27%;
	padding: 10px;
	margin: 10px 16px;
}

.footer {
	display: flex;
	justify-content: flex-end;
	width: 85%;
	margin: 10px 0;
}

.error {
	font-size: 12px;
	color: #ee3425;
}
