.container{
    padding: 24px;
	display: flex;
}

.search_container{
	display: flex;
	justify-content: space-between;
}

.pagination_container{
	justify-content: flex-end;
	display: flex;
	align-items: center;
	margin: 10px 0px;
}

.card_container{
	gap: 12px;
	max-height: 78vh;
	overflow: auto;
}