.modal_container {
	left: 99% !important;
	width: 350px !important;
	padding: 0;
	border: unset;

	:global {
		.ui_modal_header_container {
			padding: 10px;
		}
	}
}

.modal_body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: unset !important;
	padding: 0;
	margin: 0;
	border-bottom: unset !important;
}

.feedback_section {
	padding: 12px;
	background-color: transparent;
}

.feedback_action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 16px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.back_action {
	display: flex;
	align-items: center;
}

.feedback {
	display: flex;
	align-items: center;
	width: max-content !important;
	min-width: unset !important;
	padding: 0 !important;
	margin-right: 4px;

	svg {
		width: 28px;
		height: 28px;
	}
}

.title {
	position: relative;
	display: flex;
	align-items: center;
	width: max-content;
	margin-top: -6px;
	font-size: 16px;
	font-weight: 600;

	&::after {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 70%;
		height: 2px;
		content: "";
		background-color: #000;
		border-radius: 4px;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 6px;
	}
}

.pagination {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
