.container {
	flex-basis: 48%;
	padding: 16px;
	background-color: #fff;
	border-radius: 16px;

	:global {
		.ui_progressbar_container {
			padding: 4px 0;
		}

		.ui_progressbar_bar {
			width: 100%;
			height: 4px;
			box-shadow: none;
		}

		.ui_progressbar_filename {
			display: none;
		}

		.ui_progressbar_progress {
			height: 4px;
			background-color: #abcd62;
		}
	}
}

.header_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;
	padding-bottom: 0;
	font-weight: 600;
	color: #221f20;
	border-bottom: 1px solid  #e0e0e0;
}

.sub_text {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 24px;
	font-size: 16px;
	color: #4f4f4f;
}

.progress_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
	color: #4f4f4f;
}

.achieved_target {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #221f20;
}

.avatar {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.points {
	font-size: 14px;
	font-weight: 500;
	color: #4f4f4f;
}

@media (max-width: 768px) {
	.container {
		flex-basis: 100%;
		margin-bottom: 12px;
	}
}
