.container {
	display: flex;
	justify-content: space-between;

	:global {
		/* stylelint-disable-next-line selector-class-pattern */
		.ui_tab_container .ui_ps_themeType_tertiary {
			margin: 4px 0;
		}
	}
}

.header_right_section {
	position: relative;
	display: flex;
}

.filter_icon {
	padding: 5px 15px 0 0;
	cursor: pointer;
}

.filter_dot {
	position: absolute;
	left: 15px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #f68b21;
	border-radius: 50%;
}

.heading {
	display: flex;
	flex-direction: row;
}

.heading .heading_name {
	padding-left: 5px;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: #221f20;
}
