.filter_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
}

.search_icon {
	margin-right: 8px;
}

.filter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.sub_container {
	:global {
		.react-datepicker__input-container {
			display: flex;
			width: 125%;
		}
	}
}
