.plus_circle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	cursor: pointer;
	background-color: #000;
	border-radius: 100%;
	box-shadow: 3px 7px 16px #8a795d99;
}

.plus_circle svg {
	transition: 0.5s;
}

.wheel {
	position: absolute;
	bottom: 26px;
	height: 128px;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: bottom right;
}

.wheel_box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.action {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 1;
	transition: all 1s ease;
}

.wrapper {
	position: absolute;
	right: 65px;
	bottom: 100px;
	z-index: 99;
	cursor: pointer;

	& .checkbox {
		display: none;

		&:checked ~ .plus_circle .wheel_box .wheel {
			transform: scale(1);
		}

		&:checked ~ .plus_circle .wheel_box .wheel .action {
			opacity: 1;
		}

		&:checked ~ .plus_circle svg {
			transition: 0.5s;
			transform: rotate(45deg);
		}
	}
}

.action img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-shadow: 3px 7px 16px #8a795d61;
}

.call_icon {
	top: 35%;
	right: 11px;
	user-select: none;
}

.whatsapp_icon {
	top: 79%;
	right: 40px;
	user-select: none;
}

.mail_icon {
	top: 25%;
	user-select: none;
	background: #ffff;
	border-radius: 50%;
}

.contacts_icon {
	top: 160px;
	right: 14px;
	width: 50px;
	height: 50px;
	background-color: #f9ae64;
}
