.container {
	display: flex;
	width: 100%;
	margin-bottom: 2px;

	:global {
		.ui_accordion_container {
			box-shadow: none;
		}

		.ui_accordion_header {
			padding: 16px 10px;
			border-radius: 0;
		}

		.ui_accordion_title {
			width: 100%;
		}
	}
}

.content {
	position: relative;
}
