.forms {
	overflow: auto;
}

.invoice_value {
	margin-bottom: 12px;
	font-size: var(--font-size-xl);
	font-weight: 500;
	line-height: 16px;
	color: var(--color-secondary-greyscale-1);

	.amount {
		color: var(--color-accent-orange-2);
	}
}

.save_button {
	margin-left: 16px;
}
