.container {
	margin-top: 20px;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.table_cell {
	min-width: 120px;
}

.feedback {
	display: flex;
	align-items: center;
	min-width: 156px;
}
