.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 14px 0 10px;
	margin-bottom: 6px;
}

.main_heading {
	font-size: 14px;
	font-weight: 550;
	color: #333;
}

.date_filter_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 8px;
	margin-right: 12px;
	font-size: 10px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	svg {
		width: 14px;
		height: 14px;
		margin-left: 4px;
	}

	&:hover {
		box-shadow: 2px 2px 4px rgb(56 59 68 / 10%);
	}
}

.date_container {
	display: flex;
	align-items: center;
}

.pill {
	padding: 2px 5px;
	font-size: 10px;
	color: #333;
	background: #f2f2f2;
	border-radius: 4px;
}

.vertical_line {
	height: 18px;
	margin: 0 8px;
	border-right: 1px solid #e0e0e0;
}

.loader {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}
