.search {
	width: 30%;
	margin-bottom: 10px;
}

.pagination {
	display: flex;
	justify-content: flex-end;
}

.modal_body {
	height: 464px;
}

.search_switch_toggle_space {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 16px;
	text-align: center;
}
