.search {
	width: 40%;
}

.pagination {
	display: flex;
	justify-content: flex-end;
}

.modal_body {
	height: 464px;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 16px;
	text-align: center;
}

.header_filters {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.select_styles {
	width: 40%;
	margin-left: 30px;
}

.footer_styles {
	min-height: 48px;
}
