.table_container {
	max-width: 100%;
	padding: unset !important;
	overflow: scroll;
	margin-top: 12px;

	:global {
		.ui_table_head_row {
			.ui_table_head_cell {
				padding-top: 20px;
				padding-bottom: 18px;
				margin-bottom: 10px;
				font-size: 14px;
				color: #000;
				background-color: rgb(255 255 255 / 80%);
			}
		}

		.ui_table_body_container {
			background-color: #fff;

			.ui_table_body_row {
				border-radius: 8px;

				.ui_table_body_cell {
					padding-block: 12px;
					font-size: 14px;
					color: #221f20;
				}
			}
		}
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin: 24px;
}
