.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 40vh;
	padding: 80px;
	background-color: white;
}

.text {
	font-weight: 600;
}

.table_container {
	max-width: 100%;
	padding: unset !important;
	overflow: scroll;

	:global {
		.ui_table_head_row {
			.ui_table_head_cell {
				padding-top: 18px;
				padding-bottom: 10px;
				margin-bottom: 10px;
				font-size: 14px;
				color: black;
				border-bottom: 1px solid #f8f2e7;
			}
		}

		.ui_table_body_container {
			background-color: white;

			.ui_table_body_row {
				border-radius: 8px;

				.ui_table_body_cell {
					padding-block: 20px;
					font-size: 12px;
					color: #221f20;
				}
			}
		}
	}
}

.flex_column {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.flex_row {
	display: flex;
	align-items: center;
}

.bold {
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
}

.answer_key {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.answer {
	max-width: fit-content;
}

.question_text {
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 120px;
	padding: 6px 12px;
	margin: 6px 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.options {
	display: flex;
	flex-direction: column;
}

.question_div {
	max-width: 500px;
}

.options > div:hover {
	background-color: #fffce6;
}

.view_more {
	margin-left: 4px;
	font-weight: 400;
	color: #6fa5ab;
	cursor: pointer;
}

.tooltip_pad {
	padding: 0;
}

.tooltip_content {
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.name_field {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.u_list li {
	color: #849e4c;
}

.u_list li span {
	color: #221f20;
}

.tooltip {
	padding: 0;
	margin: 0;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin: 24px;
}
