.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	padding: 60px 30px 36px;
	text-align: center;
	background: var(--color-secondary-5);
	border-radius: 10px;
}

.heading {
	font-size: var(--font-size-xl);
	font-weight: 700;
	color: var(--color-primary-error-red-2);
}

.content {
	font-size: var(--font-size-xl);
	color: var(--color-primary-error-red-2);
	text-align: center;
}

.wrapper {
	max-width: 30%;
}

@media (max-width: 768px) {
	.ic_container {
		display: none;
	}

	.wrapper {
		max-width: 100%;
	}
}
