.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 8px 12px;
	border-bottom: 1px solid #e0e0e0;
}

.row {
	display: flex;
	align-items: center;
}

.mark_read {
	padding: 0;
	margin-right: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #034afd;
	letter-spacing: 0.02em;
	cursor: pointer;
	background: none;
	border: none;
}
