.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	:global(.ui_toggle_container) {
		padding: 0;
	}
}

.search_container {
	display: flex;
	margin-right: 8px;

	:global(.ui_input_container) {
		width: 300px;
	}
}

.filters_container {
	display: flex;
}
