.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;

    :global(.ui_toggle_container){
        padding: 0px;
    }
}

.search_container {
    display: flex;
    margin-right: 8px;
	
	:global(.ui_input_container){
		width: 300px;
	}
}

.filters_container{
    display: flex;
}
