.container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: -5px;
}

.source_icon {
	position: absolute;
	bottom: 22px;

	@media (max-width: 576px) {
		bottom: 14px;

		img {
			width: 16px;
			height: 16px;
		}

		svg {
			width: 16px;
			height: 16px;
		}
	}
}
