.button_container {
	display: flex;
	align-items: center;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 98%;
	padding: 4px 12px;
}

.modal_container {
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.heading {
	margin-right: 12px;
	font-size: 18px;
	font-weight: 600;
}
