.container {
	padding: 12px;
}

.heading {
	font-weight: 500;
	color: #393f70;
	font-size: 18px;
	line-height: 15px;
	margin: 8px 0px 32px 0px;
}

.render_container {
	margin: 12px;
	display: flex;
}

.button_container {
	margin-top: 32px;
	display: flex;
	justify-content: flex-end;

	
}
.button_container > button:first-child {
	margin-right: 8px;
}

.container_num {
	display: flex;
	align-items: center;
	margin-right: 32px;
}

.icon_wrapper {
	cursor: pointer;
}

.loader {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
