.item_container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 8px;
}

.convenience_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 36%;
}

.amount {
	font-size: 28px;
	font-weight: 600;
}

.text {
	font-weight: 400;
	color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 28px 40px;
	margin: 28px 20px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
