.container {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}

.convenience_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding-right: 60px;
}

.amount {
	font-size: 28px;
	font-weight: 600;
}

.text {
	font-size: 16px;
	font-weight: 600;
	color: #000;
}
