.outerContainer{
    display:flex;
    flex-wrap:wrap;
    margin-top:20px;
    justify-content: space-around;   
}
.modal_outerContainer{
    max-height:70vh;
    display:flex;
    flex-wrap:wrap;
    margin:20px;
    overflow-y: scroll;
    justify-content: space-between; 
}
.container{
    width:30%;
    padding:14px;
    border:1px solid #d9d7d7;
    border-radius:6px;
}
.modal_container{
    width:48%;
    padding:20px;
    border:1px solid #d9d7d7;
    border-radius:6px;
    margin-bottom:10px;
}
.view_button{
    display: flex;
    justify-content: flex-end;
    margin-right:10px;

}
.viewText{
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    color: #4f4f4f;
}