.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_text {
	font-size: 28px;
	font-weight: 700;
}

.no_manager {
	height: calc(100vh - 48px);
	background: #fff;
}

.tabs {
	margin-top: 16px;
}

.question_button_container {
	display: flex;
	justify-content: flex-start;
}

.redirect_container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	p {
		margin: 0;
		font-size: 18px;
		font-weight: 700;
	}
}

.stats {
	margin-top: 16px;
}
