.table {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
}

.row {
	display: flex;
	align-items: center;
	padding: 24px 0;
}

.button {
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
}
