.label {
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.textarea {
	min-height: 80px;
	padding: 4px;
}

.container {
	width: 49%;
	padding-top: 40px;
	line-height: normal;
	background: #fff;
	border-radius: 10px;
}

.line {
	margin: 0 24px 24px 0;
	border-bottom: 1px solid #e0e0e0;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin-top: 12%;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.heading {
	margin: 0 24px;
	font-size: var(--font-size-lg);
	font-weight: 600;
}

.title {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.remarks_div {
	margin: 0 24px;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.flex {
	display: flex;
	padding: 24px;
}

.large {
	width: 50%;
	padding: 24px 0 8px;
}

.medium {
	width: 30%;
	padding: 24px 0 8px;
}

.small {
	width: 20%;
	padding: 24px 0 8px;
}

.link {
	font-size: var(--font-size-md);
	color: #f68b21;
	text-decoration: underline;
}

.invoice_flex {
	display: flex;
	flex-wrap: wrap;
	padding: 0 24px 24px;
}

.date_flex {
	display: flex;
	padding: 0 24px 32px;
}

.wrapper {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.tooltip_title {
	width: 200px;
}

.tag {
	padding: 0 8px;
	background: var(--color-tertiary-blue-4);
	border-radius: 4px;
}

.header_row {
	display: flex;
	align-items: center;
}
