.remark {
	display: flex;
	margin-bottom: 8px;
}

.label {
	margin-bottom: 6px;
	font-weight: 500;
}

.textarea {
	min-height: 80px;
	padding: 4px;
}

.container {
	width: 49%;
	padding-top: 40px;
	line-height: normal;
	background: white;
	border-radius: 10px;
}

.info_box {
	width: 50%;
}

.line {
	margin: 0 24px 24px 0;
	border-bottom: 1px solid #e0e0e0;
}

.shipment_id {
	font-weight: 500;
	color: #f68b21;
	text-decoration: underline;
}

.button_container {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	padding: 12px;
	margin-top: 12.5%;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.heading {
	margin: 0 24px;
	font-size: var(--font-size-lg);
	font-weight: 600;
}

.title {
	font-size: var(--font-size-md);
}

.text {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.remarks_div {
	margin: 0 24px;
}

.required_field::after {
	color: var(--color-primary-error-red-2);
	content: " *";
}

.post_tax_container {
	margin-left: 1%;
}

.flex {
	display: flex;
	margin: 24px;
}

.large {
	width: 50%;
}

.medium {
	width: 30%;
}

.small {
	width: 20%;
}

.label_text {
	font-weight: 500;
}

.rates {
	font-weight: 600;
}
