.container {
	display: flex;
	gap: 36px;
	align-items: center;
	justify-content: center;
	margin: auto;
	text-align: center;
	background-color: #fff;
}

.img_height {
	height: 310px;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.found {
	display: flex;
	justify-content: flex-start;
	font-size: 28px;
	font-weight: 600;
}

.border {
	width: 40%;
	border: 1px solid #ee3425;
}

.border_value {
	width: 40%;
	border: 1px solid #849e4c;
}

.msg {
	margin-top: 8px;
}

.msg_value {
	display: flex;
	margin-top: 8px;
}
