.container {
  padding: 100px 200px;
  margin-top: -16px;
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.img_height {
  height: 310px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.found {
  font-weight: 600;
  font-size: 28px;
  display: flex;
  justify-content: flex-start;
}
.border {
  border: 1px solid #ee3425;
  width: 40%;
}
.msg {
  margin-top: 8px;
}
