.card_item{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(44, 62, 80, 0.2);
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.parent_parameter_name{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;

}

.parameter_name{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.name_container {
	display: flex;
	align-items: flex-end;
	width: 100%;
}

.icon_container {
	margin-left: 8px;
}

.controls_container{
    width: 100%;
    display: flex;
    margin-top: 8px ;
    margin-left: 16px;
}

.field_container {
	flex-basis: 30%;
	margin: 0 16px 8px 0;
}

.label {
	margin-bottom: 12px;
	font-size: 13px;
}
.child_name_container{
    margin-left: 8px;
    display: flex;
    flex-direction: column;

}

.horizontal_line {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 10px;
	border: 0.75px solid #bdbdbd;
	opacity: 0.4;
}

.current_value {
	font-size: 20px;
	font-weight: 500;
}

.view_label {
	font-size: 14px;
	color: #828282;
}

.lower_current_value {
	margin-top: 4px;
	font-size: 10px;
	color: #828282;
}
