.dashed_line {
    display: flex;
    width: 1px;
    height: 24px; 
    border-left: 2px dashed #828282;
    background: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 5px,
    );
    
  }

  .select_conatiner{
    padding: 16px 10px 16px 0;
  }

  .origin{
    margin-bottom: 10px;
    width:256px;
  }
  .destination{
    margin-bottom: 10px;
    width:256px;
  }
  
  .icon_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 10px;
  }