.container {
	display: flex;
	flex-wrap: wrap;
	padding: 14px 20px;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	padding-top: 15px;
}

.text {
	margin-right: 35px;
	font-size: 12px;
	font-weight: 500;
	color: #434343;
}

.line {
	margin-top: 10px;
	border: 1px solid #e0e0e0;
}

.wallet_container {
	display: flex;
	align-items: center;
	float: right;
	padding: 0 12px;
	background-color: #f7faef;
	border: 1px solid #c4dc91;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.wallet_text {
	font-size: 12px;
	font-weight: 500;
	color: #434343;
}

.price_text {
	font-weight: 700;
	color: #4f4f4f;
}

.red_text {
	font-weight: 700;
	color: #f81111;
}
