.container {
	display: flex;
	flex-direction: column;
}

.button_wrap {
	display: flex;
	justify-content: flex-end;
	margin: 18px 0px 8px 0px;
}

.heading {
	font-weight: 500;
	font-size: 22px;
	margin: 14px 0px;
	line-height: 18px;
	color: #393f70;
}