.card {
	width: 31%;
	height: 280px;
	margin: 10px 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 8px 0 #627fac33;
}

.header_info {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	border-radius: 4px 4px 0 0;
}

.cycle_section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.serail_id {
	display: flex;
	justify-content: center;
	width: fit-content;
	padding: 0 4px;
	font-size: 12px;
	background: #cfeaed;
	border-radius: 4px 0;
}

.cycle {
	display: flex;
	justify-content: center;
	width: fit-content;
	padding: 0 4px;
	font-size: 10px;
	border-radius: 0 4px;
}

.warning {
	background: #fef199;
}

.escalate {
	background: #f8aea8;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px 8px;
}

.user_info {
	display: flex;
	align-items: center;
	width: 87%;

	svg {
		width: 30px;
		height: 30px;
	}
}

.org_details {
	width: 85%;
	margin-left: 8px;
}

.business_name {
	max-width: 97%;
	overflow: hidden;
	font-weight: 600;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lower_section {
	display: flex;
	align-items: center;
	width: 100%;
}

.trade_name {
	max-width: 60%;
	overflow: hidden;
	font-size: 12px;
	color: #4f4f4f;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.account_type {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 4px;
	margin-left: 8px;
	font-size: 12px;
	color: #221f20;
	background: #fff;
	border-radius: 4px;
}

/* .action {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
}

.info_icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.dot_icon {
	width: 18px;
	height: 18px;
	margin-left: 4px;
	cursor: pointer;
} */

.body_info {
	display: flex;
	flex-direction: column;
	height: calc(100% - 124px);
	padding: 10px 16px;
}

.each_row {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	span {
		margin-left: 4px;
		font-size: 10px;
		color: #4f4f4f;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.title {
	align-self: flex-start;
	margin-right: 10px;
	font-size: 12px;
}

.request_name {
	display: flex;
	align-items: center;
}

.source {
	display: flex;
	flex-direction: column;
}

.source_date {
	font-size: 12px;
	color: #828282;
}

.schedule_time {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #4f4f4f;
}

.seperator {
	width: 1px;
	height: 15px;
	margin: 0 8px;
	background: #e0e0e0;
}

.calendar_icon {
	margin-right: 4px;
	fill: #4f4f4f;
}

.line_break {
	width: 88%;
	margin: 0 16px;
	border-bottom: 1px solid #e0e0e0;
}

.footer_container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	padding: 10px 16px;
}

.schedule_demo_icon {
	margin-right: 4px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 2px 8px;
	background: #ddebc0;
	border-radius: 6px;
}

.text {
	max-width: 82%;
	overflow: hidden;
	font-size: 12px;
	color: #221f20;
	text-overflow: ellipsis;
	white-space: nowrap;

	span {
		margin-left: 2px;
		color: #4f4f4f;
	}
}

.merge_button {
	font-size: 12px;
	color: #034afd;
	text-decoration: underline;
}
