.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	margin: 24px 0;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}

.content {
	padding: 16px 48px;
	font-weight: 600;
	border-right: 1px solid #e0e0e0;
}

.bar {
	display: flex;
	width: 90%;
	height: 12px;
	border-radius: 8px;
}

.first_bar {
	height: 12px;
	background-color: #acdadf;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.second_bar {
	height: 12px;
	background-color: #abcd62;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.charts {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	width: 100%;
}
