.container {
    margin: 32px 40px;

    :global {
        .ui_multiselect_container {
            width: 72%;
        }
    }
}

.input_group {
    margin-top: 8px;

    &.mandatory_audiences_user {
        margin-top: unset;
    }
}

.form_group {
    margin-top: 32px;

    &.mandatory_audiences_user {
        display: flex;
        align-items: center;
        width: 92%;
        justify-content: space-between;
    }
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}