.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background: #f4f8fe;;
	border: 1px solid #88CAD1;;
	border-radius: 4px 4px 0 0;
}

.text {
	display: inline;
	margin-left: 4px;
	font-weight: 500;
}

.text_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
}

.action_container {
	display: flex;
	align-items: center;
	color: #034afd;
	cursor: pointer;
}
