.row {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.container {
	border-bottom: 1px solid #e0e0e0;

	&:last-child {
		border-bottom: unset;
	}
}

.convenience_label {
	width: 38%;
}

.shipment_tags {
	display: flex;
	margin-top: 5px;
}

.service_title {
	width: 85.5%;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.service_total_amount {
	width: 14.5%;
	margin-top: 15px 0 0 12px;
	color: #849e4c;
}

.service_line {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-right: 25px;
}

.local_rate {
	margin: 10px 0;
}
