.container {
	width: 300px;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
}

.button_wrapper button:global(.ui_button_container) {
	height: 28px;
}

.button_wrapper button:global(.clear_filter_button) {
	margin-right: 4px;
	font-size: 12px;
	font-weight: 600;
	color: black;
	background-color: transparent;
	border: none;
}

.button_wrapper button:global(.clear_filter_button:hover) {
	background-color: transparent;
}

.button_wrapper button:global(.apply_button) {
	font-size: 13px;
	font-weight: 700;
}

.form_wrapper {
	height: 40vh;
	overflow-y: scroll;
}
