.title {
	margin: 8px 0;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 15%;
	max-height: 35%;
	padding: 6px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.column_name {
	display: flex;
	width: 100%;
	padding: 6px;
	border-bottom: 1px solid #fbd1a6;
}

.each_row {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 6px 4px;
	border-bottom: 1px solid #fbd1a6;

	&:last-child {
		border-bottom: none;
	}
}

.list_services {
	margin-top: 6px;
	overflow-y: auto;
}

.service {
	width: 32%;
	max-width: 85px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.status {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	max-width: 55px;
	padding: 0 4px;
	margin-left: 8px;
	font-size: 10px;
	border-radius: 6px;
}

.active {
	background: #ddebc0;
}

.inactive {
	background: #f8aea8;
}

.reasons {
	width: 45%;
	max-width: 120px;
	margin-left: 6px;
	overflow: hidden;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
