.headTitle {
	margin-left: 12px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
}

.back_button {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.errors {
	margin: 4px 10px;
	font-size: 12px;
	color: #ee3425;
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: 10;
	justify-content: space-between;

	:global {
		.ui_radiogroup_container {
			padding: 4;
		}

		.ui_radio_container {
			padding: 4px 14px;
		}
	}
}

.label {
	margin: 10px 0 8px;
}

.body {
	:global {
		.ui_modal_body_container {
			max-height: fit-content;
			overflow-x: visible;
		}
	}
}
