.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 12px;
}

.main_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;

	/* width: 16%; */
	margin-right: 20px;
}

.pre_post_container {
	display: flex;
	justify-content: space-between;
}

.header_button {
	margin-left: 10px;
}

.all_task_container {
	display: flex;
	flex-direction: column;
}

.task_specific_container {
	display: flex;
	justify-content: space-between;
}
