.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 12px;
}

.main_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
}

.header_button {
	margin-left: 10px;
}

.all_task_container {
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 12px;
}

.task_specific_container {
	display: flex;
	justify-content: space-between;
	padding: 12px;
}

.cursor {
	cursor: pointer;
}

.accord_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
}

.status_card {
	display: flex;
	align-items: center;
}

.title {
	margin-right: 4px;
}

.custom_accordion {
	width: 96.8%;
	padding: 12px 20px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 12px;
	background: white;
	border-radius: 8px;
}
