.item_data {
	font-size: 12px;
	color: #221f20;
}

.table_header {
	font-size: 12px;
	font-weight: 700;
	color: #4f4f4f;

	:global {
		.ui_checkbox_container {
			padding: 0;
		}
	}
}

.edit_icon {
	cursor: pointer;
}

.icon_container {
	display: flex;
	align-items: center;
}
