.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.container > :not(:last-child) {
	margin-bottom: 20px;
}

.header {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
}

.left_header {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.left_header > :not(:last-child) {
	margin-right: 12px;
}

.tab_switch {
	overflow: auto;

	@media screen and (max-width: 768px) {
		margin-bottom: 10px;
	}
}

.tab_switch::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	:global {
		.ui_input_container {
			width: unset;
		}
	}
}

.selection_options {
	display: flex;
}

.card_container {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	padding: 16px;
	cursor: pointer;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 16px;
}

.card_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.card_content > :not(:last-child) {
	margin-bottom: 4px;
}

.above_text {
	font-size: 14px;
	font-weight: 500;
	color: #221f20;
	text-align: center;
}

.below_text {
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.leave_card_container {
	width: 100%;
}
