.submit_form_container {
	height: 100%;
	padding: 0 16px;
}

.header {
	font-size: 20px;
	font-weight: 600;
	
	span {
		font-size: 18px;
	}

	span1 {
		font-size: 16px;
	}
}

.button_container {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 16px 16px 0;
	border-top: 1px solid #6fa5ab;
}
