.container {
	margin: 16px 0;
	background: white;
	border: #e0e0e0 1px solid;
	border-radius: 4px;
}

.container:hover {
	box-shadow: rgb(218 169 169 / 65%) 0 1px 6px;
}

.upper {
	padding: 8px;
}

.lower {
	height: auto;
	padding: 0 0 8px;
}

.flex_content {
	display: flex;
	align-items: center;
}

.grid_row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.layout_container {
	padding: 12px;
	margin-top: 12px;
	border-top: 1px solid #e0e0e0;
}

.heading {
	font-size: 14px;
	font-weight: 500;
	text-decoration-line: underline;
}

.block {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.accordion_container {
	position: relative;
	bottom: -8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2px 0;
	margin-top: 12px;
	font-size: 14px;
	cursor: pointer;
	background-color: #fdebe8;
	border: none;
	border-radius: 0 0 4px 4px;
}

.btn {
	margin-right: 16px;
}
