.card {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.margin {
  display: flex;
  gap: 12px;
}
.heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7b7f8e;
  max-width: 150px;
}

.percent {
  font-weight: 700;
  font-size: 14.7124px;
  line-height: 17px;
  color: #ed3726;
}
.value_ctr {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding-left: 10px;
}

.percentage{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #229B32;
  
}

.neg_percentage{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #ED3726;
}

.price{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}