.container {
	display: flex;
	flex-direction: column;
}

.service_provider {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.heading {
	font-size: 16px;
	font-weight: 500;
}

.skeleton_wrapper {
	display: flex;
	flex-direction: column;
}

.custom_skeleton {
	width: 100%;
	margin-bottom: 5px;
}
