.container {
	display: flex;
	flex-direction: column;
}

.service_provider {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.heading {
	font-size: 16px;
	font-weight: 500;
}

.loading_container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.loader_icon {
	width: 50px;
}