.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-top: 32px;
	background-color: #fffce6;
	border-radius: 8px;
}

.validity_time {
	display: flex;
	align-items: center;
	text-align: center;
	white-space: nowrap;

	.hidden {
		display: none;
	}

	.visible {
		margin-left: 6px;
		font-weight: 600;
	}
}

.flex {
	display: flex;
	align-items: center;
}

.button_container {
	display: flex;

	:global {
		.ui_button_container {
			height: fit-content;
			min-height: 40px;
			padding: 8px 8px 8px 18px;
		}
	}
}
