.modal_container {
	:global {
		.ui_modal_body_container {
			padding: 0 16px 16px !important;
			border-top: none !important;
			border-bottom: none !important;
		}

		.ui_select_display_container {
			margin-right: 10px;
		}
	}
}

.label {
	margin: 10px 0;
	font-size: 16px;

	&:first-child {
		margin: 0 0 10px;
	}
}

.error_text {
	font-size: 10px;
	color: #ee3425;
}
