.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.heading_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;
	}
}

.tab_list{
	overflow-x: scroll;
	margin: 16px 0px;
}