.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.heading_container{
	color: #221F20;
	display:inline-block;
	position: relative;
	width: fit-content;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 8px;

	@media(min-width: 768px){
		font-size: 24px;
	}
  }
  
.heading_container::after{
	content:'';
	height: 4px;
	width: 50%;
	background: #ED3726;
	position:absolute;
	left: 0px;
	bottom: -4px;
}

.tab_list{
	overflow-x: scroll;
	margin: 16px 0px;
}