.sentence_case {
	text-transform: lowercase;
}

.sentence_case::first-letter {
	text-transform: uppercase;
}

.tooltip_text {
	font-size: 12px;
	font-weight: 600;
	word-break: break-word;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.text_weight {
	font-weight: 700;
}

.name_text_style {
	margin-left: 10px;
	font-size: 12px;
	font-weight: 700;
}

.expense_text_style {
	font-weight: 700;
}

.entity_text_style {
	margin-right: 20px;
	font-size: 12px;
	font-weight: 700;
}

.business_text_style {
	font-size: 12px;
	font-weight: 700;
}

.jobnumber_text_style {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	font-size: 12px;
	font-weight: 700;
}

.jobnumber_text {
	color: #f68b21;
	text-decoration-line: underline;
}
