.container{
	display: flex;
	flex-wrap: wrap;
}

.cargo_detail_pill {
	color: #4f4f4f;
	font-weight: 500;
	text-transform: capitalize;
	height: fit-content;
}

.shipment_cargo_details_root {
	justify-content: start;
} 

.multi_service {
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
	white-space: nowrap;
	overflow-x: auto;
}

.more_details_popover_text{
	color: #F68B21;
}