.container{
	display: flex;
	flex-wrap: wrap;
}

.cargo-detail-pill {
	color: #4f4f4f;
	font-weight: 500;
	text-transform: capitalize;
}

.core-ui-button-root {
	letter-spacing: 0px;
	white-space: nowrap;
}

.core-ui-button-root:hover {
	box-shadow: none;
}

.shipment_cargo_details_root {
	justify-content: center;
}