.container {
	width: 100%;

	:global {
		.ui_input_display_container {
			width: 100%;
		}

		.ui_input_label {
			display: flex;
			align-items: center;
		}
	}
}

.icon {
	width: 18px;
	height: 18px;
	margin: 0 12px;
	cursor: pointer;
}
