.container {
	background-color: rgb(255 255 255 / 80%);

	:global {
		.ui_table_head_cell {
			padding: 8px;
			color: #4f4f4f;
			background-color: rgb(255 255 255 / 80%);
		}

		.ui_dos8d {
			height: 32px;
			padding: 0 10px 4px 20px;
			padding-top: 10px;
			font-size: 14px;
			font-weight: 400;
			line-height: 250%;
			text-align: left;
			border-bottom: 1px solid var(--color-tertiary-beige-4);
		}

		.ui_table_body_cell {
			padding-left: 0;
		}
	}
}

.pagination {
	display: flex;
	justify-content: flex-end;
}

.question {
	padding-left: 58px;
	font-weight: 1000;
	text-align: left;
}

.likes {
	padding-left: 48px;
	font-weight: 1000;
	text-align: left;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	align-items: right;
	padding-left: 10px;
}

.topics {
	padding-left: 10px;
}
