.container {
	margin: 20px;
	background-color: rgb(255 255 255 / 80%);

	:global {
		.ui_table_head_cell {
			padding: 8px;
			color: #4f4f4f;
			background-color: rgb(255 255 255 / 80%);
		}

		.ui_dos8d {
			width: 1239px;
			height: 63px;
			height: 32px;
			padding: 0px 10px 4px 20px;
			font-size: 14px;
			font-weight: 400;
			line-height: 250%;
			text-align: left;
			border-bottom: 1px solid var(--color-tertiary-beige-4);
		}
		.ui_table_body_cell{
			padding-left: 0px;
		}
	}
}

.pagination {
	display: flex;
	justify-content: flex-end;
}

.question {
	font-weight: 1000;
	text-align: left;
	padding-left: 58px;
}
.likes {
	font-weight: 1000;
	text-align: left;
	padding-left: 48px;
}
.tags{
	display:flex;
	flex-wrap: wrap;
	padding-left: 10px;
	align-items: right;
}
.topics{
	padding-left: 10px;
}