.form_element {
	.label {
		margin-bottom: 10px;
		font-weight: 600;
	}

	.error_msg {
		position: relative;
		top: -6px;
		font-size: var(--font-size-md);
		color: var(--color-primary-error-red-2);
	}

	&:not(:first-of-type) {
		margin-top: 26px;
	}
}
