
.container {
	width: 12%;
	padding-top: 28px;
}

.item {
	padding: 8px 16px;
	border-bottom: 1px solid #E0E0E0;

	&.active {
		border-left: 3px solid #F9AE64; 
	}
	&:hover {
		background:#fbeee0;
		cursor: pointer;
	}
}

.items {
	margin-top: 24px;
}

.actions {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	:global {
		.ui_button_container.ui_ps_size_md {
			height: 28px;
		}
	}
}

.item_name {
	font-weight: normal;
	font-size: 16px;
	color: #221F20;

	&.active {
		font-weight: 700;
		color: #F9AE64;
	}
}
