
.container {
	width: 172px;
}

.item {
	padding: 12px 24px;
	&.active {
		background: #dce0f7;
	}
	&:hover {
		background: #dce0f7;
		cursor: pointer;
	}
}

.items {
	margin-top: 16px;
}

.actions {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.item_name {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	opacity: 0.6;

	color: #373f6f;
	&.active {
		font-weight: 700;
		opacity: unset;
	}
}
