.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.count {
	font-weight: bold;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.02em;
	border: 1px solid #828282;
	border-radius: 50%;
	color: #828282;
	margin-right: 8px;
	margin-left: 8px;
	padding: 6px 11px;

	&.active {
		background: #2c3e50;

		color: #ffffff;
		border: 1px solid #2c3e50;
	}
}

.title {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;
	color: #828282;
	margin-right: 8px;
	cursor: pointer;
	min-width: fit-content;

	@media (max-width: 768px) {
		font-size: 9px;
		min-width: auto;
	}
}

.line {
	border: 1px solid #828282;
	height: 2px;
	display: flex;
}