.flex {
	display: flex;
	align-items: center;
	width: 100%;
}

.count {
	display: flex;
	align-items: center;
	padding: 6px 11px;
	margin-right: 8px;
	margin-left: 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 140%;
	color: #828282;
	text-align: center;
	letter-spacing: 0.02em;
	border: 1px solid #828282;
	border-radius: 50%;

	&.active {
		color: #fff;
		background: #2c3e50;
		border: 1px solid #2c3e50;
	}
}

.title {
	display: flex;
	align-items: center;
	min-width: fit-content;
	margin-right: 8px;
	font-size: 14px;
	font-weight: normal;
	line-height: 140%;
	color: #828282;
	letter-spacing: 0.02em;
	cursor: pointer;

	@media (max-width: 768px) {
		min-width: auto;
		font-size: 9px;
	}
}

.line {
	display: flex;
	height: 2px;
	border: 1px solid #828282;
}
