.container {
	position: relative;
	width: 280px;
	padding: 8px;
	overflow-y: hidden;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}

.empty_list {
	border-right: 1px solid #e0e0e0;
}

.placeholder_styles {
	width: 100%;
	height: 40px;
	margin: 12px 8px 0;
	border-radius: 4px;
}

.arrow_icon {
	display: none;
	width: 20px;
	height: 20px;
	color: #4f4f4f;
}

.card_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px;
	margin-top: 8px;
	cursor: pointer;
	border-radius: 4px;

	&:hover {
		.arrow_icon {
			display: block;
			transition: 0.5s ease;
			animation: direction 0.6s both;

			@keyframes direction {
				0% {
					transform: scale3d(0.3, 0.3, 0.3);
				}

				50% {
					transform: translate3d(-10px, 0, 0);
				}

				100% {
					transform: none;
				}
			}
		}
	}
}

.each_container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;

	&:last-child {
		border: none;
	}

	&:hover {
		background: #fbf7ec;
		transition: 0.2s ease-in-out;
	}
}

.name {
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.input_styles {
	width: 100%;
	height: 10%;
}

.search_icon_styles {
	width: 15px;
	height: 15px;
	padding-right: 4px;
}

.list_container {
	height: 400px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.no_data_found {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.parent_flex {
	display: flex;
	align-items: center;
}

.send_action {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}
