.form_item_container{
    margin: 6px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row>div{
    width: 49%;
}

.location{
    margin: 6px 0px;
    width: 49%;
}

.actions{
    display: flex;
}

.cancel{
    margin-right:8px
}

.errors{
    color: red;
    font-size: 12px;
}