.active_card,
.inactive_card {
	margin-top: 8px;
	cursor: pointer;
	background: #fef3e9;
	border: 1px solid #f68b21;
	border-radius: 4px;
}

.inactive_card {
	background: #fff;
	opacity: 0.6;
}

.line {
	background: #fef3e9;
	border: 0.5px solid #f68b21;
}
