.Heading{
	font-weight: 500;
	font-size: 18px;
	line-height: 15px;
	color: #393f70;
	margin: 14px 0 38px 0;
}

.Line{
	border-bottom: 1px solid #ded7fc;
	margin-bottom: 28px;
}

.ButtonContainer{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #bdaff9;
	padding-top: 18px;

	.reviewed {
		&.core-ui-button-root {
			padding: 9px 16px;
		}
	}

	.core-ui-button-root {
		text-transform: capitalize;
		width: 100px;
	}
}

.Form{
	overflow: auto;
	height: 59vh;
}
