.container{
    display: flex;
    flex-direction: column;
}
.header_wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats_container{
    display: flex;
}
.table{
    margin-top: 30px;
}