.container {
	display: flex;
	flex-direction: column;
}

.header_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.stats_container {
	display: flex;
}

.table {
	margin-top: 30px;
}
