.table {
	:global {
		padding-top: 20px;
		margin-bottom: 0 !important;
		background-color: #ffff;

		.ui_table_body_cell {
			padding: 10px !important;
		}

		.ui_table_head_cell {
			border-bottom: 1px solid #f68b21;
		}
	}
}
