.container {
	padding: 16px;
	border-radius: 4px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 12px;
	border-bottom: 1px solid #e0e0e0;
}

.title {
	position: relative;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: 16px;
	font-weight: 600;

	&::after {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 70%;
		content: "";
		background-color: #000;
		border-radius: 4px;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 6px;
	}
}

.label {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}

.sub_label {
	font-size: 12px;
	font-weight: 600;
	color: #343a40;
}

.info_label {
	margin-left: 8px;
	font-size: 10px;
	color: #4f4f4f;
}

.field {
	padding: 3px 0;

	&:last-child {
		border-bottom: unset;
	}

	:global {
		.ui_checkbox_container {
			padding: 0;
		}
	}
}

.error {
	margin-top: 4px;
	font-size: 12px;
	color: #f33;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
