.button_drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-weight: 600;
    color: #FCDC00;
    background-color: #fffdee;
    cursor: pointer;
    border: none;
    outline: #FCDC00 1px solid;
    width: 100%;
    &:hover{
        background-color: #fffbe0;
    }
}
