.container {
	display: block;
}

.heading {
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: #221f20;
}

.sidepanel {
	width: 30vw;
	max-height: 72vh;
	padding: 16px;
	margin-right: 16px;
	background: #fff;
	border-radius: 6px;
}

.side_list {
	max-height: 65vh;
	overflow: auto;
}

.row {
	display: flex;
}

.filters {
	padding: 12px 4px;
	margin-bottom: 16px;
	background: #fff;
	border-radius: 6px;
}

.filtersheading {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	color: #4f4f4f;
}

.view {
	position: relative;
}
