.container {
	display: flex;
	align-items: center;
	padding: 12px;
	margin: 24px 0;
	background-color: #fff;
}

.sub_container,
.heading_serial_id {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #303b67;
}

.heading_serial_id {
	width: 40vw;
}

.sub_container.no_border {
	border-right: none;
}

.heading {
	display: flex;
	justify-content: center;
	margin-right: 16px;
	font-size: 18px;
	font-weight: bold;
	color: #393f70;
}

.serial_id {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	max-width: 10vw;
	margin-right: 10px;
	font-size: 10px;
	font-weight: 400;
	background: #e6fbe9;
	border-radius: 4px;
}

.registration_number {
	display: flex;
	align-self: center;
	justify-content: center;
	width: 25vw;
	font-weight: bold;
	color: "#393f70";
}
