.sub_container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.select_input {
	width: 200px;
}

.head_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	color: #221f20;
}

.card_section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 12px 0 0;
}

.expense_card {
	display: flex;
	flex-basis: 23%;
	flex-direction: column;
	justify-content: start;
	padding: 24px 16px;
	background: #fff;
	border-radius: 8px;
}

.card_value {
	font-size: 24px;
	font-weight: 500;
	color: #221f20;
}

.card_label {
	font-style: normal;
	font-weight: 500;
	color: #828282;
}
