.container {
	position: relative;
	display: flex;
	align-items: center;
}

.tag {
	display: inline-block;
}

.header {
	padding: 10px 20px;
	font-weight: 600;
	background-color: #fffce6;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.reference_no {
	position: absolute;
	left: 45%;
	padding: 5px 10px;
	font-size: 12px;
	background-color: #cfeaed;
	border-radius: 10px;
}

.book_cogo_tag {
	position: absolute;
	right: 0;
}

.book_cogo {
	padding: 5px 10px;
	margin: 0 10px;
	font-size: 12px;
	background-color: #fef199;
	border-radius: 10px;
}
