.heading{
    font-weight: 600;
    font-size: 20px;
    color: #221F20;
	margin-bottom: 16px;
}

.filter {
	width: 350px;
	max-height: 1100px;
	padding-bottom: 4px;
	margin-top: 8px;
	background: #fff;
    border-radius: 8px;
}

.cardlist {
	width: 100%;
	/* margin-left: 24%; */
}

.body {
	display: flex;
	flex-direction: row;
}

.sub_section{
	display: flex;
}

.select_container{
	margin-left: 12px;
	width: 200px;
}

.left_section {
	position: absolute;
	width: 325px;
	max-height: 800px;
	padding-bottom: 4px;
	margin-top: 8px;
	background: #fff;
    border-radius: 8px;
}

.left_section.fixed {
	position: fixed;
	transform: translateY(-125px);
}
.select_outer_container{
	display: flex;
	justify-content: space-between;
	flex:1;
}

.text{
	font-weight: 600;
	font-size: 16px;
	color: #4F4F4F;
	display: flex;
	align-items: center;
}
.service_container{
	width:250px;
}
.filter_heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 16px 12px;
}

.search_text{
	font-weight: 500;
	font-size: 14px;
	color: #4F4F4F;
	margin-top: 2px;
	margin-left: 3px;
}