/* stylelint-disable selector-class-pattern */
.styled_ui_modal_dialog {
	border: none !important;

	:global {
		.ui_modal_body_container {
			padding: 0 16px !important;
			border-top: none !important;
			border-bottom: none !important;
		}

		.ui_modal_footer_container {
			padding: 8px 16px 15px 0 !important;
			box-shadow: none !important;
		}

		.ui_input_control {
			font-size: 12px !important;
		}

		.styles_row_container__FNFTc {
			justify-content: space-between !important;
		}

		.ui_select_options_container {
			min-width: 165px;
		}
	}
}

.wrapper {
	margin-bottom: 10px;
}

.styled_label {
	margin-bottom: 4px;
	font-size: 12px;
}

.error_text {
	font-size: 12px;
	color: #ee3425;
}

.number_error_text {
	padding-left: 120px;
	font-size: 12px;
	color: #ee3425;
}

.error_div {
	min-height: 30px;
}

.error_class {
	:global {
		.ui_input_container {
			border: 1px solid  #d22b2b;
		}

		.ui_input_container:hover {
			border: 1px solid  #d22b2b !important;
		}

		.ui_input_container:focus-within {
			box-shadow: 1px solid  #d22b2b !important;
		}
	}
}
