.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.get_amount_section {
	display: flex;
	align-items: center;
}

.get_amount_type {
	padding-right: 5px;
	font-size: 10px;
	color: #828282;
}

.get_amount_value {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
}
