.head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #221f20;
}

.head_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	:global {
		.ui_pill_container {
			width: 50%;
			display: flex;
			justify-content: center;
		}
	}
}

.improvement_needed {
	color: #f00;
}

.average {
	color: #f3aa18;
}

.good_performance {
	color: #67c676;
}

.dot{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 4px;
	background-color: #E0E0E0;
}

.green_dot{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 4px;
	background-color: #67c676;
}
