.modal_container {
	:global {
		.react-datepicker__input-container {
			input {
				height: auto;
				padding: 7px 12px;
				border: 1px solid #dedede;
			}

			.react-datepicker__aria-live {
				display: none;
			}
		}
	}
}
