/* .main_box.tab_custom_style.ui_tabs_container {
	border-radius: 6px 6px 0 0 !important;
} */

.performance_tab_container {
	display: flex;
	flex-direction: column;
	width: 98%;
	height: 300px;
	padding: 10px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 6px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.performance_tab_lists {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.performance_list {
	display: flex;
	align-items: center;
	padding: 5px;
	margin-top: 10px;
	border-bottom: 1px solid #f8f2e7;
}

.picture_name_kam_box {
	display: flex;
}

.picture {
	width: 30px;
	height: 30px;
	padding: 5px;

	img {
		width: 18px;
		height: 18px;
	}

	background: rgb(224 224 224 / 40%);
	border-radius: 3.9px;
}

.name {
	padding-left: 14px;
	font-size: 12px;
	font-weight: 500;
	color: #4f4f4f;
}

.kam {
	padding-left: 14px;
	font-size: 10px;
	color: #828282;
}
