.container {
	display: flex;
	align-items: center;
	padding: 20px 5px;
	margin-top: 20px;
	background: #fdfbf6;

	@media (max-width: 768px) {
		overflow: scroll;
	}
}

.title {
	display: flex;
	justify-content: center;
}
