.node_container {
	padding: 16px 20px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(98 127 172 / 20%);
}

.node {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.accordian_item {
	display: flex;
	align-items: center;
	padding: 12px 24px;
}

.left {
	margin-left: 20px;
}

.flex {
	display: flex;
}

.name {
	margin-left: 4px;
}

.child_accordian {
	margin-bottom: 12px;

	:global {
		.ui_accordion_header {
			padding: unset;
			padding-right: 24px;
			background: #f9f9f9;
		}

		.ui_accordion_content {
			padding: unset;
			margin: unset;
			background-color: #fff;
		}
	}
}

.button {
	margin-top: 20px;
}

.icon {
	cursor: pointer;
}
