.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.search_box {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 350px;
	font-size: 8px;
	background: #fff;
}

.search_box input:focus {
	outline: none;
}

.select_container {
	width: 60px;
	margin-right: 30px;
}

.select_class {
	min-width: 80px !important;
}

.label {
	margin-right: 8px;
	text-align: center;
}

.input_class {
	height: 34px !important;
	font-size: 12px !important;
	border: none !important;
}
