.container{
    display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search_box{

    font-size: 8px;
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid #cbcff5;
	display: flex;
	align-items: center;
	width: 500px;
}

.search_box input:focus{
    outline: none;
}

.select_container {
	padding-right: 100px;
	width: 150px 
}
.select_class{
	min-width: 130px !important; 
}

.label{
    text-align: center;
	margin-right: 8px;
}
.input_class{
	height: 44px !important;
}