.container{
    display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search_box{

    font-size: 8px;
	box-sizing: border-box;
	background: #ffffff;
	display: flex;
	align-items: center;
	width: 350px;
}

.search_box input:focus{
    outline: none;
}

.select_container {
	margin-right: 30px;
	width: 60px 
}
.select_class{
	min-width: 80px !important; 
}

.label{
    text-align: center;
	margin-right: 8px;
}
.input_class{
	height: 34px !important;
	font-size: 12px !important;
	border: none !important;
}