.container {
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.layout_container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input_group {
	margin-top: 6px;
}

.form_group {
	margin-top: 20px;

	&.name {
		margin-top: unset;
	}

	.country_code {
		margin-right: 30px;
	}
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}

.superscipt {
	color: #ee3425;
}
