.container{
	padding: 8px ;
	border: 1px dashed #bdbdbd;
	border-radius: 4px;
	color: #bdbdbd;
	margin-bottom: 10px;
}

.add_button{
    background: none;
    border:none;
    font-size: 16px;
    display:  flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add_button:hover{  
    border-color: #393f70;
    color: #7e86c2;
    cursor: pointer;
}

.displayText{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.add{
    font-size: 28px;
    font-weight: 600;
}