.container {
	margin-top: 30px;
}

.item_container {
	display: flex;
	padding: 12px 10px;
	margin-bottom: 14px;
	background-color: #fff;
	border: 1px solid #f9f9f9;
	border-radius: 6px;
}

.item_one {
	flex: 1;
}

.item_two,
.item_one:not(:last-child) {
	margin-right: 20px;
}

.item_two {
	flex: 2;
}
