.container {
	padding: 0 64px;
	font-size: 12px;
}

.heading {
	margin-bottom: 12px;
	font-weight: 600;
}

.section {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.keys {
	width: 16%;
}

.recipient_values {
	width: 500px;
}

.subject {
	width: 604px;
}

.heading_subject {
	margin-bottom: 8px;
	font-weight: 600;
}

.heading_body {
	margin-top: 12px;
	margin-bottom: 8px;
	font-weight: 600;
}

.button {
	display: flex;
	justify-content: flex-end;
	margin: 8px 32px 0 0;
}

.file {
	width: 20%;
	padding: 8px;
	margin: 12px 0;
	text-decoration: underline;
	background: #d9ffff;
	border-radius: 8px;
}
