

.Container{
	.form-item-label {
		color: #393f70;
	}
	.ui-textarea {
		padding: 4px;
		color: #393f70;

		::placeholder {
			padding: 4px;
			color: #cbcff5;
		}
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
};
.LayoutContainer{
	.core-ui-input-root {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.core-ui-select__control {
		margin-top: 8px;
	}
};
.FileContainer{
	display: flex;
	margin-bottom: 4px;
	width: 830px;
	margin-left: auto;
	margin-right: auto;
};

.LoadingContainer{
	display: flex;
	margin-top: 10px;
};

.ButtonDiv{
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
};

.BtnDiv{
	display: flex;
	justify-content: flex-end;
};
.EmptyContainer{
	display: flex;
	justify-content: center;
};
