.details {
	margin-top: 16px;
}

.table {
	padding: 16px;
	background-color: var(--color-tertiary-beige-5);
	border: 1px solid var(--color-tertiary-beige-2);
}

.col {
	display: flex;
	padding: 16px 4px;
	font-size: var(--font-size-md);
	border-bottom: 1px solid var(--color-tertiary-beige-2);
}

.islast {
	border: none;
}

.line {
	margin-bottom: 16px;
	border-top: 2px solid var(--color-tertiary-beige-2);
}

.account_number {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.currency {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.alloted_amount {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.utilized_amount {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.processing {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.settled {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.flush {
	flex: 0.8;
	width: calc(0.8*(100 / 8));
}

.view_more {
	flex: 0.4;
	width: calc(0.4*(100 / 8));
}

.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 12px 26px;
	margin-bottom: 40px;
}

.text_button {
	font-size: var(--font-size-md);
	font-weight: 400;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.segmented_style {
	margin: 16px 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-width: 290px;
}

.text {
	display: flex;
	font-size: var(--font-size-md);
}

.lable {
	display: flex;
	font-size: var(--font-size-md);
}

.value {
	margin-left: 1px;
	font-size: var(--font-size-md);
	color: var(--color-accent-orange-2);
}

.container_tooltip {
	width: 300px;
}
