.container {
	width: 120px;
	padding: 10px 5px;

	:hover {
		color: var(--color-accent-orange-2);
	}
}

.styled_text {
	cursor: pointer;
}

.hr {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background: #c4c4c4;
}
