.container {
	display: flex;
	gap: 32px;
}

.control_container {
	align-items: center;

	:global {
		.ui_input_container {
			width: 250px;
		}

		.ui_select_container {
			width: 250px;
		}
	}
}

.error_msg {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	color: #cb6464;
}
