.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wrapper {
	margin-top: 10px;
}

.row {
	display: flex;
	align-items: center;
}

.attachement_item {
	margin-right: 10px;
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 4px;
	&:hover {
		background: #e0e0e0;
		cursor: pointer;
	}
}

.name{
	max-width: 100px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
