.container {
	width: 100%;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 97%;
	margin-bottom: 10px;
}

.search_input {
	width: 40%;
}

.cross_icon {
	margin-right: 4px;
	cursor: pointer;
}

.template_content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 6px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}
