.form {
	width: 100%;
	padding: 20px;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
}

.remark {
	display: flex;
	flex-flow: column wrap;
	align-content: space-around;
	margin: 20px 0;
}

.error {
	font-size: 12px;
	color: red;
}

.title {
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
	opacity: 0.5;
}

.modal_header {
	width: 100%;
	margin-bottom: 20px;
	font-weight: 400;
	color: #221f20;
	opacity: 0.7;
}

.checkbox_group {
	display: flex;
	align-items: center;
	font-weight: 400;
	color: #221f20;
	opacity: 0.6;
}

.button_box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tag {
	margin-left: 8px;
}

.close_btn {
	color: #ee3425;
	background: #fff;
	border: 1px solid #ee3425;
}

.submit_btn {
	margin-left: 8px;
	color: #fff;
	border: 1px solid #ee3425;
}
