.header_container {
	display: flex;
	justify-content: space-between;
}

.heading {
	margin-bottom: 0;
}

.subheading {
	display: flex;
	align-items: center;
	font-size: var(--font-size-xl);
}

.light {
	color: var(--color-secondary-2);
}

.last_updated_at {
	font-size: var(--font-size-md);
	color: #828282;
}
