.control_container{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	border: 1px solid #EAEBF4;
	padding: 16px;
	background: #FBFBFF;
	:global(.ui_modal_body_container) {
		padding:  0;
	}
}

.control_div{
	margin-right: 12px;
	margin-bottom: 20px;
}

.label{
	margin-bottom: 12px;
}