.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 16px;
	margin: 16px 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	background-color: #cfeaed;
	border-radius: 8px;
}

.item {
	display: flex;
	justify-content: flex-start;
}
