.button_flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.body_flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bold_data {
  font-size: 16px;
  font-weight: 600;
}
