.container {
	background-color: #fff;
	border-radius: 8px;
}

.container_for_clickable_bar {
	background-color: #fff;
	border-radius: 8px;

	g {
		cursor: pointer;
	}

	rect:hover {
		stroke-width: 1px;
	}
}
