.info_div {
	margin-top: 4px;
}

.item_name {
	margin: 0px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	margin-left: 18px;
}
.tag {
	background: #fbd69f;
	border-radius: 4px;
	padding: 4px 10px;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #393f70;
	white-space: nowrap;

	&.approved {
		background: #e6fbe9;
		color: #393f70;
	}

	&.price_recieved,
	.customer_confirmation_pending {
		background: #fcedbf;
	}

	&.charges_incurred {
		background: #fbe6e6;
	}

	&.cancelled_by_supplier,
	&.cancelled_by_customer {
		background: #4f4f4f;
		color: #fff;
	}

	&.disputed {
		background: #f7cdcd;
		color: ##393f70;
	}
}

.content_div {
	width: 100%;
	background: #fff;
}

.upselling_service_info_container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	padding: 8px 12px;

	&:not(:last-child) {
		border-bottom: 1px solid rgb(242, 242, 242);;
	}
}
