.info_div {
	margin-top: 4px;
}

.item_name {
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: 18px;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	color: #000;
	text-align: center;
}

.tag {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	font-size: 10px;
	line-height: 12px;
	color: #393f70;
	text-align: center;
	white-space: nowrap;
	background-color: #fbd69f;
	border-radius: 4px;

	&.approved {
		color: #393f70;
		background-color: #e6fbe9;
	}

	&.price_recieved,
	.customer_confirmation_pending {
		background-color: #fcedbf;
	}

	&.charges_incurred {
		background-color: #fbe6e6;
	}

	&.cancelled_by_supplier,
	&.cancelled_by_customer {
		color: #fff;
		background-color: #4f4f4f;
	}

	&.disputed {
		color: ##393f70;
		background-color: #f7cdcd;
	}
}

.content_div {
	width: 100%;
	background-color: #fff;
}

.upselling_service_info_container {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	margin-bottom: 4px;

	&:not(:last-child) {
		border-bottom: 1px solid #f2f2f2;
	}
}

.custom_tooltip {
	width: fit-content;
	max-width: 6100px !important;
}
