.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resend_otp_container {
	margin-top: 8px;

	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.timer_text {
	font-size: 18px;
	font-weight: bold;
	color: #81c0af;
}
