.calendar{
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    flex:1;
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;

    width: 300%;
    transform: translateX(-33.3%);
}

.weekCalendar{
    gap:15px;
}
.weekCalendar .dateContainer{
    padding:5px 15px;
}
.weekCalendar .dayH1{
    white-space: nowrap;
    font-size: 14px;
}

.dateContainer{
    /* flex:1; */
    padding: 0 22px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: auto;
    padding-top:5px;
    height: 50px;

    width:fit-content;
}

.dayH1{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #828282;
}

.dayH2{
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #828282;

    white-space: nowrap;
}

.active{
    background-color: #FFFFFF;
}