.card_container {
	position: relative;
	width: calc(100% - 4px);
	padding: 8px 4px 8px 8px;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0;

	&:hover {
		background-color: #fdfbf6;
	}
}

.no_border_left {
	margin-left: 3px;
}

.border_left {
	border-left: 3px solid var(--color-primary-error-red-2);
}

.active_card {
	background: #fbf7ec;
}

.card {
	padding: 8px;
	cursor: pointer;
}

.header_card {
	display: flex;
	width: 100%;
	padding: 0 10px 6px 0;

	:global {
		.ui_avatar_container {
			padding: 0 !important;
			margin: 2px 4px 2px 0;
		}
	}
}

.header_time {
	width: 100%;
	font-size: 10px;
	color: #828282;
}

.user_name_title {
	width: 90%;
	overflow: hidden;
	font-size: 13px;
	font-weight: 500;
	color: #6c6b6b;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header_title {
	width: calc(100% - 40px);
	margin-left: 4px;
}

.subject_container {
	width: 96%;
	overflow: hidden;
	font-size: 13px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.message_content {
	width: 98%;
	max-height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #828282;
	text-overflow: ellipsis;
}

.important_icon {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	background: #ef0a1a;
	border-radius: 0 4px;
}

.pinned_div {
	position: absolute;
	top: 3px;
	right: 8px;
	cursor: pointer;
}

.tooltip_container {
	width: fit-content;
	max-width: unset !important;
	max-height: 250px;
	overflow-y: scroll;
}

.body_preview {
	width: 98%;
	overflow: hidden;
	font-size: 12px;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}
