.download_info {
	width: 100%;
	padding: 8px;
	margin-top: 8px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.close {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.pip_select {
	display: flex;
	justify-content: center;
}

.pip_select_btn {
	margin: 8px;
	border: solid 1px #88cad1;
}
