.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	background-color: #fff;
}

.heading {
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.table_container {
	margin: 20px;
}
