.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 16px 10px;
	padding: 25px 15px 15px;
	margin-right: 15px;
	background: #fafcff;
	border-radius: 6px;
}

.text {
	width: 60%;
	margin: 10px 0 0;
	font-size: 26px;
	font-weight: 600;
	text-align: center;

	&.msg {
		font-size: 20px;
		font-weight: 400;
		color: #828282;
		text-align: center;
	}
}
