.card_wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 100%;
	padding: 10px 0 0;
	margin-top: 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
}

@media (max-width: 768px) {
	.card_wrapper {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: max-content;
		padding: 10px 0 0;
		margin-top: 20px;
		overflow: auto;
		background: #fff;
		border-radius: 4px;
		box-shadow: none;
	}

	.fixed_header {
		top: 48px;
		z-index: 1;
		width: max-content;
	}
}

.fixed_header {
	top: 48px;
	z-index: 1;
}

.sales_row {
	display: flex;
	margin-right: 0;
	margin-left: 0;
	font-size: 13px;
	font-weight: 500;
	background: #fffce6;
}

.revenue_col {
	position: relative;
	display: flex;
	flex: 25%;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	border-right: none;
}

.row_2 {
	display: flex;
	margin-right: 0;
	margin-left: 0;
	font-size: 11px;
	font-weight: 400;
	background: #fffce6;
}

.revenue_col_2 {
	position: relative;
	display: flex;
	flex: 33%;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	background: #fffce6;
	border-right: none;
}

.revenue_col_3 {
	position: relative;
	display: flex;
	flex: 50%;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	background: #fffce6;
	border-right: none;
}

.revenue_gap {
	display: flex;
	flex: 25%;
}

.nodata {
	height: 300px;
	margin-top: 30px;
}
