.name {
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.created_date {
	display: flex;
	justify-content: flex-start;
	font-size: 12px;
}

.created_time {
	align-self: center;
	margin-left: 4px;
	font-size: 10px;
	color: #828282;
}

.number_of_org {
	display: flex;
	justify-content: center;
	width: 152px;
}

.re_upload {
	width: 94px;
}

.uploaded {
	width: 80px;
	text-decoration-line: underline;
}

.total_count {
	width: 100px;
	text-align: center;
}

.successfully_migrated_count {
	width: 140px;
	text-align: center;
}

.error_type {
	text-align: center;
}

.updated_at {
	display: flex;
	width: 160px;
}

.error {
	width: 120px;
}

.stage {
	display: flex;
	justify-content: flex-start;
	width: 120px;
}

.remark {
	width: 120px;
}

.description {
	min-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.uploaded_by {
	width: 120px;
}

.popover {
	display: flex;
	justify-content: flex-start;
}

.pop_container {
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.type {
	display: flex;
	justify-content: center;
	width: 80px;
}

.inner_type {
	display: flex;
	justify-content: center;
}

.current_status {
	width: 120px;
}

.red_dot {
	position: relative;
	z-index: 100;
	width: 3px;
	height: 3px;
	margin-left: 14px;
	cursor: pointer;
	border-radius: 50%;

	&::before {
		position: absolute;
		top: -3px;
		right: -3px;
		bottom: -3px;
		left: -3px;
		z-index: -1;
		content: "";
		background-color: #f00;
		border-radius: 50%;
		opacity: 0.6;
		animation: blink 1s infinite;
	}

	&::after {
		position: absolute;
		top: -6px;
		right: -6px;
		bottom: -6px;
		left: -6px;
		z-index: -2;
		content: "";
		background-color: #f00;
		border-radius: 50%;
		opacity: 0.3;
		animation: blink 2s infinite;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
