.body_container {
	display: flex;
	width: 100%;
	padding-top: 24px;
}

.check_in_style {
	width: 28%;
	min-height: 30vh;
	padding: 14px;
	margin-right: 24px;
	background-color: #f9f9f9;
	border-radius: 16px;
}

.attendance_stats {
	width: 72%;
	padding: 14px;
	background-color: #f9f9f9;
	border-radius: 16px;
}
