.collection_party {
	display: flex;
	border: 1px solid black;

	@media (max-width: 768px) {
		display: block;
	}

	:global {
		.ui_select_container {
			min-width: 280px;
			margin: 0 20px 20px;
		}
	}
}

.controller {
	display: block;
	width: 30%;
	margin-top: 20px;
}

.generate_button {
	width: 100px;
	min-height: 40px;
	margin-top: 40px;
	margin-left: 50%;
}

.download_button {
	width: 100px;
	min-height: 40px;
	margin-top: 40px;
}

.input_controller {
	max-width: 250px;

	:global {
		.ui_input_container {
			height: 32px;
		}
	}
}
