.container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.sub_title {
	margin-top: 2px;
	font-size: 12px;
	color: #4f4f4f;
}

.performance_achievement {
	display: flex;
	align-items: center;
}

.claps_flex {
	display: flex;
	align-items: center;
	color: #4f4f4f;
}

.claps {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin-right: 8px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 100px;
}

.performance_flex {
	display: flex;
	align-items: center;
}

.mr_12 {
	margin-right: 12px;
}

.kpi_flex {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.kpi_data {
	flex: 1 0 45%;
	padding-right: 6px;

	/* height: 170px; */
}

.kpi_okr {
	position: relative;
	padding: 14px 14px 18px 20px;
	color: #221f20;
	background-color: #fad85d;
	border-radius: 16px;

	/* height: 100%; */
}

.kpi_okr_title {
	font-size: 16px;
}

.kpi_okr_count {
	font-size: 32px;
	font-weight: 600;
}

.view_okr_flex {
	display: flex;
	align-items: center;
	margin-top: 60px;
	font-size: 12px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: pointer;
}

.kpi_img {
	position: absolute;
	top: -20px;
	right: -10px;
}

.story_points_data {
	flex: 1 0 55%;

	/* height: 160px; */
	padding-left: 6px;
}

.leaderboard_data {
	display: flex;
	margin-top: 12px;
}

.leaderboard {
	flex: 1 0 50%;
	padding-right: 6px;
}

.working_hrs {
	flex: 1 0 50%;
	padding-left: 6px;
}

.company_feed {
	padding: 16px 12px;
	margin-top: 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.company_feed_title {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.flex {
		flex-wrap: wrap;
	}

	.performance_achievement {
		flex-wrap: wrap;
	}

	.kpi_flex {
		flex-wrap: wrap;
	}

	.kpi_data {
		flex: 1 0 100%;
		margin-bottom: 12px;
	}

	.story_points_data {
		flex: 1 0 100%;
		padding: 0;
	}

	.leaderboard_data {
		flex-wrap: wrap;
	}

	.leaderboard {
		flex: 1 0 100%;
		padding: 0;
		margin-bottom: 12px;
	}

	.working_hrs {
		flex: 1 0 100%;
		padding: 0;
	}
}
