.container {
	margin: 10px 0 20px;
	background-color: #fff;
	border: 2px solid #dad9d8;
	border-radius: 5px;
}

.upperrow {
	display: flex;

	@media (max-width: 885px) {
		flex-direction: column;
	}
}

.slabs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	@media (max-width: 870px) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.slab {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	padding: 10px 10px 0;

	@media (max-width: 870px) {
		flex-direction: column;
		width: 100%;
		padding: 10px 10px 0;
		margin: 10px 0;
	}
}

.label {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 500;
}

.value {
	display: block;
	width: 90%;
	overflow: hidden;
	font-weight: 500;
	color: #4f4f4f;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0.9;
}

.buttoncontainer {
	display: flex;
	justify-content: space-between;
}

.delete_buttons {
	display: flex;
	gap: 20px;
}

.titles {
	font-size: 15px;
	font-weight: 500;
}

.modal_body {
	max-height: 80vh !important;

	@media (max-width: 768px) {
		width: 100vw;
		min-height: 100vh;
	}
}
