.container {
	padding: 18px 24px;
	margin-top: 50px;
	background: #fff;
	border-radius: 6px;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
}

.control_item {
	flex-basis: 27%;
	margin-right: 20px;
	margin-bottom: 30px;
}

.sup {
	color: #f00;
}

.error_msg {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	color: #cb6464;
}

.label {
	margin-bottom: 4px;
}

.btn {
	margin-top: 20px;
	margin-left: auto;
}

.config_container {

	:global{
		.ui_radiogroup_container{
			padding: unset;
			margin-top: 16px;
			margin-bottom: 6px;
		}

		.ui_radio_container{
			padding: unset;
			margin-right: 30px;
		}
	}
}

.accordion {
	width: 50%;
	margin-top: 40px;
	color: #4F4F4F;
}

.accord_item {
	border-radius: 4px;
	background-color: #fff;
}

.title {
	font-weight: 600;
}

.accord_item {
	padding: 8px 12px;
}

.accord_item:not(:last-child){
	margin-bottom: 20px;
}