.control_container {
    display: flex;
	justify-content: flex-start;
    padding: 8px 0px;
    align-items: center;
}

.controller {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-right: 8px;

    span {
        margin-bottom: 4px;
        font-weight: bold;
    }

    :global {
        .ui_select_options_container {
            width: 180px;
        }
        .ui_select_display_container {
            width: 180px;
        }
    }
}
