.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 14px;
	font-weight: 500;
}

.icons_container {
	display: flex;
}

.filter_icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.refresh_icon {
	width: 18px;
	height: 18px;
	margin-right: 4px;
	cursor: pointer;
}

.filters_applied {
	position: relative;
	right: 3px;
	bottom: 3px;
	width: 7px;
	height: 7px;
	background: #f68b21;
	border-radius: 5px;
}

.pagination {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding-top: 10px;
	background: #f9f9f9;
}
