.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background: white;
}

.line_div {
	display: flex;
}

.pills {
	height: 30px;
	padding: 6px;
	margin-right: 8px;
	background: #f2f3fa;
	border: 1px solid #ececec;
	border-radius: 24px;
}

.traders_line {
	margin-left: 20px;
}

.button_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	margin-right: 12px;
}
