.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.group {
	display: flex;
	align-items: center;
}

.type {
	margin-left: 6px;
}

.title {
	font-size: 22px;
	font-weight: 500;
}
