.pills_container {
	display: flex;

	:global {
		.ui_pill_container {
			border-radius: 24px;
		}

		.ui_pill_text {
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
