

export const BtnGrp = styled.div`
	display: flex;
	justify-content: flex-end;
	background: #ffffff;
	padding: 16px;
	border-top: 1px solid #cbcff5;

	@media (min-width: 768px) {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
`;

export const Container = styled.div`
	display: flex;
	flex-direction: column;

	& .form-item-label {
		color: #393f70;
		font-size: 12px;
		font-weight: 400;

		margin-top: 16px;
		margin-bottom: 4px;
	}
`;

export const LayoutContainer = styled.div``;

export const Title = styled.div`
	color: #393f70;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	margin: 16px 0px 0px;
`;
