.container {
	position: fixed;
	bottom: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 96%;
	padding: 16px;
	margin-left: -36px;
	background: #fff;
	box-shadow: 0 0 33px rgb(0 0 0 / 25%);
}

.amount {
	display: flex;
	align-items: center;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #f68b21;
	text-align: center;
}

.button_container {
	display: flex;
	align-items: center;
	margin-right: 4px;
}

.view_button {
	margin-left: 16px;
}

.text {
	display: flex;
	align-items: center;
	padding-left: 12px;
	font-size: 22px;
	font-weight: 500;
	color: #333;
	text-align: center;
}

.currency {
	display: flex;
	margin-top: 9px;
	font-size: 12px;
	font-weight: 500;
	color: #f68b21;
}

.sid_count {
	display: flex;
	gap: 4px;
	margin-left: 16px;
	font-size: 12px;
	font-weight: 500;
	color: #333;
}

.alert {
	margin-right: 10px;

	@keyframes blinker {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	.alert_icon {
		text-decoration: blink;
		animation-name: blinker;
		animation-duration: 0.6s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	.alert_icon:hover {
		animation: none;
	}
}
