.cardtitle {
	/* identical to box height */

	display: flex;
	align-items: center;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 14px;

	/* Gray 3 */

	color: #828282;
	letter-spacing: 0.04em;

	&.icon {
		justify-content: center;
		width: 100%;
	}
}

.grid {
	display: flex;
	justify-content: space-around;
	margin: 10px;
	font-weight: 500;

	/* grid-template-columns: auto auto auto auto; */
}

.column {
	display: flex;
	text-align: left;
}
