.style_filter_button {
	color: var(--color-primary-error-red-2);
}

.action_buttons {
	display: flex;
	gap: 6px;
	justify-content: flex-end;
}

.filter_container {
	width: 350px;
	max-height: 500px;
	overflow-y: scroll;

	b {
		font-size: var(--font-size-md);
	}

	:global {
		.ui_radiogroup_container {
			flex-direction: column;
			font-size: var(--font-size-md);
		}

		.ui_select_input_placeholder {
			font-size: var(--font-size-md);
		}

		.toggle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 12px;
		}

		.ui_toggle_container {
			padding-right: 0;
		}
	}
}
