.style_filter_button {
	color: var(--color-primary-error-red-2);
}

.action_buttons {
	position: sticky;
	z-index: 100;
	display: flex;
	gap: 6px;
	align-items: flex-end;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.filter_container {
	width: 350px;

	b {
		font-size: var(--font-size-md);
	}

	:global {
		.ui_radiogroup_container {
			display: flex;
			flex-flow: wrap;
			font-size: var(--font-size-md);
		}

		.ui_select_input_placeholder {
			font-size: var(--font-size-md);
		}

		.toggle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 12px;
		}

		.ui_toggle_container {
			padding-right: 0;
		}
	}
}

.filter_dot {
	position: relative;
	right: 6px;
	bottom: 6px;
	width: 8px;
	height: 8px;
	background: #ee3425;
	border: 1px solid #fff;
	border-radius: 100%;
}

.controls_container {
	max-height: 500px;
	padding-right: 15px;
	overflow-y: scroll;
}
