.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px 12px;
	margin-top: 16px;
	background: #fff;
	border-radius: 16px;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 12px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

.row1 {
	font-size: 12px;
	font-weight: 400;
	color: #828282;
}

.row2 {
	display: flex;
	align-items: center;
	margin-top: 4px;
	font-weight: 500;
	color: #221f20;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 16px;
}

.upper_text {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.lower_text {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}
