.fields_container {
	:global {
		.ui_select_container {
			width: 300px;
		}

		.ui_is_open {
			word-break: break-word;
			white-space: pre-wrap;
		}
	}
}

.title {
	margin: 12px 0 4px 4px;
	font-size: 12px;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 32px;
}
