.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #f8f2e7;
	background-size: cover;

	@media (max-width: 768px) {
		align-items: flex-start;
		height: 100%;
	}
}

.form_container {
	width: 75%;
}

.logo {
	width: 200px;
	margin-bottom: 20px;
}

.box_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 404px;
	height: 546px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 44px rgb(98 127 172 / 20%);

	@media (max-width: 768px) {
		margin: 20px 0;
	}
}

.input_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}

.input_label {
	width: 70%;
	font-size: 14px;
	color: #828282;
	text-align: center;
}

.password {
	padding: 0 8px;
	border-radius: 5px;
}

.password_container {
	border-radius: 5px;
}

.submit_button {
	font-size: 12px;
	font-weight: 600;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgb(98 127 172 / 20%);
}

.errors {
	font-size: 12px;
	color: var(--color-primary-error-red-1);
}

.show_password {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.forgot {
	margin: 20px;
	text-align: center;

	a {
		font-weight: 500;
		color: #221f20;
		text-decoration-line: underline !important;
	}
}

.or {
	display: flex;
	flex-direction: row;
	margin: 16px 0;
	text-align: center;
}

.line {
	box-sizing: content-box;
	width: 40%;
	height: 0;
	overflow: visible;
}

.micro {
	padding-left: 5px;
	margin-top: 7px;
}
