.sub_container{
    display: flex;
    align-items: center;
    padding: 0 10px 10px 10px;  
}

.info{
    width: 25%;
}

.fcl_icon{
    width: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.icon_container{
    height: 30px;
}

.icon_text{
    font-size: 10px;
    font-weight: 600;
    color: var(--color-primary-error-red-2);
}

.port_detail{
    width: 40%;
}

.pills{
    width: 35%;
}

.divider{
    width: 1px;
    background: var(--color-secondary-greyscale-5);
    align-self: stretch;
    margin: 0 20px;
}