.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.left_container {
	display: flex;
}

.icon_container {
	display: flex;
	align-items: center;
	margin-right: 8px;

	svg {
		width: 16px;
		height: 16px;
	}
}

.subheading {
	font-size: 10px;
	color: #8b8b8b;
}

.code {
	margin-left: 8px;
	color: #8b8b8b;
}

.location_name {
	display: block;
	max-width: calc(100% - 45px);
	margin: 0;
	overflow: hidden;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 86%;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.name_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	/* width: 100%; */

	&.margin {
		margin-bottom: 6px;
	}
}
