.container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 20px;
}

.flex_row_origin {
	display: flex;
	flex-direction: column;
	width: fit-content;
	max-width: 40%;
	margin: 0 20px;
}

.flex_row_destination {
	display: flex;
	flex-direction: column;
	width: fit-content;
	max-width: 40%;
	margin: 0 20px;
}

.value {
	width: 100%;
	overflow: hidden;
	font-size: var(--font-size-md);
	font-weight: 700;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	margin: 0 12px;
}

.port_code {
	display: flex;
	align-items: center;
	line-height: 10px;
}

.code {
	margin: 0 0 4px;
	font-size: var(--font-size-sm);
	font-weight: 500;
	color: var(--color-accent-orange-2);
}

.country {
	margin: 0;
	overflow: hidden;
	font-size: var(--font-size-sm);
	font-weight: 400;
	color: var(--color-secondary-greyscale-3);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.service_name {
	margin: 0;
	margin-top: 4px;
	font-size: var(--font-size-md);
	font-weight: 400;
	color: #5936f0;
}

.icon_and_service {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}

.icd {
	margin: 4px 0;
	font-size: var(--font-size-sm);
	font-weight: 700;
}

.icons_and_service {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-sm);
	font-weight: 700;
	color: #ee3426;
	letter-spacing: 0;
	white-space: nowrap;

	& > svg {
		width: 24px;
		height: 24px;

		& > path {
			fill: #ee3426;
		}
	}
}
