.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 12px 16px;
	padding-bottom: 20px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 10px;

	.main-flex {
		box-sizing: border-box;
		background: #fff;
		border: 1px solid #e0e0e0;
		border-radius: 10px;
		box-shadow: 0 2px 55px rgb(60 67 83 / 10%);
	}

	.kyc-title {
		font-size: 16px;
		font-weight: bold;
		line-height: 36px;
		color: #000;
	}

	.kyc-text {
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
		color: #828282;

		@media (max-width: 1366px) {
			font-size: 12px;
		}
	}
}

.heading {
	padding-bottom: 4px;
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
	color: #2c3e50;
}

.credit_approval_container {
	display: flex;
	justify-content: space-between;
	max-width: 88%;
}

.text_container {
	padding-top: 4px;
	padding-right: 50px;
	padding-left: 2px;
	font-size: 14px;
}

.link_container {
	font-size: 14px;
}

.refresh_text {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	padding: 6px 16px;
	font-size: 10px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	background: #356efd;
	border-radius: 0 10px 0 0;

	.animate {
		animation: spin-anim 1.2s linear infinite;

		@keyframes spin-anim {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.button_container {
	margin-right: 30px;
}

.refresh_icon {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.approval_icon {
	display: flex;
	align-items: center;
	padding: 8px 12px 0 0;
}

.flex_column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.contact_details {
	display: flex;
	flex-direction: column;
	margin-right: 8px;
}

.user_name {
	font-weight: 700;
}

.sub_text {
	font-size: 12px;
	color: #f68b21;
}

.flex {
	display: flex;
	align-items: center;
}
