.container{
	border-top: 1px solid #F68B21; 
	padding: 12px 24px; 
	}  
	
	.container.confirmed_by_service_provider{
		border-top: 1px solid #ABCD62;
	} 
	
	.container.confirmed_by_importer_exporter{ 
		border-top: 1px solid #ABCD62;
	}
	
	.container.cancelled{ 
		border-top: 1px solid #ABCD62;
	}  
	
	
	.remaining_keys{
		display: flex;  
		flex-wrap: wrap;
	} 
	
	
	.multiservice{
		display: flex; 
		flex-wrap: wrap;
	} 
	
	.mainservice_tabs { 
		margin-right: 12px;
		width: fit-content; 
		box-shadow: 0px 0px 8px rgba(44, 62, 80, 0.2);  
		font-family: 'Poppins'; 
		padding: 6px 12px;  
		font-weight: 600;
		font-size: 12px; 
		border-radius: 6px;
		cursor: pointer; 
		background: #FFFFFF;
	}  
	
	.mainservice_tabs.active{
		background-color: #FDEBE9; 
		color: #EE3425;
	} 
	
	.mainservice_tabs.active.confirmed_by_importer_exporter{
		background-color:#f5faeb;
		color: #768d44;
	} 
	
	
	.mainservice_tabs.active.confirmed_by_service_provider{ 
		background-color: #f5faeb;
		color: #768d44;
	}
	
	.multiservices_heading{
		display: flex; 
		align-items: center; 
	} 
	
	.free_days{
		display: flex; 
		flex-wrap: wrap;
	}
	