.container{
border-top: 1px solid #F68B21; 
padding: 12px 24px; 
}  

.container.confirmed_by_service_provider{
	border-top: 1px solid #ABCD62;
} 

.container.confirmed_by_importer_exporter{ 
	border-top: 1px solid #ABCD62;
}

.container.cancelled{
} 

.container.cancelled{ 
	border-top: 1px solid #ABCD62;
}  

.free_days{

} 

.remaining_keys{
	display: flex;  
	flex-wrap: wrap;
	/* border-bottom: 1px solid #F68B21;  */
} 
.remaining_keys.confirmed_by_service_provider{
	/* border-bottom: 1px solid #ABCD62; */
} 

.remaining_keys.confirmed_by_importer_exporter{  
	/* border-bottom: 1px solid #ABCD62; */
}

.remaining_keys.cancelled{ 
	/* border-top: 1px solid #ABCD62; */
}  

.multiservice{
	display: flex; 
	/* border-bottom: 1px solid #F68B21;   */
	flex-wrap: wrap;
} 
.multiservice.confirmed_by_service_provider{
	/* border-bottom: 1px solid #ABCD62; */
} 

.multiservice.confirmed_by_importer_exporter{  
	/* border-bottom: 1px solid #ABCD62; */
}

.multiservice.cancelled{ 
	border-top: 1px solid #ABCD62;
}  

