
.error_message {
	font-size: 10px;
	color: #cb6464;
    padding: 0px;
}

.modal_container 	{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    padding: 0 16px;
}

.control_container {
	display: flex;
	flex-basis: 30%;
	flex-direction: column;
}

.control_label {
	margin-bottom: 4px;
}

.close_button {
    display: flex;
    justify-content: flex-end;
    margin: 48px 16px 12px 16px;

}