.error_message {
	padding: 0;
	font-size: 10px;
	color: #cb6464;
}

.modal_container {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	margin: 12px 0;
	margin-bottom: 36px;

	:global {
		.ui_modal_body_container {
			height: 800px;
			padding: 0;
		}
	}
}

.control_container {
	display: flex;
	flex-basis: 30%;
	flex-direction: column;
	
	margin: 4px 0;

	
	
}

.control_label {
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
}

.close_button {
	display: flex;
	justify-content: flex-end;
	margin: 48px 16px 12px;
}


.optional {
	font-size: 12px;
	color: #cb6464; 
}

.upload {
	:global(.ui_upload_filesuccess_container){
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;

	}
}