.table {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
}

.row {
	display: flex;
	align-items: center;
	padding-top: 10px;

	:global {
		.ui_input_number_container {
			max-width: 35%;
		}
	}
}

.row_subitem {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 50%;
}

.text {
	width: 50%;
	margin: 0 16px;
}

.button {
	display: flex;
	justify-content: flex-end;
	padding: 10px 20px;
	margin-top: 10px;
	background: #fff;
}
