.flex_column {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;
	align-items: center;
}

.bold {
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
}

.question_text {
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text {
	margin-top: 12px;
}

.question_text_content {
	overflow: unset;
	text-overflow: unset;
	white-space: unset;
}
