.pagination_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.table_container {
	overflow-x: scroll;
	box-shadow: 0 0 16px rgb(44 62 80 / 5%);
}

.table {
	background-color: #fff;

	tr {
		height: 60px;
	}

	:global(.ui_table_head_cell) {
		min-width: 100px;
		font-size: 14px;
	}
}
