.certificate_container {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	a {
		font-size: 14px;
		font-weight: 400;
		display: flex;
		color: #a8acce;
		align-items: center;

		svg {
			margin-left: 4px;
		}
	}
}
