.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 32px;
	background: linear-gradient(0deg, #ced1ed 0%, rgb(243 250 250 / 0%) 83.7%);

	@media (min-width: 2560px) {
		padding: 44px;
	}
}

.empty_img {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.empty_list {
	margin: auto 0;
	font-size: 22px;
	color: #4f4f4f;
	text-align: center;
}
