.heading_container {
	padding-left: 10px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	color: #333;
	letter-spacing: 0.04em;
}

.filterButton {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 42px;
	padding: 8px 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #333;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}

.apply {
	:global {
		.ui_button_container {
			color: #fff;
			background-color: #333;
			border: none;
		}

		.ui_button_container:hover {
			color: #fff;
			background-color: #333;
			border: none;
			box-shadow: 0 0 8px rgb(10 14 18 / 30%);
		}
	}
}

.clear {
	margin-right: 10px;

	:global {
		.ui_button_container {
			color: #f68b21;
			background-color: #fff;
			border: none;
		}

		.ui_button_container:hover {
			color: #f68b21;
			background-color: #fff;
			border: none;
			box-shadow: 0 0 8px rgb(44 62 80 / 30%);
		}
	}
}

.modal_container {
	:global {
		.ui_modal_dialog {
			width: 600px !important;
		}
	}
}

.icon {
	padding-top: 2px;
	padding-left: 5px;
	color: #ed3726;
}

.container_filter {
	padding-left: 25px;
	margin-top: -20px;
}
