.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.title {
	margin: 0;
}

.header_title {
	font-weight: 300;
	color: #615858;
}

.header_value {
	margin-left: 6px;
	font-weight: 600;

	:global {
		.flex_box {
			display: inline-flex;
			align-items: center;
		}

		.copy_icon {
			margin: 0 5px;
			cursor: pointer;
		}
	}
}

.cancel_btn {
	margin-left: 12px;
}
