.flex_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.title {
	margin: 0;
}

.header_title {
	font-weight: 300;
	color: #615858;
}

.header_value {
	margin-left: 6px;
	font-weight: 600;
}

.cancel_btn {
	margin-left: 12px;
}
