
.card{
    width: fit-content;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    padding: 12px 20px 12px 12px;
    margin-top: 20px;
    font-size: 16px;
    color: #221F20;
}

.details{
    margin-left: 12px;
    padding: 12px 0 0 0;
}

.name{
    font-weight: 700;
    margin-left: 4px;
}
