.container {
	width: 100%;
	margin-top: 32px;
}

.question {
	white-space: initial;
}

.topics {
	display: flex;
	flex-wrap: wrap;
	margin-right: 4;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-right: 4;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}
