.button_container {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.body {
	padding: 20px;
	border-top: 1px solid #e0e0e0;
}

.heading {
	font-weight: 500;
}

.heading,
.sub_heading { color: #4f4f4f; }
