.calendar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	width: fit-content;
	margin: 10px 0;
	cursor: pointer;
	scroll-snap-stop: always;
}

.label {
	font-size: 16px;
	color: #828282;
	text-align: center;
	white-space: nowrap;

	&:hover {
		font-weight: 500;
		color: #444;
		transition: 0.3s;
	}
}

.sub_label {
	font-size: 10px;
	color: #828282;
	text-align: center;
	white-space: nowrap;

	&:hover {
		font-size: 12px;
		font-weight: 500;
		color: #444;
		transition: 0.3s;
	}
}

.active {
	background: #fff !important;
	box-shadow: 0 0 10px #ababab;
	transition: 0.1s;

	.label {
		font-weight: 500;
		color: #444;
	}

	.sub_label {
		font-size: 12px;
		font-weight: 500;
		color: #444;
	}
}

.date_container {
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 60px;
	margin: 0 10px;
	background: rgb(255 255 255 / 40%);
	border-radius: 6px;

	&:hover {
		background: #fff;
		box-shadow: 0 0 10px #d4d4d4;
		transition: 0.1s;
	}
}

.week_calendar {
	display: flex;
}

.week_calendar .date_container {
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 93px;
	height: 60px;
	margin: 0 10px;
}
