.calendar {
	display: flex;
	flex: 1;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	width: fit-content;
	margin: 10px 0;
	font-style: normal;
	cursor: pointer;
	scroll-snap-stop: always;
}

.day_hours1 {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #828282;
	text-align: center;
}

.date_container {
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 60px;
	margin: 0 10px;
	background: rgb(255 255 255 / 40%);
	border-radius: 6px;
}

.date_container:hover {
	background: #fff;
	box-shadow: 0 0 10px #d4d4d4;
	transition: 0.1s;
}

.week_calendar {
	gap: 15px;
}

.day_hours2 {
	font-size: 10px;
	font-weight: 400;
	line-height: 22px;
	color: #828282;
	text-align: center;
	white-space: nowrap;
}

.active {
	background-color: #fff;
	box-shadow: 0 0 10px #ababab;
	transition: 0.1s;

	&:hover {
		background-color: #fff;
		box-shadow: 0 0 10px #ababab;
		transition: 0.1s;
	}

	.day_hours1 {
		font-size: 16px;
		font-weight: 500;
		color: #444;
		transition: 0.3s;
	}

	.day_hours2 {
		font-size: 12.5px;
		font-weight: 500;
		color: #444;
		transition: 0.3s;
	}
}

.week_calendar .day_hours1 {
	font-size: 14px;
	white-space: nowrap;
}

.date_container:hover .day_hours1 {
	font-size: 16px;
	font-weight: 500;
	color: #444;
	transition: 0.3s;
}

.date_container:hover .day_hours2 {
	font-size: 12px;
	font-weight: 500;
	color: #444;
	transition: 0.3s;
}

.week_calendar .date_container {
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 93px;
	height: 60px;
	margin: 0 10px;
}
