.container {
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	font-size: 20px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 8px;
}

.pills_container {
	display: flex;
	justify-content: space-between;
}

.button_container {
	display: flex;
	justify-content: flex-end;
}
