.loader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 16px;
	margin-right: 12px;
}

.circle {
	display: flex;
}

.loader_cont {
	width: 33%;
	padding: 12px;
	margin-bottom: 12px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
