.date {
	margin-left: 8px;

	input {
		height: 40px !important;
	}
}

.category_section {
	width: 222px;
	margin-right: 12px;
}

.urgency_section {
	width: 120px;
	margin-right: 12px;
}

.date_section {
	width: 160px;
	margin-right: 12px;

	span {
		display: none;
	}

	input {
		height: 40px !important;
	}
}

.toggle {
	div {
		color: #000;
	}
}
