.button_flex_data {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.flex_data {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.modal_data {
	:global {
		.ui_modal_body_container {
			height: 100px;
			overflow: visible !important;
		}
	}
}
