.list_invoice_part {
	display: flex;
	justify-content: space-between;
	width: 20%;
	padding: 8px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.agent_name {
	font-size: 12px;
	color: #828282;
	margin: 4px;
	&> span{
		color: black
	}
}

.line {
	border-right: 1px solid #e0e0e0;
}
