.no_support {
	display: flex;
	padding: 20px;
}

.sad_text {
	width: 70%;
	margin: 10px 0;
	font-size: 14px;
	font-weight: 600;
	color: #b6bfd4;
	text-align: center;
}

.sad_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 6px rgb(0 0 0 / 15%);
}
