.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 20px;
	margin: 24px 0;
	background: var(--color-secondary-5);
	border-radius: 8px;
}

.chart_container {
	width: 50%;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.chart_title {
	font-size: 16px;
	color: var(--color-secondary-greyscale-1);
}

.single_chart_container {
	height: 200px;
}

.empty_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 224px;
	font-size: 16px;
}

.pie_tooltip {
	padding: 4px;
	background-color: var(--color-secondary-5);
	border: 1px solid #bdbdbd;
	border-radius: 4px;
}
