.container {
	display: flex;
	justify-content: space-between;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.task_date_details {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: -2px;
	white-space: nowrap;
}

.cargo_details {
	display: flex;
	flex-direction: row;
}

.icon {
	margin-top: 2px;
	margin-right: 16px;
}

.task_and_icon {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.task_name {
	margin-right: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	white-space: break-spaces;
}

.deadline {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	color: var(--color-primary-error-red-2);

	& > svg {
		width: 16px;
		height: 16px;
	}
}

.completed {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	color: var(--color-tertiary-success-green-1);

	& > svg {
		width: 16px;
		height: 16px;
	}
}
