.modal {
	:global {
		.ui_modal_body_container {
			overflow-x: visible;
		}
	}
}

.container {
	display: flex;
	justify-content: space-around;
	height: 100px;
}

.download {
	display: flex;
	justify-content: flex-end;
}

.download_icon {
	margin-left: 4px;
	color: #fff;
}
