.heading{
    display: flex;
    justify-content: space-between;
}

.actions{
    display: flex;
}

.edit{
    margin-right: 8px;
}

.label{
    font-weight: 600;
    font-size: var(--font-size-md);
}

.value {
    margin-bottom: 10px;
    font-size: var(--font-size-md);
}

.container {
    display: flex;
}
.each_pref {
    justify-content: space-between;
    display: flex;
    
    &:not(:last-child) {
        border-bottom: 1px solid black;
    }

    &:not(:first-child){
        margin-top:10px;
    }
}

.columns{
    display: flex;
    flex-direction: column;
    width: 30%;
}