.location_container {
	display: flex;
	align-items: flex-end;
}

.select_controller {
	display: flex;
	flex-direction: column;

	:global {
		.ui_select_container {
			width: 350px;
		}
	}
}

.location_label {
	position: relative;
	top: 9px;
	left: 6px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	padding: 0 3px;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	background: #fff;
	border-radius: 4px;
}

.port_arrow_icon {
	padding: 0 20px;
}

.select_container {
	:global {
		.ui_select_container {
			width: 200px;
		}
	}
}

.container {
	display: flex;
	justify-content: space-between;
}
