.container {
	display: flex;
	flex-direction: column;
	height: 410px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.empty_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;
	display: flex;
	padding: 14px 2px 4px 10px;
	margin-top: 4px;
	border: 1.5px solid #eeeeeefe;
	border-radius: 5px;
}

.meeting {
	position: absolute;
	top: 0;
	right: 4px;
}

.important_event {
	border: 1.5px solid #f8aea8;
}

.not_important_event {
	border: 1.5px solid #e0e0e0;
}

.avatar_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	padding: 6px 10px;
	text-align: center;
	border-radius: 4px;
}

.time {
	margin-top: 4px;
	font-size: 7px;
	color: #4f4f4f;
}

.details {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 8px;
}

.expired_event {
	background: rgb(221 221 221 / 20.1%);
}

.business_name {
	font-size: 12px;
	font-weight: 600;
	color: #221f20;
}

.description {
	padding: 4px 0;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
}

.poc_details {
	display: flex;
}

.name {
	font-size: 12px;
	color: #828282;
}

.poc_data {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 6px;
}

.contact_details {
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.meeting_times {
	padding: 4px 0;
	font-size: 11px;
	font-weight: 500;
	color: #828282;
}

.invite_link {
	font-size: 10px;
	color: blue;
	cursor: pointer;
}

.partispants {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	color: #828282;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}

.single_action {
	margin-left: 8px;
	cursor: pointer;
	transition: 0.3s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.title {
	font-size: 13px;
	font-weight: 500;
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 6px 0;
	background: #fff;
	border: none;
	box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
	transition: 0.2s ease-in-out;
}

.tab {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 8px 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.active_tab {
	color: var(--color-primary-error-red-2);
	background-color: var(--color-primary-error-red-5);
}
