.container {
	display: flex;
	flex-direction: column;
	height: 460px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.empty_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;
	display: flex;
	padding: 14px 2px 14px 10px;
	margin-top: 4px;
	border: 1.5px solid #eeeeeefe;
	border-radius: 5px;
}

.meeting {
	position: absolute;
	top: 0;
	right: 4px;
}

.important_event {
	border: 1.5px solid #f8aea8;
}

.not_important_event {
	border: 1.5px solid #e0e0e0;
}

.avatar_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	padding: 6px 10px;
	text-align: center;
	border-radius: 4px;
}

.time {
	margin-top: 4px;
	font-size: 8px;
	color: #4f4f4f;
}

.details {
	display: flex;
	flex-direction: column;
	margin-left: 8px;
}

.business_name {
	font-size: 12px;
	font-weight: 600;
	color: #221f20;
}

.description {
	padding: 4px 0;
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
}

.poc_details {
	display: flex;
}

.name {
	font-size: 12px;
	color: #828282;
}

.poc_data {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 6px;
}

.contact_details {
	width: 80%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.meeting_times {
	padding: 4px 0;
	font-size: 11px;
	font-weight: 500;
	color: #828282;
}

.invite_link {
	font-size: 10px;
	color: blue;
	cursor: pointer;
}

.partispants {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	color: #828282;
}
