.box {
	display: inline-block;
	width: max-content;
	padding: 4px 6px;
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: 10px;
	line-height: 12px;
	background: #f2f2f2;
	border-radius: 4px;
}

.certificate_container {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	a {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		color: #a8acce;

		svg {
			margin-left: 4px;
		}
	}
}

.div_container {
	display: flex;
	flex-flow: wrap;
}
