.parent {
	background-color: #fbfbfb;
}

.container {
	/* margin-top: 20px; */
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	margin: 0 20px;
}

.line {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.services {
	display: flex;
	flex-wrap: wrap; /* Wrap items for smaller screens */
	justify-content: space-between;
	padding: 0 20px;
}

.service_bundling {
	width: 100%; /* Initially take up the entire width */
	margin-bottom: 20px; /* Add some spacing between services */

	@media (min-width: 768px) {
		width: 25%; /* For larger screens, take 25% width */
	}
}

.additional_services {
	width: 100%; /* Initially take up the entire width */

	@media (min-width: 768px) {
		width: 70%; /* For larger screens, take 70% width */
	}
}

.subsidiary_services {
	padding: 36px 0;
	margin: 36px 0;
	border-top: 1px dashed #dcdde5;
}

.proceed_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.proceed_button {
	width: 100%; /* Initially take up the entire width */

	@media (min-width: 768px) {
		max-width: 200px; /* For larger screens, set a maximum width of 200px */
	}
}
