.intent_served_box {
	display: flex;
	flex-direction: column;
	width: 52%;
	height: 280px;
	padding: 13px;
	background-color: #fff;
	border-radius: 6px;
}

.heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: #4f4f4f;
}

.sub_section {
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-top: 12px;
	border-bottom: 1px solid #f8f2e7;
}

.label {
	color: #828282;
}
