.container {
	width: fit-content;
	margin: 0 auto;
}

.info_cards_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.info_card {
	width: 180px;
	padding: 20px 28px;
	margin-right: 16px;
	background: #fef199;
	border-radius: 6px;

	h1 {
		color: #849e4c;
	}
}
