.container {
	width: 100%;
	height: 100%;
}

.sid_container {
	font-weight: 600;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 10px;
}

.input_container {
	width: 20%;
}

.button_container {
	margin-left: 4px;
	font-size: 12px !important;
	font-weight: 600;
}

.search_icon {
	width: 18px;
	height: 18px;
	fill: #4f4f4f;
}

.header_container {
	display: flex;
	align-items: center;

	:global {
		.ui_badge_container_main {
			align-items: center;
		}
	}
}

.filter_icon {
	margin-inline: 4px;
	cursor: pointer;
}
