.accordion {
	padding: 8px;
	margin: 8px 8px 0;
	background-color: #fff;
	border-radius: 8px;
}

.department {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.department_label {
		margin: 0;
		font-weight: bold;
	}
}

.roles {
	margin: 0 4px;

	:hover {
		background-color: #f8f2e7;
	}
}

.role {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px;
	cursor: pointer;

	.role_label {
		margin: 0;
	}
}

.role:not(:last-child) {
	border-bottom: 1px solid #efefef;
}

.selected_designation {
	background-color: antiquewhite;
}
