.header_flex {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8px;
	cursor: pointer;
}

.avatar {
	min-width: 40px !important;
	min-height: 36px !important;
	margin-right: 4px;
	border-radius: 50% !important;

	:global {
		.ui_avatar_text {
			color: #d6b300;
			background-color: #fef199;
		}
	}

	@media (max-width: 576px) {
		min-width: 30px !important;
		min-height: 30px !important;
	}
}

.left_container {
	display: flex;
	width: fit-content;

	@media (max-width: 576px) {
		width: 100%;
		overflow: hidden;
	}
}

.to_cc_data {
	@media (max-width: 576px) {
		width: calc(100% - 38px);
	}
}

.receipients {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.each_receipient {
	margin: 0 4px;
	font-size: 12px;
	color: #424242;

	@media (max-width: 576px) {
		font-size: 10px;
	}
}

.sender_name {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #424242;

	span {
		margin-left: 4px;
		font-style: oblique;
		color: #c26d1a;
	}
}

.user_name_styles {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 576px) {
		font-size: 12px;
	}
}

.mobile_time_styles {
	width: fit-content;
	font-size: 9px;
}

.label {
	font-size: 12px;
	color: #424242;

	@media (max-width: 576px) {
		font-size: 10px;
	}
}

.time_stamp {
	width: 180px;
	font-size: 12px;
	color: #424242;
	text-align: right;
}

.icon_styles {
	margin: 4px 0 0 6px;
	color: #424242;
	cursor: pointer;
	transition: 0.5s ease-in-out;

	&:hover {
		transition: 0.3s ease-in-out;
		transform: scale(1.2);
	}
}

.icon_flex {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 4px;
}

.tool_tip {
	max-width: 500px !important;
}
