.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    padding: 0 10px;

    > div {
        max-width: 100%;
    }
}

.serial_id {
    font-weight: 600;
    margin-bottom: 6px;
}

.so1_container {
    font-weight: 600;
    font-size: var(--font-size-sm);
    color: var(--color-secondary-greyscale-3)
}

.ellipsis_text {
	font-size: 12px;
	font-weight: 600;
	color: #333333;
	max-width: 100%;
	width: fit-content;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}