.combine_values {
  display: flex;
  gap: 50px;
  align-items: center;
}
.combine_tax {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invoice_number {
  text-decoration: underline;
  color: var(--color-accent-orange-2);
}
.value_data {
  display: flex;
  justify-content: space-around;
}
.trade_party {
  width: 80px;
}
.invoice_value {
  margin-left: 16px;
}
