.kebab_action {
	box-sizing: border-box;
	border: none;
};

.modal_content {
	margin-top: 20px;
};

.text {
	color: #393f70;
	font-size: 18px;
	font-weight: bold;
};

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 15px;
};
