.search {
	width: 40%;
}

.search_switch_toggle_space {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 16px;
	text-align: center;
}

.header_filters {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	@media (max-width: 576px) {
		flex-direction: column;

		>div {
			justify-content: flex-end;
			width: 100%;
		}
	}
}

.select_styles {
	width: 40%;
	margin: 0 0 0 30px;

	@media (max-width: 576px) {
		margin: 10px 0 0;
	}
}

.back_icon {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.toogle_section {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.refresh_icon {
	width: 20px;
	height: 18px;
	cursor: pointer;
}

.padding_inner {
	padding: 0 12px;
}
