.table_main_container {
	padding: "0 40px 0 0";
}

.table {
	margin: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 16px rgb(44 62 80 / 10%);

	tr {
		height: 52px;
	}

	:global(.ui_table_head_cell) {
		font-size: 14px;
	}
}

.pagination_container {
	display: flex;
	justify-content: end;
	width: 100%;
}

.empty {
	width: "600px";
	height: "120px";
	padding: 20px 0;
}

.close_button {
	display: flex;
	justify-content: flex-end;
	padding: 16px;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 8px 16px;
}


.header {
	display: flex;
	align-items: center;
}