.sub_category {
	margin: 0 56px;

	:global {
		.ui_radiogroup_container {
			display: block;
		}
	}
}

.category {
	margin: 0 28px;

	:global {
		.ui_radiogroup_container {
			display: block;
		}
	}
}

.heading {
	display: flex;
	margin: 8px 12px;
	font-size: 1.5em;
	font-weight: 600;
}
