.container {
	display: flex;
	align-items: center;
}

.load_details {
	margin-left: 26px;
}

.load_item {
	min-width: max-content;
	padding: 6px 12px;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 600;
	background: #fcdc00;
	border: 1px solid #fcdc00;
	border-radius: 24px;
}
