.PortArrow {
	width: 40px;
	height: 30px;
	margin: 0 30px;
}

.PortName {
	width: 200px;
	font-size: 12px;
	font-weight: 700;
}

.TopSection {
	display: flex;
}

.Tag {
	padding: 4px 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	background: #dfe1ef;
	border-radius: 4px;
}

.Card {
	width: 450px;
	padding: 10px 10px 10px 0;
	margin-right: 20px;
	border-radius: 4px;
}

.CardRow {
	display: flex;
	flex-direction: row;
	width: 510px;
	margin: 20px 30px 10px;
	overflow-x: scroll;
}

.BottomSection {
	display: flex;
	flex-wrap: wrap;
}
