.list_item_container{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 16px 0px;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   

    &.orange{
        background: #FDF4F3;
        border: 1px solid #EE3425;    
    }

    @media (min-width: 768px){
        flex-direction: row;
        align-items: flex-start;
    }
}
 

.name_container{
    display: flex;
	flex-direction: column;
}

.text{
    font-size: 14px;
    color: #221F20;
}

.reason_text{
    display: block;
	white-space: nowrap;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
    word-break: initial;
    color: #221F20;
}

.lower_label{
    font-size: 10px;
    color:#BDBDBD;
    
    &.email_id{
        color: #888FD1;
    }

}

.label{
    color:#4F4F4F;
    opacity: 0.7;
    flex: 1;
    font-size: 12px;
    margin-bottom: 2px;
}

.value{
	color:#221F20;
	flex: 1;
	width: fit-content;
}

.roles_container {
    display: flex;
    flex-direction: column;

    display: block;
    white-space: nowrap;
    width: fit-content;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content_container{
    display: flex;
    margin-bottom: 4px;
    
    @media (min-width: 768px) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
}


.expiry_date{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.expiry_time{
    font-size: 10px;
    color: #828282;
}

.svg_container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}