.container {
  margin: 24px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 24px;
}
.rejected {
  cursor: pointer;
  display: flex;
}
.popoverRejected {
  width: 125px;
  color: red;
  /* position: absolute;
  left: 88%;
  top: 80%; */
  padding: 8px 12px;
  font-size: 14px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}
.circle {
  border: 1px solid #ed3726;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.circleBig {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 3px;
  cursor: pointer;
}
