.button {
	display: flex;
	justify-content: flex-end;
}

.flex {
	display: flex;
}

.view {
	color: green;
	text-decoration: underline;
	background-color: transparent;
}

.view_flex {
	display: flex;
	gap: 4px;
	align-items: center;
}

.value_data {
	margin: 20px 40px 20px 0;
}

.label_value {
	font-size: 12px;
}

.date_value {
	font-size: 14px;
	font-weight: 600;
}

.document {
	margin: 4px 0;
	font-weight: 600;
}

.document_flex {
	display: flex;
	gap: 8px;
	align-items: center;
	text-align: center;
}
