.main_container {
	margin: 10px 0;

	:global {
		.ui_button_container,
		.ui_pill_container,
		.ui_pill_text {
			width: 100% !important;
		}

		.ui_pill_text {
			text-align: center;
		}
	}
}

.copy_link {
	font-size: 12px;
	color: #034afd;
	text-decoration: underline;
	cursor: pointer;
}
