.verification_status {
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 4px 12px;
	margin-left: 12px;
	font-size: var(--font-size-md);
	font-weight: 600;
	background-color: #f3fafa;
	border-radius: 8px;
}

.flex {
	display: flex;
	padding-bottom: 6px;
}
