.container {
	padding: 16px;
	margin-top: 16px;
	background: #fff;
	border-radius: 8px;
}

.filters {
	display: flex;
	justify-content: space-between;

	:global {
		.ui_select_display_container {
			height: 40px !important;
			margin-right: 12px;
		}
	}
}

.employee_filters {
	display: flex;
	width: 50%;
}

.table_container {
	margin-top: 20px;

	:global {
		table {
			padding: 0;
		}

		background-color: transparent;
		border-radius: 10px;

		.ui_table_head_cell {
			padding: 10px;
			background-color: #fdfbf6;
		}

		.ui_table_body_cell {
			flex-wrap: wrap;
			width: auto;
			padding: 10px;
			background: #fff;
			background-color: #fff;
		}
	}

	@media (max-width: 1010px) {
		overflow-x: scroll;
		scroll-behavior: smooth;

		:global {
			.ui_table_body_cell {
				min-width: 150px;
			}

			.ui_table_body_cell:last-child {
				min-width: 50px;
			}
		}
	}
}

.bottom_banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.banner_text {
	display: flex;
}

.link_text {
	margin-left: 12px;
	color: #034afd;
	text-decoration-line: underline;
	text-transform: capitalize;
	cursor: pointer;
}

.table_name {
	font-weight: 500;
	color: #221f20;
}

.table_employee_detail {
	display: flex;
	align-items: center;
}

.table_dot {
	width: 6px;
	height: 6px;
	margin: 0 8px;
	background: #d9d9d9;
	border-radius: 50%;
}
