.container {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background: #f8f2e7;
	border-radius: 4px;
}

.text {
	margin-left: 10px;
}

.header {
	display: flex;
	font-weight: 700;
	color: #333;
	text-align: center;
}

.status {
	margin-right: 80px;
}
