.service_name {
	margin-right: 16px;
	font-size: 16px;
	font-weight: 500;
}

.container {
	align-items: center;
	margin: 20px;

	:global {
		.ui_accordion_content {
			width: 100%;
			padding: 0;
			background-color: #f3f3f3;
		}

		.ui_accordion_header {
			background-color: #f3f3f3;
		}

		.ui_accordion_title {
			width: 100%;
			padding: 10px 16px;
		}
	}

	&.preview_booking {
		margin: unset;
		margin-bottom: 20px;
	}
}

.service_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
}

.total_display {
	font-size: 14px;
	font-weight: 600;
}

.heading {
	font-size: 24px;
	font-weight: 500;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
	margin-top: 4px;
}

.add_line_item {
	padding: unset 16px !important;
	margin-left: 16px;
	font-weight: 600;
	color: #ff7f00 !important;
}

.button_container {
	display: flex;
	padding-bottom: 4px;
	background-color: #f3f3f3;
}

.service_details {
	display: flex;
	align-items: center;

	:global {
		.ui_pill_container {
			background-color: #fff;
			border: 1px solid  #24c7d9;
			border-radius: 36px;
		}

		.ui_pill_text {
			color: #24c7d9;
		}
	}
}

.flex {
	display: flex;
	align-items: center;

	:global {
		.ui_pill_container {
			height: 24px;
			margin-right: 12px;
		}

		.ui_pill_text {
			font-size: 12px;
			font-weight: 600;
		}
	}
}
