.service_name {
	margin-right: 16px;
	font-size: 16px;
	font-weight: 600;

	:global {
		.secure_now_img {
			mix-blend-mode: multiply;
		}
	}
}

.container {
	align-items: center;
	margin: 20px;

	&.first {
		margin-top: 0;
	}

	:global {
		.ui_accordion_content {
			width: 100%;
			padding: 8px 0 !important;
			overflow: scroll !important;
			background-color: #f3f3f3 !important;
		}

		.ui_accordion_header {
			background-color: #f3f3f3 !important;

			@media (max-width: 768px) {
				padding: 12px 0;
			}
		}

		.ui_accordion_title {
			width: 100%;
			padding: 10px 16px;
		}
	}

	&.preview_booking {
		margin: unset;
		margin-bottom: 20px;
	}
}

.service_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
}

.total_display {
	font-size: 14px;
	font-weight: 600;
}

.add_line_item {
	padding: unset 16px !important;
	margin-left: 16px;
	font-weight: 600;
	color: #ff7f00 !important;
}

.button_container {
	display: flex;
	padding-bottom: 4px;
	background-color: #f3f3f3;
}

.service_details {
	display: flex;
	align-items: center;
}

.flex {
	display: flex;
	align-items: center;

	:global {
		.ui_pill_container {
			height: 24px;
			margin-right: 12px;
		}

		.ui_pill_text {
			font-size: 12px;
			font-weight: 600;
		}
	}
}

.info_text {
	display: flex;
	align-items: center;
	margin-left: 12px;
	font-size: 12px;
	font-weight: 600;
	color: #ee3425;
}
