.container {
	margin-top: 40px;

	@media (max-width: 768px) {
		margin-top: 0;
	}
}

.back_button {
	margin-bottom: 8px;
	font-size: 26px;
	cursor: pointer;
}

.text {
	font-size: 44px;
	color: #221f20;

	@media (max-width: 450px) {
		font-size: 36px;
	}
}
