.source_card {
	position: absolute;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px #e3aa0b;
}

.main_card {
	top: 303px;
	left: 360px;
	box-shadow: 0 0 4px rgb(44 62 80 / 20%);
	animation: pulse 3s 0.9s infinite;
}

.main_container {
	position: relative;
	height: calc(100vh - 137px);
	min-height: 650px;
	padding: 8px 0;
	margin-top: 16px;
	overflow-y: hidden;
	background-color: #fff;
	border-radius: 8px;
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

	.source_card:nth-child(3) {
		top: 170px;
		left: 45px;
	}

	.source_card:nth-child(4) {
		top: 295px;
		left: 45px;
	}

	.source_card:nth-child(5) {
		top: 420px;
		left: 45px;
	}

	&.minimize {
		height: 200px;
		min-height: 200px;
	}
}

.tree_branch {
	position: absolute;
	top: 80px;
	left: 640px;
	display: flex;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

	&.branch_1 {
		top: 220px;
	}

	&.branch_2 {
		top: 355px;
	}

	&.branch_3 {
		top: 480px;
	}

	&.to_top {
		top: 32px;
		left: 32px;
	}
}

@keyframes pulse {
	0%,
	86%,
	100% {
		box-shadow: 0 0 4px rgb(44 62 80 / 20%);
	}

	10% {
		box-shadow: 0 0 24px #e3aa0b;
	}

	70% {
		box-shadow: 0 0 4px #e3aa0b;
	}
}

.tree_icon {
	position: absolute;
	top: -60px;
	left: 225px;
	overflow: hidden;
	transform: scale(1.2, 1.3);
}

.show_btn {
	position: absolute;
	top: 150px;
	left: 32px;
}
