.mode_selection {
  padding: 0px 24px 16px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.upload_data {
  padding: 0px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button_wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}
.text_data {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  align-items: center;
  font-size: 14px;
}
.text_data_bold {
  margin-top: 14px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.url_container {
  color: #3471ae;
  cursor: pointer;
  text-decoration: underline;
}
.flex_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tick_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_value {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.img_height {
  height: 110px;
}
.success {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.uploaded {
  font-size: 16px;
  font-weight: 600;
}
