.container {
	display: flex;
	align-items: center;
	width: 60%;
	padding-left: 32px;
}

.flex_row_origin {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.flex_row_destination {
	display: flex;
	flex-direction: column;
	width: 45%;
}

.value {
	width: 120px;
	overflow: hidden;
	font-size: 10px;
	font-weight: 700;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	margin: 0 28px 0 12px;
}

.port_code {
	display: flex;
	align-items: center;
	line-height: 16px;
}

.code {
	margin-right: 4px;
	font-size: 10px;
	font-weight: 600;
	color: #828282;
	color: #f68b21;
}

.country {
	margin: 0;
	overflow: hidden;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icd {
	margin: 4px 0;
	font-size: 10px;
	font-weight: 700;
}
