.container {
	width: 70%;

	@media (max-width: 1080px) {
		width: 65%;
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}

.subsidiary_services {
	padding-top: 36px;
	margin-top: 36px;
	border-top: 1px dashed #dcdde5;
}
