.head {
	display: flex;
	justify-content: space-between;
	color: #4f4f4f;
}

.body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 6px;
}

.top_left_details {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service_icon {
	display: flex;
	align-items: center;
}

.service_name {
	margin-right: 10px;
	font-size: 16px;
	color: #4f4f4f;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 6px;
}

.row {
	display: flex;
	align-items: center;
	width: 44%;
}

.column {
	display: flex;
	flex-direction: column;
}

.port_name {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	letter-spacing: 0.02em;
}

.vertical_line {
	height: 20px;
	margin: 0 20px;
	border-right: 1px dashed #000;
}

.container {
	margin-bottom: 20px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 1px 1px 8px 1px #e0e0e0;

	&:hover {
		box-shadow: 0 0 8px #eee;
	}
}

.port_code_color {
	color: #f2761b;
}

.button_grp {
	display: flex;
	justify-content: flex-end;
}

.tags_container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.details_content {
	padding: 4px 16px;
}

.pill {
	padding: 0 4px;
	margin-right: 10px;
	background: #f9f9f9;
	border-radius: 6px;
}

.services {
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}

.revert {
	text-align: end;

	:global {
		.ui_pill_container {
			margin: 0;
			line-height: 1.4;
		}
	}
}
