.form_container {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: normal;
	justify-content: flex-end;
	width:250px ;
}

.form_item {
	position: relative;
	right: auto;
	left: auto;
	box-sizing: border-box;
	flex: 0 0 100%;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	min-height: 1px;
	padding-right: 8px;
	padding-left: 8px;
	margin-left: 0%;
}

.label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: rgb(57 63 112);
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.button_primary {
	width: 80px;
	font-weight: 500;
	text-transform: capitalize;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: none;
}

.button_secondary {

	width: 80px;
	font-weight: 500;
	letter-spacing: 0.04em;
	white-space: nowrap;
	border-radius: 4px;
	outline: none;
}
