.top_header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-right: 50px;
}

.header {
	display: flex;
	margin-top: 16px;
}

.container {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);

	:global {
		.ui_tab_container {
			padding: 16px 0 12px;
		}
	}
}

.job_closed_container {
	display: flex;
	align-items: center;
	margin-right: 16px;
}

.job_closed_pill {
	font-weight: 600;
	background-color: var(--color-tertiary-success-green-3);

	:global {
		.ui_pill_text {
			color: var(--color-secondary-greyscale-2);
		}
	}
}
