.top_header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-right: 50px;
}

.header {
	display: flex;
	margin-top: 16px;
}

.container {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 8px rgb(0 0 0 / 20%);

	:global {
		.ui_tab_container {
			padding: 16px 0 12px;
		}
	}
}
