.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.8rem 0;
}

.revenue{
    width: 18px;
    height: 18px;
    margin-right: 0.8rem;
}

.revenue_container{
    display: flex;
    align-items: center;
}

.text_title{
    font-size: 1rem;
    margin: 10px 10px;
    font-weight: 500;
}

.flex_info{
    display: flex;
    align-items: center;
}

.info{
    width: 1rem;
    height: 1rem;
}


    .collapse_icon {
		width: 20px;
		height: 14px;
	}
	.collapse_icon.active {
		transform: rotate(180deg);
		transition: transform 400ms;
	}
	.collapse_icon.inactive {
		transform: rotate(0deg);
		transition: transform 400ms;
	}
	@media (max-width: 540px) {
		padding: 15px;
	}

.flex_container{
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}