.header {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	cursor: pointer;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.tab_switch {
	margin: 20px 0;
}
