.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 32px;
	overflow-y: scroll;

	@media (min-width: 2560px) {
		padding: 100px;
	}
}

.heading {
	margin-bottom: 40px;
	font-size: 18px;
	color: #828282;

	@media (min-width: 2560px) {
		margin-bottom: 96px;
		font-size: 56px;
	}
}

.blocks {
	display: flex;
	flex-direction: column;

	>div {
		padding: 16px 0;
		border-bottom: 1px solid #f2f2f2;
	}

	>div:first-child {
		padding-top: 0;
	}

	>div:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}

	@media (min-width: 2560px) {
		>div {
			padding: 24px 0;
			border-bottom: 1px solid #f2f2f2;
		}

		>div:first-child {
			padding-top: 0;
		}

		>div:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.empty_state_container {
	display: flex;
	align-items: center;
	height: 100vh;
	margin: 0 auto;
}
