.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 32px;
}

.heading {
	margin-bottom: 40px;
	font-size: 18px;
	color: #828282;
}

.blocks {
	display: flex;
	flex-direction: column;

	>div {
		padding: 16px 0;
		border-bottom: 1px solid #f2f2f2;
	}

	>div:last-child {
		border-bottom: none;
	}
}
