.container {
	display: flex;
	flex-direction: column;
	height: 314px;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 8px;

	div.card:nth-child(2n + 1) {
		margin-bottom: 12px;
	}
}

.arrow_right {
	margin-left: 6px;
	font-weight: bold;
	transition: all 0.3s ease;
}

.card {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: #fdfbf6;
	border: 1px solid #cfbc93;
	border-radius: 8px;

	:global(.ui_button_container:hover) {
		.arrow_right {
			margin-right: -4px;
			margin-left: 10px;
		}
	}
}

.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.highlight_container {
	h1 {
		margin: 0;
		color: #f37166;
	}

	p {
		font-size: 12px;
		color: #828282;
	}
}
