.list_item_container {
	display: flex;
}

.list_header {
	font-size: 16px;
	font-weight: 600;
}

.search {
	width: 30%;
	padding-right: 12px;
}

.inner_list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
}

.modal_sub_header {
	display: flex;
	gap: 8px;
	align-items: center;
	padding-bottom: 14px;
	color: #333;
}

.details {
	display: flex;
	justify-content: flex-start;

	div {
		text-decoration: underline;
		cursor: pointer;
	}
}
