.mode_badge {
	font-weight: 500;
}

.details_list {
	:global {
		.line_division {
			position: relative;
			display: block;
			width: 1px;
			height: 36px;
			background: #f8f2e7;
		}
	}
}

.action_buttons {
	display: flex;

	:global {
		.ui_button_container {
			min-width: 28px;
			padding: 2px;
		}
	}
}

.edit_detail {
	display: flex;
	flex-direction: column;

	span {
		overflow: hidden;
		font-size: 11px;
		color: #ed8a1d;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.airline {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
