.parent {
	padding: 36px;
	background-color: white;
	border-radius: 8px;
}

.heading {
	display: flex;
	min-width: 602px;
	font-size: 16px;
	font-style: medium;
	font-weight: 600;
	line-height: 150%;
	color: #000;
}

.headingsteps {
	margin-left: 6px;
	color: #ee3425;
}

.box_layout {
	max-width: 2200px;
	height: 168px;
	margin-top: 14px;
	margin-bottom: 14px;
	background: #fff;
	border: 1px solid var(--balck-40-disabled, #bdbdbd);
	border-radius: 8px;
}

.term {
	display: flex;
	align-items: center;
	height: 48px;
	padding-left: 24px;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid var(--balck-40-disabled, #bdbdbd);
}

.icon {
	display: flex;
	align-items: center;
}

.term_content {
	padding-top: 12px;
	padding-left: 24px;
	font-size: 12px;
	font-weight: 600;
	line-height: 150%;
	color: #000;
	opacity: 0.8;
}

.update {
	display: flex;
	justify-content: flex-end;
	padding-top: 12px;
	padding-left: 24px;
	font-size: 12px;
	line-height: 150%;
	color: #000;
}

.update_button {
	margin-right: 12px;
	margin-left: 12px;
	font-weight: 700;
	opacity: 0.8;
}

.footer {
	display: flex;
	flex-direction: row-reverse;
	gap: 12px;
	margin-top: 26px;
}

.step_two_footer {
	display: flex;
	justify-content: space-between;
	margin-top: 26px;
}

.side_line_buttons {
	display: flex;
	flex-direction: row-reverse;
	gap: 12px;
}
