.no_data_warning {
	font-weight: 500;
	color: var(--color-primary-error-red-2);
}

.checkbox_controller {
	display: flex;
	flex-direction: column;
	padding: 0;

	:global {
		.ui_checkbox_container {
			padding: 0 0 10px;
		}
	}
}

.checkbox_controller + .error_message {
	margin-top: -10px;
}

.request_modal {
	:global {
		.ui_modal_footer_container .ui_button_container:not(:last-of-type) {
			margin-right: 10px;
		}
	}
}

.error_message {
	color: var(--color-primary-error-red-2);
}

.form_element {
	margin-bottom: 10px;
}
