.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 12vw;
	padding: 24px 24px 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: #fcdc00;
	border-radius: 8px;
}

.components {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 16px;
}

.header {
	padding-bottom: 10px;
	font-weight: 800;
}

.card_header {
	width: 100px;
	padding-top: 22px;
}

.arrow_wrapper {
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
}

.icon_container {
	display: flex;
	align-items: flex-end;
}
