.container {
	position: relative;
	padding: 20px;
	margin: 8px 0 20px;
	background-color: #dadcf1;
	border: 1px solid #f7f7fd;
	border-radius: 8px;
}

.invoice_content {
	display: flex;
}

.left_content {
	flex-basis: 54%;
	height: 150px;
}

.right_content {
	display: flex;
	flex-basis: 56%;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
	overflow: scroll;

	:global {
		.ui_multiselectt_options_container {
			z-index: 3;
		}
	}
}

.text {
	font-size: 12px;
	color: #000;
}

.flex {
	display: flex;
	align-items: center;

	:global {
		.ui_pill_text {
			font-weight: 600;
		}
	}

	&.self {
		:global {
			.ui_pill_text {
				color: #ee3425;
			}
		}
	}

	&.paying_party {
		:global {
			.ui_pill_text {
				color: #7278ad;
			}
		}
	}
}

.gst {
	margin-top: 12px;
	font-weight: 600;
}

.org_name {
	margin-top: 4px;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}

.payment_modes {
	display: flex;
	margin-top: 24px;

	:global {
		.ui_chips_container {
			flex-wrap: wrap;
		}

		.ui_chip_container svg {
			display: none;
		}

		.ui_chip_container.ui_ps_themeType_primary {
			padding: 16px;
			background-color: #fff;
			border: 1px solid #ececec;
			border-radius: 28px;

			&:hover {
				background-color: #fff;
				border: 1px solid #ececec;
			}
		}

		.ui_chip_container.ui_ps_themeType_secondary {
			padding: 16px;
			background-color: #fcdc00;
			border: 1px solid #fcdc00;
			border-radius: 28px;

			&:hover {
				background-color: #fcdc00;
				border: 1px solid #fcdc00;
			}
		}
	}
}

.label {
	margin-bottom: 8px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: 600;
	text-align: left;
}
