.mid_section {
	padding: 0 10px 30px;

	&::-webkit-scrollbar {
		display: none;
	}
}

.control_fields {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 150px);

	@media (max-width: 576px) {
		width: 100%;
	}
}

.error {
	display: flex;
	font-size: 10px;
	color: #f00;
}

.heading {
	display: flex;
	justify-content: space-between;
	margin: 16px 0 12px;

	@media (max-width: 400px) {
		>div {
			text-align: center;

			&:first-child {
				display: none;
			}
		}
	}
}

.header_label {
	flex: 1.5;
	margin-left: 20px;
	font-weight: 600;

	&:first-child {
		flex: 1;
	}
}

.control_title {
	width: 150px;
	margin-left: 10px;
	font-size: 16px;

	@media (max-width: 576px) {
		font-size: 12px;
	}
	@media (max-width: 400px) {
		margin-bottom: 4px;
		font-size: 16px;
	}
}

.shift_details {
	display: flex;
	align-items: center;
	margin-bottom: 28px;

	:global {
		.ui_time_options_container {
			> div > div > div {
				height: 100px;
			}
		}

		.ui_time_display_container {
			width: 150px;
		}
	}

	@media (max-width: 400px) {
		flex-direction: column;

		:global {
			.ui_time_display_container {
				width: unset;
				min-width: 100px;
			}

			.ui_datepicker_container {
				width: fit-content;
			}
		}
	}
}

.button_section {
	position: sticky;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	min-height: 44px;
	padding: 8px;
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.fields_styles {
	width: 50%;

	@media (max-width: 576px) {
		width: fit-content;
	}
}
