.container {
    width: 200%;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0;
}

.card_container {
    width: 100%;
    margin: 16px 24px 16px 0;
}
.card_item {
    width: 100%;
    padding: 16px 24px 4px 24px;
    background: #fff;
    border-radius: 8px;
}

.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card_data_score {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.overview_container {
    width: 100%;
    border-top: 1px solid #bdbdbd;
}

.leaderboard_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.overview_header {
    margin-top: 16px;
    font-size: 28px;
    font-weight: bold;
}

.overview_cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 0;
}

.overview_card_title {
    display: flex;
    width: 100%;
}

.overview_card_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filters {
    width: 100%;
}
