.sub_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.label_text {
	font-weight: 600;
	color: #828282;
}

.error_message {
	color: #b40000;
}

.optional_message {
	margin-left: 4px;
	color: #d2903a;
}
