.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px 42px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
}

.coming_soon {
	padding: 12px 36px;
	margin-bottom: 12px;
	font-weight: 600;
	color: #ee3425;
	background: linear-gradient(271deg, #ff4949 -2.05%, #f99 8.88%, #fff 71.16%);
	border: 1px solid #f2f2f2;
	border-radius: 6px;
}
