.popover_container {
<<<<<<< HEAD
    width: 320px;
    height: 300px;
=======
	width: 320px;
	height: 400px;
>>>>>>> e25b5564ce4466f4740320659acaa8b18e4a4247
}

.popover_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.styled_text {
	margin-top: 16px;
	margin-bottom: 8px;
	font-weight: 600;
}

.button_container {
	display: flex;
}

.search_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
	border-bottom: 1px solid #e0e0e0;
}

.styled_search_text {
	font-size: 16px;
	font-weight: 700;
}

.reset_button {
	margin-right: 4px;
}

.margin {
    margin-top: 12px;
}
