.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
	padding: 24px;
	overflow-y: scroll;
	background-color: #fff;
	border-top-right-radius: 8px;
}

.inner_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entity_tag {
	display: flex;
	align-items: center;
	font-size: var(--font-size-lg);
	font-weight: 700;
	color: #565a85;
}

.badge {
	width: 4px;
	height: 22px;
	margin-right: 8px;
	background: #565a85;
	border-radius: 0 4px 4px 0;
}

.label {
	color: #828282;
}

.label span {
	font-weight: 600;
	color: #000;
}
