.filter {
	position: relative;
	height: 38px;
	padding: 6px 8px 2px;
	margin: 0 20px;
	cursor: pointer;
	background-color: var(--color-primary-error-red-2);
	border-radius: 8px;
}

.dot_container {
	position: absolute;
	top: 3px;
	right: 5px;
}

.dot {
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 8px;
}
