.text_styles {
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}
.input_container {
  text-align: center;
  font-size: 12px;
}
.flex {
  display: flex;
}
.edit_icon {
  height: 20px;
  width: 20px;
  position: relative;
  right: 12px;
  margin-left: 4px;
  z-index: 999999;
  background: transparent !important;
  color: #333 !important;
  padding: 0px !important;
  min-width: 10px !important;
}
