.container {
	margin-bottom: 24px;
}

.announcement_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(255 255 255 / 50%);
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 #fde74d;
	animation: slide-in-left 1s ease-in;

	@keyframes slide-in-left {
		0% {
			transform: translateX(100%);
		}

		100% {
			transform: translateX(0);
		}
	}
}

.left_panel {
	display: flex;
	align-items: center;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	margin-right: 12px;
	background: #fcdc00;
	border-radius: 6px;
}

.icon {
	color: rgb(0 0 0);
	fill: rgb(0 0 0);
}

.announcement_button {
	float: right;
	padding: 12px 20px;
	margin-right: -20px;
	font-weight: 600;
	cursor: pointer;
	background: linear-gradient(271deg, #fcdc00 -18%, #fff 81.32%);
	border: 1px solid #fde74d;
	border-radius: 6px 0 0 6px;
}
