.title {
	padding-top: 0.3%;
	font-size: 12px;
	font-weight: 500;
}

.relatedquestion {
	font-size: 15px;
	font-style: normal;
	font-weight: 1000;
	color: #221f20;
	opacity: 0.5;
}

.relatedquestion_clickable {
	width: fit-content;
	cursor: pointer;
	padding-bottom: 2px;

	&:hover {
		text-decoration: underline;
	}
}
