.heading {
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
}

.container {
	padding-top: 15px;

	button {
		background: white;
		border-right: 1px solid #e0e0e0;
	}
}

.div_container {
	display: flex;
	justify-content: space-between;
}

.loader {
	width: 200px;
	height: 30px;
}
