.container {
    margin-top: 20px;
    display: flex;
}

.search {
    width: 80%;
    margin-right: 12px;
}

.filter_popover {
    width: 20%;

    :global {
		.ui_popover_container {
			margin-top: -8px;
		}
	}
}

.tabGroup {
    width: fit-content;
    margin-top: 12px;
}
