.progress_container {
	display: flex;
	align-items: flex-end;
	width: 100%;
	padding: 8px;
	background: #f6f5fe;
}


.ui_upload_droparea_container *{
	margin: 0px;
	border: none;
}

.file_name {
	margin-bottom: 6px;
	margin-left: 10px;
	font-size: 12px;
}

.progress_bar {
	width: 80%;
	max-width: 100%;
	height: 12px;
	margin-bottom: 4px;
	background-color: #fefefe;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.progress {
	height: 12px;
	background: #ad5389;
	background: #5936f0;
	border-radius: 8px;
	transition: width 0.2s ease-in;
}

.uploader_box {
   width: 75%
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

