.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftContainer {
    display: flex;
    gap: 8px;
}

.rightContainer {
    display: flex;
    gap: 8px;
}

.select {
    width: 175px;
}

.search {
    width: 341px;
    input{
        font-size: 11px !important;
    }
}
.verified{
    display: flex;
    align-items: center;
    color: #67C676;
}

.pending{
    display: flex;
    align-items: center;
    color: #e10d1f;
}
.segmentedControl{
    div{
        font-weight: 600;
        font-family: Poppins;
    }
}

.dataContainer{
    display: flex;
}
.expensePeriodData{
     width: 64%;
}
.recurringAmountData{
    width: 90%;
}
.underline{
    border-top: 1px solid #EDD7A9;
}
.recurringButtons{
    padding: 6px 11px;
    background: none;
    border:none;
    width: 100%;
    font-size: 15px;
    &:hover{
        background: #FFFAEB;
        cursor: pointer;
    }
}