.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftContainer {
    display: flex;
    gap: 8px;
}

.rightContainer {
    display: flex;
    gap: 8px;
}

.select {
    width: 175px;
}

.search {
    width: 341px;
    input{
        font-size: 11px !important;
    }
}
.verified{
    display: flex;
    align-items: center;
    color: #67C676;
}

.pending{
    display: flex;
    align-items: center;
    color: #e10d1f;
}