.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.leftContainer {
	display: flex;
	gap: 8px;
}

.rightContainer {
	display: flex;
	gap: 8px;
}

.select {
	width: 175px;
}

.search {
	width: 341px;
	padding: 0 4px;

	svg {
		margin: 2px;
	}

	input {
		font-size: 11px !important;
	}
}

.verified {
	display: flex;
	align-items: center;
	width: 341px;
	color: #67c676;

	input {
		font-size: 11px !important;
	}
}

.verified {
	display: flex;
	align-items: center;
	color: #67c676;
}

.pending {
	display: flex;
	align-items: center;
	color: #e10d1f;
}

.segmentedControl {
	div {
		font-family: Poppins;
		font-weight: 600;
	}
}

.dataContainer {
	display: flex;
}

.expensePeriodData {
	width: 64%;
}

.recurringAmountData {
	width: 90%;
}

.underline {
	border-top: 1px solid #edd7a9;
}

.recurringButtons {
	width: 100%;
	padding: 6px 11px;
	font-size: 15px;
	background: none;
	border: none;

	&:hover {
		cursor: pointer;
		background: #fffaeb;
	}
}
