.container {
	:global {
		.ui_popover_container {
			min-width: 250px;

			.ui_select_toggle_button {
				min-width: 250px;
			}
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 0;
	margin-bottom: 16px;
	border-bottom: 1px solid #000;
}

.heading {
	font-size: 18px;
	font-weight: 600;
}

.button_container {
	display: flex;
	align-items: center;
}

.button {
	position: relative;
	gap: 8px;
}

.form_item {
	display: flex;
	flex-direction: column;
}

.label {
	margin-bottom: 12px;
}

.red_dot {
	position: absolute;
	top: 12%;
	right: 56%;
	width: 12px;
	height: 12px;
	background: #ee3425;
	border-radius: 50%;
}
