.details {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	justify-content: flex-end;
	padding: 16px;
	margin-bottom: 16px;
	border: 1px solid #e0e0e0;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.design {
	display: flex;
	flex: 1 0 0;
	align-items: flex-start;

	@media screen and (max-width: 768px) {
		flex: none;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.design > :not(:last-child) {
	margin-right: 24px;

	@media (max-width: 1024px) {
		margin-right: 12px;
	}
}

.img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: #849e4c;
	background: #f7faef;
	border-radius: 8px;
}

.sec2 {
	display: flex;
	flex-direction: column;
}

.text1 {
	font-size: 16px;
	font-weight: 500;
	color: #221f20;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.text_name {
	font-size: 16px;
	font-weight: 400;
	color: #4f4f4f;
	text-decoration-line: underline;
}

.text2 {
	margin: 4px 0;
	color: #1a1a25;
}

.leave_details {
	display: flex;
	align-items: center;
}

.name {
	font-size: 12px;
	color: #4f4f4f;
}

.yes_no {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: flex-end;
	margin-top: 12px;
}

.yes_no > :not(:last-child) {
	margin-right: 12px;
}

.deny {
	border: 1px solid #bf291e;
	border-radius: 6px;

	:global {
		.ui_button_container {
			@media (max-width: 768px) {
				padding: 7px 0;
			}
		}
	}
}

.reject {
	display: flex;
	align-items: center;
	padding: 7px 12px;

	@media (max-width: 320px) {
		padding: 7px 0;
	}
}

.reject > :not(:last-child) {
	margin-right: 2px;
}

.rej_content {
	font-size: 12px;
	font-weight: 500;
	color: #bf291e;
	text-align: center;
	text-transform: capitalize;
}

.approve {
	border: 1px solid #849e4c;
	border-radius: 6px;

	:global {
		.ui_button_container {
			@media (max-width: 768px) {
				padding: 7px 0;
			}
		}
	}
}

.accept {
	display: flex;
	align-items: center;
	padding: 7px 12px;

	@media (max-width: 320px) {
		padding: 7px 0;
	}
}

.accept > :not(:last-child) {
	margin-right: 2px;
}

.acc_content {
	font-size: 12px;
	font-weight: 500;
	color: #849e4c;
	text-align: center;
	text-transform: capitalize;
}

.pending {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 4px 8px;
	color: #c26d1a;
	background-color: #fef3e9;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
}

.accepted {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 6px 4px;
	color: #849e4c;
	background-color: #f7faef;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
}

.rejected {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 6px 4px;
	color: red;
	background-color: #fef3e9;
	border-radius: 6px;

	@media screen and (max-width: 768px) {
		margin-top: 10px;
	}
}
