.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.test {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #4f4f4f;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  padding: 24px;
  width: 100%;
}

.left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
  width: 100%;
  flex: 1;
}

.wrapper{
  display: flex;
  margin  : 20px;
  justify-content: flex-start;
  align-items: center;
}

.superscript {
  color: red;
}

.label_wrapper {
  width: 40%;
}

.input {
  width: 60%;
}

.input_duration{
  width: 200px;
}

.input_type{
  width: 60px;
}

.input_wrapper{
  display: flex;
  width: 60%;
  gap: 8px;
}