.container{
    height       : 700px ;
	width        :  100%  ;
	marginRight  :  1.5rem  ;
	marginBottom :  1.5rem  ;
	color        :  white  ;
	padding      :  1rem  ;
	textAlign    :  center  ;
	fontSize     :  1rem  ;
	lineHeight   :  normal  ;
	overflow     :  scroll  ;
	float        :  left  ; 
}