.lower_keys {
	width: max-content;
	padding: 0 4px;
	margin-top: 4px;
	font-size: var(--font-size-md);
	color: var(--color-secondary-greyscale-1);
	background: var(--color-secondary-3);
	border-radius: 4px;
}

.link {
	color: var(--color-primary-error-red-2);
	text-decoration: underline;
	cursor: pointer;
}

.flex_container {
	display: flex;
	flex-direction: column;
}
