.modal_container {
	padding: 20px;

	:global {
		.ui_modal_header_container {
			padding: 0;

			.ui_modal_header_title::after {
				display: block;
				width: 10%;
				height: 2px;
				content: "";
				background: #f68b21;
			}
		}
	}
}

.modal_footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
