.container {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.role_group {
	display: flex;
	align-items: center;
}
