.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 50px;
	}
}

.pills {
	margin-right: 20px;
}

.role_group {
	position: fixed;
	display: flex;
	align-items: center;
	right: 20px;
	bottom:25px;
}
.role_group_button{
	width: 50px;
	height: 50px !important;
	border-radius: 50%;
	@media (max-width: 768px) {
		
		padding: 0px!important;;
	}
}
.role_group_icon{
	width: 30px;
	height: 30px;
}