.styled_ui_modal_dialog {
	@media (max-width: 576px) {
		width: 100% !important;
		height: 88vh;
		max-height: unset;
	}
	@media (min-width: 576px) {
		top: 30px !important;
		display: flex;
		flex-direction: column;
		height: 88vh;
		border-top: none !important;
	}

	:global {
		.ui_modal_header_title {
			display: flex !important;
			align-items: center !important;
			justify-content: space-between !important;
			width: 100%;
		}

		.ui_modal_header_container {
			padding-bottom: 5px;
		}

		.ui_modal_close_button {
			display: none !important;
		}

		.ui_modal_body_container {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-height: unset !important;
			padding-top: 0;
			overflow-y: auto;
			border-top: none !important;
			border-bottom: none !important;
		}
	}
}

.modal_header {
	width: 100%;
	padding: 0;
}

.expand_icon {
	position: absolute;
	top: 8px;
	left: 8px;

	svg {
		width: 20px;
		height: 20px;
	}
}

.minimized_modal_styles {
	position: fixed;
	right: 10%;
	bottom: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 340px;
	height: 40px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ff5655;
	border-radius: 8px 8px 0 0;

	@media (max-width: 576px) {
		bottom: 18px;
		left: 3%;
		width: 90%;
	}
}

.title {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}
