.container{
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(98, 127, 172, 0.2);
    border-radius: 6px;

    
}

.title {
	font-weight: 500;
}

.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

.image_box {
	width: 72px;
	height: 72px;
	margin-right: 20px;
	background: #fdebe9;
	border-radius: 6px;
}

.pill_box{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    
    /* :global{
        .ui_pill_container{
            display: flex;
            white-space: nowrap; 
            align-items: center;
            width: 80px; 
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    } */
}

.courses {
	margin: 2px 10px;
}
