.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
	background-color: #f9f9f9;
	border: 1px solid #e0e0e0;
}

.text {
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.heading {
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}
