.filter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	:global {
		.ui_select_display_container,
		.react-datepicker-wrapper {
			width: 200px;
		}

		.ui_select_options_container {
			width: 240px;
		}

		.ui_select_input_placeholder {
			opacity: 0.6;
		}

		.ui_input_container {
			width: 400px;
		}
	}
}

.margintop {
	margin-top: 12px;
}

.search_div {
	width: 24%;
}

.toggle_div {
	display: flex;
	align-items: center;

	:global {
		.ui_input_control::placeholder {
			font-size: 12px;
		}
	}
}
