.loader_container {
    background-color: var(--color-secondary-5);
    margin-top: 2em;
    border-radius: 4px;
    padding: 10px 20px;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :global(.ui_ps_themeType_primary){
        width: 4em;
        height: 4em;
    }
}

.list_container {
    background-color: var(--color-secondary-5);
    margin-top: 2em;
    border-radius: 4px;
    padding: 10px 20px;

    :global {
        .ui_paginnation_number_container {
            justify-content: flex-end;
            font-size: var(--font-size-md);

            > button {
                margin: 0;
            }
        }
    }
}

.list_container table {
    width: 100%;
    font-size: var(--font-size-md);
    border-spacing: 0 10px;
    text-align: left;

    td {
        text-align: left;
        padding: 20px;
    }
}
