.section {
	width: 24%;
	margin: 0 0 16px 24px;
}

.section:first-child {
	width: 38%;
}

.value {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.title {
	font-size: var(--font-size-md);
}

.summary {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
}
