.amount {
	margin-top: 2px;
	margin-right: 6px;
	margin-left: 20px;
	font-size: 12px;
	font-weight: 600;
	color: transparent;
	background: linear-gradient(to right, #ced1ed, #fff);
	background-clip: text;
}
