.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.field {
	display: flex;
	align-items: top;
	margin-bottom: 10px;
}

.bold {
	width: 20%;
	margin-left: 4px;
	font-weight: bold;
}
