.tab_group {
	/* width: fit-content; */
	width: 100%;
	margin-top: 12px;
	margin-bottom: 20px;

	:global {
		.ui_tab_list_container {
			border-radius: 0 !important;
			box-shadow: none !important;
		}
	}
}
