.space_between {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #f9f5ec;
}

.space_between:hover {
	background-color: #f9f5ec;
}
