.container {
	width: 50%;
	padding-right: 4px;
	background: #f9f9f9;
	border: 2px solid #000;
}

.heading {
	padding: 10px 0 0 4px;
	font-size: 18px;
	font-weight: 800;
	color: #2c3e50;
	text-align: center;
}

.sub_heading {
	font-size: 16px;
	font-weight: 700;
	color: #2c3e50;
}

.service_content {
	display: flex;
	justify-content: space-between;
	padding: 12px 10px;
}
