.footer_buttons {
	display: flex;
	justify-content: flex-end;
}

.styled_editor {
	:global {
		/* stylelint-disable-next-line selector-class-pattern */
		.RichTextEditor__root___2QXK- { min-height: 400px; }
	}
}

.styled_input {
	margin: 10px 0;
}

.header {
	font-weight: 600;
}
