.footer_buttons {
	display: flex;
	justify-content: flex-end;
}

.styled_editor {
	:global {
		.notranslate {
			min-height: 300px;
		}
	}
}

.styled_input {
	margin: 10px 0;
}

.header {
	font-weight: 600;
}

.rte_container {
	position: relative;
}

.file_uploader_div {
	position: absolute;
	top: 12px;
	left: 467px;
	right: 0;
	z-index: 10000;
	margin-right: 77px;
	border: 1px solid #999999;
	border-radius: 2px;
	width: 29px;
	height: 29px;

	:global {
		.file_uploader {
			height: fit-content !important;
		}

		.ui_upload_droparea_container {
			min-height: 0 !important;
			padding: unset !important;
			margin-bottom: unset;
			border: unset;
		}

		.ui_upload_droparea_heading {
			display: none;
		}

		.ui_upload_droparea_subheading {
			display: none;
		}

		.ui_upload_filesuccess_container {
			display: none;
		}
	}
}

.upload_icon {
	width: 18px;
	height: 18px;
	margin-top: 4px;
}

.uploaded_files {
	top: 100px;
	display: flex;
	justify-content: space-between;
	width: 75%;
	align-items: center;
	margin: 10px;
	padding: 5px 10px;
	background-color: #F5F5F5;
}

.uploaded_files_content {
	display: flex;
}

.attachments {
	width: 100%;
	
}

.attachments_scroll {
	margin-top: 10px;
	overflow-y: scroll;
	max-height: 120px;
}

.uploading {
	margin: 12px;
	font-size: 13px;
	font-weight: 500;
}