.header {
	width: 10%;
	padding-bottom: 2px;
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	border-bottom: 2px solid #ee3425;
}

.currency {
	display: flex;
	justify-content: space-between;
}

.unselected_currency_values {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	padding: 16px 20px;
	margin-right: 8px;
	color: #221f20;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #221f20;
	border-radius: 8px;
}

.selected_currency_values {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	padding: 16px 20px;
	margin-right: 8px;
	color: #fff;
	cursor: pointer;
	background-color: #ee3425;
	border-radius: 8px;
}

.icon_show {
	display: flex;
	justify-content: center;
	margin-bottom: 4px;
}

.text_show {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
}

.entity {
	width: 5%;
	padding-bottom: 2px;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	border-bottom: 2px solid #ee3425;
}

.entity_name {
	display: flex;
}

.entity_container {
	display: flex;
	align-items: center;
	margin-left: 16px;
}

.entity_icon {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.text {
	margin-left: -8px;
	font-size: 14px;
	font-weight: 500;
}

.button {
	margin-left: 16px;
}
