.modal {
    border: none;
    margin-left: 36px;
    max-width: max-content;
    position: relative;
}

.modal_body {
    background: #CFF1F4;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(44,62,80,.2);
    
}

.wrapper {
   /* display: flex;
   align-items: center; */
   text-align: start;
   /* flex-wrap: wrap; */
}

.container {
    padding-right: 22px;
}

.shipping_line_name {
    font-size: 14px;
    font-weight: 700;
    margin-left: 4px;
    text-decoration: underline;
    width: max-content;
}

.cogo_assured_banner {
    object-fit: cover;
    margin: 0 6px;
}

.text {
    margin-right: 4px;
    font-size: 14px;
    /* min-width: max-content; */
}

.cross_icon {
    position: absolute;
    top: -8px;
    left: -8px;
    cursor: pointer;
}