.container{
    :global{
        .ui_pill_container{
            font-size: var(--font-size-sm);
        }
    }
}

.popover_container{
    display: inline-block;

    :global{
        .tippy-box{
            padding: 2px;
        }
        .tippy-content{
            padding: 2px;
        }
    }
}

.popover_button_content{
    color: var(--color-accent-orange-2);
    font-weight: 600;
    font-size: var(--font-size-md);
}