.container {
	height: 100%;
	overflow: hidden;
}

.form_container {
	height: calc(100% - 50px);
	overflow: scroll;
}

.form_container::-webkit-scrollbar {
	display: none;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 50px;
	padding: 0 8px;
	box-shadow: 0 0 8px 0 #2c3e5033;
}

.button_styles {
	margin-left: 4px;
}
