.accrodian {
	width: 100%;
	margin-bottom: 18px;
	:global(.ui_accordion_title){
		flex: 1;
	}
}
.bottom_button{
    margin-top: 12px;
	background: #FFFFFF;
	border: 1px solid #4F4F4F;
	border-radius: 4px;
}