.org_users_styles {
	width: 100%;
	height: 100%;
}

.body_styles {
	height: 85%;
	max-height: unset !important;
	overflow-y: hidden;
}

.styled_modal {
	width: 320px !important;
	height: 480px !important;
}

.header_styles {
	padding: 16px;
	border-bottom: solid #dedede;
}
