.status_container_outer {
	display: flex;
	align-items: center;
	width: 26%;
}

.invoice_status {
	width: max-content;
	padding: 4px 7px;
	margin-bottom: 6px;
	font-size: var(--font-size-sm);
	line-height: 16px;
	color: var(--color-secondary-greyscale-2);
	white-space: nowrap;
	background-color: #fbe6e6;
	border-radius: 4px;
}
