.tab_content {
	display: flex;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.info_button {
	position: relative;
	top: -258px;
	right: -836px;
}

.tab_content > :first-child {
	margin-right: 13px;
}

.main_container {
	flex-shrink: 0;
	width: 72%;
	padding: 16px 12px;
	margin-top: 16px;
	background: #f9f9f9;
	border-radius: 16px;

	@media (max-width: 768px) {
		order: 2;
		width: 100%;
	}
}

.main_container > :not(:last-child) {
	margin-bottom: 16px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.heading {
	display: flex;
	flex-direction: column;
}

.personal {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.detail {
	font-size: 12px;
	color: #828282;
}

.info_container {
	display: flex;
	flex-direction: column;
}

.info_container > :not(:last-child) {
	margin-bottom: 16px;
}
