.container {
	margin: 24px 0;
}

.heading_container {
	margin-bottom: 36px;
}

.subheading {
	font-size: 12px;
}

.button_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 44px;
}
