.container {
	position: relative;
	height: 100%;
}

.container::-webkit-scrollbar {
	display: none;
}

.sticky_boxshadow_styles {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	box-shadow: 0 0 8px rgb(44 62 80 / 20%);
}

.header {
	top: 0;
	padding: 15px 10px 15px 15px;
}

.footer {
	bottom: 0;
	padding: 12px 10px;
}

.title {
	font-size: 16px;
	font-weight: 600;
	color: #4f4f4f;
}

.styled_icon {
	cursor: pointer;
}

.filter_container {
	display: flex;
	flex-direction: column;
}

.styled_flex {
	display: flex;
	align-items: center;
	padding-bottom: 5px;
	font-size: 14px;
	color: #26323d;
	border-bottom: 1px solid #e0e0e0;

	:global {
		.ui_checkbox_container {
			padding: 3px 0 !important;
		}

		.ui_checkbox_style {
			margin: 0 5px 0 0 !important;
		}
	}
}

.filters_container {
	height: 80%;
	padding: 10px 20px;
	overflow-y: auto;
}

.filters_container::-webkit-scrollbar {
	display: none;
}
