.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.head_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.subheading_container {
	display: flex;
	align-items: center;
}

.light {
	color: var(--color-secondary-2);
}

.filter_container {
	display: flex;
	gap: 8px;
	align-items: center;

	:global {
		.ui_datepicker_container {
			.react-datepicker__aria-live {
				display: none;
			}
		}

		.ui_dateRange_content_start {
			width: 120px;
		}
	}
}

.rotate {
	transition: transform 0.3s;
	transform: rotate(180deg);
}

.entity_selector {
	width: 250px;
}

.period_selector {
	width: 220px;

	:global {
		.ui_select_option_item span {
			width: 100%;
		}
	}
}

.user_details_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
