.button {
	display: flex;
	justify-content: flex-end;
}

.org_name {
	font-weight: 600;
}

.flex {
	display: flex;
	align-items: center;
}

.name {
	padding: 0 4px;
}

.container {
	width: 200px;
	padding: 8px;
}

.texts {
	font-size: 12px;
	font-weight: 500;
}

.rates_data {
	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: 12px 24px;
	margin: 20px 24px 20px 0;
	border: 1px solid #c2c2c2;
	border-radius: 4px;
}

.rates {
	font-weight: 600;
}

.label {
	font-weight: 500;
}

.value_data {
	margin: 20px 20px 20px 0;
}

.view {
	color: green;
	text-decoration: underline;
	background-color: transparent;
}

.label_value {
	font-size: 12px;
}

.view_flex {
	display: flex;
	gap: 4px;
	align-items: center;
}

.date_value {
	font-size: 14px;
	font-weight: 600;
}

.document {
	margin: 4px 0;
	font-weight: 600;
}

.document_flex {
	display: flex;
	gap: 8px;
	align-items: center;
}

.remarks {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 600;
}

.icon_container {
	display: flex;
	align-items: center;
	margin-left: 2px;
}

.wrapper {
	width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.select_container {
	margin: 4px 0 16px;

	:global {
		.ui_select_options_container {
			max-height: 180px !important;
		}
	}
}

.button_container {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 8px;
}

.button_container_data {
	display: flex;
	width: fit-content;
}

.list_container {
	max-height: 46vh;
	margin: 8px 0;
	overflow: scroll;

	::-webkit-scrollbar {
		appearance: none;
		width: 7px;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgb(0 0 0 / 50%);
		border-radius: 4px;
		box-shadow: 0 0 1px rgb(255 255 255 / 50%);
	}

	:global {
		.ui_table_head_cell:first-child {
			padding-left: 8px;
		}

		.ui_table_head_container {
			position: sticky;
			top: 0;
			z-index: 1;
			background-color: #fff;
		}

		.ui_table_container {
			padding: 0;
		}
	}

	div:first-child {
		padding: 0;
	}
}

.line_item_empty {
	font-weight: 600;
	color: #f68b21;
}

.credit {
	display: flex;
	gap: 8px;
	align-items: center;
}
