.modal_container {
	:global {
		.ui_modal_body_container {
			font-weight: 500;
		}

		.ui_modal_footer_container {
			button:first-child {
				margin-right: 12px;
			}
		}
	}
}

.values {
	display: flex;
	align-items: center;

	.old {
		margin-right: 4px;
		color: var(--color-primary-error-red-2);
	}

	.new {
		margin-left: 4px;
		font-weight: 600;
	}
}
