.form_item {
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		width: 100% !important;
	}

	:global {
		.ui_select_input_control {
			font-size: 14px !important;
		}
	}
}

.label {
	display: flex;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 400;
	color: #000;

	@media (max-width: 768px) {
		font-size: 11px;
	}
}

.required_mark {
	margin-left: 4px;
	color: #e74c3c;
}
