.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert_icon {
  width: 100px;
  height: 100px;
  color: rgba(191, 41, 30, 1);
  margin-bottom: 16px;
}
.supporting_text {
  margin-bottom: 24px;
}
.button_container {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 4x;
  margin-bottom: 14px;
}

