.container {
	margin-top: 60px;
}

.additional_remark {
	margin: 52px 0 40px;

	:global {
		.ui_input_control {
			font-size: 14px !important;
		}
	}
}

.sub_heading {
	margin-bottom: 6px;
	font-weight: 600;
}

.cancellation_container {
	padding: 12px;
	border-spacing: 10px;
	border: 1px dashed #f8aea8;
	border-radius: 8px;
}

.confirmation_texts {
	padding: 0 18px;
	border-top: 1px solid #e0e0e0;
}
