.container {
	display: flex;
	max-height: 68vh;
	overflow-y: scroll;
}

.pagination_container {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
	border-radius: 6px;

	:global {
		.ui_paginnation_number_container {
			margin-left: 12px;
		}
	}
}
