.container {
	--card-color: rgb(8 23 39 / 7%);

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 180px;
	height: 100px;
	padding: 12px 12px 8px;
	margin-right: 40px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 5%);
	opacity: 1;

	&.secondary_card {
		width: 140px;
		min-width: 100px;
	}

	&.checkout {
		--card-color: #0a9396;
	}

	&.missing_rates {
		--card-color: #044863dd;
	}

	&.dislike {
		--card-color: #ca6702;
	}

	&.stale_rates {
		--card-color: #9b2226;
	}

	&.missing {
		--card-color: #001219;
	}

	&.rates {
		--card-color: #ca6702;
	}

	&.animate {
		--card-color: #0a9396;

		animation-name: shadow-animation;
		animation-duration: 4s;
		animation-delay: 0s;
		animation-iteration-count: infinite;
	}

	&.custom_card {
		width: 200px;
		border: 1px solid #e0e0e0;
	}

	&:last-of-type {
		margin-right: 24px;

		&.missing_rates {
			min-width: 180px;
			margin-left: 35px !important;
		}
	}
}

.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;

	:global(.ui_button_container) {
		padding-right: 0;
	}
}

.single_line_text {
	white-space: nowrap;
}

.indicator {
	position: absolute;
	bottom: 1px;
	left: -1px;
	width: 3px;
	height: 0;
	border-radius: 0 0 0 16px;

	&.checkout {
		background-color: #0a9396;
	}

	&.missing_rates {
		background-color: #001219;
	}

	&.disliked_rates {
		background-color: #ca6702;
	}

	&.stale_rates {
		background-color: #9b2226;
	}

	&.missing {
		background-color: #001219;
	}

	&.rates {
		background-color: #ca6702;
	}

	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.rate_amount {
	margin-left: 0;
	font-size: 16px;
	font-weight: 600;
}

.card_name {
	width: 90px;
	font-size: 12px;
	white-space: pre-wrap;
}

@keyframes shadow-animation {
	0% {
		box-shadow: 0 0 4px 4px rgb(0 0 0 / 5%);
	}

	10% {
		box-shadow: 0 0 4px 4px rgb(0 0 0 / 5%);
	}

	50% {
		border: 1px solid var(--card-color);
		box-shadow: 0 0 4px var(--card-color);
	}

	100% {
		box-shadow: 0 0 4px rgb(0 0 0 / 5%);
	}
}

.drop_off_text {
	min-width: 42px;
	color: #bf291e;
}

.parent_action_text {
	padding-left: 5px;
	margin-right: auto;
	font-size: 12px;
	color: #828282;
}

.drop_icon {
	margin-right: 4px;
	transform: rotate(10deg);
}
