.head {
	margin-bottom: 30px;
	font-size: var(--font-size-xl);
	font-weight: 600;
	color: red;
}

.description {
	margin-bottom: 40px;
}

.label {
	margin-bottom: 4px;
	font-weight: 600;
}

.errors {
	font-size: var(--font-size-md);
	color: red;
}

.footer {
	display: flex;
	justify-content: flex-end;
}
