.poc_sop_container{
    display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
    background-color: #fff;
    margin-left: 10px;
}

.poc_sop_icon{
    border-radius: 8px 0px 0px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20%;
	background: #EE3425;

    :global{
        .ui_ps_themeType_tertiary:hover{
             background-color: transparent;
        }
    }
}

.poc_sop_text{
    font-size: 14px;
	font-weight: 600;
	color: #373f6f;
	margin: auto;
}

.close{
    height: 41px;
    width:50px;
    position: absolute;
    top:0;
    left:-26px;
    display: flex;

    :global{
        .ui_ps_themeType_tertiary:hover{
             background-color: transparent;
        }
    }
}

.close_border{
    border-bottom: 3px solid #EE3425;
    width: 24px;
    height: 41px;
}

.close_icon_container{
    border-radius: 10px 0px 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 41px;
	width: 26px;
	background: #EE3425;
    /* transform: rotate(180deg); */
}