.container{
	display: flex;
	background: #ffffff;
	border-radius: 4px;
	padding: 24px 14px;

	@media (max-width: 768px) {
		display: flex;
		overflow-x: auto;
		flex-direction: column;
	}
}

.icon_container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.arrow_container{
	display: flex;
	margin-top: 50px;

	@media (max-width: 768px) {
		height: 30px;
		display: flex;
		justify-content: center;
		transform: rotate(90deg);
	}
}

.line{
	height: 1px;
	width: 100%;
	background: #ded7fc;
}

.route_wrap{
	display: flex;
	justify-content: center;
	width: fit-content;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		font-size: 10px;
		margin: 0;
		width: 100%;
	}
}
