.container {
	padding: 36px;
	margin-top: 12px;
	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
	width: max-content;
	font-size: var(--font-size-xl);
	font-weight: 600;
}

.bottom_line {
	width: 80%;
	border-bottom: 2px solid var(--color-primary-error-red-2);
}

.info {
	margin: 4px 0 0 8px;
	cursor: pointer;
}

.stats {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}

.stathead {
	font-size: var(--font-size-lg);
	font-weight: 600;
}

.value {
	font-size: 24px;
	font-weight: 500;
}

.statval {
	font-size: var(--font-size-md);
	font-weight: 500;
	color: gray;
}

.statscontainer {
	display: flex;
	flex-direction: column;
	min-width: 236px;
	margin: 12px 0;
}

.margin {
	margin-bottom: 8px;
}

.border {
	padding: 16px 26px 36px;
	margin: 0 12px;
	border: 1px solid #cfcfcf;
	border-radius: 6px;
}

.service {
	width: max-content;
	padding-top: 12px;
	font-size: 14px;
	font-weight: 500;
}

.fontlabel {
	font-size: 12px;
}

.fontvalue {
	font-size: 20px;
}

.fontstatval {
	font-size: 10px;
}

.flex {
	display: flex;
	margin-top: 8px;
}

.underline {
	width: 80%;
	border: 1px solid #ed3726;
}

.maincard {
	padding-right: 60px;
}

.sidestats {
	display: flex;
	width: 80%;
	overflow-x: scroll;
}

.color {
	color: #abcd62;
}

.select {
	:global {
		.ui_select_container {
			width: 160px;
		}

		.ui_select_options_container {
			min-width: 260px;
		}
	}
}

.justifiy {
	display: flex;
	justify-content: space-between;
}

.placeholder_container {
	display: flex;
	justify-content: space-between;
	width: 98%;
}
