.popover_container {
	:global(.ui_popover_container) {
		max-width: fit-content !important;
	}
}

.popover_content {
	width: 600px;
	max-height: 500px;
	overflow-y: scroll;
}

.select_container {
	display: flex;
	justify-content: flex-start;
}

.popover_header {
	p {
		padding: 8px 0;
		font-weight: 500;
	}
}

.info_container {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
