.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0;
}

.heading {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.content {
	display: flex;
	align-items: center;
}

.text {
	margin-right: 16px;
	font-size: 12px;
	font-weight: 600;
	color: #221f20;
}

.value {
	font-size: 20px;
	font-weight: 700;
	color: #221f20;
}

.content_container {
	display: flex;
	justify-content: space-between;
	width: 60%;
}
