.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 400px;
	margin: 10px 0;
	border: 1px solid var(--color-tertiary-beige-3);
	border-radius: 6px;
}

.kra {
	flex: 3;
}

.weight {
	flex: 1;
}

.label {
	display: flex;
	justify-content: center;
	padding: 8px 6px;
	font-weight: 800;
	background-color: #ddebed;
	border-bottom: 1px solid var(--color-tertiary-beige-3);
}

.value {
	display: flex;
	justify-content: center;
	padding: 4.5px 6px;
	border-bottom: 1px solid var(--color-tertiary-beige-3);
	border-left: 1px solid var(--color-tertiary-beige-3);
}

.kra_value {
	display: flex;
	justify-content: center;
	padding: 10px 6px;
	border-bottom: 1px solid var(--color-tertiary-beige-3);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 14px;
	border-top: 1px solid var(--color-tertiary-beige-3);
}

.amount {
	width: fit-content;
	padding: 2px 12px;
	margin: 4px;
	border: 1px solid black;
	border-radius: 4px;
}

.delete_icon {
	display: flex;
	align-items: center;
	padding-left: 4px;
}
