.whole {
  width: 100%;
  flex: 1;
}

.arrow {
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 0 6px 0 6px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.score_container {
  display: flex;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 21px;
  color: #221f20;
}

.list_item {
  flex-basis: 24%;
}

.label_text {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  width: 100%;
  opacity: 0.7;
  margin: 0 0 4px 0;
}

.delete_button {
  align-items: center;
  justify-content: center;
  margin: 0 32px 0 0;
}

.title_show {
  font-weight: 400;
  font-size: 12px;
  color: #221f20;
  opacity: 0.6;
}

.card_container{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
