.form_element {
	.label {
		margin-bottom: 10px;
		font-weight: 600;
	}

	.error_msg {
		font-size: var(--font-size-md);
		color: var(--color-primary-error-red-2);
	}

	&.remarks {
		width: 100%;
	}

	&:not(:last-of-type) {
		margin-bottom: 16px;
	}
}

div.form_element.remarks,
div.form_element.upload_file {
	width: 100%;
}

div.form_element.currency_input {
	width: 30%;
}
