.row {
	display: flex;
	width: 100%;
}

.fieldarray {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.child {
	width: 100%;
}

.font_style {
	padding-left: 4px;
	margin: 0;
	font-size: 12px;
	color: #cb6464;
}

.element {
	padding: 4px;

	:global {
		.ui_select_input_placeholder {
			font-size: 14px;
			color: #bdbdbd;
		}

		.ui_input_control::placeholder {
			font-size: 14px;
			color: #bdbdbd;
		}
	}
}

.delete_icon {
	width: 28px;
	max-height: 28px;
	margin-top: 8px;
	cursor: pointer;
}

.child_label {
	max-height: 16px;
	margin-bottom: 6px;
	font-size: 12px;
}
