.question_section {
	display: flex;
	height: 52px;
	margin: 16px 0;
	background: #f1efff;
	border-radius: 8px;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 5%;
	padding: 8px;
	margin: 4px;
}

.question_details_container {
	display: flex;
	width: 95%;
	background: #f1efff;
	border-radius: 8px;
}
