.serial_card {
	display: flex;
	justify-content: space-between;
}

.serial_id_card {
	display: flex;
}

.card {
	padding-bottom: 12px;
	margin-bottom: 12px;
	background-color: white;
	border-radius: 12px;
}

.CustomTag {
	display: flex;
	padding: 4px 8px;
	font-size: 10px;
	font-weight: 500;
	background-color: rgb(230 251 233);
	border-radius: 4px;
}

.custom_tag_margin {
	display: flex;
	padding: 4px 8px;
	margin-left: 12px;
	font-size: 10px;
	font-weight: 500;
	background-color: rgb(230 251 233);
	border-radius: 4px;
}

.OrgNameConatiner {
	display: flex;
	justify-content: space-between;
	padding: 2px 8px;
	margin-top: 12px;
}

.SubOrgNameConatiner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.styledName {
	font-size: 14px;
	font-weight: 600;
	color: rgb(51 51 51);
}

.StyledTag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 500;
	background-color: rgb(222 215 252);
	border-radius: 4px;
}

.Heading {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
}

.Hr {
	height: 1px;
	margin-bottom: 6px;
	background: #2c3e50;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.TagText {
	font-size: 10px;
	font-weight: 600;
	color: #333;
}

.TagTextLeft {
	margin-left: 8px;
	font-size: 10px;
	font-weight: 600;
	color: #333;
}

.CategoryContainer {
	display: flex;
	height: 24px;
}

.subCategoryContainer {
	display: flex;
	align-items: center;
	padding: 0 6px;
	margin-left: 12px;
	background-color: rgb(242 242 242);
	border-radius: 4px;
}

.OrgList{
}

.Value {
	margin-left: 4px;
	font-size: 10px;
	font-weight: 500;
}

.LegalBusinessName {
	font-size: 10px;
	font-weight: 500;
	line-height: 11px;
	color: #616161;
}

.popover_wrapper {
	display: flex;
	justify-content: end;
	width: 75%;
	margin-top: -22px;
}
