.serial_card{
    display: flex;
    justify-content: space-between;
}

.serial_id_card{
display: flex;
}

.card{
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.CustomTag{
    display: flex;
    background-color: rgb(230, 251, 233);
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 4px;

}

.custom_tag_margin{
    display: flex;
    background-color: rgb(230, 251, 233);
    padding: 4px 8px;
    margin-left: 12px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 4px;

}

.OrgNameConatiner {
display: flex;
justify-content: space-between;
margin-top: 12px;
padding: 2px 8px;
}

.SubOrgNameConatiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.styledName{
    font-size: 14px;
    font-weight: 600;
    color: rgb(51, 51, 51)
}
.StyledTag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 215, 252);
    font-size: 12px;
    padding: 0px 6px;
    font-weight: 500;
    border-radius: 4px;
    margin-left: 8px;
}

.Heading{
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
	margin-bottom: 6px;
}

.Hr{
	background: #2c3e50;
	height: 1px;
	margin-bottom: 6px;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.TagText{
	font-size: 10px;
	font-weight: 600;
	color: #333;
}

.TagTextLeft{
    font-size: 10px;
	font-weight: 600;
	color: #333;
    margin-left: 8px;
}

.CategoryContainer{
    display: flex;
    height: 24px;
}

.subCategoryContainer{
    display: flex;
    align-items: center;
    background-color: rgb(242, 242, 242);
    padding: 0px 6px;
    margin-left: 12px;
    border-radius: 4px;
}

.OrgList{
}

.Value{
	font-weight: 500;
	font-size: 10px;
    margin-left: 4px;
}

.LegalBusinessName{
	font-size: 10px;
	font-weight: 500;
	color: #616161;
	line-height: 11px;
}