.serial_card {
	display: flex;
	justify-content: space-between;
}

.serial_id_card {
	display: flex;
}

.card {
	padding-bottom: 12px;
	margin-bottom: 12px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}

.custom_tag {
	display: flex;
	padding: 4px 8px;
	font-size: 10px;
	font-weight: 500;
	background-color: rgb(230 251 233);
	border-radius: 4px;
}

.custom_tag_margin {
	display: flex;
	padding: 4px 8px;
	margin-left: 12px;
	font-size: 10px;
	font-weight: 500;
	background-color: rgb(230 251 233);
	border-radius: 4px;
}

.org_name_conatiner {
	display: flex;
	justify-content: space-between;
	padding: 2px 8px;
	margin-top: 12px;
}

.sub_org_name_conatiner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.styled_name {
	font-size: 16px;
	font-weight: 600;
	color: rgb(51 51 51);
}

.styled_tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
	margin-left: 8px;
	font-size: 12px;
	font-weight: 500;
	background-color: rgb(222 215 252);
	border-radius: 4px;
}

.heading {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 600;
	color: #2c3e50;
}

.hr {
	height: 1px;
	margin-bottom: 8px;
	background: #2c3e50;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.tag_text {
	font-size: 10px;
	font-weight: 600;
	color: #333;
}

.tag_text_left {
	margin-left: 8px;
	font-size: 10px;
	font-weight: 600;
	color: #333;
}

.category_container {
	display: flex;
	height: 24px;
}

.sub_category_container {
	display: flex;
	align-items: center;
	padding: 0 6px;
	margin-left: 12px;
	background-color: rgb(242 242 242);
	border-radius: 4px;
}

.value {
	margin-left: 4px;
	font-size: 10px;
	font-weight: 500;
}

.legal_business_name {
	font-size: 10px;
	font-weight: 500;
	line-height: 11px;
	color: #616161;
}

.popover_wrapper {
	display: flex;
	justify-content: flex-end;
	width: 75%;
	margin-top: -22px;
}

.org_list {
	margin-bottom: 16px;
}

.width_container {
	width: 100px;
}

.style_margin_top {
	margin-top: 4px;
}

.padding_container {
	padding: 4px;
}
