.layout_container {
	position: relative;
	display: flex;
	width: 100%;
	height: 90vh;
	margin-top: 8px;

	@media (max-width: 576px) {
		height: calc(100vh - 115px);
	}
}

.customers_layout {
	width: 25%;
	padding-right: 10px;
}

.mobile_customer_layout {
	width: 100%;
	padding-right: 0;
}

.chat_body {
	height: 100%;
	border-radius: 4px;
	transition: 0.3s ease-in-out;
}

.chats_layout {
	width: 47%;
	padding-right: 10px;
}

.mail_layout {
	width: calc(75% - 50px);
	padding-right: 10px;
	overflow: hidden;
}

.nosidebar_layout {
	width: 75%;
}

.mobile_nosidebar_layout {
	width: 100%;
}

.user_profile_layout {
	position: relative;
	width: 28%;
	height: 100%;
	overflow-x: hidden;
	border-radius: 4px;
	transition: 0.3s ease-in-out;
}

.collapsed_side_bar {
	width: 50px;
}

.expanded_side_bar {
	width: 28%;
}

.disable_user_profile {
	pointer-events: none;
}

.overlay_div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 40%);
	backdrop-filter: blur(2px);
}

.empty_page {
	width: 75%;
	height: 100%;
}
