.layout_container {
	position: relative;
	display: flex;
	width: 99%;
	height: 90vh;
	margin-top: 8px;
}

.customers_layout {
	width: 25%;
	margin-right: 10px;
}

.chats_layout {
	width: 47%;
	height: 100%;
	margin-right: 10px;
	background-color: #fff;
	border-radius: 4px;
}

.mail_layout {
	width: 75%;
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
}

.user_profile_layout {
	position: relative;
	width: 28%;
	height: 100%;
	overflow-x: hidden;
	background-color: #fff;
	border-radius: 4px;
}

.disable_user_profile {
	pointer-events: none;
}

.overlay_div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 40%);
	backdrop-filter: blur(2px);
}

.empty_page {
	width: 75%;
	height: 100%;
}
