.layout_container {
	position: relative;
	display: flex;
	width: 99%;
	height: 90vh;
	margin-top: 8px;
}

.customers_layout {
	width: 25%;
	margin-right: 10px;
}

.chat_body {
	height: 100%;
	background-color: #fff;
	border-radius: 4px;
	transition: 0.3s ease-in-out;
}

.chats_layout {
	width: 47%;
	margin-right: 10px;
}

.mail_layout {
	width: calc(75% - 60px);
	margin-right: 10px;
}

.nosidebar_layout {
	width: 75%;
}

.user_profile_layout {
	position: relative;
	width: 28%;
	height: 100%;
	overflow-x: hidden;
	background-color: #fff;
	border-radius: 4px;
	transition: 0.3s ease-in-out;
}

.collapsed_side_bar {
	width: 50px;
}

.expanded_side_bar {
	width: 28%;
}

.disable_user_profile {
	pointer-events: none;
}

.overlay_div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(255 255 255 / 40%);
	backdrop-filter: blur(2px);
}

.empty_page {
	width: 75%;
	height: 100%;
}

.feedback {
	position: absolute;
	right: -82px;
	bottom: 30px;
	z-index: 99;
	display: flex;
	align-items: center;
	width: 120px;
	height: 40px;
	cursor: pointer;
	background-color: #f37166;
	border-radius: 20px 0 0 20px;
	transition: 1s;

	&:hover {
		right: 0;
		animation: slide 0.5s;
	}

	svg {
		width: 24px;
		height: 24px;
		margin-left: 10px;
	}
}

@keyframes slide {
	0% {
		right: 0;
	}

	25% {
		right: -12px;
	}

	50% {
		right: 0;
	}

	75% {
		right: -3px;
	}

	100% {
		right: 0;
	}
}

.feedback_label {
	margin-left: 4px;
	font-weight: 600;
}
