.date {
	width: 100% !important;
	height: 44px;
}

.item {
	height: 100%;
}

.element {
	:global {
		.ui_input_container {
			border: 1px solid #333333;
			height: 32px;
			.ui_input_control{
				font-size: 12px;
			}
			.ui_input_control::placeholder {
				color: #333;
				font-size: 12px;
			}
		}

		.ui_upload_droparea_container {
			align-items: center;
			min-height: 40px;
			margin-bottom: 0;
			border: 1px solid #ebebeb;
			border-radius: 4px;
		}

		.ui_upload_droparea_icon {
			svg {
				height: 22px;
				margin-top: 8px;
			}
		}

		.ui_select_container {
			.ui_select_display_container{
				border: 1px solid #333333;
				height: 32px;
				.ui_select_input_control {
					font-size: 12px;
					.ui_select_input_placeholder {
						color: #333;
						font-size: 12px;
					}
				}
			}
		}
	}
}

.item_heading {
	height: 16px;
	margin-bottom: 6px;
	font-weight: 600;
font-size: 13px;
}

.item_label {
	height: 16px;
	margin-bottom: 6px;
	font-weight: 500;
font-size: 12px;
line-height: 150%;
}

.error{
					font-size      : 12px;
					line-height    : 16px;
					letter-spacing : 0.02em;
					padding-left   : 4px;
					margin        : 0;
					color         : #cb6464;
}
