.container {
	width: 400px;
	margin-right: 15px;
}

.address_container {
	max-height: 333px;
	overflow-y: auto;
}

.heading {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	margin-bottom: 6px;
}

.card {
	display: flex;
	align-items: center;
	padding: 10px 5px;
	cursor: pointer;
	background: #fff;
	border-top: 0.5px solid #838383;
}

.card_txt {
	margin: 0;
	margin: 3px 0;
	font-size: 12px;

	&.orgName {
		font-size: var(--font-size-lg);
		font-weight: 500;
	}
}

.section {
	margin-left: 10px;

	&.info {
		width: 88%;
		margin-left: 20px;
	}

	.number {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		margin-right: 15px;
	}
}

.empty_state {
	padding: 20px;
	text-align: center;

	.txt {
		font-size: 20px;
		font-weight: 500;
	}
}
