.container {
  width: 30%;

  :global {
    .ui_accordion_container {
      width: 100%;
      border-radius: 0px;
      box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.12);

      .ui_accordion_header{
        width: 100%;
      }

      /* .ui_accordion_content{
                padding: 0;

                .ui_accordion_header{
                    padding-left: 50px;
                }
            } */
    }
  }
}

.module_accordion {
  margin-bottom: 10px;

  :global {
    .ui_accordion_header {
      padding-left: 12px;
      padding-right: 12px;

      .ui_accordion_title{
        width: 80%;
      }
    }

    .ui_accordion_content {
      padding: 0;

      .ui_accordion_header {
        padding-left: 44px;
      }
    }
  }
}

.submodule_accordion {
  :global {
    .ui_accordion_content {
      padding-left: 64px;
      background-color: #FFF;
      /* background: #FFF;

      &:hover{
        background: #FFFCE6;
        cursor: pointer;
      } */
    }
  }
}

.number {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
    background: #fef199;
    color: #4f4f4f;
    position: relative;
}

.index{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.flex {
  display: flex;
  align-items: center;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
