.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	margin-bottom: 20px;
	background: #fff;
	background: var(--font-color-secondary);
	border-radius: 0.5rem;
}

.permissions_container {
	display: flex;
	gap: 1rem;
}

.heading_container {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding-bottom: 0.75rem;
	border-bottom: 2px dashed #bdbdbd;

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: space-between;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.details {
	display: flex;
	flex-direction: row;
	font-size: 14px;
}

.title {
	font-weight: 400;
}

.data {
	margin-left: 0.5rem;
	font-weight: 500;
}
