.timeline_wrapper {
    display: flex;
    margin-bottom: 18px;
    width: 300px;
}

.path {
    position: relative;
    display: flex;
    flex-direction: column;
}

.circle {
    border: 1px solid #67c676;
    padding: 8px 8px;
    border-radius: 50%;
    opacity: 0.7;
    left: -7px;
    position: absolute;
    background: #67c676;
}

.line {
    border: 1px solid #67c676;
    position: absolute;
    height: 100%;
    top: 18px;
    width: 100%;
}

.left_content {
    width: 50%;
}

.right_content {
    padding-left: 24px;
    width: 100%;
}
.status_content {
    width: 100%;
}
