.container {
	padding: 0 28px;
	margin-bottom: 24px;
}

.heading {
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #ed3833;
}

.ul {
	padding-inline-start: 16px;
	margin-block-start: 4px;
	margin-block-end: 4px;
}
