.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.warmth_container {
	flex-basis: 30%;
	margin-right: 20px;
}

.accounts_container {
	flex-basis: 50%;
	margin-left: 48px;
}

.headers {
	padding: 8px;
	font-size: 12px;
}

.label {
	margin: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}

.input_row {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: space-between;
}

.percentile_input {
	flex-basis: 30%;
}

.bias_input {
	flex-basis: 30%;
}

.distribution_input {
	flex-basis: 44%;
}

.error_message {
	margin-left: 4px;
	font-size: 8px;
	color: red;
}

.accounts {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.account_headers {
	display: flex;
	align-items: center;
	padding-left: 8px;
	margin: 16px 0;
	font-size: 12px;
}

.accounts_label {
	margin: 8px 8px 0 0;
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}
