.flex {
    display: flex;
    gap: 24px;
    margin: 20px;
  }

.sailing_details{
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: white;
    border-radius: 8px 8px 0 0;
    width: 800px;
  } 

.heading{
    font-size: 18px;
    padding: 10px 0px 0px 20px;
}

.hr_line{
    border: none;
    border-left: 1px dotted rgb(187 187 187);
    height: 100px; /* Adjust the height as needed */
    margin: 10px;
}

.port_details{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 60px 0px 0px 40px;
}

.port{
    display: flex;
    align-items: center;
    gap: 6px;
}

.port_name{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #4F4F4F;
}

.details_card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 12px;
	font-size: 14px;
	font-weight: 600;
	background-color: #FFFFFF;
	border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #627FAC33;
    width: 500px;
}

.label{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;   
    color: #4F4F4F;
}

.value{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;    
}

.transit_time{
    padding: 6px;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
	background-color: #f2f3fa;
	border-radius: 6px;
}

.middle{
    display: flex;
    align-items: center;
}