.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tickets_header {
	display: flex;
	align-items: center;
}

.back_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	margin-right: 4px;
	cursor: pointer;

	svg {
		width: 22px;
		height: 22px;
		transition: 0.2s;

		&:hover {
			margin-left: -8px;
			transition: 0.2s;
			transform: scale(1.2);
		}
	}
}

.tickets_header_text {
	font-size: 16px;
	font-weight: 500;
}

.refresh_icon {
	margin-left: 10px;
	cursor: pointer;
}
