.location_text {
	font-size: 12px;
	font-weight: 600;
	color: #333;
}

.port_code {
	display: flex;
	align-items: center;
	line-height: 16px;
}

.code {
	margin: 0;
	margin-right: 4px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.country {
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.value {
	width: 150px;
	overflow: hidden;
	font-size: 12px;
	font-weight: 700;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.icd {
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}
