.container{
    display: flex;
    height: 10px;
    width: 110px;
    margin-top: 12px;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container2{
    display: flex;
    height: 10px;
    width: 260px;
    margin-top: 12px;
    @media(max-width:1060px){
        width: 160px;
    }
}
.container3{
    display: flex;
    height: 10px;
    width: 260px;
    margin-top: 12px;
    margin-bottom: 28px;
    @media(max-width:1060px){
        width: 160px;
    }
}
.container4{
    height: 60px;
    width: 10px;  
    margin-top: 12px;
}