.combine_values {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 86%;
	margin-bottom: 16px;
}

.combine_tax {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.invoice_number {
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}

.invoice_number_val {
	color: var(--color-accent-orange-2);
}

.value_data {
	display: flex;
	justify-content: space-around;
}

.trade_party {
	width: 80px;
}

.invoice_value {
	margin: 14px 0 0 16px;
}

.tax_value {
	margin-bottom: 10px;
	text-decoration: underline;
}

.delete_invoice {
	color: var(--color-primary-error-red-2);
	cursor: pointer;
}

.header {
	margin-top: 14px;
}
