.service {
	height: 60px;
	background: #fff;
	border: 1px dashed #f3eae7;
	border-radius: 4px;

	&.active {
		background: #f3fafa;
		border: 1px solid #eaf2f3;
	}
}

.service_div {
	display: flex;
	align-items: center;
	float: left;
	height: 60px;
	border-radius: 4px;
}

.service_text {
	margin-left: 12px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: capitalize;
}

.icn_container {
	display: flex;
	align-items: center;
	float: right;
	min-width: max-content;
	height: 100%;
}

.tick_icon {
	margin-right: 25px;
	color: #ee3425;
	cursor: pointer;
}

.rate {
	min-width: max-content;
	margin-right: 8px;
}

.cost_label {
	margin-right: 8px;
}

.icon {
	margin-right: 16px;
	margin-left: 20px;
}

.add_icon {
	margin-right: 25px;
	cursor: pointer;
	background: #fff;
	border: 1.5px solid #221f20;
	border-radius: 50%;
}

.rate_not_available_for_all {
	display: flex;
	align-items: center;
}

.more_icon {
	margin-left: 4px;
}

.tooltip_content {
	word-break: keep-all;
}

.starting_price {
	font-size: 12px;
	font-weight: 400;
}
