.button {
	display: flex;
	justify-content: flex-end;
}

.title {
	min-width: 200px;
}

.flex {
	display: flex;
	margin-bottom: 8px;
}

.name {
	min-width: 160px;
	padding: 0 4px;
	font-weight: 600;
}

.remarks {
	margin: 8px 0;
	font-size: 12px;
	font-weight: 600;
}

.divider {
	margin-right: 16px;
}

.section {
	display: flex;
	margin-bottom: 8px;
}

.input_titles {
	min-width: 200px;
	font-weight: 600;
}

.link {
	color: blue !important;
	text-decoration: underline !important;
}

.tag {
	padding: 0 8px;
	margin-left: 40px;
	background: var(--color-tertiary-blue-4);
	border-radius: 4px;
}

.hr {
	width: 98%;
	height: 2px;
	margin-bottom: 12px;
	background: var(--color-accent-orange-2);
}

.bank {
	display: flex;
	flex-wrap: wrap;
}
