.name {
	font-size: 10px;
	font-weight: 500;
	color: #000;
	text-align: right;
}

.time_stamp {
	padding-left: 4px;
	font-size: 10px;
	font-weight: 500;
	text-align: left;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	height: fit-content;
	margin: 10px 0;
}

.receive_message_container {
	width: fit-content;
	padding: 12px;
	margin-top: 5px;
	font-size: 14px;
	line-height: 21px;
	color: #615f5f;
	word-break: break-word;
	background-color: #cfeaed;
	border-radius: 6px 0 6px 6px;
	box-shadow: 0 0 4px 0 #627fac33;
}

.admin_message_container {
	background-color: #fffce6;
}

.styled_img {
	width: 25px;
	height: 25px;
}

.message_div {
	margin-right: 8px;
}

.btn {
	width: fit-content;
	padding: 3px;
	margin: 0 5px 5px;
	font-size: 10px;
	color: #6892fe;
	text-decoration: underline;
	word-break: break-word;
	border: 1px solid #cddbff;
	border-radius: 4px;
}

.btns_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10px;
}

.styled_div {
	float: right;
	max-width: 320px;
}

.user_logo {
	width: 30px;
	height: 30px;
}

.list_container {
	margin-top: 6px;
	color: #615f5f;
	background-color: #cfeaed41;
	border: 1px solid #cfeaed;
	border-radius: 4px;
	box-shadow: 0 0 5px 0 #627fac33;
}

.list_item {
	padding: 10px 12px;
	border-bottom: 1px solid #cfeaed;

	&:last-child {
		border: none;
	}
}

.list_item_title {
	font-size: 12px;
	font-weight: 600;
}

.list_item_description {
	font-size: 11px;
}

.list_button {
	width: 100%;
	padding: 6px;
	margin-top: -3px;
	cursor: pointer;
	background-color: #cfeaed;
	border: none;
	border-top: 1px solid lightgray;
	border-radius: 0 0 4px 4px;
	outline: none;
	box-shadow: 0 2px 3px 0 #627fac33;
}

.btn_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.btn_icon {
	margin-right: 3px;
}

.message_tick_container {
	display: flex;
	justify-content: flex-end;
}
