.styled_component {
    background: #fff;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.label {
    color: #221f20;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}
