.button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 4px;
}
.count_data {
  border: 1px solid #ee3425;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 20px;
  font-weight: 600;
  color: #ee3425;
}
