.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.upper_heading {
	font-weight: 600;
	color: #221f20;
}

.lower_heading {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.main_container {
	height: calc(100vh - 144.33px);
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.arrow_back {
	display: flex;
	align-items: center;
	margin-right: 8px;
	cursor: pointer;
}

.add_structure {
	display: flex;
	align-items: center;
}

.card_heading {
	margin-top: 16px;
	font-style: normal;
	font-weight: 600;
	color: #4f4f4f;
	text-align: center;
}

.card_container {
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin-top: 12px;
}

.card_container > :nth-child(2n + 1) {
	margin-right: 8px;
}

.card {
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px 16px;
	cursor: pointer;
	background: #fff;
	border-radius: 16px;
}

.card_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.content_type {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-align: center;
}

.arrow_section {
	display: flex;
	align-items: center;
}

.arrow_section > :not(:last-child) {
	margin-right: 6px;
}

.below_text {
	display: flex;
	align-items: center;
	margin-right: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.below_text > :nth-child(2) {
	margin-right: 6px;
}
