.parent {
	padding: 0 24px;
	background-color: #fbfbfb;
}

.container {
	/* margin-top: 20px; */
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

.line {
	font-size: 20px;
	font-weight: 500;
	color: #000;
}

.services {
	display: flex;
	flex-wrap: wrap; /* Wrap items for smaller screens */
	justify-content: space-between;
	padding: 20px 0;
}

.service_bundling {
	width: 100%; /* Initially take up the entire width */
	margin-bottom: 20px; /* Add some spacing between services */

	@media (min-width: 768px) {
		width: 25%; /* For larger screens, take 25% width */
	}
}

.additional_services {
	width: 100%; /* Initially take up the entire width */

	@media (min-width: 768px) {
		width: 70%; /* For larger screens, take 70% width */
	}
}

.subsidiary_services {
	padding: 36px 0;
	margin: 36px 0;
	border-top: 1px dashed #dcdde5;
}

.proceed_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.proceed_button {
	width: 100%; /* Initially take up the entire width */

	/* @media (min-width: 768px) {
		max-width: 200px;
	} */
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loading_heading {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.loading_service_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	background: #fff;
	border: 1px dashed #f3eae7;
	border-radius: 4px;

	&.active {
		background: #f3fafa;
		border: 1px solid #eaf2f3;
	}
}

.add_icon {
	margin-right: 25px;
	cursor: pointer;
	background: #fff;
	border: 1.5px solid #221f20;
	border-radius: 50%;
}

.cogo_assured_text {
	margin: 8px 0 12px;
	font-size: 12px;
	font-weight: 600;
	color: #f00;
}
