.time_title {
	margin-top: 10px;
	font-size: 12px;
}

.duration_div {
	margin: 10px 20px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.refresh_icon {
	margin: 5px 10px 0 0;
}

.last_button {
	width: 130px;
	margin-left: 80px;
}
