.topContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}

.searchBox {
	width: 340px;
}

.searchIcon {
	display: flex;
	margin: 4px;
}

.topContainerComponents {
	margin-left: 30px;
}

.formInput {
	width: 45%;
	margin: 10px;
}

.formBody {
	display: flex;
	flex-wrap: wrap;
}

.formButton {
	margin-left: 18px;
}

.table {
	position: relative;
	min-height: 60vh;
	padding: 16px 26px;
	margin-top: 16px;
	background: var(--color-secondary-5);
}

.columnCard {
	margin-top: 40px;
}

.emptyStateImage {
	margin-top: 100px;
}

.pagination {
	right: 30px;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	margin-top: 80px;
}

.errors {
	font-size: 12px;
	color: var(--color-primary-error-red-2);
}
