.services {
	display: flex;
	flex: 0 0 30%;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 28%;
	height: 76px;
	padding: 4px;
	margin-right: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 8px;

	&:hover {
		background-color: #fffce6;
		border: 1px solid #fef199;
	}

	&:active {
		background-color: #fef199;
	}
}

.active {
	background-color: #fef199;

	&:hover {
		background-color: #fef199;
		border: 1px solid #fef199;
	}
}

.service_title {
	font-size: 12px;
	color: #828282;
}
