
.card{
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    padding: 12px 20px 12px 12px;
    margin-top: 20px;
    font-size: 16px;
    color: #221F20;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    padding: 12px 0 0 0;
}

.name{
    font-weight: 700;
    margin-left: 4px;
}

.dates{
    width: 32%;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}