.heading {
	font-size: 24px;
	font-weight: 500;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 4px 20px;

	:global {
		.ui_button_container {
			height: 38px;
		}
	}
}
