.heading {
	font-size: 24px;
	font-weight: 500;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 4px 20px;

	:global {
		.ui_button_container {
			height: 38px;
		}

		.ui_popover_container {
			max-width: 300px !important;
			word-break: keep-all;
			background-color: #fef199;
			box-shadow: 0 0 9px 0 #f2f3fab2;
		}

		.tippy-arrow::before {
			border-bottom-color: #fef199 !important;
		}
	}
}
