.heading {
	font-weight: 500;
	width: fit-content;
}

.driver_type_heading{
	text-transform: capitalize;
	.driver_type {
		background: #eaeaea;
		border-radius: 5px;
		padding: 5px;
	}
	ul {
		padding-left: 10px;
		.driverBox {
			.actionRow {
				display: flex;
				margin: 5px 0 10px 5px;
			}
		}
	}
}
.driver_type {
	text-transform: capitalize;
	background: #eaeaea;
	border-radius: 5px;
	padding: 5px;
}

.driverBox {
	text-transform: capitalize;
		display: flex;
		margin: 5px 0 10px 5px;
}

.actionRow {
	text-transform: capitalize;
	display: flex;
	margin: 5px 0 10px 5px;
}
