.parent {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.left {
	width: 54%;
	height: auto;
	font-size: 12px;
	font-weight: 500;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
}

.right {
	width: 46%;
	height: auto;
	padding: 24px;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
}

.right_upper {
	display: flex;
	margin-bottom: 20px;
}

.feedback_box > * {
	height: 250px;
	margin: auto;
}
