.container {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 20px;
}

.input_box {
	width: 60%;
}

.flex_box {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.filter_container {
	:global {
		.ui_button_container {
			min-width: auto;
			padding: 7px 10px;
		}
	}
}

.title {
	margin: 0;
}
