

.content {
    border: 1px solid rgb(128, 123, 123);
    
    border-radius: 5px;
}
    
.contentparent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
}

    
.contentshow {
    margin-top: 0.25%;
	margin-bottom: 2.5%;
	margin-left: 1%;
	margin-right: 3%;
	
}

.title {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 16px;

	@media (min-width: 768px) {
		font-size: 1.25rem;
	}
}
.relatedquestion{
margin-top: 20%;
font-family: 'Poppins';
font-style: normal;
font-weight: 1000;
font-size: 15px;
margin-bottom: 2%;
color: #000000;
opacity: 0.5;
}

.subtitle {
	font-size: 13px;
	font-weight: 1000;
	margin-right: 1%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.sidetext{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 15px;
margin-bottom: 5%;

margin-top: 5%;
padding-bottom: 5px;
/* identical to box height */

color: #221F20;

opacity: 0.6;
}
.heading_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 59rem;
	margin-bottom: 1%;
	margin-top: 1.5%;
	overflow: auto;
	

	@media (max-width: 768px) {
		flex-flow: column wrap;
		align-items: flex-start;

		:global(.ui_chips_container) {
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;
		}
	}
}
.pills {
	margin-left:1%;
	font-weight: 1000;
}