.card {
  padding: 16px;
  margin: 0 10px;
  margin-bottom: 16px;
  background-color: white;
}

.flex {
  display: flex;
  gap: 24px;
  margin: 20px;
}
.halfWidth {
  width: 40%;
  box-sizing: border-box;
}