.user_info_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	padding: 0 50px;
}

.info_box_1 {
	flex: 0.4;
	padding-left: 20px;
}

.info_box_2 {
	flex: 0.6;
}

.name {
	font-weight: bold;
}
