.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :global(.ui_select_display_container) {
        width: 160px;
    }
}

.modal_body {
    :global {
        .ui_modal_body_container {
            max-height: fit-content;
        }
    }
}