.name_container{
    margin-left: 20px;
    margin-top: -15px;
    justify-content: space-between;
}
.label{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
    margin-top: 2px;
    margin-left: 3px;
}
.type_value{
    color: #F68B21;
    font-weight: 600;
    font-size: 12px;
}
.value{
    color: #333333;
    margin-left: 2px;
    display: flex;
}
.rate_conatiner{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bank_details{
    padding: 0px;
}
.subcontainer{
    padding-right: 50px;
}
.link{
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
}
.text_area{
    height: 10px;
    border: 1px solid #333333;
    border-radius: 4px;
    min-height: 80px;
}
.remarks_style{
    font-weight: 500;
    font-size: 12px;
}
.hr{
    height: 1px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #D9D9D9;
}
.raise_button{
    border: none;
    align-items: center;
}
.category_flex{
    display: flex;
    flex-direction: row;
}