.errors {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-1);
}

.form_wrapper {
	& > div:not(:last-of-type) {
		margin-bottom: 24px;
	}
}

.primary_button {
	margin-left: 10px;
}
