.header {
	font-size: 18px;
	font-weight: 600;
}

.errors {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-1);
}

.form_wrapper {
	& > div:not(:last-of-type) {
		margin-bottom: 24px;
	}
}

.custom_modal {
	padding-bottom: 2px;

	:global {
		.ui_modal_header_container {
			padding: 0 0 8px !important;
		}

		.ui_modal_body_container {
			max-height: 400px;
			border: none;
		}

		.ui_button_container:not(:first-of-type) {
			margin-left: 10px;
		}
	}
}

.label {
	margin: 8px 0;
	font-weight: 900;
	line-height: 14px;
	letter-spacing: 0.02em;
}
