.card_container {
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}

.row_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 60px;
	padding: 0 4px;
}

.width_95 {
	width: 95%;
}

.loader {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 5%;
}

.divider {
	margin: 0;
}

.label {
	font-size: 1.1em;
	font-weight: 600;
}

.header_container {
	margin-top: 10px;
}
