.container {
	margin: auto;
	text-align: center;
}

.title {
	margin-bottom: 4px;
	font-size: 24px;
	font-weight: 600;
}

.tag_line {
	color: #4f4f4f;
}

.input_container {
	margin-top: 48px;
}

.prev_button {
	position: absolute;
	bottom: 24px;
	left: 24px;
}

.create_button {
	position: absolute;
	right: 24px;
	bottom: 24px;
}
