.container {
	width: 100%;
}

.type_to {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 4px 0;
}

.sub_text {
	width: 40px;
	font-size: 14px;
	color: #828282;
}

.mail_recipient_container {
	display: flex;
	align-items: center;
	width: calc(100% - 82px);

	@media (max-width: 576px) {
		width: calc(100% - 70px);
	}
}

.button_styles {
	display: flex;
	align-items: flex-end;
	height: 32px;

	@media (max-width: 576px) {
		:global {
			.ui_button_container {
				font-size: 10px;
			}
		}
	}
}
