.form_container {
	padding: 20px;

	@media (max-width: 580px) {
		padding-top: 50px;
	}
}

.heading {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 600;
}
