.main_container{

    width:100%;
    height:95vh;
    display:flex;
    flex-direction:row;
    padding-bottom: 10px;

}
.stats_view_container{
    height:100%;
    flex-basis:50%;
    
}
.map_view_container{


    height:100%;

    flex-basis:50%;

}