.heading {
    font-weight: 700;
}

.content {
    font-weight: 400;
    font-size: 12px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.button_container {
    display: flex;
    align-items: center;
}

.count {
    font-weight: 600;
    margin-left: 6px;
}

.flex {
    display: flex;
    font-size: 12px;
    align-items: center;
}