.container {
	padding: 12px;
}

.heading {
	display: flex;
	margin: 0;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: #393f70;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}
