.my_modal {
	:global {
		.ui_modal_header_container {
			align-items: flex-start;
			padding-bottom: 0;
		}

		.ui_modal_footer_container {
			.ui_button_container:not(:first-of-type) {
				margin-left: 10px;
			}
		}
	}
}

.sub_heading {
	font-size: var(--font-size-md);
}
