.container {
    display: flex;
    gap: 40px;
    margin: 80px 0px 20px 0px;
    align-items: center;
}

.item_container {
    flex-basis: 33%;
}

.heading {
    font-weight: 700;
    margin-bottom: 6px;
}

.content {
    padding: 20px;
    display: flex;
    height: 120px;
    align-items: center;
}

.label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}

.control_item {
    margin-left: 24px;
    width: 60%;
}