.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.cancel_button {
	margin-right: 8px;
}

.with_docs {
	width: 1300px !important;
}

.only_docs {
	width: 800px !important;
}
