.mawb_container {
  display: flex;
  svg {
    padding: 0px;
    background-color: transparent;
    color: red;
    height: 16px;
    cursor: pointer;

    :hover {
      background-color: none;
      border: "none";
    }
  }
  .ui_button_container {
    height: 0px;
    border: none;
  }
}
