.container {
	display: flex;
	flex-direction: column;
	width: 26%;
	height: fit-content;
	margin: 0 16px;
}

.heading {
	margin-bottom: 12px;
	color: #4f4f4f;
}

.percentile {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: fit-content;
	margin: 0 12px 12px 0;
}

.percentile_01 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: 0 12px 12px 0;
}

.Tooltip_row {
	display: flex;
	justify-content: space-between;
}

.Tooltip_percentage {
	margin-left: 8px;
}

.topicwise_stats {
	display: flex;
	flex-wrap: wrap;
}

.topic {
	width: fit-content;
	padding: 2px 4px;
	background: #f3fafa;
	border-radius: 6px;
}

.percentage {
	font-weight: 600;
	color: #849e4c;
}

.tooltip_row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.tooltip_percentage {
	margin-left: 12px;
}
