.filter_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 2px;

	:global {
		.ui_input_container {
			height: 36px;
		}
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		position: absolute;
	}
}
