.wrapper {
	position: relative;
	display: flex;
	height: 100%;
	padding: 8px;
	cursor: pointer;

	/* align-items: center; */

	background-color: yellowgreen;
}

.new_notifications {
	position: absolute;
	top: 0;
	right: 2px;
	display: flex;
	align-items: center;
	align-self: flex-end;
	height: 16px;
	padding: 4px;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	background: #cb6464;
	border-radius: 16px;
}
