.sid {
	display: flex;
	justify-content: center;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.sid.id {
	color: #f68b21;
	text-decoration: underline;
}

.container {
	&.col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&.shipment_details {
		display: flex;
		justify-content: space-evenly;
		width: 12%;
		margin: auto;

		* {
			font-size: 12px;
		}

		* .bold {
			opacity: 0.8;
		}
	}

	&.left_container {
		align-items: center;
		justify-content: center;
		width: 40%;
	}

	&.all_text_center {
		* {
			text-align: center;
		}
	}
}

.border {
	overflow: hidden;
	background: #c4dc91;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.tag_container {
	display: flex;

	/* margin: 4px; */
}

.border_right {
	display: flex;
	flex-direction: flex-end;
	width: 2%;
	border-right: 1px solid #88cad1;
}

.block {
	padding: 2px 8px;
	overflow: hidden;
	font-weight: 600;

	&.service {
		color: #fff;
		background: #393f70cc;
	}
}

.port_code {
	font-weight: 500;
	border-bottom: 1px dashed #e0e0e0;
}

.text {
	&.thin {
		font-weight: 300;
		opacity: 0.58;
	}

	&.bold {
		font-weight: 500;
	}
}
