.heading {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
}

.style_table {
	max-height: 300px;
	overflow-x: auto;
	background: #fff;
	border-radius: 5px;

	:global {
		.ui_table_body_cell {
			padding: 14px 0;
		}

		.ui_table_head_cell div {
			padding: 4px 8px;
		}

		.ui_table_head_cell {
			border-bottom: 2px solid red;
		}
	}
}

.head {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 4px;
	font-weight: bold;
	color: #4f4f4f;
}

.sub_heading {
	margin-left: 10px;
}

.data {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #fff;
}

.table_container {
	overflow: auto;
}
