.main_container {
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.grey_container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.grey_container > :not(:last-child) {
	margin-bottom: 24px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row > :not(:last-child) {
	margin-right: 12px;
}

.row {
	display: flex;
	align-items: center;
}

.top_text_container {
	display: flex;
	flex-direction: column;
}

.top_next_container {
	display: flex;
	flex-direction: column;
}

.top_bold_text {
	align-self: flex-end;
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.top_grey_text {
	font-size: 12px;
	color: #828282;
}

.horizontal_container {
	display: flex;
}

.side_container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 16px 12px;
	margin-left: 16px;
	background: #fff;
	border-radius: 16px;
}

.side_container > :not(:last-child) {
	margin-bottom: 12px;
}

.note {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.side_heading {
	margin-left: 4px;
	font-size: 16px;
	font-weight: 500;
	color: #221f20;
}

.paragraph {
	font-size: 12px;
	color: #4f4f4f;
}

.bottom_container {
	display: flex;
	flex-direction: row;

	:global {
		.ui_button_childeren {
			font-weight: 500;
			text-transform: capitalize;
		}
	}
}

.bottom_container > :not(:last-child) {
	margin-right: 12px;
}

.align_end {
	justify-content: flex-end;
}
