.container {
	padding: 16px 0px;

	.name {
		font-weight: bold;
		padding: 24px 0;
		margin: 0;
		border-bottom: 1px solid #828282;
	}
}

.details_container {
	padding: 16px 0;
}

.text_container {
	display: flex;
	padding: 8px;

	.details {
		width: 100px;
		font-weight: 500;
		color: #464646;
		margin: 0px;
	}

	.data {
		min-width: 144px;
		font-weight: 500;
		margin: 0px;
	}
}





