.container {
	width: 100%;
	margin: 0px 14px 30px 0px;
	background: linear-gradient(0deg, #f9fef9, #f9fef9), #f9fef9;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

	@media (max-width: 768px) {
		width: 100%;
	}
}

.header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #cdf7d4;
	padding: 18px 0px 16px 12px;
}

.text {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding-left: 14px;
	color: #333;
}

.assured_details {
	padding: 24px 26px 30px;

	@media (max-width: 768px) {
		padding-right: 8px;
	}
}

.heading {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.item_label {
	font-size: 12px;
	line-height: 20px;
	padding-left: 10px;
	color: #333;
	font-weight: 600;
}
