
import Modal from '@cogoport/front/components/admin/Modal';

.ModalStyled = styled(Modal)}
	.ui-modal-dialog {
		padding: 20px;
		width: 540px !important;
	}
};

.Container{
	.core-ui-select__control--is-disabled {
		background: none !important;
		border: none !important;
		font-weight: 600;
	}

	.core-ui-select__single-value {
		color: #393f70;
	}

	.core-ui-select__control {
		min-height: 24px !important;
	}
};

.Header{
	text-align: center;
	.bold {
		font-weight: 600;
	}
};

.Heading{
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: #cb6464;
	text-align: center;
	margin-bottom: 20px;
};

.Title = styled.h4}
	color: #393f70;
	margin-bottom: 8px;
	&::after {
		display: block;
		content: '';

		width: 20%;
		height: 2px;
		background: #5936f0;
		border-radius: 20px;
	}
};

.Description{
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 12px;
	color: #393f70;
};

.Info{
	margin-left: 20px;
	width: 100%;
};

.ButtonDiv{
	display: flex;
	justify-content: flex-end;

	.cancel {
		margin-right: 16px;
	}
};

.Controller{
	.core-ui-select-root {
		margin-right: 363px;
	}
	margin-left: 42px;
};

.ControllerService{
	.core-ui-select-root {
		margin-right: 363px;
	}
};

.Lable{
	margin-top: 8px;
};
