.sid_list_container {
	display: flex;
	flex-direction: column;
	padding: 4px 20px;
	border-radius: 4px;
}

.col {
	display: flex;
	flex: var(--span);
	justify-content: center;
	padding: 4px;
	font-size: var(--font-size-md);
	font-weight: 500;
}

.sid_list {
	background: #fffaee;
	border-radius: 4px;
}

.header {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 8px 20px;
	margin-bottom: 8px;
	color: var(--color-accent-orange-2);
	border-bottom: 1px solid var(--color-accent-orange-4);

	.col {
		font-size: var(--font-size-md);
		font-weight: 700;
	}
}
