.form_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;

	& > div {
		flex: 0 0 45%;
		margin: 4px 0;
	}
}

.label {
	margin: 8px 0;
	font-weight: 900;
	line-height: 14px;
	letter-spacing: 0.02em;
}

.input_container {
	display: flex;
	flex-direction: column;

	& > label {
		margin-bottom: 4px;
		font-weight: 900;
	}

	& > select,
	input {
		height: 38px;
		font-size: var(--font-size-xl);
	}

	:global {
		.ui_upload_droparea_container {
			min-height: fit-content !important;
			padding: 0 !important;
			margin-bottom: 0 !important;
			border: 1px solid #dedede;
		}
	}
}

.errors {
	color: red;
	font-size: var(--font-size-md);
}
