.container {
	margin: 0px 7px;
	display: flex;
	padding-bottom: 22px;
	cursor: pointer;
}

.circle {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 1px solid #393f70;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sender{
	font-weight: 600;
	font-size: 14px;
	color: #221F20;
	margin-bottom: 2px;
}

.content {
	margin-left: 8px;
	flex: 1;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;
}

.date {
	font-size: 12px;
	color: #2f2f32;
	margin-bottom: 8px;
}

.initial_body {
	font-size: 10px;
	color: #2F2F32;
	margin-bottom: 2px;
	opacity: 0.6;
}
