.quotation {
	width: 100%;
	padding: 8px 30px;
	margin-top: 12px;
	font-size: 12px;
	font-weight: 600;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);

	span {
		margin-left: 8px;
		font-weight: normal;
	}
}

.agent_title {
	margin-top: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #221f20;
}
