

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;

	border-bottom: 1px solid #f2f2f2;

	&:last-child {
		border: none;
	}
}

.container:last-child {
	border: none;
}

.key{
	margin: 9px 0px 5px 24px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #828282;
	white-space: nowrap;
}

.value{
	margin: 8px 24px 4px 24px;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-transform: capitalize;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;	
}

.cancelled {
	color: #bdbdbd;
}