.container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: flex-end;
}

.tile_container {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 16px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

.bucket_container_selected {
	background-color: #cddbff;
}

.tile_heading {
	margin-bottom: 16px;
}

.title {
	font-size: 18px;
	font-weight: 500;
	color: #393f70;
	letter-spacing: 0.15px;
}

.sub_heading {
	font-size: 14px;
	font-weight: 500;
	color: #828282;
	letter-spacing: 0.15px;
}

.main_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: baseline;
}

.stat_value {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}

.green {
	color: #67c676;
}

.blue {
	color: #367bf5;
}

.red {
	color: #f00;
}

.orange {
	color: #f3aa18;
}

.stat_value_subtile {
	margin-left: 8px;
	font-size: 14px;
	color: #333;
}
