.form {
	.core-ui-radiogroup-container {
		flex-direction: row;
		justify-content: flex-start;

		.core-ui-radio-root {
			margin-right: 30px;
		}

		.core-ui-radio-label {
			margin-left: 6px;
			color: #393f70;
			opacity: 1;
		}
	}
}

.mb_16 {
	margin-bottom: 16px;
}
.mb_12 {
	margin-bottom: 12px;
}
.title {
	color: #393f70;
	font-size: 12px;
	font-weight: 700;
}
.label {
	color: #393f70;
	font-size: 12px;
}
.container_nums {
	margin-bottom: 22px;
}
.container_num {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10px;
	font-weight: 500;
	background-color: #f2f2f2;
	border-radius: 4px;
	margin-right: 6px;
}
.link {
	display: inline-block;
	color: #356efd;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 30px;
	cursor: pointer;
}
.disable {
	cursor: not-allowed;
	color: #7e7e7e;
}

.button_container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;

 .core-ui-button-root {
 	text-transform: capitalize;
 }
 .link {
 	margin-left: 0;
 	align-self: flex-end;
 }
}

 .styled_modal {
 	&.ui-modal.center {
 		align-items: center;
 	}
 	.ui-modal-dialog.center {
 		top: 0;
 	}
 	.ui-modal-dialog.reddish {
 		background-color: #fdebe9;
 	}
 }

.rollover_info {
	display: flex;
	align-items: center;

	.info {
		margin-left: 6px;
		font-size: 12px;
	}
}
