.title_black {
	display: inline-block;
	max-width: 100%;
	font-size: var(--font-size-md);
	font-weight: normal;
	color: #000;
	text-align: center;
	text-align: left;
	word-break: break-word;
	word-wrap: break-word;
	background-color: var(--color-primary-error-red-2);
}

.row {
	display: flex !important;
	justify-content: space-between !important;
	padding: 12px;

	&:hover {
		background-color: #f9f9f9;
	}
}

.column {
	font-size: var(--font-size-md);
}
