.label {
	margin-bottom: 7px;
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.element {
	margin-bottom: 10px;
}

.filters_types {
	display: flex;
	flex-direction: column;

	:global {
		.ui_radio_container {
			padding: 3px 0;
		}

		.ui_checkbox_container {
			padding: 3px 0;
		}

		.ui_checkbox_style {
			margin: 0 5px 0 0;
		}
	}
}

.field_controller {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.disabled {
	pointer-events: none;
}

.error_text {
	font-size: 11px;
	font-weight: 600;
	color: #d22b2b;
}
