
import { Table } from '@cogoport/front/components';

.Container{
	padding: 20px;
	background: #ffffff;
};

.Title = styled.span}
	font-weight: 500;
	font-size: 12px;
	width: 100%;
	margin: 10px 0px 0px 0px;
};

.StyledTable = styled(Table)}
	background-color: #ffffff;
	overflow-x: auto;
	max-height: 250px;
	.ui-table {
		.ui-table-body-cell {
			background-color: #ffffff !important;
			background: #ffffff !important;
		}
		.ui-table-body-row:hover {
			.ui-table-body-cell {
				background-color: #f5fafe !important;
				background: #f5fafe !important;
			}
		}
		.selected {
			.ui-table-body-cell {
				background-color: #f5fafe !important;
				background: #f5fafe !important;
			}
		}
		.ui-table-head-cell {
			color: #4f4f4f;
			font-weight: 500;
			font-size: 12px;
			line-height: 10px;
		}
	}
};

.RateContainer{
	display: flex;
	flex-direction: column;
};

.CommodityContainer{
	display: flex;
};
