.container {
	display: flex;
	width: 100%;
	margin-bottom: 32px;
}

.line {
	width: 100%;
	margin: 10px 0;
	border-top: 2px solid var(--color-secondary-greyscale-4);
}

.circle {
	width: 24px;
	padding-top: 1px;
	margin-right: 8px;
	color: #fff;
	text-align: center;
	background: #000;
	border-radius: 50%;
}

.section {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding-left: 10px;
}

.inner_div {
	display: flex;
	width: 100%;
}

.status {
	display: flex;
	align-items: center;
	padding: 2px 4px 0;
	margin-left: 4px;
	font-size: 9px;
	background-color: var(--color-accent-orange-4);
	border-radius: 4px;
}

.popover_section {
	width: 69px;
	color: var(--color-accent-orange-2);
	text-decoration: underline;
	cursor: pointer;
}
