.modal_container {
	top: 50px !important;

	:global {
		.ui_modal_body_container {
			height: 70vh;
			max-height: none !important;
		}
	}
}

.button_container {
	z-index: 9999;
}

.hide_button {
	display: none;
}
