.content_container {
	&:hover {
		border: 1px solid #88cad1;
	}
}

.block_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 28px;
	font-weight: 600;
	color: #FCDC00;
	background-color: #fffdee;
	cursor: pointer;
	border: none;
	outline: #FCDC00 1px solid;
	width: 100%;
	&:hover{
		background-color: #fffbe0;
	}
}