.date {
	width: 100% !important;
	height: 44px;
}

.item {
	height: 100%;
}

.label {
	margin-bottom: 6px;
	font-size: var(--font-size-md);
	font-weight: 600;
}

.heading {
	margin-bottom: 6px;
	font-size: var(--font-size-lg);
	font-weight: 700;
}

.errors {
	font-size: var(--font-size-md);
	color: var(--color-primary-error-red-2);
}

.element {
	padding: 8px 12px;

	:global {
		.react-datepicker__input-container {
			width: 100%;

			:hover {
				border: 1px solid var(--color-accent-orange-2);
			}

			input {
				height: 42px;
				border: 1px solid #ebebeb;
				border-radius: 4px;
			}

			input::placeholder {
				color: #bdbdbd;
			}
		}

		.ui_select_input_placeholder {
			color: #bdbdbd;
		}

		.ui_input_control::placeholder {
			color: #bdbdbd;
		}

		.ui_checkbox_group_container {
			padding: unset;
		}

		.ui_checkbox_container {
			padding: unset;
		}
	}
}
