.container {
	width: 100%;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 4px 6px;
	background: #fdfbf6;
}

.button_margin {
	margin-left: 4px;
}

.form_div {
	width: 100%;
	padding: 0 12px;
}
