.conatiner {
	display: flex;
	align-items: center;
	height: 85vh;
	margin-top: 15px;
}

.revenue_graph {
	width: 70%;
	height: 100%;
	padding: 10px;
	margin-right: 20px;
	background: #fff;
	border-radius: 8px;
}

.level_graph {
	width: 30%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
}

.levels_header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.level_name {
	padding: 15px 50px;
	margin-right: 40px;
	color: #4f4f4f;

	&:last-child {
		margin-right: 0;
	}
}

.total_payouts {
	display: flex;
	align-items: center;
	padding: 10px 0 0 20px;
}

.amount {
	margin-left: 5px;
	font-weight: 600;
}

.user_lavel_payouts {
	height: 85%;
	overflow-y: auto;
	animation: payouts 0.5s both;

	@keyframes payouts {
		0% {
			opacity: 0;
			transform: scale3d(0.9, 0.9, 0.9);
		}

		50% {
			opacity: 1;
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.payouts {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.single_payouts {
	display: flex;
	justify-content: center;
	width: 50%;
	padding: 3px;
}

.network_level {
	color: #828282;
	border: 1px solid #e0e0e0;
	border-width: 0 1px 1px 0;
}

.payouts_level {
	color: #828282;
	border: 1px solid #e0e0e0;
	border-width: 0 0 1px;
}

.diameter_header {
	font-size: 13px;
	color: #4f4f4f;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
}

.networks_chart {
	width: 100%;
	padding: 10px;
}

.networks_skeleton {
	position: relative;
	height: 25px;
	margin-top: 15px;
	border-radius: 4px;
}
