.container {
	position: relative;
	border: 1px solid #dedede;
	border-radius: 8px;
}

.delete {
	position: absolute;
	right: 0;
	padding: 8px;
	cursor: pointer;
}

.feedback_type {
	width: 40%;
	padding: 8px;
}

.feedback_data {
	width: 100%;
	padding: 8px;
}

.single_input_section {
	width: 49%;
	margin: 12px 0;
}

.errors {
	font-size: 10px;
	color: #f00;
}

.commitmentdate {
	margin-top: 4px;
}

.maincontainer {
	display: flex;
	flex-wrap: wrap;

	:global {
		.ui_radiogroup_container {
			padding: 0;
		}

		.ui_radio_container {
			padding-left: 0;
		}
	}
}

.next {
	margin-left: 26px;
}

.paymentcommit {
	margin-left: 12px;
}

.obsticles {
	margin-top: 12px;
}
