.container {
	:global {
		.ui_collapse_container {
			border-bottom: 1px solid #f8f2e7;
			border-radius: 0;
			box-shadow: none;
		}

		.ui_collapse_title {
			/* display: flex; */
			flex: 10;
			width: 100%;
			margin-left: 0;
		}

		.ui_collapse_header {
			display: flex;
			padding: 12px 0;
			font-weight: none;
			background-color: var(--color-secondary-5);
		}

		.ui_collapse_main {
			gap: 0;
		}

		.ui_collapse_icon {
			display: flex;
			justify-content: center;
			width: 5%;
		}

		.ui_collapse_content {
			padding: 16px;
			margin-top: 0;
			background-color: #f8f2e7;
			border-radius: 0;
		}
	}
}

.active_accordian {
	background-color: #f8f2e7;
}
