.container {
	position: relative;
	width: 100%;
	height: 70px;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background: #fdfbf6;
	}

	:global {
		.ui_avatar_text {
			background: none;
		}
	}
}

.active_card {
	background: #fbf7ec;
	border: 1px solid #fcdc00;
	border-radius: 4px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-left: 10px;
}

.group {
	display: flex;
	align-items: center;
}

.type {
	margin-left: 6px;
	font-size: 12px;
	font-weight: 600;
}

.description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	max-height: 40%;
	overflow: hidden;
}

.label {
	max-width: calc(100% - 60px);
	height: 100%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.activity_duration {
	width: 60px;
	font-size: 10px;
	font-weight: 500;
	color: #4f4f4f;
	white-space: nowrap;
}

.pinned_div {
	position: absolute;
	top: 3px;
	left: 2px;
	cursor: pointer;
	transition: 0.5s ease-in-out;

	&:hover {
		transform: rotate(-20deg) scale(1.1);
	}
}

.styled_avatar {
	background: #ffd761;
	border-radius: 50% !important;
}

.draft_styles {
	font-style: oblique;
	font-weight: 600;
	color: #4f4f4f;
}
