.files_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 12px;
}

.files {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	:global {
		.ui_button_container {
			justify-content: flex-start;
			padding-left: 0;
		}
	}
}

.heading {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

.file_item {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 180%;
	color: #ee3425;
	cursor: pointer;
}

.file_item:hover {
	text-decoration: underline;
}
