.modal {
	:global {
		.ui_modal_body_container {
			overflow-x: visible;
		}
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}

.date {
	width: 50%;

	:global {
		.react-datepicker__aria-live {
			display: none;
		}

		.react-datepicker-wrapper {
			width: 95%;
		}
	}
}

.download {
	display: flex;
	justify-content: flex-end;
}

.download_icon {
	margin-left: 4px;
	color: #fff;
}
