.container {
	width: 300px;
	height: 350px;
	margin: 6px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.topics_rating_container {
	display: flex;
	justify-content: space-between;
	align-items: self-start;
	margin: 3px;
}

.header {
	height: 150px;
	background-color: #fffce6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topics,
.categories_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rating,
.save {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.category_name {
	margin-right: 10px;
	font-size: 12px;
	color: #f68b21;
}

.details {
	display: flex;
	flex-direction: column;
	height: 200px;
}

.details,
.header {
	padding: 16px;
}

.description {
	height: 40px;
	font-size: 14px;
	line-height: 30px;
	color: #828282;
	white-space: nowrap; 
  	overflow-y: hidden;
  	text-overflow: ellipsis;
}

.btn_container {
	display: flex;
	justify-content: space-between;
	margin-top: auto;

	:global {
		.ui_button_container {
			padding: 6px 10px;
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.btn_text {
	margin-right: 4px;
}

.more {
	text-decoration: underline;
}

.tooltip {
	display: flex;
}
