.container {
	width: 300px;
	height: 400px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
	margin: 5px;
}

.topics_rating_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header {
	height: 150px;
	background-color: #fffce6;
}

.topics,
.categories_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.rating,
.save {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.category_name {
	margin-right: 10px;
	font-size: 12px;
	color: #f68b21;
}

.details {
	display: flex;
	flex-direction: column;
	height: 250px;
}

.details,
.header {
	padding: 24px;
}

.description {
	font-size: 12px;
	line-height: 18px;
	color: #828282;
}

.btn_container {
	display: flex;
	justify-content: space-between;
	margin-top: auto;

	:global {
		.ui_button_container {
			padding: 6px 10px;
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

.btn_text {
	margin-right: 4px;
}

.more {
	text-decoration: underline;
}

.tooltip {
	display: flex;
}
