.list_container {
	display: flex;
	flex-direction: column;
	padding: 8px 20px;
	margin: 16px 8px 0;
	margin-bottom: var(--open-margin);
	word-wrap: wrap;
	background: var(--color-secondary-5);
	filter: drop-shadow(0 0 5.9px rgb(0 0 0 / 15%));
	border-radius: 4px;
	transition: 0.3s;
}

.row {
	display: flex;
	align-items: center;
	min-height: 40px;
	background-color: var(--color-secondary-5);
}

.col {
	display: flex;
	flex: var(--span);
	justify-content: center;
	padding: 4px;
	font-size: var(--font-size-md);
	font-weight: 500;
}

.tablelabel {
	display: flex;
	font-size: var(--font-size-md);
	font-weight: 600;
	color: #303b67;
}
