.stats_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 16px;
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;
}

.each_tab {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48%;
	padding: 6px 16px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 26px;
	box-shadow: 0 0 4px 0 rgb(98 127 172 / 20%);

	/* &:hover { */

	/* box-shadow: 0 8px 16px rgb(57 63 112 / 25%); */

	/* transition: 0.3s ease-in-out;
		transform: scale(1); */

	/* } */
}

.label {
	font-size: 12px;
}

.red_dot {
	position: absolute;
	right: 90%;
	bottom: 88%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.arrow_button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 8px;
	margin-left: 10px;
	background: #fff !important;
	border: 0.5px solid #e0e0e0 !important;
	border-radius: 8px;

	svg {
		fill: #034afd;
	}
}
