.container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.input_field {
	width: 100%;
}

.container > div {
	flex: 0 calc(50% - 8px);
}

.modal_footer {
	display: flex !important;
	gap: 8px;
}

.filter_title {
	margin: 16px 0 8px;
	font-size: 16px;
	font-weight: 500;
}

.modal_container {
	:global {
		.ui_modal_scroll .ui_modal_body_container {
			min-height: 544px;
		}
	}
}
