.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10px;
	margin: -1px;
	border-right: 1px solid #cbcff5;
}

.port {
	display: flex;
	align-items: center;
	width: 40%;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	line-height: 130%;
	color: #333;
	text-align: center;
	letter-spacing: 0.02em;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.empty_state {
	flex: 1;
	padding: 20px;
	text-align: center;
}
