.terms_and_conditions_container {
	padding: 15px;
	max-height: 200px;
	overflow: scroll;
	text-align: justify;
}

.title {
	font-weight: 500;
	font-size: 18px;
	color: #2c3e50;
	padding-bottom: 3px;
}
