.container {
	margin: 16px 0;
	background: white;
	border: #e0e0e0 1px solid;
	border-radius: 4px;
}

.container:hover {
	box-shadow: rgb(218 169 169 / 65%) 0 1px 6px;
}

.upper {
	padding: 8px;
}

.lower {
	height: auto;
	padding: 0 0 8px;
}

.flexColumnsMapping {
	display: flex;
	justify-content: flex-end;
	margin-right: 108px;
}

.contentContainer {
	display: flex;
	margin-bottom: 4px;

	@media (min-width: 768px) {
		flex-direction: column;
		margin-bottom: 0;
	}
}

.flexContent {
	display: flex;
	align-items: center;
}

.contentTitle {
	font-size: 12px;
	font-weight: 400;
}

.contentTitle::after {
	margin-right: 4px;
	content: ": ";

	@media (min-width: 768px) {
		content: "";
	}
}

.contentValue {
	width: 100%;
	font-weight: 500;
	color: #4f4f4f;

	&.Active {
		width: fit-content;
		padding: 2px 6px;
		font-size: 12px;
		color: #fff;
		background: #32b845;
		border-radius: 4px;
	}

	&.Inactive {
		width: fit-content;
		padding: 2px 6px;
		font-size: 12px;
		color: #fff;
		background: #ee6b6e;
		border-radius: 4px;
	}
}

.contentValue .Active {
	width: fit-content;
	padding: 2px 6px;
	font-size: 12px;
	color: #fff;
	background: #32b845;
	border-radius: 4px;
}

.tagsRow {
	display: flex;
	margin-right: 8px;
}

.customTag {
	padding: 2px 6px;
	font-size: 10px;
	border: 1px solid #dbdee7;
	border-radius: 4px;
}

.gridRow {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.tagsList {
	display: flex;
}

.defaultTag {
	position: relative;
	top: -8px;
	left: -8px;
	width: fit-content;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: 500;
	font-weight: 600;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background-color: #ee3426;
	border-radius: 0 0 10px;
}

.layoutContainer {
	padding: 12px;
	margin-top: 12px;
	border-top: 1px solid #e0e0e0;
}

.heading {
	font-size: 14px;
	font-weight: 500;
	text-decoration-line: underline;
}

.block {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.accordionContainer {
	position: relative;
	bottom: -8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2px 0;
	margin-top: 12px;
	font-size: 14px;
	cursor: pointer;
	background-color: #fdebe8;
	border: none;
	border-radius: 0 0 4px 4px;
}
