.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px 12px;
	font-size: 16px;
	background: #fff;
	border: 1px solid #f8f2e7;
}

.service_type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	padding: 8px;
	margin: auto;
	background: #f2f3fa;
	border-radius: 6px;
}

.icon {
	margin-right: 8px;
}

.details_background {
	background-color: #fef3e9;
}

.orgin_port {
	width: 22%;
	overflow: hidden;
	color: #f68b21;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.arrow_logo {
	width: 2%;
}

.destination_port {
	width: 22%;
	overflow: hidden;
	color: #f68b21;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.high_demand_port_pairs {
	width: 8%;
	text-align: center;
}

.rated_acquired {
	width: 10%;
	text-align: center;
}

.forecasted_demand {
	width: 15%;
	text-align: center;
}

.action_logo {
	width: 4%;
	cursor: pointer;
}

.destination_port_name,
.origin_port_name {
	width: 100%;
	overflow: hidden;
	color: #f68b21;
	text-overflow: ellipsis;
	white-space: nowrap;
}
