.row {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	width: 100%;
	padding: 8px 12px;
	font-size: 16px;
	background: #fff;
	border: 1px solid #f8f2e7;
}

.service_type {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	padding: 8px;
	margin: auto;
	background: #f2f3fa;
	border-radius: 6px;
}

.icon {
	margin-right: 8px;
}

.details_background {
	background-color: #fef3e9;
}

.action_logo {
	width: 5%;
	margin-left: 12px

	/* text-align: center; */
}

.services {
	width: 12%;
}

.orgin_port {
	width: 25%;
	text-align: center;
}

.destination_port {
	width: 25%;
	text-align: center;
}

.forecasted_demand {
	width: 12%;
	text-align: center;
}

.start {
	width: 12%;
	text-align: center;
}
