.container{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

.port_detail{
    width: 45%;
}

.port{
    width: 100%;
}

.port_icon{
    width: 10%;
}

.port_code{
    color: var(--color-accent-orange-2);
    font-size: 10px;
}

.port_name_container{
    width: fit-content;

    :global{
        .tippy-box {
            padding: 4px 6px;
            min-height: 30px;
            font-size: 12px;
        }

    }
}

.port_name{
    font-weight: 600;
    width: max-content;
    max-width: 170px;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.est_time{
    font-size: 10px;
}
