.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media (max-width: 576px) {
        padding: 10px 0;
        justify-content: flex-start;
    }
}

.leaderboard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 12px;
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.search {
    width: 180px;
    @media (max-width: 576px) {
        flex-basis: 50%;
    }
}

.select_container {
    width: 180px;
    margin-right: 8px;
    @media (max-width: 576px) {
        flex-basis: 50%;
    }
}

.overview_header {
    font-size: 22px;
    font-weight: bold;
}
