.container {
	display: flex;
	flex-direction: column;
}

.header {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.input_container {
	display: flex;
	justify-content: space-between;
	margin: 24px 0;
}

.icon_container {
	display: flex;
	margin-right: 8px;
}

.select_container {
	margin-left: 12px;

	:global {
		.ui_select_container {
			width: 132px;
		}
	}
}
