.flex_column {
	display: flex;
	flex-direction: column;
}

.flex_row {
	display: flex;
	align-items: center;
}

.bold {
	display: flex;
	align-items: center;
	font-weight: 600;
	cursor: pointer;
}

.text {
	margin-top: 12px;
}
