.pagination {
	display: flex;
	justify-content: flex-end;
}

.modal_body {
	height: 464px;
	padding: 8px;
}

.footer_styles {
	min-height: 48px;
}

.screen_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.active_card {
	background: #c26d1a;

	svg {
		fill: #fff !important;
	}
}

.card_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 50%;
	padding: 10px;
	margin-right: 12px;
	cursor: pointer;
	background: #fef3e9;
	border-radius: 6px;

	&:last-child {
		margin-right: 0;
	}

	svg {
		fill: #c26d1a !important;
	}

	&:hover {
		border: 1px solid #f68b21;
	}
}

.card_label {
	margin-top: 10px;
	font-size: 16px;
}
