.description_title {
	margin-bottom: 12px;
}

.superscipt {
	color: #ee3425;
}

.textarea {
	height: 70px;
}

.form {
	display: flex;
	width: 50%;
}

.form_left {
	width: 100%;
	padding-right: 24px;
}

.form_right {
	width: 100%;
}

.select_row {
	width: 100%;
	margin-bottom: 24px;
}

.row_label {
	padding-bottom: 6px;
	color: #4f4f4f;
}

.multiple_select {
	display: flex;
	width: 50%;
}

.form_container {
	padding: 32px;
	margin-bottom: 32px;
	background: #f9f9f9;
	border-radius: 6px;
}

.button_container {
	display: flex;
}

.container {
	margin: 32px 40px;
}

.input_group {
	margin-top: 6px;
}

.form_group {
	margin-bottom: 32px;

	&.completion_criteria {
		width: 100%;
		padding-right: 24px;
	}

	&.course_completion_rewards_details {
		width: 100%;
		padding-right: 24px;
	}

	&.certificate_name {
		width: 50%;
		padding-right: 24px;
	}

	&.signing_authority_user_id {
		width: 50%;
	}

	&.course_completion_value {
		width: 200px;
		margin-left: 20px;
	}

	&.course_completion_unit {
		width: 200px;
	}
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #cb6464;
}

.label {
	font-weight: 400;
	color: #4f4f4f;
}

.group_container {
	display: flex;
	width: 100%;
}

.group_select_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.group_select {
	display: flex;
	flex-direction: column;
}

.sub_label {
	margin-top: 4px;
	color: #828282;
}

.select_group {
	display: flex;
	width: 44%;
}

.select_container {
	margin-top: 20px;
}
