.top_container {
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 40px;
	background: #f9f9f9;
	border-radius: 6px 6px 0 0;
}

.title {
	margin-right: 24px;
	font-size: 16px;
	font-weight: 700;
}

.left_part {
	display: flex;
}

.right_part {
	display: flex;
	align-items: center;
}

.button {
	margin: 0 8px;
}

.bottom_container {
	margin: 24px 40px;
}

.text {
	max-width: 92%;
	margin-top: 6px;
	color: #4f4f4f;
}
