.container {
	display: flex;
	flex-direction: column;
	padding: 0 4px;
	margin-top: 16px;
	background: #fff;
	border-radius: 10px;

	:global {
		.ui_table_body_cell {
			max-width: calc(95vw/16);
			padding-top: 12px;
			padding-bottom: 12px;
			font-weight: 500;
			white-space: normal;
		}

		.ui_table_container {
			overflow: auto;
		}

		.ui_table_body_cell:hover {
			cursor: pointer;
		}

		.ui_table_head_cell {
			min-width: 100px;
			padding-top: 16px;
			padding-bottom: 16px;
			font-weight: 900;
		}

		.ui_table_head_cell:last-of-type {
			min-width: 40px;
		}
	}
}

.filter_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
}

.select {
	width: 200px;
	margin-right: 8px;
}

.table_container {
	overflow: auto;
}
