.button_val {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 8px;
}

.style_cancel {
	margin-right: 12px;
}

.generate_container {
	display: flex;
	flex-direction: column;
}

.button_container {
	margin: 4px 0;
}

.upload_invoice {
	margin-bottom: 10px;
}

.lable_width {
	width: 100px;
}
