.table {
	margin: 4px 0;
	background-color: #fff;
	box-shadow: 0 0 4px rgb(44 62 80 / 10%);

	tr {
		height: 52px;
	}

	:global(.ui_table_head_cell) {
		font-size: 14px;
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.empty {
	height: 520px;
	padding: 120px 0;
}

.table_container {
	width: 100%;

	@media (max-width: 768px) {
		overflow-x: scroll;
	}
}
