.small_hr {
	width: 5%;
	border: 1px solid #ed3726;
	border-radius: 30px;
}

.container {
	display: flex;
	flex-direction: column;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px 16px;
	margin: 12px 0;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.card_upper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}

.tags_container {
	display: flex;
	gap: 24px;
}

.data {
	display: flex;
	gap: 8px;
}

.sub_container {
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 8px 16px;
}

.caret {
	cursor: pointer;
}

.hr {
	width: 100%;
	margin: 16px 0;
	border: 1px solid #333;
}

.shipment_details_footer {
	display: flex;
}

.pdf_display {
	width: 60%;
	margin-top: 26px;
}

.shipment_details_card {
	width: 40%;
}

.details {
	width: 100%;
}

.documents {
	width: 100%;
}

.variance {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	max-width: 30%;
	padding: 12px 16px;
	margin-right: 4px;
	background-color: #fff;
	border-radius: 4px;
}

.view_more {
	color: #ed3726;
	text-decoration: underline;
	cursor: pointer;
}

.kam_data {
	display: flex;
	font-weight: 700;
}

.serial_id {
	color: #ed3726;
}
