.card {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(0 0 0 / 20%);

	/* padding: ${({ organizationId }) =>
		organizationId ? '0px 16px 16px 0px' : '8px 16px 12px 0px'}; */
}

.organization_card_padding {
	padding: 0 16px 16px 0;
}

.card_padding {
	padding: 8px 16px 12px 0;
}

.container {
	margin-bottom: 16px;
}

.org_list {
	display: flex;
	padding-left: 16px;

	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.business_name {
	display: flex;
	align-items: center;
	margin-top: 2px;
	font-size: 14px;
	font-weight: 550;
	color: #333;

	:global {
		& span {
			margin-left: 8px;
			font-size: 12px;
			font-weight: 500;
		}

		& .os {
			color: #cb6464;
		}

		& .p {
			margin-left: 12px;
			color: rgb(103 198 118);
		}
	}
}

.flex_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 16px;
	margin-bottom: 12px;

	:global {
		.core-ui-tag-root {
			margin-right: 8px;
			margin-bottom: 4px;
		}
	}
}

.tab_container {
	margin-top: 12px;

	:global {
		& .ui_tab_list_container.active {
			border-radius: 4px;
			box-shadow: 0 0 8px rgb(98 127 172 / 20%);
		}

		& .ui-tabs-list-container {
			padding-bottom: 2px;
		}

		& .ui_tab_container {
			margin: 0;
			background-color: white;
			border-bottom: 3px solid var(--color-primary-error-red-2);
			transition: all 0.1s;
		}
	}
}

.legal_business_name {
	font-size: 10px;
	font-weight: 500;
	line-height: 11px;
	color: #616161;
}

.custom_tabs {
	:global {
		.ui_tab_container {
			width: 42vw;
		}
	}
}
