.table {
	:global {
		padding: 24px 16px;
		margin-bottom: 0 !important;
		background-color: #ffff;

		.ui_table_container {
			border: none;
		}

		.ui_table_head_container {
			position: sticky;
			top: 0;
			z-index: 1;
			background-color: #fff;
		}

		.ui_table_body_cell {
			padding: 21px 10px !important;
		}

		.ui_table_head_cell {
			border-bottom: 1px solid #f68b21;
		}

		.ui_table_body_row {
			position: relative;
		}

		.ui_table_head_cell:first-child {
			padding: 0 0 0 30px;
		}
	}
}

.pagination_container {
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		position: absolute;
		right: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 250px;
	text-align: center;
	background-color: #fff;
}
