.spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.history_text {
    font-size: 16px;
    margin-bottom: 12px;
}

.modification_history {
    margin-bottom: 12px;
    border-bottom: 1px solid #979797;
}