.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	color: #221f20;
}

.modal_header {
	padding: 8px;
}

.modal_footer {
	padding: 12px;
}
