.container {
	padding: 20px 14px;
}

.not_added {
	display: flex;
	justify-content: flex-end;
	margin-right: 8px;
	margin-top: 12px;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.add_icon {
	margin-right: 6px;
	font-size: 16px;
	font-weight: 400;
}

.added_services {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 12px;
}

.circle {
	width: 12px;
	height: 12px;
	background-color: #f7cdcd;
	margin-right: 8px;
	border-radius: 50%;
}

.upsell {
	background-color: #d9eafd;
}

.service_name {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
	margin-right: 40px;
}

.info_container {
	display: flex;
    align-items: center;
	margin-top: 8px;

	:global {
		.tippy-box {
			max-width: 6100px !important;
			width: fit-content;

			.tippy-content {
				width: 100%;
			}
		}
	}
}

.heading {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
	color: #363e6e;
}

.cogo_lens_div {
	display: flex;
	flex-direction: column;
}

.skeleton_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}

.incidental_charge_div {
	display: flex;
	width: 100%;
}

.modal_container {
	:global {
		.ui_modal_body_container {
			max-height: 400px;
	}
	}
}

.ip_modal_container {
	:global {
		.ui_modal_body_container {
			max-height: 500px;
		}
	}
}

.show_more {
	margin-top: -12px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}