.container {
	flex: 1;
}

.heading {
	font-style: normal;
	font-weight: 600;
	display: flex;
	align-items: center;

	color: #000000;
	margin: 16px 0px 8px 0px;
}

.compose_container {
	background: #ffffff;
	box-shadow: 0px 0px 4px #cbd1f8;
	border-radius: 8px;
	padding: 4px 16px 16px 16px;

	:global {
		.ui_input_container {
			height: none;
			border: none;
			width: 300px;

			.ui_input_control {
				font-size: 12px;
			}
		}

	}
	.core-ui-rte-wrapper {
		width: 100%;
		border: none;
	}
}

.text {
	font-size: 12px;
	font-weight: 600;
	margin-right: 8px;
}

.row {
	display: flex;
	align-items: center;
	/* background-color: antiquewhite; */
	border-radius: 8px;
	padding: 4px 8px;
}

.suffix_button {
	font-weight: 600;
	border: none;
	outline: none;
	color: red;
	cursor: pointer;
	padding: 4px;
	border-radius: 4px;

	&:hover {
		background: #FDEBE9;
	}
}

.error {
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;

	color: #cb6464;
}

.subject_preview {
	display: flex;
	align-items: center;
	padding: 4px 0px 12px 0px;
	margin: 8px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.subject_label {
	font-weight: 600;
	color: #828282;
}

.preview {
	font-weight: 500;
	font-size: 12px;
	color: #000000;
	margin-left: 4px;
}

.mail_type {
	padding: 8px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.styled_editor {
	:global {
		.notranslate {
			min-height: 270px;
			font-size: 14px;
		}

		.DraftEditor-editorContainer {
			/* border: 1px solid black; */
		}

		.public-DraftEditorPlaceholder-root {
			font-size: 14px;
		}
	}
}

.value {
	margin-left: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFCE6;
	font-size: 10px;
	font-weight: 500;
	color: #221F20;
	border-radius: 8px 0px 0px 8px;
	padding: 2px 8px;
}

.cancel {
	background: #FEF199;
	border-radius: 0px 4px 4px 0px;
	padding: 2px 8px;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
}