.container{
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.core-ui-tag-root {
		margin-right: 12px;
	}
	.change-currency-pills {
		.core-ui-tag-root {
			border: 1px solid #ded7fc;
			margin-right: 0px;
		}
	}

	.open {
		margin-bottom: 24px;
		border-bottom: 1px solid #ACDADF;
		padding-bottom: 20px;
	}
	margin-bottom: 16px;
}

.header_container{
	display: flex;
	width: 100%;
	padding: 20px 16px;
	align-items: center;
	cursor: pointer;
}

.icon_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
}

.address_text{
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #828282;
	margin: 0;
	letter-spacing: 0.02em;
}

.gst_number{
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #221F20;
	margin: 0;
}

.invoice_currency{
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #221F20;
	margin: 0;
}

.heading{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
	margin-right: 4px;
}

.booking_text{
	font-weight: 500;
	font-size: 14px;
	line-height: 10px;
	color: #F68B21;
	display: flex;
	align-items: center;
}

.service_name{
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #221F20;
	margin: 0 6px 6px 0;
	background: #C4DC91;
	padding: 4px 12px;
	border-radius: 4px;
}

.invoice_status{
	color: #6CC077;
	font-weight: 500 
}

.header{
	width: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.invoice_source{
	background-color: #fef6df;
	padding: 2px 16px;
	width: fit-content;
	color: #221F20;
	font-size: 12px;
	border-bottom-right-radius: 8px;
}

.overall_amount{
	font-size: 10px;
	line-height: 16px;
	color: #221F20;
	margin-bottom: 4px;
}

.details{
	display: flex;
	justify-content: space-between;
}

.details_child{
	display: flex;
	align-items: center;
	margin-bottom: 6px;

}

.flex{
	display: flex;
	align-items: flex-start;
}