.main_heading {
	margin-top: 32px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
}

.carousel_container {
	scroll-behavior: smooth;

	:global {
		.ui_carousel_arrow {
			fill: #221f20;
		}

		.ui_carousel_next {
			margin-right: -18px;
			background: none;
		}

		.ui_carousel_prev {
			margin-left: -16px;
			background: none;
		}

		.ui_carousel_container {
			padding: 8px;
			overflow: scroll;
		}

		.ui_o0St8 {
			width: unset;
		}
	}
}
