.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	padding: 20px;
	margin: 10px 0;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgb(98 127 172 / 20%);
}

.header_chip {
	width: fit-content;
	height: 20px;
	padding: 0 10px;
	margin-left: 10px;
	color: #4f4f4f;
	background-color: #f8f2e7;
	border-radius: 4px;
}

.highlight {
	padding-left: 4px;
	font-weight: 600;
}

.label {
	font-size: 18px;
	color: #212121;
}

.body {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background-color: #ecf1fc;
	border-radius: 20px;
}

.icon_styles {
	width: 36px;
	height: 36px;
}

.total_data {
	width: 50%;

	:global {
		.ui_percentage_view {
			font-size: 15px;
		}
	}
}

.total_count {
	font-size: 49px;
	font-weight: 500;
	color: #000;
}
