.styled_modal {
  width: 350px !important;
}

.styled_modal_body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: var(--greyscale-secondary-white, #fff);
  box-shadow: 0px 0px 44px 0px rgba(98, 127, 172, 0.2);
  padding: 20px;
}

.styled_otp_box {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  align-items: center;
  width: 404px;
  height: 463px;
  border-radius: 12px;
  background: var(--greyscale-secondary-white, #fff);
  box-shadow: 0px 0px 44px 0px rgba(98, 127, 172, 0.2);
}

.styled_text {
  margin-top: 22px;
  color: var(--black-60, #828282);
  text-align: center;
  font-size: 14px;
  font-family: Poppins;
  line-height: 150%;
}

.styled_view {
  display: flex;
  flex-direction: column;
}

.styled_div {
  display: flex;
  padding: 24px 0px 0px 0px;
}

.button_div {
  padding-top: 54px;
  display: flex;
  width: 100%;

  :global {
    .ui_button_container {
      min-width: 0 !important;
      height: 36px !important;
      padding: 8px 22px !important;
      font-size: 16px !important;
      width: 100%;
      box-shadow: 0px 4px 8px 0px rgba(98, 127, 172, 0.2);
    }
  }
}
