.container {
	width: 100%;
	min-height: 82px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6px 20px 0px 20px;
	background-color: #eeeae2;
}

.sub_container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.serial_id {
	font-weight: 700;
	font-size: 12px;
	color: #221F20;
	width: 200px;
	border-right: 1px solid #221F20;
	cursor: pointer;
	white-space: nowrap;
	text-decoration-line: underline;
}

.name {
	display: flex;
	align-items: center;
	color: #ffffff;
	margin-left: 12px;
	font-weight: 500;
}

.user_name{
	font-weight: 400;
	font-size: 12px;
	padding: 2px;
	color: #828282;
	&.hide {
		display: none;
	}
	&:hover {
		color: #356efd;
	}
}

.popover_container {
	width: 100%;
}

.button {
	:global(.ui_button_container) {
		/* background-color: #FDEBE9; */
		height: 24px;
		padding: 4px 8px;
		margin-right: 32px;
	}
}

.filter_box {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
}

.close_icon {
	font-size: 18px;
    margin-top: -10px;
    margin-right: -12px;
    border-radius: 50%;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: #f6f5fe; */
	cursor: pointer;
	font-weight: 600;

	&:hover {
		background: white;
		box-shadow: 0px 0px 8px rgba(44, 62, 80, 0.2);
	}
}