.heading {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #333;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.search {
    position: fixed;
    right: 15px;
}
