.table_container {
	font-size: 12px;
	border: 1px solid #fbd1a6;
	border-radius: 4px;

	:global {
		.ui_legend_container,
		.ui_legend_item {
			margin: 0;
		}

		.ui_legend_container {
			justify-content: flex-end;
			width: 100%;
		}
	}
}

.flex_box {
	display: flex;
	align-items: center;
	padding: 12px;
	border-bottom: 1px solid #fbd1a6;
}

.header {
	font-weight: 600;
}

.scroll_container {
	max-height: 300px;
	overflow-y: scroll;
}

.col {
	width: 25%;
	padding: 0 8px;
}

.product_name {
	width: 30%;
}

.event_name {
	width: 30%;
	text-align: center;
}

.quantity {
	width: 15%;
	text-align: center;
}

.created_at {
	text-align: right;
}
