.item_container {
	display: flex;
	justify-content: flex-end;
	margin: 12px 0;
}

.convenience_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.amount {
	font-size: 20px;
}

.text {
	font-weight: 400;
	color: #000;
}

.container {
	align-items: center;
	margin: 0 20px 16px;

	:global {
		.ui_accordion_content {
			width: 100%;
			padding: 0 40px !important;
			background-color: #f3fafa;
			overflow: unset;
		}

		.ui_accordion_header {
			background-color: #f3fafa;
		}

		.ui_accordion_title {
			width: 100%;
			padding: 10px 16px;
		}
	}

	&.preview_booking {
		margin: unset;
		margin-bottom: 20px;
	}
}

.select_container {
	display: flex;
	align-items: center;

	:global {
		.ui_select_container {
			width: 92px;
		}

		.ui_input_container {
			width: 92px;
		}

		.ui_select_options_container {
			max-height: 200px;
		}
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right_container {
	width: 50%;
}

.left_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 140px;
	padding: 10px;
	padding-top: 16px;
	align-items: flex-start;
}
