.item_container {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0px;
}

.convenience_container {
    width: 36%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount {
    font-size: 20px;
}

.text {
    color: #000;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    margin: 28px 20px;
    padding: 28px 40px;
}

.select_container {
    display: flex;
    align-items: center;

    :global {
        .ui_select_container {
            width: 92px;
        }

        .ui_input_container {
            width: 92px;
        }
    }
}