.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40%;
}

.title {
	margin: 12px 0;
	font-weight: 600;
}

.label {
	font-weight: 500;
	color: #4f4f4f;
}
