.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	/* min-height: 57vh; */
}

.loader_item {
	display: flex;
	flex-direction: column;
	width: 96%;
	padding: 20px 16px;
	margin-bottom: 12px;
	cursor: not-allowed;

	&:hover {
		color: #f26054;
		background: #fdebe8;
		transition: 0.3s;
	}
}

.bottom_part {
	display: flex;
	justify-content: space-between;
}

.tags_section {
	display: flex;
}
