.container {
	display: flex;
	width: calc(100% - 40px);
	margin-left: 10px;

	:global {
		.ui_input_container {
			&:hover {
				z-index: unset;
			}
		}
	}
}

.agent_label {
	font-size: 13px;
	font-weight: 600;
	color: #4f4f4f;
}

.lower_label {
	width: 100%;
	overflow: hidden;
	font-size: 11px;
	font-weight: 500;
	color: #838080;
	text-overflow: ellipsis;
	white-space: nowrap;

	span {
		margin-right: 2px;
	}
}

.subject_select {
	width: 60% !important;
}

.subject_input {
	margin-left: 10px;
}

.created_at {
	font-size: 10px;
	color: #838080;
}
