.expand_icon {
	position: absolute;
	top: 60px;
	right: 38px;
	z-index: 1;
	transition: all 0.3s ease;
	scale: 1.3;

	&:hover {
		scale: 1.5;
		cursor: pointer;
	}
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 314px;
	padding: 0 0 12px;
	margin-bottom: 16px;
	transition: all 0.1s ease;

	:global .ui_tab_container.ui_ps_themeType_primary {
		padding: 8px 12px;
		font-size: 12px;
	}

	:global .ui_tab_list_container {
		margin-left: auto;
	}

	&.expand_icon_hidden {
		.expand_icon {
			display: none;
		}
	}
}

.rate_accuracy_chart_container {
	height: 248px;
	transition: all 0.1s ease;

	&.highlighted_container {
		height: calc(100vh - 240px);
	}
}

.chart_container {
	position: relative;
	width: 99%;
	height: calc(100% - 40px);
	transition: all 0.1s ease;
	transition-delay: 0.2s;

	&.blur {
		filter: blur(4px);
	}
}

.hide_logo {
	position: absolute;
	bottom: 8px;
	left: 4px;
	width: 52px;
	height: 24px;
	background-color: #fff;
}

.header {
	padding: 0 24px 16px;
}

.legends {
	display: flex;
	margin: 24px 0 12px 24px;
}

.circle {
	width: 10px;
	height: 10px;
	margin-right: 8px;
	border-radius: 50%;
}

.legend_item {
	display: flex;
	align-items: center;
	margin-right: 16px;
	color: #828282;
}

.tab_title {
	position: absolute;
	top: 16px;
	left: 24px;
	font-size: 16px;
	font-weight: 600;
}

.bottom_label {
	width: fit-content;
	margin: -16px auto 0;
}
