.top_stats_content {
	display: flex;
	align-items: center;
}

.each_stats_div {
	width: 60%;
	padding-bottom: 16px;
	border-bottom: 1px dashed #dde4ea;
}

.title {
	color: #808080;
}

.count {
	margin: 0 8px;
	font-size: 60px;
}

.count_with_icon {
	display: flex;
	align-items: center;
}

.arrow_icon {
	width: 20px;
	height: 20px;
	margin-top: 18px;
	fill: #ee3425;
}

.bottom_stats_content {
	display: flex;
	align-items: center;
}

.each_div {
	width: 60%;
	padding-top: 32px;
}
