.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	margin-bottom: 40px;
	background: var(--color-secondary-5);
}

.column {
	flex-direction: column;
}

.text {
	color: var(--color-secondary-greyscale-4);
}

.image {
	margin: 10px 10px 50px;
}

.horizontal {
	flex-shrink: 0;
	width: 60px;
	height: 2px;
	background: var(--color-primary-error-red-2);
	border-radius: 40px;
}

.criteria {
	font-size: 24px;
}
