.main_container {
	display: flex;
	padding: 12px;
	margin: 8px 24px;
	background: #fff;
	border: 1px solid #88cad1;
	border-radius: 4px;

	&.no-accordion {
		min-height: 130px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

	&.card-critical {
		background: linear-gradient(90deg, #fff, #fadede, #fff);
		background-size: 400% 400%;
		animation: moveBg 5s ease-in-out infinite alternate;
	}

	@keyframes moveBg {
		from {
			background-position: 100% 0;
		}

		to {
			background-position: 0 0;
		}
	}
}

.container {
	&.action {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 22%;
		padding: 8px;
		margin-left: auto;

		.core-ui-button-root {
			&.awaiting {
				padding: 10px 12px;
				color: #bf9722;
				text-transform: capitalize;
				cursor: initial;
				background: #fff1c9;
				border: none;
			}

			&.surrendered {
				padding: 10px 12px;
				color: #278934;
				cursor: initial;
				background: #d3f6d7;
				border: none;
			}
		}
	}

	&.row {
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;

		.core-ui-button-root {
			margin-left: 16px;
		}

		.core-ui-date-time-picker-container {
			max-width: 300px;
		}
	}
}

.stakeholders {
	padding: 8px 12px;
	overflow: scroll;
}

.text {
	&.thin {
		margin-top: 2px;
		font-weight: 300;
	}

	&.inline {
		display: inline;
	}

	&.small {
		font-size: 12px;
	}
}

.bold {
	font-weight: 600;
}

.label {
	font-size: 16px;
	font-weight: 500;
	color: #393f70;
}

.styled_modal {
	.ui-modal-dialog {
		padding: 30px;
	}
}

.border_right {
	display: flex;
	flex-direction: flex-end;
	width: 2%;
	border-right: 1px solid #88cad1;
}
