.container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px 28px;
}

.import {
	display: flex;
	align-items: center;
	padding: 4px 20px;
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #393f70;
	background: #fef6df;
	background: #b3d5fb;
	border-radius: 4px;
}

.titleContainer {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 8px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

.timerContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.timerInfo {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #cb6464;
}

.heading {
	margin: 0;
	margin-right: 36px;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: #393f70;
}

.tradeType {
	display: flex;
	align-items: center;
	padding: 4px 20px;
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #393f70;
	background: #fef6df;
	border-radius: 4px;
}

.bookingSource {
	margin-left: 10px;
}

.svgWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
}

.shipmentId {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 37%;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #393f70;
}

.flashButtonContainer {
	cursor: pointer;
}

.cogoAssured {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 4px 8px;
	margin-right: 12px;
	margin-left: 10px;
	background: #e6fbe9;
	border-radius: 4px 0;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}

.text {
	font-size: 10px;
	font-weight: 500;
	color: #333;
}
