.container {
	display: flex;
	justify-content: space-between;

	@media (max-width: 1068px) {
		flex-direction: column;
	}
}

.amount {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1068px) {
		flex-direction: column;
	}
}

.status {
	display: flex;
	align-items: center;

	@media (max-width: 1068px) {
		justify-content: center;
	}
}

.status_label {
	display: flex;
	font-size: 12px;
	font-weight: 500;
	color: #333;
}

.status_value {
	padding: 2px 8px;
	margin-left: 4px;
	color: #333;
	background: #cdf7d4;
	border-radius: 4px;
}

.discount {
	display: flex;
	margin-left: 30px;

	@media (max-width: 1068px) {
		padding: 8px;
	}
}

.label_text {
	font-size: 12px;
	font-weight: 900px;
	color: #333;
}

.value_text {
	margin-left: 4px;
	font-size: 12px;
	font-weight: 500px;
	font-weight: bold;
	color: #333;
}

.toggle {
	display: flex;
}
