.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.arrow_container {
	z-index: 1;
	cursor: pointer;
}

.carousel_data_container {
	height: 100%;

	:global {
		.ui_carousel_container {
			height: 100%;
			padding-bottom: 34px;

		}

		
	}
}
