.row {
	display: flex;
	align-items: center;
	min-height: 40px;
	background-color: var(--color-secondary-5);
}

@media screen and (max-width: 768px) {
	.row.is_mobile {
		flex-flow: row wrap;
	}

	.col.is_mobile {
		flex: 0 0 50%;
		flex-direction: column;
	}
}

.col {
	display: flex;
	flex: var(--span);
	padding: 4px;
	margin-left: 16px;
	overflow: hidden;
	font-size: var(--font-size-md);
	font-weight: 500;
}

.flex {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list_container {
	display: flex;
	flex-direction: column;
	padding: 8px;
	word-wrap: wrap;
	background: var(--color-secondary-5);
	border-bottom: 1px solid var(--color-accent-orange-5);
}

.table_label {
	display: flex;
	font-size: var(--font-size-md);
	font-weight: 600;
	color: var(--color-accent-orange-2);
}
