.container {
	display: flex;
}

.tile {
	flex: 1;
	padding: 8px 16px;
	margin-right: 12px;
	background-color: #fff;
	border-radius: 6px;
}

.tile:last-child {
	margin-right: 0;
}

.total_graph {
	flex: 2;
}

.count {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 500;
	color: #221f20;
}

.label {
	font-size: 10px;
	font-weight: 400;
	color: #4f4f4f;
}

.graph {
	width: 80px;
	height: 80px;
}

.total {
	position: relative;
	display: flex;
}

.graph_total {
	position: absolute;
	top: 16px;
	left: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.graph_label {
	width: 30px;
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.graph_count {
	font-size: 12px;
	font-weight: 500;
	color: #221f20;
}

.dot {
	width: 8px;
	height: 8px;
	margin-right: 4px;
	border-radius: 50%;
}

.open {
	background-color: #f8aea8;
}

.escalated {
	background-color: #fcdc00;
}

.pending {
	background-color: #e0e0e0;
}

.closed {
	background-color: #ced1ed;
}

.legends {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 75%;
}

.legend {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.margin_bottom {
	margin-bottom: 8px;
}

.legend_count {
	display: flex;
	align-items: center;
	margin-left: 36px;
}

.stats_count {
	min-width: 35px;
	font-size: 12px;
	font-weight: bold;
	color: #221f20;
}

.stats_label {
	margin-left: 48px;
	font-size: 10px;
	font-weight: 400;
	color: #4f4f4f;
}
