.main {
	display: flex;
	flex-direction: column;
}

.head_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	margin-left: 12px;
}

.heading {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	color: #221f20;
}

.buttons {
	display: flex;
}

.buttons > :first-child {
	margin-right: 12px;
}

.button_text_container {
	display: flex;
	align-items: center;
}

.button_text_container > :first-child {
	margin-right: 4px;
}

.button_text {
	font-weight: 500;
	text-transform: capitalize;
}

.tabs_container {
	:global {
		.ui_tab_list_container {
			margin-bottom: 15px;
		}

		.ui_tab_container {
			padding-block: 8px;
		}
	}
}

.container {
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 24px 12px;
}

.lower_text {
	font-size: 14px;
	font-weight: 400;
	color: #4f4f4f;
}

.dashboard {
	margin: 0 12px;
	background: #f9f9f9;
	border-radius: 10px;
}

.dashboard_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	margin-left: 12px;
	background: #f9f9f9;
}

.dashboard_heading_left {
	font-size: 14px;
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.dashboard_heading_right {
	font-size: 14px;
	font-weight: 500;
	color: #828282;
	text-transform: uppercase;
}

.card_section {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 24px 16px;
	margin-top: -28px;

	/* margin: 12px 0; */
	background: #f9f9f9;
	border-radius: 25px;
}

.expense_card {
	display: flex;
	flex-basis: 33%;
	flex-direction: column;
	justify-content: start;
	height: 160px;
	padding: 24px;
	margin-bottom: 12px;
	background: #fff;
	border-radius: 8px;
}

.card_value {
	margin-top: 12px;
	font-size: 24px;
	font-weight: 500;
	color: #221f20;
}

.card_label {
	font-style: normal;
	font-weight: 500;
	color: #828282;
}

.card_comp {
	margin-top: 12px;
}

.icon_arrow_down {
	display: flex;
	align-items: center;
	margin-top: 16px;
	color: #bf291e;
}

.arrow_icon_down {
	transform: rotate(45deg);
}

.icon_arrow_up {
	display: flex;
	align-items: center;
	margin-top: 16px;
	color: #849e4c;
}

.buttons_div {
	display: flex;
	align-items: center;
	padding-top: 14px;
}
