.modal_container {
	background-color: #fff;

	:global {
		.ui_modal_close_button {
			margin-left: 20px;
		}

		.ui_modal_body_container {
			padding-top: 0;
		}
	}
}

.preview_ports_nos_section {
	display: flex;
	align-items: center;
}

.text_preview {
	padding-right: 30px;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.port_numbers {
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.buttons_container {
	display: flex;
	justify-content: flex-end;
}

.modal_header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-right: 8px;
}

.modal_body {
	display: flex;
	flex-direction: column;
}
