.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: var(--font-size-md);
	font-weight: 500;
	line-height: 14px;
	color: #393f70;
}

.stakeholder_info {
	display: flex;
	justify-content: center;
	width: 120px;
	color: #000;
	text-align: center;
}

.task_action {
	font-size: var(--font-size-sm);
	line-height: 16px;
	color: var(--color-secondary-greyscale-3);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: var(--color-primary-error-red-2);
	}
}

.action {
	cursor: pointer;
}

.mobile_number {
	font-size: var(--font-size-sm);
}

.call_icon {
	width: 18px;
	height: 18px;
	margin-left: 20px;
	color: #000;
	cursor: pointer;
}

.overflow_icon {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	color: #000;
}

.overflow_div {
	padding-right: 40px;
}
