.container {
	font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #393f70;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stakeholder_info{
	display: flex;
	width: 120px;
	justify-content: center;
	color: #000000;
}

.task_action{
	font-size: 10px;
	line-height: 16px;
	color: #828282;
	cursor: pointer;
	text-align: center;

	&:hover {
		color: var(--color-primary-error-red-2);
	}
}

.action{
	cursor: pointer;
}
