.container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: var(--font-size-md);
	font-weight: 500;
	line-height: 14px;
	color: #393f70;
}

.stakeholder_info {
	display: flex;
	justify-content: center;
	width: 120px;
	color: #000;
	text-align: center;
}

.task_action {
	:global {
		.ui_button_container {
			font-size: var(--font-size-sm);
			color: var(--color-secondary-greyscale-3);
		}
	}
}

.action {
	cursor: pointer;
}

.mobile_number {
	font-size: var(--font-size-sm);
}

.call_icon {
	width: 18px;
	height: 18px;
	margin: 0 8px 0 20px;
	color: #000;
	cursor: pointer;
}

.overflow_icon {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	color: #000;
}

.overflow_div {
	padding-right: 40px;
}

.other_stakeholders {
	margin-left: 4px;
}
