
.title_black{
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	max-width: 100%;
	color: #000000;
	word-break: break-word;
	word-wrap: break-word;
	text-align: left;
	background-color: red;
}

.row {
	display: flex !important;
	justify-content: space-between !important;
    padding: 12px;

	&:hover {
		background-color: #f9f9f9;
	}
}

.column {
    max-width: 16.6667%;
	font-size: 12px;
}
