.header_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header_left_container {
	display: flex;
}

.trade_type_container,
.importer_exporter_container {
	display: flex;
	align-items: center;
	height: 22px;
	padding: 2px 20px;
	margin: 0;
	font-size: 10px;
	font-weight: 400;
	color: #393f70;
	background: #fef6df;
	border-radius: 0 0 4px;
}

.source_container {
	display: flex;
	align-items: center;
	height: 22px;
	padding: 2px 20px;
	font-size: 10px;
	font-weight: 400;
	background-color: #dfe1ef;
	border-radius: 0 0 0 4px;
}
