.col {
	display: flex;
}

.header {
	display: flex;
	align-items: center;
	height: 40px;
	font-size: var(--font-size-md);
	font-weight: 500;
	line-height: 18px;
	color: #000;
}

.border {
	border-bottom: 2px solid #f68b21;
}

.infoIcon {
	margin-left: 8px;
}
