.submit_form_container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	padding: 0 16px;
	font-size: 20px;
	font-weight: 600;

	span {
		font-size: 18px;
	}

	.role {
		font-size: 16px;
	}
}

.question_container {
	flex: 1;
	padding: 0 16px;
}

.button_container {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	padding: 16px 16px 0;
	background: #fff;
	border-top: 1px solid #6fa5ab;
}
