.header {
	font-weight: 600;
}

.attach_docs {
	position: absolute;
	top: 202px;
	left: 490px;
	border: solid 1px;
	border-radius: 2px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}