.header {
	font-weight: 600;
}

.attach_docs {
	position: absolute;
	top: 201px;
	left: 484px;
	border: solid 1px;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: #999999;
}