.form{
    padding: 22px;
	overflow: auto;
	height: 70vh;
}

.buttonDiv{
	display: flex;
	align-items: center;
	margin: 22px;
	justify-content: flex-end;

	.core-ui-button-root {
		text-transform: capitalize;
		width: 140px;
	}
}

.content{
	font-size: 16px;
	line-height: 24px;
	color: #000000;
};

.heading{
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 16px;
};

.title{
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	color: #393f70;
	margin-bottom: 16px;
};

.label{
	font-weight: 500;
	font-size: 14px;
	color: #4f4f4f;
};

.radioContainer{
	display: flex;
};

.line{
	border-bottom: 1px solid #bdaff9;
	width: 100%;
};

.container{
    margin: -16px;
}