.main_container {
	width: 100%;
	height: 36vh;
	overflow: auto;
	background-color: #f9f9f9;
}

.flex_container {
	display: flex;
	justify-content: center;
}

.message_loader {
	position: fixed;
	top: 45%;
	left: 62.5%;
}
