.actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.cancel {
	padding-right: 10px;
}

.squad {
	display: flex;
	width: 100%;
}

.squad_name {
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}

.modal_body_container {
	display: flex;
	width: 100%;
}

.employee_name {
	display: flex;
	font-size: medium;
}

.left_section {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 470px;
	padding: 0 15px 15px 0;
	overflow-y: scroll;
}

.right_section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	padding-left: 15px;
	border-left: 1px solid #edd7a9;
}

.average_overall_rating_value {
	padding-left: 5px;
	font-size: medium;
	font-style: bold;
}

.overall_rating {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 8px 12px 8px 8px;
	color: #828282;
	background-color: #e0e0e0;
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 6px;
}

.remarks {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin-top: 10px;
	border: 1px solid grey;
	border-color: #edd7a9;
	border-radius: 15px;
}

.comments {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.revised_rating {
	display: flex;
}

.rating_assigned {
	display: flex;
	padding-left: 10px;

	:global {
		/* .ui_ps_themeType_primary {
			background-color: var(--color-tertiary-beige-4);
		} */

		.ui_star_rating_container {
			:hover {
				background-color: var(--color-tertiary-beige-4);
			}
		}

		.ui_buttonicon_container {
			:hover {
				background-color: var(--color-tertiary-beige-4);
			}
		}
	}
}

.rating {
	display: flex;
	width: 100%;
	padding: 10px;
	margin-right: 15px;
	color: #828282;
}

.sub_section {
	width: 80%;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
}

.input_text {
	border: 1px solid black;
}

.modification_history {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-height: 200px;
	padding: 8px 12px 8px 8px;
	margin-bottom: 10px;
	overflow-y: scroll;
	background-color: #fff;
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 6px;
}

.modification {
	padding: 10px 10px 10px 0;
}

.average_overall_rating {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	background-color: transparent;
}

.rating_obtained {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}

.modal {
	:global {
		.ui_modal_body_container {
			max-height: 68vh;
		}
	}
}

.label {
	display: flex;
	align-items: center;
	height: 24px;
}

.text_area {
	padding: 5px;

	:global {
		.ui_text_area_control {
			padding: 6px;
		}
	}
}

.input_display {
	display: flex;
	align-items: center;
	margin-left: 12px;

	:global {
		.ui_input_container {
			height: 10px;
		}
	}
}

.employee_details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px 100px 12px 8px;
	color: #828282;
	background-color: #e0e0e0;
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 6px;
}

.table {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
}

.table_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.description {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-start;
	width: fit-content;
	color: #828282;
	background-color: #e0e0e0;
	border: 1px solid;
	border-color: #e0e0e0;
	border-radius: 6px;
}

.heading {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	letter-spacing: 0;
	white-space: nowrap;
}

.headings {
	position: relative;
	width: fit-content;
	font-size: medium;
	white-space: nowrap;
}
