.container {
	width: 100%;
	padding: 16px 8px;
	cursor: pointer;
}

.container:hover {
	background: #fdfbf6;
}

.name_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.org_name {
	font-size: 14px;
	font-weight: 600;
	color: #4f4f4f;
}

.group_icon_styles {
	width: 25px;
	height: 25px;
	margin-right: 20px;
	color: #4f4f4f;
}
