.modal_icon_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	padding-bottom: 16px;
	margin: 0 24px;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #dedede;
}

.modal_message_text {
	margin: 10px 24px;
}

.modal_msg_highlight {
	font-weight: 600;
	color: #221f20;
	text-align: center;
}

.cancel_modal_btn {
	display: flex;
	align-items: center;
	padding: 7px 12px;
	font-size: 12px;
	font-weight: 500;
	color: black;
	text-align: center;
	background: #fff;
	border-radius: 6px;
}

.proceed_modal_btn {
	display: flex;
	align-items: center;
	padding: 7px 12px;
	margin-left: 12px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	background: red;
	border-radius: 6px;
}
