.container {
	flex: 1;
	padding: 12px;
	margin-right: 12px;
	background-color: #fff;
	border-radius: 4px;
}

.container:last-child {
	margin-right: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.title {
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.list {
	height: 220px;
	overflow-y: auto;
}

.list::-webkit-scrollbar {
	display: none;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 4px;
	margin-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}

.card:last-child {
	border-bottom: none;
}

.count {
	font-size: 14px;
	font-weight: 500;
}

.agent_name {
	font-size: 14px;
	font-weight: 500;
}

.agent_org {
	font-size: 10px;
	font-weight: 400;
	color: #828282;
}

.type {
	width: 85%;
}
