.container {
	display: block;
}

.modal_body {
	border-top: 1px solid #dedede;
}

.card_container {
	margin: 20px;
}

.view_container {
	max-height: 600px;
	overflow-y: scroll;
}

.form_body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 16px 24px;

	:global {
		.form_col {
			width: 45%;
		}

		.includeTax,
		.address_type,
		.tax_number {
			width: 100%;
		}

		.tax_number {
			.ui_input_container {
				width: 45%;
			}
		}

		.ui_select_display_container {
			div[role="button"] {
				padding-right: 6px;
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
	padding: 12px 24px;
	border-top: 1px solid #dedede;

	.submit_btn {
		margin-left: 12px;
	}
}
