.container {
	max-width: 240px;
}

.button_container {
	display: flex;
	align-items: center;
	float: right;

	:global {
		.ui_button_container {
			height: fit-content;
			min-height: 40px;
		}
	}
}

.text {
	margin-bottom: 12px;
	font-weight: 600;
}
