.button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
	margin: 4px;
}

.heading {
	margin: 0 0 32px 10px;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	line-height: 1.5;
	color: _grey.primary_text;
}

.label {
	margin: 16px 0 8px 10px;
	font-size: 16px;
	line-height: 24px;
	color: _grey.primary_text;
}

.divider {
	height: 1px;
	margin: 16px 0;
	background: #d6d6d6;
}

.info {
	padding: 10px;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
}

.item_active {
	display: inline-block;
	padding: 5px 11px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	cursor: pointer;
	background: #9befa8;
	border-radius: 4px;
	outline: none;
}

.item_inactive {
	display: inline-block;
	padding: 5px 11px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	cursor: pointer;
	background: #f2f2f2;
	border-radius: 4px;
	outline: none;
}
