.head{
	color: #4f4f4f;
	white-space: nowrap;
	text-align: center;
}

.data{
    text-transform: capitalize;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	display: inline-block;
	margin: 0 8px;
}

.container{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	:global{
		.ui_tag_container{
			padding-left: 0;
		}
	}
}

.created_at{
	font-size: 10px;
	color: #828282;
}
.serial_id{
	font-size: 12px;
	color: #4f4f4f;
}