.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.list_container{
		margin-top: 10px;
		overflow-y: auto;
		height: 75vh;
}

.list_container::-webkit-scrollbar {
    display: none;
}

.title {
    color: #221f20;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}

.wrapper {
    margin: 8px 0 20px 0;
}

.tabs {
    margin: -12px -12px 0px -12px;
}

.filters_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0px 0px;
}

.source_types {
    display: flex;
    align-items: center;
}

.filter_icon {
    cursor: pointer;
}

.filter_dot {
    height: 8px;
    width: 8px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    background: rgb(3, 74, 253);
    position: absolute;
    top: 2px;
    right: 20px;
}
