/* stylelint-disable */
#nprogress .bar {
	background: #fb0 !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px #fb0, 0 0 5px #fb0 !important;
}

#nprogress .spinner-icon {
	border-top-color: #fb0 !important;
	border-left-color: #fb0 !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #000 !important;
	}
}
