.container{
	width: 10%;
	margin-right: 10px;
}
.tabs{
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border-radius: 8px;
}
.styled_buttons{
	font-weight: 600;
	font-size: 11px;
	padding: 12px;
	cursor: pointer;
}
.title{
	color: #221F20;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom:15px;

}