.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	background: #fff;
	padding: 100px 0;
}

.text {
	font-size: 16px;
	color: #000;
	font-weight: 500;

	&.lg {
		font-size: 18px;
	}

	&.md {
		font-size: 16px;
	}

	&.sm {
		font-size: 12px;
	}

	&.xl {
		font-size: 20px;
	}
}
