.heading {
	display: flex;
	align-items: center;
	margin: 16px 0;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 23px;
	color: #221f20;

	&:hover {
		font-style: normal;
		font-weight: 700;
		cursor: pointer;

		svg {
			color: #ed3726;
		}
	}
}

.subheading {
	padding: 12px;
	margin: 8px 0;
	font-size: 12px;
	font-weight: 400;
	background: #fff;
}

.toggle_section {
	margin: 12px 30px;
	font-size: 12px;
	font-weight: 400;
}

.cardlist {
	margin-top: 16px;
	background: #fff;
}

.enquiries {
	display: flex;
}

.form {
	flex: 1;
	margin: 16px 6px 0;
	background: #fff;
}

.enquirypage {
	max-height: 749px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.details {
	width: 100%;
}

.details_card {
	padding: 10px;
	margin: 16px 6px 0;
	background: #fff;
}

.bottom {
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	padding: 4px;
	cursor: pointer;
	background: #fdfbf6;
	border-radius: 0 0 4px 4px;
}

.remarks {
	padding: 24px;
	background: #fff;
	border-radius: 4px 4px 0 0;
}

.main {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.tick {
	display: flex;
	align-items: center;
	padding-top: 10px;
	font-weight: 600;
}

.adjust {
	width: 16px;
	height: 16px;
	margin-right: 2px;
}

.date {
	color: #828282;
}

.remark {
	padding: 10px 0;
}

.more {
	display: flex;
	justify-content: space-between;
}

.image {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #4f4f4f;
}

.table {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.tables {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 6px;
}

.unit {
	margin-right: 90px;
}

.price {
	margin-right: 10px;
}

.captailaize {
	font-weight: 600;
	text-transform: capitalize;
}

.captailaizers {
	min-width: 82px;
	text-transform: capitalize;
}

.shipment_details {
	height: 300px;
	overflow: scroll;
}
