.container {
	display: flex;
	align-items: center;
}

.dislike {
	color: #fff;
	transition: color 0.5s ease;
	transform: rotate(180deg);

	&.active {
		color: #f37166;
	}
}

.button_container {
	display: flex;
	align-items: center;

	:global {
		.ui_button_container {
			padding: 8px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		padding-right: 0;
	}
}
