.search_container{
   width: 400px;
   border-radius: 4px;
   cursor: pointer;
   overflow: hidden;
}

.left_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}


.table{
    display: block;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: wrap;
    margin-top: 50px;
     background-color: white;
    box-shadow: 0 0 4px rgb(0 0 0 / 15%);
    height: 97%;
    
   
    @media (max-width: 768px) {
        overflow-x: scroll;
    }
}

.export_info{
    display: flex;
}
.shipment_report{
    font-weight: 600;
    font-size: 20px;
}
.export_results{
    padding-left: 12px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}
.sort_by{
    width: 41px;
    height: 18px; 
    font-size: 12px;
    color: #4F4F4F;
}
.select_box{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px 0px 0px;
    gap: 2px;

    width: 180px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.sort_by_box{
    padding-top: 20px;
}

.ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.from_to{
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
}
.to{
    margin-left: 93px;
}
.date_range{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}
.microfilter_names{
    margin-left: 3px;
    margin-top: 20px;
}

.filter_tab{
    background: #F9F9F9;
    border-radius: 10px;
    width: 348px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
}
.left_padding{
    padding-left: 15px;
    padding-top: 10px;
}
.lower_half{
    display: flex;
    margin-top: 10px;
    background-color: white;
    width: 100%;
}
.table_and_tabs{
    display: block;
    margin-left: 30px;
    overflow-x: auto;
    float: left;
}
.tab_lower{
  margin: 20px;
  margin-left: 0px !important;
}

.whole_page{
    margin-top: 18px;
}

.table_div{
    width: 97%;
    margin-right: 10px;
    height: 850px;
}
.controller{
    margin-top: 5px;
    width: 250px;
}


