.search_bar {
	width: 420px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 10px;
}

.filter_container {
	display: flex;
	justify-content: space-between;
	margin: 16px 0px 16px 0px; 
}

.table {
	display: block;
	margin: 48px 4px 4px 4px;
	overflow-y: scroll;
	background-color: white;
	box-shadow: 0 0 4px rgb(0 0 0 / 15%);
}

.export_info {
	display: flex;
}

.shipment_report {
	font-size: 20px;
	font-weight: 600;
}

.export_results {
	display: flex;
	align-items: center;
	padding-left: 12px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}

.sort_by {
	font-size: 12px;
	color: #4f4f4f;
}

.select_box {
	box-sizing: border-box;
	width: 250px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}

.sort_by_box {
	padding-top: 20px;
}

.microfilter_names {
	margin-top: 20px;
	margin-left: 4px;
}

.advanced_filter_container {
	margin: 4px;
	background: #f9f9f9;
	border-radius: 10px;
	padding: 16px;
}

.main_container {
	display: flex;
	background-color: white;
}

.main_container_right {
	margin: 28px;
	display: block;
	overflow-x: scroll;
}

.category_division {
	margin: 20px 20px 20px 0px;
}

.table_container {
	height: 850px;
}

.controller {
	margin-top: 4px;
}
