.container {
	padding: 28px;
	margin-bottom: 12px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.form_container {
	display: flex;
	flex-wrap: wrap;
	gap: 36px;
	justify-content: space-between;

	@media (max-width: 768px) {
		gap: 24px;
	}
}

.element_container {
	flex: 0 1 31%;

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}
