.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pending {
	background-image: linear-gradient(#e0e0e0, #67c676);
}

.complete {
	background: #67c676;
}

.sub_container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.user_container {
	display: flex;
	justify-content: center;
	font-size: 10px;
	color: #7c7c7c;
}

.event_data_container {
	display: flex;
	align-items: center;
	width: 20%;
}

.completed_line {
	width: 3px;
	height: 12vh;
	margin-top: 4px;
	background-image: linear-gradient(#e0e0e0, #67c676);
}
