.whole {
	flex: 1;
	width: 100%;
}

.arrow {
	align-items: center;
	justify-content: center;
	margin: 0 6px;
	font-size: 21px;
}

.button_container {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: space-between;
}

.score_container {
	display: flex;
}

.text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	font-weight: 400;
	color: #221f20;
}

.list_item {
	flex-basis: 24%;
}

.label_text {
	width: 100%;
	margin: 0 0 4px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	opacity: 0.7;
}

.delete_button {
	align-items: center;
	justify-content: center;
	margin: 0 32px 0 0;
}

.title_show {
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
	opacity: 0.6;
}

.card_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.delete_btn_visibility {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.4;
}
