.title{
    color: #221F20;
    font-size: 28px;
    font-weight: 600;
}
.address{
   max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
	
}
.link_text{
    text-decoration: underline;
    margin-left: 20px;
}

.svg_container {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.content_container {
	display: flex;
	margin-bottom: 4px;

	@media (min-width: 768px) {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 0;
		word-break: break-word;
	}
}



.secondary_tabs{
    margin-top: 20px;
}
