.input {
	max-width: 240px;
	margin: 8px 16px;
	:global {
		input::placeholder {
			font-size: 12px;
			font-weight: 400;
			color: #bdbdbd;
		}

		.ui_input_suffix {
			padding-right: 4px;
			padding-left: 4px;
		}
	}
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
