.container {
	width: 50%;
	padding: 20px;
	background-color: #fff;
	border-radius: 6px;
}

.header_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	font-weight: 600;
	color: #221f20;
}

.pending_approval {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	color: #c26d1a;
	background: #fef3e9;
	border-radius: 100px;
}

.pending_dot {
	width: 8px;
	height: 8px;
	margin-right: 8px;
	background-color: #c26d1a;
	border-radius: 50%;
}

.leave_stats_data {
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: space-between;
	margin: 12px 0;
}

.leave_stats_data_item {
	font-size: 12px;
	color: #828282;
}

.stats_number {
	margin-top: 4px;
	font-size: 24px;
	font-weight: 600;
}

.apply_btn {
	width: 100%;
}
