.page {
	position: relative;
	flex-shrink: 0;
	width: 794px;
	max-width: 794px;
	min-height: 1350px;
	padding: 48px;
	margin-bottom: 16px;
	background-color: #fff;
}

.container_flex {
	display: flex;
}

.content {
	border: 1px #333 solid;
}

.block {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	border: 1px #333 solid;

	:global {
		.ui_text_area_control {
			font-size: 12px;
			color: #000;
		}
	}
}

.text {
	width: fit-content;
	margin-right: 6px;
	font-size: 12px;
	font-weight: 600;
}

.tan_pan {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.text_area {
	width: 74%;
	height: fit-content;
}

.tan_text_area {
	width: 70%;
	height: fit-content;
}

.height_fit {
	height: fit-content;
}

.ref_text_area {
	width: 100%;
	height: fit-content;
}

.width_35 {
	width: 35%;
}

.width_50 {
	width: 50%;
}

.width_65 {
	width: 65%;
}

.width_74 {
	width: 74%;
}

.width_75 {
	width: 75%;
}

.width_86 {
	width: 86%;
}

.width_88 {
	width: 88%;
}

.width_100 {
	width: 100%;
}

.details_text {
	display: flex;
	align-items: center;
	width: 150px;
	height: 50px;
	margin-left: 12px;
	font-size: 16px;
	font-weight: 600;
}

.last_block {
	padding: 4px;
	border: 1px #333 solid;
}

.last_block_text {
	font-size: 11px;
	font-weight: 600;
}

.text_center {
	text-align: center;
}

.font_md {
	font-size: var(--font-size-md);
}

.font_md_wt {
	font-size: var(--font-size-md);
	font-weight: 600;
}

.font_wt {
	font-weight: 600;
}

.text_mt2_center {
	margin-top: 2px;
	text-align: center;
}

.company_name {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.arrival_notice {
	margin: 24px 0 4px;
	font-size: var(--font-size-xl);
	font-weight: 600;
	text-align: center;
}

.mt_4 {
	margin-top: 4px;
}

.mt_7 {
	margin-top: 7px;
}

.mt_10 {
	margin-top: 10px;
}

.mt_28 {
	margin-top: 28px;
}

.mt_30 {
	margin-top: 30px;
}

.mt_40 {
	margin-top: 40px;
}
