.container {
	display: flex;
	align-items: center;
}

.search_filter {
	display: flex;
	gap: 12px;
	width: 50%;
}

.search_icon {
	margin-right: 10px;
}

.filters {
	display: flex;
	gap: 32px;
	align-items: center;
	width: 80%;

	:global {
		.ui_select_display_container {
			width: 220px;
		}

		.react-datepicker__input-container {
			width: 220px;
		}

		.ui_select_container {
			margin-top: 4px;
		}

		.react-datepicker__input-container button {
			background: transparent;
		}

		.react-react-datepicker__close-icon-wrapper {
			width: 200px;
		}

		.react-datepicker__close-icon {
			padding-left: 12px;
		}
	}
}
