.container {
	height: 60px;
	padding: 5px 10px;
	margin: 5px;
	text-decoration: none;
	cursor: pointer;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 40%) 0 0 6px;
}

.detail_container {
	display: flex;
	align-items: center;
}

.custom_link {
	width: fit-content;
	margin: 0 10px;
	font-size: 12px;
	font-weight: 500;
	color: #393f70;
	white-space: nowrap;
}

.icon_container {
	display: flex;
	justify-content: flex-end;
}
