.stat {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  color: #ed3726;
}

.month {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #333;
}

.totalstats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 80px 0 60px;
}

.spacebetween {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1120px) {
    flex-direction: column;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.heading {
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #333;
  border-bottom: 2px solid black;
}
.card_flex {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-top: 16px;
  align-items: center;
}
.border {
  border-left: 1.5px solid #ed3726;
  height: 50px;
}
.card_label {
  padding-right: 100px;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 500;
}
.card_value {
  font-size: 30px;
  padding-left: 20px;
  font-weight: 600;
}
.filter_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  padding-right: 18px;

  :global {
    .react-datepicker__input-container {
      width: 200px;

      .react-datepicker-ignore-onclickoutside {
        height: 40px;
      }

      button {
        background: none !important;
      }
    }
  }
}

.filter {
  :global {
    .react-datepicker__input-container {
      width: 200px;

      .react-datepicker-ignore-onclickoutside {
        height: 40px;
      }

      button {
        background: none !important;
      }
    }
  }
}
.report {
  cursor: pointer;
  color: #f68b21;
  text-decoration: underline;
}
.header_report {
  font-size: 16px;
  font-weight: 600;
}
.button_flex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
