.container{
    background: #ffffff;
}
.header_container{
    border-bottom: 1px solid #e0e0e0;
	padding-bottom: 6px;
}
.heading{
    font-weight: 500;
	font-size: 18px;
	color: #2c3e50;
	margin-bottom: 10px;
}
.sub_heading{
    color: #828282;
	font-size: 12px;
	line-height: 16px;
}
