.filter{
    margin-top: 12px;
    display: flex;
    flex-direction: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 12px;
    
}

.select{
    width: 200px;
    margin-right: 4px;
    
    :global(.ui_tNl3D){
        font-size: 14px;
    }
}


.time{
    width: 400px;
    margin-right: 4px;

    :global(input){
       margin-right: 4px;
       height: 40px !important;

        &::placeholder{
            font-size: 14px;
            color: #221f20;
        }
    }
    
}
