.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.button_text {
	margin: 0 0 0 8px;
	font-size: var(--font-size-xl);
	font-weight: 500;
	color: var(--color-primary-error-red-3);

	@media (max-width: 768px) {
		font-size: var(--font-size-md);
	}
}

.styled_modal {
	min-height: 80vh !important;
}
