.container {
	width: 100%;

	:global {
		.ui_select_display_container {
			width: 100%;
		}

		.ui_select_options_relative_container {
			display: none;
		}

		.ui_select_container {
			width: 100%;
		}
	}
}

.select_options_container {
	position: relative;
	display: none;
	width: 100%;
}

.select_options_container_open {
	display: block;
}

.custom_header {
	position: absolute;
	top: 4px;
	right: -1px;
	left: -1px;
	z-index: 9999;
	display: block;
	max-height: 250px;
	padding: 8px 12px;
	margin: 0;
	overflow: scroll;
	background-color: var(--color-secondary-5);
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);

	&::-webkit-scrollbar {
		display: none;
	}
}

.options_container {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.option_item {
	display: flex;
	align-items: center;
	padding: 8px;
	overflow: hidden;
	white-space: break-all;
	cursor: pointer;
	border-bottom: 1px solid #dedede;

	&:hover {
		background-color: #dedede;
		border-color: #2c3e50;
	}

	&:last-of-type {
		border-bottom: none;
	}
}
