.main_container{
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: max-content;
}
.container{
    display: flex;
    font-size: 12px;
	cursor: pointer;
	width: 100%;
}
.hr{
    height: 1px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #EDD7A9;
  

}