.invoice_details_container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overscroll-behavior: contain;
	cursor: auto;
	background-color: #303b67;
	opacity: 0.4;
}

.invoice_container {
	position: fixed;
	top: 30px;
	right: 0;
	bottom: 20px;
	z-index: 1000;
	overflow-y: auto;
	background-color: none;
}

.content_caret {
	display: flex;
	height: 60px;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 65px;
	color: #fff;
	cursor: pointer;
	background: #ee3425;
	border-radius: 0 8px 8px 0;
	transform: rotate(180deg);
}

.header_details {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 20px 15px 44px 40px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
	background: #fff;
	border-bottom: 1px solid #ed3726;
}

.body_details {
	display: flex;
	flex-direction: column;
	height: 600px;

	/* width: calc(100% - 30px) !important; */

	/* height: calc(100% - 65px) !important; */
	margin-left: 29px;
	overflow-y: scroll;
	background: #fff;
	border-radius: 0 !important;
}

.body_details_card01 {
	margin: 24px;
}

.information {
	margin: 38px 24px -4px;
	color: #000;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.data_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
}

.hr {
	border-top: 1px solid #333;
}

.information_data {
	display: flex;
	flex-direction: column;
	max-height: 300px;
	padding: 14px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;

	::-webkit-scrollbar {
		display: none;
	}
}
