.back_div {
  display: flex;
}

.back {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.heading_text {
    font-size: 24px;
    font-weight: 600;
  }
  
  .input_label {
    padding: 16px 0;
    font-weight: 600;
  }
  
  .form_container {
    width: 75%;
  }
  
  .input_container {
    display: flex;
    flex-direction: column;
  }
  
  .button_container {
    display: flex;
    margin-top: 16px;
  }
  
  .errors {
    font-size: 12px;
    color: var(--color-primary-error-red-1);
  }