.container {
	flex-basis: 49%;
	padding: 16px 20px;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	border-radius: 8px;
	box-shadow: 0 0 4px rgb(0 0 0 / 5%);

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}

.heading_container {
	display: flex;
	align-items: center;
}

.heading {
	margin: 0;
	text-decoration: underline;
}

.operator {
	margin: 0 4px 0 0;
}

.label {
	margin-right: 4px;
	color: #828282;
}

.key_value_container {
	display: flex;
	align-items: center;
	margin: 8px 0;
}

.value_container {
	display: flex;
	align-items: center;
}
