.card_item {
	display: flex;
	flex-basis: 24%;
	height: 140px;
	padding: 16px 24px 4px;
	margin: 4px;
	margin-right: 8px;
	background: #fff;
	border-radius: 8px;

	@media (max-width: 768px) {
		flex-basis: 48%;
	}
	@media (max-width: 576px) {
		flex-basis: 100%;
		margin-right: 0;
	}
}

.card_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_content {
	display: flex;
	align-items: center;
}

.kam_level {
	font-size: 16px;
	font-weight: 700;
}
