.alert_box {
	display: flex;
	width: 100%;
	padding: 16px;
	margin-bottom: 16px;
	background: var(--color-primary-yellow-5);
	border-radius: 4px;
	box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.button_text {
	margin-left: 8px;
	font-size: var(--font-size-xl);
	font-weight: 500;
	color: var(--color-primary-error-red-3);
	text-transform: capitalize;
}

.box {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.icon {
	width: 2%;
	margin: 6px 15px 0 12px;
}

.text_box {
	display: flex;
	flex-direction: column;
	width: 88%;
}

.text {
	display: flex;
	font-size: var(--font-size-md);
	font-weight: 500;
	color: var(--color-primary-error-red-3);
}

.small {
	display: flex;
	width: 100%;
}

.company {
	max-width: 152px;
	margin-left: 3px;
	overflow: hidden;
	font-size: var(--font-size-md);
	font-weight: 700;
	color: var(--color-primary-error-red-3);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.button_box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 12%;
}

.snooze {
	width: 40px;
	padding: 8px;
	background: var(--color-primary-error-red-3);
	border: none;
	border-radius: 4px;
}

.close {
	padding: 8px;
	background: var(--color-secondary-5);
	border: 1px solid var(--color-primary-error-red-3);
	border-radius: 4px;
}

.bold {
	margin: 0 3px;
	font-weight: bold;
}

.details {
	width: fit-content;
	font-size: var(--font-size-md);
	font-weight: 500;
	color: var(--color-primary-error-red-3);
	text-decoration: underline;
	cursor: pointer;
}

.details:hover {
	background-color: var(--color-primary-yellow-3);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.resolve_text {
	margin: 0;
	color: var(--color-primary-error-red-3);
}

.styled_modal {
	min-height: 80vh !important;
}
