.port{
	display: flex;
	align-items: center;

}
.card {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 16px;
	margin: 8px;
	background-color: #ffff;
	position: relative;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.heading {
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: space-evenly;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #000;
	
	
}

.trade {
	padding: 4px 11px;
	background: #cfeaed;
	border-radius: 4px;
}

.details {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
}

.body {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	margin-top: 2px;
}

.port_pair {
	display: flex;
	gap: 20px;
}

.extra {
	margin-right: 10px;
	margin-left: 10px;
	border-right: 2px;
	border-radius: 4px;
}

.sub_container {
	display: flex;
	gap: 32px;
	align-items: center;
}

.pair {
	display: flex;
	align-items: center;
}

.value {
	font-size: 14px;
	font-weight: 600;
	padding-left: 4px;
}

.requested_details {
	display: flex;
	padding: 2px 4px;
	font-size: 12px;
	background: #fef3e9;
	border-radius: 4px;
}

.proof_sheet {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.proofs { display: flex; }

.bidding_contract {
	padding: 2px 4px;
	font-size: 12px;
	font-weight: 500;
	background: #acdadf;
	border-radius: 4px;
}

.requester_name {
	margin-left: 4px;
	font-weight: 600;
}

.business_name {
	display: flex;
	align-items: center;
	margin: 2px 0;
	font-weight: 500;
}

.org_name {
	margin-left: 4px;
	font-weight: 600;
	margin-right: 4px;
}

.content {
	display: flex;
	gap: 4px;
	align-items: center;
}

.name {
	font-weight: 400;
}

.service_details {
	display: flex;
	gap: 12px;
}

.detailsData{
	display: flex;
	flex-direction: column;

}

.timer{
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #cb6464;
	display: flex;
	white-space: nowrap;
	align-items: center;

}

.source{
	position: absolute;
	top:0;
	left:0;
    padding:4px 8px  4px 8px;
    background-color: #acdade;
    border-radius: 0 0 8px 0 ;
    font-size: 10;
}
