.main_container {
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;

	:global {
		table {
			padding: 0;
			margin-top: 16px;
			background-color: #f8f2e7;
		}

		.ui_table_body_cell {
			background-color: #fff;
		}

		.ui_table_head_cell {
			height: 36px;
			font-weight: 700;
			color: #4f4f4f;
			background-color: #f8f2e7;
		}
	}
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8px;
}

.upper_heading {
	font-weight: 600;
	color: #221f20;
}

.lower_heading {
	width: 100%;
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.status_bg {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #6fa5ab;
	background-color: #f3fafa;
	border-radius: 6px;
}

.status_due_bg {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #d6b300;
	background-color: #fdfbf6;
	border-radius: 6px;
}

.search_bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 16px;

	:global {
		.ui_select_container {
			margin-left: 6px;
		}

		.ui_select_display_container {
			height: 36px !important;
		}
	}
}

.sb_left {
	display: flex;
	justify-content: space-between;
}

.arrow_back {
	display: flex;
	align-items: center;
	margin-right: 8px;
	cursor: pointer;
}

.pagination {
	align-self: flex-end;
}
