.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.upper_heading {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.lower_heading {
	font-size: 12px;
	font-weight: 400;
	color: #4f4f4f;
}

.main_container {
	height: 100vh;
	padding: 24px;
	background: #fff;
	border-radius: 25px 25px 0 0;
}

.arrow_back {
	display: flex;
	align-items: center;
	margin-right: 8px;
	cursor: pointer;
}

.card_container {
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin-top: 16px;
}

.card {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding: 16px 12px;
	background: #fff;
	border-radius: 16px;
}

.left_card {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: flex-start;
	width: 40%;
}

.left_card .heading .upper_heading,
.left_card .heading .lower_heading {
	margin-bottom: 12px;
}

.right_card {
	display: flex;
	flex-shrink: 0;
	align-items: flex-start;
	width: 500px;
}

.right_subcard {
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	margin-right: 16px;
}

.submit {
	display: flex;
	flex: 1 0 0;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.smt_btn {
	margin-left: 12px;
}
