.error {
	font-weight: 500;
	color: #cb6464;
}

.form {
	padding: 10px;
	overflow: scroll;
}

.form::-webkit-scrollbar {
	display: none;
}

.content {
	display: flex;
	align-items: center;
}

.list {
	flex: 1;
	padding-right: 8px;
	padding-bottom: 8px;
}