.header {
	font-size: 24px;
	font-weight: 600;
	color: #221f20;
}

.sub_header {
	font-weight: 500;
	color: #4f4f4f;
}

.select_button {
	display: flex;
	align-items: center;

	@media (max-width: 768px) {
		flex-wrap: wrap;
		width: 100%;
	}
}

.main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.select_wrapper {
	padding-right: 20px;

	:global {
		.ui_select_container {
			width: 200px;
		}
	}

	@media (max-width: 768px) {
		width: 100%;
		padding-right: 0;
		margin: 12px 0;

		:global {
			.ui_select_container {
				width: 100%;
			}
		}
	}
}

@media (max-width: 768px) {
	.donwload_btn {
		width: 100%;
	}
}
