

.Container{
	.upload-area {
		height: 70px !important;
	}
	.core-ui-select-root {
		.core-ui-select__control {
			height: 45px;
			border-color: #cbcff5;
			&:hover {
				border: 1.5px solid #5936f0;
			}
		}
	}
};

.ButtonWrap{
	margin: 20px 0px;
	display: flex;
	justify-content: flex-end;

	.core-ui-button-root {
		margin-left: 10px;
		text-transform: capitalize;
		width: 100px;
	}
};

.LoadingContainer{
	display: flex;
	justify-content: center;
	align-items: center;
};
