.container {
    margin-top: 32px;
    width: 100%;
}

.question {
    white-space: initial;
}

.topics {
	margin-right: 4;
	display: flex;
	flex-wrap: wrap;
}

.tags {
	margin-right: 4;
	display: flex;
	flex-wrap: wrap;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0;
}

.pagination_container{
    display: flex;
    justify-content: flex-end;
}

.delete_button{
    margin-right:8px;
}