.search {
	width: 40%;
}

.search_switch_toggle_space {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.empty_state {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 16px;
	text-align: center;
}

.header_filters {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.select_styles {
	width: 40%;
	margin-left: 30px;
}

.back_icon {
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.toogle_section {
	display: flex;
	align-items: center;
}
