.modal_styles {
	width: 320px !important;
	height: 500px !important;

	:global {
		.ui_modal_body_container {
			height: 100%;
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 16px;
}

.minus_div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 15px;
	background-color: #f2e3c3;
	border-radius: 50%;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	background: radial-gradient(43.3% 44.93% at 92.78% 92.42%, #f2f3fa 0%, #ced1ed 50.52%, #f2f3fa 100%);
	border: 0.5px solid #abb0de;
	border-radius: 10px;
}

.user_name {
	margin-top: 8px;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.number {
	margin-top: 4px;
	font-size: 14px;

	>span {
		margin-left: 5px;
	}
}

.timer {
	margin-top: 8px;
	color: #000;
}

.header_flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: var(--height);
	background: radial-gradient(50% 67.94% at 50% 50%, rgb(242 243 250 / 50%) 8.17%, rgb(206 209 237 / 50%) 100%);
	border-radius: 10px;
	transition: height 0.3s ease;
}

.end_call {
	display: flex;
	flex-basis: 10%;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.connecting {
	padding: 32px 0 0;
	font-size: 16px;
	color: #000;
}

/* ss */

.status_div {
	display: flex;
	align-items: center;
	margin-top: 8px;
	font-size: 14px;
}

.disable {
	cursor: "not-allowed";
}

.conference_call {
	position: absolute;
	top: 40%;
	right: 0;
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
	fill: #4f4f4f;
}

.error_text {
	min-height: 17px;
	font-size: 11px;
	font-weight: 600;
	color: #d22b2b;
}

.conference_call_setting {
	padding: 0 20px;
}

.label_text {
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: 600px;
	color: #333;
}

.agent_selecter {
	padding-bottom: 10px;
}

.button_div {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
