.container {
	padding: 16px 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.sub_title {
	margin-top: 2px;
	font-size: 12px;
	color: #4f4f4f;
}

.performance_company {
	display: flex;
	align-items: center;
}

.claps_flex {
	display: flex;
	align-items: center;
	color: #4f4f4f;
}

.claps {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin-right: 8px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 100px;
}

.performance_flex {
	display: flex;
	align-items: center;
}

.mr_12 {
	margin-right: 12px;
}

.employee_flex {
	display: flex;
	align-items: center;
	margin: 12px 0;
}

.employee_data {
	width: 350px;
	height: 170px;

	/* flex: 1 0 45%; */
	padding-right: 6px;
}

.employee_abs {
	position: relative;
	height: 100%;
	padding: 14px 14px 18px 20px;
	color: #221f20;
	background-color: #f1f2f8;
	border-radius: 16px;
}

.employee_abs_title {
	font-size: 16px;
}

.employee_tot_count {
	font-size: 32px;
	font-weight: 600;
}

.present_count {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #4f4f4f;
}

.view_abs_flex {
	display: flex;
	align-items: center;
	margin-top: 38px;
	font-size: 12px;
	font-weight: 600;
	text-transform: capitalize;
}

.employee_abs_img {
	position: absolute;
	top: 27px;
	right: -10px;
}

.department_data {
	flex: 1 0 45%;
	padding-left: 6px;
}

.leaderboard_data {
	display: flex;
	margin-top: 12px;
}

.leaderboard {
	flex: 1 0 50%;
	padding-right: 6px;
}

.working_hrs {
	flex: 1 0 50%;
	padding-left: 6px;
}

.company_feed {
	padding: 16px 12px;
	margin-top: 12px;
	background: #f9f9f9;
	border-radius: 16px;
}

.company_feed_title {
	font-weight: 600;
	color: #221f20;
	text-transform: uppercase;
}

.bottom_bar_data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 16px;
}
