.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 25px;
	}
}

.main_container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.back_container{
    display: flex;
    align-items: center;
}

.back_text{
    font-size: 16px;
    cursor: pointer;
}

.icon_container{
    display: flex;
    margin-right: 8px;
    align-items: center;
}

.heading_container {
	position: relative;
	display: inline-block;
	width: fit-content;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 600;
	color: #221f20;

	@media (min-width: 768px) {
		font-size: 20px;
        margin-top: 12px;
	}
}

.tab_list {
	margin: 16px 0;

	@media (max-width: 768px) {
		overflow-x: scroll;
	}
}