.button_container {
	display: flex;
	justify-content: center;
}

.text {
	justify-content: center;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 14px;
}

.name {
	font-size: 14px;
	font-weight: bold;
	color: #e15151;
}

.modal_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
