.container{
    background-color: #fff;
    margin-top: 20px;
    padding: 16px 24px;
    border-radius: 4px;
}
.heading{
    font-weight: 600;
    font-size: 20px;
    color: #4F4F4F;
}

.select_outer_container{
    display: flex;
    margin-top: 16px;
}

.select_container{
   width:210px;
   margin-right: 16px;
}
