.container {
	display: flex;
	flex-direction: column;
	width: 55%;
	padding: 16px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 8px rgb(98 127 172 / 20%);
}

.company_name {
	font-size: 14px;
	font-weight: 500;
	color: #4f4f4f;
}

.rfqid_and_agent {
	display: flex;
	gap: 20px;
	padding-top: 10px;
}

.rfq_id {
	display: flex;
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}

.sales_agent_section {
	display: flex;
	align-items: center;
}

.sales_agent {
	display: flex;
	padding-left: 4px;
}

.data_value {
	padding-left: 4px;
}

.sales_agent_name {
	font-size: 14px;
	color: #828282;
}

.pairs_enterprise_shipment_section {
	display: flex;
	gap: 10px;
	padding-top: 10px;
}

.port_pairs_section {
	display: flex;
	padding: 3px;
	background-color: #f9f9f9;
	border-radius: 6px;
}

.tag_prefix_name {
	color: #828282;
}

.tag_suffix_name {
	padding-left: 5px;
	font-size: 14px;
	color: #221f20;
}

.enterprise_tag {
	padding: 3px;
	color: #828282;
	background-color: #f9f9f9;
	border-radius: 6px;
}

.last_shipment_section {
	display: flex;
	padding: 3px;
	background-color: #f9f9f9;
	border-radius: 6px;
}
