.container {
	margin-bottom: 16px;

	:global {
		.ui_accordion_content {
			background-color: #fff;
		}
	}
}

.line {
	border: 1px solid #333;
}

.proforma_tagcards_container {
	display: flex;
	align-items: center;
	min-width: 210px;
	padding: 10px;
	border: 1px solid #88cad1;
	border-radius: 8px;
}

.merge {
	transform: scaleX(-1);
}

.tagged {
	transform: none;
}

.details_wrapper {
	padding-left: 14px;
}

.flexdiv {
	display: flex;
}

.proforma {
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
}

.updated_at {
	padding-top: 2px;
	font-size: 10px;
	font-weight: 400;
}

.childs {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	padding: 16px;
	margin-top: 10px;
	overflow-x: scroll;
	border: 1px solid #88cad1;
	border-radius: 8px;
}

.bordernone {
	border: none;
}

.button_container {
	display: flex;
	justify-content: flex-end;
	margin: 16px 10px 6px;
}
