.container {
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}

.question_heading {
	display: flex;
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: 600;
	color: #221f20;
}

.answer_item {
	margin-bottom: 20px;
	margin-left: 8px;
}

.answer_header {
	display: flex;
	align-items: center;
	width: 50%;
	margin-left: 32px;
}

.question_number {
	margin-right: 12px;
}

.answers_container {
	display: flex;
	flex-direction: column;
}

.percentage_bar {
	height: 8px;
	margin-right: 12px;
	background: #f68b21;
	border-radius: 8px;
	transition: width 0.2s ease-in;
}

.peer_percentage {
	font-size: 12px;
	font-weight: 600;
	color: #4f4f4f;
}

.answer_text_container {
	position: relative;
	display: flex;
	align-items: center;
}

.avatar {
	position: absolute;
	left: -16px;

	:global {
		.ui_avatar_text {
			color: #221f20;
			background-color: #f9f9f9;
		}
	}
}

.answer_text {
	margin-left: 30px;
	font-size: 14px;
	font-weight: 400;
	color: #221f20;
}

.answer_tick {
	margin-left: 8px;
	font-size: 24px;
	color: #849e4c;
}

.correct_answer {
	font-weight: 600;
	color: #849e4c;
}

.case_study {
	font-size: 12px;
	font-weight: 400;
	color: #221f20;
	text-decoration-line: underline;
}
