.module_text{
    font-weight: 400;
	font-size: 11px;
	color: #221f20;
	margin: 16px 0 8px 0;
	opacity: 0.6; 
    /* font-weight: 400;
	font-size: 11px;
	color: #221f20;
	margin-bottom: 4px;
	opacity: 0.6;
	margin-top: 10px; */
}

.title{
    display: flex;
	align-items: center;
	margin: 8px 0 12px 4px;
	cursor: pointer;
	width: fit-content;
}

.question{
    font-weight: 500;
	font-size: 17px;
	color: #221f20;
	width: 100%;
}

.list{
    min-height: 57vh;
	box-sizing: border-box;
	margin:0 24px;
}

.go_back{
    font-size: 12px;
	margin-left: 4px; 
}

.ansofques{
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	opacity: 0.6;
	margin-top: 8px;
	line-height: 180%;
}

.dislikebox{
    width: 100%;
}

.information_helpful{
    margin: 10px 0 0 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.help_text{
    font-weight: 400;
	font-size: 14px;
	opacity: 0.5;
	display: flex;
	cursor: pointer;
	align-items: center;
}

.open_faq{
    font-weight: 400;
	font-size: 14px;
	opacity: 0.5;
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	&:hover {
		font-weight: 500;
		opacity: 0.7;
		color: red;
		text-decoration: underline;
	}
}

.no_of_people_like_it{
    font-weight: 400;
	font-size: 11px;
	color: #221f20;
	margin: 8px 0 8px 0;
	opacity: 0.6;
}
.space{
    border-bottom: 1px solid #000;
	margin: 24px 0 24px 0;
	opacity: 0.1;
}

.emoji_like{
    all: unset;
	font-size: 3rem;
	cursor: pointer;
	transform: scale(0.8);
	transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1) translatey(1px);
		text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
	}
}

.emoji_dislike{
    all: unset;
	font-size: 3rem;
	cursor: pointer;
	transform: scale(0.8);
	transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1) translatey(1px);
		text-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
	}
}

.show_buttons{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}