.container {
	max-height: 30vh;
	padding: 20px 16px;
	margin: 12px;
	overflow-y: auto;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

@media (max-width: 780px) {
	.ui_table_root {
		overflow: auto !important;
	}
}

.loaderContainer {
	display: flex;
	justify-content: center;
}
