.container {
	position: relative;
}

.bl_overview_card {
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	color: #393f70;
	font-weight: 600;
	font-size: 16px;
	height: auto;
	padding-left: 15px;
}

.button_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	& > button{
		margin-right: 8px;
	}
}

.container {
	display: flex;
	flex-direction: row;
	background: #f6f5fe;
}

.bl_count_container {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #393f70;
	display: flex;
	align-items: center;
	width: 100%;
	white-space: nowrap;
	
	.bl-count {
		color: #828282;
		font-weight: 400;
		margin: 0px 8px;
		@media (max-width: 768px) {
			font-size: 10px;
		}
	}

	@media (max-width: 768px) {
		font-size: 11px;
	}
}

.manage_services_div {
	padding: 28px 32px 8px 32px;

	.manage-service-root {
		box-shadow: none;
	}
}

.service_card {
	margin-bottom: 16px;
	border: 1px solid #ded7fc;
	border-radius: 4px;

	:global {
		.ui_accordion_title {
			width: 96% !important;
		}
	}
}

.button_div {
	position: absolute;
	top: 5px;
    left: 410px;
}
