.table {
    width: 100%;
}

.th {
    background-color: rgb(247 250 208);

    /* border: 1px solid black; */
}

.td {
    text-align: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

.button {
    display: flex;
}
