.container {
	margin: 20px 0;
	background-color: #f3fafa;

	&:hover {
		box-shadow: 0 0 8px #b7dbff !important;
	}

	:global {
		.ui_accordion_title {
			font-size: 18px;
			font-weight: 600;
		}

		.ui_accordion_header {
			padding: 20px 24px;
		}

		.ui_accordion_content {
			padding: 12px !important;
            padding-top: 0px !important;
		}

		.ui_accordion_icon {
			svg {
				width: 18px;
				height: 18px;
			}
		}
	}
}
