.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 25px;
	}
}

.main_container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.back_container {
	display: flex;
	align-items: center;
}

.back_text {
	font-size: 16px;
	cursor: pointer;
}

.icon_container {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.heading_container {
	margin-bottom: 24px;
	font-size: 28px;
	font-weight: 600;
	line-height: 42px;

	@media (min-width: 768px) {
		margin-top: 12px;
		font-size: 20px;
	}
}

.tab_list {
	margin: 16px 0;

	@media (max-width: 768px) {
		overflow-x: scroll;
	}
}
