.container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 25px;
	}
}

.main_container {
	display: flex;
	flex-direction: column;

	@media (max-width: 576px) {
		padding-top: 50px;
	}
}

.back_container {
	display: flex;
	align-items: center;
}

.back_text {
	margin: 4px 0;
	font-size: 16px;
	cursor: pointer;
}

.icon_container {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.heading_container {
	font-size: 24px;
	font-weight: 600;
}

.tab_list {
	position: relative;
	margin: 16px 0;

	@media (max-width: 768px) {
		overflow-x: scroll;
	}
}

.pub_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 92px;

	@media (max-width: 768px) {
		top: 30px;
	}
}
