.container {
	padding: 12px;
}
.header_text {
	font-weight: 500;
	font-size: 18px;
	text-transform: capitalize;
	color: #393f70;
}

.container {
	background: #ffffff;
}

.card_container {
	background: #ffffff;
	border-radius: 1px;
	padding: 24px 16px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #ded7fc;
	justify-content: space-between;
}

.container_header {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #393f70;
	margin-right: 12px;
}

.custom_tag {
	margin-right: 20px;
	padding-left: 10px;
	&.core-ui-tag-root {
		background-color: #d9eafd;
	}
}


.button_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
	margin-top: 20px;
}

.content {
	padding: 0px 16px 24px 16px;
	.core-ui-select__control {
		width: 100% !important;
	}
}

.label {
	font-weight: 900;
	line-height: 14px;
	letter-spacing: 0.02em;
	margin: 8px 0px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.heading {
	font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: rgb(57, 63, 112);
    margin-right: 12px;
}