.input_field {
	margin-top: 8px;
}

.button_div {
	display: flex;
	gap: 8px;
}

.field_array {
	margin-top: 8px;
}

.error_message {
	margin: 4px 0 0 4px;
	font-size: 10px;
	color: #cb6464;
}

.modal_header {
	display: flex;
	flex-direction: column;
}

.lead_count_div {
	font-size: 12px;
	color: var(--color-secondary-greyscale-1);
}

.info_message {
	font-size: 12px;
	color: var(--color-primary-yellow-1);
}
