.bold {
	margin-bottom: 10px;
	font-weight: 600;
}

.invoice {
	margin-bottom: 8px;
}

.send_button {
	margin-left: 10px;
}

.footer_button {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}

.span {
	margin-left: 3px;
}
