.tittle {
	font-size: 14px;
	font-weight: 500;
}

.amount {
	display: flex;
	align-items: center;
	padding-left: 16px;
	margin-left: 6px;
	font-size: 14px;
	font-weight: 700;
}

.container {
	width: 100%;

	/* .styled-row {
		padding: 5px;
		background: #f9f9f9;
	} */
}

.wrapper {
	height: 210px;
	padding: 0 12px;
	overflow-y: auto;
	background: #fff;
}

/* .styledCol = styled(Col)`
	padding: 4px;
`; */

/* export const StyledRow = styled(Row)`
	padding: 5px;
	:nth-child(even) {
		background: #f9f9f9;
	}
	:nth-child(odd) {
		background: #fff;
	}
`; */

.flex {
	padding: 9px 12px 0;

	.show-cursor {
		width: fit-content;
		cursor: pointer;
	}
}

.heading {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
}

/* .arrow_icon = styled(IcMArrowRotateUp)`
	margin-right: 4px;
	transform: ${({ isSortable }) => (isSortable ? 'rotate(180deg)' : 'rotate(0)')};
`; */
